@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

.bit-bro {
    &.bit-bro-disabled-fluent {
        .overflow-btn, .item, .current-option, i {
            color: $Grey60;
            cursor: default;
            pointer-events: none;
            font-weight: 400;
        }
    }

    .overflow-btn {
        cursor: pointer;
        line-height: rem(36px);
        color: $Grey160;

        .overflow-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px rem(4px);
        }

        &:hover {
            background-color: $Grey20;
        }
    }

    .option {
        font-size: rem(20px);
        font-weight: 400;
        padding: 0 rem(8px);
        cursor: pointer;
        line-height: rem(36px);
        color: $Grey130;

        &:hover {
            background-color: $Grey20;
        }
    }

    .current-option {
        font-weight: 600;
        color: $Grey160;
    }
}