@inherits AppComponentBase;

<footer class="footer">
    <div class="footer-content">
        <div class="footer-txt-group">
            <div class="footer-copyright">Made with <span class="text--red">♥</span> using bit platform!</div>
            <div class="footer-email">info@bitplatform.dev</div>
        </div>
        <div class="footer-social-lnk-grp">
            <BitLink Href="https://www.linkedin.com/company/bit-foundation" Target="_blank"><div class="social-lnk linkedin-lnk"></div></BitLink>
            <BitLink Href="https://github.com/bitfoundation/bitplatform" Target="_blank"><div class="social-lnk github-lnk"></div></BitLink>
            <BitLink Href="https://www.youtube.com/channel/UCtk33NQ91f3GOJG0HAdkdog" Target="_blank"><div class="social-lnk youtube-lnk"></div></BitLink>
            <BitLink Href="https://twitter.com/bitplatformhq" Target="_blank"><div class="social-lnk twitter-lnk"></div></BitLink>
        </div>
        <div class="footer-copyright">Made with <span class="text--red">♥</span> using bit platform!</div>
    </div>
</footer>