@inherits AppComponentBase;

<footer class="footer">
    <div class="footer-content">
        <div class="footer-txt-group">
            @if (SelectedCulture is not null)
            {
                <BitDropDown Items="GetCultures()" Class="culture-drp" @bind-Value="SelectedCulture" OnSelectItem="WrapHandled(OnCultureChanged)" />
            }
        </div>
        <div class="footer-social-lnk-grp">
            <BitLink Href="https://www.linkedin.com/company/bit-foundation" Target="_blank"><div class="social-lnk linkedin-lnk"></div></BitLink>
            <BitLink Href="https://github.com/bitfoundation/bitplatform" Target="_blank"><div class="social-lnk github-lnk"></div></BitLink>
            <BitLink Href="https://www.youtube.com/channel/UCtk33NQ91f3GOJG0HAdkdog" Target="_blank"><div class="social-lnk youtube-lnk"></div></BitLink>
            <BitLink Href="https://twitter.com/bitplatformhq" Target="_blank"><div class="social-lnk twitter-lnk"></div></BitLink>
        </div>
        <div class="footer-copyright">@Localizer[nameof(AppStrings.MadeWith)] <span class="text--red">♥</span> @Localizer[nameof(AppStrings.UsingBitPlatform)]</div>
    </div>
</footer>