@inherits AppComponentBase;

<header class="main-header">
    <div class="header-main-container">
        <div class="header-content-container">
            @if (CurrentUrl != "/")
            {
                <BitIconButton Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@WrapHandled(ToggleMenu) AriaLabel="Header menu button" />
            }
            <a class="header-logo" href="/" aria-label="Homepage"></a>
            <a class="header-link @(CurrentUrl == "/" ? "header-link--active" : "")" href="/">Home</a>
            <a class="header-link @(CurrentUrl == "/overview" ? "header-link--active" : "")" href="/overview">Docs</a>
            <a class="header-link @(CurrentUrl == "/icons" ? "header-link--active" : "")" href="/icons">Iconography</a>
        </div>
        <a class="github-btn" target="_blank" aria-label="Github repository" href="https://github.com/bitfoundation/bitplatform"></a>
    </div>
</header>