@inherits AppComponentBase;

@if (IsMenuOpen)
{
    <div class="menu-shadow" @onclick=CloseMenu></div>
}

<section class="nav-menu @(IsMenuOpen ? null : "nav-menu--closed")">
    <div class="menu-content">
        <div class="menu-top-row"></div>
        <BitNav Class="bit-nav-menu"
                NavLinkItems="NavLinks"
                AriaLabel="NavMenu"
                SelectedKey="Home"
                OnLinkClick=CloseMenu>
        </BitNav>
    </div>
    <a class="menu-banner" href="https://todo.bitplatform.dev" target="_blank"></a>
</section>