@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';

.main-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: rem(560px);
    padding: rem(16px) rem(24px);
    box-sizing: border-box;
    background-color: $White;

    @include sm {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: rem(8px) rem(8px) 0 0;
    }
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: rem(20px);
}

.title {
    font-weight: 600;
    font-size: rem(20px);
    line-height: rem(28px);
    color: $Gray190;
}

.body {
    width: 100%;
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);
    color: $Gray130;
    margin-bottom: rem(16px);
}

.btn-group {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

::deep .bit-mdl-container {
    min-height: unset;
}