@inherits AppComponentBase;

<BitModal @bind-IsOpen="IsOpen">
    <div class="main-container">
        <div class="header">
            <span class="title">Sign out</span>
            <BitIconButton OnClick="CloseModal" IconName="BitIconName.ChromeClose" Title="Close" />
        </div>
        <div class="body">Are you sure you want to Sign out?</div>
        <div class="btn-group">
            <BitButton ButtonStyle="BitButtonStyle.Primary" Style="margin-right: 0.5rem" OnClick="SignOut">Sign out</BitButton>
            <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="CloseModal">Cancel</BitButton>
        </div>
    </div>
</BitModal>