/*---------------defualt sizes----------------*/
@font-face {
  font-family: "OpenSans";
  src: local("Open Sans Bold"), url("../../fonts/OpenSans/woff2/OpenSansBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("Open Sans Semi Bold"), url("../../fonts/OpenSans/woff2/OpenSansSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("Open Sans Regular"), url("../../fonts/OpenSans/woff2/OpenSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
* {
  font-family: "OpenSans";
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  margin-top: 5rem;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  ::-webkit-scrollbar-track {
    margin-top: 4.5rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  ::-webkit-scrollbar-track {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 48em) {
  ::-webkit-scrollbar-track {
    margin-top: 2.5rem;
  }
}

::-webkit-scrollbar-thumb {
  background: #DDDDDD;
  border-radius: 0.5rem;
  border: 0.3125rem solid #DDDDDD;
}

::-webkit-scrollbar-thumb:hover {
  background: #0055CC;
  border-radius: 0.5rem;
  border: 0.3125rem solid #0055CC;
}

::-webkit-scrollbar:horizontal {
  height: 0.1875rem;
}

h1 {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 4.875rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  h1 {
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 48em) {
  h1 {
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 48em) {
  h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 3rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 48em) {
  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  h4 {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 48em) {
  h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
  }
}

h5 {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 2rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media screen and (min-width: 90.0625em) and (max-width: 102em) {
  h5 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 90em) {
  h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 48em) {
  h5 {
    font-size: 1rem;
  }
}

/* --------------- header ------------- */
.header-menu-btn {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  display: none;
}
.header-menu-btn .bit-icon {
  font-size: 0.75rem;
  color: #FFFFFF;
}
.header-menu-btn:hover {
  background-color: none;
}
@media screen and (max-width: 48em) {
  .header-menu-btn {
    display: inline-block;
  }
}

.customer-feedback-carousel {
  width: 100%;
  margin: 2rem auto;
}
@media screen and (max-width: 90em) {
  .customer-feedback-carousel {
    margin: 1rem auto;
  }
}
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn,
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn {
  top: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0;
  background-image: url("/images/home/carousel-arrow-icon.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.6875rem;
}
@media screen and (max-width: 48em) {
  .customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn,
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn {
    width: 1.5625rem;
    height: 1.5625rem;
    background-size: 1.25rem;
  }
}
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn:hover,
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn:hover {
  margin: 0;
  margin-top: -1.375rem;
}
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn i,
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn i {
  display: none;
}
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn {
  right: -3.125rem;
}
@media screen and (max-width: 48em) {
  .customer-feedback-carousel .bit-crsl-buttons .bit-crsl-next-btn {
    right: -1.875rem;
  }
}
.customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn {
  left: -3.125rem;
  transform: rotate(180deg);
}
@media screen and (max-width: 48em) {
  .customer-feedback-carousel .bit-crsl-buttons .bit-crsl-previuse-btn {
    left: -1.875rem;
  }
}

.customer-feedback-item {
  width: 100%;
}
