// Theme
$Primary: #0078D4;
$DarkAlt: #106EBE;
$Dark: #005A9E;

// Neutral colors
$White: #FFF;
$Grey20: #F3F2F1;
$Grey90: #A19F9D;
$Grey120: #797775 ;
$Grey160: #323130;

// Shared
$Red20: #A4262C;

// Theme Slots
$ThemeDarker: #004578;