.buttons-container-grid {
    display: grid;
    gap: 0.5rem;
}

::deep {
    .custom-icon-button {
        height: 3rem;
        width: 3rem;
        border-radius: 0.375rem;
        background-color: #D7D7D7;
        border-color: #D7D7D7;

        &:hover {
            background-color: #E9E9E9;
            border-color: #E9E9E9;
        }
    }

    .custom-btn-sm {
        &.small {
            padding: 4px 8px;
            font-size: 8px;
            line-height: 1.5;
            border-radius: 3px;
        }
    }

    .custom-btn-md {
        &.medium {
            padding: 12px 24px;
            font-size: 16px;
            line-height: 1.4;
            border-radius: 4px;
        }
    }

    .custom-btn-lg {
        &.large {
            padding: 20px 32px;
            font-size: 32px;
            line-height: 1.33;
            border-radius: 6px;
        }
    }
}