.example-box {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    width: fit-content;
    align-items: center;

    &.column {
        flex-direction: column;
    }
}

::deep {
    .custom-btn-sm {
        &.small {
            padding: 4px 8px;
            font-size: 8px;
            line-height: 1.5;
            border-radius: 3px;
        }
    }

    .custom-btn-md {
        &.medium {
            padding: 12px 24px;
            font-size: 16px;
            line-height: 1.4;
            border-radius: 4px;
        }
    }

    .custom-btn-lg {
        &.large {
            padding: 20px 32px;
            font-size: 32px;
            line-height: 1.33;
            border-radius: 6px;
        }
    }
}
