@inherits LayoutComponentBase

<Header />

<div class="main-container @(CurrentUrl != "/" ? "main-container-pad" : "")">
    @if(CurrentUrl != "/")
    {
        <SideNav />
    }
    <div class="page-content">
        @Body
        <footer class="footer">
            <div class="contact-link-container">
                <a class="footer-link twitter-link" href="#"></a>
                <a class="footer-link github-link" target="_blank" href="https://github.com/bitfoundation/bitframework"></a>
                <a class="footer-link facebook-link" href="#"></a>
                <a class="footer-link linkedin-link" target="_blank" href="https://www.linkedin.com/company/bit-foundation/about/"></a>
            </div>
            <div class="footer-gray-bar">© 2021 Bit team. All rights reserved.</div>
        </footer>
    </div>
</div>