@import "../../../Styles/functions.scss";

.bit-bdg {
    position: relative;
    display: inline-block;

    &.bit-dis {
        .bit-bdg-ctn {
            cursor: default;
            pointer-events: none;
            color: $clr-fg-dis;
        }
    }
}

.bit-bdg-wrp {
    top: 0;
    left: 0;
    flex: 0 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    pointer-events: none;

    &.bit-bdg-tlf {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.bit-bdg-tcr {
        align-items: flex-start;
        justify-content: center;
    }

    &.bit-bdg-trg {
        align-items: flex-start;
        justify-content: flex-end;
    }

    &.bit-bdg-clf {
        align-items: center;
    }

    &.bit-bdg-ctr {
        align-items: center;
        justify-content: center
    }

    &.bit-bdg-crg {
        align-items: center;
        justify-content: flex-end;
    }

    &.bit-bdg-blf {
        align-items: flex-end;
        justify-content: flex-start;
    }

    &.bit-bdg-bcr {
        align-items: flex-end;
        justify-content: center;
    }

    &.bit-bdg-brg {
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.bit-bdg-ctn {
    top: auto;
    text-indent: 0;
    line-height: 1;
    font-weight: 600;
    user-select: none;
    letter-spacing: 0;
    gap: spacing(0.5);
    position: absolute;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    height: spacing(2.5);
    display: inline-flex;
    pointer-events: auto;
    box-sizing: border-box;
    min-width: spacing(2.5);
    font-size: spacing(1.5);
    padding: 0 spacing(0.75);
    -webkit-user-select: none;
    border-radius: spacing(1.25);
    border-width: $shape-border-width;
    border-style: $shape-border-style;

    &.bit-bdg-tlf {
        inset: auto calc(100% - spacing(0.5)) calc(100% - spacing(0.5)) auto;

        &.bit-bdg-orp {
            inset: auto calc(100% - spacing(1.5)) calc(100% - spacing(1.5)) auto;
        }
    }

    &.bit-bdg-tcr {
        bottom: calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            bottom: calc(100% - spacing(1.5));
        }
    }

    &.bit-bdg-trg {
        inset: auto auto calc(100% - spacing(0.5)) calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            inset: auto auto calc(100% - spacing(1.5)) calc(100% - spacing(1.5));
        }
    }

    &.bit-bdg-clf {
        right: calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            right: calc(100% - spacing(1.5));
        }
    }

    &.bit-bdg-crg {
        left: calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            left: calc(100% - spacing(1.5));
        }
    }

    &.bit-bdg-blf {
        inset: calc(100% - spacing(0.5)) calc(100% - spacing(0.5)) auto auto;

        &.bit-bdg-orp {
            inset: calc(100% - spacing(1.5)) calc(100% - spacing(1.5)) auto auto;
        }
    }

    &.bit-bdg-bcr {
        top: calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            top: calc(100% - spacing(1.5));
        }
    }

    &.bit-bdg-brg {
        inset: calc(100% - spacing(0.5)) auto auto calc(100% - spacing(0.5));

        &.bit-bdg-orp {
            inset: calc(100% - spacing(1.5)) auto auto calc(100% - spacing(1.5));
        }
    }
}

.bit-bdg-fil {
    color: var(--bit-bdg-pri-clr);
    background-color: var(--bit-bdg-bg-clr);
    border-color: var(--bit-bdg-pri-brd-clr);
    --bit-bdg-bg-clr: #{$clr-pri};
    --bit-bdg-pri-clr: #{$clr-pri-text};
    --bit-bdg-pri-brd-clr: #{$clr-pri};
    --bit-bdg-ldg-brd-top-clr: #{$clr-pri-dark};

    .bit-dis & {
        border-color: $clr-brd-dis;
        background-color: $clr-bg-dis;
    }
}

.bit-bdg-otl {
    color: var(--bit-bdg-sec-clr);
    background-color: $clr-sec;
    border-color: var(--bit-bdg-sec-brd-clr);
    --bit-bdg-sec-clr: #{$clr-sec-text};
    --bit-bdg-sec-brd-clr: #{$clr-sec-text};
    --bit-bdg-ldg-brd-top-clr: #{$clr-pri-dark};

    .bit-dis & {
        border-color: $clr-brd-dis;
    }
}

.bit-bdg-txt {
    border-color: transparent;
    color: var(--bit-bdg-sec-clr);
    background-color: transparent;
    --bit-bdg-sec-clr: #{$clr-sec-text};
    --bit-bdg-ldg-brd-top-clr: #{$clr-pri-dark};
}

.bit-bdg-icn {
    min-width: spacing(2.5);
    min-height: spacing(2.5);
}

.bit-bdg-dot {
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    width: spacing(1.125);
    height: spacing(1.125);
}

.bit-bdg-inf {
    --bit-bdg-bg-clr: #{$clr-inf-bg};
    --bit-bdg-ldg-brd-top-clr: #{$clr-inf};
    --bit-bdg-pri-clr: #{$clr-fg-pri};
    --bit-bdg-pri-brd-clr: #{$clr-inf-bg};
    --bit-bdg-sec-clr: #{$clr-inf};
    --bit-bdg-sec-brd-clr: #{$clr-inf};
}

.bit-bdg-suc {
    --bit-bdg-bg-clr: #{$clr-suc-bg};
    --bit-bdg-ldg-brd-top-clr: #{$clr-suc};
    --bit-bdg-pri-clr: #{$clr-fg-pri};
    --bit-bdg-pri-brd-clr: #{$clr-suc-bg};
    --bit-bdg-sec-clr: #{$clr-suc};
    --bit-bdg-sec-brd-clr: #{$clr-suc};
}

.bit-bdg-wrn {
    --bit-bdg-bg-clr: #{$clr-wrn-bg};
    --bit-bdg-ldg-brd-top-clr: #{$clr-wrn};
    --bit-bdg-pri-clr: #{$clr-fg-pri};
    --bit-bdg-pri-brd-clr: #{$clr-wrn-bg};
    --bit-bdg-sec-clr: #{$clr-wrn};
    --bit-bdg-sec-brd-clr: #{$clr-wrn};
}

.bit-bdg-swr {
    --bit-bdg-bg-clr: #{$clr-swr-bg};
    --bit-bdg-ldg-brd-top-clr: #{$clr-swr};
    --bit-bdg-pri-clr: #{$clr-fg-pri};
    --bit-bdg-pri-brd-clr: #{$clr-swr-bg};
    --bit-bdg-sec-clr: #{$clr-swr};
    --bit-bdg-sec-brd-clr: #{$clr-swr};
}

.bit-bdg-err {
    --bit-bdg-bg-clr: #{$clr-err-bg};
    --bit-bdg-ldg-brd-top-clr: #{$clr-err};
    --bit-bdg-pri-clr: #{$clr-fg-pri};
    --bit-bdg-pri-brd-clr: #{$clr-err-bg};
    --bit-bdg-sec-clr: #{$clr-err};
    --bit-bdg-sec-brd-clr: #{$clr-err};
}

.bit-bdg-sm {
    height: spacing(2);
    min-width: spacing(2);
    padding: 0 spacing(0.5);
    font-size: spacing(1.25);
    border-radius: spacing(1);
}

.bit-bdg-lg {
    height: spacing(3);
    min-width: spacing(3);
    padding: 0 spacing(0.75);
    font-size: spacing(1.75);
    border-radius: spacing(1.5);
}
