@import '../Styles/_shared.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: rem(1044px);
    margin: 0 auto;
    padding: rem(112px) 0;

    @include lg {
        max-width: rem(792px);
    }

    @include md {
        max-width: rem(596px);
        padding: rem(72px) 0;
    }

    @include sm {
        padding: rem(32px) 0 rem(56px);
    }
}

.page-title {
    width: 100%;
    margin: 0;
    margin-bottom: rem(16px);
    font-weight: bold;
    font-size: rem(38px);
    line-height: rem(56px);
    color: $B2Color;
    text-align: left;

    @include lg {
        font-size: rem(32px);
        line-height: rem(48px);
    }

    @include md {
        margin-bottom: rem(8x);
        font-size: rem(24px);
        line-height: rem(40px);
    }

    @include sm {
        margin-bottom: rem(8x);
        font-size: rem(18px);
        line-height: rem(31px);
    }
}

.page-desc {
    width: 100%;
    margin-bottom: rem(40px);
    font-size: rem(20px);
    line-height: rem(32px);
    color: #2E2E2E;

    @include lg {
        margin-bottom: rem(32px);
        font-size: rem(16px);
        line-height: rem(24px);
    }

    @include md {
        margin-bottom: rem(32px);
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(24px);
    }

    @include sm {
        margin-bottom: rem(32x);
        font-weight: 500;
        font-size: rem(12px);
        line-height: rem(24px);
    }
}

.page-section {
    display: flex;
    flex-flow: column nowrap;
    place-content: flex-start;
    width: 100%;
    margin-bottom: rem(40px);
    padding: rem(40px) rem(24px);
    border: rem(1px) solid $B5Color;
    border-radius: rem(10px);
    box-sizing: border-box;
    background-color: $White;

    @include lg {
        margin-bottom: rem(32px);
        padding: rem(32px) rem(24px);
    }

    @include md {
        margin-bottom: rem(24px);
        padding: rem(24px) rem(16px);
    }

    @include sm {
        margin-bottom: rem(24px);
        padding: rem(16px);
    }
}

.section-title {
    margin: 0;
    margin-bottom: rem(26px);
    font-weight: bold;
    font-size: rem(32px);
    line-height: rem(48px);
    color: #2E2E2E;

    @include lg {
        font-size: rem(24px);
        line-height: rem(32px);
    }

    @include md {
        margin-bottom: rem(12px);
        font-size: rem(20px);
        line-height: rem(32px);
    }

    @include sm {
        margin-bottom: rem(15px);
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

.title-number {
    font-weight: bold;
    font-size: rem(50px);
    line-height: rem(80px);
    color: $B2Color;


    @include lg {
        font-size: rem(44px);
        line-height: rem(64px);
    }

    @include lt-lg {
        font-size: rem(32px);
        line-height: rem(48px);
    }
}

.section-desc {
    width: 100%;
    font-size: rem(18px);
    line-height: rem(31px);
    color: $Gray1;

    @include lg {
        font-size: rem(14px);
        line-height: rem(24px);
    }

    @include lt-lg {
        font-weight: 500;
        font-size: rem(12px);
        line-height: rem(20px);
    }
}

.txt--blue {
    color: $B3Color;
}

.code-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: rem(48px);
    margin: rem(16px) 0;
    border-left: rem(4px) solid $B2Color;
    padding: rem(5px) rem(18px);
    box-sizing: border-box;
    font-size: rem(16px);
    line-height: rem(24px);
    color: $B2Color;
    background-color: $B6Color;
    overflow: auto;
    white-space: nowrap;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

    @include lg {
        min-height: rem(40px);
        padding: rem(5px) rem(16px);
        font-size: rem(13px);
    }

    @include md {
        min-height: rem(24px);
        margin: rem(8px) 0;
        border-left: rem(2px) solid $B2Color;
        padding: rem(5px) rem(8px);
        font-size: rem(10px);
        line-height: rem(14px);
    }

    @include sm {
        min-height: rem(40px);
        margin: rem(8px) 0;
        border-left: rem(2px) solid $B2Color;
        padding: rem(5px) rem(4px);
        font-size: rem(12px);
        line-height: rem(16px);
    }
}

.gitpod-section {
    display: flex;

    .gitpod-icon {
        background-image: url('/images/icon/gitpod-icon.webp');
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100%;
        width: rem(40px);
        margin-right: rem(12px);
    }
}