@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.page-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-section-contnet {
    width: 100%;
    max-width: rem(1200px);
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(20px);
    padding-right: rem(20px);
    box-sizing: border-box;

    @include md {
        padding-left: rem(30px);
        padding-right: rem(30px);
    }
}

.hero-section {
    .page-section-contnet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .hero-section-content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 50%;

        @include lt-lg {
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: rem(80px) 0;

            &:last-child {
                display: none;
            }
        }

        .hero-section-components {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            background-color: #F3F6F9;
            min-width: rem(2000px);
            min-height: rem(500px);
            height: calc(100vh - 120px);
            border-bottom-left-radius: rem(10px);
            transition: max-height 0.3s;
            overflow: hidden;
            padding: rem(30px);
            margin-left: rem(20px);
            box-sizing: border-box;

            @include gt-md {
                max-height: rem(700px);
            }
        }

        .hero-section-components-col {
            width: rem(380px);

            &:last-child {
                margin-left: rem(20px);
            }
        }
    }

    .hero-title {
        max-width: rem(500px);
        margin: 0;
        font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
        font-weight: 800;
        line-height: 1.1142857142857143;
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        background: linear-gradient(to right, #007FFF, #0059B2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include lt-lg {
            text-align: center;
        }
    }

    .hero-desc {
        max-width: rem(500px);
        margin: 0;
        font-size: rem(16px);
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 400;
        color: #3E5060;
        margin-bottom: rem(30px);

        @include lt-lg {
            text-align: center;
        }
    }

    .primary-btn {
        display: inline-flex;
        justify-content: center;
        padding: rem(14px) rem(16px);
        border-radius: rem(4px);
        box-shadow: none;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: $B2Color;
        color: $White;
        font-size: rem(16px);
        line-height: 1.3125;
        letter-spacing: 0;
        font-weight: 700;

        &:hover {
            background-color: $B1Color;
        }

        @include sm {
            width: 100%;
        }

        .chevron-icon {
            display: inline-block;
            width: rem(22px);
            height: rem(22px);
            margin-left: rem(8px);
            background-image: url('/images/icon/chevron-icon.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.popular-components-section {
    background-color: #F3F6F9;
    overflow: hidden;
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    margin-top: rem(100px);

    @include md {
        margin-top: rem(60px);
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @include sm {
        margin-top: rem(40px);
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }
}

.benefit-section {
    padding-top: rem(80px);
    padding-bottom: rem(80px);

    @include md {
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @include sm {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    .section-title {
        max-width: rem(500px);
        margin: 0;
        margin-top: rem(10px);
        margin-bottom: rem(40px);
        font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
        font-weight: 800;
        line-height: 1.2;
        color: #132F4C;

        @include sm {
            margin-bottom: rem(20px);
        }
    }

    .card-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: calc(100% + 20px);
        margin-left: -20px;
    }

    .benefit-card {
        flex-basis: calc(25% - 20px);
        flex-grow: 0;
        max-width: calc(25% - 20px);
        min-width: rem(275px);
        height: 100%;
        min-height: rem(241px);
        padding: rem(20px);
        margin-top: rem(20px);
        margin-left: rem(20px);
        border-radius: rem(4px);
        border: rem(1px) solid #E0E3E7;
        box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
        box-sizing: border-box;
        color: #1A2027;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: $White;
    }

    .benefit-card-title {
        margin-bottom: rem(10px);
        font-size: rem(14px);
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 700;
        color: #1A2027;
        padding-left: rem(30px);
        box-sizing: border-box;
        background-size: rem(20px);
        background-position: center left;
        background-repeat: no-repeat;
    }

    .benefit-card-desc {
        font-size: rem(14px);
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 400;
        color: #3E5060;
    }

    .native-icon {
        background-image: url('/images/home/native-icon.webp');
    }

    .open-source-icon {
        background-image: url('/images/home/open-source-icon.webp');
    }

    .customize-icon {
        background-image: url('/images/home/customize-icon.webp');
    }

    .special-components-icon {
        background-image: url('/images/home/special-components-icon.webp');
    }

    .design-system-icon {
        background-image: url('/images/home/design-system-icon.webp');
    }
}

.text--gradiant {
    background: linear-gradient(to right, #007FFF, #0059B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.component-list-section {
    background-color: #132F4C;
    overflow: hidden;
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    margin-top: rem(100px);

    @include md {
        margin-top: rem(60px);
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @include sm {
        margin-top: rem(40px);
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    .page-section-contnet {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .section-title {
        max-width: rem(500px);
        margin: 0;
        margin-bottom: rem(40px);
        margin-top: rem(10px);
        font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
        font-weight: 800;
        line-height: 1.2;
        color: gainsboro;
    }

    @include sm {
        margin-bottom: rem(20px);
    }

    .list-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .list-col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: rem(248px);
        margin-right: rem(64px);

        &:last-child {
            margin-right: 0;
        }

        @include lg {
            margin-right: rem(16px);
        }

        @include md {
            width: rem(174px);
            margin-right: rem(25px);
        }

        @include sm {
            width: 100%;
            margin-right: 0;
        }
    }

    .list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: rem(24px);

        &:last-child {
            margin-bottom: 0;
        }

        @include lg {
            margin-bottom: rem(32px);
        }

        @include md {
            margin-bottom: rem(40px);
        }

        @include sm {
            margin-bottom: rem(24px);
        }
    }

    .list-title {
        margin-bottom: rem(8px);
        font-size: rem(18px);
        line-height: rem(32px);
        color: #99CCF3;

        @include lt-xl {
            font-weight: 500;
            line-height: rem(24px);
        }

        @include md {
            font-size: rem(16px);
        }

        @include sm {
            font-size: rem(15px);
        }
    }

    .components-label {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem(40px);
        height: rem(20px);
        border-radius: rem(2px);
        margin-left: rem(10px);
        padding: rem(4px);
        font-size: rem(11px);
        font-weight: 700;
        letter-spacing: 0.25px;

        &.featured {
            background-color: #fcd077;
            color: #132f4c;
        }
    }
}

::deep .bit-lnk-fluent {
    a {
        display: flex;
        align-items: center;
        color: $White;

        &:hover {
            color: $White;
            text-decoration: none;
        }
    }
}

.contribution-section {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    background: linear-gradient(180deg, #F3F6F9 0%, #FFFFFF 100%);

    @include md {
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @include sm {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    .page-section-contnet {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .section-title {
        margin: 0;
        font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
        font-weight: 800;
        line-height: 1.2222222222222223;
        color: #132F4C;
        margin-top: rem(10px);
        margin-bottom: rem(20px);
        max-width: rem(500px);
    }

    .section-desc {
        margin: 0;
        font-size: rem(16px);
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 400;
        color: #2D3843;
        margin-top: rem(10px);
        margin-bottom: rem(20px);
        max-width: rem(700px);
    }

    .section-btn {
        display: inline-flex;
        justify-content: center;
        padding: rem(14px) rem(16px);
        border-radius: rem(4px);
        box-shadow: none;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: $B2Color;
        color: $White;
        font-size: rem(16px);
        line-height: 1.3125;
        letter-spacing: 0;
        font-weight: 700;

        @include sm {
            width: 100%;
        }

        .github-icon {
            display: inline-block;
            width: rem(22px);
            height: rem(22px);
            margin-right: rem(8px);
            background-image: url('/images/icon/github-blue-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

::deep .bit-drp-wrapper {
    background-color: $White;
}

.component-box {
    display: flex;
    justify-content: center;
    width: rem(360px);
    margin-bottom: rem(40px);
    padding: rem(10px);
    border-radius: rem(4px);
    border: rem(1px) solid rgb(229, 232, 236);
    background-color: $White;
    color: rgb(61, 71, 82);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
}

.component-box--transparent {
    display: flex;
    justify-content: flex-start;
    width: rem(360px);
    margin-bottom: rem(40px);
}

::deep .bit-cmpb-fluent {
    margin-right: rem(10px);
}

::deep .bit-slider-fluent {
    width: 100%;
}

::deep .bit-pi-fluent {
    margin-bottom: rem(30px);
    width: rem(360px);
}

.tab-content {
    display: flex;
    justify-content: flex-start;
    width: rem(360px);
    height: rem(200px);
    margin-bottom: rem(40px);
    margin-top: rem(8px);
    padding: rem(10px);
    border-radius: rem(4px);
    border: rem(1px) solid rgb(229, 232, 236);
    background-color: $White;
    color: rgb(61, 71, 82);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
}