@page "/"

<div class="page-container">
    <section class="page-section hero-section">
        <div class="page-section-contnet">
            <div class="hero-section-content">
                <h1 class="hero-title">Bit BlazorUI</h1>
                <div class="hero-desc">Bit's Blazor UI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering), saving you time and making development enjoyable.</div>
                <a class="primary-btn" href="/getting-started">Get started<span class="chevron-icon"></span></a>
            </div>
            <div class="hero-section-content">
                <div class="hero-section-components">
                    <div class="hero-section-components-col">
                        <div class="component-box">
                            <BitDropDown Label="Select two ptoducts"
                                         Items="GetProductDropdownItems()"
                                         IsMultiSelect="true"
                                         Placeholder="Select an option"
                                         Style="width: 326px; margin: 20px 0 20px 0" />
                        </div>
                        <div class="component-box">
                            <BitColorPicker ShowPreview="true" @bind-Color="@SelectedColor" ShowAlphaSlider="false">Default ColorPicker</BitColorPicker>
                        </div>
                        <div class="component-box--transparent" style="height: fit-content;">
                            <BitToggle @bind-Value="IsToggleUnChecked" IsEnabled="true" OnText="On" OffText="Off" />
                            <BitToggle @bind-Value="IsToggleChecked" IsEnabled="true" OnText="On" OffText="Off" />
                        </div>
                    </div>
                    <div class="hero-section-components-col">
                        <div class="component-box--transparent">
                            <BitRadioButtonGroup Name="Group1" Label="Select an item" DefaultValue="pie">
                                <BitRadioButtonOption Text="Clustered bar chart" Value="bar" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 1" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitRadioButtonOption>
                                <BitRadioButtonOption Text="Pie chart" Value="pie" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 2" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitRadioButtonOption>
                                <BitRadioButtonOption Text="Disabeled" IsEnabled="false" Value="disabeled_option" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 2" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitRadioButtonOption>
                            </BitRadioButtonGroup>
                        </div>
                        <div class="component-box">
                            <BitSlider Label="Origin from zero"
                                       Min="-5"
                                       Max="5"
                                       Step="1"
                                       DefaultUpperValue="2"
                                       DefaultLowerValue="-3"
                                       IsRanged="true"
                                       IsOriginFromZero="true" />
                        </div>
                        <div class="component-box">
                            <BitCompoundButton IsEnabled="true"
                                               Text="Primary"
                                               SecondaryText="This Button is a compound button">
                            </BitCompoundButton>
                            <BitCompoundButton IsEnabled="true"
                                               Text="Standard"
                                               AriaHidden="true"
                                               SecondaryText="This Button is a compound button"
                                               ButtonStyle="BitButtonStyle.Standard">
                            </BitCompoundButton>
                        </div>
                        <BitProgressIndicator BarHeight="20"></BitProgressIndicator>
                        <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                                  DefaultSelectedKey="Overview"
                                  LinkSize="@BitPivotLinkSize.Large"
                                  HeadersOnly="true"
                                  OnLinkClick="@(item => PivotSelectedKey = item.Key)">
                            <BitPivotItem HeaderText="Overview" Key="Overview"></BitPivotItem>
                            <BitPivotItem HeaderText="Features" Key="Features"></BitPivotItem>
                            <BitPivotItem HeaderText="Comments" Key="Comments"></BitPivotItem>
                            <BitPivotItem HeaderText="FAQ" Key="FAQ"></BitPivotItem>
                        </BitPivot>
                        <div class="tab-content">
                            @if (PivotSelectedKey == "Overview")
                            {
                                <div>The is the "Overview" section.</div>
                            }
                            else if (PivotSelectedKey == "Comments")
                            {
                                <div>The is the "Comments" section.</div>
                            }
                            else if (PivotSelectedKey == "Features")
                            {
                                <div>The is the "Features" section.</div>
                            }
                            else if (PivotSelectedKey == "FAQ")
                            {
                                <div>The is the "FAQ" section.</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section popular-components-section">
        <div class="page-section-contnet">
            <PopularComponents />
        </div>
    </section>

    <section class="page-section benefit-section">
        <div class="page-section-contnet">
            <h2 class="section-title">
                Why <span class="text--gradiant">Bit BlazorUI</span>
            </h2>
            <div class="card-list">
                <div class="benefit-card">
                    <div class="benefit-card-title native-icon">
                        Native Blazor UI
                    </div>
                    <div class="benefit-card-desc">
                        Bit's Blazor UI components, written entirely in C#, offer high performance and can be used in all Blazor modes (WASM, Server, Hybrid, pre-rendering). Additionally, the compressed size of your project will only increase up to 180kb.
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title open-source-icon">
                        Dedicated dev team
                    </div>
                    <div class="benefit-card-desc">
                        Bit components are developed by a professional and dedicated team, who also actively contribute to the open-source project on GitHub. This ensures a steady flow of updates and allows for easy access to technical support. The components have a fast release cycle and are frequently updated to ensure optimal performance.
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title customize-icon">
                        Easy to customize
                    </div>
                    <div class="benefit-card-desc">
                        Bit components are implemented in a standard format, making it easy to customize the styles and functionalities of the components, helping you meet your development needs in a short time!
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title special-components-icon">
                        Special components
                    </div>
                    <div class="benefit-card-desc">
                        The Bit component package includes unique components, such as a resumable file uploader and Jalali date picker, that are difficult to find for free elsewhere!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section component-list-section">
        <div class="page-section-contnet">
            <h2 class="section-title">Bit BlazorUI components</h2>
            <div class="list-group">
                <div class="list-col">
                    <div class="list">
                        <div class="list-title">Basic inputs</div>
                        <BitLink Class="component-list-item" Href="/components/button" title="Button">
                            <span>Button</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/action-button" title="ActionButton">
                            <span>ActionButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/compound-button" title="CompoundButton">
                            <span>CompoundButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/icon-button" title="IconButton">
                            <span>IconButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/loading-button" title="LoadingButton">
                            <span>LoadingButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/toggle-button" title="ToggleButton">
                            <span>ToggleButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/menu-button" title="MenuButton">
                            <span>MenuButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/split-button" title="SplitButton">
                            <span>SplitButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/check-box" title="Checkbox">
                            <span>Checkbox</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/choice-group" title="ChoiceGroup">
                            <span>ChoiceGroup</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/radio-button-group" title="RadioButtonGroup">
                            <span>RadioButtonGroup</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/radio-button-list" title="RadioButtonList">
                            <span>RadioButtonList</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/drop-down" title="DropDown">
                            <span>DropDown</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/file-upload" title="FileUpload">
                            <span>FileUpload</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/label" title="Label">
                            <span>Label</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/link" title="Link">
                            <span>Link</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/rating" title="Rating">
                            <span>Rating</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/search-box" title="SearchBox">
                            <span>SearchBox</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/slider" title="Slider">
                            <span>Slider</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/spin-button" title="SpinButton">
                            <span>SpinButton</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/text-field" title="TextField">
                            <span>TextField</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/numeric-text-field" title="Numeric TextField">
                            <span>NumericTextField</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/otp-input" title="Otp Input">
                            <span>OtpInput</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/toggle" title="Toggle (Switch)">
                            <span>Toggle (Switch)</span>
                        </BitLink>
                    </div>
                </div>
                <div class="list-col">
                    <div class="list">
                        <div class="list-title">Galleries & Pickers</div>
                        <BitLink Class="component-list-item" Href="/components/color-picker" title="ColorPicker">
                            <span>ColorPicker</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/date-picker" title="DatePicker">
                            <span>DatePicker</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/date-range-picker" title="DateRangePicker">
                            <span>DateRangePicker</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/chart" title="Chart">
                            <span>Chart</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                    </div>
                    <div class="list">
                        <div class="list-title">Items & Lists</div>
                        <BitLink Class="component-list-item" Href="/components/basic-list" title="BasicList">
                            <span>BasicList</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/data-grid" title="DataGrid">
                            <span>DataGrid</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/carousel" title="Carousel">
                            <span>Carousel</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/persona" title="Persona (AvatarView)">
                            <span>Persona (AvatarView)</span>
                        </BitLink>
                    </div>
                    <div class="list">
                        <div class="list-title">Commands, Menus & Navs</div>
                        <BitLink Class="component-list-item" Href="/components/nav" title="Nav (TreeList)">
                            <span>Nav (TreeList)</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/nav-group" title="NavGroup (TreeList)">
                            <span>NavGroup (TreeList)</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/nav-list" title="NavList (TreeList)">
                            <span>NavList (TreeList)</span>
                            <div class="components-label featured">featured</div>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/pivot" title="Pivot (Tab)">
                            <span>Pivot (Tab)</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/breadcrumb" title="Breadcrumb">
                            <span>Breadcrumb</span>
                        </BitLink>
                    </div>
                </div>
                <div class="list-col">
                    <div class="list">
                        <div class="list-title">Notification & Engagement</div>
                        <BitLink Class="component-list-item" Href="/components/message-bar" title="MessageBar">
                            <span>MessageBar</span>
                        </BitLink>
                    </div>
                    <div class="list">
                        <div class="list-title">Progress</div>
                        <BitLink Class="component-list-item" Href="/components/progress-indicator" title="ProgressIndicator">
                            <span>ProgressIndicator</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/spinner" title="Spinner (BusyIndicator)">
                            <span>Spinner (BusyIndicator)</span>
                        </BitLink>
                    </div>
                    <div class="list">
                        <div class="list-title">Surfaces</div>
                        <BitLink Class="component-list-item" Href="/components/accordion" title="Accordion (Expander)">
                          <span>Accordion (Expander)</span>
                        </BitLink> 
                        <BitLink Class="component-list-item" Href="/components/modal" title="Modal">
                            <span>Modal</span>
                        </BitLink>
                    </div>
                    <div class="list">
                        <div class="list-title">Utilities</div>
                        <BitLink Class="component-list-item" Href="/components/icon" title="Icon">
                            <span>Icon</span>
                        </BitLink>
                        <BitLink Class="component-list-item" Href="/components/overlay" title="Overlay">
                            <span>Overlay</span>
                        </BitLink>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section contribution-section">
        <div class="page-section-contnet">
            <h2 class="section-title"><span class="text--gradiant">Open Source</span> contribution</h2>
            <div class="section-desc">Backed by a professional dedicated development team and an active community, you are well supported to work out all challenges. Since all open source components are on GitHub, you can follow the production flow of the components.  Feel free to report bugs, fork the repo, and submit pull request.</div>
            <a class="section-btn" target="_blank" href="https://github.com/bitfoundation/bitplatform">
                <span class="github-icon"></span>
                GitHub
            </a>
        </div>
    </section>
</div>