@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';


.page-container {
    width: 100%;
    padding-left: rem(20px);
    padding-right: rem(20px);
    box-sizing: border-box;

    @include md {
        padding-left: rem(30px);
        padding-right: rem(30px);
    }
}

.page-title {
    margin-bottom: rem(52px);
    padding: 0;
    font-size: rem(36px);
    font-weight: 800;
    line-height: 1;
    color: #0a1929;

    @include lt-lg {
        margin-bottom: rem(28px);
    }
}

.page-section {
    position: relative;
    width: 100%;
    padding: rem(28px);
    margin-bottom: rem(28px);
    border-radius: rem(4px);
    border: rem(1px) solid #E0E3E7;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    box-sizing: border-box;
    background-clip: padding-box;
    background-color: $White;
}

.section-title {
    padding: 0;
    margin-bottom: rem(20px);
    font-weight: 700;
    font-size: rem(24px);
    line-height: 1;
    color: #1a2027;
}

.section-desc {
    width: 100%;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(32px);
    color: #2E2E2E;
}

.icon-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.icon-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: rem(80px);
    width: rem(80px);
    overflow: visible;
    margin: rem(10px);
    cursor: text;

    .icon-name {
        opacity: 0;
        font-size: rem(11px);
        margin-top: rem(8px);
    }

    &:hover {
        .icon-name {
            opacity: 1;
        }
    }
}

.empty-list {
    width: 100%;
    height: rem(144px);
    background-image: url('/images/icongraphy-empty-state-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: rem(120px) rem(144px);

    @include lt-lg {
        height: rem(120px);
        background-size: rem(96px) rem(120px);
    }
}

::deep .icongraphy-search-box {
    width: 100%;
    width: rem(300px);
    margin-bottom: rem(50px) !important;

    @include md {
        margin-bottom: rem(40px) !important;
    }

    @include sm {
        margin-bottom: rem(32px) !important;
    }
}

::deep .bit-icon--icongraphy {
    font-size: 2.25rem !important;
}