@page "/icons"

<section class="page-container">
    <div class="page-title">Iconography</div>
    <div class="page-desc">Bit has traditionally used a custom font for its iconography. This font is part of the MDL2 design system and contains glyphs that you can scale, color, and style in any way.</div>

    <div class="page-box">
        <div class="box-header">Available Icons</div>
        <div class="box-content">
            <BitSearchBox Class="icongraphy-search-box"
                          Placeholder="Search Icons"
                          IconName="BitIconName.Search"
                          Value="@searchText"
                          ValueChanged="@HandleChange"
                          OnClear="@HandleClear"></BitSearchBox>
            <div class="icon-list">
                @if (filteredIcons.Count == 0)
                {
                    <div class="empty-list"></div>
                }
                else
                {
                    foreach (var icon in filteredIcons)
                    {
                        <div class="icon-box">
                            <i class="bit-icon bit-icon--icongraphy bit-icon--@icon"></i>
                            <span class="icon-name">@icon</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>