@page "/overview"

<section class="page-container">
    <h1 class="page-title">Bit's native UI Components for Blazor</h1>
    <section class="page-section">
        <div class="section-desc">Bit's Blazor UI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering), saving you time and making development enjoyable.</div>
    </section>

    <div class="card-container">
        <a class="card input-card" href="/components/button">
            <div class="card-img"></div>
            Basic Inputs
        </a>
        <a class="card picker-card" href="/components/carousel">
            <div class="card-img"></div>
            Galleries & Pickers
        </a>
        <a class="card list-card" href="/components/basic-list">
            <div class="card-img"></div>
            Items & Lists
        </a>
        <a class="card nav-card" href="/components/nav">
            <div class="card-img"></div>
            Commands, Menus & Navs
        </a>
        <a class="card notification-card" href="/components/message-bar">
            <div class="card-img"></div>
            Notification & Engagement
        </a>
        <a class="card progress-card" href="/components/progress-indicator">
            <div class="card-img"></div>
            Progress
        </a>
        <a class="card surface-card" href="/components/modal">
            <div class="card-img"></div>
            Surfaces
        </a>
    </div>
</section>