@defaultFont: "Segoe UI Light", "Helvetica Neue", "RobotoLight", "Segoe UI", "Segoe WP", sans-serif;

html {
    direction: ltr;
    font-family: @defaultFont;
}

body {
    direction: ltr;
    font-family: @defaultFont;
}

.en-US {
    direction: ltr;
    font-family: @defaultFont;
}

* {
    font-family: @defaultFont;
    direction: ltr;
}

.k-grid-content {
    overflow: auto;
}
