@namespace Bit.BlazorUI
@inherits BitComponentBase

<label @ref="RootElement" @attributes="HtmlAttributes"
       id="@UniqueId"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       for="@For">
    @ChildContent
</label>
