@page "/components/choicegroup"

<h2>ChoiceGroup</h2>

<div class="card">
    <p class="desc">Radio buttons (ChoiceGroup) let people select a single option from two or more choices.</p>
</div>

<h2>Usage</h2>
<div class="wrapper">
    <div class="card">
        <h3>BitChoiceGroup & BitChoiceOption</h3>
        <div class="desc">
            <p>
                To create a choicegroup you can use a BitChoiceGroup component. You can enable and disable the choicegroup and choiceoption by changing the IsEnabled attribute.
            </p>
        </div>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitChoiceGroup Name="Group1">
                        <BitChoiceOption Text="Option1" Value="1"></BitChoiceOption>
                        <BitChoiceOption Text="Option2" Value="2"></BitChoiceOption>
                        <BitChoiceOption Text="Disabled option" Value="3" IsEnabled="false"></BitChoiceOption>
                    </BitChoiceGroup>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <div>
                    <p>&lt<span class="dark-green">BitChoiceGroup Name</span>="Group1"></p>
                    <p class="p-l-20">&lt<span class="dark-green">BitChoiceOption Text</span>="Option1" <span class="dark-green">Value</span>="1">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p class="p-l-20"> &lt<span class="dark-green">BitChoiceOption Text</span>="Option2" <span class="dark-green">Value</span>="2">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p class="p-l-20"> &lt<span class="dark-green">BitChoiceOption Text</span>="Disabled Option" <span class="dark-green">Value</span>="3" <span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p> &lt/<span class="dark-green">BitChoiceGroup</span>></p>
                </div>
            </BitPivotItem>
        </BitPivot>
    </div>
    <h3>Disabled</h3>
    <div class="desc">
        <p>
            BitChoiceGroup in disabled mode.
        </p>
    </div>
    <BitPivot>
        <BitPivotItem HeaderText="Example" IconName="ViewList">
            <div>
                <BitChoiceGroup Name="Group2" IsEnabled="false">
                    <BitChoiceOption Text="Option1" Value="1"></BitChoiceOption>
                    <BitChoiceOption Text="Option2" Value="2"></BitChoiceOption>
                    <BitChoiceOption Text="Disabled option" Value="3" IsEnabled="false"></BitChoiceOption>
                </BitChoiceGroup>
            </div>
        </BitPivotItem>
        <BitPivotItem HeaderText="Code" IconName="Source">
            <div>
                <p>&lt<span class="dark-green">BitChoiceGroup Name</span>="Group2" <span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>"></p>
                <p class="p-l-20">&lt<span class="dark-green">BitChoiceOption Text</span>="Option1" <span class="dark-green">Value</span>="1">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                <p class="p-l-20">&lt<span class="dark-green">BitChoiceOption Text</span>="Option2" <span class="dark-green">Value</span>="2">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                <p class="p-l-20">&lt<span class="dark-green">BitChoiceOption Text</span>="Disabled option" <span class="dark-green">Value</span>="3" <span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                <p>&lt/<span class="dark-green">BitChoiceGroup</span>></p>
            </div>
        </BitPivotItem>
    </BitPivot>

    <div class="card">
        <h3>ChoiceGroup with images</h3>

        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitChoiceGroup Name="Group1">
                        <BitChoiceOption Text="Option1" Value="1" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 1" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"></BitChoiceOption>
                        <BitChoiceOption Text="Option2" Value="2" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 2" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"></BitChoiceOption>
                    </BitChoiceGroup>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <div>
                    <p>&lt<span class="dark-green">BitChoiceGroup Name</span>="Group1"></p>
                    <p class="p-l-20">&lt<span class="dark-green">BitChoiceOption Text</span>="Option1" <span class="dark-green">Value</span>="1">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p class="p-l-20"> &lt<span class="dark-green">BitChoiceOption Text</span>="Option2" <span class="dark-green">Value</span>="2">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p class="p-l-20"> &lt<span class="dark-green">BitChoiceOption Text</span>="Disabled Option" <span class="dark-green">Value</span>="3" <span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>">&lt/<span class="dark-green">BitChoiceOption</span>></p>
                    <p> &lt/<span class="dark-green">BitChoiceGroup</span>></p>
                </div>
            </BitPivotItem>
        </BitPivot>
    </div>
</div>
<h2>Implementation</h2>
<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>childContent</td>
            <td>renderfragment</td>
            <td></td>
            <td>Any custom tag or text the developer wishes to associate with the choicegroup.</td>
        </tr>
        <tr>
            <td>isEnabled</td>
            <td>boolean</td>
            <td>true</td>
            <td>Whether the choicegroup and choiceoption are enabled.</td>
        </tr>
        <tr>
            <td>name</td>
            <td>renderfragment</td>
            <td></td>
            <td>Name of choicegroup and choiceoption.</td>
        </tr>
        <tr>
            <td>ref</td>
            <td>elementreference</td>
            <td></td>
            <td>Access the public methods and properties of the component.</td>
        </tr>
        <tr>
            <td>styles</td>
            <td>string</td>
            <td></td>
            <td>Custom styling for individual elements within the choicegroup and choiceoption DOM.</td>
        </tr>
        <tr>
            <td>text</td>
            <td>string</td>
            <td></td>
            <td>Text of choicegroup and choiceoption.</td>
        </tr>
        <tr>
            <td>uniqueId</td>
            <td>guid</td>
            <td></td>
            <td>Unique ID to identify the item. Typically a duplicate of key value.</td>
        </tr>
        <tr>
            <td>value</td>
            <td>string</td>
            <td></td>
            <td>Value of choicegroup and choiceoption.</td>
        </tr>
    </table>
</div>
