<h3>CreateEditCategory</h3>


<EditForm Model="Category" OnValidSubmit="Save" class="form--white">

    <DataAnnotationsValidator />

    <div class="form-input-container">
        <BitTextField Label="@(nameof(Category.Name))" @bind-Value="Category.Name" />
        <ValidationMessage For="() => Category.Name" />
    </div>

    <div class="formin">
        <BitColorPicker ShowPreview=false @bind-Color="Category!.Color">Default ColorPicker</BitColorPicker>
        <ValidationMessage For="() => Category.Color" />
    </div>
    

    <BitButton ButtonType="BitButtonType.Submit">
        Save
    </BitButton>

</EditForm>


@code {

}
