<!DOCTYPE html>
<html bit-theme="dark">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="theme-color">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Link rel="icon" Href="/favicon.ico" type="image/x-icon" />
    <HeadOutlet @rendermode=RenderModeProvider.Current />
    <Link rel="apple-touch-icon" sizes="512x512" Href="images/bit-icon-512.png" />
    <Link rel="stylesheet" Href="_content/Bit.BlazorUI/styles/bit.blazorui.css" />
    <Link rel="stylesheet" Href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.css" />
    <Link rel="stylesheet" Href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" />
    <Link rel="stylesheet" Href="styles/app.css" />
    <Link rel="stylesheet" Href="Bit.Websites.Platform.Client.bundle.scp.css" />
    <Link rel="manifest" Href="manifest.json" />

    <Link rel="preload" Href="_framework/dotnet.js" as="script" type="text/javascript" />
    <Link rel="preload" Href="_framework/blazor.boot.json" as="fetch" type="application/json" />
</head>

<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary bit-blazor-web">

    <Routes @rendermode=RenderModeProvider.Current />

    @if (HttpContext.Request.IsLightHouseRequest() is false)
    {
        <Script Src="_framework/bit.es2019.blazor.web.js" autostart="false"></Script>
		<Script Src="_content/Bit.Bswup/bit-bswup.js" blazorScript="_framework/bit.es2019.blazor.web.js"></Script>
        <Script Src="_content/Bit.Bswup/bit-bswup.progress.js"></Script>
        <AppBswupProgressBar />
        <Script Src="_content/Bit.Butil/bit-butil.js"></Script>
        <Script Src="_content/Bit.BlazorUI/scripts/bit.blazorui.js"></Script>
        <Script Src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.js"></Script>
        <Script Src="scripts/app.js"></Script>
    }
</body>

</html>

