@page "/components/menubutton"
@page "/components/menu-button"

<PageOutlet Url="components/menubutton"
            Title="MenuButton"
            Description="MenuButton component of the bit BlazorUI components" />

<div>
    <DemoPage Name="MenuButton"
              Description="A menu button is a menu item that displays a word or phrase that the user can click to initiate an operation."
              Parameters="componentParameters"
              SubClasses="componentSubClasses"
              SubEnums="componentSubEnums"
              GitHubUrl="Buttons/MenuButton/BitMenuButton.razor"
              GitHubDemoUrl="Buttons/MenuButton/BitMenuButtonDemo.razor">
        <NotesTemplate>
            <BitText>
                The BitMenuButton is a <BitTag Color="BitColor.SecondaryBackground">Multi-API</BitTag> component
                which can accept the list of Items in 3 different ways:
                <br />
                1. The <BitLink Href="#menu-button-item"><BitTag Color="BitColor.SecondaryBackground">BitMenuButtonItem</BitTag></BitLink> class <br />
                2. A <BitTag Color="BitColor.SecondaryBackground">Custom Generic</BitTag> class <br />
                3. The <BitLink Href="#menu-button-option"><BitTag Color="BitColor.SecondaryBackground">BitMenuButtonOption</BitTag></BitLink> component
            </BitText>
        </NotesTemplate>
        <Examples>
            <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })" MountAll>
                <BitPivotItem HeaderText="Item">
                    <_BitMenuButtonItemDemo />
                </BitPivotItem>

                <BitPivotItem HeaderText="Custom">
                    <_BitMenuButtonCustomDemo />
                </BitPivotItem>

                <BitPivotItem HeaderText="Option">
                    <_BitMenuButtonOptionDemo />
                </BitPivotItem>
            </BitPivot>
        </Examples>
    </DemoPage>
</div>