@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_mixins.scss';

.contact-bg {
    background-color: $Gray5;
}

.section-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: rem(80px);
    box-sizing: border-box;

    @include xs {
        padding: rem(60px) rem(30px);
    }

    .secondary-title {
        font-weight: 500;
        font-size: rem(30px);
        color: $Gray2;
        margin-bottom: rem(24px);

        @include sm {
            font-size: rem(24px);
        }
    }

    .title {
        font-size: rem(44px);
        font-weight: bold;
        margin-bottom: 1rem;

        @include sm {
            font-size: rem(34px);
        }
    }

    .title-underline {
        background-color: $Y1;
        width: rem(240px);
        height: rem(4px);
        margin-bottom: rem(76px);

        @include sm {
            width: rem(180px);
            height: rem(2px);
        }
    }
}

::deep .form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: rem(960px);

    .input-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: rem(50px);

        @include md {
            flex-flow: column;
        }
    }

    .input-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .text-area-container {
        width: 100%;
        margin-bottom: 2rem;

        @include md {
            margin-bottom: 4rem;
        }
    }

    .text-field, .text-area {
        width: 100%;

        &.bit-txt {
            .bit-txt-label {
                color: $Gray1;
                font-size: rem(20px);
                line-height: rem(32px);

                @include md {
                    font-size: rem(18px);
                }
            }

            .bit-txt-field-grp {
                height: rem(60px);
                border-radius: rem(3px);
                border-color: $Gray3;
            }

            .txt-field {
                font-size: rem(22px);
                line-height: 2rem;

                &:focus {
                    border-color: 1px solid $GrayLightX;
                }
            }
        }
    }

    .text-area {
        &.bit-txt {
            .bit-txt-field-grp {
                padding: 0.5rem;
                height: rem(150px);
            }
        }
    }

    .submit-btn--primary {
        @include PrimaryButton($IsInNavbar: false);
    }
}
