@inherits AppComponentBase

<ContactForm />

<footer class="footer">
    <div class="content">
        <div class="info">
            <a class="bit-logo" href="/"></a>
            <div class="desc">Sofware Dev Team as a Service</div>
            <div class="socials">
                <a class="email" href="mailto:info@bitservices.company"></a>
                <a class="whatsapp" href="tel:+31684207362"></a>
                <a class="linkedin" href="https://www.linkedin.com/company/bitplatformhq/"></a>
                <a class="github" href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Websites/Sales/"></a>
            </div>
        </div>
        <div class="addresses">
            <a class="address-bg" href="https://maps.app.goo.gl/W8vtWHQ13YhYpksy6"></a>
            <div class="address-info">
                <a class="address" href="https://maps.app.goo.gl/W8vtWHQ13YhYpksy6">Sixmastraat 15, 8932 PA Leeuwarden,</a>
                <div class="country">Netherlands</div>
                <div class="tel">+31 6 84207362</div>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © 2001 - 2023 Bit Inc. All Rights Reserved</div>
</footer>