@inherits AppComponentBase

<ContactForm />

<footer class="footer">
    <div>© 2023 Bit Platform. All rights reserved.</div>
    <a class="footer-linkedin" href="https://www.linkedin.com/company/bitplatformhq" target="_blank"><span class="footer-linkedin-txt">Follow us on linkedin</span></a>
</footer>