@inherits AppComponentBase

<ContactForm />

<footer class="footer">
    <div class="content">
        <div class="info">
            <a class="bit-logo" href="/"></a>
            <div class="desc">Sofware Dev Team as a Service</div>
            <div class="socials">
                <a class="email" href="mailto:info@bitservices.company"></a>
                <a class="whatsapp" href=""></a>
                <a class="linkedin" href=""></a>
                <a class="github" href=""></a>
            </div>
        </div>
        <div class="addresses">
            <div class="address-bg"></div>
            <div class="address-info">
                <div class="address">Sixmastraat 15, 8932 PA Leeuwarden,</div>
                <div class="country">Netherlands</div>
                <div class="tel">+31 123456789</div>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © 2001 - 2023 BIT Inc. All Rights Reserved</div>
</footer>