@inherits LayoutComponentBase


<div class="main-container @(SmallPadding ? "small-pad" : "") @(RemovePadding ? "no-pad" : "")">
    <Header></Header>
    <AppErrorBoundary>
        @Body
    </AppErrorBoundary>
    <Footer />
</div>

<MessageBox />
