@page "/components/buttongroup"
@page "/components/button-group"


<PageOutlet Url="components/button-group"
            Title="ButtonGroup"
            Description="ButtonGroup component of the bit BlazorUI components" />

<div>
    <DemoPage Name="ButtonGroup"
              Description="The ButtonGroup component can be used to group related buttons."
              Notes="The BitButtonGroupGroup is a Multi-API component which can accept the list of Items in 3 different ways: BitButtonGroupGroupItem class, a custom Generic class, and BitButtonGroupGroupOption component."
              Parameters="componentParameters"
              SubClasses="componentSubClasses"
              SubEnums="componentSubEnums"
              GitHubUrl="Buttons/BitButtonGroup/BitButtonGroup.razor"
              GitHubDemoUrl="Buttons/ButtonGroup/BitButtonGroupDemo.razor">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <_BitButtonGroupItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitButtonGroupCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitButtonGroupOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </DemoPage>
</div>