@import '../abstracts/_colors.scss';
@import '../abstracts/_functions.scss';

.search-todo-input {
    width: rem(300px);
}

.add-todo-input {
    width: rem(300px);

    @media screen and (max-width:em(490px)) {
        width: rem(228px);
    }
}

.add-todo-button {
    margin-left: rem(8px);
}

.todo-sort-lbl {
    font-size: rem(12px);
    line-height: rem(20px);
}

.todo-pivot-tab {
    margin-right: rem(40px);
}

.todo-spinner {
    margin-left: rem(40px);
}
.todo-item-list {
    height: 100%;
}

.todo-list-spinner{
    position:relative;
    top:rem(105px);
}

.sort-todo-dropdown {
    width: rem(150px);
    height: rem(32px);

    .bit-act-btn-fluent > span:first-child i {
        color: black;
        font-size: rem(11px);
    }

    .bit-drp-items-wrapper button {
        font-size: rem(12px);
    }

    .bit-act-btn-fluent > span:last-child {
        font-size: rem(12px);
    }

    .bit-drp-wrapper .bit-drp-wrapper-txt {
        display: none;
    }
}
