<view id="lookups">
    <dto-form ng-model="vm.product">
        Offline:
        <rad-combo-box rad-data-source="vm.offlineCountriesDS" ng-model="vm.product.BuildLocationId_OfflineDatabaseTest"></rad-combo-box>
        Online:
        <rad-combo-box rad-data-source="vm.onlineCountriesDS" ng-model="vm.product.BuildLocationId_OnlineTest"></rad-combo-box>
        Local:
        <rad-combo-box rad-data-source="vm.localCountriesDS" ng-model="vm.product.BuildLocationId_InMemoryTest"></rad-combo-box>
    </dto-form>
</view>