@import '../../../Styles/abstracts/_functions.scss';

::deep {

    .custom-item {
        background-color: lightgreen;
        padding: 2px;
        margin: 0 5px;
        border-radius: 10px;

        &.last-item {
            background-color: green;
            padding: 5px;
        }
    }
}
