@import '../../../Styles/abstracts/_functions.scss';

::deep {

    .custom-item {
        background-color: lightgreen;
        padding: rem(2px) rem(5px);
        border-radius: rem(10px);
    }

    .custom-current-item {
        color: deeppink;
    }
}