@inherits LayoutComponentBase

<Header />

<div class="main @(isTemplateDocRoute ? null : "main--full-page")">
    @if (isTemplateDocRoute)
    {
        <NavMenu />
    }
    <div class="site-content @(isTemplateDocRoute ? "docs-content" : "")">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>

        <Footer />
    </div>
</div>


<MessageBox />