@inherits LayoutComponentBase

<Header />

<div class="main @(isDocsRoute ? null : "main--full-page")">
    @if (isTemplateDocRoute)
    {
        <NavMenu NavItems="templatesNavItems" />
    }

    @if (isBswupDocRoute)
    {
        <NavMenu NavItems="bswupNavItems" />
    }

    <div class="site-content @(isDocsRoute ? "docs-content" : "")">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
</div>

<Footer />


<MessageBox />