@inherits AppComponentBase

<BitModal @bind-IsOpen="isOpen">
    <div class="main">
        <div class="header">
            <span class="title">@title</span>
            <BitButton IconName="Cancel" OnClick="OnCloseClick" Variant="BitVariant.Text" />
        </div>
        <div class="body">
            @body
        </div>
        <div class="footer">
            <BitButton OnClick="OnOkClick">OK</BitButton>
        </div>
    </div>
</BitModal>
