@import '../Styles/bit-css-variables.scss';
@import '../Styles/abstracts/_vars.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';

.nav-menu {
    left: 0;
    outline: 0;
    z-index: 10;
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    overflow-y: auto;
    position: sticky;
    flex-direction: column;
    top: rem2($HeaderHeight);
    width: rem2($NavMenuWidth);
    max-width: rem2($NavMenuWidth);
    height: calc(100vh - rem2($HeaderHeight));

    @include lt-lg {
        height: 100vh;
        position: fixed;
        z-index: 1200;
        top: 0;
        inset: 0;
    }

    @include sm {
        border-radius: 0 rem2(10px) rem2(10px) 0;
    }
}

.nav-menu--desktop {
    display: flex;

    @include lt-lg {
        display: none;
    }
}

.nav-menu--mobile {
    display: none;

    @include lt-lg {
        display: block;
    }
}

.nav-menu-shadow {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1101;
}

.search-box-container {
    width: 100%;
    padding: rem2(24px) rem2(22px);
    box-sizing: border-box;
}

.nav-menu-list {
    width: 100%;
    height: calc(100% - #{rem2(89px)});
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }
}

::deep .nav-menu-search-box {
    width: 100%;
    height: rem2(40px);

    input::-webkit-input-placeholder {
        font-size: rem2(14px);
        font-weight: 500;
    }
}

::deep .side-nav {
    .link-enabled-nourl {
        font-weight: 600;
        font-size: rem2(14px);
        line-height: rem2(32px);
        color: #323130;
    }

    .chevron-btn {
        &:hover {
            color: #323130;
        }

        i {
            height: 100%;
            transform: rotate( -90deg);
        }

        .expand {
            height: 100%;
            transform: rotate(0deg);
        }
    }

    .group-content {
        margin-bottom: 0;
    }

    .link-txt {
        white-space: nowrap;
    }

    .link-enabled-hasurl {
        height: rem2(40px);
        box-sizing: border-box;
        font-size: rem2(14px);
        font-weight: 400;
        line-height: rem2(26px);
        color: #323130;

        &:hover {
            color: #323130;
        }
    }

    .selected {
        font-weight: unset;
        color: $B6Color;

        &:after {
            border-left: rem2(4px) solid $B6Color;
        }
    }
}

::deep .searched-side-nav {
    .link-enabled-hasurl {
        padding: 0 20px 0 27px !important;
    }
}