@import "../../../Styles/_shared.scss";

.number {
    position: absolute;
    top: rem(12px);
    padding: rem(12px);
    font-size: rem(12px);
    color: $Gray3;
}

.text-title {
    position: absolute;
    bottom: rem(55px);
    width: 100%;
    font-size: rem(15px);
    text-align: center;
    color: $White;
}

.text-description {
    position: absolute;
    bottom: rem(30px);
    width: 100%;
    font-size: rem(11px);
    text-align: center;
    color: $White;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.goto-container {
    display: flex;
    justify-content: space-around;
}

::deep .goto-button {
    margin-right: rem(10px);
}

::deep .bit-crsl-fluent {
    max-width: 100%;
}