@page "/components/carousel"

<ComponentDemo ComponentName="Carousel" ComponentDescription="Carousel (Carousel slide-show) let people show their items in seperate slides from two or more items."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="Basic Carousel" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitCarousel>
                    <BitCarouselItem>
                        <div class="number">1 / 4</div>
                        <img src="/images/carousel/img1.jpg" style="width:100%">
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">2 / 4</div>
                        <img src="/images/carousel/img2.jpg" style="width:100%" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">3 / 4</div>
                        <img src="/images/carousel/img3.jpg" style="width:100%" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">4 / 4</div>
                        <img src="/images/carousel/img4.jpg" style="width:100%" />
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Carousel With Slide Show Mode" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitCarousel IsSlideShow="true">
                    <BitCarouselItem>
                        <img src="/images/carousel/img1.jpg" style="width:100%" />
                        <div class="text-title">Aurora</div>
                        <div class="text-description">This is Aurora and it's fantastic</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/images/carousel/img2.jpg" style="width:100%" />
                        <div class="text-title">Beautiful Mountain</div>
                        <div class="text-description">This is a Beautiful Mountain and it's gorgeous</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/images/carousel/img3.jpg" style="width:100%" />
                        <div class="text-title">Forest In The Valley</div>
                        <div class="text-description">This is a Forest In The Valley and it's beautiful</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/images/carousel/img4.jpg" style="width:100%" />
                        <div class="text-title">Road Among The Mountains</div>
                        <div class="text-description">This is a Road Among The Mountains and it's amazing</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>