@import "../../../Styles/_shared.scss";

.numbertext {
    position: absolute;
    top: rem(12px);
    padding: rem(12px);
    font-size: rem(12px);
    color: $Gray3;
}

.text {
    position: absolute;
    bottom: rem(55px);
    width: 100%;
    font-size: rem(15px);
    text-align: center;
    color: $White;
}

