@page "/components/carousel"

<ComponentDemo ComponentName="Carousel" ComponentDescription="Carousel (Carousel slide-show) let people show their items in seperate slides from two or more items."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="Basic Carousel" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitCarousel>
                    <BitCarouselItem>
                        <div class="numbertext">1 / 4</div>
                        <img src="/images/carousel/img1.jpg" style="width:100%">
                        <div class="text">Aurora</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">2 / 4</div>
                        <img src="/images/carousel/img2.jpg" style="width:100%" />
                        <div class="text">Beautiful Mountain</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">3 / 4</div>
                        <img src="/images/carousel/img3.jpg" style="width:100%" />
                        <div class="text">Forest In The Valley</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">4 / 4</div>
                        <img src="/images/carousel/img4.jpg" style="width:100%" />
                        <div class="text">Road Among The Mountains</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Carousel With Slide Show Mode" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitCarousel IsSlideShow="true">
                    <BitCarouselItem>
                        <div class="numbertext">1 / 4</div>
                        <img src="/images/carousel/img1.jpg" style="width:100%" />
                        <div class="text">Aurora</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">2 / 4</div>
                        <img src="/images/carousel/img2.jpg" style="width:100%" />
                        <div class="text">Beautiful Mountain</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">3 / 4</div>
                        <img src="/images/carousel/img3.jpg" style="width:100%" />
                        <div class="text">Forest In The Valley</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="numbertext">4 / 4</div>
                        <img src="/images/carousel/img4.jpg" style="width:100%" />
                        <div class="text">Road Among The Mountains</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>