@page "/components/searchbox"
@page "/components/search-box"

<PageOutlet Url="components/searchbox"
            Title="SearchBox"
            Description="searchbox component of the bit BlazorUI components" />
<div>
    <ComponentDemo ComponentName="SearchBox"
                   ComponentDescription="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   Notes="The BitSearchBox is a Multi-API component which can accept the list of Items in 3 different ways: BitSearchBoxItem class, a custom Generic class, and BitSearchBoxOption component.">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <_BitSearchBoxItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitSearchBoxCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitSearchBoxOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>
