@page "/components/toggle"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Toggle" OverviewDesc="A toggle represents a physical switch that allows someone to choose between two mutually exclusive options.  For example, “On/Off”, “Show/Hide”. Choosing an option should produce an immediate result."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitToggle" Description="">
        <SampleContent>
            <div class="m-t-15">
                <BitToggle Label="Enabled and checked" @bind-IsChecked="IsToggleChecked" IsEnabled="true" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Enabled and unchecked" @bind-IsChecked="IsToggleUnChecked" IsEnabled="true" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Disabled and checked" IsChecked="true" IsEnabled="false" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Disabled and unchecked" IsChecked="false" IsEnabled="false" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="With inline label" @bind-IsChecked="IsToggleUnChecked" IsEnabled="true" IsInlineLabel="true" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Disabled with inline label" IsChecked="false" IsEnabled="false" IsInlineLabel="true" OnText="On" OffText="Off" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="With inline label and without onText and offText" @bind-IsChecked="IsToggleUnChecked" IsEnabled="true" IsInlineLabel="true" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Disabled With inline label and without onText and offText" IsChecked="false" IsEnabled="false" IsInlineLabel="true" />
            </div>
            <div class="m-t-15">
                <BitToggle Label="Enabled and checked (ARIA 1.0 compatible)" @bind-IsChecked="IsToggleChecked" IsEnabled="true" OnText="On" OffText="Off" Role="Checkbox" />
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="dark-green">BitToggle Label</span>="Enabled and checked" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>IsToggleChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Enabled and unchecked" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>IsToggleUnChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Disabled and checked" <span class="dark-green">IsChecked="</span><span class="light-blue">true" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"false"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Disabled and unchecked" <span class="dark-green">IsChecked="</span><span class="light-blue">false" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"false"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="With inline label" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>IsToggleUnChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green">IsInlineLabel=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Disabled with inline label" <span class="dark-green">IsChecked="</span><span class="light-blue">false" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"false"</span> <span class="dark-green">IsInlineLabel=</span>"<span class="light-blue">true</span>"<span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="With inline label and without onText and offText" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>IsToggleUnChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green">IsInlineLabel=</span>"<span class="light-blue">true</span>"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Disabled With inline label and without onText and offText" <span class="dark-green">IsChecked=</span><span class="light-blue">"false" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"false"</span> <span class="dark-green">IsInlineLabel=</span><span class="light-blue">"true"</span>><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
               &lt<span class="dark-green">BitToggle Label</span>="Enabled and checked (ARIA 1.0 compatible)" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span>IsToggleChecked" <span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off" <span class="dark-green">Role=</span>"Checkbox"><span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>

               <span class="light-yellow-bg">&#64;code {</span>
                     <span class="light-blue">private bool </span>IsToggleChecked = <span class="light-blue">true</span>;
                     <span class="light-blue">private bool </span>IsToggleUnChecked = <span class="light-blue">false</span>;
               <span class="light-yellow-bg">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Toggles with Custom Labels" Description="">
        <SampleContent>
            <div class="m-t-15">
                <BitToggle @bind-IsChecked="IsToggleUnChecked" IsEnabled="true" OnText="On" OffText="Off">
                    <LabelFragment>
                        Custom label
                    </LabelFragment>
                </BitToggle>
                </div>
                <div class="m-t-15">
                    <BitToggle @bind-IsChecked="BindedIsToggleUnChecked" IsEnabled="true" OnText="On" OffText="Off" IsInlineLabel="true">
                        <LabelFragment>
                            Custom inline label
                        </LabelFragment>
                    </BitToggle>
                <div class="m-t-15">
                    <BitButton Class="m-t-15" OnClick="() => BindedIsToggleUnChecked = true">Make Toggle Check</BitButton>
                </div>
                  </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitToggle </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>IsToggleUnChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off">
                <span class="m-l-30">&lt<span class="dark-green">LabelFragment></span></span>
                      <span class="m-l-45">Custom inline label</span>
                <span class="m-l-30">&lt/</span><span class="dark-green">LabelFragment</span><span>&gt;</span>
                <span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
                &lt<span class="dark-green">BitToggle </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked="</span><span>BindedIsToggleUnChecked" </span><span class="dark-green">IsEnabled=</span><span class="light-blue">"true"</span> <span class="dark-green"> OnText</span>="On"<span class="dark-green"> OffText</span>="Off" <span class="dark-green">IsInlineLabel=</span><span class="light-blue">"true"</span>>
                <span class="m-l-30">&lt<span class="dark-green">LabelFragment></span></span>
                      <span class="m-l-45">Custom inline label</span>
                <span class="m-l-30">&lt/</span><span class="dark-green">LabelFragment</span><span>&gt;</span>
                <span>&lt/</span><span class="dark-green">BitToggle</span><span>&gt;</span>
                &lt<span class="dark-green">BitButton OnClick</span>="() => BindedIsToggleUnChecked = <span class="light-blue">true</span>">Make Toggle Check<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>

                <span class="light-yellow-bg">&#64;code {</span>
                      <span class="light-blue">private bool </span>BindedIsToggleUnChecked = <span class="light-blue">false</span>;
                      <span class="light-blue">private bool </span>IsToggleUnChecked = <span class="light-blue">false</span>;
                <span class="light-yellow-bg">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>