@font-face {
    font-family: 'Fabric MDL2 Assets';
    src: url('../fonts/fabric-icons.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaExtraBoldItalic.otf') format('opentype');
    font-weight: 800; // ExtraBold Italic
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaBold.otf') format('opentype');
    font-weight: 700; // Bold
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaSemiBold.otf') format('opentype');
    font-weight: 600; // Semi-Bold
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaMedium.otf') format('opentype');
    font-weight: 500; // Medium
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaRegular.otf') format('opentype');
    font-weight: 400; // Regular
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaLight.otf') format('opentype');
    font-weight: 300; // Light
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/AxiformaThin.otf') format('opentype');
    font-weight: 100; // Thin
}
