@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma ExtraBold Italic.otf') format('opentype');
    font-weight: 800; // ExtraBold Italic
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma Bold.otf') format('opentype');
    font-weight: 700; // Bold
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma SemiBold.otf') format('opentype');
    font-weight: 600; // Semi-Bold
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma Medium.otf') format('opentype');
    font-weight: 500; // Medium
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma Regular.otf') format('opentype');
    font-weight: 400; // Regular
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma Light.otf') format('opentype');
    font-weight: 300; // Light
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma/otf/Axiforma Thin.otf') format('opentype');
    font-weight: 100; // Thin
}
