@import 'fonts.scss';
@import '../../Styles/_shared.scss';

* {
    font-family: "Axiforma";
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    @include h1-xl;

    @include lg {
        @include h1-lg;
    }

    @include md {
        @include h1-md;
    }

    @include sm {
        @include h1-sm;
    }
}

h2 {
    @include h2-xl;

    @include lg {
        @include h2-lg;
    }

    @include md {
        @include h2-md;
    }

    @include sm {
        @include h2-sm;
    }
}

h3 {
    @include h3-xl;

    @include lg {
        @include h3-lg;
    }

    @include md {
        @include h3-md;
    }

    @include sm {
        @include h3-sm;
    }
}

h4 {
    @include h4-xl;

    @include lg {
        @include h4-lg;
    }

    @include md {
        @include h4-md;
    }

    @include sm {
        @include h4-sm;
    }
}

h5 {
    @include h5-xl;

    @include lg {
        @include h5-lg;
    }

    @include md {
        @include h5-md;
    }

    @include sm {
        @include h5-sm;
    }
}

pre {
    margin-left: rem(-70px);

    @include md {
        margin-left: rem(-52px);
    }

    @include sm {
        margin-left: rem(-48px);
    }
}

.bit-icon {
    height: 0;
}

input::-webkit-input-placeholder {
    color: $DarkBlue;
    font-size: rem(14px);
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 0;
}

/* Header */

.header-menu {
    display: flex;
    list-style-type: none;
    padding-left: rem(47px);
    position: relative;

    @include lg {
        padding-left: rem(20px);
    }

    @include md {
        padding-left: rem(12px);
    }

    @include sm {
        padding-left: rem(35px);
        margin-top: rem(12px);
    }

    .active {
        position: relative;
    }

    .active:before {
        position: absolute;
        bottom: rem(-12px);
        left: rem(40px);
        height: rem(3px);
        width: 50%;
        background-color: $DarkBlue;
        content: "";

        @include lg {
            left: rem(22px);
            width: 60%;
        }

        @include md {
            left: rem(19px);
            width: 60%;
        }

        @include sm {
            left: rem(5px);
            width: 90%;
        }
    }

    a, a:hover, a:visited {
        color: $DarkBlue;
        font-size: rem(28px);
        font-weight: 500;
        padding: 0 rem(40px) 0 rem(42px);
        text-decoration: none;

        @include lg {
            padding: 0 rem(20px) 0 rem(20px);
            font-size: rem(24px);
        }

        @include md {
            padding: 0 rem(20px) 0 rem(20px);
            font-size: rem(18px);
        }

        @include sm {
            padding: 0 rem(23px) 0 rem(23px);
            font-size: rem(14px);
        }
    }
}

/* Footer */

footer {
    border-top: rem(6px) solid $Green;
    display: flex;
    align-items: center;
    padding-left: rem(440px);
    height: rem(84px);
    background: $DarkBlue;
    position: relative;

    @include lg {
        padding-left: rem(98px);
        height: rem(64px);
    }

    @include md {
        padding-left: rem(15px);
        height: rem(38px);
    }

    @include sm {
        padding-left: rem(7px);
        height: rem(32px);
    }

    span {
        padding: rem(20px);
        font-size: rem(20px);

        @include lg {
            font-size: rem(16px);
        }

        @include lt-lg {
            font-size: rem(12px);
        }
    }

    .bit-lnk-fluent a, .bit-lnk-fluent > a:active, .bit-lnk-fluent > a:hover, .bit-lnk-fluent > a:visited {
        font-family : Axiforma;
        text-decoration: none;
        color: $White;
    }
}
/* Nav Menu */

/* Main container*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: rem(80px);

    @include md {
        margin-top: rem(65px);
    }

    @include sm {
        margin-top: rem(96px);
    }
}

.content {
    width: calc(100% - 360px);
    margin-left: auto;

    @include lg {
        flex: 65%;
    }

    @include lt-xl {
        width: 100%;
    }

    @include sm {
        flex: 65%;
    }

    .box .bit-lnk-fluent > a:active, .bit-lnk-fluent > a:hover, .bit-lnk-fluent > a:visited {
        text-decoration: none;
        color: $White;
    }
}

/* Nav Menu */

.navbar {
    .search-box {
        width: 82%;
        position: relative;
        margin-left: rem(30px);
        height: rem(40px);
        background: $White;
        border: rem(1px) solid $DarkBlue;
        box-sizing: border-box;
        border-radius: rem(2px);

        @include lg {
            width: 89%;
            margin-left: rem(16px);
        }

        @include md {
            margin-left: rem(32px);
        }

        @include sm {
            margin-left: rem(24px);
        }

        & > div:first-child {
            background-image: url("/images/icon/search-icon.svg");
            width: rem(20px);
            height: rem(20px);
            margin: rem(8px) 0 0 rem(4px);
        }

        input {
            padding-left: rem(8px);
            position: relative;
            top: rem(2px);
        }
    }

    .nav-link {
        padding-top: rem(8px);

        .bit-icon--ChevronDown {
            transform: rotate(-90deg);
        }

        .bit-nav-expand-fluent {
            transform: rotate(0deg);
        }

        .bit-nav-grp-chevron-btn {
            border: none;
        }

        .bit-nav-chevron-btn {
            width: 90%;
            color: $DarkBlue;
            font-weight: 600;
            font-size: rem(18px);
            margin-left: rem(15px);

            @include lg {
                font-size: rem(16px);
            }

            @include sm {
                white-space: unset;
                line-height: rem(22px);
            }
        }

        .bit-nav-link-enabled-hasurl-fluent:hover, .bit-nav-selected-fluent, .bit-nav-selected-fluent:hover {
            background-color: $Gray03;
            color: $Violet;
        }

        .bit-nav-link-enabled-hasurl-fluent {
            color: $DarkBlue;
            font-size: rem(18px);

            @include lg {
                font-size: rem(16px);
            }
        }

        .bit-nav-link-container {
            margin-left: rem(41px);
        }

        .bit-nav-selected-fluent:after {
            border-left: rem(4px) solid $Violet;
        }

        .bit-nav-grp-content {
            margin-bottom: 0;
        }

        .bit-sch-box-fluent > div:last-child button {
            background-color: $White;
        }

        .bit-icon--Clear {
            padding-right: rem(20px);
        }

        input.search-input {
            padding-top: rem(5px);
        }
    }
}

.nav-container .bit-lnk {
    margin-left: rem(43px);

    a, a:hover, a:visited {
        font-family: Axiforma;
        color: $DarkBlue;
        font-weight: 600;
        font-size: rem(18px);
        text-decoration: none;

        @include lg {
            font-size: rem(16px);
        }
    }
}

/* Demo Page */

.component-siderail {
    ul.bit-nav-list:before {
        position: absolute;
        content: "";
        width: 1px;
        height: rem(370px);
        background: $Gray02;
        top: rem(-20px);
        left: 0;
    }

    .bit-lnk-fluent a {
        color: $Gray01;

        @include subtitle2-xl;

        @include lg {
            @include subtitle2-lg;
        }

        @include md {
            @include subtitle2-md;
        }

        @include sm {
            @include subtitle2-sm;
        }
    }

    .bit-lnk-fluent a:hover {
        text-decoration: none;
        color: $Violet;
    }

    .link-container li:hover {
        background-color: $Gray04;
    }

    .bit-nav-link-container .bit-nav-link-txt {
        margin-left: rem(-20px);
    }

    .bit-nav-link-enabled-hasurl-fluent {
        margin-left: rem(15px);
    }

    .bit-nav-composite-link:hover {
        background-color: transparent;
    }
}

.how-to-use {
    text-justify: auto;
    color: $Black01;

    @include subtitle2-xl;

    @include lg {
        @include subtitle2-lg;
    }

    @include md {
        @include subtitle2-md;
    }

    @include sm {
        @include subtitle2-sm;
    }
}

.copy-btn {
    color: $Violet;
    border: 1px dashed;

    @include subtitle2-xl;

    @include lg {
        @include subtitle2-lg;
    }

    @include md {
        @include subtitle2-md;
    }

    @include sm {
        @include subtitle2-sm;
    }

    .bit-icon--Copy {
        color: $Violet !important;
    }
}

.copy-btn:hover {
    color: $Violet;
}

.show-code-btn, .show-code-btn:hover {
    @include code-button;
    background-color: $Violet;
}

.hide-code-btn, .hide-code-btn:hover {
    @include code-button;
    background-color: $White;
    color: $Violet;
}

.table .bit-lnk > a {
    color: $Violet;
}

.disable-btn {
    @include md {
        margin-top: rem(10px);
        width: rem(241px);
    }

    @include sm {
        margin-top: rem(10px);
        width: rem(241px);
    }
}

.label-btn {
    @include sm {
        margin-top: rem(10px);
        width: rem(284px);
    }
}

.lnk-btn {
    @include sm {
        margin-top: rem(10px);
        width: rem(240px);
    }
}

.chk-box .bit-chb-lbl {
    margin-bottom: rem(10px);
}

.custom-button, .custom-button:hover {
    background-color: $DarkRed;
    border-color: $DarkRed;
    color: $White;
    text-decoration: underline;
    font-weight: bolder;
}

.disable-cmp-btn {
    @include md {
        margin-top: rem(10px);
        width: rem(214px);
    }
}

.bit-cmp-btn {
    @include sm {
        margin-top: rem(10px);
        width: rem(278px);
    }
}

.custom-spb {
    .bit-spb-wrapper {
        & span {
            & button:first-child:active {
                color: rgb(50, 49, 48);
                background-color: green;
            }

            & button:nth-child(2):active {
                color: rgb(50, 49, 48);
                background-color: red;
            }
        }
    }
}

.custom-drp-lbl-ic {
    width: 32px;
    height: 32px;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 0 4px;
    border-radius: 2px;
    background-color: transparent;
    color: #0078d4;
    margin-bottom: -8px;
    user-select: none;

    &:hover {
        color: #106EBE;
        background-color: #f3f2f1;
    }
}

.spinner-container, spinner-positioning {
    & > div {
        & label {
            font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            font-weight: 600;
            color: rgb(50, 49, 48);
            box-sizing: border-box;
            box-shadow: none;
            display: block;
            padding: 5px 0px;
            overflow-wrap: break-word;
        }
    }
}

.sample {
    .ch-group .bit-txt {
        margin-bottom: rem(25px);
    }

    .bit-chg label {
        padding-bottom: rem(20px);
    }

    .bit-sch-box {
        margin-bottom: rem(12px);
    }

    .bit-txt-wrapper {
        margin-bottom: rem(20px);
    }

    .bit-tgl > div {
        margin-top: rem(10px);
    }

    .bit-tgl > div label {
        margin-top: rem(12px);
    }

    .bit-tgl-inline-fluent > div {
        margin-top: 0;
    }

    .bit-slider-container {
        padding: rem(30px) 0;
    }

    .bit-btn-slider {
        margin-bottom: rem(30px);
    }

    .bit-slider-ranged-vertical .bit-slider-value, .bit-slider-vertical .bit-slider-value {
        margin-top: rem(30px);
    }

    .bit-slider-vertical {
        padding: rem(20px);
    }

    .bit-drp-lbl {
        padding-bottom: rem(20px);
    }

    .bit-msg-bar-icon {
        padding-top: rem(13px);
    }

    .bit-msg-bar-innertext span {
        padding-top: rem(6px);
    }

    .tgl-btn {
        @include sm {
            margin-top: rem(10px);
            width: rem(195px);
        }
    }

    .aria-hidden-tgl-btn {
        @include sm {
            margin-top: rem(10px);
            width: rem(239px);
        }
    }

    .p-12 .bit-tgl label {
        padding-bottom: rem(15px);
    }

.bit-icon {
    height: 0;
}

input::-webkit-input-placeholder {
    color: $DarkBlue;
    font-size: rem(14px);
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 0;
}
/*------------------------common styles-----------------------------------*/
.container {
    margin: auto;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* Colors */

.dark-green {
    color: $DarkGreen;
}

.light-green {
    color: $LightGreen;
}

.light-blue {
    color: $LightBlue;
}

.dark-orange {
    color: $DarkOrange;
}

.neon-yellow {
    color: $NeonYellow;
}

.dark-yellow {
    color: $DarkYellow;
}

.dark-cyan {
    color: $DarkCyan;
}

.light-purple {
    color: $LightPurple;
}

.light-yellow-bg {
    background-color: $LightYellow;
}    