@page "/components/choice-group"

<ComponentDemo ComponentName="ChoiceGroup"
               ComponentDescription="ChoiceGroup let people select a single option from two or more choices."
               ComponentParameters="componentParameters">

   <ComponentExampleBox Title="BitChoiceGroup">
        <ExamplePreview>
            <div class="example-desc">To create a ChoiceGroup you can use a BitChoiceGroup component</div>
          
            <BitChoiceGroup Options="BitChoiceGroupOptions" Label="test" DefaultSelectedKey="e">
                
            </BitChoiceGroup>

        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>