@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.page-header {
    display: flex;
    align-items: center;
    margin-bottom: rem2(37px);

    @include sm {
        margin-bottom: rem2(29px);
    }
}

.loading-contianer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin: 0;
    font-weight: 700;
    font-size: rem2(24px);
    line-height: rem2(32px);

    @include md {
        font-weight: 600;
        font-size: rem2(20px);
        line-height: rem2(28px);
    }

    @include sm {
        font-weight: 600;
        font-size: rem2(18px);
        line-height: rem2(24px);
    }
}

.form-input-container {
    width: 100%;
    max-width: rem2(388px);
    margin-bottom: rem2(30px);
}

.form-message-bar {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: rem2(4px) rem2(4px) 0 0;
}

.form-profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: rem2(33px);
    justify-content: flex-start;
}

.form-input-error {
    font-size: rem2(12px);
    line-height: rem2(16px);
    color: $bit-color-state-error;
}

.form-choice-container {
    width: 100%;
    max-width: rem2(340px);
    margin-bottom: rem2(19px);

    @include md {
        margin-bottom: rem2(25px);
    }

    @include sm {
        max-width: 100%;
    }
}

::deep {
    form {
        width: 100%;
    }

    .back-btn {
        margin-right: rem2(10px);
    }

    .validation-message {
        color: $bit-color-state-error;
    }
}
