@import "../../../Styles/functions.scss";

.bit-dtrp {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    font-size: spacing(2.25);
    font-family: $typography-font-family;

    &.bit-dis {
        .bit-dtrp-lbl {
            color: $color-foreground-disabled;
        }

        .bit-dtrp-icn {
            cursor: default;
            pointer-events: none;
            color: $color-foreground-disabled;
            background: none $color-background-disabled;
            border: $shape-border-width $shape-border-style $color-border-disabled;
        }

        .bit-dtrp-ico {
            cursor: default;
            color: $color-foreground-disabled;
        }

        .bit-dtrp-inp {
            cursor: default;
            color: $color-foreground-disabled;
            background: none $color-background-disabled;
        }
    }

    &.bit-inv {
        .bit-dtrp-icp {
            border-color: $color-state-error;
        }
    }
}

.bit-dtrp-lbl {
    margin: 0;
    display: block;
    box-shadow: none;
    font-weight: 600;
    box-sizing: border-box;
    padding: spacing(0.5) 0;
    font-size: spacing(1.75);
    overflow-wrap: break-word;
    color: $color-foreground-primary;
}

.bit-dtrp-wrp {
    position: relative;
}

.bit-dtrp-icn {
    margin: 0;
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    box-shadow: none;
    height: spacing(4);
    position: relative;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 spacing(1);
    box-sizing: border-box;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
    border: $shape-border-width $shape-border-style $color-border-primary;
}

.bit-dtrp-ico {
    padding: 0;
    cursor: pointer;
    color: $color-foreground-secondary;
}

.bit-dtrp-clr {
    display: flex;
    width: spacing(3.75);
    height: spacing(3.75);
    justify-content: center;
    align-items: center;
    background-color: $color-background-secondary;
    cursor: pointer;

    i {
        speak: none;
        width: unset;
        pointer-events: none;
        display: inline-block;
        font-size: spacing(1.5);
        color: $color-foreground-secondary;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtrp-inp {
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
    height: 100%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    font-weight: 400;
    border-radius: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: spacing(1.75);
    background: none transparent;
    color: $color-foreground-primary;
    font-family: $typography-font-family;
}

.bit-dtrp-ein {
    cursor: default;
}

.bit-dtrp-lic {
    .bit-dtrp-icn {
        flex-direction: row-reverse;
    }

    .bit-dtrp-ico {
        padding-left: 0;
        padding-right: spacing(1);
    }
}

.bit-dtrp-foc {
    .bit-dtrp-icn::after {
        content: "";
        position: absolute;
        pointer-events: none;
        inset: spacing(-0.125);
        border-radius: $shape-border-radius;
        border: spacing(0.25) $shape-border-style $color-primary-main;
    }
}

.bit-dtrp-cal {
    display: none;
    position: fixed;
    font-weight: 400;
    outline: transparent;
    box-sizing: border-box;
    z-index: $zindex-callout;
    font-size: spacing(1.75);
    box-shadow: $box-shadow-callout;
    border-radius: $shape-border-radius;
    font-family: $typography-font-family;
}

.bit-dtrp-rsp {
    .bit-dtrp-dwp,
    .bit-dtrp-mwp {
        flex-grow: 1;
    }

    .bit-dtrp-pkh {
        min-height: spacing(5.5);
    }

    .bit-dtrp-pkc {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bit-dtrp-pkr {
        height: 100%;
    }

    .bit-dtrp-nbt,
    .bit-dtrp-gtb,
    .bit-dtrp-gtn,
    .bit-dtrp-wlb,
    .bit-dtrp-dbt,
    .bit-dtrp-pkb,
    .bit-dtrp-wnm {
        width: 100%;
        height: 100%;
        display: flex;
        aspect-ratio: 1;
        max-width: unset;
        align-items: center;
        font-size: spacing(2);
        justify-content: center;
    }

    .bit-dtrp-nbt,
    .bit-dtrp-gtb,
    .bit-dtrp-gtn {
        width: spacing(5.5);
    }

    .bit-dtrp-wlb {
        font-weight: bold;
    }

    .bit-dtrp-grp {
        justify-content: center;
    }

    .bit-dtrp-tdv {
        font-size: spacing(7);
    }

    .bit-dtrp-tin {
        width: 100%;
        min-width: spacing(7);
        max-width: spacing(12);
        font-size: spacing(5);
    }

    .bit-dtrp-tbt {
        width: 100%;
        min-width: spacing(7);
        max-width: spacing(12);
        font-size: spacing(3);
    }

    .bit-dtrp-bam,
    .bit-dtrp-bpm {
        width: 100%;
        font-size: spacing(4);
        margin: spacing(0.25);
    }

    .bit-dtrp-tic {
        display: flex;
    }
}

.bit-dtrp-cac {
    height: 100%;
    outline: none;
    position: relative;
    overflow: hidden auto;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
}

.bit-dtrp-grp {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    animation-duration: 167ms;
    animation-fill-mode: both;
    animation-name: bit-fade-in, bit-slide-down;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}

.bit-dtrp-sdt {
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: spacing(0.125);
}

.bit-dtrp-dwp {
    margin: 0;
    display: flex;
    box-shadow: none;
    padding: spacing(1.5);
    min-width: spacing(26);
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtrp-dgd {
    border-spacing: 0;
    position: relative;
    text-align: center;
    font-size: inherit;
    table-layout: fixed;
    margin-top: spacing(0.5);
    border-collapse: collapse;
    margin-bottom: spacing(1.25);
}

.bit-dtrp-dgh,
.bit-dtrp-dgr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.bit-dtrp-wlb {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    aspect-ratio: 1;
    font-weight: 400;
    position: relative;
    text-align: center;
    font-size: spacing(1.5);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    animation-name: bit-fade-in;
    color: $color-foreground-primary;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtrp-dbt {
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    overflow: visible;
    position: relative;
    width: spacing(3.5);
    align-items: center;
    height: spacing(3.5);
    outline: transparent;
    font-weight: inherit;
    box-sizing: border-box;
    font-size: spacing(1.5);
    line-height: spacing(3);
    justify-content: center;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:active {
        background-color: $color-action-active-background-primary;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $color-foreground-disabled;
    }
}

.bit-dtrp-dbo {
    font-weight: 400;
    color: $color-foreground-secondary;
}

.bit-dtrp-dtd {
    font-weight: 600;
    border-radius: 50%;
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media(hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }

    &:active {
        background-color: $color-action-active-primary;
    }
}

.bit-dtrp-dss {
    color: $color-primary-text;
    background-color: $color-primary-main;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-end-start-radius: spacing(1);
    border-start-start-radius: spacing(1);

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-dse {
    color: $color-primary-text;
    background-color: $color-primary-main;
    border-end-end-radius: spacing(1);
    border-start-end-radius: spacing(1);
    border-end-start-radius: 0;
    border-start-start-radius: 0;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-dsse {
    border-radius: spacing(1);
}

.bit-dtrp-dsb {
    border-radius: 0;
    color: $color-foreground-primary;
    background-color: $color-primary-light;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-wnm {
    display: flex;
    font-weight: 400;
    width: spacing(3.5);
    align-items: center;
    height: spacing(3.5);
    box-sizing: border-box;
    font-size: spacing(1.5);
    justify-content: center;
    padding: spacing(0.375) 0 0 0;
    color: $color-foreground-secondary;
    background-color: $color-background-secondary;
    border-inline-end: $shape-border-width $shape-border-style $color-border-secondary;
}

.bit-dtrp-pkh {
    width: 100%;
    position: relative;
    height: spacing(3.5);
    display: inline-flex;
    line-height: spacing(5.5);
}

.bit-dtrp-tph {
    justify-content: end;
    margin-top: spacing(0.5);
    padding-right: spacing(0.5);
}

.bit-dtrp-pkt,
.bit-dtrp-ptb {
    margin: 0;
    border: none;
    cursor: text;
    flex-grow: 1;
    overflow: hidden;
    font-weight: 600;
    text-align: start;
    position: relative;
    align-items: center;
    white-space: nowrap;
    outline: transparent;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 0 spacing(1.25);
    font-size: spacing(1.75);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    animation-name: bit-fade-show;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtrp-ptb {
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtrp-nbc {
    display: flex;
    align-items: center;
}

.bit-dtrp-nbt,
.bit-dtrp-gtb,
.bit-dtrp-gtn {
    padding: 0;
    border: none;
    display: block;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.5);
    height: spacing(3.5);
    outline: transparent;
    font-size: spacing(1.5);
    min-width: spacing(3.5);
    min-height: spacing(3.5);
    line-height: spacing(3.5);
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;

        .bit-dtrp-gti,
        .bit-icon {
            color: $color-foreground-disabled;
        }
    }
}

.bit-dtrp-tbt {
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.75);
    outline: transparent;
    line-height: spacing(3.75);
    font-size: spacing(1.5);
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;
    aspect-ratio: 1;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:active {
        background-color: $color-action-hover-background-primary;
    }

    i {
        speak: none;
        width: 100%;
        display: flex;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $color-foreground-disabled;

        i {
            color: $color-foreground-disabled;
        }
    }
}

.bit-dtrp-dvd {
    top: 0;
    border-right: $shape-border-width $shape-border-style $color-border-secondary;
}

.bit-dtrp-mwp {
    margin: 0;
    display: flex;
    overflow: hidden;
    box-shadow: none;
    padding: spacing(1.5);
    min-width: spacing(26);
    box-sizing: content-box;
    flex-flow: column nowrap;
    min-width: spacing(24.5);
}

.bit-dtrp-pkc {
    margin-top: spacing(0.5);
    margin-bottom: spacing(1.5);
}

.bit-dtrp-pkr {
    display: flex;
    margin-bottom: spacing(2);
    justify-content: space-evenly;

    &:last-child {
        margin: 0;
    }
}

.bit-dtrp-pkb {
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: spacing(6);
    position: relative;
    white-space: nowrap;
    outline: transparent;
    max-width: spacing(7);
    font-size: spacing(1.5);
    line-height: spacing(5);
    text-overflow: ellipsis;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $color-foreground-disabled;
    }
}

.bit-dtrp-psm {
    font-weight: 600;
    background-color: $color-background-secondary;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtrp-pcm {
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media (hover: hover) {
        &:hover {
            color: $color-action-hover-secondary;
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-tic {
    margin: 0;
    padding: 0 spacing(2.5) spacing(2) spacing(2.5);
}

.bit-dtrp-sic,
.bit-dtrp-eic {
    margin: 0;
    padding: 0;
    flex: 0.85;
    display: flex;
    outline: none;
    direction: ltr;
    gap: spacing(1);
    box-shadow: none;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    justify-content: center;
}

.bit-dtrp-tpr {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: spacing(0.25);
}

.bit-dtrp-tdv {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: spacing(2.5);
    font-weight: $typography-font-weight;
}

.bit-dtrp-am-pm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: spacing(2);
    padding: spacing(1.6) 0;
}

.bit-dtrp-tin {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: spacing(3.75);
    box-sizing: border-box;
    justify-content: center;
    -moz-appearance: textfield; // Firefox
    background-color: $color-background-primary;
    font-size: spacing(2.28);
    font-weight: $typography-font-weight;
    overflow: hidden;
    aspect-ratio: 1;

    &::-webkit-inner-spin-button, // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus {
        border: none;
        border-bottom: $shape-border-width $shape-border-style $color-action-active-border-primary;
        outline: none;
    }
}

.bit-dtrp-bam,
.bit-dtrp-bpm {
    font-size: spacing(1.8);
    font-weight: $typography-font-weight;
}

.bit-dtrp-bns,
.bit-dtrp-bns:disabled {
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }

    &:active {
        background-color: $color-action-active-primary;
    }
}

.bit-dtrp-twp {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: none;
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtrp-ovl {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: $zindex-overlay;
    background-color: transparent;
}

.bit-dtrp-und {
    .bit-dtrp-wrp {
        width: 100%;
        display: flex;
        border-bottom: $shape-border-width $shape-border-style $color-border-primary;
    }

    .bit-dtrp-icn {
        border: none;
        flex: 1 1 0px;
        text-align: left;
    }

    &.bit-dis {
        .bit-dtrp-wrp {
            border-bottom-color: $color-border-disabled;
        }
    }

    &.bit-dtrp-foc {
        .bit-dtrp-icn::after {
            border: none;
            border-radius: 0;
            border-bottom: spacing(0.25) $shape-border-style $color-border-primary;
        }
    }
}

.bit-dtrp-nbd {
    .bit-dtrp-icn {
        border: none;
    }
}
