@using Bit.Bup.Demo.Web
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Web
@namespace Bit.Bup.Demo.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <title>Bit Bup Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="Bit.Bup.Demo.Client.styles.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.min.css" asp-append-version="true">*@
    <script src="_content/Bit.Bup/bit-bup.progress.min.js" asp-append-version="true"></script>
</head>
<body>

    <div id="app-container">
        @RenderBody()
    </div>

    <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version="true"></script>
    <script src="_content/Bit.Bup/bit-bup.min.js" log="none" handler="bitBupHandler" asp-append-version="true"></script>
    
    <component type="typeof(Bit.Bup.Demo.Client.Shared.BupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
    @*<component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
               param-ShowAssets="false"
               param-ShowLogs="false"
               param-AutoHide="true"
               param-HideApp="true"
               param-AppContainer="@("#app-container")" />*@
</body>
</html>
