@page "/theming"

<PageTitle>Bit BlazorUI - Theming</PageTitle>

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Theming</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            In Bit, colors are defined in CSS and SCSS variables, allowing for easy customization and flexibility, These colors are part of fluent design system and contains both dark and light mode colors that you can theme your app in anyway you like.
        </BitTypography>
    </section>
</div>