@page "/theming"

<PageTitle>Bit BlazorUI - Theming</PageTitle>

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Theming</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            In Bit, colors are defined in CSS and SCSS variables, allowing for easy customization and flexibility, These colors are part of fluent design system and contains both dark and light mode colors that you can theme your app in anyway you like.
        </BitTypography>
    </section>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Gutter>Theming Basics</BitTypography>
        <ol>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Light and Dark Themes</BitTypography>
            <ul>
                <li>
                    Bit BlazorUI Components offers support for both light and dark color schemes.
                </li>
                <li>
                    The light theme consists of a light background with darker text and primary colors.
                </li>
                <li>
                    The dark theme features a dark background with lighter text and accent colors.
                </li>
                <li>
                    Users can switch between these themes based on their preferences or the application's requirements.
                </li>
            </ul>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>CSS and SCSS Variables</BitTypography>
            <ul>
                <li>
                    The colors used in the Bit BlazorUI Components website are defined using CSS and SCSS variables.
                </li>
                <li>
                    CSS variables allow for dynamic color changes throughout the application.
                </li>
                <li>
                    SCSS variables, which can be compiled into CSS variables, offer enhanced features such as nesting and inheritance.
                </li>
            </ul>
        </ol>
    </section>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Gutter>Implementing Theming</BitTypography>
        <ol>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Theme CSS Variables</BitTypography>
            <ul>
                <li>
                    Open the CSS or SCSS file containing the theme variables for Bit BlazorUI Components.
                </li>
                <li>
                    Locate the section where the colors are defined.
                </li>
                <li>
                    Update the variable values to reflect the desired color scheme for the website.
                </li>
            </ul>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Applying Theme Colors</BitTypography>
            <ul>
                <li>
                    Bit BlazorUI Components utilize the defined CSS and SCSS variables to apply the appropriate colors.
                </li>
                <li>
                    For each component, verify that the styles are referencing the theme variables for colors.
                </li>
                <li>
                    Update the component styles or templates to use the appropriate theme variables for background colors, text colors, borders, etc.
                </li>
            </ul>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Theming Ready Components</BitTypography>
            <ul>
                <li>
                    Bit BlazorUI Components are designed to be theming ready, meaning they inherently support both light and dark themes.
                </li>
                <li>
                    When the theme is changed, the components should automatically adjust their appearance based on the updated theme variables.
                </li>
                <li>
                    Test the components after applying the theme changes to ensure they reflect the selected color scheme correctly.
                </li>
            </ul>
        </ol>
    </section>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Gutter>Additional Considerations</BitTypography>
        <ol>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Accessibility</BitTypography>
            <ul>
                <li>
                    While theming can enhance the visual experience, it is crucial to maintain accessibility standards.
                </li>
                <li>
                    Ensure that the contrast between text and background colors meets accessibility requirements.
                </li>
                <li>
                    Test the website using appropriate tools or guidelines to confirm accessibility compliance.
                </li>
            </ul>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Customizing Themes</BitTypography>
            <ul>
                <li>
                    Developers can go beyond the provided light and dark themes by creating custom themes.
                </li>
                <li>
                    Experiment with different color combinations by modifying the theme variables to achieve a unique look and feel.
                </li>
            </ul>
        </ol>
    </section>
</div>