@page "/todo-template/create-project"
@inherits AppComponentBase

<PageOutlet Url="todo-template/create-project"
            Title="Create project - TodoTemplate"
            Description="create project of the TodoTemplate of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>TodoTemplate</BitTypography>
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Create Project</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Install the necessary packages to start building with the bit TodoTemplate.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>CLI</BitTypography>
        <div class="section-card-txt">
            1. Install the TodoTemplate Template from the NuGet package manager:
        </div>
        <div class="code-box">dotnet new install Bit.TodoTemplate</div>
        <div class="section-card-txt">
            2. Create a new project using the installed Template:
        </div>
        <div class="code-box">dotnet new bit-todo</div>
        <div class="section-card-txt">
            <b>Note</b>: bit TodoTempalte accepts project name with --name (default is current folder name), --database default to 'SqlServer' among following options: 'SqlServer', 'Sqlite', 'Other' and --pipeline default to 'GitHub' among the following options: 'GitHub', 'Azure' (AzureDevOps pipelines), 'Other'.
        </div>
        <div class="code-box">dotnet new bit-todo --name MyProject --database sqlite --pipeline github</div>
        <div class="section-card-txt">
            <b>Note</b>: Create project in a folder that it's path is not too long (lots of nested folders) and avoid folders with space character in their names.
        </div>
    </section>
    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Visual Studio</BitTypography>
        <div class="section-card-txt">
            After installing the template using the CLI, you can also create a new project with the Visual Studio:
        </div>
        <div class="image-container">
            <img class="image" alt="Create new project" src="/images/templates/todo/create-project-todo.webp" />
        </div>
    </section>
</div>

<NavigationButtons Prev="Development prerequisites" PrevUrl="/todo-template/development-prerequisites" Next="Database" NextUrl="/todo-template/database" />
