@import "../../../Styles/functions.scss";

.bit-chb {
    cursor: pointer;
    width: fit-content;
    font-family: $tg-font-family;
    --bit-chb-ico-opa: 0;
    --bit-chb-ico-clr: #{$clr-fg-sec};
    --bit-chb-box-clr-brd: #{$clr-brd-pri};

    @media (hover: hover) {
        &:hover {
            --bit-chb-ico-opa: 1;
            --bit-chb-box-clr-bg: transparent;
            --bit-chb-box-clr-brd: #{$clr-brd-pri};
        }
    }

    &.bit-inv {
        --bit-chb-box-clr-brd: #{$clr-err};

        &.bit-chb-ckd {
            --bit-chb-box-clr-bg: #{$clr-err};
            --bit-chb-box-clr-brd: #{$clr-err};
            --bit-chb-ico-clr: #{$clr-err-text};
        }

        &.bit-chb-ind {
            --bit-chb-ico-clr-bg: #{$clr-err};
        }
    }

    &.bit-dis {
        cursor: default;
        color: $clr-fg-dis;
        pointer-events: none;
        --bit-chb-box-clr-brd: #{$clr-brd-dis};
        --bit-chb-ico-clr: #{$clr-fg-dis};
        --bit-chb-ico-clr-bg: #{$clr-bg-dis};

        &.bit-chb-ckd {
            --bit-chb-box-clr-bg: #{$clr-bg-dis};
            --bit-chb-box-clr-brd: #{$clr-bg-dis};
            --bit-chb-ico-clr: #{$clr-fg-dis};
        }

        &.bit-chb-ind {
            --bit-chb-ico-clr-bg: #{$clr-bg-dis};
        }
    }
}

.bit-chb-box {
    display: flex;
    cursor: inherit;
    overflow: hidden;
    position: relative;
    align-items: center;
    width: spacing(2.5);
    height: spacing(2.5);
    box-sizing: border-box;
    min-width: spacing(2.5);
    justify-content: center;
    transition-duration: 200ms;
    border-style: $shp-border-style;
    border-width: $shp-border-width;
    border-radius: $shp-border-radius;
    transition-property: background, border, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
    border-color: var(--bit-chb-box-clr-brd);
    background-color: var(--bit-chb-box-clr-bg);

    .bit-chb-ico {
        display: flex;
    }
}

.bit-chb-ico {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.1s;
    align-items: center;
    justify-content: center;
    font-size: spacing(1.375);
    color: var(--bit-chb-ico-clr);
    opacity: var(--bit-chb-ico-opa);
    background-color: var(--bit-chb-ico-clr-bg);
}

.bit-chb-txt {
    line-height: spacing(2.5);
}

.bit-chb-lbl {
    width: 100%;
    height: 100%;
    display: flex;
    gap: spacing(1);
    cursor: inherit;
    font-weight: 400;
    user-select: none;
    position: relative;
    align-items: center;
    font-size: spacing(1.75);
    justify-content: var(--bit-chb-lbl-justify-content);
    flex-direction: var(--bit-chb-lbl-flex-direction);
}


.bit-chb-ckd {
    --bit-chb-box-clr-bg: #{$clr-pri};
    --bit-chb-box-clr-brd: #{$clr-pri};
    --bit-chb-ico-opa: 1;
    --bit-chb-ico-clr: #{$clr-pri-text};

    @media (hover: hover) {
        &:hover {
            --bit-chb-box-clr-bg: #{$clr-pri-hover};
            --bit-chb-box-clr-brd: #{$clr-pri-hover};
            --bit-chb-ico-opa: 1;
            --bit-chb-ico-clr: #{$clr-pri-text};
        }
    }
}

.bit-chb-ind {
    --bit-chb-box-clr-bg: transparent;
    --bit-chb-box-clr-brd: #{$clr-pri};
    --bit-chb-ico-opa: 1;
    --bit-chb-ico-clr: #{$clr-pri-text};
    --bit-chb-ico-clr-bg: #{$clr-pri};

    @media (hover: hover) {
        &:hover {
            --bit-chb-box-clr-bg: transparent;
            --bit-chb-box-clr-brd: #{$clr-pri-hover};
            --bit-chb-ico-opa: 1;
            --bit-chb-ico-clr: #{$clr-pri-text};
            --bit-chb-ico-clr-bg: #{$clr-pri-hover};
        }
    }

    .bit-chb-ico {
        width: spacing(1.25);
        height: spacing(1.25);
        border-radius: $shp-border-radius;

        &:before {
            content: '';
        }
    }
}

.bit-chb-rvs {
    --bit-chb-lbl-justify-content: flex-end;
    --bit-chb-lbl-flex-direction: row-reverse;
}
