@import "../../../Styles/functions.scss";

.bit-chb {
    width: fit-content;
    font-family: $tg-font-family;

    @media (hover: hover) {
        &:hover {
            .bit-chb-box {
                .bit-icon {
                    opacity: 1;
                    color: $clr-fg-sec-hover;
                }
            }
        }
    }

    &.bit-inv {
        .bit-chb-box {
            border-color: $clr-err;
        }

        &.bit-chb-ckd {
            .bit-chb-box {
                background-color: $clr-err;
            }
        }

        &.bit-chb-ind {
            .bit-chb-box {
                .bit-icon {
                    background-color: $clr-err;
                }
            }
        }
    }

    &.bit-dis {
        pointer-events: none;

        .bit-chb-lbl {
            cursor: default;
        }

        .bit-chb-txt {
            color: $clr-fg-dis;
        }

        .bit-chb-box {
            border-color: $clr-brd-dis;

            .bit-icon {
                opacity: 1;
                color: $clr-bg-dis;
                background-color: $clr-bg-dis;
            }
        }

        &.bit-chb-ckd {
            .bit-chb-box {
                background-color: transparent;
                border-color: $clr-brd-dis;

                .bit-icon {
                    color: $clr-fg-dis;
                }
            }
        }
    }
}

.bit-chb-box {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    width: spacing(2.5);
    height: spacing(2.5);
    box-sizing: border-box;
    min-width: spacing(2.5);
    justify-content: center;
    transition-duration: 200ms;
    border-style: $shape-border-style;
    border-width: $shape-border-width;
    border-color: $clr-brd-pri;
    border-radius: $shape-border-radius;
    transition-property: background, border, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);

    .bit-icon {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        transition: 0.1s;
        align-items: center;
        justify-content: center;
        font-size: spacing(1.375);
    }
}

.bit-chb-txt {
    line-height: spacing(2.5);
}

.bit-chb-lbl {
    width: 100%;
    height: 100%;
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    font-weight: 400;
    user-select: none;
    position: relative;
    align-items: center;
    font-size: spacing(1.75);
}

.bit-chb-end {
    .bit-chb-lbl {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .bit-chb-box {
        margin: 0 0 0 spacing(0.5);
    }

    .bit-chb-txt {
        margin: 0 spacing(0.5) 0 0;
    }
}

.bit-chb-ckd {
    .bit-chb-box {
        border-color: $clr-pri;
        background-color: $clr-pri;

        .bit-icon {
            opacity: 1;
            color: $clr-pri-text;
        }
    }

    @media (hover: hover) {
        &:hover {
            .bit-chb-box {
                border-color: $clr-pri-hover;
                background-color: $clr-pri-hover;

                .bit-icon {
                    opacity: 1;
                    color: $clr-sec-hover;
                }
            }
        }
    }
}

.bit-chb-ind {
    .bit-chb-box {
        border-color: $clr-pri;
        background-color: $clr-bg-pri;

        .bit-icon {
            opacity: 1;
            width: spacing(1.25);
            height: spacing(1.25);
            display: inline-block;
            border-radius: spacing(0.375);
            background-color: $clr-pri;

            &:before {
                content: '';
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            .bit-chb-box {
                border-color: $clr-pri-hover;
                background-color: $clr-bg-pri;

                .bit-icon {
                    background-color: $clr-pri-hover;
                }
            }
        }
    }
}
