@page "/todo-template/contribute"

<div class="page-container">
    <h1 class="page-main-title">Contribute</h1>
    <div class="page-desc">
        There are many ways to contribute in the Bit platform projects:
    </div>
    <div class="section-card">
        <div class="section-card-txt">
            🔯 Give us a try and use bit platform nuget packages in your apps!
        </div>
        <div class="section-card-txt">
            🔯 <a target="_blank" href="https://github.com/bitfoundation/bitplatform/pulls">Code review</a>
        </div>
        <div class="section-card-txt">
            🔯 Fork/Star this project on the GitHub 😉
        </div>
        <div class="section-card-txt">
            🔯 Submit <a href="https://github.com/bitfoundation/bitplatform/issues/new?template=bug_report.yml">bugs</a> &amp; <a href="https://github.com/bitfoundation/bitplatform/issues/new?template=feature_request.yml">feature requests</a>
        </div>
        <div class="section-card-txt">
            🔯 Engage with other developers on <a target="_blank" href="https://stackoverflow.com/questions/tagged/bitplatform">Stack Overflow</a>
        </div>
    </div>
</div>

<NavigationButtons Prev="DevOps" PrevUrl="/todo-template/dev-ops" />