    @page "/todo-template/database"
@inherits AppComponentBase

<PageOutlet Url="todo-template/database"
            Title="Database - TodoTemplate"
            Description="how to configure the database of the todo template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Database</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Configure the database to work with the apps built with the Bit TodoTemplate.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Connection String</BitTypography>
        <div class="section-card-txt">
            Open <b>appsettings.json</b> file in <b>TodoTemplate.Server.Api</b> project and change the <b>ConnectionStrings</b> connection string if you want.
        </div>
        <div class="code-box">
            <pre><code>"ConnectionStrings": {
    "SqlServerConnectionString": "Data Source=.; Initial Catalog=TodoTemplateDb;Integrated Security=true;Application Name=Todo;"
}</code></pre>
        </div>
        <div class="section-card-txt">
            For Other Entity Framework supported databases, you need to configure the context that provides your preferred database. with change
            <b>UseSqlServer</b> method on <b>Api\Startup\Services.cs</b> file.
        </div>
        <div class="code-box">
            <pre><code>services.AddDbContext@("<AppDbContext>")(options =>
{
    options.UseSqlServer(configuration.GetConnectionString("SqlServerConnectionString"), sqlOpt =>
    {
        sqlOpt.UseQuerySplittingBehavior(QuerySplittingBehavior.SplitQuery);
    });
});</code></pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Migration</BitTypography>
        <div class="section-card-txt">
            To create and migrate the database to the latest version. You can use Entity Framework's built-in tools for migrations. 
            Open <b>Package Manager Console</b> in Visual Studio set <b>TodoTemplate.Server.Api</b> 
            as the Default Project and run the Update-Database command as shown below:
        </div>
        <div class="code-box">Update-Database</div>
    </section>
</div>

<NavigationButtons Prev="Create project" PrevUrl="/todo-template/getting-started" Next="Run" NextUrl="/todo-template/run" />