@page "/todo-template/development-prerequisites"

<div class="page-container">
    <h1 class="page-main-title">Development prerequisites</h1>
    <div class="page-desc">
        The prerequisites are separated into two development and evironment requirements.
    </div>
    <section class="section-card">
        <h2 class="section-card-title">Development requirements</h2>
        <div class="section-card-txt">
            <ul>
                <li>C# as the main development language.</li>
                <li><a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0" rel="nofollow">ASP.NET core blazor</a> as main development Back-End and Front-End framework</li>
                <li><a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwji-KOu0pj4AhWwm_0HHeZQDzoQFnoECAgQAQ&amp;url=https%3A%2F%2Fwww.w3schools.com%2Fcss%2F&amp;usg=AOvVaw0Xtbw_GBAChsgvZNkPLVGb" rel="nofollow">CSS </a>&amp; <a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwjvgoO60pj4AhUCi_0HHVmXBMkQFnoECAgQAQ&amp;url=https%3A%2F%2Fsass-lang.com%2F&amp;usg=AOvVaw0p_IRgLEbIPRGWtlW7Wph8" rel="nofollow">Sass </a>as stylesheet</li>
                <li><a href="https://docs.microsoft.com/en-us/ef/core/" rel="nofollow">Entity Framework Core</a> as ORM to communicate with the database</li>
                <li><a href="https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/introduction-to-aspnet-identity" rel="nofollow">ASP.NET Identity</a> with <a href="https://www.c-sharpcorner.com/article/jwt-authentication-and-authorization-in-net-6-0-with-identity-framework/" rel="nofollow">JWT </a>supporting for handling Authentication</li>
                <li>Swagger as OpenId for APi Documentation</li>
            </ul>
        </div>
    </section>

    <section class="section-card">
        <h2 class="section-card-title">Environment requirements</h2>
        <div class="section-card-txt">
            <ul>
                <li>
                    Microsoft Visual Studio 2022 - Preview Version 17.3.0 or higher with the following workloads and extention
                    <ul dir="auto">
                        <li>ASP.NET and web development</li>
                        <li>Net Multi-Platform App UI development</li>
                    </ul>
                </li>
				<li><a href="https://nodejs.org/en/download/" title="nodejs" rel="nofollow">nodejs</a></li>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=Failwyn.WebCompiler64" title="Web Compiler 2022+" rel="nofollow">Web Compiler 2022+</a></li>
                <li><a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" title="Sql server" rel="nofollow">Microsoft SQL Server Developer edition</a> Or change the EntityFramework DBContext database provide to make it work with your preferred database (find it in the Database section)</li>
            </ul>
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/todo-template/overview" Next="Getting Started" NextUrl="/todo-template/getting-started" />