@page "/todo-template/project-structure"

<div class="page-container">
    <h1 class="page-main-title">Project structure</h1>
    <div class="page-desc">
    </div>

    <section class="section-card">
        <h2 class="section-card-title">The Visual Studio Solution</h2>
        <div class="section-card-txt">
            The VS solution prepared by the Bit TodoTemplate has 5 Projects.
        </div>
        <div class="image-container">
            <img class="image" alt="TodoTemplate solution" width="398" height="317" src="/images/demo/todo-template-solution.webp" />
        </div>

        <div class="section-card-txt">
            <span class="bold-txt">TodoTemplate.Api</span>:
            This project contains server-side codes including Controllers, Data access layer (EntityFramework ORM), Identity, etc.
        </div>
        <div class="section-card-txt">
            <span class="bold-txt">TodoTemplate.App</span>:
            This project contains code related to building an app, although much of the code is common to the web project and refers to it.
        </div>
        <div class="section-card-txt">
            <span class="bold-txt">TodoTemplate.Iac</span>:
            Infrastructure as Code (IaC) is the managing and provisioning of infrastructure through code instead of through manual processes. This project contains the necessary code to provide this feature.
            You don't have to use either Pulumi or even Azure, Host it wherever you want.
        </div>
        <div class="section-card-txt">
            <span class="bold-txt">TodoTemplate.Shared</span>: This project is shared on both the server (Api project) and client(Web, App projects) sides, and can share code. The bit puts the code it wants to reuse; Like resources, Dtos, shared contracts, services, etc.
        </div>
        <div class="section-card-txt">
            <span class="bold-txt">TodoTemplate.Web</span>: This project contains the necessary code to build the project UI, whether it is a web output or an application. And includes components and pages made with the help of Razor and Style sheet
        </div>

    </section>
</div>

<NavigationButtons Prev="Settings" PrevUrl="/todo-template/settings" Next="Exception handling" NextUrl="/todo-template/exception-handling"/>