@inherits BitComponentBase
@using Bit.Client.Web.BlazorUI.Extensions


@if (Href.HasValue() || !IsEnabled)
{
<a href="@Href" class="bit-link @VisualClass @EnabledClass" target="@Target">
    @Text
</a>
}
else
{
<button type="button" class="bit-link @VisualClass @EnabledClass" 
        @onclick="HandleClick">
    @Text
</button>
}
