@import '../../../Styles/abstracts/_colors.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_functions.scss';

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

.buttons-container-grid {
    display: grid;
    gap: 0.5rem;
}

::deep {
    .custom-compound-button {
        &.standard {
            width: 15rem;
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #0054C6;
            border-color: #0054C6;

            &:hover {
                background-color: #0065EF;
                border-color: #0065EF;
            }
        }
    }

    .custom-btn-sm {
        &.small {
            padding: 4px 8px;
            font-size: 8px;
            line-height: 1.5;
            border-radius: 3px;
        }
    }

    .custom-btn-md {
        &.medium {
            padding: 12px 24px;
            font-size: 16px;
            line-height: 1.4;
            border-radius: 4px;
        }
    }

    .custom-btn-lg {
        &.large {
            padding: 20px 32px;
            font-size: 32px;
            line-height: 1.33;
            border-radius: 6px;
        }
    }
}