@import '../../../Styles/abstracts/_colors.scss';
@import '../../../Styles/abstracts/_functions.scss';

.m-t-15 {
    margin-top: rem(15px);
}

.form-item {
    line-height: 0;
    margin-bottom: rem(15px);
}

::deep div.validation-message {
    color: $Red20;
    font-size: rem(12px);
    line-height: normal;
    margin-top: -10px;
}

::deep .bit-txt-wrapper {
    margin-bottom: rem(20px);
}