@import "../../Styles/abstracts/_functions.scss";
@import "../../Styles/abstracts/_media-queries.scss";
@import "../../Styles/abstracts/_bit-css-variables.scss";

.card {
    display: flex;
    min-height: rem(376px);
    width: calc(50% - 12px);
    align-items: flex-start;
    border-radius: rem(2px);
    flex-flow: column nowrap;
    margin-bottom: rem(24px);
    justify-content: flex-start;
    padding: rem(24px) rem(16px) rem(58px);
    background-color: $bit-color-background-secondary;
    border: rem(1px) solid $bit-color-border-secondary;

    @include md {
        padding: rem(24px) rem(16px) rem(36px);
    }

    @include sm {
        width: 100%;
        margin-bottom: rem(16px);
        padding: rem(24px) rem(8px) rem(32px);
    }
}

.card-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-bottom: rem(16px);
    justify-content: flex-start;
    border-bottom: rem(1px) solid $bit-color-border-secondary;

    @include md {
        padding-bottom: rem(12px);
    }
}

.title {
    font-weight: 600;
    font-size: rem(18px);
    line-height: rem(24px);
    margin-bottom: rem(4px);

    @include md {
        font-size: rem(16px);
        line-height: rem(22px);
    }

    @include sm {
        font-size: rem(14px);
        line-height: rem(20px);
    }
}

.subtitle {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);

    @include md {
        font-size: rem(12px);
        line-height: rem(16px);
    }

    @include sm {
        font-size: rem(10px);
        line-height: rem(12px);
    }
}

.card-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: rem(32px) rem(16px) 0;

    @include md {
        padding: rem(32px) rem(8px) 0;
    }

    @include sm {
        padding: rem(32px) rem(8px) 0;
    }
}
