@page "/"

<PageTitle>Index</PageTitle>

<h1>111</h1>

<h1>Home</h1>

<a href="counter">go to counter</a>

<br />
<hr />
<br />

<button onclick="javascript:BitBswup.checkForUpdate()">Check for update</button>

<button onclick="javascript:BitBswup.forceRefresh()">Force refresh</button>