@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<span @ref="RootElement"
      style="@StyleBuilder.Value"
      class="@ClassBuilder.Value">

    @if (Href.HasValue() || !IsEnabled)
    {
        <a href="@Href"
           target="@Target">
            @ChildContent
        </a>
    }
    else
    {
        <button type="button"
                @onclick="HandleClick"
                @onclick:preventDefault="true">
            @ChildContent
        </button>
    }
</span>