@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<span @ref="RootElement"
      style="@StyleBuilder.Value"
      class="@ClassBuilder.Value">

    @if (Href.HasValue())
    {
        @if (IsEnabled)
        {
            <a href="@Href"
               target="@Target">
                @ChildContent
            </a>
        }
        else
        {
            <a aria-disabled="true">
                @ChildContent
            </a>
        }
    }
    else
    {
        @if (IsEnabled)
        {
            <button type="button"
                    @onclick="HandleClick"
                    @onclick:preventDefault="true">
                @ChildContent
            </button>
        }
        else
        {
            <button type="button"
                    aria-disabled="true"
                    disabled>
                @ChildContent
            </button>
        }
    }
</span>
