@import "../../../../Styles/bit-css-variables.scss";
@import "../../../../Styles/abstracts/_functions.scss";

.list-item {
    height: rem(44px);
    min-width: rem(450px);
    margin: rem(10px) rem(10px);
    padding: rem(10px) rem(20px);
    background-color: $bit-color-background-secondary;
}
