<footer class="footer-container">
    <section class="footer-section divider">
        <div class="bit-coulmn">
            <div class="bit-icon" />
            <div class="line">Whoooo we are and what we do in bit or why we want to resolve others issus</div>
        </div>
        <div class="products-coulmn">
            <div class="header">Products</div>
            <div class="line">BitTodoTemplate</div>
            <div class="line">BitComponents</div>
            <div class="line">BitBswup</div>
        </div>
        <div class="quick-links-coulmn">
            <div class="header">Quick links</div>
            <div class="line">Github Repo</div>
            <div class="line">Github Org</div>
            <div class="line">Issues</div>
        </div>
        <div class="media-coulmn">
            <div class="header">Media</div>
            <div class="line">Web site</div>
            <div class="line">Blog</div>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-coulmn">Copyright © 2022 bit Fundation | All Rights Reserved </div>
        <div class="social-media-coulmn"></div>
    </section>
</footer>