<footer class="footer-container">
    <section class="footer-section divider">
        <div class="bit-coulmn">
            <div class="bit-icon" />
            <div class="line">Whoooo we are and what we do in bit or why we want to resolve others issus</div>
        </div>
        <div class="products-coulmn">
            <div class="header">Products</div>
            <div class="line">BitTodoTemplate</div>
            <div class="line">BitComponents</div>
            <div class="line">BitBswup</div>
        </div>
        <div class="quick-links-coulmn">
            <div class="header">Quick links</div>
            <div class="line">Github Repo</div>
            <div class="line">Github Org</div>
            <div class="line">Issues</div>
        </div>
        <div class="media-coulmn">
            <a class="header">Media</a>
            <a class="line">Web site</a>
            <a class="line">Blog</a>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-coulmn">Copyright © 2022 bit Fundation | All Rights Reserved </div>
        <div class="social-media-coulmn">
            <a class="twitter-link" href="#"></a>
            <a class="github-link" target="_blank" href="https://github.com/bitfoundation/bitplatform"></a>
            <a class="facebook-link" href="#"></a>
            <a class="linkedin-link" target="_blank" href="https://www.linkedin.com/company/bit-foundation/about/"></a>
        </div>
    </section>
</footer>