@import '../Styles/_shared.scss';

.footer-container {
    @include page-container;
    padding-top: 80px;
    padding-bottom: 44px;

    @include lt-lg {
        padding-top: 24px;
    }
}

.footer-section {
    @include page-section;
    flex-flow: row wrap;
    justify-content: space-between;

    @include sm {
        justify-content: center;
    }
}

.divider {
    padding-bottom: 60px;
    border-right: unset;
    border-bottom: 1px solid $Gray3;
    margin-bottom: 30px;

    @include sm {
        margin-bottom: 4px;
        padding-bottom: 16px;
    }
}

@mixin coulmn {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;

    .header {
        @include subtitle3;
        color: $B6Color;
        margin-bottom: 12px;
    }

    .line {
        @include body2;
        color: $Gray1;
    }
}

.bit-coulmn {
    @include coulmn;
    flex: 33.3%;
    padding-right: 5px;

    .bit-icon {
        background-image: url('/images/bit-icon.svg');
        width: 45px;
        height: 30px;
        margin-bottom: 32px;
    }

    @include sm {
        flex: 100%;
        margin-bottom: 16px;
    }
}

.products-coulmn {
    @include coulmn;
    flex: 25%;
    padding-right: 5px;
}

.quick-links-coulmn {
    @include coulmn;
    flex: 25%;
    padding-right: 5px;
}

.media-coulmn {
    @include coulmn;
    flex: 16.6%;
}

.social-media-coulmn {
    display: flex;
    flex-flow: row nowrap;
}

.copy-right-coulmn {
    @include body3;
}

@mixin social-media-link {
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $B7Color;
    cursor: pointer;
    margin: 0 rem(8px);
    padding: 2px;

    @include lt-lg {
        width: rem(24px);
        height: rem(24px);
        margin: 0 rem(8px);
    }
}

.twitter-link {
    @include social-media-link;
    background-image: url('/images/footer/twitter-icon.svg');

    &:hover {
        background-color: #1DA1F2;
    }
}

.github-link {
    @include social-media-link;
    background-image: url('/images/footer/github-icon.svg');

    &:hover {
        background-color: #171515;
    }
}

.facebook-link {
    @include social-media-link;
    background-image: url('/images/footer/facebook-icon.svg');

    &:hover {
        background-color: #4267B2;
    }
}

.linkedin-link {
    @include social-media-link;
    background-image: url('/images/footer/linkedin-icon.svg');

    &:hover {
        background-color: #0A66C2;
    }
}
