@import '../Styles/_shared.scss';

.page-section {
    @include PageSection;
    height: inherit;

    .subtitle {
        @include Body3;
        color: $Gray1;
    }
}

.description-section {
    @include Body3;
    color: $Gray1;
    margin-top: rem(32px);
}

/*-------------------getting started steps section---------------------*/

.getting-started-step-section {
    display: flex;
    flex-flow: column nowrap;
}

.step-body-card {
    @include Card;
    padding: rem(32px) rem(24px);
    margin: rem(32px) 0;

    @include sm {
        padding: rem(8px) rem(16px);
    }

    .card-container {
        padding: 0 rem(20px);

        @include sm {
            padding: 0;
        }

        .margin-20 {
            margin: rem(20px);
        }
    }

    .description {
        color: $Gray1;
        @include Body2;
    }

    .code {
        padding: rem(12px);
        border-left: rem(4px) solid $B6Color;
        background-color: $Gray5;
        @include Subtitle4;
        color: $B3Color;
        margin: rem(25px) 0;
        overflow: auto;

        code {
            font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        }
    }

    h4 {
        color: $Black1;
        margin-bottom: rem(16px);

        &:hover a.anchor .anchor-icon {
            visibility: visible;
            text-decoration: none;
        }

        a.anchor {
            float: left;
            padding-right: rem(4px);
            margin-left: rem(-20px);
            line-height: 1;
            text-decoration: none;

            &:link {
                text-decoration: none;
            }

            &:visited {
                text-decoration: none;
            }

            .anchor-icon {
                vertical-align: -moz-middle-with-baseline;
                vertical-align: -webkit-baseline-middle;
                visibility: hidden;
            }
        }
    }

    h3 {
        color: $B3Color;
        padding-top: rem(20px);
        border-bottom: rem(1px) solid $Gray4;
    }

    h5 {
        color: $Black1;
        padding: rem(25px) 0 rem(15px);
    }

    .first-step-ul {
        padding-inline-start: rem(20px);
    }

    li {
        @include Body2;
        color: $Gray1;
    }

    .bold {
        font-weight: bold;
    }

    .high-light {
        background-color: $B11Color;
        border-radius: rem(4px);
        padding: 0 rem(5px) rem(2px) rem(5px);
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .image {
        width: 85%;
        height: 85%;
        margin: rem(25px) 0;
    }
}

.getting-started-side-rail-section {
    position: absolute;
    top: rem(550px);
    left: rem(20px);
    display: flex;
    flex-flow: column;

    @include lt-lg {
        display: none;
    }

    .side-rail-item {
        @include Body3;
        color: $Gray1;
        padding: rem(4px) rem(4px) rem(4px) rem(12px);
        border-left: rem(1px) solid $B10Color;
    }

    .selected-side-rail-item {
        color: $B6Color;
        border-left: rem(4px) solid $B6Color;
        background-color: $B11Color;
        margin: rem(-2px);
    }
}

.fixed-getting-started-side-rail-section {
    position: fixed;
    top: rem(100px);
    left: rem(20px);
}
