
<section class="page-section description-section">
    <div>A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.</div>
</section>

<section class="page-section getting-started-step-section">
    <div>
        <h4 class="step-number">1</h4>
        <div class="step-body-container" id="step-number-1">
            <div class="step-body-card">
                <h4> Install</h4>
                <div class="description">Bit’s Blazor UI Components are distributed as the <a href="#">Bit.Client.Web.BlazorUI nuget package</a>. You can add them to your project in one of the following ways.</div>
                <div class="code-header">Install the package from command line by running this command:</div>
                <div class="code">dotnet add package</div>
            </div>
        </div>
    </div>
    <div>
        <h4 class="step-number" onclick="@OnScrollTo("step-number-2")">2</h4>
        <div class="step-body-container" id="step-number-2">
            <div class="step-body-card">
                <h4> Install</h4>
                <div class="description">Bit’s Blazor UI Components are distributed as the <a href="#">Bit.Client.Web.BlazorUI nuget package</a>. You can add them to your project in one of the following ways.</div>
                <div class="code-header">Install the package from command line by running this command:</div>
                <div class="code">dotnet add package</div>
            </div>
        </div>
    </div>
</section>