@import '../Styles/_shared.scss';

.page-section {
    @include PageSection;
    height: inherit;

    .subtitle {
        @include Body3;
        color: $Gray1;
    }
}

.description-section {
    @include Body3;
    color: $Gray1;
    margin-top: 32px;
}

/*-------------------getting started steps section---------------------*/

.getting-started-step-section {
    display: flex;
    flex-flow: column nowrap;
    margin: 64px 0;
}


.step-body-card {
    @include Card;
    padding: 32px 24px;
    margin: 32px 0;

    .card-container {
        padding: 0 20px;
    }

    .description {
        color: $Gray1;
        @include Body2;
    }

    .code-header {
        color: $Gray1;
        @include Subtitle3;
        padding: 20px 0;
    }

    .code {
        padding: 20px 16px;
        border-left: 4px solid $B6Color;
        background-color: $Gray5;
        @include Subtitle4;
        color: $B3Color;
        margin: 25px 0;
    }

    h4 {
        color: $Black1;
        margin-bottom: 16px;
    }

    h3 {
        color: $B3Color;
        padding-top: 20px;
        border-bottom: 1px solid $Gray4;
        font-size: 32px;
    }

    h5 {
        color: $Black1;
        font-weight: 500;
        font-size: 25px;
        line-height: 32px;
        padding: 25px 0 15px;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    .first-step-ul {
        padding-inline-start: 20px;
    }

    li {
        @include Subtitle3;
        color: $Gray1;
    }

    .bold {
        font-weight: bold;
    }

    .high-light {
        background-color: $B11Color;
        border-radius: 4px;
        padding: 0 5px 2px 5px;
    }

    .image {
        width: 100%;
        margin: 25px 0;
    }
}
