<header class="main-header">
    <div class="header-main-container">
        <div class="header-content-container">
            <a class="header-logo" href="/"></a>
        </div>
        <div class="header-content-container">
            <a class="github-btn" target="_blank" href="https://github.com/bitfoundation/bitplatform"></a>
        </div>
    </div>
</header>