@page "/components/tooltip"

<PageOutlet Url="components/tooltip"
            Title="Tooltip"
            Description="Tooltip component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Tooltip">
    <ComponentExampleBox Title="Basic" Id="example1">
        <ExamplePreview>
            <div class="tooltips-container">
                <BitTooltip Text="This is the tooltip text">
                    <BitButton>Hover over me</BitButton>
                </BitTooltip>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
