@page "/getting-started"

<PageOutlet Url="getting-started"
            Title="Getting started"
            Description="getting started of the bit BlazorUI components" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Class="title">Getting started</BitText>

    <section class="page-section">
        <BitText Typography="BitTypography.H4" Class="subtitle">1. Install</BitText>

        <BitText Typography="BitTypography.Body1" Gutter>
            <b>bit BlazorUI</b> components are available as the
            <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI/"
                     Target="_blank">Bit.BlazorUI</BitLink>
            NuGet package, which can be integrated into your project using one of the methods below:
        </BitText>
        <br />
        <BitText Typography="BitTypography.Body1">
            1. <b>Command Line</b>: Run the following command to install the package:
        </BitText>
        <CodeBox>dotnet add package Bit.BlazorUI</CodeBox>
        <br />
        <BitText Typography="BitTypography.Body1">
            2. <b>Package Manager Console</b>: Execute the command below to install the package:
        </BitText>
        <CodeBox>Install-Package Bit.BlazorUI</CodeBox>
        <br />
        <BitText Typography="BitTypography.Body1">
            3. <b>Visual Studio</b>: Use Visual Studio's NuGet Package Manager interface to add the package to your project.
        </BitText>

        <br /><br />

        <BitAccordion Title="Optional steps">
            <BitText Typography="BitTypography.Body1">
                <b>Extra components</b>: If you want to use the Extra components (like <b>BitChart</b>)
                you need to add the
                <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Extras/"
                         Target="_blank">Bit.BlazorUI.Extras</BitLink> package:
            </BitText>
            <CodeBox>dotnet add package Bit.BlazorUI.Extras</CodeBox>
            Or
            <CodeBox>Install-Package Bit.BlazorUI.Extras</CodeBox>

            <br /><br /><br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Optional assets</b>: If you need the asset files of the bit BlazorUI (like <b>Segoe UI</b>
                font for non-Windows clients) you need to add the
                <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Assets/"
                         Target="_blank">Bit.BlazorUI.Assets</BitLink> package:
            </BitText>
            <CodeBox>dotnet add package Bit.BlazorUI.Assets</CodeBox>
            Or
            <CodeBox>Install-Package Bit.BlazorUI.Assets</CodeBox>

            <br /><br /><br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Icon pack:</b> If you want to use the Fabric Icons of the bit BlazorUI (using <b>BitIconName</b> class)
                you need to add the
                <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Icons/"
                         Target="_blank">Bit.BlazorUI.Icons</BitLink> package:
            </BitText>
            <CodeBox>dotnet add package Bit.BlazorUI.Icons</CodeBox>
            Or
            <CodeBox>Install-Package Bit.BlazorUI.Icons</CodeBox>
        </BitAccordion>
    </section>

    <section class="page-section">
        <BitText Typography="BitTypography.H4" Class="subtitle">2. Namespace</BitText>
        <BitText Typography="BitTypography.Body1">
            Open the <BitTag Color="BitColor.TertiaryBackground">_Imports.razor</BitTag> file of your Blazor application and add this line:
        </BitText>
        <CodeBox>&#64;using Bit.BlazorUI</CodeBox>
    </section>

    <section class="page-section">
        <BitText Typography="BitTypography.H4" Class="subtitle">3. Styles and Scripts</BitText>

        <BitText Typography="BitTypography.Body1">
            Open <BitTag Color="BitColor.TertiaryBackground">App.razor</BitTag> or
            <BitTag Color="BitColor.TertiaryBackground">index.html</BitTag> file and add the CSS file reference:
        </BitText>
        <CodeBox>&lt;link href="_content/Bit.BlazorUI/styles/bit.blazorui.css" rel="stylesheet" /></CodeBox>

        <BitText Typography="BitTypography.Body1">then add the JS file file reference:</BitText>
        <CodeBox>&lt;script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js">&lt;/script></CodeBox>

        <br />

        <BitAccordion Title="Optional steps">
            <BitText Typography="BitTypography.Body1">
                <b>Extra components:</b> If you are using the <BitTag Color="BitColor.TertiaryBackground">Extras</BitTag>
                package you also need to add these resources:
            </BitText>
            <CodeBox>&lt;link href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.css" rel="stylesheet" /></CodeBox>
            <CodeBox>&lt;script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.js">&lt;/script></CodeBox>

            <br /><br /><br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Optional assets:</b> If you are using the <BitTag Color="BitColor.TertiaryBackground">Assets</BitTag>
                package you also need to add this resource:
            </BitText>
            <CodeBox>&lt;link href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" rel="stylesheet" /></CodeBox>

            <br /><br /><br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Icon pack:</b> If you are using the <BitTag Color="BitColor.TertiaryBackground">Icons</BitTag>
                package you also need to add this resource:
            </BitText>
            <CodeBox>&lt;link href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" rel="stylesheet" /></CodeBox>
        </BitAccordion>
    </section>

    <section class="page-section">
        <BitText Typography="BitTypography.H4" Class="subtitle">4. Cache busting</BitText>
        <BitText Typography="BitTypography.Body1" Gutter>
            You need to make sure you've implemented a proper <b>cache busting strategy</b> for all resources mentioned above.
            Otherwise users will encounter issues related to cached versions of resources after you update the bit BlazorUI in your project.
            <br /><br />
            On .NET 9 or later you can simply use the new <BitTag Color="BitColor.TertiaryBackground">@@Assets[""]</BitTag> feature to
            fingerprint the resource files automatically.
            <br /><br />
            Also, bit BlazorUI has a built-in feature in order to resolve the cache issues easily. using this feature you can simply add
            a version query string to the url of the above resources like this:
            <CodeBox>&lt;script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js?v=@@Bit.BlazorUI.Info.Version">&lt;/script></CodeBox>
            <b>Note</b>: You can only use this feature in the <BitTag Color="BitColor.TertiaryBackground">App.razor</BitTag> file, 
            for other root files (like index.html in a WASM standalone project) you have to apply another solution, 
            for example manually adding the version query string to the resource URLs.
        </BitText>

        <br />

        <BitAccordion Title="Optional components">
            <BitText Typography="BitTypography.Body1">
                <b>Automatic Resource Fingerprinting</b>
                <br/>
                The <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Assets/" Target="_blank">Bit.BlazorUI.Assets</BitLink> package provides two 
                standalone components designed for automatic resource fingerprinting in the <BitTag Color="BitColor.TertiaryBackground">App.razor</BitTag> file:
            </BitText>

            <br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Script</b>: A drop-in replacement for the standard HTML <BitTag Color="BitColor.TertiaryBackground">&lt;script></BitTag> tag.
                It automatically fingerprints the resource URL (<BitTag Color="BitColor.TertiaryBackground">src</BitTag> attribute) by 
                calculating a hash from the actual file content, ensuring reliable cache busting and versioning.
            </BitText>
            <CodeBox>&lt;Script Src="_content/Bit.BlazorUI/scripts/bit.blazorui.js">&lt;/Script></CodeBox>
            <BitText Typography="BitTypography.Body1">
                The result would be something like this:
            </BitText>
            <CodeBox>&lt;script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js?v=sha256-Z5yBv0K89OBRVurhAVzatpp3aGXsNn00e3GzQiTq_Z4">&lt;/script></CodeBox>

            <br /><br />

            <BitText Typography="BitTypography.Body1">
                <b>Link</b>: A direct replacement for the standard HTML <BitTag Color="BitColor.TertiaryBackground">&lt;Link></BitTag> tag.
                It automatically fingerprints the resource URL (<BitTag Color="BitColor.TertiaryBackground">href</BitTag> attribute) by 
                generating a hash from the actual file content, providing consistent cache busting and version management.
            </BitText>
            <CodeBox>&lt;Link Href="_content/Bit.BlazorUI/styles/bit.blazorui.css" rel="stylesheet" /></CodeBox>
            <BitText Typography="BitTypography.Body1">
                The result would be something like this:
            </BitText>
            <CodeBox>&ltlink href="_content/Bit.BlazorUI/styles/bit.blazorui.css?v=sha256-VI6BIGZLTtmyhn3V-4RH-Yyi0Ud3p0g5dHvByeaoZ9Y" rel="stylesheet"></CodeBox>
            
            <br /><br />
            <BitText Typography="BitTypography.Body1">
                <b>Note</b>: You can checkout the usages of these two components in our demo website project
                <BitLink Target="_blank"
                         Href="https://github.com/bitfoundation/bitplatform/blob/develop/src/BlazorUI/Demo/Bit.BlazorUI.Demo.Server/Components/App.razor">
                    here
                </BitLink>.
            </BitText>
        </BitAccordion>
    </section>

    <FeedbackSection Url="GettingStartedPage.razor" />
</div>
