@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

::deep {
    .card {
        height: rem2(190px);
        width: calc(25% - 12px);

        @include lg {
            width: calc((100% / 3) - 11px);
        }

        @include md {
            width: calc(50% - 8px);
        }

        @include sm {
            width: 100%;
        }
    }
}
