@page "/terms"
@inherits AppComponentBase

<PageOutlet Url="terms"
            Title="Terms"
            Description="temrs and licencing of the bit BlazorUI components" />

<div class="page-container">
    <div class="page-content">

        <section class="main-section">
            <h1 class="main-section-title">bit BlazorUI Demo license</h1>
            <div class="section-desc">
                This EULA and Privacy Policy are written for individuals who use the bit BlazorUI Demo through the <BitLink Href="https://blazorui.bitplatform.dev" Target="_blank">blazorui.bitplatform.dev</BitLink> website, or the published version of this app on the bit platform's Google Play, Apple Store, and Microsoft Store accounts.
                <br />
                If you want to build your own project based on this Project Template, please refer to the <BitLink Href="https://github.com/bitfoundation/bitplatform/blob/develop/LICENSE" Target="_blank">License</BitLink> and create your own project, publish it with the relevant EULA and Privacy Policy for your businesses.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">End-User License Agreement (EULA) for bit BlazorUI Demo</h2>
            <div class="section-desc">
                This End-User License Agreement (EULA) is a legal agreement between you (the "user") and bit platform, located at Sixmastraat 15, 8932 PA Leeuwarden, Netherlands, with phone number <BitLink Href="tel:+31684207362">+31684207362</BitLink>, for the use of bit BlazorUI Demo (the "Software").
                <br />
                By using the Software, you agree to be bound by the terms and conditions of this agreement.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">License Grant</h2>
            <div class="section-desc">
                bit platform hereby grants the user a non-exclusive, non-transferable license to use the Software, solely for the purpose of evaluating and testing the features of the bit BlazorUI Demo during the term of this EULA.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Ownership</h2>
            <div class="section-desc">
                bit platform retains all rights, title, and interest in and to the Software, including any and all intellectual property rights.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">User Data</h2>
            <div class="section-desc">
                bit platform may collect user data, including name, surname, photo, date of birth, and gender. Providing this information is optional, and bit platform will only use it for the purposes of the bit BlazorUI Demo. If the user requests, bit platform will delete this data within one day, using one of the contact methods provided at the end of this EULA. In addition, the user is required to provide an email address for account verification purposes, but bit platform will not use this email for any other purposes.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Analytics and Cookies</h2>
            <div class="section-desc">
                We use Google Analytics to collect data. We need this data to understand how you use our website so we can improve its design and functionality.
                We also need the data to get the most out of our marketing campaigns.
                <br />
                <br />
                We partner with Microsoft Clarity and Microsoft Advertising to capture how you use and interact with our website through behavioral metrics,
                heatmaps, and session replay to improve and market our products/services. Website usage data is captured using first and third-party cookies
                and other tracking technologies to determine the popularity of products/services and online activity. Additionally, we use this information
                for site optimization, fraud/security purposes, and advertising. For more information about how Microsoft collects and uses your data,
                visit the <a href="https://privacy.microsoft.com/en-US/privacystatement">Microsoft Privacy Statement</a>.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Restrictions</h2>
            <div class="section-desc">
                User may not: (a) copy the Software, except as necessary for testing purposes; (b) distribute, rent, loan, lease, sell, sublicense, or otherwise transfer the Software or any portion thereof; (c) reverse engineer, decompile, disassemble, modify, translate, make any attempt to discover the source code of the Software, or create derivative works based on the Software; or (d) remove any proprietary notices or labels on the Software.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">No Warranty</h2>
            <div class="section-desc">
                The Software is provided "AS IS" and without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. bit platform does not warrant that the Software will be error-free or that its use will be uninterrupted.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Limitation of Liability</h2>
            <div class="section-desc">
                bit platform shall not be liable for any damages whatsoever arising out of the use of or inability to use the Software, including but not limited to direct, indirect, incidental, special, or consequential damages, even if bit platform has been advised of the possibility of such damages.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Termination</h2>
            <div class="section-desc">
                This EULA shall remain in effect until 2025-12-31. bit platform reserves the right to terminate this EULA at any time without notice. Upon termination, the user shall immediately cease all use of the Software and destroy all copies of the Software in its possession.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Contact Information</h2>
            <div class="section-desc">
                If you have any questions or concerns regarding this EULA or the Privacy Policy, or if you would like to contact bit platform for any reason, please email <BitLink Href="mailto:info@bitplatform.dev">info@bitplatform.dev</BitLink> or call <BitLink Href="tel:+31684207362">+31684207362</BitLink>, or visit our website at <BitLink Href="https://bitplatform.dev/contact-us" Target="_blank">our website</BitLink> or visit us at Sixmastraat 15, 8932 PA Leeuwarden, Netherlands.
            </div>
        </section>


        <section class="main-section">
            <h1 class="main-section-title">Privacy Policy</h1>
            <div class="section-desc">
                <ul>
                    <li>bit platform is committed to protecting the privacy of user data.</li>
                    <li>We will only use the data collected from the user for the purposes of the bit BlazorUI Demo and will delete this data upon user request, using one of the contact methods provided above.</li>
                    <li>We do not share user data with any third parties and do not allow users to share data with anyone in any way.</li>
                    <li>We do not collect any information on user's usage in the bit BlazorUI Demo.</li>
                    <li>We do not display any Third-Party content, advertisements, or any purchases in the bit BlazorUI Demo.</li>
                    <li>This Privacy Policy is effective until 2025-12-31 and is subject to change without notice.</li>
                </ul>
            </div>
        </section>

    </div>
</div>
