@page "/components/labels"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Label" OverviewDesc="Labels give a name or title to a control or group of controls, including text fields, check boxes, combo boxes, radio buttons, and drop-down menus."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitLabel" Description="To create a label you can use a BitLabel component.">
        <SampleContent>
            <div>
                <BitLabel>I'm a Label</BitLabel>
                <BitLabel IsEnabled="false">I'm a disabled Label</BitLabel>
                <BitLabel IsRequired="true">I'm a required Label</BitLabel>
                <BitLabel For="labels-container__input">A Label for An Input</BitLabel>

                <input type="text" name="labels-container__input" id="labels-container__input" />
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitLabel</span>>I'm a Label<span>&lt/</span><span class="dark-green">BitLabel</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitLabel IsEnabled=</span><span class="light-blue">"false"</span>>I'm a disabled Label<span>&lt/</span><span class="dark-green">BitLabel</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitLabel IsRequired=</span><span class="light-blue">"true"</span>>I'm a required Label<span>&lt/</span><span class="dark-green">BitLabel</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitLabel For="</span>labels-container__input">A Label for An Input<span>&lt/</span><span class="dark-green">BitLabel</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="light-blue">input </span><span>type="text" name="labels-container__input" id="labels-container__input"<span>/&gt</span></span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>