@page "/components/typography"

<PageOutlet Url="components/typography"
            Title="Typography"
            Description="typography component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Typography"
               ComponentDescription="Use typography to present your design and content as clearly and efficiently as possible."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitText>This is default (Subtitle1)</BitText>
                <br />
                <BitText Variant="BitTextVariant.H1">H1. Heading</BitText>
                <BitText Variant="BitTextVariant.H2">H2. Heading</BitText>
                <BitText Variant="BitTextVariant.H3">H3. Heading</BitText>
                <BitText Variant="BitTextVariant.H4">H4. Heading</BitText>
                <BitText Variant="BitTextVariant.H5">H5. Heading</BitText>
                <BitText Variant="BitTextVariant.H6">H6. Heading</BitText>

                <BitText Variant="BitTextVariant.Subtitle1">Subtitle1. Lorem ipsum dolor sit amet</BitText>
                <BitText Variant="BitTextVariant.Subtitle2">Subtitle2. Lorem ipsum dolor sit amet</BitText>

                <BitText Variant="BitTextVariant.Body1">Body1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</BitText>
                <BitText Variant="BitTextVariant.Body2">Body2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</BitText>

                <BitText Variant="BitTextVariant.Button">Button. Click Me</BitText>
                <BitText Variant="BitTextVariant.Caption1">Caption1. Hello World!</BitText>
                <BitText Variant="BitTextVariant.Caption2">Caption2. Hello World!</BitText>
                <BitText Variant="BitTextVariant.Overline">Overline. this is overline text.</BitText>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
