@page "/components/datepicker"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="DatePicker" OverviewDesc="Picking a date can be tough without context. A BitDatePicker offers a drop-down control that’s optimized for picking a single date from a calendar view where contextual information like the day of the week or fullness of the calendar is important.
                                                        You can modify the calendar to provide additional context or to limit available dates."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitDatePicker" Description="">
        <SampleContent>
            <div>
                <BitDatePicker Style="width: 300px"
                               FirstDayOfWeek="firstDayOfWeek">
                </BitDatePicker>
                <BitDropDown Style="width: 300px"
                             Items="@GetFirstDayOfWeekDropdownItems()"
                             Label="Select the first day of the week"
                             DefaultSelectedKey="0"
                             OnSelectItem="@SelectFirstDayOfWeek">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitDatePicker</span> <span class="light-blue">Style</span>="width: 300px"><span class="dark-green">&lt/BitDatePicker></span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="DatePicker with week numbers" Description="">
        <SampleContent>
            <div>
                <BitDatePicker Style="width: 300px"
                               ShowWeekNumbers="true">
                </BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitDatePicker</span> <span class="light-blue">Style</span>="width: 300px"  <span class="light-blue">ShowWeekNumbers</span>="true"><span class="dark-green">&lt/BitDatePicker></span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Shamsi Date picker" Description="">
        <SampleContent>
            <div>
                <BitDatePicker CalendarType="BitCalendarType.Persian"
                               Style="width: 300px"
                               FirstDayOfWeek="DayOfWeek.Saturday">
                </BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                 &lt<span class="dark-green">BitDatePicker CalendarType</span>="<span class="light-green">CalendarType</span>.Persian" <span class="light-blue">Style</span>="width: 300px"><span class="dark-green">&lt/BitDatePicker></span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Value two-way binding" Description="">
        <SampleContent>
            <div>
                <BitDatePicker @bind-Value="@selectedDate" Style="width: 300px"></BitDatePicker>
                <BitLabel>this is selected date: @selectedDate</BitLabel>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitDatePicker <span class="light-yellow-bg">&#64</span><span class="dark-green">bind-Value</span></span>="selectedDate"<span class="dark-green">>&lt/BitDatePicker></span>
            <span class="light-yellow-bg">&#64code {</span>
            <span class="light-blue">private string</span> selectedDate ="";
            <span class="light-yellow-bg">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="DatePicker with custom date formatting" Description="">
        <SampleContent>
            <div>
                <BitDatePicker OnSelectDate="OnDateFormat" Style="width: 300px"></BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitDatePicker<span class="dark-green"> OnSelectDate</span> </span>="OnDateFormat"<span class="dark-green">>&lt/BitDatePicker></span>
            <span class="light-yellow-bg">&#64code {</span>
            <span class="light-blue">private string</span> <span class="dark-yellow"> OnDateFormat</span><span class="light-blue">(<span class="dark-green">BitDate</span> date) =></span>$"{date.GetDate()}/{date.GetMonth()}/{date.GetYear()}";
            <span class="light-yellow-bg">}</span>
                </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>