@page "/components/datepicker"

<h2>DatePicker</h2>

<div class="card">
    <p class="desc">Picking a date can be tough without context. A BitDatePicker offers a drop-down control that’s optimized for picking a single date from a calendar view where contextual information like the day of the week or fullness of the calendar is important. You can modify the calendar to provide additional context or to limit available dates.</p>
</div>

<h2>Usage</h2>
<div class="wrapper">
    <div class="card">
        <h3>BitDatePicker</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                 <BitDatePicker></BitDatePicker>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitDatePicker</span>><span class="dark-green">&lt/BitDatePicker></span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Date picker disabled</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                 <BitDatePicker IsEnabled="false"></BitDatePicker>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitDatePicker IsEnabled</span>="<span class="light-blue">false</span>><span class="dark-green">&lt/BitDatePicker></span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Shamsi Date picker</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                 <BitDatePicker CalendarType="CalendarType.Persian"></BitDatePicker>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitDatePicker CalendarType</span>="<span class="light-green">CalendarType</span>.Persian"><span class="dark-green">&lt/BitDatePicker></span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
</div>
<h2>Implementation</h2>
<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>AriaLabel</td>
            <td>string</td>
            <td></td>
            <td>The aria-label of the control for the benefit of screen readers.</td>
        </tr>
        <tr>
            <td>CalendarType</td>
            <td>CalendarType</td>
            <td>CalendarType.Gregorian</td>
            <td>Calendar type for the DatePicker.</td>
        </tr>        
        <tr>
            <td>Class</td>
            <td>string</td>
            <td></td>
            <td>Custom CSS class for the root element of the component.</td>
        </tr>
        <tr>
            <td>GoToToday</td>
            <td>string</td>
            <td>Go to today</td>
            <td>GoToToday text for the DatePicker.</td>
        </tr>
        <tr>
            <td>HtmlAttributes</td>
            <td>Dictionary&lt;string, object&gt;</td>
            <td></td>
            <td>Capture and render additional attributes in addition to the component's parameters.</td>
        </tr>
        <tr>
            <td>IsEnabled</td>
            <td>bool</td>
            <td>true</td>
            <td>Whether the DatePicker is enabled.</td>
        </tr>
        <tr>
            <td>IsOpen</td>
            <td>bool</td>
            <td>false</td>
            <td>Whether or not this DatePicker is open.</td>
        </tr>
        <tr>
            <td>OnClick</td>
            <td>EventCallback&lt;MouseEventArgs&gt;</td>
            <td></td>
            <td>Callback for when clicking on DatePicker input.</td>
        </tr>
          <tr>
            <td>OnDateChoose</td>
            <td>EventCallback&lt;int&gt;</td>
            <td></td>
            <td>Callback for when the date changes.</td>
        </tr>
        <tr>
            <td>OnFocusIn</td>
            <td>EventCallback&lt;FocusEventArgs&gt;</td>
            <td></td>
            <td>Callback for when focus moves into the DatePicker input.</td>
        </tr>
        <tr>
            <td>OnFocusOut</td>
            <td>EventCallback&lt;FocusEventArgs&gt;</td>
            <td></td>
            <td>Callback for when focus moves out the DatePicker input.</td>
        </tr>
        <tr>
            <td>OnMonthChange</td>
            <td>EventCallback&lt;int&gt;</td>
            <td></td>
            <td>Callback for when the month changes.</td>
        </tr>
        <tr>
            <td>OnYearChange</td>
            <td>EventCallback&lt;int&gt;</td>
            <td></td>
            <td>Callback for when the year changes.</td>
        </tr>
        <tr>
            <td>Placeholder</td>
            <td>string</td>
            <td>Select a date...</td>
            <td>Placeholder text for the DatePicker.</td>
        </tr> 
        <tr>
            <td>Style</td>
            <td>string</td>
            <td></td>
            <td>Custom style for the root element of the component.</td>
        </tr>
        <tr>
            <td>Visibility</td>
            <td>ComponentVisibility</td>
            <td></td>
            <td>Whether the component is visible, hidden, collapsed.</td>
        </tr>
    </table>
       <h4>CalendarType</h4>
    <hr />
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Gregorian</td>
            <td>0</td>
            <td>Show DatePicker in Gregorian calendar.</td>
        </tr>
        <tr>
            <td>Persian</td>
            <td>1</td>
            <td>Show DatePicker in Persian calendar.</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>2</td>
            <td></td>
        </tr>
    </table>
    <div>
        <h4 id="component-visibility">ComponentVisibility</h4>
        <hr />
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Visible</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>Hidden</td>
                <td>1</td>
                <td></td>
            </tr>
            <tr>
                <td>Collapsed</td>
                <td>2</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>