@namespace TodoTemplate.Client.Shared

<div>
    <BupProgress>
        <div class="bup-progress-text" />
        <svg class="bup-container">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
    </BupProgress>
</div>