@namespace TodoTemplate.Client.Shared

<style>
    .lds-grid div {
        background-color: @Color;
    }
</style>

<div class="lds-wrapper">
    <div class="lds-grid">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>
