@namespace TodoTemplate.Client.Shared
@inherits LayoutComponentBase

<Header OnToggleMenu=ToggleMenuHandler />

@if (_isUserAuthenticated)
{
    <NavMenu @bind-IsMenuOpen=_isMenuOpen />
}

<div class="main @(_isUserAuthenticated ? "main--authenticated" : null)">
    <div class="main-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
    <Footer />
</div>

<MessageBox />
