<BitModal @bind-IsOpen="IsOpen">
    <div class="main">
        <div class="header">
            <span class="title">@Title</span>
            <BitIconButton IconName="BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <div class="body">
            @Body
        </div>
        <div class="footer">
            <BitButton OnClick="OnOkClick">OK</BitButton>
        </div>
    </div>
</BitModal>
