@namespace Bit.BlazorUI
@inherits BitComponentBase

<div id="@_Id"
     @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @ChildContent
</div>