.shimmer-container {
    padding: 1rem 0;
}

::deep {
    .custom-content {
        gap: 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .custom-content .column {
        gap: 0.5rem;
        flex-flow: column;
        align-items: start;
    }
}
