@inherits AppComponentBase

<footer class="footer-container">
    <div class="footer-content">
        <div class="left-side-content">
            <img src="/images/shared/bit-icon.svg" class="footer-bit-icon" />
            <div class="footer-info-text">Sofware Dev Team as a Service</div>
            <div class="communications-options">
                <span class="communication-button mail-button"></span>
                <span class="communication-button whatsup-button"></span>
                <span class="communication-button linkedin-button"></span>
                <span class="communication-button github-button"></span>
            </div>
        </div>
        <div class="center-text">(: منتظرت هستیم</div>
        <div class="footer-items-container">
            <div class="footer-item">مقاله‌ها</div>
            <div class="footer-item">ویدئوها</div>
        </div>
    </div>
    <div class="bottom-line">made with <span class="red-heart"> ❤ </span> at bit</div>
    <button class="back-to-top-button" @onclick=BackToTop></button>
</footer>