<CascadingValue Value="Visual">
    <BitModal 
        @bind-IsOpen=IsOpen
        Position=Position
        IsModeless=IsModeless 
        IsBlocking=IsBlocking 
        IsAlert=IsAlert 
        SubtitleAriaId=@SubtitleAriaId 
        TitleAriaId=@TitleAriaId 
        OnDismiss=IncrementCount>        
        <div>
            Test Content
        </div>
    </BitModal>
</CascadingValue>

@code {
    [Parameter] public Visual Visual { get; set; }
    [Parameter] public bool? IsAlert { get; set; }
    [Parameter] public bool IsBlocking { get; set; }
    [Parameter] public bool IsModeless { get; set; }
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public string SubtitleAriaId { get; set; }
    [Parameter] public string TitleAriaId { get; set; }
    [Parameter] public BitModalPosition Position { get; set; }

    public int CurrentCount = 0;
    public void IncrementCount()
    {
        CurrentCount++;
    }
}