@attribute [Route(Urls.DashboardPage)]
@attribute [Route("{culture?}" + Urls.DashboardPage)]
@inherits AppPageBase


<div class="page-container">
    <OverallStatsWidget />
    @if (isLoadingAssemblies)
    {
        <BitRingLoading />
    }
    else
    {
        <div class="page-row">
            <ProductsCountPerCategoryWidget />
            <ProductsPercentageWidget />
        </div>
    }
</div>

