@attribute [Route(Urls.DashboardPage)]
@attribute [Route("{culture?}" + Urls.DashboardPage)]
@inherits AppPageBase


<section>
    <BitStack Gap="3rem">
        <OverallStatsWidget />

        @if (isLoadingAssemblies)
        {
            <BitRingLoading />
        }
        else
        {
            <BitStack Horizontal Wrap>
                <ProductsCountPerCategoryWidget />
                <ProductsPercentageWidget />
            </BitStack>
        }
    </BitStack>
</section>

