@page "/components/spinner"

<ComponentDemo ComponentName="Spinner" ComponentDescription="BitSpinner is an outline of a circle which animates around itself indicating to the user that things are processing. A Spinner is shown when it's unsure how long a task will take making it the indeterminate version of a ProgressIndicator. They can be various sizes, located inline with content or centered. They generally appear after an action is being processed or committed. They are subtle and generally do not take up much space, but are transitions from the completed task."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitSpinner" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a spinner, you can use a BitSpinner component.</div>
            <div class="spinner-container">
                <div class="m-b-15">
                    <label>Extra small spinner</label>
                    <BitSpinner Size="BitSpinnerSize.XSmall" />
                </div>
                <div class="m-b-15">
                    <label>Small spinner</label>
                    <BitSpinner Size="BitSpinnerSize.Small" />
                </div>
                <div class="m-b-15">
                    <label>Medium spinner</label>
                    <BitSpinner Size="BitSpinnerSize.Medium" />
                </div>
                <div>
                    <label>Large spinner</label>
                    <BitSpinner Size="BitSpinnerSize.Large" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Label positioning" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">By setting LabelPosition attribute, change position of spinner to bottom, top, left or right.</div>
            <div class="spinner-positioning">
                <div>
                    <label>Spinner with label positioned above</label>
                    <BitSpinner LabelPosition="BitSpinnerLabelPosition.Top" Label="I am definitely loading..." />
                </div>
                <div>
                    <label>Spinner with label positioned below</label>
                    <BitSpinner LabelPosition="BitSpinnerLabelPosition.Bottom" Label="Seriously, still loading..." />
                </div>
                <div>
                    <label>Spinner with label positioned to left</label>
                    <BitSpinner LabelPosition="BitSpinnerLabelPosition.Left" Label="Wait, wait..." />
                </div>
                <div>
                    <label>Spinner with label positioned to right</label>
                    <BitSpinner LabelPosition="BitSpinnerLabelPosition.Right" Label="Nope, still loading..." />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
