@page "/getting-started"

<PageOutlet Url="getting-started"
            Title="Getting started"
            Description="getting started of the bit blazorui components" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Class="title">Getting started</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            This tutorial shows how to install and use Bit BlazorUI Components in blazor projects.
        </BitTypography>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Install</BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            Bit's Blazor UI Components are distributed as the <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI/" Target="_blank">Bit.BlazorUI nuget package</BitLink>. You can add them to your project in one of the following ways:
        </BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Install the package from command line by running this command:
        </BitTypography>
        <div class="code-box">dotnet add package Bit.BlazorUI</div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Or install the package from Package Manager Console by running this command:
        </BitTypography>
        <div class="code-box">Install-Package Bit.BlazorUI</div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Or add the package to the project from the Visual Nuget Package Manager.
        </BitTypography>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Add the namespace</BitTypography>
        <div class="section-desc">Open the <span class="txt--blue">_Imports.razor</span> file of your Blazor application and add this line:</div>
        <div class="code-box">&#64;using Bit.BlazorUI</div>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Styles and Scripts</BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Open the <span class="txt--blue">_Host.cshtml</span> file, <span class="txt--blue">_Layout.cshtml</span> file, or <span class="txt--blue">wwwroot/index.html</span> file and include a CSS file by adding this snippet:
        </BitTypography>
        <div class="code-box">&lt;link href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" rel="stylesheet" /></div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            then include the script file by adding this snippet:
        </BitTypography>
        <div class="code-box">&lt;script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js">&lt;/script></div>
    </section>

    <section class="page-section">
        <div class="gitpod-section">
            <div class="gitpod-icon"></div>
            <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Play on Gitpod playground</BitTypography>
        </div>
        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            With Gitpod, you can access the ultimate online development platform, right in your browser - no downloads or installations required.
        </BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            Experience lightning-fast speeds and seamless integration as you dive into the world of Bit BlazorUI, and elevate your web development game to new heights.
        </BitTypography>
        <br />
        <BitLink Target="_blank" Href="https://github.com/bitfoundation/bit-blazorui-playground">Open Bit BlazorUI playground repository</BitLink>
    </section>
</div>
