@page "/getting-started"

<PageOutlet Url="getting-started"
            Title="Getting started"
            Description="getting started of the bit BlazorUI components" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Class="title">Getting started</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            This tutorial shows how to install and use bit BlazorUI Components in blazor projects.
        </BitTypography>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Install</BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            Bit's Blazor UI Components are distributed as the <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI/" Target="_blank">Bit.BlazorUI</BitLink> NuGet package. You can add them to your project in one of the following ways:
        </BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Install the package from command line by running this command:
        </BitTypography>
        <div class="code-box">dotnet add package Bit.BlazorUI</div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Or install the package from Package Manager Console by running this command:
        </BitTypography>
        <div class="code-box">Install-Package Bit.BlazorUI</div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Or add the package to the project from the Visual Studio's Nuget Package Manager.
        </BitTypography>

        <br /><br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you want to use the Extra components (like <b>BitChart</b>) you need to add the <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Extras/" Target="_blank">Bit.BlazorUI.Extras</BitLink> package:
        </BitTypography>
        <div class="code-box">dotnet add package Bit.BlazorUI.Extras</div>
        <div class="code-box">Install-Package Bit.BlazorUI.Extras</div>

        <br /><br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you need the asset files of the bit BlazorUI (like <b>Segoe UI</b> font for non-Windows clients) you need to add the <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Assets/" Target="_blank">Bit.BlazorUI.Assets</BitLink> package:
        </BitTypography>
        <div class="code-box">dotnet add package Bit.BlazorUI.Assets</div>
        <div class="code-box">Install-Package Bit.BlazorUI.Assets</div>

        <br /><br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you want to use the Fabric Icons of the bit BlazorUI (using <b>BitIconName</b> class) you need to add the <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Icons/" Target="_blank">Bit.BlazorUI.Icons</BitLink> package:
        </BitTypography>
        <div class="code-box">dotnet add package Bit.BlazorUI.Icons</div>
        <div class="code-box">Install-Package Bit.BlazorUI.Icons</div>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Add the namespace</BitTypography>
        <div class="section-desc">Open the <span class="txt--blue">_Imports.razor</span> file of your Blazor application and add this line:</div>
        <div class="code-box">&#64;using Bit.BlazorUI</div>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Styles and Scripts</BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1">
            Open the <span class="txt--blue">_Host.cshtml</span> file, <span class="txt--blue">_Layout.cshtml</span> file, or <span class="txt--blue">wwwroot/index.html</span> file and include a CSS file by adding this snippet:
        </BitTypography>
        <div class="code-box">&lt;link href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" rel="stylesheet" /></div>

        <BitTypography Variant="BitTypographyVariant.Body1">
            then include the script file by adding this snippet:
        </BitTypography>
        <div class="code-box">&lt;script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js">&lt;/script></div>

        <br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you are using the <span class="txt--blue">Extras</span> package you also need to add these resources:
        </BitTypography>
        <div class="code-box">&lt;link href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.min.css" rel="stylesheet" /></div>
        <div class="code-box">&lt;script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.min.js">&lt;/script></div>

        <br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you are using the <span class="txt--blue">Assets</span> package you also need to add this resource:
        </BitTypography>
        <div class="code-box">&lt;link href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.min.css" rel="stylesheet" /></div>

        <br />

        <BitTypography Variant="BitTypographyVariant.Body1">
            <b>Note:</b> If you are using the <span class="txt--blue">Icons</span> package you also need to add this resource:
        </BitTypography>
        <div class="code-box">&lt;link href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.min.css" rel="stylesheet" /></div>
    </section>

    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Project templates</BitTypography>

        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            You can use our project templates to get started quickly with a predefined solution.
        </BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            To use the BlazorServer or Server Side Blazor (SSB) project template, you can use the following command:
        </BitTypography>
        <div class="code-box">dotnet new install Bit.BlazorServer</div>

        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            And to use the BlazorWasm or Client Side Blazor (CSB) project template, you can use the following command:
        </BitTypography>
        <div class="code-box">dotnet new install Bit.BlazorWasm</div>

        <br />

        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            Then you can create a new project using one of these commands:
        </BitTypography>

        <div class="code-box">dotnet new bit-ssb -n MyBlazorServerApp</div>
        <div class="code-box">dotnet new bit-csb -n MyBlazorWasmApp</div>
    </section>

    <section class="page-section">
        <div class="github-codespaces-section">
            <div class="github-codespaces-icon"></div>
            <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Play on GitHub Codespaces</BitTypography>
        </div>
        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            With GitHub Codespaces, you can access the ultimate online development platform, right in your browser - no downloads or installations required.
        </BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
            Experience lightning-fast speeds and seamless integration as you dive into the world of bit BlazorUI, and elevate your web development game to new heights.
        </BitTypography>
        <br />
        <BitLink Target="_blank" Href="https://codespaces.new/bitfoundation/bit-blazorui-playground/tree/dev">
            Open bit BlazorUI playground
            <BitIcon IconName="@BitIconName.ChevronRight" Style="font-size:12px;font-weight:bold" />
        </BitLink>
    </section>
</div>
