@page "/iconography"

<PageTitle>Bit BlazorUI - Iconography</PageTitle>

<HeadContent>
    <meta name="title" content="Bit BlazorUI - Iconography" />
    <meta name="description" content="iconography of the bit blazorui components" />

    <meta property="og:url" content="https://components.bitplatform.dev/iconography" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bit BlazorUI" />
    <meta property="og:title" content="Bit BlazorUI - Iconography" />
    <meta property="og:description" content="iconography of the bit blazorui components" />
    <meta property="og:image" content="https://components.bitplatform.dev/images/og-image.svg" />

    <meta name="twitter:title" content="Bit BlazorUI - Iconography" />
    <meta name="twitter:description" content="iconography of the bit blazorui components" />
    <meta name="twitter:image" content="https://components.bitplatform.dev/images/og-image.svg" />
</HeadContent>

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Class="title">Iconography</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            Bit has traditionally used a custom font for its iconography. This font is part of the MDL2 design system and contains glyphs that you can scale, color, and style in any way.
        </BitTypography>
    </section>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Gutter>Available icons</BitTypography>
        <BitSearchBox Class="iconography-search-box"
                      Placeholder="Search icons"
                      IconName="BitIconName.Search"
                      Value="@searchText"
                      ValueChanged="@HandleChange"
                      OnClear="@HandleClear"></BitSearchBox>
        <div class="icon-list">
            @if (filteredIcons.Count == 0)
            {
                <div class="empty-list">
                    <BitTypography Variant="BitTypographyVariant.H4">No result</BitTypography>
                </div>
            }
            else
            {
                foreach (var icon in filteredIcons)
                {
                    <div class="icon-box">
                        <i class="bit-icon bit-icon--iconography bit-icon--@icon"></i>
                        <span class="icon-name">@icon</span>
                    </div>
                }
            }
        </div>
    </section>
</div>