@page "/overview"

<PageOutlet Url="overview"
            Title="Overview"
            Description="overview of the bit blazorui components" />

<section class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Class="title">Bit BlazorUI</BitTypography>
    <section class="page-section">
        <BitTypography Variant="BitTypographyVariant.Body1">
            Bit's BlazorUI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering), saving you time and making development enjoyable.
        </BitTypography>
    </section>

    <div class="card-container">
        <a class="card input-card" href="/components/button">
            <div class="card-img basic-inputs"></div>
            Basic Inputs
        </a>
        <a class="card picker-card" href="/components/carousel">
            <div class="card-img galleries-pickers"></div>
            Galleries & Pickers
        </a>
        <a class="card list-card" href="/components/basiclist">
            <div class="card-img items-lists"></div>
            Items & Lists
        </a>
        <a class="card nav-card" href="/components/nav">
            <div class="card-img menus-navs"></div>
            Commands, Menus & Navs
        </a>
        <a class="card notification-card" href="/components/messagebar">
            <div class="card-img notification"></div>
            Notification & Engagement
        </a>
        <a class="card progress-card" href="/components/progressindicator">
            <div class="card-img progress"></div>
            Progress
        </a>
        <a class="card surface-card" href="/components/modal">
            <div class="card-img surfaces"></div>
            Surfaces
        </a>
    </div>
</section>