@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@namespace Bit.Websites.Platform.Web.Pages

@using Bit.Websites.Platform.Web
@using Bit.Websites.Platform.Shared;
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration

@inject IHttpContextAccessor ContextAccessor
@inject IConfiguration Configuration

@{
    var googleTagContainerID = @Configuration.GetSection("GoogleTagManager")["ContainerID"];

    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    RenderMode renderMode = isBlazorServer ? RenderMode.ServerPrerendered : RenderMode.WebAssemblyPrerendered;

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        var shouldRenderStaticMode = ContextAccessor?.HttpContext?.Request.ShouldRenderStaticMode();

        if (shouldRenderStaticMode is not null && shouldRenderStaticMode.Value)
        {
            renderMode = RenderMode.Static;
        }
    }
}

@*
    Unlike most client-side Blazor projects (WASM Blazor), we use .cshtml instead of .html index file.
    This provides PreRendering(SSR) to the client blazor projects and the ability to use "asp-append-version".
    Note that these files(_Host.cshtml & _Layout.cshtml) are being used for both "Client" and "Server" blazor.
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms." />
    <base href="~/" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="Bit.Websites.Platform.Web.styles.css" asp-append-version="true" />
    <style>
        * {
            font-family: "OpenSans";
        }

        html, body {
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        ::-webkit-scrollbar {
            width: 6.5px;
            background-color: #fff;
        }

        ::-webkit-scrollbar-track {
            background-color: #fff;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #c8c6c4;
            border-radius: 8px;
            border: 4px solid #c8c6c4;
        }

        ::-webkit-scrollbar-button {
            display: none;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #0064EF;
            border-radius: 8px;
            border: 4px solid #0064EF;
        }
    </style>
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
</head>
<body>

    @RenderBody()

    @*<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/csharp.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/xml.min.js"></script>*@
    <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="true"></script>
    <script src="~/scripts/app.js" asp-append-version="true"></script>

    @if (isBlazorServer)
    {
        <script src="_framework/blazor.server.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="_framework/blazor.webassembly.js" asp-append-version="true"></script>
    }
    <persist-component-state />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@googleTagContainerID');</script>
    <!-- End Google Tag Manager -->

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
</body>
</html>