@page "/about-us"

<div class="page-container">
    <section class="page-section vision-section">
        <div class="page-section-contnet">
            <h1 class="vision-title">
                Our vision is to empower organizations and people to maximize their performance through <span class="text--gradiant">high quality development services and products</span>.
            </h1>
        </div>
    </section>

    <section class="page-section values-section">
        <div class="page-section-contnet">
            <h2 class="section-title">Our values</h2>
            <div class="card-list">
                <div class="value-card">
                    <div class="value-card-title quality-icon">
                        Quality
                    </div>
                    <div class="value-card-desc">
                        We expertly execute our work, utilizing innovation and ingenuity to provide high-quality services and products.
                    </div>
                </div>

                <div class="value-card">
                    <div class="value-card-title integrity-icon">
                        Integrity
                    </div>
                    <div class="value-card-desc">
                        Conduct our business in a legal and ethical manner, build lasting relationships through honesty, respect and trust with our employees as well as our business partners.
                    </div>
                </div>

                <div class="value-card">
                    <div class="value-card-title transparency-icon">
                        Transparency
                    </div>
                    <div class="value-card-desc">
                        Being honest and open when communicating with our employees and business partners.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section download-section">
        <div class="page-section-contnet">
           <div class="download-container">
                <div class="download-value">2.7M</div>
                <div class="download-name">Total downloads of packages</div>
           </div>
        </div>
    </section>

    <section class="page-section team-section">
        <div class="page-section-contnet">
            <h2 class="section-title">Our team</h2>
            <div class="card-list">
                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/yaser-moradi.jpg" alt="Team member image" width="70" height="70"/>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/ysmoradi" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/ysmoradi" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Yaser Moradi</div>
                    <div class="member-position">Co-founder</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/saleh-yousefnejad.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/msynk" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/SalehYusefnejad" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Saleh Yusefnejad</div>
                    <div class="member-position">Co-founder</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/mohammad-mohabbati.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/mohabbati" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Mohammad Mohabbati</div>
                    <div class="member-position">Coordinator & developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/maryam-heydarian.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/maryamhdr" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/maryamhdr" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Maryam Heydarian</div>
                    <div class="member-position">Core developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/mohammad-aminsafaei.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/Cyrus-Sushiant" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Mohammad Aminsafaei</div>
                    <div class="member-position">Core developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/sajad-kardel.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/sajadkardel" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/sajadkardel" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Sajad Kardel</div>
                    <div class="member-position">Core developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/marzieh-sangtarash.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/msangtarash" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Marzie Sangtarash</div>
                    <div class="member-position">Core developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/milad-karimifard.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/milad-karimifard" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Milad Karimifard</div>
                    <div class="member-position">Core developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/mahsa-mohammadi.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/Md23Mh" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Mahsa Mohammadi</div>
                    <div class="member-position">Developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/somaye-ebrahimi.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/SomayeEbrahimi" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Somaye Ebrahimi</div>
                    <div class="member-position">Developer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/zahra-sangtarash.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/ZahraSng" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Zahra Sangtarash</div>
                    <div class="member-position">UI/UX designer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/zahra-ebrahimi.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/zahraebrahimii" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Zahra Ebrahimi</div>
                    <div class="member-position">UI/UX designer</div>
                </div>

                <div class="member-card">
                    <div class="flex-container">
                        <img class="member-img" src="/images/about-us/team/zahra-yousefi.jpg" alt="Team member image" width="70" height="70" />
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/zahra-yousefi" target="_blank" />
                        </div>
                    </div>
                    <div class="member-name">Zahra Yousefi</div>
                    <div class="member-position">UI/UX designer</div>
                </div>
            </div>
        </div>
    </section>
</div>