@page "/components"

<div class="page-container">
    <section class="page-section">
        <h1 class="page-main-title">Components</h1>
        <div class="page-desc">
            Using the Bit’s native Blazor UI components that are easy-to-customize and work on all Blazor modes (WASM, Server, Hybrid, pre-rendering), save time and make working enjoyable.
        </div>
        <a class="primary-btn" href="@Urls.ComponentsDocs" target="_blank">Get started</a>
    </section>

    <section class="page-section">
        <h2 class="section-title">
            Advantages of Bit Components
        </h2>
        <div class="card-list">
            <div class="benefit-card">
                <div class="benefit-card-title native-icon">
                    Native Blazor UI components
                </div>
                <div class="benefit-card-desc">
                    Written entirely in C#, Bit’s Blazor UI components are native and therefore have high performance. These components can be used in all Blazor modes (WASM, Server, Hybrid, pre-rendering) while the compressed size of your project will eventually increase up to 180kb!
                </div>
            </div>

            <div class="benefit-card">
                <div class="benefit-card-title open-source-icon">
                    Dedicated development team
                </div>
                <div class="benefit-card-desc">
                    Since Bit components are developed by a professional dedicated team, you can get sufficient technical support from them, and even make open source contributions on GitHub. Bit components have a fast release cycle and are updated at short intervals.
                </div>
            </div>

            <div class="benefit-card">
                <div class="benefit-card-title customize-icon">
                    Easy to customize
                </div>
                <div class="benefit-card-desc">
                    By using Bit components that have been implemented in a standard format, you will no longer have the challenge of customizing the styles and functionalities of the components, and you can easily meet your development needs in a short time!
                </div>
            </div>

            <div class="benefit-card">
                <div class="benefit-card-title special-components-icon">
                    Special components
                </div>
                <div class="benefit-card-desc">
                    Are you looking for special components that are difficult to implement?!
                    The Bit component package includes some special components such as file uploader or Jalali date picker that you can not find anywhere for free!
                </div>
            </div>

            <div class="benefit-card">
                <div class="benefit-card-title design-system-icon">
                    Multiple design systems
                </div>
                <div class="benefit-card-desc">
                    Using Bit components allows you to switch between multiple provided design systems such as Microsoft Fluent, Material, and Cupertino easily or create your own custom design system.
                </div>
            </div>
        </div>
    </section>
</div>