@page "/components"

<div class="page-container">
    <section class="page-section main-section">
        <div class="page-section-contnet">
            <h1 class="page-main-title">Bit BlazorUI</h1>
            <div class="page-desc">
                Bit's Blazor UI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering), saving you time and making development enjoyable.
            </div>
            <a class="primary-btn" href="@Urls.ComponentsDocs" target="_blank">Get started</a>
        </div>
    </section>

    <section class="page-section advantages-section">
        <div class="page-section-contnet">
            <h2 class="section-title">
                Advantages of Bit Components
            </h2>
            <div class="card-list">
                <div class="benefit-card">
                    <div class="benefit-card-title native-icon">
                        Native Blazor UI components
                    </div>
                    <div class="benefit-card-desc">
                        Bit's Blazor UI components, written entirely in C#, offer high performance and can be used in all Blazor modes (WASM, Server, Hybrid, pre-rendering). Additionally, the compressed size of your project will only increase up to 180kb.
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title open-source-icon">
                        Dedicated development team
                    </div>
                    <div class="benefit-card-desc">
                        Bit components are developed by a professional and dedicated team, who also actively contribute to the open-source project on GitHub. This ensures a steady flow of updates and allows for easy access to technical support. The components have a fast release cycle and are frequently updated to ensure optimal performance.
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title customize-icon">
                        Easy to customize
                    </div>
                    <div class="benefit-card-desc">
                        Bit components are implemented in a standard format, making it easy to customize the styles and functionalities of the components, helping you meet your development needs in a short time!
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title special-components-icon">
                        Special components
                    </div>
                    <div class="benefit-card-desc">
                        The Bit component package includes unique components, such as a resumable file uploader and Jalali date picker, that are difficult to find for free elsewhere!
                    </div>
                </div>

                <div class="benefit-card">
                    <div class="benefit-card-title design-system-icon">
                        Multiple design systems
                    </div>
                    <div class="benefit-card-desc">
                        Bit components allow you to easily switch between multiple design systems, such as Microsoft Fluent, Material, and Cupertino, or create your own custom design system.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>