@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;   
    padding-top: rem(60px);
    padding-bottom: rem(65px);
}

.page-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-section-contnet {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: rem(900px);
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(20px);
    padding-right: rem(20px);
    box-sizing: border-box;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30px);
}

.page-title {
    margin: 0;
    margin-bottom: rem(40px);
    padding: 0;
    font-size: rem(48px);
    font-weight: 800;
    line-height: 1;
    color: #0a1929;
    background: linear-gradient(to right, #007FFF, #0059B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include lt-lg {
        margin-bottom: rem(28px);
    }
}

.page-desc {
    font-size: rem(16px);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: rem(30px);
    color: $Gray1;
    max-width: rem(500px);
    text-align: center;
}

.email {
    font-size: rem(16px);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 700;
    margin-top: rem(10px);
    margin-bottom: rem(20px);
    color: $Gray1;

    a {
        font-weight: 400;
        color: $B6Color;
    }
}

::deep .form {
    width: 100%;
    max-width: rem(600px);
    padding: rem(20px);
    box-sizing: border-box;
    background-color: $White;
    border-radius: rem(4px);
    border: rem(1px) solid #E0E3E7;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    color: #1A2027;
    text-align: center;
}

::deep .bit-txt {
    margin-bottom: rem(24px);
    text-align: left;
}

::deep .validation-message {
    color: #a4262c;
    margin-top: rem(-20px);
    font-size: rem(12px);
    text-align: left;
}

::deep .bit-btn {
    margin-top: rem(16px);
}