@page "/contact-us"
@inherits AppComponentBase

<PageOutlet Url="contact-us"
            Title="Contact"
            Description="contact the bit platform" />

<div class="page-container">
    <section class="page-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H1" Gutter>Contact us</BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>
                Let's talk about your project.<br />Send us a message and we will get back to you within one business day.
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Gutter>
                Email: <a href="mailto:info@bitplatform.dev" target="_blank" rel="noopener noreferrer">info@bitplatform.dev</a>
            </BitTypography>

            <div class="contact-container">
                <EditForm Model="_contactUsModel" OnValidSubmit="WrapHandled(SendMessage)" class="form">
                    <DataAnnotationsValidator />

                    <BitTypography Variant="BitTypographyVariant.H5" Gutter>Have any feedbacks?</BitTypography>

                    <BitTextField @bind-Value="@_contactUsModel.Email"
                                  Label="Email"
                                  Class="contact-text-field"
                                  Placeholder="Enter your email address" />
                    <ValidationMessage For="() => _contactUsModel.Email" />

                    <BitTextField @bind-Value="@_contactUsModel.Message"
                                  Label="Message"
                                  IsRequired=true
                                  IsMultiline=true
                                  Class="contact-text-field"
                                  Placeholder="Enter your message" />
                    <ValidationMessage For="() => _contactUsModel.Message" />

                    <BitLoadingButton IsLoading="_isSending" ButtonType="BitButtonType.Submit">Send</BitLoadingButton>
                </EditForm>
            </div>
        </div>
    </section>
</div>