@page "/contact-us"

<div class="page-container">
    <section class="page-section">
        <div class="page-section-contnet">
            <div class="flex-container">
                <h1 class="page-title">Get in touch</h1>
                <div class="page-desc">Let's talk about your project. Send us a message and we will be in touch within one work day.</div>
                <div class="email">Email: <a href="mailto:info@bitplatform.dev" target="_blank" rel="noopener noreferrer">info@bitplatform.dev</a></div>
            </div>

            <div class="flex-container">
                <form class="form">
                    <h2>Have any questions?</h2>
                    <BitLabel>First name</BitLabel>
                    <BitTextField Type="BitTextFieldType.Text"
                                  IsRequired=true
                                  HasBorder=true
                                  Placeholder="Enter your first name" />

                    <BitLabel>Last name</BitLabel>
                    <BitTextField Type="BitTextFieldType.Text"
                                  IsRequired=true
                                  HasBorder=true
                                  Placeholder="Enter your last name" />

                    <BitLabel>Email</BitLabel>
                    <BitTextField Type="BitTextFieldType.Email"
                                  IsRequired=true
                                  HasBorder=true
                                  Placeholder="Enter your email address" />

                    <BitLabel>Message</BitLabel>
                    <BitTextField Type="BitTextFieldType.Text"
                                  IsRequired=true
                                  HasBorder=true
                                  IsMultiline=true
                                  Placeholder="Enter your message" />

                    <BitButton ButtonType="BitButtonType.Submit">Send</BitButton>
                </form>
            </div>
        </div>
    </section>
</div>