@page "/login"
@using Bit.MauiAppSample.ViewModels
@using Bit.View

@inherits SamplePageBase<LoginViewModel>
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<h3>LoginPage</h3>

<input type="text" @bind-value="@VM.UserName" />
<input type="password" @bind-value="@VM.Password" />

<button @onclick="Invoke(VM.Login)">Login</button>