@import '../../../Bit.BlazorUI/Styles/functions.scss';

.bit-mde {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.bit-mde-txa {
    width: 100%;
    height: 100%;
    padding: spacing(1);
}
