@namespace Bit.BlazorUI
@inherits BitComponentBase
@using Bit.BlazorUI.Components.NavGroup

<nav @ref="RootElement" @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="navigation"
     aria-label="@AriaLabel">

    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>

    <ul role="list">
        <CascadingValue Value="this" IsFixed="true">
            @foreach (var childOption in _options)
            {
                <_BitNavGroupChild Option="childOption" Depth="0" />
            }
        </CascadingValue>
    </ul>
</nav>