@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_colors.scss';

.validation-summary {
    border-left: rem(5px) solid $Red10;
    background-color: $ErrorBlockRed;
    overflow: hidden;
    margin-bottom: rem(10px);

    .validation-errors {
        margin: rem(5px);
    }
}

::deep div.validation-message {
    color: $Red20;
    font-size: rem(12px);
}

.example-box {
    display: flex;
    gap: rem(15px);
    width: fit-content;
    flex-direction: column;

    @include sm {
        flex-direction: column;
    }
}
