@inherits LayoutComponentBase

<div class="main @(IsUserAuthenticated is false ? "main--full-page" : null)">
    @if (IsUserAuthenticated)
    {
        <Header OnToggleMenu=@ToggleMenuHandler />
        <NavMenu @bind-IsMenuOpen=@IsMenuOpen />
    }
    <div class="site-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
    <Footer />
</div>

<MessageBox />