@inherits LayoutComponentBase

<Header />

<div class="main @(IsUserAuthenticated is false ? "main--full-page" : null)">
    @if (IsUserAuthenticated)
    {
        <NavMenu />
    }
    <div class="site-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
</div>

<MessageBox />
<Footer />