@inherits LayoutComponentBase

@if (IsUserAuthenticated)
{
    <Header OnToggleMenu=@ToggleMenuHandler />
}

<div class="main @(IsUserAuthenticated is false ? "main--full-page" : null)">
    @if (IsUserAuthenticated)
    {
        <NavMenu @bind-IsMenuOpen=@IsMenuOpen />
    }
    <div class="site-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
</div>

<MessageBox />
@if (IsUserAuthenticated)
{
    <Footer />
}