@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <div class="bit-crsl-items">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>

        <div class="bit-crsl-next-btn" @onclick="(() => SelectItem(CurrentIndex + 1))">
            <i class="bit-icon bit-icon--ChevronRight"></i>
        </div>

        <div class="bit-crsl-prev-btn" @onclick="(() => SelectItem(CurrentIndex - 1))">
            <i class="bit-icon bit-icon--ChevronLeft"></i>
        </div>
    </div>

    <div class="bit-crsl-dots">
        @for (int i = 0; i < AllCarouselItems.Count; i++)
        {
            int index = i;
            <div class="@(CurrentIndex == index ? "bit-crsl-dot-current" : null)" @onclick="(() => SelectItem(index))"></div>
        }
    </div>
</div>