@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

main {
    width: 100%;
    height: 100%;

    @include lt-md {
        height: unset;
        min-height: 100vh;
    }
}

.body {
    width: 100%;
    height: 100%;
    background-color: $bit-color-background-primary;

    @include lt-md {
        height: unset;
        min-height: 100vh;
    }
}

::deep {
    .main-stack {
        @include lt-md {
            width: 100%;
            height: 100%;
        }
    }
}
