@inherits LayoutComponentBase

<BitStack Horizontal AutoSize VerticalAlign="BitAlignment.Start">
    <NavMenu />

    <BitStack Style="padding-inline:1rem" VerticalAlign="BitAlignment.Start">
        <MainHeader />

        <main>
            @Body
        </main>
    </BitStack>

</BitStack>
