@inherits LayoutComponentBase

<BitStack Horizontal AutoSize>
    <NavMenu />

    <BitStack Style="padding-inline:1rem">
        <MainHeader />

        <main>
            @Body
        </main>
    </BitStack>

</BitStack>
