@import '../../../Styles/abstracts/_media-queries.scss';

main {
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;

    @include lt-md {
        margin-bottom: 3.5rem
    }
}
