@inherits LayoutComponentBase

<BitStack Horizontal AutoSize Gap="0">
    <NavMenu />

    <BitStack Style="padding:1rem">
        <MainHeader />

        <main>
            @Body
        </main>
    </BitStack>

</BitStack>
