@inherits LayoutComponentBase

<BitStack Horizontal Full Style="padding-top:1rem">
    <NavMenu />

    <BitStack Full Style="padding-inline:1rem">
        <MainHeader />

        <main>
            @Body
        </main>
    </BitStack>

</BitStack>
