@page "/components/label"

<PageTitle>Bit BlazorUI - Label</PageTitle>

<HeadContent>
    <meta name="title" content="Bit BlazorUI - Label" />
    <meta name="description" content="label component of the bit blazorui components" />

    <meta property="og:url" content="https://components.bitplatform.dev/components/label" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bit BlazorUI" />
    <meta property="og:title" content="Bit BlazorUI - Label" />
    <meta property="og:description" content="label component of the bit blazorui components" />
    <meta property="og:image" content="https://components.bitplatform.dev/images/og-image.svg" />

    <meta name="twitter:title" content="Bit BlazorUI - Label" />
    <meta name="twitter:description" content="label component of the bit blazorui components" />
    <meta name="twitter:image" content="https://components.bitplatform.dev/images/og-image.svg" />
</HeadContent>

<ComponentDemo ComponentName="Label"
               ComponentDescription="Labels give a name or title to a control or group of controls, including text fields, check boxes, combo boxes, radio buttons, and drop-down menus."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitLabel" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a label you can use a BitLabel component.</div>
            <div>
                <BitLabel>I'm a Label</BitLabel>
                <BitLabel IsEnabled="false">I'm a disabled Label</BitLabel>
                <BitLabel IsRequired="true">I'm a required Label</BitLabel>
                <BitLabel For="label-input">A Label for An Input</BitLabel>
                <input type="text" name="label-input" id="label-input" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>