@page "/about"

<PageTitle>About</PageTitle>

<div class="page">
    <section class="bitplatform">
        <BitLink Href="https://bitplatform.dev" Target="_blank">
            <BitText Typography="BitTypography.H1">
                bit platform
            </BitText>
        </BitLink>
    </section>

    <section class="vision">
        <BitText Typography="BitTypography.H3">
            Our vision is to empower organizations and people to maximize their performance through
            high quality development services and products.
        </BitText>
    </section>
</div>