@page "/yourteam"

<PageOutlet Url="yourteam"
            Title="Your Team"
            Description="your team and its process of what the bit platform's software development as a service provides" />

<div class="process-bg">
    <section class="page-sec process">
        <div class="process-title">Your Team</div>
        @* <div class="process-bread">Home &rarr; Process</div> *@
    </section>
    <section class="page-sec success-is-journey">
        <div class="sec-body">
            <div class="sec-title">
                The Adaptive Approach to Software Development
            </div>
            <div class="sec-desc">
                We provide a diverse range of talented people with expertise across mid, senior, and lead levels with competitive pricing.
                Our partners gain access to these professionals' CVs and have the say in forming the team.
                At various project stages, clients have the flexibility to adjust the workforce based on their requirements.
                This approach fosters transparency and flexibility for our customers, while your dedicated bit team remains focused
                on delivering optimal quality work without context switching.
            </div>
        </div>
    </section>
</div>

<section class="page-sec sw-dev-cycle">
    <div class="sec-title">An approach for Quality and Transparency</div>
    <div class="sec-desc">
        Given the complexity of software development, we believe fixed pricing isn't the best method for software development service.
        However, we offer our partners non-binding insight into work and contract scope, by a cost-free proposal plan.
    </div>
    <br />
    <div class="sec-content">
        <div class="steps-container">
            <div class="step step-1">
                <div class="step-title">Focused Quality Work</div>
                <div class="step-desc">
                    Our dedicated bit team remains singularly focused on your project, delivering high-quality work without the
                    disruptions caused by context switching.
                </div>
            </div>
            <div class="step step-2">
                <div class="step-title">Expertise Across Levels</div>
                <div class="step-desc">
                    With talented people spanning mid, senior, and lead levels, you have access to a diverse pool of skills and experience,
                    ensuring a well-rounded team for your project.
                </div>
            </div>
            <div class="step step-3">
                <div class="step-title">Customized Team Composition</div>
                <div class="step-desc">
                    You have the say in forming your development team, tailoring it to your project's specific requirements and objectives.
                </div>
            </div>
            <div class="step step-5">
                <div class="step-title">Transparency and Adaptability and Fair Pricing</div>
                <div class="step-desc">
                    The ability to adjust the team composition at various project stages fosters transparency and adaptability, enabling you to align
                    development resources with changing project priorities.
                </div>
            </div>
            <div class="step step-6">
                <div class="step-title">Discovery Phase for Clarity</div>
                <div class="step-desc">
                    The free discovery phase helps both parties understand project scope, facilitating accurate estimation and planning.
                </div>
            </div>
            <div class="step step-7">
                <div class="step-title">Customer-Centric Approach</div>
                <div class="step-desc">
                    Our approach places you at the center, allowing you to choose the working method that best aligns with your requirements.
                </div>
            </div>
        </div>
        <div class="steps-bg"></div>
    </div>
</section>

<section class="page-sec">
    <BitText Typography="BitTypography.H5" Gutter>
        From our experience, the dedicated team pricing model suits mid-to-enterprise projects, ensuring both quality and fair pricing.
        Feel free to reach out for specific requirements or alternative approaches.
    </BitText>
</section>

<section class="page-sec people-behind-the-art" id="art">
    <div class="sec-title">TALENTS BEHIND THE ART</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        <div class="sec-bg"></div>
        <div class="arts-container">
            <ProcessAccordion Title="Product Managers">
                Responsible for ensuring project is on track and within budget, meeting deadlines, and delivering results. They coordinate all the different roles on the team to work together seamlessly.
            </ProcessAccordion>
            <ProcessAccordion Title="Scrum Master">
                Act as facilitators for the development team, ensuring the team adheres to the Scrum framework and removing any obstacles that may impede progress.
            </ProcessAccordion>
            <ProcessAccordion Title="Developers">
                Specialized in coding and building software. They bring the product to life by creating high-quality, efficient, and maintainable code.
            </ProcessAccordion>
            <ProcessAccordion Title="Data Scientists">
                Use statistical techniques and data analysis to extract insights from data and make predictions. They work with the development team to improve the product by providing data-driven decisions.
            </ProcessAccordion>
            <ProcessAccordion Title="Data Engineers">
                Responsible for designing, building, and maintaining the secure, scalable infrastructure to store, process, and analyze data. They work with the data scientists and development team to ensure that the data is properly integrated into the product and is easily accessible for analysis and insights.
            </ProcessAccordion>
            <ProcessAccordion Title="UI/UX Designers">
                Design and create visually appealing and user-friendly interfaces for the product. They work closely with the development team to ensure that the final product meets the user's needs.
            </ProcessAccordion>
            <ProcessAccordion Title="Testers / QA Engineers">
                Ensure the product is free of issues, is stable, and meets the client's requirements. They test the product in different scenarios and environments to ensure it is fit for release.
            </ProcessAccordion>
        </div>
    </div>
</section>

<section class="page-sec our-benefit">
    <div class="sec-title">OUR BENEFIT</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        <div class="benefit-card benefit-card-1">
            <div class="card-title">Transparent Process Delivery</div>
            <div class="card-desc">
                As a client, you can track every aspect of the project and stay informed throughout the development process. We are committed to providing transparent and open communication to ensure that you are satisfied with the final product.
            </div>
        </div>
        <div class="benefit-card benefit-card-2">
            <div class="card-title">We Gathered the Best, You Hire the Best</div>
            <div class="card-desc">
                We provide a package of sophistication and talent that makes your business their number one priority. Our team will closely monitor your project to ensure that your ambitious goals are achieved.
            </div>
        </div>
        <div class="benefit-card benefit-card-3">
            <div class="card-title">Pay as You Go</div>
            <div class="card-desc">
                Being cost efficient is so important these days. With a monthly subscription, you pay for what you exactly need without any hidden fees.
            </div>
        </div>
    </div>
</section>