@import '../abstracts/_colors.scss';
@import '../abstracts/_functions.scss';

.hero-section-cta {
    height: rem(34px);
    border: rem(1px) solid $White;
    color: $White;
    background-color: $SecondaryColor;

    &:hover {
        background-color: $SecondaryColor;
        border-color: $White;
    }
}
