$Degree180: 180deg;
$Degree90: 90deg;

/* Theme Colors */

$Violet: #5C2D91;
$DarkBlue: #2F455A;
$Green: #14A38B;
$Yellow: #EF9C00;

$Gray01: #515151;
$Gray02: #8A8886;
$Gray03: #D7D7D7;
$Gray04: #F7F7F7;

$Black01: #141414;

$White: #FFFFFF;

$Shadow01: #5C2D91;
$Shadow02: #C4C4C4;

/* Custom Colors */
$Blue: #2f3f9e;
$DarkBlue: #32385B;
$DarkCyan: #008584;
$DarkGreen: #3B653D;
$DarkOrange: #B57E18;
$DarkRed: #823535;
$DarkYellow: #B8B025;

$LightBlue: #537EC5;
$LightGray: #FBFBfB;
$LightGreen: #4D8636;
$LightPink: #F5F3F3;
$LightPurple: #A03C78;
$LightYellow: #E7D86D99;

$NeonYellow: #829147;
