$Degree180: 180deg;
$Degree90: 90deg;

/* Colors */

$Violet: #5C2D91;
$DarkBlue: #2F455A;
$Green: #14A38B;
$Yellow: #EF9C00;

$Gray01: #515151;
$Gray02: #8A8886;
$Gray03: #D7D7D7;
$Gray04: #F7F7F7;

$Black01: #141414;

$White: #FFFFFF;

$Shadow01: #5C2D91;
$Shadow02: #C4C4C4;