@import '../../../../Styles/abstracts/functions';

.btn-container {
    display: flex;
    gap: rem2(16px);
    flex-flow: row wrap;
}

::deep .custom-rte-toolbar {
    background-color: #f0f4ff;
}

::deep .custom-rte-editor {
    font-style: italic;
}
