@inherits AppComponentBase;

<div class="card">
    <div class="card-header">
        <div class="title">
            @Localizer[nameof(AppStrings.ProductSales)]
        </div>
        <div class="subtitle">@Localizer[nameof(AppStrings.ProductSalesText)]</div>
    </div>
    <div class="card-body">
        @if (IsLoading)
        {
            <BitSpinner Size="BitElementSize.Large"></BitSpinner>
        }
        else
        {
            <BitChart Config="_config" @ref="_chart" />
        }
    </div>
</div>


