<ComponentExampleBox Title="Doughnut Chart" RazorCode="@razorCode" CsharpCode="@csharpCode" Id="example6">
    <ExamplePreview>
        <div class="example-desc">
            The doughnut chart is the same as the Pie chart. 
            To achieve this you will have to set the useDoughnutType param in the BitChartPieConfig constructor to 'true'.
        </div>
        <div class="chart-wrapper">
            <div class="chart-container">
                <BitChart Config="_config" @ref="_chart" />
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>