<ComponentExampleBox Title="Time Cartesian Axis" RazorCode="@razorCode" CsharpCode="@csharpCode" Id="example7">
    <ExamplePreview>
        <div class="example-desc">
            The time scale is used to display times and dates.
            When building its ticks, it will automatically calculate the most comfortable unit base on the size of the scale.
        </div>
        <div class="chart-wrapper">
            <div class="chart-container">
                <BitChart Config="_config" IsDateAdapterRequired="true" @ref="_chart" />
            </div>
        </div>
        <div class="buttons-container">
            <BitButton Style="margin:5px" Variant="BitVariant.Fill" OnClick="RandomizeData">Randomize Data</BitButton>
            <BitButton Style="margin:5px" Variant="BitVariant.Outline" OnClick="AddDataset">Add Dataset</BitButton>
            <BitButton Style="margin:5px" Variant="BitVariant.Outline" OnClick="RemoveDataset">Remove Dataset</BitButton>
            <BitButton Style="margin:5px" Variant="BitVariant.Outline" OnClick="AddData">Add Data</BitButton>
            <BitButton Style="margin:5px" Variant="BitVariant.Outline" OnClick="RemoveData">Remove Data</BitButton>
        </div>
    </ExamplePreview>
</ComponentExampleBox>