@page "/components/chart"

<PageOutlet Url="components/chart"
            Title="Chart"
            Description="Chart component of the bit BlazorUI components" />

<div>
    @if (isLoadingAssemblies)
    {
        <LoadingComponent />
    }
    else
    {
        <ComponentDemo ComponentName="Chart"
                       ComponentDescription="Simple and flexible charting component for data visualization, which supports eight chart types: bar, line, area, pie, bubble, radar, polar, and scatter."
                       Notes="To use this component, you need to install the `Bit.BlazorUI.Extras` nuget package, as described in the Optional steps of the Getting started page."
                       ComponentParameters="componentParameters"
                       ComponentSubClasses="componentSubClasses">
            <_BitChartBarDemo />

            <_BitChartHorizontalBarDemo />

            <_BitChartStackedBarDemo />

            <_BitChartLineDemo />

            <_BitChartPieDemo />

            <_BitChartDoughnutDemo />

            <_BitChartPolarAreaDemo />

            <_BitChartTimeDemo />

            <_BitChartScatterDemo />

            <_BitChartBubbleDemo />

            <_BitChartRadarDemo />
        </ComponentDemo>
    }
</div>