@import '../../../Styles/abstracts/_colors.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';

.validation-summary {
    border-left: rem(5px) solid $Red10;
    background-color: $ErrorBlockRed;
    overflow: hidden;
    margin-bottom: rem(10px);

    .validation-errors {
        margin: rem(5px);
    }
}

::deep div.validation-message {
    color: $Red20;
    font-size: rem(12px);
}

.chk-box {
    ::deep .bit-chb {
        margin-bottom: rem(10px);
    }
}

.controlled-box {
    margin-bottom: rem(30px);
    display: flex;
    flex-direction: row;
    gap: rem(10px);
    width: fit-content;

    @include sm {
        flex-direction: column;
    }
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    ::deep .checked-box {
        border: 1px solid;
        margin-right: rem(5px);
    }
}