@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';

.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-top: rem(1px) solid #E7EBF0;
    box-sizing: border-box;
}

.footer-section {
    width: 100%;
    max-width: rem(1200px);
    padding: rem(40px) rem(20px) rem(80px);
    box-sizing: border-box;

    &:first-child {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: rem(40px);
        grid-template-rows: auto;

        @include lg {
            grid-template-columns: 1fr 1.75fr;
        }

        @include sm {
            grid-template-columns: 1fr;
        }
    }

    &:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: rem(1px) solid #E7EBF0;
        padding: rem(40px) rem(20px);

        @include sm {
            flex-flow: column-reverse nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    }

    @include md {
        padding-right: rem(30px);
        padding-left: rem(30px);
    }
}

.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.footer-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.bit-logo {
    width: rem(32px);
    height: rem(27px);
    margin-bottom: rem(20px);
    background-image: url('/images/bit-blue-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-desc {
    font-weight: 400;
    font-size: rem(14px);
    line-height: 1.5;
    color: #3E5060;

    @include sm {
        text-align: center;
    }
}

.col-title {
    margin: 0;
    font-size: rem(14px);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 700;
    color: #1A2027;
}

.footer-link {
    margin-top: rem(10px);
    color: #3E5060;
    font-size: rem(14px);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: #007FFF;
        text-decoration: underline;
    }
}

.copy-right-txt {
    margin: 0;
    font-size: rem(14px);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    color: #3E5060;
}

.social-link-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @include sm {
        margin-bottom: rem(8px);
    }
}

.social-link {
    width: rem(32px);
    height: rem(32px);
    margin: 0 rem(10);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a19f9d;
    border-radius: 50%;
    cursor: pointer;
    background-size: rem(18px);
}

.twitter-link {
    background-image: url('/images/footer/twitter-icon.svg');

    &:hover {
        background-color: #1DA1F2;
    }
}

.github-link {
    background-image: url('/images/footer/github-icon.svg');

    &:hover {
        background-color: #171515;
    }
}

.youtube-link {
    background-image: url('/images/footer/youtube-icon.svg');

    &:hover {
        background-color: #FF0000;
    }
}

.linkedin-link {
    background-image: url('/images/footer/linkedin-icon.svg');

    &:hover {
        background-color: #0077B5;
    }
}