@inherits LayoutComponentBase

<Header />

<div class="main @((CurrentUrl.Contains("todo-template") is false && CurrentUrl.Contains("admin-panel") is false) ? "main--full-page" : null)">
    @if (CurrentUrl.Contains("todo-template") || CurrentUrl.Contains("admin-panel"))
    {
        <NavMenu />
    }
    <div class="site-content">
        @Body
    </div>
</div>

<Footer />