@namespace Bit.Websites.Platform.Web
@inherits AppComponentBase

<BitModal @bind-IsOpen="_isOpen">
    <div class="main">
        <div class="header">
            <span class="title">@_title</span>
            <BitIconButton IconName="@BitIconName.ChromeClose" OnClick="@WrapHandled(OnCloseClick)" />
        </div>
        <div class="body">
            @_body
        </div>
        <div class="footer">
            <BitButton OnClick="WrapHandled(OnOkClick)">OK</BitButton>
        </div>
    </div>
</BitModal>
