@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<h1>222</h1>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

<a href="counter">Counter</a>

<br />
<hr />
<br />

<button onclick="javascript:BitBswup.checkForUpdate()">Check for update</button>

<button onclick="javascript:BitBswup.forceRefresh()">Force refresh</button>