@page "/"

<PageTitle>Home</PageTitle>

<div class="page">
    <div class="hero">
        <div class="container">
            <BitTypography Variant="BitTypographyVariant.H1" Gutter>
                Hello World
            </BitTypography>

            <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                Welcome to your Bit Blazor Server app
            </BitTypography>
        </div>
    </div>

    <div class="section">
        <BitTypography Variant="BitTypographyVariant.H3" Gutter>
            Counter
        </BitTypography>
        <BitButton OnClick="() => _counter = 0" ButtonStyle="BitButtonStyle.Standard">Reset</BitButton>
        <BitButton OnClick="() => _counter++">Increase [@_counter]</BitButton>
    </div>

    <div class="section">
        <BitTypography Variant="BitTypographyVariant.H3" Gutter>
            ColorPicker
        </BitTypography>
        <div style="display:flex;justify-content:center">
            <BitColorPicker ShowAlphaSlider="true" ShowPreview="true" @bind-Alpha="_alpha" @bind-Color="@_color" />
        </div>
        <BitTypography Variant="BitTypographyVariant.Body1">Alpha: @_alpha</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">Color: @_color</BitTypography>
    </div>
</div>

@code {
    int _counter;
    double _alpha = 1;
    string? _color = "#0078d4";
}