@inherits LayoutComponentBase

<div class="@BitCss.Color.Background.Primary @BitCss.Color.Foreground.Primary">
    <Header />

    <main>
        <article>
            @Body
        </article>

        <Footer />
    </main>
</div>