@import '../../../../Styles/abstracts/_functions.scss';

::deep {
    .custom-class {
        padding: 0.5rem;
        width: max-content;
        border: 1px solid red;
        box-shadow: aqua 0 0 1rem;
    }

    .custom-thumb {
        background: #fff;
        width: rem2(30px);
        height: rem2(30px);
    }

    .custom-button {
        padding: 0;
        border: none;
        background: #ccc;
        width: rem2(52px);
        height: rem2(22px);
        border-radius: rem2(11px);
    }

    .custom-check {
        .custom-thumb {
            background: #ff6868;
        }

        .custom-button {
            background: #ffcece;
        }

        .custom-button:hover .custom-thumb {
            background: #ff6868;
        }
    }

    .validation-message {
        color: red;
    }
}
