.validation-summary {
  border-left: 0.3125rem solid #d13438;
  background-color: #FDE7E9;
  overflow: hidden;
  margin-bottom: 0.625rem;
}
.validation-summary .validation-errors {
  margin: 0.3125rem;
}

::deep div.validation-message {
  color: #A4262C;
  font-size: 0.75rem;
}

.dropdown-customized-style {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.dropdown-customized-style i {
  margin-right: 0.5rem;
}

.custom-drp-lbl-ic {
  width: 32px;
  height: 32px;
  outline: transparent;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 2px;
  background-color: transparent;
  color: #0078d4;
  margin-bottom: -8px;
  user-select: none;
}
.custom-drp-lbl-ic:hover {
  color: #106EBE;
  background-color: #f3f2f1;
}

::deep .bit-drp-lbl {
  padding-bottom: 1.25rem;
}

.grid-wrap {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-wrap .cascading-dropdowns-info {
  padding-top: 1.875rem;
}
@media screen and (max-width: 37.5em) {
  .grid-wrap {
    display: block;
    grid-template-columns: none;
  }
  .grid-wrap .cascading-dropdowns-info {
    padding-top: 0;
  }
}
