@*<div>
    <BupProgress>
        <div class="bup-container">
            <div class="bup-title">Loading...</div>
            <div class="bup-progress">
                <div id="bit-bup-progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </BupProgress>
</div>*@

<div>
    <BupProgress>
        <div class="bup-progress-text" />
        <svg class="bup-container">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
    </BupProgress>
</div>