<div>
    <BupProgress>
        <div class="bup-container">
            <div class="bup-title">Blazor...</div>
            <div class="bup-progress">
                <div id="bit-bup-progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </BupProgress>
</div>