@page "/admin-panel/dev-ops"

<div class="page-container">
    <h1 class="page-main-title">DevOps</h1>
    <div class="page-desc">
        Bit AdminPanel provides features to add support for DevOps using GitHub actions.
    </div>
    <div class="section-card">
        <h2 class="section-card-title">CI</h2>
        <div class="section-card-txt">
            <span class="high-light-text">CI</span> pipeline which is located in <span class="high-light-text">.github/workflows/ci.yml</span> ensures that every change that is committed into <span class="high-light-text">develop branch</span> won't break projects build in the following modes:
        </div>
        <div class="section-card-txt">
            <ul>
                <li>Blazor Server</li>
                <li>Blazor Web Assembly</li>
                <li>Blazor Hybrid - Android</li>
                <li>Blazor Hybrid - iOS</li>
                <li>Blazor Hybrid - Windows</li>
                <li>Blazor Hybrid - Mac</li>
            </ul>
        </div>
        <div class="section-card-txt">
            The CI pipeline only has one variable called <span class="high-light-text">WEB_APP_DEPLOYMENT_TYPE</span> that you can read more about it <a href="admin-panel/deployment-type" target="_blank">here</a>
        </div>
    </div>


    <div class="section-card">
        <h2 class="section-card-title">CD</h2>

        <div class="section-card-txt">
            <span class="high-light-text">CD</span> pipeline located in <span class="high-light-text">.github/workflows/cd.yml</span> builds and deploys every change committed in the<span class="high-light-text">main branch</span> into production.
        </div>
        <div class="section-card-txt">
            By default, the CD pipeline produces <span class="high-light-text">.aab</span> and <span class="high-light-text">.apk</span> for android, <span class="high-light-text">.ipa</span> for iOS, <span class="high-light-text">.exe</span> for Windows and, <span class="high-light-text">.pkg</span> for macOS. It also creates a zip folder that contains API+WebAssembly projects and an <a href="https://learn.microsoft.com/en-us/ef/core/managing-schemas/migrations/applying?tabs=dotnet-core-cli#bundles" target="_blank">EF core migrations bundle</a> to migrate your database. This pipeline also uploads all of the produced artifacts to the GitHub Actions artifacts.
        </div>
        <div class="section-card-txt">
            You can manually deploy the artifacts into corresponding locations (App Stores, Virtual Private Servers), or you can write more scripts to automate these processes. For example, we've created a deploy phase for API+WebAssembly that updates the database using the migrations bundle and optionally deploy artifacts to azure web apps.
        </div>
        <div class="section-card-txt">
            The CD pipeline includes the following variables:
        </div>
        <div class="code-box">
            <pre><code>env:
  WEB_APP_DEPLOYMENT_TYPE: 'DefaultDeploymentType'
  API_SERVER_ADDRESS: 'https://adminpanel.bitplatform.dev/api/' # The API backend URL that clients use to connect to the server.
  APP_SERVICE_NAME: 'app-service-td-test' # Azure Web App name (If you want to deploy your project to the Azure Web App)
</code></pre>
        </div>
        <div class="section-card-txt">
            And it also includes the following <a href="https://docs.github.com/en/rest/actions/secrets" target="_blank">GitHub actions secrets</a>. It's important to mention that since the GitHub Actions secrets does not support storing files,
            to store secret files (such as pfx files), you need to convert the files' content to base64 and store the encoded result value as secret values.
        </div>
        <div class="code-box">
            <pre><code># IdentityCertificate.pfx (See JWT settings section of https://bitplatform.dev/admin-panel/settings)
API_IDENTITY_CERTIFICATE_FILE_BASE64
API_IDENTITY_CERTIFICATE_PASSWORD
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
# Database
API_CONNECTION_STRING
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
# Azure App Service (Optional)
AZURE_APP_SERVICE_PUBLISH_PROFILE # https://learn.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
# Android
ANDROID_RELEASE_KEYSTORE_FILE_BASE64
ANDROID_RELEASE_SIGNING_PASSWORD
ANDROID_RELEASE_KEYSTORE_PASSWORD
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
# iOS https://docs.github.com/en/actions/deployment/deploying-xcode-applications/installing-an-apple-certificate-on-macos-runners-for-xcode-development
iOS_BUILD_CERTIFICATE_FILE_BASE64
iOS_P12_PASSWORD
iOS_BUILD_PROVISION_PROFILE_FILE_BASE64
iOS_KEYCHAIN_PASSWORD
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-</code></pre>
        </div>
        <div class="section-card-txt">
            We have a plan to automate the deployment of <span class="high-light-text">.ipa</span> and <span class="high-light-text">.aab</span> files to the Apple Store & Google Play in the near future. So stay tuned!
        </div>
    </div>

</div>

<NavigationButtons Prev="Multilingualism" PrevUrl="/admin-panel/multilingualism" Next="Contribute" NextUrl="/admin-panel/contribute" />
