@page "/admin-panel/getting-started"

<div class="page-container">
    <h1 class="page-main-title">Getting started</h1>
    <div class="page-desc">
        Install the necessary packages to start building with the Bit AdminPanel.
    </div>
    <section class="section-card">
        <h2 class="section-card-title">Create project</h2>
        <div class="section-card-txt">
            1. Install the AdminPanel Template from the NuGet package manager.
        </div>
        <div class="code-box">dotnet new install Bit.AdminPanel</div>
        <div class="section-card-txt">
            2. Create a new project using the Template installed
        </div>
        <div class="code-box">dotnet new bit-admin</div>
        <div class="section-card-txt"><span class="bold-txt">Note</span>: By default, the current folder name will be considered as the solution name. If you want to choose another name, use the switch -n as below.</div>
        <div class="code-box">dotnet new bit-admin -n [YourSolutionName]</div>
        <div class="section-card-txt">
            During the project construction, you will be prompted to install the LibSassBuilder global tool and generate CSS from SCSS files. Select "Yes" to both requests.
            CSS files will automatically be generated from SCSS files after each build, and the <a href="https://marketplace.visualstudio.com/items?itemName=Failwyn.WebCompiler64" target="_blank">Web Compiler 2022+ extension</a> in Visual Studio and the <a href="https://marketplace.visualstudio.com/items?itemName=glenn2223.live-sass" target="_blank">Live Sass Compiler Extension</a> in Visual Studio Code will also generate CSS immediately after saving SCSS files.
            This allows for real-time changes to be viewed in the browser without losing state, thanks to dotnet hot reload.
        </div>
        <div class="section-card-txt">
            You can also create a new project with the Visual Studio.
        </div>
        <div class="image-container">
            <img class="image" alt="Create new project" width="1265" height="834" src="/images/demo/create-project-admin.webp" />
        </div>

    </section>
</div>

<NavigationButtons Prev="Development prerequisites" PrevUrl="/admin-panel/development-prerequisites" Next="Database" NextUrl="/admin-panel/database" />