@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_colors.scss';
@import '../../Styles/abstracts/_mixins.scss';

.page-container {
    @include PageContainer;
}

.page-main-title {
    @include PageMainTitle;
}

.page-flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
}

.page-conent-container {
    flex-direction: row;
    flex-grow: 0;
    flex-basis: 66%;
    max-width: 66%;
    margin: 0;
    box-sizing: border-box;

    &:last-child {
        flex-basis: 34%;
        max-width: 34%;
        padding-left: rem(48px);
    }

    @include lt-xl {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;

        &:last-child {
            flex-basis: 100%;
            max-width: 100%;
            padding-top: rem(32px);
            padding-left: 0;
        }
    }
}

.image-container {
    position: relative;
    padding: 55% 0 0 0;

    .template-img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        border-radius: rem(8px);
        box-shadow: 0 20px 20px -20px rgba(0,0,0,0.30), 0 0 15px rgba(0,0,0,0.06);
        color: #f5f5f5;
        background-color: #f5f5f5;
    }

    .preview-btn-shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(8px);
        background-color: rgba(25, 118, 210, 0.6);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .preview-btn {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: rem(64px);
        outline: 0;
        border: 0;
        margin: 0;
        padding: rem(12px) rem(16px);
        border-radius: rem(4px);
        box-sizing: border-box;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        font-weight: 500;
        font-size: rem(16px);
        line-height: 1.2;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: $White;
        background-color: #1976d2;

        &:hover {
            background-color: #0052cc;
        }
    }

    &:hover {
        .preview-btn-shadow {
            opacity: 1;
        }
    }
}

.content-title {
    display: flex;
    min-height: rem(36px);
    width: 100%;
    overflow: hidden;
    margin: rem(32px) 0 rem(24px);
    border-bottom: rem(1px) solid rgba(0, 0, 0, 0.25);
    color: #2c2c2c;
    font-size: rem(16px);
    font-weight: 700;
}

.description-list {
    list-style: none;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 1.5;
    padding: 0;
}

.primary-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: rem(64px);
    padding: rem(12px) rem(16px);
    border-radius: rem(4px);
    outline: 0;
    border: 0;
    margin-bottom: rem(8px);
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: 600;
    font-size: rem(16px);
    line-height: 1.2;
    color: $White;
    background-color: $B6Color;

    &:hover {
        background-color: #0052cc;
    }
}

.secondary-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: rem(64px);
    padding: rem(12px) rem(16px);
    border-radius: rem(4px);
    outline: 0;
    border: rem(1px) solid #bdbdbd;
    margin-bottom: rem(8px);
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: 600;
    font-size: rem(16px);
    line-height: 1.2;
    color: #1976d2;
    background-color: $White;

    &:hover {
        background-color: rgba(25, 118, 210, 0.04);
        border-color: transparent;
    }
}

.btn-img {
    width: rem(18px);
    height: rem(18px);
    margin-right: rem(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.app-center {
    background-image: url('/images/demo/app-center.svg');
}

.figma {
    background-image: url('/images/demo/figma.svg');
}

.nuget {
    background-image: url('/images/demo/nuget.svg');
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: rem(16px) 0 rem(24px);
}

tbody {
    display: table-row-group;
}

tr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;

    td {
        font-weight: 400;
        font-size: rem(14px);
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        text-align: left;
        padding: rem(16px);
        color: #2c2c2c;
        border-top: rem(1px) solid rgba(224, 224, 224, 0.5);

        &:last-child {
            text-align: right;
            flex-direction: row-reverse;
        }
    }
}