@page "/admin-panel/run"
@inherits AppComponentBase

<PageOutlet Url="admin-panel/run"
            Title="Run - AdminPanel"
            Description="run the admin panel template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>AdminPanel</BitTypography>
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Run</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        To run the apps built with the Bit AdminPanel use the following instructions.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>How?</BitTypography>
        <div class="section-card-txt">
            After you've done the configuration, you can run the application. Set Api project as startup and run, you can see the swagger dashboard in the first view.
        </div>
        <div class="image-container">
            <img class="image small" alt="Swagger dashboard" src="/images/templates/admin/swagger-admin.webp" />
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>SignUp</BitTypography>
        <div class="section-card-txt">
            With the help of <b>Swagger</b>, you can call the <b>SignUp</b> API and Start the registration process, navigate to <b>Auth/SignUp</b>
            API and press the <b>Try it Out</b> button, in the <b>Request body</b> Enter SignUp data, and press Execute button.
        </div>
        <div class="image-container">
            <img class="image" alt="Swagger Sign Up" src="/images/templates/swagger-signup.webp" />
        </div>
        <br />
        <div class="section-card-txt">
            In <b>SignUp</b> Process after call API, a confirmation email send to your email, In the development, Bit saves sent emails as a .eml file in the
            <b>./AdminPanel/Api/bin/Debug/net7.0/sent-emails</b> path, and developers can easily handle them.
        </div>
        <div class="image-container">
            <img class="image small" alt="Confirm email" src="/images/templates/admin/confirm-email-admin.webp" />
        </div>
        <br />
        <div class="section-card-txt">
            By pressing the <b>Confirm email</b> button, the ConfirmEmail Api calls and registration process complete.
            After it, you can login with the swagger login form on the top of the page, and call other APIs that need Authentication.
        </div>
        <div class="image-container">
            <img class="image small" alt="Swagger Sign In" src="/images/templates/admin/swagger-login-admin.webp" />
        </div>
    </section>
</div>

<NavigationButtons Prev="Database" PrevUrl="/admin-panel/database" Next="Hosting models" NextUrl="/admin-panel/hosting-models" />