@page "/admin-panel/settings"
@inherits AppComponentBase

<PageOutlet Url="admin-panel/settings"
            Title="Settings - AdminPanel"
            Description="settings of the admin panel template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Settings</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Other configurations available in the Bit AdminPanel are as follows:
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Authentication policies</BitTypography>
        <div class="section-card-txt">
            Bit AdminPanel provides authentication with and implements the SignUp and SignIn user interfaces.
            You can change the default settings of the Identity Settings according to your needs;
            These settings are in the <b>appsettings.json</b> file in the Api project.
        </div>
        <div class="code-box">
            <pre>
<code>"IdentitySettings": {
    "PasswordRequireDigit": "false",
    "PasswordRequiredLength": "6",
    "PasswordRequireNonAlphanumeric": "false",
    "PasswordRequireUppercase": "false",
    "PasswordRequireLowercase": "false",
    "RequireUniqueEmail": "true",
    "ConfirmationEmailResendDelay": "0.00:02:00", //Format: D.HH:mm:nn
    "ResetPasswordEmailResendDelay": "0.00:02:00" //Format: D.HH:mm:nn
}</code>
            </pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>JWT settings</BitTypography>
        <div class="section-card-txt">
            Bit AdminPanel uses JWT to provide token-based authentication and you can change these settings.
            You can find these settings in the <b>appsettings.json</b> file in the Api project.
        </div>
        <div class="code-box">
            <pre class="code">
<code>"JwtSettings": {
    "IdentityCertificatePassword": "P@ssw0rdP@ssw0rd",
    "Issuer": "AdminPanel",
    "Audience": "AdminPanel",
    "NotBeforeMinutes": "0",
    "ExpirationMinutes": "1440"
}</code>
            </pre>
        </div>
        <div class="section-card-txt">
            <b>Note</b>: IdentityCertificatePassword referring to the password of the
            <b>IdentityCertificate.pfx</b> file in the Api project that used as certificate file
            for store the public key and etc for validating incoming JWT tokens.
            To create PFX file run the following commands in PowerShell with the desired password and file path for your pfx file.
        </div>
        <div class="code-box">
            <pre class="code">
<code>> $cert = New-SelfSignedCertificate -CertStoreLocation Cert:\LocalMachine\My -Subject "IdentityServerCN" -Provider "Microsoft Strong Cryptographic Provider" -HashAlgorithm "SHA512" -NotAfter (Get-Date).AddYears(5)
> Export-PfxCertificate -cert ('Cert:\LocalMachine\My\' + $cert.thumbprint) -FilePath PATH_TO_YOUR_IdentityServerCertificate.pfx -Password (ConvertTo-SecureString -String "YOUR_PASSWORD" -Force -AsPlainText)</code>
        </pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Email settings</BitTypography>
        <div class="section-card-txt">
            Bit AdminPanel uses <a href="https://github.com/lukencode/FluentEmail">FluentEmail</a> to send emails.
            You can change the SMTP provider settings in the <b>appsettings.json</b> file in the Api project.
        </div>
        <div class="code-box">
            <pre class="code">
<code>"EmailSettings": {
    "Host": "LocalFolder", // Local folder means storing emails in bin\sent-emails folder. (Recommended for testing purposes only)
    "Port": "25",
    "DefaulFromEmail": "info@admin.com",
    "DefaultFromName": "Admin",
    "UserName": null,
    "Password": null
}</code>
        </pre>
        </div>
        <div class="section-card-txt">
            <b>Note</b>: You can find email templates used for email confirmation and reset password in the <b>Resources</b> directory of the Api project.
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>User profile image settings</BitTypography>
        <div class="section-card-txt">
            Bit AdminPanel saves user profile image in <b>Attachments\Profiles</b> directory
            of Environment.SpecialFolder.ApplicationData as default, you can change this path as you need from the <b>appsettings.json</b> file in the Api project.
        </div>
        <div class="code-box">
            <pre class="code"><code>"UserProfileImagesDir": "Attachments/Profiles/"</code></pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Health check settings</BitTypography>
        <div class="section-card-txt">
            Bit AdminPanel supports Health Checks for reporting the health of app infrastructure components.
            Health checks APIs are exposed as an HTTP endpoint. You can change the settings of this feature in the
            <b>appsettings.json</b> file in the Api project.
        </div>
        <div class="code-box">
            <pre class="code"><code>"HealthCheckSettings": {
    "EnableHealthChecks": true
}</code></pre>
        </div>
        <div class="section-card-txt">
            <b>Note</b>: You can find Health Checks dashboard from <b>https://localhost:5011/healthchecks-ui</b> by default.
        </div>
    </section>
</div>

<NavigationButtons Prev="Deployment type" PrevUrl="/admin-panel/deployment-type" Next="Project structure" NextUrl="/admin-panel/project-structure" />