@import '../../../Bit.BlazorUI/Styles/functions.scss';

.bit-pmd {
    .bit-mdl-ovl {
        background-color: transparent;
    }

    .bit-mdl-ctn {
        display: flex;
        flex-direction: column;
    }

    &.bit-pmd-mfl {
        .bit-mdl-ovl {
            background-color: $clr-bg-overlay;
        }
    }
}

.bit-pmd-tbr {
    .bit-mdl-ctn {
        border-top: spacing(0.5) solid $clr-pri;
    }
}

.bit-pmd-mdl {
    .bit-mdl-ovl {
        display: none;
    }
}

.bit-mdl-abs {
    z-index: unset;
    position: absolute;
}

.bit-mdl-tlf {
    align-items: flex-start;
    justify-content: flex-start;
}

.bit-mdl-tcr {
    align-items: flex-start;
    justify-content: center;
}

.bit-mdl-trg {
    align-items: flex-start;
    justify-content: flex-end;
}

.bit-mdl-tst {
    align-items: flex-start;
    justify-content: flex-start;
}

.bit-mdl-ten {
    align-items: flex-start;
    justify-content: flex-end;
}

.bit-mdl-clf {
    align-items: center;
    justify-content: flex-start;
}

.bit-mdl-ctr {
    align-items: center;
    justify-content: center;
}

.bit-mdl-crg {
    align-items: center;
    justify-content: flex-end;
}

.bit-mdl-cst {
    align-items: center;
    justify-content: flex-start;
}

.bit-mdl-cen {
    align-items: center;
    justify-content: flex-end;
}

.bit-mdl-blf {
    align-items: flex-end;
    justify-content: flex-start;
}

.bit-mdl-bcr {
    align-items: flex-end;
    justify-content: center;
}

.bit-mdl-brg {
    align-items: flex-end;
    justify-content: flex-end;
}

.bit-mdl-bst {
    align-items: flex-end;
    justify-content: flex-start;
}

.bit-mdl-ben {
    align-items: flex-end;
    justify-content: flex-end;
}

.bit-pmd-hcn {
    top: 0;
    z-index: 1;
    display: flex;
    position: sticky;
    font-weight: 600;
    color: $clr-fg-pri;
    overflow-wrap: anywhere;
    background-color: $clr-bg-pri;
    padding: spacing(2) spacing(2) 0;
}

.bit-pmd-hdr {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: spacing(2.5);
}

.bit-pmd-cls {
    display: flex;
    cursor: pointer;
    width: spacing(5);
    height: spacing(5);
    align-items: center;
    justify-content: center;
    font-size: spacing(1.75);
    border-radius: spacing(0.25);
    background-color: transparent;

    @media (hover: hover) {
        &:hover {
            color: $clr-fg-pri-hover;
            background-color: $clr-bg-pri-hover;
        }
    }

    &:active {
        color: $clr-fg-pri-active;
        background-color: $clr-bg-pri-active;
    }
}

.bit-pmd-bdy {
    flex-grow: 1;
    overflow-y: auto;
    padding: spacing(2);
}

.bit-pmd-fcn {
    bottom: 0;
    z-index: 1;
    position: sticky;
    background-color: $clr-bg-pri;
    padding: 0 spacing(2) spacing(2) spacing(2);
}
