@import '../../../Styles/abstracts/_colors.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_functions.scss';

.example-box {
    display: flex;
    gap: rem(15px);
    flex-flow: column nowrap;
    width: fit-content;
}
