@page "/components/typography"

@using Bit.BlazorUI.Demo.Client.Shared.Components

<ComponentDemo ComponentName="Typography"
               ComponentDescription="Use typography to present your design and content as clearly and efficiently as possible."
               ComponentParameters="componentParameters"
               EnumParameters="enumParameters">

    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitTypography>
                    This is test
                </BitTypography>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>