@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

.bit-lnk {
    &.bit-lnk-fluent {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: inherit;
        color: $Primary;
        outline: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:active, &:focus {
            color: $ThemeDarker;
        }

        &:active, &:hover {
            text-decoration: underline;
        }
    }

    &.bit-lnk-disabled-fluent {
        color: $Grey90;
        cursor: default;

        &:hover, &:active, &:focus {
            color: $Grey90;
        }

        &:hover, &:active {
            text-decoration: none;
        }
    }

    &.underlined {
        text-decoration: underline;

        &:hover, &:active, &:focus {
            text-decoration: underline;
        }
    }
}