@using TodoTemplate.Api.Models.Emailing

@model EmailConfirmationModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm email</title>
</head>
<body>
    Hello @Model.DisplayName
    <br />
    <br />
    Thanks for using this app.
    <br />
    <br />
    Please verify your email address.
    <hr />
    <a href="@Model.ConfirmationLink">Click to confirm!</a>
    <br />
    <br />
    Or, copy the link below to your browser address bar:
    <br />
    <br />
    @Model.ConfirmationLink
    <hr />
</body>
</html>