@using TodoTemplate.Api.Models.Emailing

@model EmailLinksModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
    Hello @Model.DisplayName!
    <br />
    <br />
    Someone has requested a link to change your password.
    <hr />
    <a href="@Model.Link">Reset your password!</a>
    <br />
    <br />
    Or, copy the link below to your browser address bar:
    <br />
    <br />
    @Model.Link
    <hr />
    If you didn't request this, please ignore this email.
    <br />
    <br />
    Your password won't change until you access the link above and create a new one.
</body>
</html>