<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Bit.Besql.Demo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@(new InteractiveAutoRenderMode(prerender: false))" />
</head>

<body>
    <Routes @rendermode="@(new InteractiveAutoRenderMode(prerender: false))" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Bit.Besql/browserCache.js"></script>
</body>

</html>
