@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';

.page-sec {
    width: 100%;
    display: flex;
    max-width: rem(1440px);
    box-sizing: border-box;
    padding: rem(40px) rem(140px);
    margin: 0 auto;

    @include lg {
        padding: rem(32px) rem(60px);
    }

    @include sm {
        padding: rem(16px) rem(30px);
    }
}

.sec-title {
    font-weight: bold;
    font-size: rem(44px);
    margin-bottom: 1rem;
    text-align: center;

    @include lg {
        font-size: rem(34px);
    }

    @include md {
        font-size: rem(30px);
    }

    @include sm {
        font-size: rem(26px);
    }
}

.sec-title-underline {
    background-color: $Y1;
    width: rem(240px);
    height: rem(4px);
    margin-bottom: 2rem;

    @include lg {
        width: rem(200px);
        height: rem(2px);
    }

    @include md {
        width: rem(180px);
    }

    @include sm {
        width: rem(150px);
    }
}

.sec-content {
    color: $Gray2;
    font-size: rem(20px);
    text-align: center;
    line-height: 2rem;
    margin-bottom: 4rem;

    @include md {
        font-size: rem(18px);
    }

    @include sm {
        font-size: rem(16px);
    }
}


.about-bg {
    background-image: url('/images/about/about_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: rem(140px);

    .about-us {
        padding-top: rem(180px);
        display: flex;
        flex-flow: column;
        align-items: center;

        .about-title {
            font-weight: 800;
            font-size: rem(40px);
            line-height: rem(52px);
            color: $B2;
            margin-bottom: rem(24px);
        }

        .about-bread {
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $Gray2;
        }
    }

    .evolve-with-bit {
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: rem(96px);

        .sec-body {
            .sec-title {
                font-weight: 700;
                font-size: rem(40px);
                line-height: rem(52px);
                text-align: unset;
                margin-bottom: rem(24px);

                @include sm {
                    font-size: rem(34px);
                    text-align: center;
                }
            }

            .sec-desc {
                font-weight: 400;
                font-size: rem(20px);
                line-height: rem(32px);
                color: $Gray1;
                max-width: rem(880px);

                @include sm {
                    font-size: rem(18px);
                    text-align: center;
                }
            }
        }
    }
}

.what-we-guarantee {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;

    .guarantee-card-group {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;

        @include md {
            justify-content: center;
        }
    }

    .guarantee-card {
        width: calc(50% - 1rem);
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        border: 1px solid $B5;
        border-radius: rem(15px);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: rem(220px);
        padding: 2rem;
        //background-color: $B5;

        @include md {
            width: calc(100% - 2rem);
        }

        @include sm {
            background-size: rem(180px);
        }

        &:hover {
            box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.12);
        }

        .guarantee-card-title {
            font-weight: 700;
            font-size: rem(30px);
            line-height: rem(40px);
            color: $Black;
            padding-top: rem(40px);
            padding-left: rem(170px);
            margin-bottom: 3rem;

            @include sm {
                font-size: rem(24px);
                padding-top: rem(30px);
                padding-left: rem(100px);
                margin-bottom: 2rem;
            }
        }

        .guarantee-card-desc {
            width: 100%;
            font-weight: 400;
            font-size: rem(22px);
            line-height: rem(32px);
            color: $Gray1;

            @include sm {
                font-size: rem(16px);
            }
        }
    }


    .guarantee-card-1 {
        background-image: url('/images/about/guarantee/customer-first-bg.svg');
    }

    .guarantee-card-2 {
        background-image: url('/images/about/guarantee/performance-bg.svg');
    }

    .guarantee-card-3 {
        background-image: url('/images/about/guarantee/integrity-bg.svg');
    }

    .guarantee-card-4 {
        background-image: url('/images/about/guarantee/quality-bg.svg');
    }

    .guarantee-card-5 {
        background-image: url('/images/about/guarantee/technical-skill-bg.svg');
    }
}

.our-team {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;

    .team-image {
        background-image: url('/images/about/team/team-1.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: rem(654px);

        @include md {
            background-image: url('/images/about/team/team-2.webp');
        }

        @include sm {
            background-image: url('/images/about/team/team-3.webp');
        }

        @include xs {
            background-image: url('/images/about/team/team-4.webp');
        }
    }
}
