@page "/about"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Evolve with Bit</div>
        <div class="section-desc">We are a comprehensive software development agency, providing a wide range of software and cloud-based solutions to meet your needs. Whether you want to update your existing products or services or transform your business using cutting-edge technology, we can help you achieve your goals. We are dedicated to providing the right solutions to help you succeed in today's digital landscape. </div>
    </div>
</section>

<section class="page-top-content">
    <div class="title-container--primary">
        <div class="title--primary">Why </div>
        <div class="title--primary">Bit<span class="title-border--primary"></span></div>
        <div class="title--primary">?</div>
    </div>
    <div class="content-container">
        <div class="item-container">
            <div class="item-title"><span class="item-icon quality-icon"></span>Quality</div>
            <div class="item-desc">At our company, we firmly believe in the importance of high-quality standards and apply them consistently in all aspects of our work.</div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon performance-icon"></span>Performance</div>
            <div class="item-desc">
                At Bit, we strive for excellence in performance by utilizing a results-driven approach and consistently exceeding client expectations.
            </div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon integrity-icon"></span>Integrity</div>
            <div class="item-desc">We take great pride in being a trusted partner to our clients. We always act with integrity, treating every client with fairness and honesty, regardless of their size.</div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon sustainability-icon"></span>Sustainability</div>
            <div class="item-desc">
                We approach sustainability holistically, considering both social and environmental factors, in order to promote long-term success for our clients and contribute to a better world for future generations.
            </div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon skills-icon"></span>Technical skills</div>
            <div class="item-desc">Our team is composed of highly skilled and knowledgeable individuals who stay up-to-date on the latest technology to provide the most effective solutions for our clients.</div>
        </div>
    </div>
</section>

<section class="people-section">
    <div class="title-container--primary">
        <div class="title--primary">Our </div>
        <div class="title--primary">People<span class="title-border--primary"></span></div>
    </div>
    <div class="section-desc">Our team works collaboratively and transparently, utilizing excellent communication and a flexible approach to deliver custom software solutions to a wide range of businesses.</div>
    <div class="photo-container">
        <div class="photo photo-1"></div>
        <div class="photo photo-2"></div>
        <div class="photo photo-3"></div>
        <div class="photo photo-4"></div>
        <div class="photo photo-5"></div>
        <div class="photo photo-6"></div>
        <div class="photo photo-7"></div>
        <div class="photo photo-8"></div>
    </div>
</section>

<section class="qoute-section">
    <div class="qoute-text">
        We believe that with the right team and individuals in the right roles, anything is possible.
        <div class="qoute-icon top-quote-icon"></div>
        <div class="qoute-icon bottom-quote-icon"></div>
    </div>
</section>
