@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_mixins.scss';

.page-sec {
    width: 100%;
    display: flex;
    max-width: rem(1440px);
    box-sizing: border-box;
    padding: rem(40px) rem(140px);
    margin: 0 auto;

    @include lg {
        padding: rem(32px) rem(60px);
    }

    @include sm {
        padding: rem(16px) rem(30px);
    }
}

.sec-title {
    font-size: rem(44px);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;

    @include lg {
        font-size: rem(34px);
    }

    @include md {
        font-size: rem(30px);
    }

    @include sm {
        font-size: rem(26px);
    }
}

.sec-title-underline {
    background-color: $Y1;
    width: rem(240px);
    height: rem(4px);
    margin-bottom: 2rem;

    @include lg {
        width: rem(200px);
        height: rem(2px);
    }

    @include md {
        width: rem(180px);
    }

    @include sm {
        width: rem(150px);
    }
}

.sec-content {
    color: $Gray2;
    font-size: rem(20px);
    text-align: center;
    line-height: 2rem;
    margin-bottom: 4rem;

    @include md {
        font-size: rem(18px);
    }

    @include sm {
        font-size: rem(16px);
    }
}

.sec-btn--primary {
    @include PrimaryButton($IsInNavbar: false);
}

.home-bg {
    background-image: url('/images/home/home_bg.webp');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: rem(140px);
}

.to-the-moon {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: rem(256px);

    @include md {
        flex-flow: column-reverse;
        align-items: center;
        padding-top: rem(100px);
    }

    .sec-bg {
        flex-grow: 1;
        height: rem(482px);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url('/images/home/to-the-moon-bg.svg');

        @include md {
            width: 100%;
            max-width: rem(500px);
        }
    }

    .sec-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: rem(589px);
        margin-right: rem(22px);
        padding-top: rem(24px);
        box-sizing: border-box;
        color: $Black;

        @include lg {
            max-width: rem(450px);
        }

        @include md {
            max-width: unset;
            justify-content: center;
            align-items: center;
        }
    }

    .sec-title {
        font-weight: 700;
        font-size: rem(56px);
        line-height: rem(80px);

        @include lg {
            font-size: rem(48px);
            line-height: rem(64px);
        }

        @include md {
            margin-bottom: 2rem;
        }

        @include sm {
            font-size: rem(34px);
            line-height: rem(48px);
        }
    }

    .sec-subtitle {
        font-weight: 600;
        font-size: rem(30px);
        line-height: rem(40px);
        margin-bottom: rem(20px);

        @include lg {
            font-size: rem(22px);
            line-height: rem(32px);
        }

        @include md {
            margin-bottom: 2rem;
        }

        @include sm {
            font-size: rem(20px);
            line-height: rem(28px);
        }
    }

    .sec-desc {
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(32px);
        margin-bottom: rem(30px);
        color: $Gray1;
        text-align: left;

        @include md {
            font-size: rem(18px);
            line-height: rem(28px);
            margin-bottom: rem(50px);
        }

        @include sm {
            font-size: rem(14px);
            line-height: rem(20px);
        }
    }
}

.what-we-offer {
    width: 100%;
    flex-flow: column;
    align-items: center;
    margin-bottom: rem(140px);

    .sec-card-group {
        display: flex;
        flex-flow: row wrap;
        border-top: 1px solid $Gray4;
        border-left: 1px solid $Gray4;
        margin-bottom: rem(77px);

        @include md {
            max-width: rem(500px);
        }

        .service-card {
            width: calc(100% / 4);
            height: rem(220px);
            border-right: 1px solid $Gray4;
            border-bottom: 1px solid $Gray4;
            padding: rem(178px) rem(13px) 0;
            font-weight: bold;
            font-size: rem(20px);
            text-align: center;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: top rem(50px) center;
            background-size: rem(95px);
            cursor: pointer;

            &:hover {
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            }

            @include lg {
                font-size: rem(14px);
            }

            @include md {
                width: calc(100% / 2);
            }

            @include sm {
                width: 100%;
                font-size: rem(20px);
                background-position-y: rem(30px);
                padding-top: rem(158px);
            }
        }
    }
}


.success-bg {
    background-color: $Gray5;
    margin-bottom: rem(140px);

    @include md {
        padding-bottom: 2rem;
    }
}

.success-story {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;

    .sec-carousel {
        width: 100%;
        background-color: $White;
        padding: 3rem 4rem;
        border-radius: 1rem;
    }

    ::deep .carousel {
        width: 100%;
        height: rem(430px);

        @include md {
            height: rem(530px);
        }

        @include sm {
            height: rem(300px);
        }

        .slide {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(20px);

            @include md {
                flex-flow: column;
            }
        }

        .slide-image {
            width: rem(500px);
            height: rem(300px);

            @include lg {
                width: rem(350px);
                height: rem(210px);
            }

            @include md {
                width: rem(330px);
                height: rem(200px);
            }

            @include sm {
                width: rem(250px);
                height: rem(160px);
            }
        }

        .slide-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            @include md {
                align-items: center;
            }
        }

        .slide-title {
            font-weight: 700;
            font-size: rem(30px);
            line-height: rem(40px);
            color: #0065EF;
            margin-bottom: rem(16px);

            @include lg {
                font-size: rem(26px);
                line-height: rem(36px);
            }

            @include md {
                font-size: rem(22px);
                line-height: rem(32px);
            }
        }

        .slide-title-underline {
            width: rem(285px);
            height: 2px;
            background-color: $Gray4;
            margin-bottom: 1rem;

            @include md {
                width: rem(180px);
            }
        }

        .slide-desc {
            font-weight: 400;
            font-size: rem(20px);
            line-height: rem(32px);
            color: $Gray1;

            @include md {
                text-align: center;
                font-size: rem(18px);
                line-height: rem(28px);
            }

            @include sm {
                display: none;
            }
        }
    }

    .prev-next {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        @include md {
            padding: 3rem;
        }

        button {
            cursor: pointer;
            width: rem(56px);
            height: rem(56px);
            background: transparent;
            stroke: $Gray2;
            padding: 0;

            &:hover {
                svg path {
                    stroke: $B2;
                }
            }
        }
    }
}

.how-we-work {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;

    .process-card {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: rem(1160px);
        height: rem(228px);
        border: 1px solid #E6E6E6;
        border-radius: rem(15px);
        margin-bottom: rem(20px);
        box-sizing: border-box;
        background-color: $White;
        background-position: center left rem(42px);
        background-repeat: no-repeat;
        background-size: rem(80px);
        padding-left: rem(171px);

        @include md {
            padding-left: rem(150px);
        }

        @include sm {
            background-position: top rem(16px) left rem(16px);
            background-size: rem(56px);
            padding-left: rem(16px);
            padding-top: rem(66px);
        }

        &:hover {
            border-width: 2px;
            box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.12);
        }

        &:last-child {
            margin-bottom: 0;
        }

        .process-card-title {
            font-weight: bold;
            font-size: rem(28px);
            line-height: rem(46px);
            color: $Black;
            margin-bottom: 1rem;

            @include lg {
                font-size: rem(22px);
                line-height: rem(32px);
            }

            @include md {
                font-size: rem(18px);
                line-height: rem(24px);
            }

            @include sm {
                font-size: rem(16px);
                line-height: rem(20px);
            }
        }

        .process-card-desc {
            width: 100%;
            max-width: rem(754px);
            font-size: rem(16px);
            line-height: rem(25px);
            color: $Black;

            @include lg {
                max-width: rem(412px);
            }

            @include md {
                max-width: rem(330px);
                font-size: rem(14px);
                line-height: rem(22px);
            }

            @include sm {
                max-width: unset;
                font-size: rem(13px);
                line-height: rem(18px);
                padding-right: 1rem;
            }
        }

        .process-card-number {
            position: absolute;
            bottom: rem(24px);
            right: rem(40px);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: rem(80px);
            height: rem(140px);

            @include md {
                width: rem(50px);
                height: rem(110px);
            }

            @include sm {
                width: rem(35px);
                height: rem(96px);
                top: 0;
                right: rem(24px);
            }
        }
    }


    .process-card-1 {
        background-image: url('/images/home/process/functional-specification-bg.svg');

        .process-card-number {
            background-image: url('/images/home/process/process1-white-icon.svg');
        }
    }

    .process-card-2 {
        background-image: url('/images/home/process/prototyping-bg.svg');

        .process-card-number {
            background-image: url('/images/home/process/process2-white-icon.svg');
        }
    }

    .process-card-3 {
        background-image: url('/images/home/process/settingup-team-bg.svg');

        .process-card-number {
            background-image: url('/images/home/process/process3-white-icon.svg');
        }
    }

    .process-card-4 {
        background-image: url('/images/home/process/agile-development-bg.svg');

        .process-card-number {
            background-image: url('/images/home/process/process4-white-icon.svg');
        }
    }

    .process-card-5 {
        background-image: url('/images/home/process/support-bg.svg');

        .process-card-number {
            background-image: url('/images/home/process/process5-white-icon.svg');
        }
    }
}

.what-our-client-says {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9rem;
}
