.page-sec {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.to-the-moon-sec {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 4.875rem 6.25rem 0;
}
@media screen and (max-width: 64em) {
  .to-the-moon-sec {
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .to-the-moon-sec {
    padding: 5.4375rem 5.75rem 0;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .to-the-moon-sec {
    padding: 3.4375rem 2.875rem 0;
  }
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec {
    padding: 3.4375rem 0 0;
  }
}
.to-the-moon-sec .sec-bg {
  width: 37.625rem;
  height: 30.125rem;
  background-image: url("/images/home/to-the-moon-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 1.375rem;
}
@media screen and (max-width: 64em) {
  .to-the-moon-sec .sec-bg {
    width: 32.75rem;
    height: 26.25rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .to-the-moon-sec .sec-bg {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .to-the-moon-sec .sec-bg {
    margin-bottom: 3.4375rem;
  }
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec .sec-bg {
    width: 100%;
    background-size: 32.75rem 26.25rem;
    background-position: center right -13.125rem;
    margin-bottom: 2.375rem;
  }
}
.to-the-moon-sec .sec-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 36.8125rem;
  margin-right: 1.375rem;
  padding-top: 1.5rem;
  box-sizing: border-box;
  color: #000;
}
@media screen and (max-width: 64em) {
  .to-the-moon-sec .sec-content {
    max-width: 100%;
    margin-right: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec .sec-content {
    padding: 0 1.875rem;
  }
}
.to-the-moon-sec .sec-title {
  font-weight: 600;
  font-size: 5rem;
  line-height: 8.125rem;
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec .sec-title {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.9375rem;
    margin-bottom: 0.125rem;
  }
}
.to-the-moon-sec .sec-subtitle {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 3.0625rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec .sec-subtitle {
    font-weight: normal;
    margin-bottom: 0.6875rem;
  }
}
.to-the-moon-sec .sec-desc {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .to-the-moon-sec .sec-desc {
    max-width: 47.6875rem;
    margin-bottom: 3.75rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .to-the-moon-sec .sec-desc {
    max-width: 38.25rem;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 22.5em) {
  .to-the-moon-sec .sec-desc {
    max-width: 100%;
    margin-bottom: 0.9375rem;
  }
}

.projects-sec {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 11.5rem 7.5rem 0;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .projects-sec {
    padding: 5.625rem 4.375rem 0;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .projects-sec {
    padding: 5.625rem 2.25rem 0 0;
  }
}
@media screen and (max-width: 22.5em) {
  .projects-sec {
    padding: 3rem 1.875rem 0;
  }
}
.projects-sec .sec-subtitle {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #000;
  margin-bottom: 4.375rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .projects-sec .sec-subtitle {
    margin-bottom: 7.125rem;
    margin-top: 0.375rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .projects-sec .sec-subtitle {
    margin-bottom: 2.8125rem;
    margin-top: 1.375rem;
  }
}
@media screen and (max-width: 22.5em) {
  .projects-sec .sec-subtitle {
    margin-bottom: 2.625rem;
    font-weight: bold;
  }
}

.slide-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.9375rem;
}
@media screen and (max-width: 64em) {
  .slide-container {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 22.5em) {
  .slide-container {
    margin-bottom: 1.9375rem;
  }
}
.slide-container .slide {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .slide-container .slide {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 22.5em) {
  .slide-container .slide {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
.slide-container .slide-photo {
  width: 35.3125rem;
  height: 24.9375rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.875rem;
  margin-right: 1.625rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .slide-container .slide-photo {
    width: 23.5625rem;
    height: 22.6875rem;
    border-radius: 1.3125rem;
    margin-right: 1.0625rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .slide-container .slide-photo {
    width: 16.4375rem;
    height: 22.625rem;
    border-radius: 0 1.25rem 1.25rem 0;
    margin-right: 1.0625rem;
  }
}
@media screen and (max-width: 22.5em) {
  .slide-container .slide-photo {
    width: 18.6875rem;
    height: 13.1875rem;
    border-radius: 0.625rem;
    margin-right: 0;
    margin-bottom: 2.1875rem;
  }
}
.slide-container .slide-content {
  width: 100%;
  max-width: 35.4375rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.625rem;
}
@media screen and (max-width: 64em) {
  .slide-container .slide-content {
    max-width: 29.875rem;
    margin-left: 1.0625rem;
  }
}
@media screen and (max-width: 22.5em) {
  .slide-container .slide-content {
    max-width: 100%;
    margin-left: 0;
  }
}
.slide-container .slide-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 3.0625rem;
  color: #F44436;
  margin-bottom: 1rem;
}
@media screen and (max-width: 22.5em) {
  .slide-container .slide-title {
    font-weight: normal;
    margin-bottom: 0.75rem;
  }
}
.slide-container .slide-desc {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #000;
}
@media screen and (max-width: 22.5em) {
  .slide-container .slide-desc {
    font-weight: bold;
  }
}

.slider-btn-group {
  width: 74rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.875rem;
}
@media screen and (max-width: 64em) {
  .slider-btn-group {
    width: fit-content;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .slider-btn-group {
    margin-bottom: 2.3125rem;
  }
}
.slider-btn-group .slider-btn {
  width: 3.9375rem;
  height: 3.9375rem;
  background-color: #FFF;
  background-position: center;
  background-size: 1.875rem 0.9375rem;
  background-repeat: no-repeat;
  outline: none;
  border: 0.0625rem solid #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}
.slider-btn-group .slider-btn--prev {
  background-image: url("/images/home/arrow-left-blue-icon.svg");
  margin-right: 0.4375rem;
}
.slider-btn-group .slider-btn--next {
  background-image: url("/images/home/arrow-right-blue-icon.svg");
  margin-left: 0.4375rem;
}
.slider-btn-group .slider-line {
  width: 30.4375rem;
  height: 0.0625rem;
  background-color: #E7E7E7;
}
.slider-btn-group .slider-line:first-child {
  margin-right: 1.5rem;
}
.slider-btn-group .slider-line:last-child {
  margin-left: 1.5rem;
}
@media screen and (max-width: 64em) {
  .slider-btn-group .slider-line {
    display: none;
  }
}

.sec-btn--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.375rem;
  border-radius: 0.1875rem;
  border: none;
  background-color: #1C5BFF;
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  cursor: pointer;
  width: 12.8125rem;
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .sec-btn--primary {
    height: 3.1875rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }
}
@media screen and (max-width: 22.5em) {
  .sec-btn--primary {
    width: 8.5rem;
    height: 2.4375rem;
    font-size: 0.5625rem;
    line-height: 0.75rem;
  }
}
.sec-btn--primary:hover {
  background-color: #FF5D00;
}

.services-sec {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9.0625rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .services-sec {
    padding-top: 6.1875rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .services-sec {
    padding-top: 5.75rem;
  }
}
@media screen and (max-width: 22.5em) {
  .services-sec {
    padding-top: 5.6875rem;
  }
}
.services-sec .sec-desc {
  width: 100%;
  max-width: 50.1875rem;
  margin-bottom: 5rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 64em) {
  .services-sec .sec-desc {
    margin-bottom: 3.25rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .services-sec .sec-desc {
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 22.5em) {
  .services-sec .sec-desc {
    padding: 0 0.75rem;
    margin-top: 0.6875rem;
    margin-bottom: 1.5rem;
  }
}
.services-sec .sec-card-group {
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 0.0625rem solid #EAEAEA;
  border-left: 0.0625rem solid #EAEAEA;
  margin-bottom: 4.8125rem;
}
@media screen and (max-width: 64em) {
  .services-sec .sec-card-group {
    max-width: 45.125rem;
    border-bottom: 0.0625rem solid #EAEAEA;
    border-top: none;
  }
}
@media screen and (max-width: 64em) {
  .services-sec .sec-card-group {
    max-width: 100%;
  }
}

.service-card {
  position: relative;
  width: 25%;
  height: 16.25rem;
  border-right: 0.0625rem solid #EAEAEA;
  border-bottom: 0.0625rem solid #EAEAEA;
  padding: 11.125rem 0.8125rem 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.0625rem;
  text-align: center;
  color: #000;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: top 3.125rem center;
  background-size: 5.9375rem;
  cursor: pointer;
}
.service-card:hover .service-card-overlay {
  opacity: 1;
}
@media screen and (max-width: 64em) {
  .service-card {
    width: 50%;
    border-top: 0.0625rem solid #EAEAEA;
    border-bottom: none;
  }
}
@media screen and (max-width: 22.5em) {
  .service-card {
    width: 100%;
  }
}

.web-development-card {
  background-image: url("/images/home/services/web-development-icon.svg");
}

.app-development-card {
  background-image: url("/images/home/services/app-development-icon.svg");
}

.mobile-development-card {
  background-image: url("/images/home/services/mobile-development-icon.svg");
}

.game-development-card {
  background-image: url("/images/home/services/game-development-icon.svg");
}

.ai-card {
  background-image: url("/images/home/services/ai-icon.svg");
}

.support-card {
  background-image: url("/images/home/services/support-icon.svg");
}

.cloud-card {
  background-image: url("/images/home/services/cloud-icon.svg");
}

.design-card {
  background-image: url("/images/home/services/design-icon.svg");
}

.service-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 2.3125rem;
  box-sizing: border-box;
  opacity: 0;
  background-color: #FAFAFA;
  transition: opacity ease-in 0.3s;
}

.service-card-title {
  width: 100%;
  margin-bottom: 0.375rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.0625rem;
  text-align: left;
  color: #1C5BFF;
}

.service-card-desc {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: left;
  color: #000;
}

.process-sec {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9.0625rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .process-sec {
    padding: 6.1875rem 5.0625rem 0;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .process-sec {
    padding: 5.75rem 1.875rem 0;
  }
}
@media screen and (max-width: 22.5em) {
  .process-sec {
    padding: 5.75rem 1rem 0;
  }
}
.process-sec .sec-desc {
  width: 100%;
  max-width: 49.875rem;
  margin-top: 1.0625rem;
  margin-bottom: 3.25rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #000;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .process-sec .sec-desc {
    margin-top: 0.5rem;
    margin-bottom: 1.6875rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .process-sec .sec-desc {
    margin-top: 0;
    margin-bottom: 2.625rem;
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 22.5em) {
  .process-sec .sec-desc {
    padding: 0 0.25rem;
    margin-top: 1.1875rem;
    margin-bottom: 1.0625rem;
  }
}

.process-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 55.4375rem;
  height: 13.1875rem;
  border: 0.0625rem solid #E6E6E6;
  border-radius: 0.9375rem;
  padding-left: 10.6875rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  background-color: #FFF;
  background-position: center left 2.625rem;
  background-repeat: no-repeat;
}
.process-card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .process-card {
    padding-left: 8.125rem;
    background-position: center left 1.375rem;
  }
}
@media screen and (max-width: 22.5em) {
  .process-card {
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    margin-bottom: 1.125rem;
    padding: 10.1875rem 1.125rem 1rem;
    background-position: top 2.6875rem center;
  }
}
.process-card .process-card-title {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.875rem;
  color: #000;
}
@media screen and (max-width: 22.5em) {
  .process-card .process-card-title {
    text-align: center;
    margin-bottom: 1.3125rem;
  }
}
.process-card .process-card-desc {
  width: 100%;
  max-width: 34rem;
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #000;
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .process-card .process-card-desc {
    max-width: 25.75rem;
  }
}
@media screen and (max-width: 22.5em) {
  .process-card .process-card-desc {
    max-width: 100%;
    text-align: center;
  }
}
.process-card .process-card-number {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 22.5em) {
  .process-card .process-card-number {
    display: none;
  }
}

.process-card-1 {
  background-image: url("/images/home/process/functional-specification-bg.svg");
  background-size: 5.4375rem;
}
.process-card-1 .process-card-number {
  right: 1.4375rem;
  width: 4.1875rem;
  height: 7.9375rem;
  background-image: url("/images/home/process/process1-white-icon.svg");
}

.process-card-2 {
  background-image: url("/images/home/process/prototyping-bg.svg");
  background-size: 5.4375rem;
}
.process-card-2 .process-card-number {
  width: 5.625rem;
  height: 7.8125rem;
  background-image: url("/images/home/process/process2-white-icon.svg");
}

.process-card-3 {
  background-image: url("/images/home/process/settingup-team-bg.svg");
  background-size: 5.5rem;
}
.process-card-3 .process-card-number {
  width: 5.4375rem;
  height: 7.6875rem;
  background-image: url("/images/home/process/process3-white-icon.svg");
}

.process-card-4 {
  background-image: url("/images/home/process/agile-development-bg.svg");
  background-size: 5.5625rem;
}
.process-card-4 .process-card-number {
  width: 5.9375rem;
  height: 7.3125rem;
  background-image: url("/images/home/process/process4-white-icon.svg");
}

.process-card-5 {
  background-image: url("/images/home/process/support-bg.svg");
  background-size: 5.375rem;
}
.process-card-5 .process-card-number {
  width: 5.6875rem;
  height: 7.75rem;
  background-image: url("/images/home/process/process5-white-icon.svg");
}

.team-sec {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 11.4375rem 7.5625rem 17rem;
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .team-sec {
    padding: 9.75rem 7.5625rem 10.25rem;
  }
}
@media screen and (min-width: 22.5625em) and (max-width: 64em) {
  .team-sec {
    padding: 5.375rem 1rem 10.25rem;
  }
}
@media screen and (max-width: 22.5em) {
  .team-sec {
    padding: 4.125rem 1rem;
  }
}
.team-sec .sec-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.5625rem;
}
@media screen and (max-width: 64em) {
  .team-sec .sec-content-container {
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.8125rem;
  }
}
@media screen and (max-width: 22.5em) {
  .team-sec .sec-content-container {
    margin-top: 1.5rem;
  }
}
.team-sec .sec-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 34.0625rem;
  margin-right: 2.0625rem;
}
@media screen and (max-width: 64em) {
  .team-sec .sec-content {
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
  }
}
.team-sec .sec-title {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 3.0625rem;
  text-align: left;
  color: #000;
}
@media screen and (max-width: 64em) {
  .team-sec .sec-title {
    text-align: center;
  }
}
@media screen and (max-width: 22.5em) {
  .team-sec .sec-title {
    margin-bottom: 1.375rem;
    font-size: 1.25rem;
    line-height: 2.0625rem;
  }
}
.team-sec .sec-desc {
  width: 100%;
  margin-bottom: 3.125rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: left;
  color: #000;
}
@media screen and (max-width: 64em) {
  .team-sec .sec-desc {
    text-align: center;
  }
}
@media screen and (max-width: 22.5em) {
  .team-sec .sec-desc {
    margin-bottom: 1.875rem;
  }
}
.team-sec .team-photo {
  width: 36rem;
  height: 24.9375rem;
  margin-left: 2.0625rem;
  border-radius: 1.8125rem;
  background-image: url("/images/home/team-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 64em) {
  .team-sec .team-photo {
    width: 24.875rem;
    height: 18.625rem;
    margin-bottom: 4.4375rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 22.5em) {
  .team-sec .team-photo {
    width: 100%;
    max-width: 20.375rem;
    height: 15.25rem;
    margin-bottom: 2.125rem;
  }
}
