@page "/"
@inherits AppComponentBase

<PageTitle>Bit Platform software development as a service</PageTitle>
<HeadContent>
    <meta name="title" content="" />
    <meta name="description" content="" />
    
    <meta property="og:url" content="https://bitservices.company/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bit Platform software development as a service" />
    <meta property="og:title" content="Bit Platform software development as a service" />
    <meta property="og:description" content="Bit Platform software development as a service" />
    <meta property="og:image" content="https://bitservices.company/images/og-image.webp" />
    
    <meta name="twitter:title" content="Bit Platform software development as a service" />
    <meta name="twitter:description" content="Bit Platform software development as a service" />
    <meta name="twitter:image" content="https://bitservices.company/images/og-image.webp" />
</HeadContent>

<div class="home-bg">
    <section class="page-sec to-the-moon">
        <div class="sec-body">
            <div class="sec-title">To the Moon</div>
            <div class="sec-subtitle">Through the Clouds</div>
            <div class="sec-desc">
                Bit is a digital innovation company with software development at its core. We help out our customers innovate with designing and building their digital products efficiently with our Agile mindset and lean processes.
            </div>
            <a class="sec-btn--primary" href="/cases">See Our Showcases</a>
        </div>
        <div class="sec-bg"></div>
    </section>
</div>

<section class="page-sec what-we-offer">
    <div class="sec-title">WHAT WE OFFER</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        At Bit, we are experts in providing a wide range of software development services. Whether you're unsure of which service best suits your needs, our team is here to help. Schedule a free online consultation with us today to get started.
    </div>
    <div class="sec-card-group">
        <a href="/services#solutions" class="card card-1">Web development</a>
        <a href="/services#solutions" class="card card-2">Mobile development</a>
        <a href="/services#solutions" class="card card-3">Consulting services</a>
        <a href="/services#solutions" class="card card-4">Artificial intelligence</a>
        <a href="/services#solutions" class="card card-5">UI/ UX design</a>
        <a href="/services#solutions" class="card card-6">Technical support</a>
        <a href="/services#solutions" class="card card-7">Cloud base solutions</a>
        <a href="/services#solutions" class="card card-8">Game development</a>
    </div>
    <a class="sec-btn--primary" href="/services">Explore More</a>
</section>

@*<div class="success-bg">
    <section class="page-sec success-story">
        <div class="sec-title">OUR SUCCESS STORIES</div>
        <div class="sec-title-underline"></div>
        <div class="sec-content">
            Your story will go up there.
        </div>
        <div class="sec-carousel">
            <BitCarousel Class="carousel" ShowNextPrev="false" InfiniteScrolling="true" @ref="_carouselRef">
                    <BitCarouselItem>
                        <div class="slide">
                            <img class="slide-image" src="/images/home/MacBook Pro 16 inch.png" alt="Mining Solutions" />
                            <div class="slide-content">
                                <div class="slide-title">Mining Solutions</div>
                                <div class="slide-title-underline"></div>
                                <div class="slide-desc">
                                    Mining Solutions is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience 
                                    in open-pit mining technology and business innovation. ​
                                    With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
                                </div>
                            </div>
                        </div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="slide">
                            <img class="slide-image" src="/images/home/MacBook Pro 16 inch.png" alt="Mining Solutions" />
                            <div class="slide-content">
                                <div class="slide-title">Mining Solutions</div>
                                <div class="slide-title-underline"></div>
                                <div class="slide-desc">
                                    Mining Solutions is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience 
                                    in open-pit mining technology and business innovation. ​
                                    With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
                                </div>
                            </div>
                        </div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="slide">
                            <img class="slide-image" src="/images/home/MacBook Pro 16 inch.png" alt="Mining Solutions" />
                            <div class="slide-content">
                                <div class="slide-title">Mining Solutions</div>
                                <div class="slide-title-underline"></div>
                                <div class="slide-desc">
                                    Mining Solutions is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience 
                                    in open-pit mining technology and business innovation. ​
                                    With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
                                </div>
                            </div>
                        </div>
                    </BitCarouselItem>
            </BitCarousel>
        </div>
        <div class="prev-next">
            <button @onclick="() => _carouselRef!.GoPrev()">
                <svg fill="none" width="56" height="56">
                    <path d="M28 49.0004C39.598 49.0004 49 39.5984 49 28.0004C49 16.4024 39.598 7.00037 28 7.00037C16.402 7.00037 7 16.4024 7 28.0004C7 39.5984 16.402 49.0004 28 49.0004Z" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M26.6656 35.4159L19.25 28.0003L26.6656 20.5847" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.25 27.9999H36.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </button>
            <button @onclick="() => _carouselRef!.GoNext()">
                <svg fill="none" width="56" height="56">
                    <path d="M28 49.0004C39.598 49.0004 49 39.5984 49 28.0004C49 16.4024 39.598 7.00037 28 7.00037C16.402 7.00037 7 16.4024 7 28.0004C7 39.5984 16.402 49.0004 28 49.0004Z" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M29.3345 35.4159L36.7501 27.9999L29.3345 20.584" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.25 27.9999H36.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <a class="sec-btn--primary" href="/cases">See Our Showcases</a>
    </section>
</div>*@

<section class="page-sec how-we-work">
    <div class="sec-title">HOW WE WORK</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        Our team at Bit is dedicated to delivering cutting-edge technology solutions through the implementation of best practices and methodologies for rapid, efficient results in a structured and methodical way.
    </div>
    <div class="process-card process-card-1">
        <div class="process-card-title">Discovery</div>
        <div class="process-card-desc">
            This phase ensures a successful outcome by gathering and analyzing data, conducting research, and identifying project scope, timelines, and budget. It leads to a clear project plan that aligns with the clients' business needs, goals and objectives.
        </div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-2">
        <div class="process-card-title">Product Design</div>
        <div class="process-card-desc">
            Transforming ideas into tangible, user-centered solutions that deliver an optimal experience. Through iterative testing and validation, we ensure the final design exceeds expectations.
        </div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-3">
        <div class="process-card-title">Setting Up Your Team</div>
        <div class="process-card-desc">
            A dedicated, talented, and exclusive team is set up for the project. The team composition can be chosen based on budget and deadlines are established.
        </div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-4">
        <div class="process-card-title">Agile Software Development</div>
        <div class="process-card-desc">
            At Bit, we assemble dedicated teams of experts, tailored to your specific project needs and budget. We handpick the right team members to ensure successful delivery and set clear deadlines for completion.
        </div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-5">
        <div class="process-card-title">Technical Support</div>
        <div class="process-card-desc">
            Bit provides comprehensive support for your software, including technical assistance, SEO, performance monitoring, upgrades, and maintenance to ensure its success in the market.
        </div>
        <div class="process-card-number"></div>
    </div>
</section>

@*<section class="page-sec what-our-client-says">
    <div class="sec-title">WHAT OUR CLIENT SAYS</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        [ lets see what our client says about us ]
    </div>
</section>*@