@page "/process"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Faster is the new better! </div>
        <div class="section-desc">At our agency, we understand that success is a journey and we are dedicated to helping you achieve it quickly and efficiently. With our agile development services and expert team of developers and designers, we can create a website, mobile application, or tailored user interface for you in record time. Our pay-as-you-grow model allows you to see progress as we build and enjoy success as soon as possible.</div>
    </div>
</section>

<div class="page-top-content">
    <div class="process-divider"></div>

    <div class="paragraph-container paragraph-container--first">
        <div class="paragraph-title">Software Development Cycle</div>
        <div class="paragraph-text">We provide custom software solutions to businesses of all sizes using transparent delivery processes, excellent communication, and a flexible approach.</div>
    </div>

    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 1</div>
        <div class="paragraph-title">Functional Specification</div>
        <div class="paragraph-text">We work closely with our clients to create a clear roadmap that outlines the requirements and tools needed to bring their plans to fruition. This map provides a clear vision of the project and ensures that we deliver exactly what they envision.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 2</div>
        <div class="paragraph-title">Prototyping</div>
        <div class="paragraph-text">We provide clients with mock-ups or prototypes of their products, which allows them to get early user feedback and make adjustments as needed. Our prototyping approach is cost-efficient and helps us deliver a final product that meets their needs.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 3</div>
        <div class="paragraph-title">Setting Up Your Team</div>
        <div class="paragraph-text">We have a world-class HR team that is experienced in assembling dedicated teams of experts to work on your project. Our monthly subscription model allows you to adjust your team size as needed.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 4</div>
        <div class="paragraph-title">Agile Software Development</div>
        <div class="paragraph-text">We use an agile development approach to deliver your product quickly and efficiently. Our two-week sprints allow you to see progress as we build, and present your product to potential investors or add features as needed.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 5</div>
        <div class="paragraph-title">Technical And Marketing Support</div>
        <div class="paragraph-text">We provide support for SEO, marketing, infrastructure upgrades, performance monitoring, and app store optimization to help your business grow.</div>
    </div>

    <div class="people-section">
        <div class="title-container--primary">
            <div class="title--primary">People<span class="title-border--primary"></span></div>
            <div class="title--primary"> behind the art</div>
        </div>
        <div class="people-box-group">
            <div class="people-box developer-box">
                <div class="people-box-title">Developers</div>
                <div class="people-box-desc">Cross functional developers are up for any challenge. Great team-work with sophistication and multi-tasking skills make them an indispensable part of your business.</div>
            </div>
            <div class="people-box pm-box">
                <div class="people-box-title">Project managers</div>
                <div class="people-box-desc">Our project managers ensure that everything is on track and on budget, meeting deadlines and delivering results. They are responsible for making sure that all the different roles on the team work together seamlessly.</div>
            </div>
            <div class="people-box qa-box">
                <div class="people-box-title">QA testers</div>
                <div class="people-box-desc">We believe in perfection and use QA testers to report and document bugs and errors to ensure that everything is working flawlessly at all times.</div>
            </div>
            <div class="people-box designer-box">
                <div class="people-box-title">UI/UX designer</div>
                <div class="people-box-desc">Our skilled UX designers understand user behavior and create user journeys that are profitable and efficient.</div>
            </div>
            <div class="people-box sm-box">
                <div class="people-box-title">Scrum Master</div>
                <div class="people-box-desc">Our scrum masters ensure that all the different roles in the team work closely together and that there are no obstacles that block progress.</div>
            </div>
        </div>
    </div>

    <div class="benefit-section">
        <div class="title-container--primary">
            <div class="title--primary">Our </div>
            <div class="title--primary">Benefits<span class="title-border--primary"></span></div>
        </div>
        <div class="benefit-box benefit-box-1">
            <div class="benefit-box-title">We Gathered the Best, You Hire the Best</div>
            <div class="benefit-box-desc">We provide a package of sophistication and talent that makes your business their number one priority. Our team will closely monitor your project to ensure that your ambitious goals are achieved.</div>
        </div>

        <div class="benefit-box benefit-box-2">
            <div class="benefit-box-title">Transparent Process Delivery </div>
            <div class="benefit-box-desc">As a client, you can track every aspect of the project and stay informed throughout the development process. We are committed to providing transparent and open communication to ensure that you are satisfied with the final product.</div>
        </div>

        <div class="benefit-box benefit-box-3">
            <div class="benefit-box-title">Pay as You Go</div>
            <div class="benefit-box-desc">Being cost efficient is so important these days. With a monthly subscription, you pay for what you exactly need without any hidden fees. You can start with lower resources and </div>
        </div>
    </div>
</div>