@page "/process"

<div class="process-bg">
    <section class="page-sec process">
        <div class="process-title">Our Process</div>
        <div class="process-bread">Home &rarr; Process</div>
    </section>
    <section class="page-sec success-is-journey">
        <div class="sec-body">
            <div class="sec-title">Success is a journey, We Know every Bit of it.</div>
            <div class="sec-desc">
                Bit helps you stay ahead of the competition by getting your business online in style, efficiently and effectively.
            </div>
        </div>
    </section>
</div>

<section class="page-sec sw-dev-cycle">
    <div class="sec-title">Software Development Cycle</div>
    <div class="sec-desc">
        We provide custom software solutions to businesses of all sizes using transparent delivery processes, excellent communication, and a flexible approach.
    </div>
    <div class="sec-content">
        <div class="steps-container">
            <div class="step step-1">
                <div class="step-title">Discovery</div>
                <div class="step-desc">
                    This phase ensures a successful outcome by gathering and analyzing data, conducting research, and identifying project scope, timelines, and budget. It leads to a clear project plan that aligns with the clients' business needs, goals and objectives.
                </div>
            </div>
            <div class="step step-2">
                <div class="step-title">Product Design</div>
                <div class="step-desc">
                    Transforming ideas into tangible, user-centered solutions that deliver an optimal experience. Through iterative testing and validation, we ensure the final design exceeds expectations.
                </div>
            </div>
            <div class="step step-3">
                <div class="step-title">Setting Up Your Team</div>
                <div class="step-desc">
                    A dedicated, talented, and exclusive team is set up for the project. The team composition can be chosen based on budget and deadlines are established.
                </div>
            </div>
            <div class="step step-4">
                <div class="step-title">Agile Software Development</div>
                <div class="step-desc">
                    At Bit, we assemble dedicated teams of experts, tailored to your specific project needs and budget. We handpick the right team members to ensure successful delivery and set clear deadlines for completion.
                </div>
            </div>
            <div class="step step-5">
                <div class="step-title">Technical And Marketing Support</div>
                <div class="step-desc">
                    Bit provides comprehensive support for your software, including technical assistance, SEO, performance monitoring, upgrades, and maintenance to ensure its success in the market.
                </div>
            </div>
        </div>
        <div class="steps-bg"></div>
    </div>
</section>

<section class="page-sec people-behind-the-art">
    <div class="sec-title">PEOPLE BEHIND THE ART</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        <div class="sec-bg"></div>
        <div class="arts-container">
            <ProcessAccordion Title="Project Managers">
                Product Managers lead the team, ensure project is on track, within budget, and delivering results. They guarantee a smooth and successful project delivery.
            </ProcessAccordion>
            <ProcessAccordion Title="Project Managers">
                Product Managers lead the team, ensure project is on track, within budget, and delivering results. They guarantee a smooth and successful project delivery.
            </ProcessAccordion>
            <ProcessAccordion Title="Project Managers">
                Product Managers lead the team, ensure project is on track, within budget, and delivering results. They guarantee a smooth and successful project delivery.
            </ProcessAccordion>
            <ProcessAccordion Title="Project Managers">
                Product Managers lead the team, ensure project is on track, within budget, and delivering results. They guarantee a smooth and successful project delivery.
            </ProcessAccordion>
            <ProcessAccordion Title="Project Managers">
                Product Managers lead the team, ensure project is on track, within budget, and delivering results. They guarantee a smooth and successful project delivery.
            </ProcessAccordion>
        </div>
    </div>
</section>

<section class="page-sec our-benefit">
    <div class="sec-title">OUR BENEFIT</div>
    <div class="sec-title-underline"></div>
    <div class="sec-content">
        <div class="benefit-card benefit-card-1">
            <div class="card-title">Transparent Process Delivery</div>
            <div class="card-desc">
                As a client, you can track every aspect of the project and stay informed throughout the development process. We are committed to providing transparent and open communication to ensure that you are satisfied with the final product.
            </div>
        </div>
        <div class="benefit-card benefit-card-2">
            <div class="card-title">We Gathered the Best, You Hire the Best</div>
            <div class="card-desc">
                We provide a package of sophistication and talent that makes your business their number one priority. Our team will closely monitor your project to ensure that your ambitious goals are achieved.
            </div>
        </div>
        <div class="benefit-card benefit-card-3">
            <div class="card-title">Pay as You Go</div>
            <div class="card-desc">
                Being cost efficient is so important these days. With a monthly subscription, you pay for what you exactly need without any hidden fees.
            </div>
        </div>
    </div>
</section>