@page "/services"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Outsource your Concerns<br />in Software Development Services</div>
        <div class="section-desc">With focus on cost-efficiency and agile development, we can help you scale up your business, achieve your goals and integrate e-commerce as soon as possible. Bit Foundation works round the clock and tirelessly to make sure we deliver more than you expect. </div>
    </div>
</section>

<div class="page-content">
    <div class="people-divider"></div>

    <div class="paragraph-container" style="padding-right: 0">
        <div class="paragraph-title">Full-service business process outsourcing</div>
        <div class="paragraph-text">Our services are proven to unlock human potential so your business can achieve its objectives and beyond. Bit Foundation works round the clock and tirelessly to make sure we deliver more than you expect.  </div>
    </div>

    <div class="paragraph-container">
        <div class="paragraph-title">Product Design</div>
        <div class="paragraph-text">Your idea deserves an impeccable future, so do you. The art of product design is not just in creating a beautifully crafted product but to truly understand your user needs and empathize with them. But what makes this idea even more brilliant is to execute it cost-effectively and in the shortest time possible. </div>
    </div>

    <div class="paragraph-container">
        <div class="curly-divider--right"></div>
        <div class="paragraph-title">Dedicated Team of Experts</div>
        <div class="paragraph-text">Let us boom your business through the power of people. We are more than lucky to have only the best of the best by our side. Whether you're launching a startup or working on further growth of your scaleup, we make sure the right experts are assigned to your specific needs. <a class="paragraph-link" href="">see all roles in a team</a></div>
    </div>

    <div class="paragraph-container">
        <div class="curly-divider--left"></div>
        <div class="paragraph-title">Technology-end Solutions</div>
        <div class="paragraph-text">Utilizing cutting-edge technologies throughout your business growth process is an absolute must. With the right technologies that fit your business needs, your business will be swift and efficient in ways never before possible.</div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="webDevelopmentCheck" />
        <label class="toggle-title" for="webDevelopmentCheck">Web Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Your business is unique and must be run on a unique platform. We offer custom web development for your business. We make sure that your website is responsive and works perfectly and beautifully on tablet, desktop and smartphone browsers. Our team is specialized in making great custom-made websites.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="mobileDevelopmentCheck" />
        <label class="toggle-title" for="mobileDevelopmentCheck">Mobile Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Data show that approximately 70 percent of the internet surf the web via smartphones. iPhone, iPad or Android doesn’t matter. Our team always use the latest technologies and infrastructure to bring the best mobile experience for your users.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="appDevelopmentCheck" />
        <label class="toggle-title" for="appDevelopmentCheck">App Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Many users are more comfortable using mobile apps. Bit gathered talents in app building so you don’t need to elsewhere for having a smooth mobile application.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="artificialIntelligenceCheck" />
        <label class="toggle-title" for="artificialIntelligenceCheck">Artificial Intelligence</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">AI made everything easier and more efficient. With Bit, you can have it on-board too. Remote device management, wireless connectivity and smart monitoring can be run through artificial intelligence more easily. </div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="designCheck" />
        <label class="toggle-title" for="designCheck">UI/ UX Design</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">UI/UX is the first thing your clients and users interact with. It is somehow the catalogue of your business. Based on aesthetic and functional approaches, our UI/UX team create unique websites, applications and webpages for your business. </div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="technicalSupportCheck" />
        <label class="toggle-title" for="technicalSupportCheck">Technical Support</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Do you have the time to watch your company all the time? Maybe you have, but you don’t have to. With our support service, you can focus on your business and let us handle the problems. </div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="cloudCheck" />
        <label class="toggle-title" for="cloudCheck">Cloud Base Solutions</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Cloud solutions are much faster than traditional solutions. There is no limitation in cloud solutions and so for your business. Bit provides high-end cloud solutions in order to allow you to be fast and flexible.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="gameDevelopmentCheck" />
        <label class="toggle-title" for="gameDevelopmentCheck">Game Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Bit can design and develop successful desktop and mobile games that will capture user’s interest. By working with our team, you can bring your game to life in 2D or 3D. We have spent numerous person-hours learning the nuances to train our team as industry experts. </div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>
</div>
