@page "/services"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Outsource your Concerns<br />in Software Development Services</div>
        <div class="section-desc">With focus on cost-efficiency and agile development, we can help you scale up your business, achieve your goals and integrate e-commerce as soon as possible. Bit Foundation works round the clock and tirelessly to make sure we deliver more than you expect. </div>
    </div>
</section>

<div class="page-content">
    <div class="people-divider"></div>

    <div class="paragraph-container" style="padding-right: 0">
        <div class="paragraph-title">Full-service business process outsourcing</div>
        <div class="paragraph-text">Our services are proven to unlock human potential so your business can achieve its objectives and beyond. Bit Foundation works round the clock and tirelessly to make sure we deliver more than you expect.  </div>
    </div>

    <div class="paragraph-container">
        <div class="paragraph-title">Product Design</div>
        <div class="paragraph-text">Your idea deserves an impeccable future, so do you. The art of product design is not just in creating a beautifully crafted product but to truly understand your user needs and empathize with them. But what makes this idea even more brilliant is to execute it cost-effectively and in the shortest time possible. </div>
    </div>

    <div class="paragraph-container">
        <div class="curly-divider--right"></div>
        <div class="paragraph-title">Dedicated Team of Experts</div>
        <div class="paragraph-text">Let us boom your business through the power of people. We are more than lucky to have only the best of the best by our side. Whether you're launching a startup or working on further growth of your scaleup, we make sure the right experts are assigned to your specific needs. <a class="paragraph-link" href="">see all roles in a team</a></div>
    </div>

    <div class="paragraph-container">
        <div class="curly-divider--left"></div>
        <div class="paragraph-title">Technology-end Solutions</div>
        <div class="paragraph-text">Utilizing cutting-edge technologies throughout your business growth process is an absolute must. With the right technologies that fit your business needs, your business will be swift and efficient in ways never before possible.</div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="webDevelopmentCheck" />
        <label class="toggle-title" for="webDevelopmentCheck">Web Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">We offer custom web development services to ensure your website is tailored to your unique business needs, responsive across all devices, and visually stunning. Let us help you build a website that truly reflects the unique nature of your business.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="mobileDevelopmentCheck" />
        <label class="toggle-title" for="mobileDevelopmentCheck">Mobile Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Bit's team of experts provides exceptional mobile app development services, so you don't have to look elsewhere. Let us help bring your vision to life and deliver a smooth user experience for your mobile audience.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="appDevelopmentCheck" />
        <label class="toggle-title" for="appDevelopmentCheck">App Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Bit's team of experts provides exceptional mobile app development services, so you don't have to look elsewhere. Let us help bring your vision to life and deliver a smooth user experience for your mobile audience.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="artificialIntelligenceCheck" />
        <label class="toggle-title" for="artificialIntelligenceCheck">Artificial Intelligence</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">AI made everything easier and more efficient. With Bit, you can have it on-board too. Remote device management, wireless connectivity and smart monitoring can be run through artificial intelligence more easily. </div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="designCheck" />
        <label class="toggle-title" for="designCheck">UI/ UX Design</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Our team of UI/UX experts creates unique, aesthetically pleasing and functional websites, applications and webpages that accurately reflect your business, ensuring an outstanding user experience for your clients and users.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="technicalSupportCheck" />
        <label class="toggle-title" for="technicalSupportCheck">Technical Support</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Free up your time by entrusting our support service to handle any operational issues, allowing you to focus on expanding your business.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="cloudCheck" />
        <label class="toggle-title" for="cloudCheck">Cloud Base Solutions</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Unlock the full potential of your business with our high-performance cloud solutions. Unlike traditional options, cloud solutions offer limitless scalability and speed. Bit offers cutting-edge technology to ensure that your business is both agile and efficient.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>

    <div class="toggle-item-container">
        <input class="toggle" type="checkbox" hidden id="gameDevelopmentCheck" />
        <label class="toggle-title" for="gameDevelopmentCheck">Game Development</label>
        <div class="toggle-content" data-toggle-target>
            <div class="toggle-content-text">Let Bit bring your game vision to life with our expert team of 2D and 3D game developers. Experience captivating and engaging gameplay with our industry-leading expertise.</div>
            <div class="toggle-content-tech-group">
                <div class="tech-item">Vue</div>
                <div class="tech-item">Sass</div>
                <div class="tech-item">Angular</div>
            </div>
        </div>
    </div>
</div>
