@page "/cases"

<div class="cases-bg">
    <section class="page-sec cases">
        <div class="cases-title">Our Cases</div>
        <div class="cases-bread">Home &rarr; Cases</div>
    </section>
    <section class="page-sec">
        <div class="sec-body">
            <div class="sec-title">&nbsp;</div>
            <div class="sec-desc">&nbsp;</div>
        </div>
    </section>
</div>

<section class="page-sec all-cases">
    <div class="case case-rigid">
        <div class="left-pane">
            <div class="sec-title">Rigid Robotics</div>
            <div class="sec-title-underline"></div>
            <div class="sec-content">
                RIGID ROBOTICS is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience in open-pit mining technology and business innovation. ​
                <br />
                <br />
                With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
            </div>
            <div class="sec-separator"></div>
            <div class="tags">
                <div class="tag tag-1">Artificial Intelligence</div>
                <div class="tag tag-2">UI / UX</div>
                <div class="tag tag-3">Support</div>
                <div class="tag tag-4">Cloud</div>
                <div class="tag tag-5">Web Development</div>
                <div class="tag tag-6">Mobile Development</div>
            </div>
            <a class="sec-btn--primary" href="#">Read Our Journey</a>
        </div>
        <div class="right-pane">
            <div class="case-bg"></div>
            <div class="specs">
                <div class="spec">
                    <div class="spec-title spec-1">3</div>
                    <div class="spec-desc">Team Members</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-2">1 Month</div>
                    <div class="spec-desc">MVP Delivery Time</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-3">3 Months</div>
                    <div class="spec-desc">Delivery Time</div>
                </div>
            </div>
        </div>
    </div>

    <div class="case case-tradeer">
        <div class="left-pane">
            <div class="sec-title">Tradeer</div>
            <div class="sec-title-underline"></div>
            <div class="sec-content">
                RIGID ROBOTICS is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience in open-pit mining technology and business innovation. ​
                <br />
                <br />
                With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
            </div>
            <div class="sec-separator"></div>
            <div class="tags">
                <div class="tag tag-1">Artificial Intelligence</div>
                <div class="tag tag-2">UI / UX</div>
                <div class="tag tag-3">Support</div>
                <div class="tag tag-4">Cloud</div>
                <div class="tag tag-5">Web Development</div>
                <div class="tag tag-6">Mobile Development</div>
            </div>
            <a class="sec-btn--primary" href="#">Read Our Journey</a>
        </div>
        <div class="right-pane">
            <div class="case-bg"></div>
            <div class="specs">
                <div class="spec">
                    <div class="spec-title spec-1">3</div>
                    <div class="spec-desc">Team Members</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-2">1 Month</div>
                    <div class="spec-desc">MVP Delivery Time</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-3">3 Months</div>
                    <div class="spec-desc">Delivery Time</div>
                </div>
            </div>
        </div>
    </div>

    <div class="case case-blazorui">
        <div class="left-pane">
            <div class="sec-title">Bit BlazorUI Demos</div>
            <div class="sec-title-underline"></div>
            <div class="sec-content">
                RIGID ROBOTICS is an Advanced Mining Technology Group based in Vancouver, BC, Canada comprised of experts with more than 15 years of experience in open-pit mining technology and business innovation. ​
                <br />
                <br />
                With installations in North America, Central America, South America, and Australia, our technology and expertise are field-proven.​
            </div>
            <div class="sec-separator"></div>
            <div class="tags">
                <div class="tag tag-1">Artificial Intelligence</div>
                <div class="tag tag-2">UI / UX</div>
                <div class="tag tag-3">Support</div>
                <div class="tag tag-4">Cloud</div>
                <div class="tag tag-5">Web Development</div>
                <div class="tag tag-6">Mobile Development</div>
            </div>
            <a class="sec-btn--primary" href="#">Read Our Journey</a>
        </div>
        <div class="right-pane">
            <div class="case-bg"></div>
            <div class="specs">
                <div class="spec">
                    <div class="spec-title spec-1">3</div>
                    <div class="spec-desc">Team Members</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-2">1 Month</div>
                    <div class="spec-desc">MVP Delivery Time</div>
                </div>
                <div class="spec">
                    <div class="spec-title spec-3">3 Months</div>
                    <div class="spec-desc">Delivery Time</div>
                </div>
            </div>
        </div>
    </div>
</section>