.page {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.page-top-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 28.125rem;
  padding-top: 7.4375rem;
  background-image: url("/images/cases/cases-header-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-top-container .page-title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 4.1875rem;
  color: #1C5BFF;
}
.page-top-container .page-subtitle-container {
  display: flex;
  align-items: center;
}
.page-top-container .page-subtitle {
  font-size: 1rem;
  line-height: 1.5625rem;
}
.page-top-container .page-subtitle:first-child {
  color: rgba(107, 107, 107, 0.5);
}
.page-top-container .page-subtitle:last-child {
  color: #6B6B6B;
}
.page-top-container .page-subtitle-arrow {
  width: 0.875rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  background-image: url("/images/cases/arrow-right-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.case-list {
  margin-top: -25rem;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.case-container {
  position: relative;
  width: 100%;
  margin-bottom: 9.125rem;
}
.case-container:first-child .curly-divider {
  display: none;
}
.case-container:nth-child(2n) .curly-divider {
  left: 0;
}
.case-container:nth-child(2n+1) .curly-divider {
  right: 0;
  transform: rotate(180deg);
}
@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  .case-container {
    margin-bottom: 4.75rem;
  }
}
@media screen and (max-width: 64em) {
  .case-container {
    margin-bottom: 6.25rem;
  }
}

.curly-divider {
  width: 9.5625rem;
  height: 33.5rem;
  background-image: url("/images/cases/case-curly-divider-img.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15.625rem;
}
@media screen and (max-width: 64em) {
  .curly-divider {
    display: none;
  }
}
