@page "/cases"

<div class="cases-bg">
    <section class="page-sec cases">
        <div class="cases-title">Our CASES</div>
        <div class="cases-bread">Home &rarr; Cases</div>
    </section>
    <section class="page-sec outsource-your-concerns">
        <div class="sec-body">
            <div class="sec-title">&nbsp;</div>
            <div class="sec-desc">&nbsp;</div>
        </div>
    </section>
</div>

<section class="page-sec all-cases">
    <div class="case">
        <div class="left-pane">
            <div class="sec-title">Rigid Robotics</div>
            <div class="sec-title-underline"></div>
            <div class="sec-content">
                We employ best practice processes and development methodologies as a foundation for rapid building of cutting-edge technology solutions in a structured and methodical way.
            </div>
        </div>
        <div class="right-pane"></div>
    </div>
</section>