@page "/components/prolayout"

@inherits AppComponentBase

<PageOutlet Url="components/prolayout"
            Title="ProLayout"
            Description="prolayout component of the bit BlazorUI components" />

<ComponentDemo ComponentName="ProLayout"
               ComponentDescription="BitProLayout is an advanced container to handle the nuances of a cross-platform layout."
               Notes="To use this component, you need to install the `Bit.BlazorUI.Extras` nuget package, as described in the Optional steps of the Getting started page."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" Id="example1">
        <ExamplePreview>
            <div>Since this component is a base layout container, it is not possible to show its capabilities in a demo sample here.</div>
            <div>
                You can always check our Boilerplate project template samples
                (<a href="https://adminpanel.bitplatform.dev" target="_blank">AdminPanel</a> & <a href="https://todo.bitplatform.dev" target="_blank">Todo</a>)
                to see the BitProLayout in action.
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>