@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

@keyframes bit-spn-fluent {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bit-spn-fluent {
    display: flex;
    justify-content: center;

    & > div {
        &:first-child {
            border: 16px solid $Grey60;
            border-top: 16px solid $Primary;
            border-radius: 50%;
            border-width: 1.5px;
            animation: bit-spn-fluent 1.3s linear infinite;
        }

        &:last-child {
            font-size: rem(12px);
            color: $Primary;
            margin: 2px 8px;
            text-align: center;
        }
    }
}

.bit-spn-bottom-fluent {
    flex-direction: column-reverse;
    align-items: center;

    & > div {
        &:last-child {
            margin: 0px 0px 8px;
        }
    }
}

.bit-spn-top-fluent {
    flex-direction: column;
    align-items: center;

    & > div {
        &:last-child {
            margin: 8px 0px 0px;
        }
    }
}

.bit-spn-left-fluent {
    flex-direction: row;
    align-items: center;

    & > div {
        &:last-child {
            margin: 0px 0px 0px 8px;
        }
    }
}

.bit-spn-right-fluent {
    flex-direction: row-reverse;
    align-items: center;

    & > div {
        &:last-child {
            margin: 0px 8px 0px 0px;
        }
    }
}

.bit-spn-large-fluent {
    & > div {
        &:first-child {
            width: 28px;
            height: 28px;
        }
    }
}

.bit-spn-medium-fluent {
    & > div {
        &:first-child {
            width: 20px;
            height: 20px;
        }
    }
}

.bit-spn-small-fluent {
    & > div {
        &:first-child {
            width: 16px;
            height: 16px;
        }
    }
}

.bit-spn-xSmall-fluent {
    & > div {
        &:first-child {
            width: 12px;
            height: 12px;
        }
    }
}