@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div></div>
    @if (!string.IsNullOrEmpty(Label))
    {
        <div>@Label</div>
    }
</div>