@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';

.example-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    .operators {
        width: 230px;
    }
}