@import "../../../Styles/_shared.scss";

.modal-header {
    display: flex;
    align-items: center;
    font-size: rem(24px);
    font-weight: 600;
    border-top: rem(4px) solid $B1Color;
    justify-content: space-between;
    padding: rem(12px) rem(12px) rem(14px) rem(24px);
}

.modal-body {
    padding: 0 rem(24px) rem(24px);
    overflow-y: hidden;
    line-height: rem(20px);
}