@page "/components/checkboxes"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Checkbox" OverviewDesc="BitCheckbox is component that permits the user to make a binary choice, a choice between one of two possible mutually exclusive options. For example, the user may have to answer 'yes' or 'no' on a simple yes/no question. Checkboxes are shown as ☐ when unchecked, or ☑ when checked."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitCheckbox" Description="To create a checkbox you can use a BitCheckbox component.">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox @bind-IsChecked="IsCheckBoxChecked">Basic Checkbox</BitCheckbox>
                <BitCheckbox IsChecked="true">Checked Checkbox</BitCheckbox>
                <BitCheckbox IsEnabled="false">Disable Checkbox</BitCheckbox>
                <BitCheckbox IsEnabled="false" IsChecked="true">Disable Checked Checkbox</BitCheckbox>
                <BitCheckbox CheckmarkIconName="Heart">Custom checkmark Checkbox</BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitCheckbox </span><span class="soco-code">&#64;</span><span class="soco-component-attr">bind-IsChecked=</span><span>"IsCheckBoxChecked"</span>>Basic Checkbox<span>&lt/</span><span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox IsChecked</span>=<span class="soco-tag-type-def">"true"</span>><span>Checked Checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox IsEnabled</span>=<span class="soco-tag-type-def">"false"</span>><span>Disable Checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox IsEnabled</span>=<span class="soco-tag-type-def">"false"</span><span class="soco-component-attr"> IsChecked=</span><span class="soco-tag-type-def">"true"</span>><span>Disable Checked Checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox CheckmarkIconName</span>="Heart" ><span>Custom checkmark Checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
                
                <span class="soco-code">&#64;code {</span>
                      <span class="soco-tag-type-def">private bool</span> IsCheckBoxChecked = <span class="soco-tag-type-def">false</span>;
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Reversed" Description="">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox BoxSide="@BitBoxSide.End">Reversed -- Basic Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsChecked="true">Reversed -- Checked Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsEnabled="false">Reversed -- Disable Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsEnabled="false" IsChecked="true">Reversed -- Disable Checked Checkbox</BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitCheckbox BoxSide</span>="<span class="soco-code">&#64;</span>BoxSide.End">Reversed -- Basic Checkbox<span>&lt/</span><span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox BoxSide</span>="<span class="soco-code">&#64;</span><span>BoxSide.End"</span><span class="soco-component-attr"> IsChecked</span>=<span class="soco-tag-type-def">"true"</span>>Reversed -- Checked Checkbox<span>&lt/</span><span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox BoxSide</span>="<span class="soco-code">&#64;</span><span>BoxSide.End"</span><span class="soco-component-attr"> IsEnabled</span>=<span class="soco-tag-type-def">"true"</span>>Reversed -- Disable Checkbox<span>&lt/</span><span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox BoxSide</span>="<span class="soco-code">&#64;</span>BoxSide.End"<span class="soco-component-attr"> IsEnabled</span>=<span class="soco-tag-type-def">"false"</span><span class="soco-component-attr"> IsChecked</span>=<span class="soco-tag-type-def">"true"</span>><span>Reversed -- Disable Checked Checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Indeterminate" Description="">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox @bind-IsIndeterminate="IsCheckBoxIndeterminate" @bind-IsChecked="IsCheckBoxChecked">Indeterminated checkbox</BitCheckbox>
                <BitCheckbox IsIndeterminate="true">Indeterminate checkbox</BitCheckbox>
                <BitCheckbox IsIndeterminate="true" IsEnabled="false">Disabled indeterminated checkbox</BitCheckbox>
                <BitCheckbox @bind-IsIndeterminate="IsCheckBoxIndeterminateInCode" @bind-IsChecked="IsCheckBoxChecked">Controlled indeterminated checkbox</BitCheckbox>
                <BitButton OnClick="() => IsCheckBoxIndeterminateInCode = true">Make Checkbox Indeterminate</BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitCheckbox </span><span class="soco-code">&#64;</span><span class="soco-component-attr">bind-IsChecked</span><span>="IsCheckBoxIndeterminate" </span><span class="soco-code">&#64;</span><span class="soco-component-attr">bind-IsIndeterminate</span><span>="IsCheckBoxChecked"</span>>Basic Checkbox<span>&lt/</span><span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox IsIndeterminate</span>=<span class="soco-tag-type-def">"true"</span>><span>Indeterminate checkbox</span><span>&lt/</span><span class="soco-component-attr">BitCheckbox</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitCheckbox IsIndeterminate</span>=<span class="soco-tag-type-def">"true"</span><span class="soco-component-attr"> IsEnabled</span>=<span class="soco-tag-type-def">"false"</span>><span>Disabled indeterminated checkbox</span><span>&lt/</span><span class="soco-component-attr">BitCheckbox</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitCheckbox </span><span class="soco-code">&#64;</span><span class="soco-component-attr">bind-IsIndeterminate</span>="IsCheckBoxIndeterminateInCode"<span class="soco-code">&#64;</span><span class="soco-component-attr">bind-IsChecked</span>="IsCheckBoxChecked"<span class="soco-component-attr"> IsChecked=</span><span class="soco-tag-type-def">"true"</span>><span>Controlled indeterminated checkbox</span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
                &lt<span class="soco-component-attr">BitCheckbox OnClick</span>="<span>() => IsCheckBoxIndeterminateInCode = <span class="soco-tag-type-def">true</span>"></span><span>Make Checkbox Indeterminate</span><span>&lt/</span><span class="soco-component-attr">BitCheckbox</span><span>&gt;</span>
                
                <span class="soco-code">&#64;code {</span>
                      <span class="soco-tag-type-def">private bool </span>IsCheckBoxIndeterminate = <span class="soco-tag-type-def">true</span>;
                      <span class="soco-tag-type-def">private bool </span>IsCheckBoxIndeterminateInCode = <span class="soco-tag-type-def">true</span>;
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Custom Label" Description="">
        <SampleContent>
            <div>
                <BitCheckbox>
                    Custom-rendered label with a link go to
                    <a href='https://github.com/bitfoundation/bitframework'>
                        bit foundation repository page
                    </a>
                </BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitCheckbox></span>Custom-rendered label with a link go to <span class="soco-tag-type-def">&lta href</span><span class="soco-tag-type-def">="https://github.com/bitfoundation/bitframework">bit foundation repository page</span><span class="soco-tag-type-def"><span>&lt/</span>a></span>&lt/<span class="soco-component-attr">BitCheckbox</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>