@page "/components/checkboxes"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Checkbox" OverviewDesc="BitCheckbox is component that permits the user to make a binary choice, a choice between one of two possible mutually exclusive options. For example, the user may have to answer 'yes' or 'no' on a simple yes/no question. Checkboxes are shown as ☐ when unchecked, or ☑ when checked."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitCheckbox" Description="To create a checkbox you can use a BitCheckbox component.">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox @bind-IsChecked="IsCheckBoxChecked">Basic Checkbox</BitCheckbox>
                <BitCheckbox IsChecked="true">Checked Checkbox</BitCheckbox>
                <BitCheckbox IsEnabled="false">Disable Checkbox</BitCheckbox>
                <BitCheckbox IsEnabled="false" IsChecked="true">Disable Checked Checkbox</BitCheckbox>
                <BitCheckbox CheckmarkIconName="Heart">Custom checkmark Checkbox</BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCheckbox </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked=</span><span>"IsCheckBoxChecked"</span>>Basic Checkbox<span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox IsChecked=</span><span class="light-blue">"true"</span>><span>Checked Checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox IsEnabled=</span><span class="light-blue">"false"</span>><span>Disable Checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox IsEnabled=</span><span class="light-blue">"false"</span><span class="dark-green"> IsChecked=</span><span class="light-blue">"true"</span>><span>Disable Checked Checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox CheckmarkIconName</span>="Heart" ><span>Custom checkmark Checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <div class="m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70">
                        <span class="light-blue">private bool</span> IsCheckBoxChecked = <span class="light-blue">false</span>;
                    </p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Reversed" Description="">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox BoxSide="@BitBoxSide.End">Reversed -- Basic Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsChecked="true">Reversed -- Checked Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsEnabled="false">Reversed -- Disable Checkbox</BitCheckbox>
                <BitCheckbox BoxSide="@BitBoxSide.End" IsEnabled="false" IsChecked="true">Reversed -- Disable Checked Checkbox</BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCheckbox BoxSide=</span>"<span class="light-yellow-bg">&#64;</span>BoxSide.End">Reversed -- Basic Checkbox<span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox BoxSide=</span>"<span class="light-yellow-bg">&#64;</span><span>BoxSide.End"</span><span class="dark-green"> IsChecked=</span><span class="light-blue">"true"</span>>Reversed -- Checked Checkbox<span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox BoxSide=</span>"<span class="light-yellow-bg">&#64;</span><span>BoxSide.End"</span><span class="dark-green"> IsEnabled=</span><span class="light-blue">"true"</span>>Reversed -- Disable Checkbox<span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox BoxSide=</span>"<span class="light-yellow-bg">&#64;</span>BoxSide.End"<span class="dark-green"> IsEnabled=</span><span class="light-blue">"false"</span><span class="dark-green"> IsChecked=</span><span class="light-blue">"true"</span>><span>Reversed -- Disable Checked Checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Indeterminate" Description="">
        <SampleContent>
            <div class="chk-box">
                <BitCheckbox @bind-IsIndeterminate="IsCheckBoxIndeterminate" @bind-IsChecked="IsCheckBoxChecked">Indeterminated checkbox</BitCheckbox>
                <BitCheckbox IsIndeterminate="true">Indeterminate checkbox</BitCheckbox>
                <BitCheckbox IsIndeterminate="true" IsEnabled="false">Disabled indeterminated checkbox</BitCheckbox>
                <BitCheckbox @bind-IsIndeterminate="IsCheckBoxIndeterminateInCode" @bind-IsChecked="IsCheckBoxChecked">Controlled indeterminated checkbox</BitCheckbox>
                <BitButton OnClick="() => IsCheckBoxIndeterminateInCode = true">Make Checkbox Indeterminate</BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCheckbox </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked=</span><span>"IsCheckBoxIndeterminate" </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsIndeterminate=</span><span>"IsCheckBoxChecked"</span>>Basic Checkbox<span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox IsIndeterminate=</span><span class="light-blue">"true"</span>><span>Indeterminate checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox IsIndeterminate=</span><span class="light-blue">"true"</span><span class="dark-green"> IsEnabled=</span><span class="light-blue">"false"</span>><span>Disabled indeterminated checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsIndeterminate=</span><span>"IsCheckBoxIndeterminateInCode" </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked=</span>"IsCheckBoxChecked"<span class="dark-green"> IsChecked=</span><span class="light-blue">"true"</span>><span>Controlled indeterminated checkbox</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCheckbox OnClick=</span>"<span>() => IsCheckBoxIndeterminateInCode = <span class="light-blue">true</span>"></span><span>Make Checkbox Indeterminate</span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
                <div class="m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70">
                        <span class="light-blue">private bool </span>IsCheckBoxIndeterminate = <span class="light-blue">true</span>;
                    </p>
                    <p class="m-l-70"
                        <span class="light-blue">private bool </span>IsCheckBoxIndeterminateInCode = <span class="light-blue">true</span>;
                    </p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Custom Label" Description="">
        <SampleContent>
            <div>
                <BitCheckbox>
                    Custom-rendered label with a link go to
                    <a href='https://github.com/bitfoundation/bitframework'>
                        bit foundation repository page
                    </a>
                </BitCheckbox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCheckbox></span>Custom-rendered label with a link go to <span class="light-blue">&lta href</span><span>="https://github.com/bitfoundation/bitframework">bit foundation repository page</span><span class="light-blue"><span>&lt/</span>a></span><span>&lt/</span><span class="dark-green">BitCheckbox</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>