@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <span>
        <i class="bit-icon bit-icon--@MessageBarIconName"></i>
    </span>
    <span class="flexContainer text-container @( (Truncated && !ElementTruncateState) || IsMultiline ? "not-truncate" : "")">
        @ChildContent
    </span>
    <span>
        @if (Truncated)
        {
            <span @onclick="ToggleElementTruncate">
                <i class="bit-icon bit-icon--@(ElementTruncateState ? "DoubleChevronDown" : "DoubleChevronUp" )"></i>
            </span>
        }

        @if (OnDismiss.HasDelegate)
        {
            <span @onclick="Dismiss">
                <i class="bit-icon bit-icon--@DismissIconName"></i>
            </span>
        }
    </span>
</div>
