@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div class="bit-message-bar @(VisualClass) @(EnabledClass) @(StyleClass)">
    <span class="flexContainer">
        @ChildContent
    </span>
</div>