@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div style="@Style"
     class="bit-message-bar @VisualClass @EnabledClass @Class">
    <span class="flexContainer">
        @ChildContent
    </span>
</div>
