@import "../../../Styles/_shared.scss";

.sample-lnk-btn {
    display: block;

    @include lt-md {
        display: flex;
        flex-wrap: wrap;
    }
}

.sample-btn {
    @include subtitle2-xl;

    @include lg {
        @include subtitle2-lg;
    }

    @include md {
        @include subtitle2-md;
    }

    @include sm {
        @include subtitle2-sm;
    }

    line-height: 50px;
    text-justify: auto;
    color: $Black01;
}
