@page "/components/button"

<h2>Button</h2>

<div class="card">
    <p class="desc">BitButton component represents a clickable button, used to submit forms or anywhere in a document for accessible, standard button functionality.</p>
</div>

<h2>Usage</h2>
<div class="wrapper">
    <div class="card">
        <h3>BitButton</h3>
        <div class="desc">
            <p>
                To create a button you can use a BitButton component. You can set ButtonStyle attribute and change button style, you can also enable and disable the button by changing the IsEnabled attribute and also there is an attribute
                can allow you to focus on button when it is disabled. In addition to text for the button, you can insert an element with a special style.
            </p>
        </div>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitButton IsEnabled="true">
                        Primary
                    </BitButton>
                    <BitButton Style="margin-right: 2px;"  ButtonStyle="ButtonStyle.Standard" IsEnabled="true">
                        Standard
                    </BitButton>
                    <BitButton IsEnabled="false" AllowDisabledFocus="false">
                        Disabled
                    </BitButton>
                    <BitButton IsEnabled="true">
                        <label>This text is from a label element</label>
                    </BitButton>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">true"</span><span class="dark-green"> Style</span>="<span>margin-right: 2px;"</span><span>></span>Primary<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitButton ButtonStyle</span>="<span class="light-green">ButtonStyle</span><span>.Standard"<span class="dark-green"> IsEnabled</span="></span><span class="light-blue">true"</span><span>></span>Standard<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">false"</span><span>></span>Disabled<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">false"</span><span class="dark-green"> AllowDisabledFocus</span>="<span class="light-blue">false"</span><span>></span>&lt<span class="light-blue">label</span><span>></span>This text is from a label element<span>&lt<span class="light-blue">label</span><span>/></span><span>&lt/</span><span class="dark-green">BitButton</span></span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
        <div class="card">
            <h3>Style & Class</h3>
            <div class="desc">
                <p>
                    BitButton can directly get css class or inline style.
                </p>
            </div>
            <BitPivot>
                <BitPivotItem HeaderText="Example" IconName="ViewList">
                    <div>
                        <BitButton Style="color:aqua">
                            Styled Button
                        </BitButton>
                        <BitButton Class="custom-button">
                            Classed Button
                        </BitButton>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Code" IconName="Source">
                    <p>
                        &lt<span class="dark-green">BitButton Style</span>="<span>color:aqua"</span><span>></span>Styled Button<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitButton Class</span>="<span>custom-button"</span><span>></span>Classed Button<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                </BitPivotItem>
            </BitPivot>
        </div>
        <div class="card">
            <h3>Visibility</h3>
            <div class="desc">
                <p>
                    By setting Visibility attribute, BitButton can be Visible, Hidden or Collapsed.
                </p>
            </div>
            <BitPivot>
                <BitPivotItem HeaderText="Example" IconName="ViewList">
                    <div>
                        <BitButton Visibility="ComponentVisibility.Visible">Visible Button</BitButton>
                        <br />
                        <span>Hidden Button: </span>[<BitButton Visibility="ComponentVisibility.Hidden">Hidden Button</BitButton>]
                        <br />
                        <span>Collapsed Button: </span>[<BitButton Visibility="ComponentVisibility.Collapsed">Collapsed Button</BitButton>]
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Code" IconName="Source">
                    <p>
                        &lt<span class="dark-green">BitButton Visibility</span>="<span class="light-green">ComponentVisibility</span>.Visible"<span>></span><span>Visible Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitButton Hidden</span>="<span class="light-green">ComponentHidden</span>.Hidden"<span>></span><span>Hidden Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitButton Visibility</span>="<span class="light-green">ComponentVisibility</span>.Collapsed"<span>></span><span>Collapsed Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                </BitPivotItem>
            </BitPivot>
        </div>
        <div class="card">
            <h3>Button-like Anchor</h3>
            <div class="desc">
                <p>
                    BitButton can act as a link by setting Href and Target attribute, you define how to open your link.
                </p>
            </div>
            <BitPivot>
                <BitPivotItem HeaderText="Example" IconName="ViewList">
                    <div class="m-t-10">
                        <BitButton Style="margin-right: 2px;" Title="Primary" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                            Open Bit Foundation In New Tab
                        </BitButton>
                        <BitButton Style="margin-right: 2px;" Title="Standard" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="ButtonStyle.Standard">
                            Go To Bit Foundation
                        </BitButton>
                        <BitButton Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                            <span>Bit Foundation From Span</span>
                        </BitButton>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Code" IconName="Source">
                    <p>
                        &lt<span class="dark-green">BitButton Title</span>="<span>Primary"</span><span class="dark-green"> Target="<span class="dark-green"> Style</span>="<span>margin-right: 2px;"</span></span><span>_blank"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"></span>Open Bit Foundation In New Tab<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitButton Title</span>="<span>Standard"</span><span class="dark-green"><span class="dark-green"> Style</span>="<span>margin-right: 2px;"</span> ButtonStyle="</span><span class="light-green">ButtonStyle</span><span>.Standard"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"></span>Go To Bit Foundation<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitButton Target</span>="<span>_self"</span><span class="dark-green"> Href=</span>"<span class="light-blue">https://github.com/bitfoundation/bitframework</span>"<span class="dark-green"> IsEnabled="</span><span class="light-blue">false"&lt</span><span class="light-blue">span></span>Bit Foundation From Span<span class="light-blue">&ltspan></span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    </p>
                </BitPivotItem>
            </BitPivot>
        </div>
    </div>
</div>
<h2>Implementation</h2>
<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>AllowDisabledFocus</td>
            <td>bool</td>
            <td>false</td>
            <td>Whether the button can have focus in disabled mode.</td>
        </tr>
        <tr>
            <td>AriaDescription</td>
            <td>string</td>
            <td></td>
            <td>Detailed description of the button for the benefit of screen readers. Besides the compound button, other button types will need more information provided to screen reader.</td>
        </tr>
        <tr>
            <td>AriaHidden</td>
            <td>bool</td>
            <td></td>
            <td>If true, add an aria-hidden attribute instructing screen readers to ignore the element.</td>
        </tr>
        <tr>
            <td>AriaLabel</td>
            <td>string</td>
            <td></td>
            <td>The aria-label of the control for the benefit of screen readers.</td>
        </tr>
        <tr>
            <td>ButtonStyle</td>
            <td>ButtonStyle</td>
            <td>Primary</td>
            <td>The style of button.</td>
        </tr>        
        <tr>
            <td>Class</td>
            <td>string</td>
            <td></td>
            <td>Custom CSS class for the root element of the component.</td>
        </tr>
        <tr>
            <td>ChildContent</td>
            <td>RenderFragment</td>
            <td></td>
            <td>Any custom tag or text the developer wishes to associate with the button.</td>
        </tr>        
        <tr>
            <td>Href</td>
            <td>string</td>
            <td></td>
            <td>URL the link points to, if provided, button renders as an anchor.</td>
        </tr>        
        <tr>
            <td>HtmlAttributes</td>
            <td>Dictionary&lt;string, object&gt;</td>
            <td></td>
            <td>Capture and render additional attributes in addition to the component's parameters.</td>
        </tr>
        <tr>
            <td>IsEnabled</td>
            <td>bool</td>
            <td>true</td>
            <td>Whether the button is enabled.</td>
        </tr>
        <tr>
            <td>OnClick</td>
            <td>EventCallback&lt;MouseEventArgs&gt;</td>
            <td></td>
            <td>Callback for when the button clicked.</td>
        </tr>
        <tr>
            <td>Style</td>
            <td>string</td>
            <td></td>
            <td>Custom style for the root element of the component.</td>
        </tr>
        <tr>
            <td>Target</td>
            <td>string</td>
            <td></td>
            <td>If Href provided, specifies how to open the link.</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>string</td>
            <td></td>
            <td>The title to show when the mouse is placed on the button.</td>
        </tr>                
        <tr>
            <td>Visibility</td>
            <td>ComponentVisibility</td>
            <td>Visible</td>
            <td>Whether the button is visible, hidden ,collapsed.</td>
        </tr>
    </table>
    <div id="button-style">
        <h4>ButtonStyle</h4>
        <hr />
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Primary</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>Standard</td>
                <td>1</td>
                <td></td>
            </tr>
        </table>
    </div>
    <h4 id="component-visibility">ComponentVisibility</h4>
    <hr />
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Visible</td>
            <td>0</td>
            <td></td>
        </tr>
        <tr>
            <td>Hidden</td>
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>Collapsed</td>
            <td>2</td>
            <td></td>
        </tr>
    </table>
</div>
