@page "/components/button"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Button" OverviewDesc="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitButton" Description="To create a button you can use a BitButton component." CodeSampleContentForCopy="@buttonSampleCode">
        <SampleContent>
            <div>
                <BitButton IsEnabled="true">
                    Primary
                </BitButton>
                <BitButton ButtonStyle="BitButtonStyle.Standard" Style="margin-right: 2px;" IsEnabled="true">
                    Standard
                </BitButton>
                <BitButton IsEnabled="false" AllowDisabledFocus="false">
                    Disabled
                </BitButton>
                <BitButton Class="label-btn" IsEnabled="true">
                    <label>A Text from label element</label>
                </BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitButton IsEnabled</span>=<span class="soco-tag-type-def">"true"</span>>
                         Primary<span>
                &lt/</span><span class="soco-component-attr">BitButton</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitButton ButtonStyle</span>="<span>ButtonStyle</span>.Standard"<span class="soco-component-attr">
                                       Style</span><span>="margin-right: 2px;"</span><span class="soco-component-attr">
                                       IsEnabled</span>=<span class="soco-tag-type-def">"true"</span><span>></span>
                         Standard<span>
                &lt/</span><span class="soco-component-attr">BitButton</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitButton IsEnabled</span>=<span class="soco-tag-type-def">"false"</span><span>></span>
                         Disabled
                <span>&lt/</span><span class="soco-component-attr">BitButton</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitButton IsEnabled</span>=<span class="soco-tag-type-def">"false"</span>
                                       <span class="soco-component-attr">AllowDisabledFocus</span>=<span class="soco-tag-type-def">"false"</span><span>>
                         </span>&lt<span class="soco-tag-type-def">label</span><span>></span>This text is from a label element<span>&lt<span class="soco-tag-type-def">label</span><span>/></span>
                <span>&lt/</span><span class="soco-component-attr">BitButton</span></span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Style & Class" Description="BitButton can directly get css class or inline style." CodeSampleContentForCopy="@styleAndClassSampleCode">
        <SampleContent>
            <div>
                <BitButton Style="height: 40px;width: 166px;font-family: 'Axiforma';font-size: 16px;" Class="styled-btn">
                    Styled Button
                </BitButton>
                <BitButton Class="custom-button">
                    Classed Button
                </BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitButton Style</span><span>="height: 40px;width: 166px;font-family: 'Axiforma';font-size: 16px;"</span><span>></span>
                         Styled Button
                <span>&lt/</span><span class="soco-component-attr">BitButton</span><span>&gt;</span>
                &lt<span class="soco-component-attr">BitButton Class</span><span>="custom-button"</span><span>></span>
                         Classed Button
                <span>&lt/</span><span class="soco-component-attr">BitButton</span><span>&gt;</span>
                &lt<span class="soco-tag-type-def">style></span>
                         <span class="soco-css-style">.custom-button</span> {
                               <span class="soco-var-attr">height</span> : 40px;
                               <span class="soco-var-attr">width</span> : 166px;
                               <span class="soco-var-attr">font-family</span> : Axiforma;
                               <span class="soco-var-attr">font-size</span> : 16px;
                               <span class="soco-var-attr">background-color</span> : #2F455A;
                               <span class="soco-var-attr">border-color</span> : #2F455A;
                         }
                &lt/<span class="soco-tag-type-def">style</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Visibility" Description="By setting Visibility attribute, BitButton can be Visible, Hidden or Collapsed." CodeSampleContentForCopy="@visibilitySampleCode">
        <SampleContent>
            <div class="sample-btn">
                <BitButton Style="margin-bottom: 10px;" Visibility="BitComponentVisibility.Visible">Visible Button</BitButton>
                <div><span>Hidden Button: </span>[<BitButton Visibility="BitComponentVisibility.Hidden">Hidden Button</BitButton>]</div>
                <div><span>Collapsed Button: </span>[<BitButton Visibility="BitComponentVisibility.Collapsed">Collapsed Button</BitButton>]</div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitButton Visibility</span>="ComponentVisibility.Visible"<span>></span>
                         <span>Visible Button</span>
                <span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitButton Hidden</span>="ComponentHidden.Hidden"<span>></span>
                         <span>Hidden Button</span>
                <span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitButton Visibility</span>="ComponentVisibility.Collapsed"<span>></span>
                         <span>Collapsed Button</span>
                <span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Button-like Anchor" Description="BitButton can act as a link by setting Href and Target attributes." CodeSampleContentForCopy="@buttonLikeAnchorSampleCode">
        <SampleContent>
            <div class="sample-lnk-btn">
                <BitButton Style="margin-right: 10px;" Title="Primary" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                    Open Bit Foundation In New Tab
                </BitButton>
                <BitButton Class="lnk-btn" Style="margin-right: 10px;" Title="Standard" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Foundation
                </BitButton>
                <BitButton Class="disable-btn" Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                    <span>Bit Foundation From Span</span>
                </BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitButton Title</span><span>="Primary"</span>
                                       <span class="soco-component-attr">Target</span>="_blank" 
                                       <span class="soco-component-attr">Style</span>="<span>margin-right: 10px;"</span>
                                       <span class="soco-component-attr">Href=</span>"<span class="soco-tag-type-def">https://github.com/bitfoundation/bitframework</span>">
                         Open Bit Foundation In New Tab<span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitButton Title</span><span>="Standard"</span>
                                       <span class="soco-component-attr">Style</span>="<span>margin-right: 2px;"</span>
                                       <span class="soco-component-attr">ButtonStyle="</span>ButtonStyle.Standard"
                                       <span class="soco-component-attr">Href=</span>"<span class="soco-tag-type-def">https://github.com/bitfoundation/bitframework</span>">
                         Go To Bit Foundation<span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitButton Target</span><span>="_self"</span>
                                       <span class="soco-component-attr">IsEnabled=</span><span class="soco-tag-type-def">"false"</span>
                                       <span class="soco-component-attr">Href=</span>"<span class="soco-tag-type-def">https://github.com/bitfoundation/bitframework</span>">
                         &lt<span class="soco-tag-type-def">span</span>>Bit Foundation From Span &lt<span class="soco-tag-type-def">span</span>>
                <span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>