@page "/components/button"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Button" OverviewDesc="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitButton" Description="To create a button you can use a BitButton component.">
        <SampleContent>
            <div>
               <BitButton IsEnabled="true">
                   Primary
               </BitButton>
               <BitButton Style="margin-right: 2px;" ButtonStyle="BitButtonStyle.Standard" IsEnabled="true">
                   Standard
               </BitButton>
               <BitButton IsEnabled="false" AllowDisabledFocus="false">
                   Disabled
               </BitButton>
               <BitButton Class="label-btn" IsEnabled="true">
                   <label>A Text from label element</label>
               </BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
             <p>
                 &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">true"</span><span class="dark-green"> Style</span>="<span>margin-right: 2px;"</span><span>></span>Primary<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
             </p>
             <p>
                 &lt<span class="dark-green">BitButton ButtonStyle</span>="<span class="light-green">ButtonStyle</span><span>.Standard"<span class="dark-green"> IsEnabled</span="></span><span class="light-blue">true"</span><span>></span>Standard<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
             </p>
             <p>
                 &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">false"</span><span>></span>Disabled<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
             </p>
             <p>
                 &lt<span class="dark-green">BitButton IsEnabled</span>="<span class="light-blue">false"</span><span class="dark-green"> AllowDisabledFocus</span>="<span class="light-blue">false"</span><span>></span>&lt<span class="light-blue">label</span><span>></span>This text is from a label element<span>&lt<span class="light-blue">label</span><span>/></span><span>&lt/</span><span class="dark-green">BitButton</span></span><span>&gt;</span>
             </p>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Style & Class" Description="BitButton can directly get css class or inline style.">
      <SampleContent>
           <div class="">
              <BitButton Style="color:aqua">
                  Styled Button
              </BitButton>
              <BitButton Class="custom-button">
                  Classed Button
              </BitButton>
           </div>
      </SampleContent>
      <CodeSampleContent>
            <p>
               &lt<span class="dark-green">BitButton Style</span>="<span>color:aqua"</span><span>></span>Styled Button<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
            <p>
               &lt<span class="dark-green">BitButton Class</span>="<span>custom-button"</span><span>></span>Classed Button<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
     </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Visibility" Description="By setting Visibility attribute, BitButton can be Visible, Hidden or Collapsed.">
        <SampleContent>
            <div class="sample-btn">
               <BitButton Style="margin-bottom: 10px;" Visibility="BitComponentVisibility.Visible">Visible Button</BitButton>
               <br />
               <span>Hidden Button: </span>[<BitButton Visibility="BitComponentVisibility.Hidden">Hidden Button</BitButton>]
               <br />
               <span>Collapsed Button: </span>[<BitButton Visibility="BitComponentVisibility.Collapsed">Collapsed Button</BitButton>]
            </div>
        </SampleContent>
        <CodeSampleContent>
            <p>
              &lt<span class="dark-green">BitButton Visibility</span>="<span class="light-green">ComponentVisibility</span>.Visible"<span>></span><span>Visible Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
            <p>
              &lt<span class="dark-green">BitButton Hidden</span>="<span class="light-green">ComponentHidden</span>.Hidden"<span>></span><span>Hidden Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
            <p>
              &lt<span class="dark-green">BitButton Visibility</span>="<span class="light-green">ComponentVisibility</span>.Collapsed"<span>></span><span>Collapsed Button</span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
           </p>
        </CodeSampleContent>
    </CodeSample>
     <CodeSample Title="Button-like Anchor" Description="BitButton can act as a link by setting Href and Target attributes.">
        <SampleContent>
            <div class="sample-lnk-btn">
               <BitButton Style="margin-right: 10px;" Title="Primary" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                   Open Bit Foundation In New Tab
               </BitButton>
               <BitButton Class="lnk-btn" Style="margin-right: 10px;" Title="Standard" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="BitButtonStyle.Standard">
                   Go To Bit Foundation
               </BitButton>
               <BitButton Class="disable-btn" Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                   <span>Bit Foundation From Span</span>
               </BitButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <p>
              &lt<span class="dark-green">BitButton Title</span>="<span>Primary"</span><span class="dark-green"> Target="<span class="dark-green"> Style</span>="<span>margin-right: 10px;"</span></span><span>_blank"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"></span>Open Bit Foundation In New Tab<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
            <p>
              &lt<span class="dark-green">BitButton Title</span>="<span>Standard"</span><span class="dark-green"><span class="dark-green"> Style</span>="<span>margin-right: 2px;"</span> ButtonStyle="</span><span class="light-green">ButtonStyle</span><span>.Standard"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"></span>Go To Bit Foundation<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
            <p>
              &lt<span class="dark-green">BitButton Target</span>="<span>_self"</span><span class="dark-green"> Href=</span>"<span class="light-blue">https://github.com/bitfoundation/bitframework</span>"<span class="dark-green"> IsEnabled="</span><span class="light-blue">false"&lt</span><span class="light-blue">span></span>Bit Foundation From Span<span class="light-blue">&ltspan></span><span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
            </p>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>