@page "/components/compoundbutton"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Compound Button" OverviewDesc="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitCompoundButton" Description="A compound button with SecondaryText attribute.">
        <SampleContent>
            <div>
                <BitCompoundButton IsEnabled="true"
                                   Text="Primary"
                                   SecondaryText="This Button is compound button">
                </BitCompoundButton>
                <BitCompoundButton IsEnabled="true"
                                   Text="Standard"
                                   AriaHidden="true"
                                   SecondaryText="This Button is compound button"
                                   ButtonStyle="BitButtonStyle.Standard">
                </BitCompoundButton>
                <BitCompoundButton IsEnabled="false"
                                   AllowDisabledFocus="false"
                                   Text="Disabled"
                                   Class="disable-cmp-btn"
                                   AriaDescription="Detailed description used for screen reader."
                                   SecondaryText="This Button is a disabled compound button">
                </BitCompoundButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCompoundButton IsEnabled=</span><span class="light-blue">"true"</span><span class="dark-green"> Text=</span><span>"Primary"</span><span class="dark-green"> AriaLabel=</span><span>"Detailed label used for screen reader."</span><span class="dark-green"> SecondaryText</span>="This Button is compound button"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton IsEnabled=</span><span class="light-blue">"true"</span><span class="dark-green"> Text=</span><span>"Primary"</span><span class="dark-green"> AriaHidden=</span><span class="light-blue">"true"</span><span class="dark-green"> SecondaryText</span>="This Button is compound button"<span class="dark-green"> ButtonStyle=</span>"<span class="light-green">ButtonStyle</span>
                    .Standard"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton IsEnabled=</span><span class="light-blue">"false"</span><span class="dark-green"> Text=</span><span>"Disabled"</span><span class="dark-green"> AriaDescription=</span><span>"Detailed description used for screen reader."</span><span class="dark-green"> SecondaryText</span>="This Button is a disabled compound button" <span class="dark-green"> ButtonStyle=</span>"<span class="light-green">ButtonStyle</span>
                    .Standard"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Style & Class" Description="BitCompoundButton can directly get css class or inline style.">
        <SampleContent>
            <div>
                <BitCompoundButton Style="background-color:#32385b;border-color:#32385b" Text="Styled" SecondaryText="This is styled compound button"></BitCompoundButton>
                <BitCompoundButton ButtonStyle="BitButtonStyle.Standard" Class="custom-button" Text="Classed" SecondaryText="This is classed compound button"></BitCompoundButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCompoundButton Style=</span><span>"background-color:#32385b;border-color:#32385b"</span><span class="dark-green"> Text</span>="<span>Styled</span>"<span class="dark-green"> SecondaryText</span>="This is styled compound button"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton Class=</span><span>"custom-button"</span><span class="dark-green"> Text</span>="<span>Classed</span>"<span class="dark-green"> SecondaryText</span>="This is classed compound button" <span class="dark-green"> ButtonStyle=</span>"<span class="light-green">ButtonStyle</span>.Standard"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>&lt<span class="light-blue">style></span></p>
                <p><span class="m-l-30 dark-yellow">.custom-button</span> {</p>
                <p><span class="m-l-45"><span class="light-blue">text-decoration</span> : underline;</span></p>
                <p><span class="m-l-45"><span class="light-blue">font-weight</span> : bolder;</span>></p>
                <p><span class="m-l-45"><span class="light-blue">color</span> : #FFFFFF;</span></p>
                <p><span class="m-l-45"><span class="light-blue">background-color</span> : #823535;</span>></p>
                <p><span class="m-l-45"><span class="light-blue">border-color</span> : #823535;</span>></p>
                <p><span class="m-l-30">}</span></p>
                <p><span>&lt/</span><span class="light-blue">style</span><span>&gt;</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Visibility" Description="By setting Visibility attribute, BitCompoundButton can be Visible, Hidden or Collapsed.">
        <SampleContent>
            <div class="sample-btn">
                <BitCompoundButton Visibility="BitComponentVisibility.Visible" Text="Visible" SecondaryText="This Button is a visible compound button"></BitCompoundButton>
                <p><span>Hidden Button: </span>[<BitCompoundButton Text="Hidden" SecondaryText="This Button is a hidden compound button" Visibility="BitComponentVisibility.Hidden"></BitCompoundButton>]</p>
                <p><span>Collapsed Button: </span>[<BitCompoundButton Text="Collapsed" SecondaryText="This Button is a collapsed compound button" Visibility="BitComponentVisibility.Collapsed"></BitCompoundButton>]</p>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCompoundButton Visibility=</span>"<span class="light-green">ComponentVisibility</span>.Visible"<span><span class="dark-green"> Text</span>="<span>Visible</span>"<span class="dark-green"> SecondaryText</span>="This Button is a visible compound button"></span><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton Hidden=</span>"<span class="light-green">ComponentHidden</span>.Hidden"<span><span class="dark-green"> Text</span>="<span>Hidden</span>"<span class="dark-green"> SecondaryText</span>="This Button is a hidden compound button"></span><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton Visibility=</span>"<span class="light-green">ComponentVisibility</span>.Collapsed"<span><span class="dark-green"> Text</span>="<span>Collapsed</span>"<span class="dark-green"> SecondaryText</span>="This Button is a collapsed compound button"></span><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Arias for Screen Reader" Description="Aria attribues can also set for a BitCompoundButton.">
        <SampleContent>
            <div>
                <BitCompoundButton ButtonStyle="BitButtonStyle.Standard" Text="AriaDescription" SecondaryText="This is a compound button with aria description" AriaDescription="Button with Aria Description"></BitCompoundButton>
                <BitCompoundButton Text="AriaHidden" Style="height: 85px;" SecondaryText="This is a compound button with aria hidden" AriaHidden="true"></BitCompoundButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCompoundButton AriaDescription=</span><span>"Detailed description used for screen reader" <span class="dark-green"> Text</span>="<span>AriaDescription</span>"<span class="dark-green"> SecondaryText</span>="This is a compound button with aria description" <span class="dark-green"> ButtonStyle=</span>"<span class="light-green">ButtonStyle</span>.Standard"></span><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton AriaHidden=</span><span class="light-blue">"true"</span><span class="dark-green"> Style=</span><span>"height: 85px;"</span><span class="dark-green"> Text</span>="<span>AriaDescription</span>"<span class="dark-green"> SecondaryText</span>="This is a compound button with aria description"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Button-like Anchor" Description="BitCompoundButton can act as a link by setting Href and Target attributes.">
        <SampleContent>
            <div class="m-t-10">
                <BitCompoundButton Target="_blank" Href="https://github.com/bitfoundation/bitframework" Text="Open the site" SecondaryText="Open Bit Foundation In New Tab"></BitCompoundButton>
                <BitCompoundButton Href="https://github.com/bitfoundation/bitframework" ButtonStyle="BitButtonStyle.Standard" Text="Open the site" SecondaryText="Go To Bit Foundation"></BitCompoundButton>
                <BitCompoundButton Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false" Text="Open the site" SecondaryText="Go To Bit Foundation"></BitCompoundButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitCompoundButton</span><span class="dark-green"> Target=</span><span>"_blank"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"<span class="dark-green"> Text</span>="<span>Open the site</span>"<span class="dark-green"> SecondaryText</span>="Open Bit Foundation In New Tab"></span><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton</span><span class="dark-green"> ButtonStyle=</span>"<span class="light-green">ButtonStyle</span><span>.Standard"</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"</span><span class="dark-green"> Text</span>="<span>Open the site</span>"<span class="dark-green"> SecondaryText</span>="Go To Bit Foundation"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitCompoundButton</span><span class="dark-green"> Href=</span><span class="light-blue">"https://github.com/bitfoundation/bitframework"</span><span class="dark-green"> IsEnabled=</span><span class="light-blue">"false"</span><span class="dark-green"> Text</span>="<span>Open the site</span>"<span class="dark-green"> SecondaryText</span>="Go To Bit Foundation"><span>&lt/</span><span class="dark-green">BitCompoundButton</span><span>&gt;</span>
                </p>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>