@namespace Bit.BlazorUI.Demo.Client.Core.Pages
@inherits AppComponentBase

<BitTypography Variant="BitTypographyVariant.H3" Gutter>Why bit BlazorUI?</BitTypography>

<div class="card-list">
    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Native Blazor UI</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            bit BlazorUI components are written entirely in C# and provide high performance in all Blazor modes (WASM, Server, Hybrid, pre-rendering).
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Dedicated dev team</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            A professional and dedicated team creates bit BlazorUI components, and they also actively contribute to the open-source project on GitHub.
            This ensures a consistent flow of updates and easy access to technical support.
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Easy to customize</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            bit BlazorUI components are implemented in a standard format, making it simple to customize their styles and functionalities, 
            allowing you to meet your development needs in a short period of time.
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Performance centric</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            One of the most important aspects of the bit BlazorUI is its performance. 
            Using 5 components, for example, only adds <b>50KB</b> to your app, and using +40 components adds only <b>200KB</b> in total (dll + css + js).
        </BitTypography>
    </div>
</div>