@namespace Bit.BlazorUI.Demo.Client.Core.Pages
@inherits AppComponentBase

<BitTypography Variant="BitTypographyVariant.H3" Gutter>Why Bit BlazorUI?</BitTypography>

<div class="card-list">
    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Native Blazor UI</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            Bit's Blazor UI components, written entirely in C#, offer high performance and can be used in all Blazor modes (WASM, Server, Hybrid, pre-rendering). Additionally, the compressed size of your project will only increase up to 180kb.
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Dedicated dev team</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            Bit components are developed by a professional and dedicated team, who also actively contribute to the open-source project on GitHub. This ensures a steady flow of updates and allows for easy access to technical support. The components have a fast release cycle and are frequently updated to ensure optimal performance.
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Easy to customize</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            Bit components are implemented in a standard format, making it easy to customize the styles and functionalities of the components, helping you meet your development needs in a short time!
        </BitTypography>
    </div>

    <div class="benefit-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Special components</BitTypography>
        <BitTypography Variant="BitTypographyVariant.Body1">
            The Bit component package includes unique components, such as a resumable file uploader and Jalali date picker, that are difficult to find for free elsewhere!
        </BitTypography>
    </div>
</div>