@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">


    @if (LabelFragment != null)
    {
        <span>@LabelFragment</span>
    }
    else if (Label.HasValue())
    {
    <label>
        @Label
    </label>
    }
    
    <CascadingValue Value="this"
                    IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>