@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="ArbitraryAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <CascadingValue Value="this" 
                    IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>