@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     @onclick="HandleClick">
    <span>
        @if (SelectedItem is null)
        {
            @Placeholder
        }
        else
        {
            @SelectedItem.Text
        }
    </span>
    <span>
        <i class="bit-icon"></i>
    </span>
</div>