@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <span>
        @Placeholder
    </span>
    <span>
        <i class="bit-icon"></i>
    </span>
</div>