@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     @onfocus="HandleFocus"
     @onfocusin="HandleFocusIn"
     @onfocusout="HandleFocusOut">
    <span>
        @if (string.IsNullOrEmpty(Value))
        {
            @Placeholder
        }
    </span>
    <span>
        <i class="bit-icon"></i>
    </span>
</div>