@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .blazor-loading-hourglass {
        display: inline-block;
        position: relative;
        width: @(Size)px;
        height: @(Size)px;
    }

        .blazor-loading-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: @(Convert(8))px;
            box-sizing: border-box;
            border: @(Convert(32))px solid @Color;
            border-color: @Color transparent @Color transparent;
            animation: blazor-loading-hourglass 1.2s infinite;
        }

    @@keyframes blazor-loading-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        100% {
            transform: rotate(1800deg);
        }
    }
</style>
<div class="blazor-loading-hourglass"></div>