@page "/todo-template/contribute"

<div class="page-container">
    <h1 class="page-main-title">Contribute</h1>
    <div class="page-desc">
        There are many ways to contribute:
        <ul>
            <li>Give us a try and use bit platform nuget packages in your apps!</li>
            <li><a target="_blank" href="https://github.com/bitfoundation/bitplatform/pulls">Code review</a></li>
            <li>Fork / Star this project! (":</li>
            <li>Submit <a href="https://github.com/bitfoundation/bitplatform/issues/new?template=bug_report.yml">bugs</a> &amp; <a href="https://github.com/bitfoundation/bitplatform/issues/new?template=feature_request.yml">feature requests</a></li>
            <li>Engage with other developers on <a target="_blank" href="https://stackoverflow.com/questions/tagged/bitplatform">Stack Overflow</a></li>
        </ul>
    </div>
</div>