@page "/todo-template/overview"

<div class="page-container">
    <h1 class="page-main-title">Todo Template</h1>
    <div class="page-desc">
        A project template is a project that includes work packages and actions that you know you will frequently apply to various projects.
        This document aimed to create and run a Bit-Platform (Bit) project in a short period. It is assumed that you, as the developer, are familiar with the development prerequisites that follow.
        Here you can see the demos of the Todo Template in different platforms:
    </div>
    <div class="demo-card-group">
        <a class="demo-card" href="https://todo-app.bitplatform.dev/" target="_blank" title="PWA">
            <span class="demo-logo pwa" />
            PWA
        </a>
        <a class="demo-card" href="https://install.appcenter.ms/orgs/bitfoundation/apps/todo/distribution_groups/testers" target="_blank" title="App center">
            <span class="demo-logo app-center" />
            App center
        </a>
        <a class="demo-card" href="https://www.nuget.org/packages/Bit.TodoTemplate/" target="_blank" title="Nuget">
            <span class="demo-logo nuget" />
            Nuget
        </a>
        <a class="demo-card" href="https://www.figma.com/file/PHDEnipl4PCWIoh5dCRpLd/Todo-Template?node-id=2022%3A5223" target="_blank" title="Figma">
            <span class="demo-logo figma" />
            Figma
        </a>
        <a class="demo-card" href="https://todo.bitplatform.dev/" target="_blank" title="SPA">
            <span class="demo-logo spa" />
            SPA
        </a>
    </div>
</div>