@inherits AppComponentBase

<section>
    <BitStack FillContent HorizontalAlign="BitAlignment.Center" Class="max-width">
        <BitText Typography="BitTypography.H6" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.PasswordlessTitle)]
        </BitText>

        <br />

        @if (isConfigured)
        {
            <BitButton AutoLoading OnClick="WrapHandled(DisablePasswordless)" Variant="BitVariant.Outline" Color="BitColor.Warning">
                @Localizer[nameof(AppStrings.DisablePasswordless)]
            </BitButton>
        }
        else
        {
            <BitButton AutoLoading OnClick="WrapHandled(EnablePasswordless)">
                @Localizer[nameof(AppStrings.EnablePasswordless)]
            </BitButton>
        }

        @* <br />

        <BitButton AutoLoading OnClick="WrapHandled(DeleteAll)" Variant="BitVariant.Outline" Color="BitColor.Warning">
            Delete all credentials
        </BitButton> *@

        <br />
    </BitStack>
</section>
