<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.5.0" targetFramework="net462" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.SignalR2" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net462" />
  <package id="AutoMapper" version="6.0.2" targetFramework="net462" />
  <package id="IdentityServer3" version="2.6.0" targetFramework="net462" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.15.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="NWebsec.Core" version="1.6.0" targetFramework="net462" />
  <package id="NWebsec.Owin" version="2.3.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net462" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net462" />
</packages>