<main ng-model-options="{ updateOn : 'default blur' , allowInvalid : true , debounce: { 'default': 250, 'blur': 0 } }">

    <div class="header" flex layout="row">

        <div flex layout-align="start center" layout="row">
            <md-button class="md-icon-button" ng-click="vm.openMenu()">
                <md-tooltip>{{'OpenMenu' | translate}}</md-tooltip>
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <h2 class="header-title">{{::"AppTitle" | translate}}</h2>
        </div>

        <div flex layout-align="end center" layout="row">
            <md-menu>
                <md-button class="md-primary" ng-click="$mdMenu.open($event)">
                    {{::vm.user.UserName}}
                    <img class="header-avator" src="api/users-avatars/get-current-user-avatar/" />
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            <div flex layout="row" layout-align="start">
                                <md-icon>face</md-icon>
                                <span>{{::"ProfileSettings" | translate}}</span>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="vm.logout()">
                            <div flex layout="row" layout-align="start">
                                <md-icon>directions_walk</md-icon>
                                <span>{{::"Logout" | translate}}</span>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <bit-menu-container md-component-id="menu">

        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{'AppTitle' | translate}}</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeMenu()">
                    <md-tooltip>{{'CloseMenu' | translate}}</md-tooltip>
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-list class="sub-menu" flex>
                <md-subheader class="md-no-sticky sub-menu-title">Title</md-subheader>
                <md-list-item ng-click="null">
                    <div>
                        <md-icon>star</md-icon>
                        Tools
                    </div>
                </md-list-item>
                <md-list-item class="sub-menu-item-active" ng-click="null">
                    <div>
                        <md-icon>face</md-icon>
                        Your Profile
                    </div>
                </md-list-item>
                <md-list-item ng-click="null">
                    <div>
                        <md-icon>home</md-icon>
                        Home
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky sub-menu-title">Title 2</md-subheader>
                <md-list-item ng-click="null">
                    <div class="sub-menu-item-text sub-menu-item-active">
                        <md-icon>assignment</md-icon>
                        Tasks
                    </div>
                </md-list-item>
                <md-list-item ng-click="null">
                    <div>
                        <md-icon>subject</md-icon>
                        Subject
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>

    </bit-menu-container>

    <ng-outlet></ng-outlet>

    <md-button class="md-icon-button" back-to-top>
        <md-tooltip md-direction="top">{{'BackToTop' | translate}}</md-tooltip>
        <md-icon class="material-icons">present_to_all</md-icon>
    </md-button>

</main>