@import "../../../Styles/functions.scss";

.bit-ico {
    display: inline-block;
    font-size: spacing(2);
    line-height: spacing(2);
}

.bit-ico-sm {
    font-size: spacing(1);
    line-height: spacing(1);
}

.bit-ico-lg {
    font-size: spacing(3);
    line-height: spacing(3);
}
