@import "../../Styles/functions.scss";

.bit-msb {
    width: 100%;
    display: flex;
    font-weight: 400;
    min-height: spacing(4);
    font-size: spacing(1.5);
    font-family: $typography-font-family;
}

.bit-msb-mul,
.bit-msb-sin {
    width: 100%;
}

.bit-msb-con {
    width: 100%;
    display: flex;
    line-height: normal;
    padding: 0 spacing(0.5);
}

.bit-msb-ict {
    display: flex;
    flex-shrink: 0;
    margin: spacing(1);
    font-size: spacing(2);
    min-width: spacing(2);
    min-height: spacing(2);
}

.bit-msb-txt {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-foreground-primary;
}

.bit-msb-opn {
    white-space: normal;
}

.bit-msb-itx {
    min-width: 0;
    flex-grow: 1;
    display: flex;
    font-weight: 400;
    margin: spacing(1);
    flex-direction: column;
    font-size: spacing(1.5);
    line-height: spacing(2);

    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.bit-msb-act {
    display: flex;
    justify-content: flex-end;
}

.bit-msb-trn,
.bit-msb-dim {
    button {
        border: none;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 400;
        width: spacing(4);
        user-select: none;
        height: spacing(4);
        position: relative;
        text-align: center;
        outline: transparent;
        display: inline-block;
        text-decoration: none;
        box-sizing: border-box;
        font-size: spacing(1.75);
        border-radius: spacing(0.25);
        background-color: transparent;
        padding: spacing(1) spacing(1.5);

        span {
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

        .bit-icon {
            height: spacing(1.25);
            vertical-align: middle;
            font-size: spacing(1.25);
            line-height: spacing(1.25);
        }
    }
}

.bit-msb-mul {
    .bit-msb-act {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0 spacing(1.5) spacing(1) spacing(1);
    }

    .bit-msb-txt {
        span {
            white-space: normal;
        }
    }
}

.bit-msb-info {
    background-color: $color-state-info-bg;

    .bit-msb-ict .bit-icon {
        color: $color-state-info;
    }
}

.bit-msb-success {
    background-color: $color-state-success-bg;

    .bit-msb-ict .bit-icon {
        color: $color-state-success;
    }
}

.bit-msb-warning {
    background-color: $color-state-warning-bg;

    .bit-msb-ict .bit-icon {
        color: $color-state-warning;
    }
}

.bit-msb-severe-warning {
    background-color: $color-state-severe-warning-bg;

    .bit-msb-ict .bit-icon {
        color: $color-state-severe-warning;
    }
}

.bit-msb-error,
.bit-msb-blocked {
    background-color: $color-state-error-bg;

    .bit-msb-ict .bit-icon {
        color: $color-state-error;
    }
}
