@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div @ref="SaturationPickerRef"
         @onmousedown="OnSaturationPickerMouseDown">
        <div></div>
        <div style=@($"background-color: {saturationPickerBackgroundRgbCss}")></div>
        <div style=@($"top: {saturationPickerThumbPosition?.Top}px; left: {saturationPickerThumbPosition?.Left}px; background: {Rgb};")>
        </div>
    </div>

    <div>
        <div>
            <div>
                <input type="range" min="0" max="360" value="@hue" @oninput="PickMainColor">
            </div>

            <div class="alpha-slider" style=@($"display: {(ShowAlphaSlider ? "block" : "none")};")>
                <div style=@($"background:linear-gradient(to left,{saturationPickerBackgroundRgbaCss} 0%, transparent 100%)")>
                    <input type="range" min="0" max="100" value="@(color.Alpha * 100)" @oninput="PickAlphaColor">
                </div>
            </div>
        </div>
        <div class="preview-box" style=@($"background: {Rgb}; display: {(ShowPreview ? "block" : "none")}")>
        </div>
    </div>
</div>