@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div @ref="SaturationPickerRef"
         @onmousedown="OnSaturationPickerMouseDown">
        <div></div>
        <div style=@($"background-color: {SaturationPickerBackground.GetRgbCss()}")></div>
        <div style=@($"top: {SaturationPickerThumbPosition?.Top}px; left: {SaturationPickerThumbPosition?.Left}px; background: {BitColor.GetRgbaCss()};")>
        </div>
    </div>

    <div>
        <div>
            <div>
                <input type="range" min="0" max="360" value="@Hue" @oninput="PickMainColor">
            </div>

            <div class="alpha-slider" style=@($"display: {(ShowAlphaSlider ? "block" : "none")};")>
                <div style=@($"background:linear-gradient(to left,{SaturationPickerBackground.GetRgbCss()} 0%, transparent 100%)")>
                    <input type="range" min="0" max="100" value="@(BitColor.Alpha * 100)" @oninput="PickAlphaColor">
                </div>
            </div>
        </div>
        <div class="preview-box" style=@($"background: {BitColor.GetRgbaCss()}; display: {(ShowPreview ? "block" : "none")}")>
        </div>
    </div>
</div>