@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

main {
    width: 100%;
    height: 100%;
}

.exception {
    width: 90%;
    overflow: auto;
    white-space: pre;
    text-align: start;
    margin: rem2(24px);
}

.buttons {
    margin-bottom: rem2(24px);
}
