@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    .bit-ios & {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

.footer-content {
    width: 100%;
    gap: rem2(4px);
    display: flex;
    position: relative;
    padding: rem2(4px) 0;
    align-items: center;
    min-height: rem2(54px);
    justify-content: center;
    flex-flow: column nowrap;
}

.footer-contact {
    font-size: rem2(14px);
    line-height: rem2(20px);

    @include sm {
        font-size: rem2(12px);
    }
}

.footer-copyright {
    font-size: rem2(12px);
    line-height: rem2(20px);

    @include sm {
        font-size: rem2(10px);
    }
}

.footer-social-lnk-grp {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.social-lnk {
    width: rem2(32px);
    height: rem2(32px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include sm {
        width: rem2(30px);
        height: rem2(30px);
    }

    svg path {
        fill: $bit-color-foreground-secondary;
    }
}

.text--red {
    color: $bit-color-state-required;
}

::deep {
    .culture-drp {
        left: rem2(8px);
        width: rem2(104px);
        position: absolute;
    }
}

.toggle-theme-btn {
    right: rem2(12px);
    position: absolute;
    padding: 0;
    border: none;
    cursor: pointer;
    height: rem2(35px);
    min-width: rem2(35px);
    border-radius: 50%;
    color: $bit-color-primary-text;
    background-color: $bit-color-primary-main;

    .icon-container {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .bit-icon {
            margin: 0 rem2(4px);
        }
    }

    &.dark-theme {
        .icon-container {
            padding: 2px 0px 0 1px;
        }
    }
}

.theme-dark .light-theme {
    display: none;
}

.theme-light .dark-theme {
    display: none;
}
