@inherits LayoutComponentBase


<BitAppShell CascadingValues="@([new(currentDir),
                                 new(isOnline, Parameters.IsOnline),
                                 new(currentTheme, Parameters.CurrentTheme),
                                 new(isAuthenticated, Parameters.IsAuthenticated),
                                 new(currentRouteData, Parameters.CurrentRouteData),
                                 new(isCrossLayoutPage, Parameters.IsCrossLayoutPage)])">
    <main class="@GetMainCssClass()">
        <div class="root">
            @if (isAuthenticated is false)
            {
                <IdentityHeader />
            }
            else if (isAuthenticated is true)
            {
                <BitNavPanel @bind-IsOpen="isNavPanelOpen" Items="navPanelItems" />
            }

            <div class="stack">
                @if (isAuthenticated is true)
                {
                    <AuthorizedHeader />
                }

                <div class="body">
                    @Body
                </div>

                @if (isAuthenticated is false && isCrossLayoutPage is false)
                {
                    <div class="panel">
                        <BitImage Width="70%" Src="_content/Boilerplate.Client.Core/images/identitylayout-image.webp" />
                    </div>
                }
            </div>
        </div>

        @if (isAuthenticated is true)
        {
            <NavBar />
        }
    </main>
</BitAppShell>

<SnackBar />
<DiagnosticModal />
<BitModalContainer ModalParameters="modalParameters" />

<JsBridge />
