@inherits LayoutComponentBase

<div class="status-bar">Boilerplate</div>

<CascadingValue Value="currentDir">
    <div dir="@currentDir?.ToString()">
        <Header OnToggleMenu=ToggleMenuHandler />

        <div class="main">
            @if (isUserAuthenticated)
            {
                <NavMenu @bind-IsMenuOpen=isMenuOpen />
            }

            <div class="site-content@(isUserAuthenticated ? " authenticated" : "")">
                <div class="main-content">
                    <AppErrorBoundary>
                        @Body
                    </AppErrorBoundary>
                </div>
            </div>
        </div>

        <Footer />

        <MessageBox />
    </div>
</CascadingValue>