@inherits LayoutComponentBase


<CascadingValue Value=currentDir>
    <CascadingValue Name=@Parameters.IsOnline Value=isOnline>
        <CascadingValue Name=@Parameters.CurrentTheme Value=currentTheme>
            <CascadingValue Name=@Parameters.IsAuthenticated Value=isAuthenticated>
                <CascadingValue Name=@Parameters.CurrentRouteData Value=currentRouteData>
                    <CascadingValue Name=@Parameters.IsCrossLayoutPage Value=isCrossLayoutPage>
                        <BitAppShell>
                            <main class="@GetMainCssClass()">
                                <div class="root">
                                    @if (isAuthenticated is false)
                                    {
                                        <IdentityHeader />
                                    }
                                    else if (isAuthenticated is true)
                                    {
                                        <BitNavPanel @bind-IsOpen="isNavPanelOpen"
                                                     Items="navPanelItems"
                                                     IconUrl="_content/Boilerplate.Client.Core/images/bit-logo.svg" />
                                    }

                                    <div class="stack">
                                        @if (isAuthenticated is true)
                                        {
                                            <AuthorizedHeader />
                                        }

                                        <div class="body">
                                            @Body
                                        </div>

                                        @if (isAuthenticated is false && isCrossLayoutPage is false)
                                        {
                                            <div class="panel">
                                                <BitImage Width="70%" Src="_content/Boilerplate.Client.Core/images/identitylayout-image.webp" />
                                            </div>
                                        }
                                    </div>
                                </div>

                                @if (isAuthenticated is true)
                                {
                                    <NavBar />
                                }
                            </main>
                        </BitAppShell>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<SnackBar />
<DiagnosticModal />
<BitModalContainer ModalParameters="modalParameters" />

<JsBridge />
