@inherits LayoutComponentBase

<div class="status-bar">Boilerplate</div>

<CascadingValue Value="currentDir">
    <div dir="@currentDir?.ToString()" class="layout">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
        <MessageBox />
    </div>
</CascadingValue>