@inherits LayoutComponentBase


<CascadingValue Value=currentDir>
    <CascadingValue Name=@Parameters.IsOnline Value=isOnline>
        <CascadingValue Name=@Parameters.CurrentTheme Value=currentTheme>
            <CascadingValue Name=@Parameters.IsAuthenticated Value=isAuthenticated>
                <CascadingValue Name=@Parameters.CurrentRouteData Value=currentRouteData>
                    <CascadingValue Name=@Parameters.IsCrossLayoutPage Value=isCrossLayoutPage>
                        <BitAppShell PersistScroll>
                            <main class="@GetMainCssClass()">
                                <div class="root">
                                    @if (isIdentityPage is false)
                                    {
                                        if (isAuthenticated is true)
                                        {
                                            <BitNavPanel @bind-IsOpen="isNavPanelOpen"
                                                         Items="@navPanelAuthenticatedItems"
                                                         IconUrl="_content/Boilerplate.Client.Core/images/bit-logo.svg" />
                                        }
                                        else if (isAuthenticated is false)
                                        {
                                            <BitNavPanel @bind-IsOpen="isNavPanelOpen"
                                                         Items="@navPanelUnAuthenticatedItems"
                                                         IconUrl="_content/Boilerplate.Client.Core/images/bit-logo.svg" />
                                        }
                                    }

                                    <div class="stack">
                                        @if (isIdentityPage is true)
                                        {
                                            <IdentityHeader />
                                        }

                                        @if (isIdentityPage is false)
                                        {
                                            <Header />
                                        }

                                        <div class="body">
                                            @Body
                                        </div>

                                        @if (isAuthenticated is false && isCrossLayoutPage is false)
                                        {
                                            <div class="panel">
                                                <BitImage Width="70%" Src="_content/Boilerplate.Client.Core/images/identitylayout-image.webp" />
                                            </div>
                                        }
                                    </div>
                                </div>

                                @if (isIdentityPage is false)
                                {
                                    <NavBar />
                                }
                            </main>
                        </BitAppShell>

                        <AppSnackBar />
                        <AppDiagnosticModal />
                        <BitModalContainer ModalParameters="modalParameters" />
                        <AppJsBridge />

                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
