@inherits AppComponentBase

<BitModal @bind-IsOpen="isOpen" Blocking AutoToggleScroll="false">
    <section>
        <BitStack>
            <BitStack Horizontal>
                <BitText Typography="BitTypography.H5" Color="BitColor.Tertiary">
                    @title
                </BitText>
                <BitSpacer />
                <BitButton OnClick="OnCloseClick"
                           Color="BitColor.Tertiary"
                           Variant="BitVariant.Text"
                           IconName="@BitIconName.ChromeClose" />
            </BitStack>

            <BitText Color="BitColor.Tertiary" Class="body">
                @body
            </BitText>

            <BitStack Alignment="BitAlignment.Center">
                <BitButton OnClick="OnOkClick" Color="BitColor.Tertiary">
                    @Localizer[AppStrings.Ok]
                </BitButton>
            </BitStack>
        </BitStack>
    </section>
</BitModal>
