@inherits AppComponentBase

<div class="body">
    <BitText Color="BitColor.Tertiary">
        @Body
    </BitText>
</div>

<BitStack Alignment="BitAlignment.Center" AutoHeight>
    <BitButton OnClick="OnOkClick" Color="BitColor.Tertiary">
        @Localizer[AppStrings.Ok]
    </BitButton>
</BitStack>
