@inherits AppComponentBase

<div>
    <BitModal @bind-IsOpen="isOpen" Blocking Class="root" Classes="@(new() { Content = "content" })">
        <section>
            <BitStack Class="stack">
                <BitStack Horizontal AutoHeight>
                    <BitText Typography="BitTypography.H5" Color="BitColor.Tertiary">
                        @title
                    </BitText>

                    <BitSpacer />

                    <BitButton OnClick="OnCloseClick"
                               Color="BitColor.Tertiary"
                               Variant="BitVariant.Text"
                               IconName="@BitIconName.ChromeClose" />
                </BitStack>

                @if (componentType is not null)
                {
                    <DynamicComponent Type="componentType" Parameters="componentParameters" />
                }
            </BitStack>
        </section>
    </BitModal>
</div>