@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

section {
    padding: 1rem;
    min-width: 20rem;
    max-height: $bit-env-height-available;

    @include lt-md {
        min-width: unset;
    }
}

.body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    overflow: auto;
    white-space: pre;
}

::deep {
    .stack {
        max-height: calc(#{$bit-env-height-available} - 3rem);
    }
}
