@inherits AppComponentBase

<div class="body">
    <BitStack Horizontal=false>
        <BitText Color="BitColor.Tertiary">
            @Body
        </BitText>
        <BitTextField @bind-Value="value" />
    </BitStack>
</div>

<BitStack Alignment="BitAlignment.Center" AutoHeight>
    <BitButton OnClick="OnOkClick" Color="BitColor.Tertiary">
        @Localizer[AppStrings.Ok]
    </BitButton>
</BitStack>
