@inherits LayoutComponentBase

<div class="status-bar">Boilerplate</div>

<div dir="@currentDir?.ToString()" class="layout">
    <AppErrorBoundary>
        <LayoutView Layout="GetCurrentLayout()">
            <CascadingValue Value="currentDir" Name="CurrentDir">
                <CascadingValue Value="currentUrl" Name="CurrentUrl">
                    <CascadingValue Value="isUserAuthenticated" Name="IsUserAuthenticated">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
            <MessageBox />
        </LayoutView>
    </AppErrorBoundary>
</div>