@inherits LayoutComponentBase

<CascadingValue Value="currentDir">
    <CascadingValue Value="currentTheme" Name="@Parameters.CurrentTheme">
        <CascadingValue Value="currentUrl" Name="@Parameters.CurrentUrl">
            <CascadingValue Value="isAuthenticated" Name="@Parameters.IsAuthenticated">
                <CascadingValue Value="isCrossLayoutPage" Name="@Parameters.IsCrossLayoutPage">
                    <div class="layout">
                        <div class="inset-top"></div>
                        <div class="inset-main" dir="@currentDir?.ToString().ToLower()">
                            <div class="inset-left"></div>
                            <AppErrorBoundary>
                                @if (isCrossLayoutPage is true)
                                {
                                    <LayoutView Layout="GetCurrentLayout()">
                                        @Body
                                    </LayoutView>
                                }
                                else
                                {
                                    @Body
                                }
                            </AppErrorBoundary>
                            <div class="inset-right"></div>
                        </div>
                        <div class="inset-bottom"></div>
                    </div>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<SnackBar />
<MessageBox />