@inherits LayoutComponentBase

<div class="status-bar">Boilerplate</div>

<CascadingValue Value="currentDir">
    <div dir="@currentDir?.ToString()" class="layout">
        <AppErrorBoundary>
            <CascadingValue Value="isUserAuthenticated" Name="IsUserAuthenticated">
                @Body
            </CascadingValue>
        </AppErrorBoundary>
        <MessageBox />
    </div>
</CascadingValue>