@page "/components/nav"

<PageOutlet Url="components/nav"
            Title="Nav"
            Description="nav component of the bit BlazorUI components" />

<div>
    <DemoPage Name="Nav"
              SecondaryNames="@(["Tree", "TreeView"])"
              Description="A navigation pane (Nav) provides links to the main areas of an app or site. This component can also be sued as a TreeView to show parent-child data in a tree."
              Parameters="componentParameters"
              PublicMembers="componentPublicMembers"
              SubClasses="componentSubClasses"
              SubEnums="componentSubEnums"
              Notes="The BitNav is a Multi-API component which can accept the list of Items in 3 different ways: BitNavItem class, a custom Generic class, and BitNavOption component."
              GitHubDemoUrl="Navs/Nav/BitNavDemo.razor">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <_BitNavItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitNavCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitNavOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </DemoPage>
</div>
