@import "../../../Styles/functions.scss";

.bit-dtp {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    font-size: spacing(2.25);
    font-family: $typography-font-family;

    &.bit-dis {
        .bit-dtp-lbl {
            color: $color-foreground-disabled;
        }

        .bit-dtp-icn {
            cursor: default;
            pointer-events: none;
            color: $color-foreground-disabled;
            background: none $color-background-disabled;
            border: $shape-border-width $shape-border-style $color-border-disabled;
        }

        .bit-dtp-ico {
            cursor: default;
            color: $color-foreground-disabled;
        }

        .bit-dtp-inp {
            cursor: default;
            color: $color-foreground-disabled;
            background: none $color-background-disabled;
        }
    }

    &.bit-inv {
        .bit-dtp-icn {
            border-color: $color-state-error;
        }
    }
}

.bit-dtp-lbl {
    margin: 0;
    display: block;
    box-shadow: none;
    font-weight: 600;
    box-sizing: border-box;
    padding: spacing(0.5) 0;
    font-size: spacing(1.75);
    overflow-wrap: break-word;
    color: $color-foreground-primary;
}

.bit-dtp-wrp {
    position: relative;
}

.bit-dtp-icn {
    margin: 0;
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    box-shadow: none;
    height: spacing(4);
    position: relative;
    align-items: center;
    padding: 0 spacing(1);
    flex-flow: row nowrap;
    box-sizing: border-box;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
    border: $shape-border-width $shape-border-style $color-border-primary;
}

.bit-dtp-ico {
    padding: 0;
    cursor: pointer;
    color: $color-foreground-secondary;
}

.bit-dtp-clr {
    display: flex;
    width: spacing(3.75);
    height: spacing(3.75);
    justify-content: center;
    align-items: center;
    background-color: $color-background-secondary;
    cursor: pointer;

    i {
        speak: none;
        width: unset;
        pointer-events: none;
        display: inline-block;
        font-size: spacing(1.5);
        color: $color-foreground-secondary;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtp-inp {
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
    height: 100%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    font-weight: 400;
    border-radius: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: spacing(1.75);
    background: none transparent;
    color: $color-foreground-primary;
    font-family: $typography-font-family;
}

.bit-dtp-ein {
    cursor: default;
}

.bit-dtp-lic {
    .bit-dtp-icn {
        flex-direction: row-reverse;
    }

    .bit-dtp-ico {
        padding-left: 0;
        padding-right: spacing(1);
    }
}

.bit-dtp-foc {
    .bit-dtp-icn::after {
        content: "";
        position: absolute;
        pointer-events: none;
        inset: spacing(-0.125);
        border-radius: $shape-border-radius;
        border: spacing(0.25) $shape-border-style $color-primary-main;
    }
}

.bit-dtp-cal {
    display: none;
    position: fixed;
    font-weight: 400;
    outline: transparent;
    box-sizing: border-box;
    z-index: $zindex-callout;
    font-size: spacing(1.75);
    box-shadow: $box-shadow-callout;
    border-radius: $shape-border-radius;
    font-family: $typography-font-family;
}

.bit-dtp-rsp {
    .bit-dtp-dwp,
    .bit-dtp-mwp,
    .bit-dtp-twp {
        flex-grow: 1;
    }

    .bit-dtp-pkh {
        min-height: spacing(5.5);
    }

    .bit-dtp-pkc {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bit-dtp-pkr {
        height: 100%;
    }

    .bit-dtp-nbt,
    .bit-dtp-gtb,
    .bit-dtp-gtn,
    .bit-dtp-wlb,
    .bit-dtp-dbt,
    .bit-dtp-pkb,
    .bit-dtp-wnm {
        width: 100%;
        height: 100%;
        display: flex;
        aspect-ratio: 1;
        max-width: unset;
        align-items: center;
        font-size: spacing(2);
        justify-content: center;
    }

    .bit-dtp-nbt,
    .bit-dtp-gtb,
    .bit-dtp-gtn {
        width: spacing(5.5);
    }

    .bit-dtp-wlb {
        font-weight: bold;
    }

    .bit-dtp-grp {
        justify-content: center;
    }

    .bit-dtp-tdv {
        font-size: spacing(7);
    }

    .bit-dtp-tin {
        width: 100%;
        min-width: spacing(7);
        max-width: spacing(12);
        font-size: spacing(5);
    }

    .bit-dtp-tbt {
        width: 100%;
        min-width: spacing(7);
        max-width: spacing(12);
        font-size: spacing(3);
    }

    .bit-dtp-bam,
    .bit-dtp-bpm {
        width: 100%;
        font-size: spacing(4);
        margin: spacing(0.25);
    }
}

.bit-dtp-cac {
    height: 100%;
    outline: none;
    position: relative;
    overflow: hidden auto;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
}

.bit-dtp-grp {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    animation-duration: 167ms;
    animation-fill-mode: both;
    animation-name: bit-fade-in, bit-slide-down;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}

.bit-dtp-sdt {
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: spacing(0.125);
}

.bit-dtp-dwp {
    margin: 0;
    display: flex;
    box-shadow: none;
    padding: spacing(1.5);
    min-width: spacing(26);
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtp-dgd {
    border-spacing: 0;
    position: relative;
    text-align: center;
    font-size: inherit;
    table-layout: fixed;
    margin-top: spacing(0.5);
    border-collapse: collapse;
    margin-bottom: spacing(1.25);
}

.bit-dtp-dgh,
.bit-dtp-dgr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.bit-dtp-wlb {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    aspect-ratio: 1;
    font-weight: 400;
    position: relative;
    text-align: center;
    font-size: spacing(1.5);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    animation-name: bit-fade-in;
    color: $color-foreground-primary;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtp-dbt {
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    overflow: visible;
    position: relative;
    width: spacing(3.5);
    align-items: center;
    height: spacing(3.5);
    outline: transparent;
    font-weight: inherit;
    box-sizing: border-box;
    font-size: spacing(1.5);
    line-height: spacing(3);
    justify-content: center;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:active {
        background-color: $color-action-active-background-primary;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $color-foreground-disabled;
    }
}

.bit-dtp-dbs {
    background-color: $color-background-secondary;

    &::after {
        inset: 0;
        content: "";
        position: absolute;
        border: $shape-border-width $shape-border-style $color-border-primary;
    }
}

.bit-dtp-dbo {
    font-weight: 400;
    color: $color-foreground-secondary;
}

.bit-dtp-dtd {
    font-weight: 600;
    border-radius: 50%;
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media(hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }

    &:active {
        background-color: $color-action-active-primary;
    }
}

.bit-dtp-wnm {
    display: flex;
    font-weight: 400;
    width: spacing(3.5);
    align-items: center;
    height: spacing(3.5);
    box-sizing: border-box;
    font-size: spacing(1.5);
    justify-content: center;
    padding: spacing(0.375) 0 0 0;
    color: $color-foreground-secondary;
    background-color: $color-background-secondary;
    border-inline-end: $shape-border-width $shape-border-style $color-border-secondary;
}

.bit-dtp-pkh {
    width: 100%;
    position: relative;
    height: spacing(3.5);
    display: inline-flex;
    line-height: spacing(5.5);
}

.bit-dtp-tph {
    justify-content: end;
}

.bit-dtp-pkt,
.bit-dtp-ptb {
    margin: 0;
    border: none;
    flex-grow: 1;
    cursor: text;
    overflow: hidden;
    font-weight: 600;
    text-align: start;
    position: relative;
    white-space: nowrap;
    align-items: center;
    outline: transparent;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 0 spacing(1.25);
    font-size: spacing(1.75);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    animation-name: bit-fade-show;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtp-ptb {
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtp-nbc {
    display: flex;
    align-items: center;
}

.bit-dtp-nbt,
.bit-dtp-gtb,
.bit-dtp-gtn {
    padding: 0;
    border: none;
    display: block;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.5);
    height: spacing(3.5);
    outline: transparent;
    min-width: spacing(3.5);
    font-size: spacing(1.5);
    min-height: spacing(3.5);
    line-height: spacing(3.5);
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:active {
        background-color: $color-action-hover-background-primary;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;

        .bit-dtp-gti,
        .bit-icon {
            color: $color-foreground-disabled;
        }
    }
}

.bit-dtp-tbt {
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.75);
    outline: transparent;
    line-height: spacing(3.75);
    font-size: spacing(1.5);
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;
    aspect-ratio: 1;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:active {
        background-color: $color-action-hover-background-primary;
    }

    i {
        speak: none;
        width: 100%;
        aspect-ratio: 1;
        display: inline-block;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;

        i {
            color: $color-foreground-disabled;
        }
    }
}

.bit-dtp-dvd {
    top: 0;
    border-right: $shape-border-width $shape-border-style $color-border-secondary;
}

.bit-dtp-mwp {
    margin: 0;
    display: flex;
    overflow: hidden;
    box-shadow: none;
    padding: spacing(1.5);
    min-width: spacing(26);
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtp-pkc {
    margin-top: spacing(0.5);
    margin-bottom: spacing(1.5);
}

.bit-dtp-twp {
    margin: 0;
    display: flex;
    overflow: hidden;
    box-shadow: none;
    padding: spacing(1.5);
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtp-pkr {
    display: flex;
    margin-bottom: spacing(2);
    justify-content: space-evenly;

    &:last-child {
        margin: 0;
    }
}

.bit-dtp-pkb {
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: spacing(7);
    position: relative;
    white-space: nowrap;
    outline: transparent;
    max-width: spacing(7);
    font-size: spacing(1.5);
    line-height: spacing(5);
    text-overflow: ellipsis;
    background-color: transparent;
    color: $color-foreground-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $color-foreground-disabled;
    }
}

.bit-dtp-psm {
    font-weight: 600;
    background-color: $color-background-secondary;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtp-pcm {
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media (hover: hover) {
        &:hover {
            color: $color-action-hover-secondary;
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtp-tic {
    margin: 0;
    flex: 0.85;
    display: flex;
    outline: none;
    direction: ltr;
    gap: spacing(1);
    box-shadow: none;
    padding: spacing(2);
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.bit-dtp-tpr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: spacing(0.25);
}

.bit-dtp-tdv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: spacing(2.5);
    font-weight: $typography-font-weight;
}

.bit-dtp-am-pm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: spacing(2);
    padding: spacing(1.6) 0;
}

.bit-dtp-tin {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: spacing(3.75);
    box-sizing: border-box;
    justify-content: center;
    -moz-appearance: textfield; // Firefox
    background-color: $color-background-primary;
    font-size: spacing(2.28);
    font-weight: $typography-font-weight;
    overflow: hidden;
    aspect-ratio: 1;

    &::-webkit-inner-spin-button, // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus {
        border: none;
        border-bottom: $shape-border-width $shape-border-style $color-action-active-border-primary;
        outline: none;
    }
}

.bit-dtp-bam,
.bit-dtp-bpm {
    font-size: spacing(1.8);
    font-weight: $typography-font-weight;
}

.bit-dtp-bns {
    color: $color-primary-text;
    background-color: $color-primary-main;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-primary;
        }
    }

    &:active {
        background-color: $color-action-active-primary;
    }
}

.bit-dtp-ovl {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: $zindex-overlay;
    background-color: transparent;
}

.bit-dtp-und {
    .bit-dtp-wrp {
        width: 100%;
        display: flex;
        border-bottom: $shape-border-width $shape-border-style $color-border-primary;
    }

    .bit-dtp-icn {
        border: none;
        flex: 1 1 0px;
        text-align: left;
    }

    &.bit-dis {
        .bit-dtp-wrp {
            border-bottom-color: $color-border-disabled;
        }
    }

    &.bit-dtp-foc {
        .bit-dtp-icn::after {
            border: none;
            border-radius: 0;
            border-bottom: spacing(0.25) $shape-border-style $color-border-primary;
        }
    }
}

.bit-dtp-nbd {
    .bit-dtp-icn {
        border: none;
    }
}
