@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

.bit-pin {
    font-family: $typography-font-family;
    -webkit-font-smoothing: antialiased;
    font-size: spacing(1.75);
    font-weight: 400;

    .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-neutrals-gray160;
        padding-top: spacing(0.5);
        line-height: spacing(2.5);
    }

    .wrapper {
        position: relative;
        overflow: hidden;
        padding: spacing(1) 0;
    }

    .track {
        position: absolute;
        width: 100%;
        height: inherit;
        background-color: $color-neutrals-gray30;
    }

    .bar {
        position: absolute;
        width: 0;
        height: inherit;
        background-color: $color-primary-main;
        transition: width 0.15s linear 0s;
    }

    .description {
        color: $color-neutrals-gray130;
        font-size: spacing(1.5);
        line-height: spacing(2.25);
    }


    &.indeterminate {
        .bar {
            position: absolute;
            width: 0;
            min-width: 33%;
            transition: width 0.3s ease 0s;
            background: linear-gradient(to right, $color-neutrals-gray30 0%, $color-primary-main 50%, $color-neutrals-gray30 100%);
            animation: 3s ease 0s infinite normal none running bit-pin-animation;
        }
    }
}

@keyframes bit-pin-animation {
    0% {
        left: 0%;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
