@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<h3>BitProgressIndicator</h3>

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div>
        @Label
    </div>
    <div>
        <div></div>
        <div></div>
    </div>

    <div>
        @Description
    </div>
</div>