@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div>
        @Label
    </div>
    <div>
        <div style="@($"height: {BarHeight}px;")"></div>
        <div style="@($"{(PercentCompleteHasBeenSet ? $"width: {percentComplete}%" : string.Empty)}; height: {BarHeight}px;")"></div>
    </div>

    <div>
        @Description
    </div>
</div>