@inherits AppComponentBase;

@if (IsMenuOpen)
{
    <div class="menu-shadow" @onclick=CloseMenu></div>
}

<section class="main-container @(IsMenuOpen ? null : "main-container--closed")">
    <div class="top-container">
        <BitPersona ImageUrl="@ProfileImageUrl"
                    Size=@BitPersonaSize.Size48
                    Text="@User?.FullName"
                    SecondaryText="@User?.UserName"
                    Presence="BitPersonaPresenceStatus.Online" />
        <BitActionButton IconName="BitIconName.Edit"
                         Href="/edit-profile"
                         OnClick=CloseMenu>
            @Localizer[nameof(AppStrings.EditProfileTitle)]
        </BitActionButton>
    </div>
    <BitNav NavLinkItems="NavLinks"
            AriaLabel="NavMenu"
            SelectedKey="Home"
            OnLinkClick=CloseMenu>
    </BitNav>
</section>

<SignOutConfirmModal @bind-IsOpen=IsSignOutModalOpen></SignOutConfirmModal>