@page "/element"
@inject Bit.Butil.Console console
@inject Bit.Butil.Element element

<PageTitle>Element Samples</PageTitle>

<h1>Element</h1>

<pre style="font-family:Consolas">
@@inject Bit.Butil.Element element

@@code {
    ...
    var rect = await element.GetBoundingClientRect();
    ...
}
</pre>

<br />
<hr />

<h4>Open the DevTools and start clicking on buttons</h4>

<hr />
<br />

<div style="background:blue;width:100px;height:100px" @ref="elementRef">Element</div>
<br />
<button @onclick="GetBoundingClientRect">GetBoundingClientRect</button>

@code {
    private ElementReference elementRef = default!;

    private async Task GetBoundingClientRect()
    {
        await console.Log("BoundingClientRect:", await elementRef.GetBoundingClientRect());
        await console.Log("BoundingClientRect:", await element.GetBoundingClientRect(elementRef));
    }
}