@page "/history"
@inject Bit.Butil.Console console
@inject Bit.Butil.History history

<PageTitle>History Samples</PageTitle>

<h1>History</h1>

<pre style="font-family:Consolas">
@@inject Bit.Butil.History history

@@code {
    ...
    await history.GoBack();
    ...
}
</pre>

<br />
<hr />
<br />

<h4>Open the DevTools</h4>
<br />
<button @onclick="GetLength">Get length</button>
<br />
<button @onclick="GoBack">&lt; Back</button>
<br />
<button @onclick="GoForward">Forward &gt;</button>

@code {
    private async Task GetLength()
    {
        var length = await history.GetLength();
        await console.Log("History length", length);
    }

    private async Task GoBack()
    {
        await history.GoBack();
    }

    private async Task GoForward()
    {
        await history.GoForward();
    }
}