@page "/keyboard"
@implements IDisposable
@inject Bit.Butil.Console console
@inject Bit.Butil.Keyboard keyboard

<PageTitle>Keyboard Samples</PageTitle>

<h1>Keyboard</h1>

<pre style="font-family:Consolas">
@inject Bit.Butil.Keyboard keyboard

@@code {
    ...
    await keyboard.Add("F10", args => { ... }, , ButilModifiers.Alt | ButilModifiers.Ctrl);
    ...
}
</pre>

<h3>Open the DevTools and start pressing F9 and Ctrl+Alt+F10</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await keyboard.Add("F5", () => _ = console.Log("F5 is pressed!"));
        await keyboard.Add("F10", () => _ = console.Log("Ctrl+Alt+F10 is pressed!"), ButilModifiers.Alt | ButilModifiers.Ctrl);

        base.OnInitialized();
    }

    public void Dispose()
    {
        keyboard.Dispose();
    }
}