@page "/window"
@inject Bit.Butil.Console console
@inject Bit.Butil.Window window

<PageTitle>Window Samples</PageTitle>

<h1>Window</h1>

<pre style="font-family:Consolas">
@@inject Bit.Butil.Window window

@@code {
    ...
    await window.AddEventListener(ButilEvents.KeyDown, args => { ... });
    ...
}
</pre>

<h3>Open the DevTools and start pressing keys on your keyboard</h3>

<button @onclick=AddEventListener>AddEventListener</button>
&nbsp;
<button @onclick=RemoveEventListener>RemoveEventListener</button>

<hr />

<div>Is Registered: @isRegistered</div>

@code {
    private bool isRegistered = false;

    private Action<ButilKeyboardEventArgs> _handler = default!;

    protected override void OnInitialized()
    {
        _handler = (ButilKeyboardEventArgs arg) => _ = console.Log("KeyDown from C#:", arg.Code);

        base.OnInitialized();
    }

    private void AddEventListener()
    {
        _ = window.AddEventListener(ButilEvents.KeyDown, _handler);
        isRegistered = true;
    }

    private void RemoveEventListener()
    {
        _ = window.RemoveEventListener(ButilEvents.KeyDown, _handler);
        isRegistered = false;
    }
}