@import "../../Styles/functions.scss";

.bit-chg {
    display: block;
    font-weight: 400;
    font-size: spacing(1.75);
    font-family: $typography-font-family;

    &.bit-chg-req {
        .bit-chg-lbl {
            &::after {
                content: " *";
                color: $color-general-red;
                padding-right: spacing(1.5);
            }
        }
    }

    &.bit-inv {
        .bit-chgi-lbl {
            color: $color-state-invalid;
            border-color: $color-state-invalid;

            &:before {
                border-color: $color-state-invalid;
            }

            &:after {
                border-color: $color-state-invalid;
                background-color: $color-state-invalid;
            }

            &:hover {
                .bit-chgi-txt {
                    color: $color-state-invalid-hover;
                }

                &:before {
                    border-color: $color-state-invalid-hover;
                }

                &:after {
                    border-color: $color-state-invalid-hover;
                    background-color: $color-state-invalid-hover;
                }
            }
        }

        .bit-chgi-lbl-img {
            color: $color-state-invalid;
            border-color: $color-state-invalid;

            &:before {
                border-color: $color-state-invalid;
            }

            &:after {
                border-color: $color-state-invalid;
                background-color: $color-state-invalid;
            }

            &:hover {
                border-color: $color-state-invalid;

                &:before {
                    opacity: 1;
                    border-color: $color-state-invalid-hover;
                }

                &:after {
                    border-color: $color-state-invalid-hover;
                    background-color: $color-state-invalid-hover;
                }
            }
        }
    }

    &.bit-chg-rtl {
        direction: rtl;

        .bit-chgi {
            margin-right: 0;
            margin-left: spacing(1);
        }

        .bit-chgi-lbl {
            &::before {
                right: 0;
            }

            &:hover {
                &:after {
                    right: spacing(0.625);
                }
            }

            .bit-chgi-txt {
                padding-left: 0;
                padding-right: spacing(3.25);
            }
        }

        .bit-chgi-chk {
            .bit-chgi-lbl {
                &::after {
                    right: spacing(0.625);
                }
            }
        }
    }
}

.bit-chg-lbl {
    margin: 0;
    display: block;
    box-shadow: none;
    font-weight: 600;
    box-sizing: border-box;
    font-size: spacing(1.75);
    padding: spacing(0.625) 0;
    overflow-wrap: break-word;
    color: $color-text-primary;
}

.bit-chg-cnt {
    display: flex;
    flex-flow: column nowrap;

    &.Horizontal {
        flex-flow: row wrap;
    }
}

.bit-chgi {
    border: none;
    display: flex;
    font-weight: 400;
    position: relative;
    align-items: center;
    margin-top: spacing(1);
    box-sizing: border-box;
    font-size: spacing(1.75);
    margin-right: spacing(1);
    min-height: spacing(3.25);
    color: $color-text-primary;
    font-family: $typography-font-family;
}

.bit-chgi-img {
    height: 100%;
    font-size: 0;
    padding-left: 0;
    width: fit-content;
    display: inline-flex;
    background-color: $color-background-primary2;
}

.bit-chgi-input {
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bit-chgi-lbl {
    margin-top: 0;
    cursor: pointer;
    user-select: none;
    position: relative;
    vertical-align: top;
    display: inline-block;
    min-height: spacing(2.5);

    &:before {
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: spacing(2.5);
        height: spacing(2.5);
        display: inline-block;
        box-sizing: border-box;
        background-color: $color-background-primary;
        transition: border-color 0.2s cubic-bezier(0.4, 0, 0.23, 1);
        border: $shape-border-width $shape-border-style $color-border-primary2;
    }

    &:after {
        right: 0;
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        border-radius: 50%;
        left: spacing(1.25);
        box-sizing: border-box;
        transition: border-width 0.2s cubic-bezier(0.4, 0, 0.23, 1);
    }

    @media (hover: hover) {
        &:hover {
            .bit-chgi-txt {
                color: $color-action-hover-text-primary;
            }

            &:before {
                border-color: $color-action-hover-border-primary2;
            }

            &:after {
                top: spacing(0.625);
                left: spacing(0.625);
                width: spacing(1.25);
                height: spacing(1.25);
                transition-property: background-color;
                background-color: $color-action-hover-background-secondary2;
            }
        }
    }
}

.bit-chgi-lbl-img {
    margin: 0;
    display: flex;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    align-items: center;
    vertical-align: top;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: center;
    min-height: spacing(2.5);
    transition: all 0.2s ease;
    padding-top: spacing(2.75);
    border: $shape-border-width $shape-border-style transparent;

    &:before {
        left: auto;
        opacity: 0;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: spacing(2.5);
        top: spacing(0.375);
        height: spacing(2.5);
        right: spacing(0.375);
        display: inline-block;
        box-sizing: border-box;
        background-color: $color-background-primary;
        transition: border-color 0.2s cubic-bezier(0.4, 0, 0.23, 1);
        border: $shape-border-width $shape-border-style $color-border-primary2;
    }

    &:after {
        right: 0;
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        border-radius: 50%;
        left: spacing(1.25);
        box-sizing: border-box;
        transition: border-width 0.2s cubic-bezier(0.4, 0, 0.23, 1);
    }

    &:hover {
        border-color: $color-action-hover-border-primary2;

        &:before {
            opacity: 1;
            border-color: $color-action-hover-border-primary2;
        }
    }
}

.bit-chgi-txt {
    display: inline-block;
    padding-left: spacing(3.25);
}

.bit-chgi-wrp {
    display: block;
    overflow: hidden;
    font-weight: 400;
    height: spacing(4);
    position: relative;
    max-width: spacing(8);
    white-space: pre-wrap;
    font-size: spacing(1.75);
    line-height: spacing(1.875);
    font-family: $typography-font-family;
    margin: spacing(0.5) spacing(1) spacing(0.25);

    .bit-chgi-txt {
        padding-left: 0;
        display: inline-block;
    }
}

.bit-chgi-img-cnt {
    height: spacing(4);
    position: relative;
    display: inline-block;
    padding: 0 spacing(3.75);
}

.bit-chgi-img-wrp {
    transition: opacity 0.2s ease;
    padding-bottom: spacing(0.25);

    .bit-chgi-img {
        border-style: none;
        display: inline-block;

        img {
            opacity: 1;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.bit-chgi-ico-cnt {
    position: relative;
    display: inline-block;
    padding: 0 spacing(3.75);
}

.bit-chgi-ico-wrp {
    height: spacing(4);
    font-size: spacing(4);
    line-height: spacing(4);

    i {
        speak: none;
        display: inline-block;
    }
}

.bit-chgi-chk {
    .bit-chgi-lbl {
        border-color: $color-primary-main;

        &:before {
            border-color: $color-primary-main;
        }

        &:after {
            top: spacing(0.625);
            left: spacing(0.625);
            width: spacing(1.25);
            height: spacing(1.25);
            background-color: $color-primary-main;
            border: spacing(0.625) $shape-border-style $color-primary-main;
        }

        &:hover {
            &:before {
                border-color: $color-primary-darker;
            }

            &:after {
                background-color: $color-primary-darker;
                border: spacing(0.625) $shape-border-style $color-primary-darker;
            }
        }
    }

    .bit-chgi-lbl-img {
        border-color: $color-primary-main;

        &:before {
            border-color: $color-primary-main;
            opacity: 1;
        }

        &:after {
            top: spacing(1);
            left: auto;
            right: spacing(1);
            width: spacing(1.25);
            height: spacing(1.25);
            border: spacing(0.625) $shape-border-style $color-primary-main;
            background-color: $color-primary-main;
        }

        &:hover {
            border-color: $color-primary-darker;

            &:before {
                opacity: 1;
                border-color: $color-primary-darker;
            }

            &:after {
                border-color: $color-primary-darker;
                background-color: $color-primary-darker;
            }
        }
    }
}

.bit-chgi-dis {
    .bit-chgi-lbl {
        cursor: default;
        pointer-events: none;
        color: $color-text-disabled;

        &:before {
            border-color: $color-border-disabled;
        }

        &:after {
            border-color: $color-border-disabled;
        }

        .bit-chgi-txt {
            color: $color-text-disabled;
        }

        &:hover {
            .bit-chgi-txt {
                color: $color-border-disabled;
            }

            &:before, &:after {
                border-color: $color-border-disabled;
            }
        }
    }

    .bit-chgi-lbl-img {
        cursor: default;
        border-color: transparent;
        color: $color-text-disabled;

        &:before {
            border-color: $color-border-disabled;
        }

        &:hover {
            border-color: transparent;

            &:before, &:after {
                opacity: 0;
                border-color: $color-border-disabled;
            }
        }
    }

    .bit-chgi-ico-wrp {
        color: $color-text-disabled;

        i {
            color: $color-text-disabled;
        }
    }

    &.bit-chgi-chk {
        .bit-chgi-lbl-img {
            &:after {
                background-color: $color-background-disabled;
                border: spacing(0.625) $shape-border-style $color-border-disabled;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}
