@inherits LayoutComponentBase

<BitStack Full>
    <IdentityHeader />

    <BitStack Horizontal FullWidth>
        <main>
            @Body
        </main>
        <BitStack Grows FullHeight
                  HorizontalAlign="BitAlignment.Center"
                  VerticalAlign="BitAlignment.Center">
            Admin Panel
        </BitStack>
    </BitStack>

</BitStack>
