@inherits LayoutComponentBase

<main>
    <BitStack>
        <IdentityHeader />

        @if (IsAnonymousPage is true)
        {
            <div class="panel">
                @Body
            </div>
        }
        else
        {
            <BitStack Horizontal AutoHeight Grows>
                <div class="panel1">
                    @Body
                </div>
                <BitStack Grows Class="panel2" Alignment="BitAlignment.Center">
                    <BitStack Style="width:75%" Alignment="BitAlignment.Center">
                        <BitImage Width="85%" Src="_content/Boilerplate.Client.Core/images/identitylayout-image.webp" />
                        <BitText Typography="BitTypography.Body1">
                            @* bit Boilerplate is a feature-rich project template for both Visual studio and the .NET CLI.
                        It comes with a lot of features right out of the box that are required for a real world application. *@
                        </BitText>
                    </BitStack>
                </BitStack>
            </BitStack>
        }

    </BitStack>
</main>