@import '../../../Styles/abstracts/_vars.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

main {
    padding-top: 5rem;
    width: rem2(560px);
    background-color: $bit-color-background-secondary;
}
