@import '../../../Styles/abstracts/_vars.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

main {
    width: 30%;
    min-height: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    min-width: rem2(560px);
    background-color: $bit-color-background-secondary;
}
