@inherits LayoutComponentBase

<BitStack>
    <IdentityHeader />

    <BitStack Horizontal>
        <main>
            @Body
        </main>
        <aside>
            Admin Panel
        </aside>
    </BitStack>

</BitStack>
