@inherits LayoutComponentBase

<main>
    <BitStack VerticalAlign="BitAlignment.Start">
        <IdentityHeader />

        <BitStack Horizontal AutoHeight Grows>
            <div class="panel1">
                @Body
            </div>
            <BitStack Grows Class="panel2">
                Admin Panel
            </BitStack>
        </BitStack>

    </BitStack>
</main>