@inherits LayoutComponentBase

<BitStack Style="width:100%;height:100%">
    <IdentityHeader />

    <BitStack Horizontal Style="width:100%">
        <main>
            @Body
        </main>
        <BitStack Grows Style="height:100%"
                  HorizontalAlign="BitStackAlignment.Center"
                  VerticalAlign="BitStackAlignment.Center">
            Admin Panel
        </BitStack>
    </BitStack>

</BitStack>
