@inherits LayoutComponentBase

<BitStack>
    <IdentityHeader />

    <BitStack Horizontal>
        <main>
            @Body
        </main>
        <BitStack Grows>
            Admin Panel
        </BitStack>
    </BitStack>

</BitStack>
