@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

main {
    width: 100%;
    height: 100%
}

.panel {
    width: 100%;
    padding: 2rem;
    min-height: 100%;
    padding-top: 5rem;
    background-color: $bit-color-background-secondary;
}

.panel1 {
    width: 30%;
    padding: 4rem;
    min-width: 35rem;
    min-height: 100%;
    padding-top: 5rem;
    background-color: $bit-color-background-secondary;
    border-inline-end: 1px solid $bit-color-border-secondary;

    @include lt-md {
        width: 100%;
        border: none;
        min-width: unset;
        padding-inline: 1rem;
    }
}

::deep {
    .panel2 {
        @include lt-md {
            display: none;
        }
    }
}
