@page "/components/loading"

<ComponentDemo ComponentName="Loading" ComponentDescription="Blazor Native Loading components which are independant of any external css files and can be used in pre-rendering without any issues."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitLoading components" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <div class="container">
                    <div class="wrapper">
                        <div>BitBarsLoading</div>
                        <BitBarsLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitCircleLoading</div>
                        <BitCircleLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitDotsRingLoading</div>
                        <BitDotsRingLoading Color="royalblue" Size="64" />
                    </div>
                </div>

                <div class="container">
                    <div class="wrapper">
                        <div>BitDualRingLoading</div>
                        <BitDualRingLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitEllipsisLoading</div>
                        <BitEllipsisLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitGridLoading</div>
                        <BitGridLoading Color="royalblue" Size="64" />
                    </div>
                </div>

                <div class="container">
                    <div class="wrapper">
                        <div>BitHeartLoading</div>
                        <BitHeartLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitHourglassLoading</div>
                        <BitHourglassLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitRingLoading</div>
                        <BitRingLoading Color="royalblue" Size="64" />
                    </div>
                </div>

                <div class="container">
                    <div class="wrapper">
                        <div>BitRippleLoading</div>
                        <BitRippleLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitRollerLoading</div>
                        <BitRollerLoading Color="royalblue" Size="64" />
                    </div>
                    <div class="wrapper">
                        <div>BitSpinnerLoading</div>
                        <BitSpinnerLoading Color="royalblue" Size="64" />
                    </div>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>