@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">
    <i 
       role="img"
       aria-label="@AriaLabel"
       class="bit-icon bit-icon--@Icon.GetName()"></i>
</div>
