@inherits LayoutComponentBase

<Header />

<div class="main-container">
    <div class="page-content">
        @Body
        <footer class="footer">
            <div>© 2022 Bit team. All rights reserved.</div>
        </footer>
    </div>
</div>