@inherits LayoutComponentBase

<Header />

<div class="main-container @(CurrentUrl != "/" ? "main-container-pad" : null)">
    @if (CurrentUrl != "/")
    {
        <NavMenu />
    }
    <div class="page-content">
        @Body
    </div>
</div>

<Footer />