@page "/components/footer"

<PageOutlet Url="components/footer"
            Title="Footer"
            Description="footer component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Footer"
               ComponentDescription="The BitFooter component is used to display a colored bar (with text and possibly other components) at the bottom of a site or application. It can be styled with regular CSS."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>
                <BitFooter>I'm a Footer</BitFooter>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>