@inherits LayoutComponentBase
@layout MainLayout

<div class="wrapper">
    <Header />
    <div class="main-container">
        <NavMenu />
        <div id="content" class="content">
            @Body
        </div>
    </div>
    <Footer />
</div>