@import '../../Styles/_shared.scss';

h1 {
    color: $DarkBlue;
    white-space: nowrap;
    line-height: 25%;
}

h5 {
    line-height: 0;
}

section {
    margin-bottom: rem(110px);
    scroll-margin-top: rem(150px);
}

.main-container {
    background-image: url(/images/main/component-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: rem(120px);
}

.component-container {
    display: flex;
    background-image: none;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
}

.component-content {
    width: 70%;
    padding-left: rem(70px);
    margin: rem(100px) 0 rem(50px);

    @include lg {
        padding-left: rem(280px);
    }

    @include md {
        padding-left: rem(100px);
    }

    @include sm {
        padding-left: rem(50px);
    }
}

.command {
    border-left: rem(4px) solid $Violet;
    color: $Violet;
    padding: rem(15px);
    background: $Gray04;
}

.init-code, .startup-code {
    background: $Gray04;
    padding: rem(15px);
}

.index-path {
    background: $Gray04;
    color: $Violet;
}

.import-style-section {
    margin-bottom: rem(140px);
}

.m-l-20 {
    margin-left: rem(20px);
}
