<nav class="header-container">
    <div class="logo">
        <a class="logo-image" href="/">
            <img src="/images/logo/bit-logo.svg" />
        </a>
        <div class="logo-title">
            <span>BIT Components</span>
        </div>
    </div>
    <ul class="header-menu">
        <li>
            <BitLink Href="#">Home</BitLink>
        </li>
        <li>
            <BitLink Class="active" Href="#">Demo</BitLink>
        </li>
        <li>
            <BitLink Href="/get-started">Get Started</BitLink>
        </li>
    </ul>
</nav>