<nav class="header-container">
    <div class="logo">
        <a class="logo-image" href="/">
            <img src="/images/logo/bit-logo.svg" />
        </a>
        <div class="logo-title">
            <span>BIT Components</span>
        </div>
    </div>
    <ul class="header-menu">
        <li>
            <BitLink Href="\">Home</BitLink>
        </li>
        <li>
            <BitLink Class="@((currentUri.Contains(demoPath) && !currentUri.Contains(getStartedPath)) ? "active" : string.Empty)" Href="\components\overview">Demo</BitLink>
        </li>
        <li>
            <BitLink Class="@(currentUri.Contains(getStartedPath) ? "active" : string.Empty)" Href="\getstarted">Get Started</BitLink>
        </li>
    </ul>
</nav>