<div class="side">
	<BitSearchBox Placeholder="Filter"
				  IconName="Filter"
				  OnChange="@HandleChange"
                  OnClear="@HandleClear"
                  Style="margin: 5px 20px 5px 5px;" />

	<BitNav Class="nav-link"
			NavLinkItems="NavLinksToShow"
			AriaLabel="Bit Component Nav"
			SelectedKey="components/choicegroup"
			Style="height:100%; overflow:auto; padding:20px;">
	</BitNav>
</div>