<div class="side">
    <BitNav Class="nav-link"
            Style="height:100%; overflow:auto; padding:20px;"
            NavLinkItems="NavLinks"
            RenderType="BitNavRenderType.Grouped"
            AriaLabel="Bit Component Nav"  
            SelectedKey="components/choicegroup">
    </BitNav>
</div>