<div class="side">
    <BitSearchBox Placeholder="Search Controls"
                  IconName="Search"
                  IsUnderlined="true"
                  Value="@searchText"
                  ValueChanged="@HandleChange"
                  OnClear="@HandleClear"
                  Style="margin: 5px 20px 12px 5px; background-color: #fbfbfb;" />

    <BitNav Class="nav-link"
            Style="height: calc(100% - 130px); overflow: auto; padding: 0 20px 20px 20px; "
            NavLinkItems="navLinks"
            RenderType="renderType"
            AriaLabel="Bit Component Nav"
            SelectedKey="Button"
            OnLinkClick="HandleLinkClick">
    </BitNav>
</div>