@layout ComponentLayout
@page "/components/overview"

<div class="overview-container">
    <div class="toggle-container">
        <div class="toggle-title">
            <img @onclick="ToggleMenu" src="/images/icon/menu-icon.svg" />
            <h2>Components</h2>
        </div>
        <div class="toggle-description">Click on the button to see a list of all components</div>
    </div>
    <h4>BIT UI Components for Blazor</h4>
    <p class="page-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
    </p>
    <div class="box-container">
        <div class="box">
            <img src="/images/logo/input-logo.svg" />
            <div class="title">Basic input</div>
            <BitLink Href="/components/button" AriaLabel="inputs">
                <div class="footer">
                    Button, Checkbox, Toggle, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/picker-logo.svg" />
            <div class="title">Galleries & Pickers</div>
            <BitLink Href="/components/datepicker" AriaLabel="pickers">
                <div class="footer">
                    DatePicker, ColorPicker, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/item-logo.svg" />
            <div class="title">Items & Lists</div>
            <BitLink Href="/components/basiclist" AriaLabel="items">
                <div class="footer">
                    BasicList, DetailsList, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/nav-logo.svg" />
            <div class="title">Commands, Menus & Navs</div>
            <BitLink Href="/components/nav" AriaLabel="nav">
                <div class="footer">
                    Navs, Pivot, CommandBar, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/notification-logo.svg" />
            <div class="title">Notification & Engagement</div>
            <BitLink Href="/components/messagebar" AriaLabel="notification">
                <div class="footer">
                    Coachmark , MessageBar, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/progress-logo.svg" />
            <div class="title">Progress</div>
            <BitLink Href="/components/spinner" AriaLabel="progress">
                <div class="footer">
                    Spinner, ProgressIndicator, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/surface-logo.svg" />
            <div class="title">Surfaces</div>
            <BitLink Href="/components/modal" AriaLabel="surfaces">
                <div class="footer">
                    Dialog, Modal, Panel, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/utilites-logo.svg" />
            <div class="title">Utilities</div>
            <BitLink Href="#" AriaLabel="utilites">
                <div class="footer">
                    FoucusZone, Keytips, ...
                </div>
            </BitLink>
        </div>
        <div class="box">
            <img src="/images/logo/reference-logo.svg" />
            <div class="title">References</div>
            <BitLink Href="#" AriaLabel="refrences">
                <div class="footer">
                    Autofill, Check, Point, ...
                </div>
            </BitLink>
        </div>
    </div>
</div>