<div class="component-siderail">
    <ul class="link-container">
        @foreach (var param in SideRailParameters)
        {
            <li><BitLink Class="@param.Class" OnClick="@(() => ScrollToFragment(param))">@param.Title</BitLink></li>
        }
    </ul>
</div>