.validation-summary {
  border-left: 0.3125rem solid #d13438;
  background-color: #FDE7E9;
  overflow: hidden;
  margin-bottom: 0.625rem;
}
.validation-summary .validation-errors {
  margin: 0.3125rem;
}

::deep div.validation-message {
  color: #A4262C;
  font-size: 0.75rem;
}

.example-box {
  display: flex;
  gap: 0.9375rem;
  width: fit-content;
  flex-direction: column;
}
@media screen and (max-width: 37.5em) {
  .example-box {
    flex-direction: column;
  }
}
