@namespace Bit.BlazorUI.Demo.Client.Shared
@inherits LayoutComponentBase

<Header />

<main class="@(CurrentUrl == "/" ? "full-page" : "")  @BitCss.BgColor.Primary">
    @if (CurrentUrl != "/")
    {
        <NavMenu />
    }
    <div class="site-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
</main>

<MessageBox />
<Footer />