<view>

    <rad-grid rad-datasource="::vm.changeSetsDataSource">
        <toolbar-template>
            <rad-grid-add-button>{{::'AddNewChangeSet' | translate}}</rad-grid-add-button>
        </toolbar-template>
        <edit-template title="{{::'AddEditChangeSet' | translate}}" style="width:600px">
            <change-set-view-model model="::dataItem"></change-set-view-model>
        </edit-template>
        <view-template>
            <columns>
                <column name="Id" title="{{::vm.changeSetMetadata.Id.Label}}">
                    {{::dataItem.Id}}
                </column>
                <column name="Title" title="{{::vm.changeSetMetadata.Title.Label}}">
                    {{::dataItem.Title}}
                </column>
                <column name="AssociatedCommitUrl" title="{{::vm.changeSetMetadata.AssociatedCommitUrl.Label}}">
                    <a ng-href="{{::dataItem.AssociatedCommitUrl}}" target="_blank">{{::dataItem.AssociatedCommitUrl}}</a>
                </column>
                <column name="CreatedOn" title="{{::vm.changeSetMetadata.CreatedOn.Label}}">
                    {{::dataItem.CreatedOn | bitDate}}
                </column>
                <column name="Description" title="{{::vm.changeSetMetadata.Description.Label}}">
                    <div ng-bind-html="::dataItem.Description | html"></div>
                </column>
                <column name="IsDeliveredToAll" title="{{::vm.changeSetMetadata.IsDeliveredToAll.Label}}">
                    {{::dataItem.IsDeliveredToAll ? 'Yes' : 'No' | translate}}
                </column>
                <column command title="{{::'Commands' | translate}}">
                    <rad-grid-edit-button>{{::'EditChangeSet' | translate}}</rad-grid-edit-button>
                </column>
            </columns>
        </view-template>
    </rad-grid>

</view>