<view>

    <h4>Change sets:</h4>

    <rad-grid rad-datasource="::vm.changeSetsDataSource">
        <toolbar-template>
            <rad-grid-add-button>{{::'AddNewChangeSet' | translate}}</rad-grid-add-button>
        </toolbar-template>
        <edit-template title="{{::'AddEditChangeSet' | translate}}" style="width:600px">
            <change-set-view-model model="::dataItem" change-set-severities-data-source="::vm.changeSetSeveritiesDataSource" change-set-delivery-requirements-data-source="::vm.changeSetDeliveryRequirementsDataSource" ></change-set-view-model>
        </edit-template>
        <view-template>
            <columns>
                <column name="Title" title="{{::vm.changeSetMetadata.Title.Label}}">
                    {{::dataItem.Title}}
                </column>
                <column name="AssociatedCommitUrl" title="{{::vm.changeSetMetadata.AssociatedCommitUrl.Label}}">
                    <a ng-href="{{::dataItem.AssociatedCommitUrl}}" target="_blank">{{::dataItem.AssociatedCommitUrl}}</a>
                </column>
                <column name="CreatedOn" title="{{::vm.changeSetMetadata.CreatedOn.Label}}">
                    {{::dataItem.CreatedOn | bitDate}}
                </column>
                <column name="Description" title="{{::vm.changeSetMetadata.Description.Label}}">
                    <div ng-bind-html="::dataItem.Description | html"></div>
                </column>
                <column name="IsDeliveredToAll" title="{{::vm.changeSetMetadata.IsDeliveredToAll.Label}}">
                    {{::dataItem.IsDeliveredToAll ? 'Yes' : 'No' | translate}}
                </column>
                <column name="SeverityTitle" title="{{::vm.changeSetMetadata.SeverityId.Label}}" filter-data-source="::vm.changeSetSeveritiesDataSource" filter-text-field="Title" filter-value-field="Title">
                    {{::dataItem.SeverityTitle}}
                </column>
                <column name="DeliveryRequirementTitle" title="{{::vm.changeSetMetadata.DeliveryRequirementId.Label}}" filter-data-source="::vm.changeSetDeliveryRequirementsDataSource" filter-text-field="Title" filter-value-field="Title">
                    {{::dataItem.DeliveryRequirementTitle}}
                </column>
                <column command title="{{::'Commands' | translate}}">
                    <rad-grid-edit-button>{{::'EditChangeSet' | translate}}</rad-grid-edit-button>
                </column>
            </columns>
        </view-template>
    </rad-grid>

    <div ng-if="vm.changeSetsDataSource.current != null">

        <h4>Deliveries of {{vm.changeSetsDataSource.current.Title}}:</h4>

        <rad-grid rad-datasource="::vm.deliveriesDataSource" groupable="false">
            <view-template>
                <columns>
                    <column name="CustomerName" title="{{::vm.deliveryMetadata.CustomerName.Label}}" filter-data-source="::vm.customersDataSource" filter-text-field="Name" filter-value-field="Name">
                        {{::dataItem.CustomerName}}
                    </column>
                    <column name="DeliveredOn" title="{{::vm.deliveryMetadata.DeliveredOn.Label}}">
                        {{::dataItem.DeliveredOn | bitDateTime}}
                    </column>
                </columns>
            </view-template>
        </rad-grid>

    </div>

</view>