@page "/components/nav"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components
  <BitNav Style="width: 208px;
                   height: 350px;
                   box-sizing: border-box;
                   border: 1px solid #eee;
                   overflow-y: auto;"
                        NavLinkItems="BasicNavLinks"
                        IsOnTop="true"
                        AriaLabel="Nav basic example"
                        SelectedKey="key3">
                </BitNav>
<ComponentPage ComponentName="Nav" OverviewDesc="A navigation pane (Nav) provides links to the main areas of an app or site."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="Basic nav with sample links" Description="">
        <SampleContent>
            <div>
                <BitNav Style="width: 208px;
                   height: 350px;
                   box-sizing: border-box;
                   border: 1px solid #eee;
                   overflow-y: auto;"
                        NavLinkItems="BasicNavLinks"
                        IsOnTop="true"
                        AriaLabel="Nav basic example"
                        SelectedKey="key3">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                    &lt<span class="dark-green">BitNav Style</span>="width: 208px;                    
                        height: 350px;                    
                        box-sizing: border-box;                    
                        border: 1px solid #eee;                    
                        overflow-y: auto;"                    
                        Class = "bit-nav-simple-link"                    
            <span class="dark-green">NavLinkItems</span> = "BasicNavLinks"                    
                                        IsOnTop="True"
            <span class="dark-green">AriaLabel</span> = "Nav basic example"                    
            <span class="dark-green">SelectedKey</span> = "key3">                    
                                &lt/<span class="dark-green">BitNav</span>&gt;

            <span class="light-yellow-bg">&#64;code {</span>                                        
                                    private readonly <span class="dark-green">List&ltBitNavLinkItem></span> BasicNavLinks = <span class=light-blue>new</span>()                        
                                    {
            <span class="light-blue">new </span><span class="dark-green">BitNavLinkItem</span>                        
                                        {                        
                                            Name = <span class="dark-orange">"Home"</span>,                        
                                            Url = <span class="light-blue">"http://example.com"</span>,                        
                                            ExpandAriaLabel = <span class="dark-orange">"Expand Home section"</span>,                        
                                            CollapseAriaLabel = <span class="dark-orange">"Collapse Home section"</span>,                                                             
                                            IsExpanded = <span class="light-blue">true</span>,                                                                                        
                                            Links = <span class="light-blue">new</span><span class="dark-green"> List&ltBitNavLinkItem></span>                        
                                            {                        
            <span class="light-blue">new </span><span class="dark-green">BitNavLinkItem</span> { Name = <span class="dark-orange">"Activity"</span>, Url = "<span class="light-blue">http://msn.com</span>", Key = <span class="dark-orange">"key1"</span>, Target=<span class="dark-orange">"_blank"</span> },
            <span class="light-blue">new </span><span class="dark-green">BitNavLinkItem</span> { Name = <span class="dark-orange">"MSN"</span>, Url = "<span class="light-blue">http://msn.com</span>", Key = <span class="dark-orange">"key2"</span>, IsEnabled = <span class="light-blue">false</span>, Target = <span class="dark-orange">"_blank"</span> }
                                            }                        
                                        },                        
            <span class="light-blue">new </span><span class="dark-green"> BitNavLinkItem</span><span> { Name = </span><span class="dark-orange">"Documents"</span><span>, Url = "</span><span class="light-blue">http://example.com</span>" , <span>Key = </span><span class="dark-orange">"key2"</span> , <span>Target = </span><span class="dark-orange">"_blank"</span> , <span>IsExpanded = </span><span class="light-blue">true</span> },
            <span class="light-blue">new </span><span class="dark-green"> BitNavLinkItem</span><span> { Name = </span><span class="dark-orange">"Pages"</span><span>, Url = "</span><span class="light-blue">http://msn.com</span>" , <span>Key = </span><span class="dark-orange">"key3"</span> , <span>Target = </span><span class="dark-orange">"_parent"</span> },                        
            <span class="light-blue">new </span><span class="dark-green"> BitNavLinkItem</span><span> { Name = </span><span class="dark-orange">"Notebook"</span><span>, Url = "</span><span class="light-blue">http://msn.com</span>" , <span>Key = </span><span class="dark-orange">"key4"</span> , <span>IsEnabled = </span><span class="light-blue">false</span> },                        
            <span class="light-blue">new </span><span class="dark-green"> BitNavLinkItem</span><span> { Name = </span><span class="dark-orange">"Communication and Media"</span><span>, Url = "</span><span class="light-blue">http://msn.com</span>" , <span>Key = </span><span class="dark-orange">"key5"</span> , <span>Target = </span><span class="dark-orange">"_top"</span> },                        
            <span class="light-blue">new </span><span class="dark-green"> BitNavLinkItem</span><span> { Name = </span><span class="dark-orange">"News"</span><span>, Title = </span><span class="dark-orange">"News"</span><span>, Url = "</span><span class="light-blue">http://msn.com</span>" , <span>Key = </span><span class="dark-orange">"key6"</span> , <span>Target = </span><span class="dark-orange">"_self"</span> , <span>Icon = </span><span class="dark-orange">News</span> }                        
                                    }
            <span class="light-yellow-bg">};</span>
                </pre>
        </CodeSampleContent>
    </CodeSample>
 
</ComponentPage>