@import '../../../../Styles/abstracts/_functions.scss';

.dialog-title {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: rem2(24px);
    justify-content: space-between;
    border-top: rem2(4px) solid #0054C6;
    padding: rem2(12px) rem2(12px) rem2(14px) rem2(24px);
}

.dialog-body {
    max-width: 40rem;
    overflow-y: hidden;
    padding: 0 rem2(24px) rem2(24px);
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 rem2(14px) rem2(14px);
}

.btn-container {
    gap: 1rem;
    display: flex;
    flex-flow: row wrap;
}

.position-btn {
    gap: 1rem;
    display: flex;
    flex-flow: column nowrap;

    div {
        display: flex;
        justify-content: space-between;
    }
}

.relative-container {
    width: 100%;
    overflow: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    position: relative;
    height: rem2(400px);
    border: rem2(2px) lightgreen solid;
}
