@import '../../../../Styles/abstracts/_functions.scss';

.example-desc {
    margin-top: rem2(20px);
}

.example-box {
    display: flex;
    padding: rem2(30px) 0;
    border-radius: rem2(2px);
    flex-flow: column nowrap;
}

.example-operator-box {
    margin: rem2(15px) 0;
}

::deep {
    .custom-header {
        flex-grow: 1;
        display: flex;
        color: #0054C6;
        line-height: 1.5;
        align-items: center;
    }

    .custom-title {
        width: 30%;
        font-weight: 600;
        font-size: rem2(16px);
    }

    @media only screen and (max-width: #{rem2(639px)}) {
        .custom-header {
            flex-direction: column;
        }

        .custom-title {
            width: 100%;
        }
    }
}
