@namespace Bit.BlazorUI.Demo.Client.Core.Pages
@inherits AppComponentBase

<BitTypography Variant="BitTypographyVariant.H3" Gutter>bit BlazorUI components</BitTypography>

<div class="list-group">
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Buttons</BitTypography>
            <BitLink Href="/components/actionbutton" title="ActionButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ActionButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/button" title="Button">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Button</BitTypography>
            </BitLink>
            <BitLink Href="/components/button-group" title="ButtonGroup">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ButtonGroup</BitTypography>
            </BitLink>
            <BitLink Href="/components/compoundbutton" title="CompoundButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">CompoundButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/iconbutton" title="IconButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">IconButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/menubutton" title="MenuButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">MenuButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/togglebutton" title="ToggleButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ToggleButton</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Inputs</BitTypography>
            <BitLink Href="/components/calendar" title="Calendar" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Calendar</BitTypography>
            </BitLink>
            <BitLink Href="/components/checkbox" title="Checkbox">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Checkbox</BitTypography>
            </BitLink>
            <BitLink Href="/components/choicegroup" title="ChoiceGroup">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ChoiceGroup</BitTypography>
            </BitLink>
            <BitLink Href="/components/dropdown" title="Dropdown" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Dropdown</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle2" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/fileupload" title="FileUpload" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">FileUpload</BitTypography>
            </BitLink>
            <BitLink Href="/components/numberfield" title="NumberField">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">NumberField</BitTypography>
            </BitLink>
            <BitLink Href="/components/otpinput" title="OtpInput">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">OtpInput</BitTypography>
            </BitLink>
            <BitLink Href="/components/rating" title="Rating">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Rating</BitTypography>
            </BitLink>
            <BitLink Href="/components/searchbox" title="SearchBox">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SearchBox</BitTypography>
            </BitLink>
            <BitLink Href="/components/slider" title="Slider">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Slider</BitTypography>
            </BitLink>
            <BitLink Href="/components/spinbutton" title="SpinButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SpinButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/textfield" title="TextField">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">TextField</BitTypography>
            </BitLink>
            <BitLink Href="/components/toggle" title="Toggle (Switch)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Toggle (Switch)</BitTypography>
            </BitLink>
            <BitTypography Variant="BitTypographyVariant.H6">Pickers</BitTypography>
            <BitLink Href="/components/circulartimepicker" title="CircularTimePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">CircularTimePicker</BitTypography>
            </BitLink>
            <BitLink Href="/components/colorpicker" title="ColorPicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ColorPicker</BitTypography>
            </BitLink>
            <BitLink Href="/components/datepicker" title="DatePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DatePicker</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle2" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/daterangepicker" title="DateRangePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DateRangePicker</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle2" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/timepicker" title="TimePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">TimePicker</BitTypography>
            </BitLink>
        </div>
    </div>
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Layouts</BitTypography>
            <BitLink Href="/components/footer" title="Footer">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Footer</BitTypography>
            </BitLink>
            <BitLink Href="/components/grid" title="Grid">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Grid</BitTypography>
            </BitLink>
            <BitLink Href="/components/header" title="Header">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Header</BitTypography>
            </BitLink>
            <BitLink Href="/components/layout" title="Layout">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Layout</BitTypography>
            </BitLink>
            <BitLink Href="/components/spacer" title="Spacer">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Spacer</BitTypography>
            </BitLink>
            <BitLink Href="/components/stack" title="Stack">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Stack</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Lists</BitTypography>
            <BitLink Href="/components/basiclist" title="BasicList">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">BasicList</BitTypography>
            </BitLink>
            <BitLink Href="/components/carousel" title="Carousel" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Carousel</BitTypography>
            </BitLink>
            <BitLink Href="/components/swiper" title="Swiper" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Swiper</BitTypography>
            </BitLink>
            <BitLink Href="/components/timeline" title="Timeline" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Timeline</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Navs</BitTypography>
            <BitLink Href="/components/breadcrumb" title="Breadcrumb">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Breadcrumb</BitTypography>
            </BitLink>
            <BitLink Href="/components/nav" title="Nav (TreeList)" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Nav (TreeList)</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle2" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/pagination" title="Pagination">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Pagination</BitTypography>
            </BitLink>
            <BitLink Href="/components/pivot" title="Pivot (Tab)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Pivot (Tab)</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Notifications</BitTypography>
            <BitLink Href="/components/badge" title="Badge">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Badge</BitTypography>
            </BitLink>
            <BitLink Href="/components/message" title="Message">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Message</BitTypography>
            </BitLink>
            <BitLink Href="/components/persona" title="Persona (AvatarView)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Persona (AvatarView)</BitTypography>
            </BitLink>
            <BitLink Href="/components/snackbar" title="SnackBar">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SnackBar</BitTypography>
            </BitLink>
            <BitLink Href="/components/tag" title="Tag">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Tag</BitTypography>
            </BitLink>
        </div>
    </div>
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Progress</BitTypography>
            <BitLink Href="/components/loading" title="Loading">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Loading</BitTypography>
            </BitLink>
            <BitLink Href="/components/progressbar" title="ProgressBar">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ProgressBar</BitTypography>
            </BitLink>
            <BitLink Href="/components/shimmer" title="Shimmer (Skeleton)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Shimmer (Skeleton)</BitTypography>
            </BitLink>
            <BitLink Href="/components/spinner" title="Spinner (BusyIndicator)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Spinner (BusyIndicator)</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Surfaces</BitTypography>
            <BitLink Href="/components/accordion" title="Accordion (Expander)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Accordion (Expander)</BitTypography>
            </BitLink>
            <BitLink Href="/components/dialog" title="Dialog">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Dialog</BitTypography>
            </BitLink>
            <BitLink Href="/components/modal" title="Modal">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Modal</BitTypography>
            </BitLink>
            <BitLink Href="/components/panel" title="Panel">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Panel</BitTypography>
            </BitLink>
            <BitLink Href="/components/scrollablepane" title="ScrollablePane">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ScrollablePane</BitTypography>
            </BitLink>
            <BitLink Href="/components/tooltip" title="Tooltip">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Tooltip</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Utilities</BitTypography>
            <BitLink Href="/components/element" title="Element">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Element</BitTypography>
            </BitLink>
            <BitLink Href="/components/icon" title="Icon">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Icon</BitTypography>
            </BitLink>
            <BitLink Href="/components/image" title="Image">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Image</BitTypography>
            </BitLink>
            <BitLink Href="/components/label" title="Label">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Label</BitTypography>
            </BitLink>
            <BitLink Href="/components/link" title="Link">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Link</BitTypography>
            </BitLink>
            <BitLink Href="/components/overlay" title="Overlay">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Overlay</BitTypography>
            </BitLink>
            <BitLink Href="/components/separator" title="Separator">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Separator</BitTypography>
            </BitLink>
            <BitLink Href="/components/sticky" title="Sticky">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Sticky</BitTypography>
            </BitLink>
            <BitLink Href="/components/typography" title="Typography">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Typography</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6">Extras</BitTypography>
            <BitLink Href="/components/datagrid" title="DataGrid" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DataGrid</BitTypography>
            </BitLink>
            <BitLink Href="/components/chart" title="Chart" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Chart</BitTypography>
            </BitLink>
        </div>
    </div>
</div>