@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

.homepage-container {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: $bit-color-background-primary;
}

.homepage-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage-section-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: rem2(1200px);
    box-sizing: border-box;
    padding-left: rem2(20px);
    padding-right: rem2(20px);

    @include md {
        padding-left: rem2(30px);
        padding-right: rem2(30px);
    }
}

.hero-section {
    overflow: hidden;

    .homepage-section-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

.popular-components-section {
    margin-top: rem2(100px);
    padding-top: rem2(80px);
    padding-bottom: rem2(80px);

    @include md {
        margin-top: rem2(60px);
        padding-top: rem2(60px);
        padding-bottom: rem2(60px);
    }

    @include sm {
        margin-top: rem2(40px);
        padding-top: rem2(40px);
        padding-bottom: rem2(40px);
    }
}

.benefit-section {
    padding-top: rem2(80px);
    padding-bottom: rem2(80px);

    @include md {
        padding-top: rem2(60px);
        padding-bottom: rem2(60px);
    }

    @include sm {
        padding-top: rem2(40px);
        padding-bottom: rem2(40px);
    }
}

.component-list-section {
    padding-top: rem2(60px);
    padding-bottom: rem2(60px);
    background-color: $bit-color-background-secondary;

    @include md {
        margin-top: rem2(60px);
        padding-top: rem2(60px);
        padding-bottom: rem2(60px);
    }

    @include sm {
        margin-top: rem2(40px);
        padding-top: rem2(40px);
        padding-bottom: rem2(40px);
    }

    @include sm {
        margin-bottom: rem2(20px);
    }

    .homepage-section-content {
        display: flex;
        flex-flow: column nowrap;
    }
}

.contribution-section {
    padding-top: rem2(80px);
    padding-bottom: rem2(80px);

    @include md {
        padding-top: rem2(60px);
        padding-bottom: rem2(60px);
    }

    @include sm {
        padding-top: rem2(40px);
        padding-bottom: rem2(40px);
    }

    .homepage-section-content {
        display: flex;
        align-items: flex-start;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
}
