@inherits AppComponentBase;

<footer class="footer">
    <div>© 2021 Bit team. All rights reserved.</div>
    <a class="footer-linkedin" href="https://www.linkedin.com/company/bit-foundation/about/" target="_blank"><span class="footer-linkedin-txt">Follow us on linkedin</span></a>
</footer>