@import '../Styles/_shared.scss';

.sample-container {
    margin-top: rem(85px);

    .box {
        border-top: 1px solid $Gray02;
        padding: rem(15px) 0 rem(15px);
        margin-top: rem(5px);
    }

    h5 {
        line-height: 0;
    }
}

#usage-section > .sample-container:nth-child(2) {
    margin-top: rem(30px);
}

.code {
    height: rem(252px);
    padding: rem(15px);
    border: 1px solid $Gray03;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: rem(10px);
    }

    &::-webkit-scrollbar:horizontal {
        height: rem(10px);
    }

    .razor-code {
        @include subtitle2-xl;

        @include lg {
            @include subtitle2-lg;
        }

        @include md {
            @include subtitle2-md;
        }

        @include sm {
            @include subtitle2-sm;
        }
    }
}

.razor-code:hover {
    cursor: url("/images/main/cursor.png");
}
