<div class="sample-container">
    <h5>@Title</h5>
    <p class="how-to-use">
        @Description
    </p>
    <BitToggleButton @bind-IsChecked="showCode"
                     Label="@(showCode ? "</> Hide code":"</> Show code")"
                     Class="@(showCode ? "hide-code-btn":"show-code-btn")">
    </BitToggleButton>

    <div class="box">
        @if (!showCode)
        {
            <div class="sample">
                @SampleContent
            </div>
        }
        else
        {
            <div class="code">
                <BitActionButton Class="copy-btn"
                             OnClick=CopyCodeToClipboard
                             IconName="Copy">
                    @copyButtonTitle
                </BitActionButton>
                <div class="razor-code">
                    @CodeSampleContent
                </div>
            </div>
        }
    </div>
</div>

