<section class="box" id="@exampleId">
    <div class="box-header">
        <div class="header-title">@Title</div>
        <div class="header-btn-group">
            <BitToggleButton Class="com-example-box-header-btn"
                             @bind-IsChecked="showCode"
                             IconName="BitIcon.CodeEdit"
                             Title="@(showCode ? "Hide code" : "Show code")">
            </BitToggleButton>
            <BitIconButton Class="com-example-box-header-btn"
                           IconName="BitIcon.Link"
                           Title="Copy link"
                           OnClick="@CopyLinkToClipboard">
            </BitIconButton>
        </div>
    </div>

    <div class="box-content">
        @if (!showCode)
        {
            @SampleContent
        }
        else
        {
            <BitIconButton Class="com-example-box-copy-btn"
                       OnClick=CopyCodeToClipboard
                       IconName="BitIcon.Copy">
            </BitIconButton>
            @CodeSampleContent
        }
    </div>
</section>