<div class="main">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div>
        <div class="title"></div>
        <div class="description">Page Not Found</div>
    </div>
    <div class="disconnected-cable"></div>
    <a href="#" Class="back-btn">Go Back</a>
</div>