@import '../Styles/_shared.scss';

.main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: rem(504px);

    @include lg {
        height: rem(442px);
    }

    @include lt-lg {
        display: none;
    }
}

.left-box {
    display: flex;
    flex-flow: column nowrap;
    width: rem(608px);
    height: 100%;
    margin-right: rem(16px);
    border-radius: rem(10px);
    border: rem(1px) solid #DDDDDD;
    box-sizing: border-box;
    background-color: $White;
    overflow: hidden;

    @include lg {
        width: rem(512px);
    }
}

.selected-component {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: rem(184px);
    border-bottom: rem(1px) solid #DDDDDD;
    padding: rem(25px) rem(40px) rem(16px) rem(104px);
    box-sizing: border-box;
    background-color: $Gray5;

    @include lg {
        height: rem(202px);
        padding: rem(24px) rem(24px) rem(24px) rem(80px);
    }

    .selected-component-icon {
        position: absolute;
        top: rem(16px);
        left: rem(32px);
        width: rem(48px);
        height: rem(48px);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include lg {
            top: rem(24px);
            left: rem(24px);
            width: rem(40px);
            height: rem(40px);
        }
    }

    .color-picker-icon {
        background-image: url('/images/home/color-picker-blue-icon.svg');
    }

    .date-picker-icon {
        background-image: url('/images/home/date-picker-blue-icon.svg');
    }

    .drop-down-icon {
        background-image: url('/images/home/drop-down-blue-icon.svg');
    }

    .nav-icon {
        background-image: url('/images/home/nav-blue-icon.svg');
    }

    .file-upload-icon {
        background-image: url('/images/home/file-upload-blue-icon.svg');
    }

    .selected-component-name {
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(32px);
        margin-bottom: rem(8px);
        color: $SecondaryColor;

        @include lg {
            font-size: rem(18px);
            line-height: rem(31px);
        }
    }

    .selected-component-desc {
        width: 100%;
        height: rem(65px);
        font-size: rem(14px);
        line-height: rem(24px);
        margin-bottom: rem(8px);
        color: $Gray1;

        @include lg {
            height: rem(82px);
        }
    }

    .demo-btn {
        font-size: rem(14px);
        line-height: rem(24px);
        color: $PrimaryColor;
        cursor: pointer;
    }
}

.component-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .component-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: rem(80px);
        padding-left: rem(104px);
        border-bottom: rem(1px) solid #DDDDDD;
        box-sizing: border-box;
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(32px);
        color: $Gray1;
        cursor: pointer;
        background-position: center left rem(32px);
        background-repeat: no-repeat;
        background-size: rem(48px);

        &:last-child {
            border: none;
        }

        &:hover {
            color: $PrimaryColor;
        }

        @include lg {
            height: rem(60px);
            padding-left: rem(80px);
            font-size: rem(18px);
            line-height: rem(31px);
            background-size: rem(40px);
            background-position: center left rem(24px);
        }
    }

    .color-picker-row {
        background-image: url('/images/home/color-picker-gray-icon.svg');

        &:hover {
            background-image: url('/images/home/color-picker-blue-icon.svg');
        }
    }

    .date-picker-row {
        background-image: url('/images/home/date-picker-gray-icon.svg');

        &:hover {
            background-image: url('/images/home/date-picker-blue-icon.svg');
        }
    }

    .drop-down-row {
        background-image: url('/images/home/drop-down-gray-icon.svg');

        &:hover {
            background-image: url('/images/home/drop-down-blue-icon.svg');
        }
    }

    .nav-row {
        background-image: url('/images/home/nav-gray-icon.svg');

        &:hover {
            background-image: url('/images/home/nav-blue-icon.svg');
        }
    }

    .file-upload-row {
        background-image: url('/images/home/file-upload-gray-icon.svg');

        &:hover {
            background-image: url('/images/home/file-upload-blue-icon.svg');
        }
    }
}

.right-box {
    display: flex;
    flex-flow: column nowrap;
    width: rem(512px);
    height: 100%;
    border: rem(1px) solid #DDDDDD;
    border-radius: rem(10px);
    box-sizing: border-box;
    background-color: $White;
    overflow: hidden;

    @include lg {
        width: rem(512px);
    }

    .top-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: rem(72px);
        padding-left: rem(48px);
        box-sizing: border-box;
        background-color: $Gray5;

        @include lg {
            height: rem(60px);
            padding-left: rem(46px);
        }
    }

    .top-bar-tab {
        height: 100%;
        padding: rem(32px) rem(16px) rem(8px);
        margin-right: rem(40px);
        box-sizing: border-box;
        font-weight: 600;
        font-size: rem(18px);
        line-height: rem(32px);
        color: $SecondaryColor;
        cursor: pointer;

        &:hover {
            color: $PrimaryColor;
        }

        @include lg {
            padding: rem(24px) 0 rem(12px);
            font-size: rem(16px);
            line-height: rem(24px);
        }
    }

    .actvie-tab {
        border-bottom: rem(1px) solid $PrimaryColor;
        color: $PrimaryColor;
    }

    .tab-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: calc(100% - #{rem(72px)});
        padding: rem(24px);
        box-sizing: border-box;
        overflow: auto;

        @include lg {
            height: calc(100% - #{rem(60px)});
        }

        pre {
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.card-container {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: rem(597px);

    @include sm {
        width: 100%;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: rem(175px);
    height: rem(136px);
    border-radius: rem(10px);
    margin: 0 rem(12px) rem(24px);
    padding-top: rem(88px);
    box-sizing: border-box;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $SecondaryColor;
    background-color: $Gray5;
    background-repeat: no-repeat;
    background-position: top rem(24px) center;
    background-size: rem(48px);
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }
}

.color-picker-card {
    background-image: url('/images/home/color-picker-blue-icon.svg');
}

.date-picker-card {
    background-image: url('/images/home/date-picker-blue-icon.svg');
}

.drop-down-card {
    background-image: url('/images/home/drop-down-blue-icon.svg');
}

.nav-card {
    background-image: url('/images/home/nav-blue-icon.svg');
}

.file-upload-card {
    background-image: url('/images/home/file-upload-blue-icon.svg');
}

@media all and (max-width: em(1100px)) {
    .main-container {
        display: none;
    }

    .card-container {
        display: flex;
    }
}

@media all and (max-width: em(610px)) {
    .card-container {
        max-width: rem(344px);
    }

    .card {
        width: rem(156px);
        height: rem(112px);
        margin: 0 rem(8px) rem(16px);
        padding-top: rem(64px);
        font-size: rem(12px);
        line-height: rem(18px);
        background-size: rem(32px);
    }
}
