<div class="container">
    <a href="/">Index</a> |
    <a href="/window">Window Samples</a> |
    <a href="/document">Document Samples</a> |
    <a href="/keyboard">Keyboard Samples</a> |
    <a href="/console">Console Samples</a> |
    <a href="/history">History Samples</a> |
    <a href="/element">Element Samples</a>
</div>
<hr />