@code {

}

<div class="container">
    <a href="/">Index</a> |
    <a href="/window">Window Samples</a> |
    <a href="/document">Document Samples</a> |
    <a href="/console">Console Samples</a>
</div>
<hr />