@import "../colors.fluent.scss", "../../functions.scss";

.bit-chb-fluent {
    margin: 5px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    font-weight: inherit;

    & > div {
        display: flex;

        & div:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            border: 1px solid $Grey160;
            border-radius: 2px;
            box-sizing: border-box;
            transition-property: background, border, border-color;
            transition-duration: 200ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
            overflow: hidden;
            margin-right: 4px;
            cursor: pointer;

            .bit-chb-checkmark {
                color: $White;
                font-size: 11px;
                transition: 0.1s;
            }
        }

        & div:last-child {
            label {
                cursor: pointer;
            }
        }
    }

    &:hover > div {
        & > div:first-child {
            .bit-chb-checkmark {
                opacity: 1;
                color: $Grey120;
            }
        }
    }
}

.bit-chb-end-fluent {
    & > div {
        flex-direction: row-reverse;
        justify-content: flex-end;

        & > div:first-child {
            margin-left: 8px;
        }
    }
}

.bit-chb-checked-fluent {
    & > div {
        & > div:first-child {
            border-color: $Primary;
            background-color: $Primary;

            .bit-chb-checkmark {
                opacity: 1;
                color: $White;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &:hover > div {
        & > div:first-child {
            .bit-chb-checkmark {
                border-color: $Dark;
                background-color: $Dark;
                color: $White;
            }
        }
    }
}

.bit-chb-indeterminate-fluent {
    & > div {
        & > div:first-child {
            border-color: $Primary;
            background-color: $White;

            .bit-chb-checkmark {
                display: inline-block;
                width: 11px;
                height: 11px;
                color: $Primary;
                background-color: $Primary;
                border-radius: 2px;

                &:before {
                    content: '';
                }
            }
        }
    }

    &:hover > div {
        & > div:first-child {
            border-color: $Dark;
            background-color: $White;

            .bit-chb-checkmark {
                color: $Dark;
                background-color: $Dark;
            }
        }
    }
}

.bit-chb-disabled-fluent {
    pointer-events: none;
    cursor: default;

    & > div {
        & > div:first-child {
            border-color: $Grey60;
            background-color: $White;

            .bit-chb-checkmark {
                opacity: 1;
                color: $White;
                background-color: $White;
            }
        }

        & > div:last-child {
            color: $Grey60;
        }
    }
}

.bit-chb-checked-disabled-fluent,
.bit-chb-indeterminate-disabled-fluent {
    & > div {
        & > div:first-child {
            .bit-chb-checkmark {
                background-color: $Grey60;
            }
        }
    }
}
