<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net462" />
  <package id="Autofac.SignalR2" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.ServiceBus" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SqlServer" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="2.7.5" targetFramework="net462" />
</packages>