@inherits ErrorBoundaryBase

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
}
else
{
    <main>
        <BitStack Alignment="BitAlignment.Center">
            <BitImage Src="_content/Bit.BlazorUI.Demo.Client.Core/images/icon/error-triangle.svg" />

            <BitText Color="BitColor.Error" Typography="BitTypography.H3">
                Oops, something went wrong...
            </BitText>

            @if (_showException)
            {
                <div class="exception">
                    @CurrentException?.ToString()
                </div>
            }

            <BitStack Horizontal Alignment="BitAlignment.Center" AutoHeight>
                <BitButton OnClick="Refresh">Refresh</BitButton>
                <BitButton OnClick="GoHome" Variant="BitVariant.Outline">Home</BitButton>
                <BitButton OnClick="Recover" Variant="BitVariant.Outline">Recover</BitButton>
            </BitStack>
        </BitStack>
    </main>
}
