@inherits LayoutComponentBase

<BitAppShell>
    <BitLayout HideNavPanel="_isHomePage" StickyHeader>
        <Header>
            <AppHeader OnToggleNavPanel="() => _isNavPanelOpen = true" />
        </Header>
        <NavPanel>
            <BitNavPanel @bind-IsOpen="_isNavPanelOpen" Items="_navItems" Top="65" />
        </NavPanel>
        <Main>
            <div class="site-content">
                @Body
            </div>
        </Main>
        <Footer>
            <AppFooter />
        </Footer>
    </BitLayout>
</BitAppShell>

<MessageBox />
