@inherits LayoutComponentBase

<BitAppShell>
    <BitLayout>
        <Header>
            <AppHeader />
        </Header>
        <NavPanel>
            <BitNavPanel Items="_navItems" />
        </NavPanel>
        <Main>
            <main class="@($"{BitCss.Class.Color.Background.Primary}{(_currentUrl == "/" ? " full-page" : "")}")">
                @if (_currentUrl != "/")
                {
                    <NavMenu />
                }

                <div class="site-content">
                    @Body
                </div>
            </main>
        </Main>
        <Footer>
            <AppFooter />
        </Footer>
    </BitLayout>
</BitAppShell>

<MessageBox />
