@page "/not-found"

@inherits AppComponentBase

<div class="main">
    <div>
        <div class="title"></div>
        <div class="description">Page Not Found</div>
    </div>
    <div class="disconnected-cable"></div>
    <BitButton Class="not-found-back-btn" OnClick="BackToHome">Go Back</BitButton>
</div>