@page "/components/bread-list"

<ComponentDemo ComponentName="BreadList"
               ComponentDescription="BreadList should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="Basic" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Field parameter</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Text)"
                                  HrefField="@nameof(PageInfoModel.Href)" />
                </div>
                <div>
                    <BitLabel>Selector parameter</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextSelector="item => item.Text"
                                  HrefSelector="item => item.Href" />
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextSelector="item => item.Text"
                                  HrefSelector="item => item.Href" 
                                  IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>