@import "../../Styles/functions.scss";

.bit-hdr {
    display: flex;
    flex-shrink: 0;
    z-index: $zindex-base;
    color: $color-foreground-primary;
    line-height: $typography-line-height;
    font-weight: $typography-font-weight;
    font-family: $typography-font-family;
    background-color: $color-background-primary;

    &.bit-dis {
        color: $color-foreground-disabled;
    }
}

.bit-hdr-gut {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    position: relative;
    align-items: center;
}

.bit-hdr-fix {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
