@inherits AppComponentBase

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Class="title">@ComponentName</BitTypography>
    <section id="overview-section" class="page-section">
        <BitTypography Variant="BitTypographyVariant.Subtitle1">
            @ComponentDescription
        </BitTypography>
    </section>
    @if (Notes.HasValue())
    {
        <section id="notes-section" class="page-section">
            <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Notes</BitTypography>
            @Notes
        </section>
    }
    <section id="usage-section" class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Usage</BitTypography>
        @ChildContent
    </section>
    <section id="implementation-section" class="page-section">
        <BitTypography Variant="BitTypographyVariant.H4" Class="subtitle">Implementation</BitTypography>

        <ComponentParametersTable Name="@ComponentName" Parameters="ComponentParameters" />

        @if (ComponentPublicMembers.Any())
        {
            <ComponentParametersTable Name="@ComponentName" NameSuffix="public members" Parameters="ComponentPublicMembers" />
        }

        <ComponentParametersTable Name="BitComponentBase" Parameters="_baseComponentParameters" />

        <ComponentParametersTable Name="BitComponentBase" NameSuffix="public members" Parameters="_baseComponentPublicMembers" />

        <ComponentClassesTable Classes="ComponentSubClasses" />

        <ComponentEnumsTable Enums="ComponentSubEnums" />

        <ComponentEnumsTable Enums="_baseComponentSubEnums" />
    </section>
</div>
