@inject IJSRuntime js

<LayoutView>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</LayoutView>

@code {
    protected override void OnInitialized()
    {
        BitButil.Init(js);

        base.OnInitialized();
    }
}