button {
    border: none;
    outline: none;
}

// Prevent text selection by user
.no-text-select {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bit-input-hidden {
    opacity: 0;
    width: 0px;
    border: 0px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
}