@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-bnd-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-bnd-chl bit-ldn-bnd-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-bnd-chl bit-ldn-bnd-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-bnd-chl bit-ldn-bnd-ch3 @Classes?.Child"></div>
    </div>
</BitLoading>