.bit-ldn-bar {
}

.bit-ldn-bar-ccn {
    position: relative;
    display: inline-block;
    width: var(--bit-ldn-size);
    height: var(--bit-ldn-size);
}

.bit-ldn-bar-chl {
    position: absolute;
    display: inline-block;
    width: var(--bit-ldn-bar-16);
    background: var(--bit-ldn-color);
    animation: bit-ldn-bar-anm 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.bit-ldn-bar-ch1 {
    animation-delay: -0.24s;
    left: var(--bit-ldn-bar-8);
}

.bit-ldn-bar-ch2 {
    animation-delay: -0.12s;
    left: var(--bit-ldn-bar-32);
}

.bit-ldn-bar-ch3 {
    animation-delay: 0;
    left: var(--bit-ldn-bar-56);
}

@keyframes bit-ldn-bar-anm {
    0% {
        top: var(--bit-ldn-bar-8);
        height: var(--bit-ldn-bar-64);
    }

    50%, 100% {
        top: var(--bit-ldn-bar-24);
        height: var(--bit-ldn-bar-32);
    }
}
