@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-bar-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-bar-chl bit-ldn-bar-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-bar-chl bit-ldn-bar-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-bar-chl bit-ldn-bar-ch3 @Classes?.Child"></div>
    </div>
</BitLoading>