@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-dor-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch3 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch4 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch5 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch6 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch7 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch8 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch9 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch10 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch11 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-dor-chl bit-ldn-dor-ch12 @Classes?.Child"></div>
    </div>
</BitLoading>