@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-elp-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-elp-chl bit-ldn-elp-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-elp-chl bit-ldn-elp-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-elp-chl bit-ldn-elp-ch3 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-elp-chl bit-ldn-elp-ch4 @Classes?.Child"></div>
    </div>
</BitLoading>