@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-hrt-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-hrt-chl @Classes?.Child"></div>
    </div>
</BitLoading>