@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-ord-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-ord-chl bit-ldn-ord-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-ord-chl bit-ldn-ord-ch2 @Classes?.Child"></div>
    </div>
</BitLoading>