@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-rol-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch3 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch4 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch5 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch6 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch7 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rol-chl bit-ldn-rol-ch8 @Classes?.Child"></div>
    </div>
</BitLoading>