@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-rng-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-rng-chl bit-ldn-rng-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rng-chl bit-ldn-rng-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rng-chl bit-ldn-rng-ch3 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-rng-chl bit-ldn-rng-ch4 @Classes?.Child"></div>
    </div>
</BitLoading>