@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-rsq-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-rsq-chl bit-ldn-rsq-ch1 @Classes?.Child"></div>
    </div>
</BitLoading>