@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-sbr-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch3 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch4 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch5 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-sbr-chl bit-ldn-sbr-ch6 @Classes?.Child"></div>
    </div>
</BitLoading>