@namespace Bit.BlazorUI
@inherits BitLoadingBase

<BitLoading This="this">
    <div style="@Styles?.Container" class="bit-ldn-xbx-ccn @Classes?.Container">
        <div style="@Styles?.Child" class="bit-ldn-xbx-chl bit-ldn-xbx-ch1 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-xbx-chl bit-ldn-xbx-ch2 @Classes?.Child"></div>
        <div style="@Styles?.Child" class="bit-ldn-xbx-chl bit-ldn-xbx-ch3 @Classes?.Child"></div>
    </div>
</BitLoading>