@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<button @ref="Element"
        style="@GetElementStyle()"
        class="@GetElementClass()"
        @onclick="HandleOnClick">
    @ChildContent
</button>
