@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        @onclick="HandleOnClick">
    @ChildContent
</button>
