@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<button class="bit-compound-button @(VisualClass) @(EnabledClass) @(StyleClass)" @onclick="HandleOnClick">
    <span class="flexContainer">
        <span class="textContainer">
            <span class="primary-text">
                @Text
            </span>
            <span class="secondary-text">
                @SecondaryText
            </span>
        </span>
    </span>
</button>