@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        @onclick="HandleOnClick">
    <span class="text-container">
        <span>
            @Text
        </span>
        <span>
            @SecondaryText
        </span>
    </span>
</button>
