@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<BitButton Class="@("bit-compound-button " + Class)"
           Style="@Style"
           IsEnabled="IsEnabled"
           ButtonStyle="ButtonStyle"
           OnClick="HandleOnClick">
    <span class="flexContainer">
        <span class="textContainer">
            <span class="primary-text">
                @Text
            </span>
            <span class="secondary-text">
                @SecondaryText
            </span>
        </span>
    </span>
</BitButton>
