<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net47" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Autofac.SignalR2" version="4.0.0" targetFramework="net47" />
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net47" />
  <package id="AutoMapper" version="6.1.1" targetFramework="net47" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.15.0" targetFramework="net47" />
  <package id="Lambda2Js" version="3.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NWebsec.Core" version="1.6.0" targetFramework="net47" />
  <package id="NWebsec.Owin" version="2.3.1" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net47" />
</packages>