@import "../../../Styles/functions.scss";

.bit-lbtn {
    position: relative;
    min-width: spacing(15);
    box-sizing: border-box;
    font-family: $typography-button-font-family;
    font-weight: $typography-button-font-weight;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: $shape-border-radius;
    border-style: $shape-border-style;
    border-width: $shape-border-width;

    &.disabled {
        color: $color-text-disabled;
        background-color: $color-action-disabled;
        border-color: $color-border-disabled;
        cursor: default;
        pointer-events: none;
    }

    &.small {
        padding: spacing(0.25) spacing(1.25);
        font-size: spacing(1.5);
        line-height: spacing(2.75);
        min-height: spacing(3.5);
    }

    &.medium {
        padding: spacing(0.5) spacing(2);
        font-size: spacing(1.75);
        line-height: $typography-button-line-height;
        min-height: spacing(4.5);
    }

    &.large {
        padding: spacing(0.75) spacing(2.75);
        font-size: spacing(2);
        line-height: spacing(3.75);
        min-height: spacing(5.5);
    }

    &.standard {
        border-color: $color-border-secondary;
        color: $color-text-secondary;
        background-color: $color-secondary-main;

        &:hover {
            border-color: $color-action-border-hover-secondary;
            background-color: $color-action-hover-secondary;
        }

        &:active {
            border-color: $color-action-border-active-secondary;
            background-color: $color-action-active-secondary;
        }
    }

    &.primary {
        border-color: $color-border-primary;
        color: $color-text-primary;
        background-color: $color-primary-main;

        &:hover {
            border-color: $color-action-hover-primary;
            background-color: $color-action-hover-primary;
        }

        &:active {
            border-color: $color-action-active-primary;
            background-color: $color-action-active-primary;
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;

        .spinner {
            animation: spinner-key-frame 1.3s linear infinite;
            animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
        }

        .label {
            font-size: spacing(1.5);
            margin: spacing(0.25) spacing(1);
            text-align: center;
        }

        &.top {
            flex-direction: column-reverse;

            .label {
                margin: 0 0 spacing(1);
            }
        }

        &.bottom {
            flex-direction: column;

            .label {
                margin: spacing(1) 0 0;
            }
        }

        &.right {
            flex-direction: row;

            .label {
                margin: 0 0 0 spacing(1);
            }
        }

        &.left {
            flex-direction: row-reverse;

            .label {
                margin: 0 spacing(1) 0 0;
            }
        }

        &.large {
            .spinner {
                height: spacing(3.5);
                width: spacing(3.5);
            }
        }

        &.medium {
            .spinner {
                height: spacing(2.5);
                width: spacing(2.5);
            }
        }

        &.small {
            .spinner {
                height: spacing(2);
                width: spacing(2);
            }
        }

        &.xSmall {
            .spinner {
                height: spacing(1.5);
                width: spacing(1.5);
            }
        }

        &.primary {
            .spinner {
                border: spacing(2) solid $color-neutrals-gray60;
                border-top: spacing(2) solid $color-neutrals-white;
                border-radius: 50%;
                border-width: spacing(0.2125);
            }

            .label {
                color: $color-neutrals-white;
            }
        }

        &.standard {
            .spinner {
                border: spacing(2) solid $color-neutrals-gray60;
                border-top: spacing(2) solid $color-primary-main;
                border-radius: 50%;
                border-width: spacing(0.1875);
            }

            .label {
                color: $color-primary-main;
            }
        }
    }

    @keyframes spinner-key-frame {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}