@import "../../../Styles/functions.scss";

.bit-ldb {
    position: relative;
    min-width: spacing(15);
    box-sizing: border-box;
    font-family: $typography-font-family;
    font-weight: $typography-font-weight-buttons;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: $shape-border-radius;
    border-style: $shape-border-style;
    border-width: $shape-border-width;

    &.bit-dis {
        color: $color-text-disabled;
        background-color: $color-action-disabled;
        border-color: $color-border-disabled;
        cursor: default;
        pointer-events: none;
    }
}

.bit-ldb-sm {
    padding: spacing(0.25) spacing(1.25);
    font-size: spacing(1.5);
    line-height: spacing(2.75);
    min-height: spacing(3.5);
}

.bit-ldb-md {
    padding: spacing(0.5) spacing(2);
    font-size: spacing(1.75);
    line-height: $typography-line-height-buttons;
    min-height: spacing(4.5);
}

.bit-ldb-lg {
    padding: spacing(0.75) spacing(2.75);
    font-size: spacing(2);
    line-height: spacing(3.75);
    min-height: spacing(5.5);
}

.bit-ldb-std {
    color: $color-text-primary;
    border-color: $color-border-secondary;
    background-color: $color-secondary-main;

    .bit-ldb-spn {
        border: spacing(2) $shape-border-style $color-neutrals-gray60;
        border-top: spacing(2) $shape-border-style $color-primary-main;
        border-radius: 50%;
        border-width: spacing(0.1875);
    }

    .bit-ldb-lbl {
        color: $color-primary-main;
    }

    &:hover {
        border-color: $color-action-border-hover-secondary;
        background-color: $color-action-hover-secondary;
    }

    &:active {
        border-color: $color-action-border-active-secondary;
        background-color: $color-action-active-secondary;
    }
}

.bit-ldb-pri {
    color: $color-text-secondary;
    border-color: $color-border-primary;
    background-color: $color-primary-main;

    .bit-ldb-spn {
        border: spacing(2) $shape-border-style $color-neutrals-gray60;
        border-top: spacing(2) $shape-border-style $color-neutrals-white;
        border-radius: 50%;
        border-width: spacing(0.2125);
    }

    .bit-ldb-lbl {
        color: $color-neutrals-white;
    }

    &:hover {
        border-color: $color-action-hover-primary;
        background-color: $color-action-hover-primary;
    }

    &:active {
        border-color: $color-action-active-primary;
        background-color: $color-action-active-primary;
    }
}

.bit-ldb-spn {
    animation: bit-ldb-spinner-animation 1.3s linear infinite;
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

.bit-ldb-lbl {
    font-size: spacing(1.5);
    margin: spacing(0.25) spacing(1);
    text-align: center;
}

.bit-ldb-top {
    flex-direction: column-reverse;

    .bit-ldb-lbl {
        margin: 0 0 spacing(1);
    }
}

.bit-ldb-bottom {
    flex-direction: column;

    .bit-ldb-lbl {
        margin: spacing(1) 0 0;
    }
}

.bit-ldb-right {
    flex-direction: row;

    .bit-ldb-lbl {
        margin: 0 0 0 spacing(1);
    }
}

.bit-ldb-left {
    flex-direction: row-reverse;

    .bit-ldb-lbl {
        margin: 0 spacing(1) 0 0;
    }
}

.bit-ldb-ldg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &.bit-ldb-lg {
        .bit-ldb-spn {
            height: spacing(3.5);
            width: spacing(3.5);
        }
    }

    &.bit-ldb-md {
        .bit-ldb-spn {
            height: spacing(2.5);
            width: spacing(2.5);
        }
    }

    &.bit-ldb-sm {
        .bit-ldb-spn {
            height: spacing(2);
            width: spacing(2);
        }
    }

    &.bit-ldb-xs {
        .bit-ldb-spn {
            height: spacing(1.5);
            width: spacing(1.5);
        }
    }
}

@keyframes bit-ldb-spinner-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}