@namespace Bit.BlazorUI

<div class="bit-pdr @(Horizontal ? "bit-pdr-hor" : "")">
    @if (RenderAllPages)
    {
        for (int i = 0; i < _numberOfPages; i++)
        {
            <canvas id="@($"{Config.Id}-{i+1}")" />
        }
    }
    else
    {
        <canvas id="@Config.Id" />
    }
</div>