@page "/components/appshell"

<PageOutlet Url="components/appshell"
            Title="AppShell"
            Description="appshell component of the bit BlazorUI components" />

<DemoPage Name="AppShell"
          Description="BitAppShell is an advanced container to handle the nuances of a cross-platform layout."
          Parameters="componentParameters"
          PublicMembers="componentPublicMembers"
          SubClasses="componentSubClasses"
          SubEnums="componentSubEnums"
          GitHubExtrasUrl="AppShell/BitAppShell.razor"
          GitHubDemoUrl="Extras/AppShell/BitAppShellDemo.razor">
    <NotesTemplate>
        <BitText>
            To use this component, you need to install the
            <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Extras" Target="_blank">
                <BitTag Reversed
                        Text="Bit.BlazorUI.Extras"
                        Color="BitColor.SecondaryBackground"
                        IconName="@BitIconName.NavigateExternalInline" />
            </BitLink>
            nuget package, as described in the Optional steps of the
            <BitLink Href="/getting-started">Getting started</BitLink> page.
        </BitText>
    </NotesTemplate>
    <Examples>
        <DemoExample Title="Basic" Id="example1">
            <div>Since this component is a base layout container, it is not possible to show its capabilities in a demo sample here.</div>
            <div>
                You can always check our Boilerplate project template samples
                (<a href="https://adminpanel.bitplatform.dev" target="_blank">AdminPanel</a> &
                <a href="https://todo.bitplatform.dev" target="_blank">Todo</a>)
                to see the BitAppShell in action.
            </div>
        </DemoExample>
    </Examples>
</DemoPage>