::deep .nav-custom-header {
  font-size: 17px;
  font-weight: 600;
  color: green;
}
::deep .nav-custom-item {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 4px;
  color: #ff7800;
  font-weight: 600;
}

.example-box {
  display: flex;
  flex-direction: column;
  width: 350px;
}
@media screen and (max-width: 37.5em) {
  .example-box {
    width: 250px;
  }
}
.example-box .margin-top {
  margin-top: 20px;
}

.events-example-box {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}
.events-example-box ::deep .bit-nav {
  width: 350px;
}
@media screen and (max-width: 37.5em) {
  .events-example-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .events-example-box ::deep .bit-nav {
    width: 250px;
  }
}
.events-example-box .flex {
  display: flex;
  flex-direction: column;
}
