:root {
    --bit-status-bar-height: 0px;
}

* {
    box-sizing: border-box;
    font-family: "Segoe UI";
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

html, body, #app-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

.bit-blazor-hybrid {
    *:not(input) {
        -webkit-user-select: none;
        user-select: none;
    }

    &.bit-windows * {
        -webkit-user-drag: none;
    }
}
