@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

:root[bit-theme="dark"] {
    //--bit-clr-bg-pri: #010409;
    // In case you need to change the background color, make sure to also update ThemeColors.cs's PrimaryDarkBgColor accordingly.
}

* {
    box-sizing: border-box;
    font-family: "Segoe UI";
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

html, body, #app-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;

    @include lt-md {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

.bit-blazor-hybrid {
    *:not(input) {
        -webkit-user-select: none;
        user-select: none;
    }

    &.bit-windows *, a {
        -webkit-user-drag: none;
    }
}

.max-width {
    width: min(25rem, 100%);
}

.modal {
    top: $bit-env-inset-top;
    left: $bit-env-inset-left;
    right: $bit-env-inset-right;
    bottom: $bit-env-inset-bottom;
    width: $bit-env-width-available;
    height: $bit-env-height-available;
}

div[dir=rtl] {
    .bitdatagrid-paginator {
        .go-next, .go-last {
            transform: scaleX(1);
        }

        .go-previous, .go-first {
            transform: scaleX(-1);
        }
    }
}

#components-reconnect-modal {
    color: black;
}
