@import "../../Styles/Fluent/colors.fluent.scss";
@import "../../Styles/functions.scss";

.bit-prs-fluent {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-size: rem(14px);
    font-weight: 400;
    color: $Grey160;
    -webkit-font-smoothing: antialiased;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

    .bit-prs-coin {
        font-size: rem(14px);
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .bit-prs-image-area {
        position: absolute;
        overflow: visible;
        animation-name: css-0;
        animation-duration: 0.367s;
        animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
        animation-fill-mode: both;
        margin-right: rem(10px);
        top: 0;
        left: 0;
        border: 0;
        perspective: rem(1px);
    }

    .bit-prs-img-container {
        position: absolute;
        overflow: hidden;
        animation-name: css-0;
        animation-duration: 0.367s;
        animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
        animation-fill-mode: both;
        margin-right: rem(10px);
        top: 0;
        left: 0;
        border: 0;
        border-radius: 50%;
        perspective: rem(1px);
        background-color: $DarkAlt;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initials {
        //background-color: $DarkAlt;
    }

    .bit-prs-img-overlay {
        position: absolute;
        opacity: 0;
    }

    .bit-prs-img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        object-fit: cover;
    }

    .bit-prs-presence {
        position: absolute;
        top: auto;
        right: rem(-2px);
        bottom: rem(-2px);
        border-radius: 50%;
        border: rem(2px) solid $White;
        box-sizing: content-box;
        text-align: center;
        background-clip: border-box;
        forced-color-adjust: none;
    }

    .bit-prs-icon {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        speak: none;
        color: $White;
        vertical-align: top;
    }

    .bit-prs-details {
        min-width: 0;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bit-prs-primary-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $Grey160;
    }

    .bit-prs-secondary-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $Grey130;
    }

    .bit-prs-tertiary-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $Grey130;
    }

    .bit-prs-optional-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $Grey130;
    }

    .bit-ico-btn-fluent {
        position: absolute;
        background-color: $White;
        border-radius: 50%;
        border: rem(1px) solid $Primary;
    }
}

.bit-prs-fluent.bit-prs-img-act {
    .bit-prs-img-container {
        cursor: pointer;
    }

    .bit-prs-img-container:hover {
        .bit-prs-img-overlay {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: $DarkAlt;
            color: $White;
            opacity: 1;
            transition: all 0.1s linear;
        }
    }
}

.bit-prs-fluent.bit-prs-20px {
    height: rem(20px);
    min-width: rem(20px);

    .bit-prs-presence {
        height: rem(8px);
        width: rem(8px);
        border: rem(2px) solid $White;
    }

    .bit-prs-details {
        padding: 0 rem(8px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(12px);
    }

    .bit-prs-secondary-text,
    .bit-prs-tertiary-text,
    .bit-prs-optional-text {
        display: none;
    }
}


.bit-prs-fluent.bit-prs-24px {
    height: rem(24px);
    min-width: rem(24px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(24px);
        width: rem(24px);
    }

    .bit-prs-img-container {
        width: rem(24px);
        height: rem(24px);
    }

    .bit-prs-presence {
        height: rem(8px);
        width: rem(8px);
        border: rem(2px) solid $White;
    }

    .bit-prs-details {
        padding: 0 rem(8px);
    }

    .bit-prs-secondary-text,
    .bit-prs-tertiary-text,
    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-12px);
        right: rem(-10px);
        width: rem(24px);
        height: rem(24px);
    }

    .initials {
        font-size: rem(16px);
    }
}

.bit-prs-fluent.bit-prs-32px {
    height: rem(32px);
    min-width: rem(32px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(32px);
        width: rem(32px);
    }

    .bit-prs-img-container {
        width: rem(32px);
        height: rem(32px);
    }

    .bit-prs-presence {
        height: rem(8px);
        width: rem(8px);
        border: rem(2px) solid $White;
    }

    .bit-prs-details {
        padding: 0 rem(8px);
    }

    .bit-prs-secondary-text,
    .bit-prs-tertiary-text,
    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-12px);
        right: rem(-10px);
        width: rem(24px);
        height: rem(24px);
    }

    .initials {
        font-size: rem(18px);
    }
}

.bit-prs-fluent.bit-prs-40px {
    height: rem(40px);
    min-width: rem(40px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(40px);
        width: rem(40px);
    }

    .bit-prs-img-container {
        width: rem(40px);
        height: rem(40px);
    }

    .bit-prs-presence {
        height: rem(12px);
        width: rem(12px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(6px);
        line-height: rem(12px);
    }

    .bit-prs-details {
        padding: 0 rem(12px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(12px);
    }

    .bit-prs-tertiary-text {
        display: none;
    }

    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-12px);
        right: rem(-10px);
        width: rem(24px);
        height: rem(24px);
    }

    .initials {
        font-size: rem(20px);
    }
}

.bit-prs-fluent.bit-prs-48px {
    height: rem(48px);
    min-width: rem(48px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(48px);
        width: rem(48px);
    }

    .bit-prs-img-container {
        width: rem(48px);
        height: rem(48px);
    }

    .bit-prs-presence {
        height: rem(12px);
        width: rem(12px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(6px);
        line-height: rem(12px);
    }

    .bit-prs-details {
        padding: 0 rem(12px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(12px);
    }

    .bit-prs-tertiary-text {
        display: none;
    }

    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-6px);
        right: rem(-6px);
        width: rem(24px);
        height: rem(24px);
    }

    .initials {
        font-size: rem(22px);
    }
}

.bit-prs-fluent.bit-prs-56px {
    height: rem(56px);
    min-width: rem(56px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(56px);
        width: rem(56px);
    }

    .bit-prs-img-container {
        width: rem(56px);
        height: rem(56px);
    }

    .bit-prs-presence {
        height: rem(16px);
        width: rem(16px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(8px);
        line-height: rem(16px);
    }

    .bit-prs-details {
        padding: 0 rem(24px) 0 rem(16px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(20px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-tertiary-text {
        display: none;
    }

    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-6px);
        right: rem(-6px);
        width: rem(24px);
        height: rem(24px);
    }

    .initials {
        font-size: rem(24px);
    }
}

.bit-prs-fluent.bit-prs-72px {
    height: rem(72px);
    min-width: rem(72px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(72px);
        width: rem(72px);
    }

    .bit-prs-img-container {
        width: rem(72px);
        height: rem(72px);
    }

    .bit-prs-presence {
        height: rem(20px);
        width: rem(20px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(12px);
        line-height: rem(20px);
    }

    .bit-prs-details {
        padding: 0 rem(24px) 0 rem(16px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(20px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-tertiary-text {
        font-weight: 400;
        font-size: rem(14px);
        display: block;
    }

    .bit-prs-optional-text {
        display: none;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-2px);
        right: 0px;
        width: rem(26px);
        height: rem(26px);
    }

    .initials {
        font-size: rem(24px);
    }
}

.bit-prs-fluent.bit-prs-100px {
    height: rem(100px);
    min-width: rem(100px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(100px);
        width: rem(100px);
    }

    .bit-prs-img-container {
        width: rem(100px);
        height: rem(100px);
    }

    .bit-prs-presence {
        height: rem(28px);
        width: rem(28px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(14px);
        line-height: rem(28px);
    }

    .bit-prs-details {
        padding: 0 rem(24px) 0 rem(16px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(20px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-tertiary-text {
        font-weight: 400;
        font-size: rem(14px);
        display: block;
    }

    .bit-prs-optional-text {
        font-weight: 400;
        font-size: rem(14px);
        display: block;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-2px);
        right: 0px;
    }

    .initials {
        font-size: rem(26px);
    }
}

.bit-prs-fluent.bit-prs-120px {
    height: rem(120px);
    min-width: rem(120px);

    .bit-prs-image-area {
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        height: rem(120px);
        width: rem(120px);
    }

    .bit-prs-img-container {
        width: rem(120px);
        height: rem(120px);
    }

    .bit-prs-presence {
        height: rem(32px);
        width: rem(32px);
        border: rem(2px) solid $White;
    }

    .bit-prs-icon {
        font-size: rem(14px);
        line-height: rem(32px);
        position: relative;
        left: rem(1px);
    }

    .bit-prs-details {
        padding: 0 rem(24px) 0 rem(16px);
    }

    .bit-prs-primary-text {
        font-weight: 400;
        font-size: rem(20px);
    }

    .bit-prs-secondary-text {
        font-weight: 400;
        font-size: rem(14px);
    }

    .bit-prs-tertiary-text {
        font-weight: 400;
        font-size: rem(14px);
        display: block;
    }

    .bit-prs-optional-text {
        font-weight: 400;
        font-size: rem(14px);
        display: block;
    }

    .bit-ico-btn-fluent {
        bottom: rem(-2px);
        right: 0px;
    }

    .initials {
        font-size: rem(28px);
    }
}

.bit-prs-fluent.bit-prs-online {
    .bit-prs-presence {
        background-color: $OnlineGreen;
    }
}

.bit-prs-fluent.bit-prs-away {
    .bit-prs-presence {
        background-color: $Orange10;
    }
}

.bit-prs-fluent.bit-prs-blocked {
    .bit-prs-presence {
        background-color: $BusyRed;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: rem(2px) solid $BusyRed;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }
}

.bit-prs-fluent.bit-prs-busy {
    .bit-prs-presence {
        background-color: $BusyRed;
    }
}

.bit-prs-fluent.bit-prs-dnd {
    .bit-prs-presence {
        background-color: $DoNotDisturbRed;
    }
}

.bit-prs-fluent.bit-prs-offline {
    .bit-prs-presence {
        background-color: $Gray110;
    }
}

.bit-prs-fluent.bit-prs-off {
    .bit-prs-presence {
        background-color: $Magenta;
    }
}
