@namespace Bit.BlazorUI
@using Bit.BlazorUI.Components.Nav
@inherits BitComponentBase

<nav @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="navigation"
     aria-label="@AriaLabel">

    <ul role="list">
        <CascadingValue Value="this" IsFixed="true">
            @foreach (var childItem in Items)
            {
                <_BitNavChild @key="childItem.Key ?? childItem.Text" Item="childItem" />
            }
        </CascadingValue>
    </ul>
</nav>