@page "/components/spinner"

<h2>Spinner</h2>

<div class="card">
    <p class="desc">BitSpinner is an outline of a circle which animates around itself indicating to the user that things are processing. A Spinner is shown when it's unsure how long a task will take making it the indeterminate version of a ProgressIndicator. They can be various sizes, located inline with content or centered. They generally appear after an action is being processed or committed. They are subtle and generally do not take up much space, but are transitions from the completed task.</p>
</div>

<h2>Usage</h2>
<div class="wrapper">
    <div class="card">
        <h3>BitSpinner</h3>
        <div class="desc">
            <p>
                To create a spinner, you can use a BitSpinner component. Label attribute use for a text you wish show beside of spinner, You can also set Size attribute and change spinner size.
            </p>
        </div>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div class="spinner-container">
                    <div>
                        <label>Extra small spinner</label>
                        <BitSpinner Size="SpinnerSize.XSmall" />
                    </div>
                    <div>
                        <label>Small spinner</label>
                        <BitSpinner Size="SpinnerSize.Small" />
                    </div>
                    <div>
                        <label>Medium spinner</label>
                        <BitSpinner Size="SpinnerSize.Medium" />
                    </div>
                    <div>
                        <label>Large spinner</label>
                        <BitSpinner Size="SpinnerSize.Large" />
                    </div>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitSpinner Size="</span><span class="light-green">SpinnerSize</span><span>.XSmall"></span><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitSpinner Size="</span><span class="light-green">SpinnerSize</span><span>.Small"></span><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitSpinner Size="</span><span class="light-green">SpinnerSize</span><span>.Medium"></span><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                </p>
                <p>
                    &lt<span class="dark-green">BitSpinner Size="</span><span class="light-green">SpinnerSize</span><span>.Large"></span><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
        <div class="card">
            <h4>Label positioning</h4>
            <div class="desc">
                <p>
                    By setting LabelPosition attribute, change position of spinner to bottom, top, left or right.
                </p>
            </div>
            <BitPivot>
                <BitPivotItem HeaderText="Example" IconName="ViewList">
                    <div class="spinner-positioning">
                        <div>
                            <label>Spinner with label positioned below</label>
                            <BitSpinner class="m-t-10" LabelPosition="SpinnerLabelPosition.Top" Label="I am definitely loading..." />
                        </div>
                        <div>
                            <label>Spinner with label positioned above</label>
                            <BitSpinner class="m-t-10" LabelPosition="SpinnerLabelPosition.Bottom" Label="Seriously, still loading..." />
                        </div>
                        <div>
                            <label>Spinner with label positioned to right</label>
                            <BitSpinner class="m-t-10" LabelPosition="SpinnerLabelPosition.Left" Label="Wait, wait..." />
                        </div>
                        <div>
                            <label>Spinner with label positioned to left</label>
                            <BitSpinner class="m-t-10" LabelPosition="SpinnerLabelPosition.Right" Label="Nope, still loading..." />
                        </div>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Code" IconName="Source">
                    <p>
                        &lt<span class="dark-green">BitSpinner LabelPosition="</span><span class="light-green">SpinnerLabelPosition</span><span>.Bottom"</span><span class="dark-green"> Label</span>="I am definitely loading..."><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitSpinner LabelPosition="</span><span class="light-green">SpinnerLabelPosition</span><span>.Top"</span><span class="dark-green"> Label</span>="Seriously, still loading..."><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitSpinner LabelPosition="</span><span class="light-green">SpinnerLabelPosition</span><span>.Right"</span><span class="dark-green"> Label</span>="Wait, wait..."><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                    </p>
                    <p>
                        &lt<span class="dark-green">BitSpinner LabelPosition="</span><span class="light-green">SpinnerLabelPosition</span><span>.Left"</span><span class="dark-green"> Label</span>="Nope, still loading..."><span>&lt/</span><span class="dark-green">BitSpinner</span><span>&gt;</span>
                    </p>
                </BitPivotItem>
            </BitPivot>
        </div>
    </div>
</div>
<h2>Implementation</h2>
<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>className</td>
            <td>string</td>
            <td></td>
            <td>If provided, additional class name to provide on the root element.</td>
        </tr> 
        <tr>
            <td>label</td>
            <td>string</td>
            <td></td>
            <td>The label to show next to the Spinner.</td>
        </tr> 
        <tr>
            <td>labelPosition</td>
            <td>spinnerlabelposition</td>
            <td>top</td>
            <td>The position of the label in regards of the spinner animation.</td>
        </tr>
        <tr>
            <td>ref</td>
            <td>elementreference</td>
            <td></td>
            <td>Access the public methods and properties of the component.</td>
        </tr> 
        <tr>
            <td>size</td>
            <td>spinnersize</td>
            <td>medium</td>
            <td>The size of Spinner to render.</td>
        </tr>
        <tr>
            <td>styles</td>
            <td>string</td>
            <td></td>
            <td>Custom styling for individual elements within the button DOM.</td>
        </tr>
        <tr>
            <td>uniqueId</td>
            <td>guid</td>
            <td></td>
            <td>Unique ID to identify the item. Typically a duplicate of key value.</td>
        </tr>
    </table>
    <div>
        <h4>SpinnerSize</h4>
        <hr />
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>medium</td>
                <td>0</td>
                <td>20px Spinner diameter</td>
            </tr>
            <tr>
                <td>large</td>
                <td>1</td>
                <td>28px Spinner diameter</td>
            </tr>
            <tr>
                <td>small</td>
                <td>2</td>
                <td>16px Spinner diameter</td>
            </tr>
            <tr>
                <td>xsmall</td>
                <td>3</td>
                <td>12px Spinner diameter</td>
            </tr>
        </table>
    </div>
     <div>
        <h4>SpinnerLabelPosition</h4>
        <hr />
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>top</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>right</td>
                <td>1</td>
                <td></td>
            </tr>
            <tr>
                <td>bottom</td>
                <td>2</td>
                <td></td>
            </tr>
            <tr>
                <td>left</td>
                <td>3</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
