@import '../../../../Styles/abstracts/_functions.scss';

::deep .custom-class {
    padding: 0.5rem;
    border: 1px solid red;
    max-width: max-content;
}

.clickable-container {
    padding: 1rem;
    cursor: pointer;
    max-width: max-content;
    border: 1px dashed gray;
}
