.example-content {
    gap: 0.75rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.example-row,
.color-grid {
    gap: 0.75rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.steps {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.article {
    p {
        margin: 0 0 0.75rem;
    }
}

.clickable-container {
    padding: 1rem;
    cursor: pointer;
    max-width: max-content;
    border: 1px dashed gray;
}

::deep .custom-class {
    padding: 0.5rem;
    border: 1px solid red;
    max-width: max-content;
}
