@inherits AppComponentBase

<div class="example-page">
    <div class="page-container example">
        <BitText Typography="BitTypography.H3" Class="title">@ComponentName</BitText>
        <section id="overview-section" class="page-section">
            <BitText Typography="BitTypography.Subtitle1">
                @ComponentDescription
            </BitText>
        </section>

        @if (Notes.HasValue())
        {
            <section id="notes-section" class="page-section">
                <BitText Typography="BitTypography.H4" Class="subtitle">Notes</BitText>
                @Notes
            </section>
        }

        <section id="usage-section" class="page-section">
            <BitText Typography="BitTypography.H4" Class="subtitle">Usage</BitText>
            @ChildContent
        </section>

        <section id="api-section" class="page-section">
            <BitText Typography="BitTypography.H4" Class="subtitle">API</BitText>

            <ComponentParametersTable Name="@($"Bit{ComponentName}")" Parameters="ComponentParameters" />

            @if (ComponentPublicMembers.Any())
            {
                <ComponentParametersTable Name="@($"Bit{ComponentName}")" NameSuffix="public members" Parameters="ComponentPublicMembers" />
            }

            @if (_textInputComponents.Contains(ComponentName))
            {
                <ComponentParametersTable Name="BitTextInputBase" Parameters="_textInputBaseParameters" />
            }

            @if (_inputComponents.Contains(ComponentName))
            {
                <ComponentParametersTable Name="BitInputBase" Parameters="_inputBaseParameters" />

                <ComponentParametersTable Name="BitInputBase" NameSuffix="public members" Parameters="_inputBasePublicMembers" />
            }

            @if (_notInheritedComponents.Contains(ComponentName) is false)
            {
                <ComponentParametersTable Name="BitComponentBase" Parameters="_componentBaseParameters" />

                <ComponentParametersTable Name="BitComponentBase" NameSuffix="public members" Parameters="_componentBasePublicMembers" />
            }

            <ComponentClassesTable Classes="ComponentSubClasses" />

            <ComponentEnumsTable Enums="ComponentSubEnums" />

            @if (_notInheritedComponents.Contains(ComponentName) is false)
            {
                <ComponentEnumsTable Enums="_componentBaseSubEnums" />
            }
        </section>
    </div>
    <SideRail />
</div>