@inherits AppComponentBase

@if (Items is not null && Items.Count > 0)
{
    <ul class="side-rail">
        <li><b>Content</b></li>
        @foreach (var item in Items)
        {
            <li>
                <BitLink OnClick="@(() => ScrollToItem(item))" NoUnderline>
                    <BitTypography Variant="BitTypographyVariant.Body2">
                        @item.Title
                    </BitTypography>
                </BitLink>
            </li>
        }
    </ul>
}