@import "theme-variables.scss";

//colors
.bit-css-clr-primary-main {
    color: $color-primary-main;
}

.bit-css-clr-primary-main-bg {
    background-color: $color-primary-main;
}

.bit-css-clr-primary-dark {
    color: $color-primary-dark;
}

.bit-css-clr-primary-dark-bg {
    background-color: $color-primary-dark;
}

.bit-css-clr-primary-light {
    color: $color-primary-light;
}

.bit-css-clr-primary-light-bg {
    background-color: $color-primary-light;
}

.bit-css-clr-primary-text {
    color: $color-primary-text;
}

.bit-css-clr-secondary-main {
    color: $color-secondary-main;
}

.bit-css-clr-secondary-main-bg {
    background-color: $color-secondary-main;
}

.bit-css-clr-secondary-dark {
    color: $color-secondary-dark;
}

.bit-css-clr-secondary-dark-bg {
    background-color: $color-secondary-dark;
}

.bit-css-clr-secondary-light {
    color: $color-secondary-light;
}

.bit-css-clr-secondary-light-bg {
    background-color: $color-secondary-light;
}

.bit-css-clr-secondary-text {
    color: $color-secondary-text;
}

//foreground
.bit-css-clr-fg-primary {
    color: $color-foreground-primary;
}

.bit-css-clr-fg-secondary {
    color: $color-foreground-secondary;
}

.bit-css-clr-fg-disabled {
    color: $color-foreground-disabled;
}

//background
.bit-css-clr-bg-primary {
    background-color: $color-background-primary;
}

.bit-css-clr-bg-secondary {
    background-color: $color-background-secondary;
}

.bit-css-clr-bg-disabled {
    background-color: $color-background-disabled;
}

.bit-css-clr-bg-overlay {
    background-color: $color-background-overlay;
}

//border
.bit-css-clr-brd-primary {
    border-color: $color-border-primary;
}

.bit-css-clr-brd-secondary {
    border-color: $color-border-secondary;
}

.bit-css-clr-brd-disabled {
    border-color: $color-border-disabled;
}

//action
.bit-css-clr-action-hover-primary-main:hover {
    color: $color-action-hover-primary;
}

.bit-css-clr-action-hover-primary-main-bg:hover {
    background-color: $color-action-hover-primary;
}

.bit-css-clr-action-hover-primary-dark:hover {
    color: $color-action-hover-primary-dark;
}

.bit-css-clr-action-hover-primary-dark-bg:hover {
    background-color: $color-action-hover-primary-dark;
}

.bit-css-clr-action-hover-primary-light:hover {
    color: $color-action-hover-primary-light;
}

.bit-css-clr-action-hover-primary-light-bg:hover {
    background-color: $color-action-hover-primary-light;
}

.bit-css-clr-action-hover-secondary-main:hover {
    color: $color-action-hover-secondary;
}

.bit-css-clr-action-hover-secondary-main-bg:hover {
    background-color: $color-action-hover-secondary;
}

.bit-css-clr-action-hover-secondary-dark:hover {
    color: $color-action-hover-secondary-dark;
}

.bit-css-clr-action-hover-secondary-dark-bg:hover {
    background-color: $color-action-hover-secondary-dark;
}

.bit-css-clr-action-hover-secondary-light:hover {
    color: $color-action-hover-secondary-light;
}

.bit-css-clr-action-hover-secondary-light-bg:hover {
    background-color: $color-action-hover-secondary-light;
}

.bit-css-clr-action-active-primary-main:active {
    color: $color-action-active-primary;
}

.bit-css-clr-action-active-primary-main-bg:active {
    background-color: $color-action-active-primary;
}

.bit-css-clr-action-active-primary-dark:active {
    color: $color-action-active-primary-dark;
}

.bit-css-clr-action-active-primary-dark-bg:active {
    background-color: $color-action-active-primary-dark;
}

.bit-css-clr-action-active-primary-light:active {
    color: $color-action-active-primary-light;
}

.bit-css-clr-action-active-primary-light-bg:active {
    background-color: $color-action-active-primary-light;
}

.bit-css-clr-action-active-secondary-main:active {
    color: $color-action-active-secondary;
}

.bit-css-clr-action-active-secondary-main-bg:active {
    background-color: $color-action-active-secondary;
}

.bit-css-clr-action-active-secondary-dark:active {
    color: $color-action-active-secondary-dark;
}

.bit-css-clr-action-active-secondary-dark-bg:active {
    background-color: $color-action-active-secondary-dark;
}

.bit-css-clr-action-active-secondary-light:active {
    color: $color-action-active-secondary-light;
}

.bit-css-clr-action-active-secondary-light-bg:active {
    background-color: $color-action-hover-secondary-light;
}


//actions-foreground
.bit-css-clr-action-hover-fg-primary:hover {
    color: $color-action-hover-foreground-primary;
}

.bit-css-clr-action-hover-fg-secondary:hover {
    color: $color-action-hover-foreground-secondary;
}

.bit-css-clr-action-active-fg-primary:active {
    color: $color-action-active-foreground-primary;
}

.bit-css-clr-action-active-fg-secondary:active {
    color: $color-action-active-foreground-secondary;
}


//actions-backgrounds
.bit-css-clr-action-hover-bg-primary:hover {
    color: $color-action-hover-background-primary;
}

.bit-css-clr-action-hover-bg-secondary:hover {
    color: $color-action-hover-background-secondary;
}

.bit-css-clr-action-active-bg-primary:active {
    color: $color-action-active-background-primary;
}

.bit-css-clr-action-active-bg-secondary:active {
    color: $color-action-active-background-secondary;
}


//actions-borders
.bit-css-clr-action-hover-brd-primary:hover {
    color: $color-action-hover-border-primary;
}

.bit-css-clr-action-hover-brd-secondary:hover {
    color: $color-action-hover-border-secondary;
}

.bit-css-clr-action-active-brd-primary:active {
    color: $color-action-active-border-primary;
}

.bit-css-clr-action-active-brd-secondary:active {
    color: $color-action-active-border-secondary;
}


//state
.bit-css-clr-sta-info {
    color: $color-state-info;
}

.bit-css-clr-sta-info-bg {
    background-color: $color-state-info-bg;
}

.bit-css-clr-sta-success {
    color: $color-state-success;
}

.bit-css-clr-sta-success-bg {
    background-color: $color-state-success-bg;
}

.bit-css-clr-sta-warning {
    color: $color-state-warning;
}

.bit-css-clr-sta-warning-bg {
    background-color: $color-state-warning-bg;
}

.bit-css-clr-sta-severe-warning {
    color: $color-state-severe-warning;
}

.bit-css-clr-sta-severe-warning-bg {
    background-color: $color-state-severe-warning-bg;
}

.bit-css-clr-sta-error {
    color: $color-state-error;
}

.bit-css-clr-sta-error-bg {
    background-color: $color-state-error-bg;
}

.bit-css-clr-sta-required {
    color: $color-state-required;
}


//neutrals
.bit-css-clr-ntr-white {
    color: $color-neutrals-white;
}

.bit-css-clr-ntr-white-bg {
    background-color: $color-neutrals-white;
}


.bit-css-clr-ntr-black {
    color: $color-neutrals-black;
}

.bit-css-clr-ntr-black-bg {
    background-color: $color-neutrals-black;
}

.bit-css-clr-ntr-gray10 {
    color: $color-neutrals-gray10;
}

.bit-css-clr-ntr-gray10-bg {
    background-color: $color-neutrals-gray10;
}

.bit-css-clr-ntr-gray20 {
    color: $color-neutrals-gray20;
}

.bit-css-clr-ntr-gray20-bg {
    background-color: $color-neutrals-gray20;
}

.bit-css-clr-ntr-gray30 {
    color: $color-neutrals-gray30;
}

.bit-css-clr-ntr-gray30-bg {
    background-color: $color-neutrals-gray30;
}

.bit-css-clr-ntr-gray40 {
    color: $color-neutrals-gray40;
}

.bit-css-clr-ntr-gray40-bg {
    background-color: $color-neutrals-gray40;
}

.bit-css-clr-ntr-gray50 {
    color: $color-neutrals-gray50;
}

.bit-css-clr-ntr-gray50-bg {
    background-color: $color-neutrals-gray50;
}

.bit-css-clr-ntr-gray60 {
    color: $color-neutrals-gray60;
}

.bit-css-clr-ntr-gray60-bg {
    background-color: $color-neutrals-gray60;
}

.bit-css-clr-ntr-gray70 {
    color: $color-neutrals-gray70;
}

.bit-css-clr-ntr-gray70-bg {
    background-color: $color-neutrals-gray70;
}

.bit-css-clr-ntr-gray80 {
    color: $color-neutrals-gray80;
}

.bit-css-clr-ntr-gray80-bg {
    background-color: $color-neutrals-gray80;
}

.bit-css-clr-ntr-gray90 {
    color: $color-neutrals-gray90;
}

.bit-css-clr-ntr-gray90-bg {
    background-color: $color-neutrals-gray90;
}

.bit-css-clr-ntr-gray100 {
    color: $color-neutrals-gray100;
}

.bit-css-clr-ntr-gray100-bg {
    background-color: $color-neutrals-gray100;
}

.bit-css-clr-ntr-gray110 {
    color: $color-neutrals-gray110;
}

.bit-css-clr-ntr-gray110-bg {
    background-color: $color-neutrals-gray110;
}

.bit-css-clr-ntr-gray120 {
    color: $color-neutrals-gray120;
}

.bit-css-clr-ntr-gray120-bg {
    background-color: $color-neutrals-gray120;
}

.bit-css-clr-ntr-gray130 {
    color: $color-neutrals-gray130;
}

.bit-css-clr-ntr-gray130-bg {
    background-color: $color-neutrals-gray130;
}

.bit-css-clr-ntr-gray140 {
    color: $color-neutrals-gray140;
}

.bit-css-clr-ntr-gray140-bg {
    background-color: $color-neutrals-gray140;
}

.bit-css-clr-ntr-gray150 {
    color: $color-neutrals-gray150;
}

.bit-css-clr-ntr-gray150-bg {
    background-color: $color-neutrals-gray150;
}

.bit-css-clr-ntr-gray160 {
    color: $color-neutrals-gray160;
}

.bit-css-clr-ntr-gray160-bg {
    background-color: $color-neutrals-gray160;
}

.bit-css-clr-ntr-gray170 {
    color: $color-neutrals-gray170;
}

.bit-css-clr-ntr-gray170-bg {
    background-color: $color-neutrals-gray170;
}

.bit-css-clr-ntr-gray180 {
    color: $color-neutrals-gray180;
}

.bit-css-clr-ntr-gray180-bg {
    background-color: $color-neutrals-gray180;
}

.bit-css-clr-ntr-gray190 {
    color: $color-neutrals-gray190;
}

.bit-css-clr-ntr-gray190-bg {
    background-color: $color-neutrals-gray190;
}

.bit-css-clr-ntr-gray200 {
    color: $color-neutrals-gray200;
}

.bit-css-clr-ntr-gray200-bg {
    background-color: $color-neutrals-gray200;
}

.bit-css-clr-ntr-gray210 {
    color: $color-neutrals-gray210;
}

.bit-css-clr-ntr-gray210-bg {
    background-color: $color-neutrals-gray210;
}

.bit-css-clr-ntr-gray220 {
    color: $color-neutrals-gray220;
}

.bit-css-clr-ntr-gray220-bg {
    background-color: $color-neutrals-gray220;
}


//shadows
.bit-css-shd-cal {
    box-shadow: $box-shadow-callout;
}


.bit-css-shd-1 {
    box-shadow: $box-shadow-1;
}

.bit-css-shd-2 {
    box-shadow: $box-shadow-2;
}

.bit-css-shd-3 {
    box-shadow: $box-shadow-3;
}

.bit-css-shd-4 {
    box-shadow: $box-shadow-4;
}

.bit-css-shd-5 {
    box-shadow: $box-shadow-5;
}

.bit-css-shd-6 {
    box-shadow: $box-shadow-6;
}

.bit-css-shd-7 {
    box-shadow: $box-shadow-7;
}

.bit-css-shd-8 {
    box-shadow: $box-shadow-8;
}

.bit-css-shd-9 {
    box-shadow: $box-shadow-9;
}

.bit-css-shd-10 {
    box-shadow: $box-shadow-10;
}

.bit-css-shd-11 {
    box-shadow: $box-shadow-11;
}

.bit-css-shd-12 {
    box-shadow: $box-shadow-12;
}

.bit-css-shd-13 {
    box-shadow: $box-shadow-13;
}

.bit-css-shd-14 {
    box-shadow: $box-shadow-14;
}

.bit-css-shd-15 {
    box-shadow: $box-shadow-15;
}

.bit-css-shd-16 {
    box-shadow: $box-shadow-16;
}

.bit-css-shd-17 {
    box-shadow: $box-shadow-17;
}

.bit-css-shd-18 {
    box-shadow: $box-shadow-18;
}

.bit-css-shd-19 {
    box-shadow: $box-shadow-19;
}

.bit-css-shd-20 {
    box-shadow: $box-shadow-20;
}

.bit-css-shd-21 {
    box-shadow: $box-shadow-21;
}

.bit-css-shd-22 {
    box-shadow: $box-shadow-22;
}

.bit-css-shd-23 {
    box-shadow: $box-shadow-23;
}

.bit-css-shd-24 {
    box-shadow: $box-shadow-24;
}


//z-index
.bit-css-zin-snackbar {
    z-index: $zindex-snackbar;
}

.bit-css-zin-modal {
    z-index: $zindex-modal;
}

.bit-css-zin-callout {
    z-index: $zindex-callout;
}

.bit-css-zin-overlay {
    z-index: $zindex-overlay;
}


//shape
.bit-css-shp-brd-radius {
    border-radius: $shape-border-radius;
}

.bit-css-shp-brd-width {
    border-width: $shape-border-width;
}

.bit-css-shp-brd-style {
    border-style: $shape-border-style;
}
