$brk-xs: 600px;
$brk-xs1: 601px;
$brk-sm: 960px;
$brk-sm1: 961px;
$brk-md: 1280px;
$brk-md1: 1281px;
$brk-lg: 1920px;
$brk-lg1: 1921px;
$brk-xl: 2560px;
$brk-xl1: 2561px;

// media devices
@mixin xs {
    @media screen and (min-width: 0) and (max-width: #{$brk-xs}) {
        @content;
    }
}
@mixin sm {
    @media screen and (min-width: #{$brk-xs1}) and (max-width: #{$brk-sm}) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: #{$brk-sm1}) and (max-width: #{$brk-md}) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: #{$brk-md1}) and (max-width: #{$brk-lg}) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: #{$brk-lg1}) and (max-width: #{$brk-xl}) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: #{$brk-xl1}) {
        @content;
    }
}

// media lt queries
@mixin lt-sm {
    @media screen and (max-width: #{$brk-sm}) {
        @content;
    }
}

@mixin lt-md {
    @media screen and (max-width: #{$brk-md}) {
        @content;
    }
}

@mixin lt-lg {
    @media screen and (max-width: #{$brk-lg}) {
        @content;
    }
}

@mixin lt-xl {
    @media screen and (max-width: #{$brk-xl}) {
        @content;
    }
}

// media gt queries
@mixin gt-xs {
    @media screen and (min-width: #{$brk-xs1}) {
        @content;
    }
}

@mixin gt-sm {
    @media screen and (min-width: #{$brk-sm1}) {
        @content;
    }
}

@mixin gt-md {
    @media screen and (min-width: #{$brk-md1}) {
        @content;
    }
}

@mixin gt-lg {
    @media screen and (min-width: #{$brk-lg1}) {
        @content;
    }
}

@mixin gt-xl {
    @media screen and (min-width: #{$brk-xl1}) {
        @content;
    }
}
