@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Bit.Bswup.Demo.Web.Pages

@using Bit.Bswup.Demo.Web
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Web
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bit Bswup Demo</title>
    <base href="~/" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="Bit.Bswup.Demo.Client.styles.css" />
    <script src="_content/Bit.Bswup/bit-bswup.progress.min.js"></script>
</head>
<body style="background:black; color:white">

    <div id="app-container">
        @RenderBody()
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G1ET5L69QF"></script>
    <script src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script src="_content/Bit.Bswup/bit-bswup.js"
            scope="/"
            log="none"
            sw="service-worker.js"
            handler="bitBswupHandler"></script>

    <component type="typeof(Bit.Bswup.Demo.Client.Shared.DemoBswupProgressBar)" render-mode="@RenderMode.Static" />

    @* <link rel="stylesheet" href="_content/Bit.Bswup/bit-bswup.progress.min.css">
    <component type="typeof(Bit.Bswup.BswupProgress)" render-mode="@RenderMode.Static"
               param-AutoReload="true"
               param-HideApp="true"
               param-ShowAssets="false"
               param-ShowLogs="true"
               param-AppContainer="@("#app-container")" /> *@
</body>
</html>