@using Boilerplate.Client.Web.Components
@using Microsoft.AspNetCore.Components.Routing
@*+:cnd:noEmit*@

@{
    var noPrerender = HttpContext.Request.Query["no-prerender"].Count > 0;
    var renderMode = noPrerender ? noPrerenderBlazorWebAssembly : serverWebSettings.WebAppRender.RenderMode;
    @*#if (framework == "net9.0")*@
    if (HttpContext.AcceptsInteractiveRouting() is false)
    {
        // https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-9.0?view=aspnetcore-9.0#add-static-server-side-rendering-ssr-pages-to-a-globally-interactive-blazor-web-app
        renderMode = null;
    }
    @*#endif*@
}

<!DOCTYPE html>
<html bit-theme="dark">

<head>
    <base href="/" />

    <meta charset="utf-8" />
    <meta name="theme-color">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="@localizer[nameof(AppStrings.DescriptionMetaTagValue)]" />

    <Script>
        // disable auto-zoom of iOS Safari when focusing an input
        (/iPad|iPhone|iPod/.test(navigator.userAgent)) &&
            (document.querySelector('meta[name="viewport"]').content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover')
    </Script>

    @*#if (captcha == "reCaptcha")*@
    <Link rel="preconnect" href="https://www.google.com" />
    <Link rel="preconnect" href="https://www.gstatic.com" crossorigin />
    @*#endif*@

    <Link rel="preconnect" href="@absoluteServerAddress.ToString()" />@* for PWA *@

    <Link rel="icon" href="favicon.ico" type="image/x-icon" />
    <HeadOutlet @rendermode=renderMode />
    @*#if (appInsights == true)*@
    <Link rel="preconnect" href="https://js.monitor.azure.com" crossorigin />
    <BlazorApplicationInsights.ApplicationInsightsInit @rendermode=renderMode />
    @*#endif*@
    <Link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    @if (serverWebSettings.WebAppRender.PwaEnabled)
    {
        <Link rel="manifest" href="manifest.json" />
    }
</head>

<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary bit-blazor-web">

    <Link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.css" />
    <Link rel="stylesheet" href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" />
    <Link rel="stylesheet" href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" />
    <Link rel="stylesheet" href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.css" />
    <Link rel="stylesheet" href="_content/Boilerplate.Client.Core/styles/app.css" />
    <Link rel="stylesheet" href="Boilerplate.Server.Web.styles.css" />

    @if (renderMode != null && (serverWebSettings.WebAppRender.PrerenderEnabled is false || noPrerender))
    {
        <LoadingComponent @rendermode="null" />
    }

    @if (HttpContext.Request.DisableStreamPrerendering())
    {
        // For StreamRenderingDisabledContainer, read comments in App.razor.cs
        <StreamRenderingDisabledContainer>
            <Routes @rendermode=renderMode />
        </StreamRenderingDisabledContainer>
    }
    else
    {
        <StreamRenderingEnabledContainer>
            <Routes @rendermode=renderMode />
        </StreamRenderingEnabledContainer>
    }

    <Script src="_framework/blazor.web.js" autostart="false"></Script>
    <!-- Ensure that the version of `blazor.web.js` matches the version specified in `service-worker.published.js`.
            This alignment is necessary for the PWA functionality of the Blazor app to work correctly. -->
    @if (serverWebSettings.WebAppRender.PwaEnabled)
    {
        <Script src="_content/Bit.Bswup/bit-bswup.js"></Script>
        <Script src="_content/Bit.Bswup/bit-bswup.progress.js"></Script>
        <AppBswupProgressBar />
    }
    else
    {
        <Script>
            Blazor.start({
                webAssembly: {
                    loadBootResource: function (type, name, defaultUri, integrity) {
                        if (integrity != null && integrity != '')
                            return `${defaultUri}?v=${integrity}`;
                        return null; // default blazor asset loading mechanism.
                    }
                }
            });
        </Script>
    }
    <Script src="_content/Bit.Butil/bit-butil.js"></Script>
    @*#if (offlineDb == true)*@
    <Script src="_content/Bit.Besql/bit-besql.js"></Script>
    @*#endif*@
    <Script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js"></Script>
    <Script src="_content/Boilerplate.Client.Core/scripts/app.js"></Script>
    <Script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.js"></Script>
</body>

</html>

