@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <header class="bit-lyt-hdr" style="height:@(HeaderHeight+StatusBarHeight)px;padding-top:calc(0.5rem + @(StatusBarHeight)px)">
        @Header
    </header>

    <main class="bit-lyt-man" style="padding-top:@(HeaderHeight+StatusBarHeight)px;padding-bottom:@(FooterHeight)px">
        @Main
    </main>

    <footer class="bit-lyt-ftr" style="height:@(FooterHeight)px">
        @Footer
    </footer>
</div>
