@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">
    
     <header class="bit-lyt-hdr">
        @Header
    </header>

    <main class="bit-lyt-man">
        @Main
    </main>

    <footer class="bit-lyt-ftr">
        @Footer
    </footer>
</div>
