@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<label style="@Style"
       class="bit-label @VisualClass @EnabledClass @RequiredClass @Class"
       for="@For">
    @ChildContent
</label>
