@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<label @ref="RootElement"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       for="@For">
    @ChildContent
</label>
