<BitButton OnClick="IncrementCount"
           IsEnabled="BitButtonIsEnabled"
           ButtonStyle="@BitButtonStyle">
    <label>Other test label</label>
</BitButton>

@code {
    [Parameter] public bool BitButtonIsEnabled { get; set; }
    [Parameter] public ButtonStyle BitButtonStyle { get; set; }

    public int CurrentCount { get; set; }

    public void IncrementCount(MouseEventArgs e)
    {
        CurrentCount++;
    }
}
