@import "../../../Styles/functions.scss";

.bit-srb {
    display: flex;
    font-weight: 400;
    align-items: stretch;
    flex-flow: row nowrap;
    font-family: $tg-font-family;

    &.bit-dis {
        cursor: default;
        pointer-events: none;

        .bit-srb-cnt {
            color: $clr-fg-dis;
            border-color: $clr-brd-dis;
            background-color: $clr-bg-dis;
        }

        .bit-srb-iwp {
            i {
                color: $clr-fg-dis;
            }
        }

        @media (hover: hover) {
            &:hover {
                .bit-srb-cnt {
                    border-color: $clr-brd-dis;
                }

                .bit-srb-iwp {
                    i {
                        color: $clr-fg-dis;
                    }
                }
            }
        }

        .bit-srb-sbn {
            border-color: $clr-brd-dis;
            background-color: $clr-bg-dis;

            i {
                color: $clr-fg-dis;
            }
        }

        &.bit-srb-und {
            .bit-srb-cnt {
                background-color: transparent;
            }

            .bit-srb-sbn {
                background-color: transparent;
            }
        }
    }

    &.bit-inv {
        .bit-srb-cnt {
            border-color: $clr-err;
        }

        .bit-srb-iwp {
            i {
                color: $clr-err;
            }
        }

        @media (hover: hover) {
            &:hover {
                .bit-srb-cnt {
                    border-color: $clr-err;
                }

                .bit-srb-iwp {
                    i {
                        color: $clr-err;
                    }
                }
            }
        }

        &.bit-srb-und {
            &.bit-srb-foc {
                .bit-srb-cnt {
                    border-color: $clr-err;
                }

                @media (hover: hover) {
                    &:hover {
                        border-color: $clr-err;
                    }
                }
            }
        }
    }

    &.bit-rtl {
        .bit-srb-sbn i {
            transform: scale(-1);
        }
    }
}

.bit-srb-cnt {
    flex: 1;
    margin: 0;
    display: flex;
    box-shadow: none;
    color: $clr-fg-pri;
    height: spacing(4);
    align-items: stretch;
    flex-flow: row nowrap;
    box-sizing: border-box;
    font-size: spacing(1.75);
    padding: spacing(0.125) 0;
    background-color: $clr-bg-pri;
    border-radius: $shp-border-radius;
    border: $shp-border-width $shp-border-style $clr-brd-pri;

    @media (hover: hover) {
        &:hover {
            border-color: $clr-brd-pri-hover;

            .bit-srb-iwp {
                i {
                    color: $clr-pri-hover;
                }
            }
        }
    }
}

.bit-srb-apri {
    .bit-srb-cnt {
        background-color: $clr-bg-pri;
    }
}

.bit-srb-asec {
    .bit-srb-cnt {
        background-color: $clr-bg-sec;
    }
}

.bit-srb-ater {
    .bit-srb-cnt {
        background-color: $clr-bg-ter;
    }
}

.bit-srb-atra {
    .bit-srb-cnt {
        background-color: transparent;
    }
}

.bit-srb-hic {
    .bit-srb-cnt {
        padding: 0 spacing(1);
    }
}

.bit-srb-ssb {
    .bit-srb-cnt {
        border-end-end-radius: 0;
        border-start-end-radius: 0;
    }
}

.bit-srb-iwp {
    cursor: text;
    display: flex;
    flex-shrink: 0;
    width: spacing(4);
    text-align: center;
    font-size: spacing(2);
    flex-direction: column;
    justify-content: center;
    color: $clr-pri;
    transition: width 0.167s ease 0s;

    i {
        opacity: 1;
        speak: none;
        width: unset;
        height: unset;
        display: inline-block;
        color: $clr-pri;
        transition: opacity 0.167s ease 0s;
    }
}

.bit-srb-inp {
    margin: 0;
    flex: 1 1 0;
    min-width: 0;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    text-overflow: ellipsis;
    padding: 0 0 spacing(0.0625);
    background-color: transparent;
    color: $clr-fg-pri;
}

.bit-srb-cbt {
    height: auto;
    border: none;
    cursor: pointer;
    font-weight: 400;
    width: spacing(4);
    user-select: none;
    position: relative;
    text-align: center;
    outline: transparent;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 spacing(0.5);
    font-size: spacing(1.75);
    background-color: transparent;
    font-family: $tg-font-family;
    border-radius: 0 spacing(0.125) spacing(0.125) 0;

    i {
        width: unset;
        flex-shrink: 0;
        height: spacing(2);
        text-align: center;
        margin: 0 spacing(0.5);
        font-size: spacing(1.5);
        line-height: spacing(2);
        color: $clr-fg-sec;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $clr-bg-pri-hover;

            i {
                color: $clr-fg-pri-hover;
            }
        }
    }
}

.bit-srb-sbn {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    font-weight: 400;
    width: spacing(4);
    user-select: none;
    position: relative;
    text-align: center;
    outline: transparent;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0 spacing(0.5);
    font-size: spacing(2);
    font-family: $tg-font-family;
    background-color: $clr-pri;
    border-end-end-radius: $shp-border-radius;
    border-start-end-radius: $shp-border-radius;
    border: $shp-border-width $shp-border-style $clr-pri;

    @media (hover: hover) {
        &:hover {
            border-color: $clr-pri-hover;
            background-color: $clr-pri-hover;
        }
    }

    &:active {
        border-color: $clr-pri-active;
        background-color: $clr-pri-active;
    }

    i {
        width: unset;
        flex-shrink: 0;
        height: spacing(2);
        text-align: center;
        margin: 0 spacing(0.5);
        font-size: spacing(2);
        line-height: spacing(2);
        color: $clr-pri-text;
    }
}

.bit-srb-foc {
    .bit-srb-cnt,
    .bit-srb-sbn {
        border: spacing(0.25) $shp-border-style $clr-pri;
    }

    .bit-srb-iwp {
        width: spacing(0.5);

        i {
            opacity: 0;
        }
    }

    @media (hover: hover) {
        &:hover {
            border-color: $clr-pri-hover;
        }
    }
}

.bit-srb-und {
    .bit-srb-cnt {
        border-radius: 0;
        border-width: 0 0 spacing(0.125);
        padding: spacing(0.125) spacing(1) 0;

        @media (hover: hover) {
            &:hover {
                border-top-width: 0;
                border-left-width: 0;
                border-right-width: 0;
            }
        }
    }

    &.bit-srb-foc {
        .bit-srb-cnt,
        .bit-srb-sbn {
            border-bottom: spacing(0.25) $shp-border-style $clr-pri;
        }

        @media (hover: hover) {
            &:hover {
                border-bottom-color: $clr-pri-hover;
            }
        }
    }

    .bit-srb-sbn {
        background-color: transparent;
        border-color: $clr-brd-pri;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;

        i {
            color: $clr-sec-text;
        }

        @media (hover: hover) {
            &:hover {
                background-color: $clr-bg-pri-hover;

                i {
                    color: $clr-fg-pri-hover;
                }
            }
        }
    }
}

.bit-srb-nbr {
    .bit-srb-cnt {
        border: none;
    }

    &.bit-srb-foc {
        .bit-srb-cnt,
        .bit-srb-sbn {
            border: none;
        }

        @media (hover: hover) {
            &:hover {
                border: none;
            }
        }
    }

    .bit-srb-sbn {
        border: none;
        background-color: transparent;

        i {
            color: $clr-sec-text;
        }

        @media (hover: hover) {
            &:hover {
                background-color: $clr-bg-pri-hover;

                i {
                    color: $clr-fg-pri-hover;
                }
            }
        }
    }
}

.bit-srb-hvl {
    @media (hover: hover) {
        &:hover {
            .bit-srb-iwp {
                width: spacing(0.5);

                i {
                    opacity: 0;
                }
            }
        }
    }
}

.bit-srb-fic-hvl {
    @media (hover: hover) {
        &:hover {
            .bit-srb-iwp {
                width: spacing(4);

                i {
                    opacity: 1;
                    color: $clr-pri-hover;
                }
            }
        }
    }
}

.bit-srb-fic-foc {
    .bit-srb-cnt,
    .bit-srb-sbn {
        border: spacing(0.25) $shp-border-style $clr-pri;
    }

    &.bit-srb-und {
        .bit-srb-cnt,
        .bit-srb-sbn {
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
    }

    .bit-srb-iwp {
        width: spacing(4);

        i {
            opacity: 1;
            color: $clr-pri;
        }
    }

    @media (hover: hover) {
        &:hover {
            border-color: $clr-pri-hover;

            .bit-srb-iwp {
                width: spacing(4);

                i {
                    opacity: 1;
                    color: $clr-pri-hover;
                }
            }
        }
    }
}

.bit-srb-nan {
    .bit-srb-iwp {
        transition: none;

        i {
            transition: none;
        }
    }
}

.bit-srb-ovl {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: $zindex-overlay;
    background-color: transparent;
}

.bit-srb-cal {
    display: none;
    position: fixed;
    font-weight: 400;
    overflow: hidden;
    box-sizing: border-box;
    z-index: $zindex-callout;
    font-size: spacing(1.75);
    animation-fill-mode: both;
    animation-duration: 0.367s;
    box-shadow: $box-shadow-callout;
    background-color: $clr-bg-pri;
    animation-name: bit-fade-show, bit-slide-down;
    border-radius: 0 0 spacing(0.25) spacing(0.25);
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}

.bit-srb-scn {
    overflow: hidden auto;
    max-height: spacing(88.875);
}

.bit-srb-itm {
    width: 100%;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    user-select: none;
    position: relative;
    white-space: nowrap;
    align-items: center;
    height: spacing(4.5);
    outline: transparent;
    padding: 0 spacing(1);
    text-decoration: none;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: spacing(1.875);
    line-height: spacing(2.5);
    background-color: transparent;
    color: $clr-fg-pri;
    border: $shp-border-width $shp-border-style transparent;

    @media (hover: hover) {
        &:hover {
            background-color: $clr-bg-pri-hover;
        }
    }
}

.bit-srb-sel {
    background-color: $clr-bg-sec;

    @media (hover: hover) {
        &:hover {
            background-color: $clr-bg-pri-hover;
        }
    }
}
