body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #2f455a;
    font-family: "Axiforma";
}

.header {
    width: 100%;
    margin-bottom: 320px;
}

.header-element-container {
    height: 970px;
    background-image: url("/images/index/header-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    position: relative;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 35px 0;
    margin: auto;
}

.menu-header-link {
    text-decoration: none;
    margin-left: 72px;
}

.menu-header-link:active {
    border-bottom: 3px #2f455a solid;
    color: #2f455a;
}

.header-menu img {
    max-width: 90px;
}

.header-description-container {
    max-width: 688px;
    height: 805px;
    margin: auto;
    margin-left: calc(17% + 90px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.header-description-container .buttons-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.get-start-btn {
    color: white;
    padding: 11px 32px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 39.6px;
    background: #5c2d91;
    border-radius: 4px;
    margin-right: 12px;
    border: none;
}

.demo-btn {
    background-color: white;
    border: 1px solid #5c2d91;
    box-sizing: border-box;
    border-radius: 4px;
    color: #5c2d91;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 165%;
    padding: 11px 43px;
}

.header-description-container {
    margin-bottom: 5px;
}

.header-title-container {
    margin-top: 110px;
    margin-bottom: 0;
}

.header-text-description {
    margin: 0;
}

.header .logos-container img {
    max-height: 40px;
    margin-right: 46px;
}


/* -----------------------bit short description------------------------------ */

.bit-product-describ {
    margin-bottom: 300px !important;
}

.product-describ-img {
    background-image: url("/images/index/Based-on-Microsoft-Fluent-Design.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.product-describ-container {
    margin-left: 52px;
}


/* ----------------------------bit-Frequent-updates------------------------------- */

.bit-Frequent-updates {
    width: 100%;
    height: 676px;
    color: white;
    background: url(/images/index/Frequent-updates-bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px #55456699;
}

.bit-Frequent-updates > * {
    margin: auto;
    text-align: center;
    color: white;
}

.bit-Frequent-updates-img {
    max-width: 170px;
}

.bit-Frequent-updates img {
    margin-top: 170px;
}

.bit-Frequent-updates h4 {
    margin-top: 80px;
}

.bit-Frequent-updates .txt-xl-bd1-md {
    margin-top: 8px;
    color: white;
}


/* -----------------------------------bit-ease-of-use------------------------------- */

.bit-ease-of-use {
    width: 100%;
    height: 546px;
    background: url(/images/index/ease-of-use-bg.png) center center no-repeat;
    background-size: contain;
    background-position-x: right;
}

.bit-ease-of-use > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.bit-ease-of-use > div > h4 {
    margin-bottom: 0;
}

.bit-ease-of-use > div > p {
    margin-top: 8px;
}


/* ------------------------------customers-opinions------------------------------------- */

.customers-opinions {
    background-color: #f7f7f7;
    height: 546px;
    width: 100%;
}

.inner-opinion-container {
    margin: auto;
    position: relative;
    max-width: 1257.99px;
}

.customer-opinion-container {
    width: 600px;
    margin: auto;
    transform: translateY(130px);
}

.text-opinion-container {
    width: 561.99px;
    height: 250px;
    border-radius: 25px;
    color: #141414;
    margin: auto;
}

.customer-opinion-container .opinion-div-border {
    width: 586px;
    height: 122px;
    border: 4px solid #141414;
    border-radius: 26px 26px 0 0;
    border-bottom: 0;
    position: absolute;
    top: 26px;
    margin-left: 3px;
}

.customer-opinion-container .text-opinion-container > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
}

.customers-opinions .text-opinion-container:nth-child(odd) {
    background-color: #ef9c00;
}

.customers-opinions .text-opinion-container:nth-child(even) {
    background-color: #14a38b;
}

.customers-opinions .customer-img-container {
    max-width: 600px;
    position: absolute;
    top: 31px;
}

.customers-opinions .customer-img-container .customer-img {
    border-radius: 10px;
    margin-top: 32px;
}

.customers-opinions .customer-img-container .attach-img {
    position: absolute;
    left: -22px;
    top: 12px;
}

.customers-opinions .inner-opinion-container .customer-intro {
    width: 336px;
    float: right;
    transform: translateY(172px);
}

.customers-opinions .customer-intro > p {
    margin: 8px;
    text-align: center;
}

.customers-opinions .customer-intro .customer-name {
    color: #8a8886;
}


/* --------------------------------menu footer------------------------------------ */

.menu-footer {
    height: 1261.72px;
}

.menu-footer-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #14a38b;
    text-decoration-thickness: 8px;
    margin-top: 191px;
}

.menu-footer-container {
    margin: auto;
    justify-content: center;
}

.menu-footer-column {
    display: flex;
    flex-flow: column;
    width: 336px;
}

.menu-footer-category {
    color: #5c2d91;
}

.menu-footer-link {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #141414;
    text-decoration: none;
}

.menu-footer-link .tag-link {
    padding: 4px 16px;
    color: white;
    border-radius: 20px;
    display: inline;
    margin-left: 10px;
}

.menu-footer-link .new-link {
    background-color: #ef9c00;
}

.menu-footer-link .update-link {
    background-color: #14a38b;
}

footer {
    height: 74px;
    background-color: #2f455a;
    border-top: 4px #14a38b solid;
    display: flex;
}

.footer-link-container {
    margin: auto;
}

footer .footer-link {
    margin-left: 45px;
    color: white;
    text-decoration: none;
}
