@import "../../Styles/_shared.scss";

button {
    cursor: pointer;
}

.header {
    width: 100%;
    margin-bottom: rem(320px);
}

.header-element-container {
    height: rem(970px);
    background-image: url("/images/index/header-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    position: relative;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: rem(35px) 0;
    margin: auto;
}

.menu-header-link {
    text-decoration: none;
    margin-left: rem(72px);
}

.menu-header-link:active {
    border-bottom: rem(3px) #2f455a solid;
    color: #2f455a;
}

.header-menu img {
    max-width: rem(90px);
}

.header-description-container {
    max-width: rem(688px);
    height: rem(805px);
    margin: auto;
    margin-left: calc(17% + 90px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.header-description-container .buttons-container {
    margin-top: rem(80px);
    margin-bottom: rem(80px);
}

.get-start-btn {
    color: white;
    padding: rem(11px) rem(32px);
    font-weight: 600;
    font-style: normal;
    font-size: rem(24px);
    line-height: rem(39.6px);
    background: #5c2d91;
    border-radius: rem(4px);
    margin-right: rem(12px);
    border: none;
}

.demo-btn {
    background-color: white;
    border: rem(1px) solid #5c2d91;
    box-sizing: border-box;
    border-radius: rem(4px);
    color: #5c2d91;
    font-style: normal;
    font-weight: 600;
    font-size: rem(24px);
    line-height: 165%;
    padding: rem(11px) rem(43px);
}

.header-description-container {
    margin-bottom: rem(5px);
}

.header-title-container {
    margin-top: rem(110px);
    margin-bottom: 0;
}

.header-text-description {
    margin: 0;
}

.header .logos-container img {
    max-height: rem(40px);
    margin-right: rem(46px);
}


/* -----------------------bit short description------------------------------ */

.bit-product-describe {
    margin-bottom: rem(300px);
    justify-content: center;

    & .row {
        width: 100%;
    }
}

.product-describe-img {
    background-image: url("/images/index/Based-on-Microsoft-Fluent-Design.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.product-describe-container {
    margin-left: rem(52px);
}

/*----------------------------------from-scratch-----------------------------*/
.from-scratch {
    margin-bottom: rem(300px) !important;
}

.from-scratch-container {
    max-width: rem(1065px);
    margin: auto;
    background-image: url('/images/index/components-frame.png');
    background-position: right;
    background-repeat: no-repeat;
}

.from-scratch-title {
    width: rem(254px);
    color: #141414;
    text-decoration: underline;
    text-decoration-color: #ef9c00;
    text-decoration-thickness: rem(10px);
}

.from-scratch .start-with-btn {
    font-weight: bold;
    font-size: rem(18px);
    line-height: 176%;
    background: #FFFFFF;
    border: rem(1px) solid #5C2D91;
    box-sizing: border-box;
    border-radius: rem(4px);
    padding: rem(11px) rem(43px);
}
/* ----------------------------bit-Frequent-updates------------------------------- */

.bit-Frequent-updates {
    width: 100%;
    height: rem(676px);
    color: white;
    background: url(/images/index/Frequent-updates-bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 rem(1000px) #55456699;
}

.bit-Frequent-updates > * {
    margin: auto;
    text-align: center;
    color: white;
}

.bit-Frequent-updates-img {
    max-width: rem(170px);
}

.bit-Frequent-updates img {
    margin-top: rem(170px);
}

.bit-Frequent-updates h4 {
    margin-top: rem(80px);
}

.bit-Frequent-updates .txt-xl-bd1-md {
    margin-top: rem(8px);
    color: white;
}


/* -----------------------------------bit-ease-of-use------------------------------- */

.bit-ease-of-use {
    width: 100%;
    height: rem(546px);
    background: url(/images/index/ease-of-use-bg.png) center center no-repeat;
    background-size: contain;
    background-position-x: right;
}

.bit-ease-of-use > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.bit-ease-of-use > div > h4 {
    margin-bottom: 0;
}

.bit-ease-of-use > div > p {
    margin-top: rem(8px);
}


/* ------------------------------customers-opinions------------------------------------- */

.customers-opinions {
    background-color: #f7f7f7;
    height: rem(546px);
    width: 100%;
}

.inner-opinion-container {
    margin: auto;
    position: relative;
    max-width: rem(1257.99px);
}

.customer-opinion-container {
    width: rem(600px);
    margin: auto;
    transform: translateY(130px);
}

.text-opinion-container {
    width: rem(561.99px);
    height: rem(250px);
    border-radius: rem(25px);
    color: #141414;
    margin: auto;
}

.customer-opinion-container .opinion-div-border {
    width: rem(586px);
    height: rem(122px);
    border: rem(4px) solid #141414;
    border-radius: rem(26px) rem(26px) 0 0;
    border-bottom: 0;
    position: absolute;
    top: rem(26px);
    margin-left: rem(3px);
}

.customer-opinion-container .text-opinion-container > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
}

.customers-opinions .text-opinion-container:nth-child(odd) {
    background-color: #ef9c00;
}

.customers-opinions .text-opinion-container:nth-child(even) {
    background-color: #14a38b;
}

.customers-opinions .customer-img-container {
    max-width: rem(600px);
    position: absolute;
    top: rem(31px);
}

.customers-opinions .customer-img-container .customer-img {
    border-radius: rem(10px);
    margin-top: rem(32px);
}

.customers-opinions .customer-img-container .attach-img {
    position: absolute;
    left: rem(-22px);
    top: rem(12px);
}

.customers-opinions .inner-opinion-container .customer-intro {
    width: rem(336px);
    float: right;
    transform: translateY(rem(172px));
}

.customers-opinions .customer-intro > p {
    margin: rem(8px);
    text-align: center;
}

.customers-opinions .customer-intro .customer-name {
    color: #8a8886;
}


/* --------------------------------menu footer------------------------------------ */

.menu-footer {
    height: rem(1261.72px);
}

.menu-footer-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #14a38b;
    text-decoration-thickness: rem(8px);
    margin-top: rem(191px);
}

.menu-footer-container {
    margin: auto;
    justify-content: center;
}

.menu-footer-column {
    display: flex;
    flex-flow: column;
    width: rem(336px);
}

.menu-footer-category {
    color: #5c2d91;
}

.menu-footer-link {
    margin-top: rem(12px);
    margin-bottom: rem(12px);
    color: #141414;
    text-decoration: none;
}

.menu-footer-link .tag-link {
    padding: rem(4px) rem(16px);
    color: white;
    border-radius: rem(20px);
    display: inline;
    margin-left: rem(10px);
}

.menu-footer-link .new-link {
    background-color: #ef9c00;
}

.menu-footer-link .update-link {
    background-color: #14a38b;
}

footer {
    height: rem(74px);
    background-color: #2f455a;
    border-top: rem(4px) #14a38b solid;
    display: flex;
}

.footer-link-container {
    margin: auto;
}

footer .footer-link {
    margin-left: rem(45px);
    color: white;
    text-decoration: none;
}

.violet {
    color: #5c2d91;
}

.bg-violet {
    background-color: #5c2d91;
}

//
@media (min-width: 1400px) {
    .header-element-container {
        height: rem(980px);
    }

    .header-description-container {
        max-width: rem(688px);
    }
}

@media (min-width: 1200px) {
    .header-element-container {
        height: rem(774px);
    }

    .header-description-container {
        max-width: rem( 593px);
    }
}
