@page "/"
@namespace Bit.Client.Web.BlazorUI.Playground.Web

<div id="main">
    <section class="header">
        <div class="header-element-container">
            <div class="header-menu col-xl-8 col-lg-10 col-md-11">
                <div class=menu-logo-container>
                    <img src="/images/index/bit-logo.png" alt="Alternate Text" />
                    <div>Bit Components</div>
                </div>
                <div>
                    <a href="#" class="menu-header-link txt-bd1-md">Home</a>
                    <a href="/components/overview" class="menu-header-link txt-bd1-md">Demo</a>
                    <a href="/components/get-started" class="menu-header-link txt-bd1-md">Get Started</a>
                </div>
            </div>
            <div class="header-description-container">
                <h2 class="header-title-container violet">Free and open source</h2>
                <p class="header-text-description txt-bd2-md">
                    Every component is fine-tuned to work with a high valume of data.
                </p>
                <div class="buttons-container">
                    <a href="/components/get-started" class="demo-btn btn1-SemiBold">Get started</a>
                    <a href="/components/overview" class="demo-btn btn1-SemiBold">Demo</a>
                </div>
                <div class="logos-container">
                    <img src="/images/index/Google-logo.png" alt="Google" />
                    <img src="/images/index/microsoft-logo.png" alt="Microsoft" />
                    <img src="/images/index/walmart-logo.png" alt="Walmart" />
                </div>
            </div>
        </div>
    </section>

    <section class="bit-product-describe container">
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-4 product-describe-img">
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-7">
                <div class="product-describe-container">
                    <h5>Based on Microsoft Fluent Design System</h5>
                    <div class="product-describe-img-2"></div>
                    <div class="txt-bd2-md">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever</p>
                        <p>since the 1500s, when an unknown printer took a galley of type and </p>
                        <p>scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap intp electronic typesetting.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="from-scratch">
        <div class="from-scratch-container container">
            <h3 class="from-scratch-title ">
                Don’t
                Start
                From
                Scratch!
            </h3>
            <button class="violet start-with-btn btn2-bold">
                Start With BitComponent
            </button>
        </div>
    </section>

    <section class="bit-Frequent-updates">
        <div class="img-container">
            <img class="bit-Frequent-updates-img" src="/images/index/Frame107.png" alt="Alternate Text" />
        </div>
        <h4>Frequent updates</h4>
        <p class="txt-bd1-md">
            Get minor improvements and bug fixes every week to stay up to date
        </p>
    </section>

    <section class="bit-ease-of-use">
        <div class="container">
            <h4>Ease of use</h4>
            <p class="txt-bd1-md">
                Easy integration of tools to blend Syncfusion Blazor components with your project.
            </p>
        </div>
    </section>

    <section class="customers-opinions">
        <div class="inner-opinion-container container">
            <div class="customer-opinion-container">
                <div class="text-opinion-container">
                    <p class="txt-bd2-md">
                        BIT Blazor Components makes our work very easy and recommend it to you :)
                    </p>
                </div>
                <div class="opinion-div-border"></div>
            </div>

            <div class="customer-img-container">
                <img class="attach-img" src="/images/index/attach-orange-icon.png" />
                <img class="customer-img" src="/images/index/person1.png" />
            </div>

            <div class="customer-intro">
                <p class="txt-bd1-md customer-comp">Evlv Digital</p>
                <p class="txt-bd2-md customer-name">DEV,AIRBNB</p>
            </div>
        </div>

    </section>

    <section class="menu-footer">
        <h1 class="menu-footer-title">Components</h1>
        <div class="row menu-footer-container">
            <div class="menu-footer-column txt-bd2-md">
                <p class="menu-footer-category txt-bd2-md">Basic input</p>
                <a href="#" class="menu-footer-link subtitle2-regular">Button</a>
                <a href="#" class="menu-footer-link subtitle2-regular">
                    ChoiceGroup
                    <div class="tag-link new-link txt-xl-caption1">New</div>
                </a>
                <a href="#" class="menu-footer-link subtitle2-regular">DropDown</a>
                <a href="#" class="menu-footer-link subtitle2-regular">Label</a>
                <a href="#" class="menu-footer-link subtitle2-regular">Link</a>
                <a href="#" class="menu-footer-link subtitle2-regular">Rating</a>
                <a href="#" class="menu-footer-link subtitle2-regular">
                    SearchBox
                    <div class="tag-link update-link txt-xl-caption1">Upd</div>
                </a>
                <a href="#" class="menu-footer-link subtitle2-regular">TextField</a>
                <a href="#" class="menu-footer-link subtitle2-regular">Toggle</a>
                <p class="menu-footer-category txt-bd2-md">Progress</p>
                <a href="#" class="menu-footer-link subtitle2-regular">Spinner</a>
            </div>
            <div class="menu-footer-column">
                <p class="menu-footer-category txt-bd2-md">Command ,menu & Nav</p>
                <a href="#" class="menu-footer-link subtitle2-regular">Nav</a>
                <a href="#" class="menu-footer-link subtitle2-regular">Pivot</a>

            </div>
            <div class="menu-footer-column txt-xl-bd2-md">
                <p class="menu-footer-category txt-bd2-md">Notification & Engagement</p>
                <a href="#" class="menu-footer-link subtitle2-regular">Message Bar</a>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="col-xl-7 col-lg-7 footer-link-container">
        <a href="#" class="footer-link subtitle2-regular">Terms of use</a>
        <a href="#" class="footer-link subtitle2-regular">Privacy & Policy</a>
    </div>
</footer>