@page "/about-us"
@inherits AppComponentBase

<PageOutlet Url="about-us"
            Title="About us"
            Description="about the bit platform" />

<div class="page-container">
    <section class="page-section vision-section">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H1" Gutter Class="page-title">About us</BitText>
            <br /><br /><br />
            <BitText Typography="BitTypography.H3" Gutter Class="vision-title">
                Our vision is to empower our customers to maximize their performance through high quality development services and products.
            </BitText>
        </div>
    </section>

    <section class="page-section values-section">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H3" Gutter>Our values</BitText>
            <div class="value-card-list">
                <div class="value-card">
                    <BitText Typography="BitTypography.H5" Gutter>Quality</BitText>
                    <BitText Typography="BitTypography.Body1">
                        We expertly execute our work, utilizing innovation and ingenuity to provide high-quality services and products.
                    </BitText>
                </div>

                <div class="value-card">
                    <BitText Typography="BitTypography.H5" Gutter>Integrity</BitText>
                    <BitText Typography="BitTypography.Body1">
                        Conduct our business in a legal and ethical manner, build lasting relationships through honesty, respect and trust with our employees as well as our business partners.
                    </BitText>
                </div>

                <div class="value-card">
                    <BitText Typography="BitTypography.H5" Gutter>Transparency</BitText>
                    <BitText Typography="BitTypography.Body1">
                        Being honest and open when communicating with our employees and business partners.
                    </BitText>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section download-section">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H3" Gutter>5.7M</BitText>
            <hr style="width:100%" />
            <a href="https://www.nuget.org/profiles/bit-foundation" target="_blank">
                <BitText Typography="BitTypography.H5" Class="blue-txt">
                    Total downloads of packages
                </BitText>
            </a>
        </div>
    </section>

    <section class="page-section team-section">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H3" Gutter>Our team</BitText>

            <div class="member-card-list">

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/yaser-moradi.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">Yaser Moradi</div>
                        <div class="member-position">Co-founder & CEO</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/ysmoradi" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/ysmoradi" target="_blank" />
                        </div>
                    </div>
                </div>

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/saleh-yousefnejad.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">Saleh Yusefnejad</div>
                        <div class="member-position">Co-founder & CTO</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/msynk" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/SalehYusefnejad" target="_blank" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="member-card-list">

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/mohammad-aminsafaei.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">Mohammad Aminsafaei</div>
                        <div class="member-position">Developer</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/Cyrus-Sushiant" target="_blank" />
                        </div>
                    </div>
                </div>

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/mh-rastegari.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">M. H. Rastegarinia</div>
                        <div class="member-position">Developer</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/mhrastegari" target="_blank" />
                            <a class="contact-lnk twitter" href="https://twitter.com/mhrastegari77" target="_blank" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="member-card-list">

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/zahra-sangtarash.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">Zahra Sangtarash</div>
                        <div class="member-position">UI/UX designer</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/ZahraSng" target="_blank" />
                        </div>
                    </div>
                </div>

                <div class="member-card">
                    <img class="member-img" src="/images/about-us/team/zahra-yousefi.webp" alt="Team member image" width="70" height="70" />
                    <div class="member-container">
                        <div class="member-name">Zahra Yousefi</div>
                        <div class="member-position">UI/UX designer</div>
                        <div class="contact-grp">
                            <a class="contact-lnk github" href="https://github.com/zahra-yousefi" target="_blank" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
