@import '../Styles/abstracts/_vars.scss';
@import '../Styles/bit-css-variables.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';

.page-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .hero-gradient {
        top: 0;
        left: 50%;
        display: none;
        max-width: 70rem;
        position: absolute;
        transform: translate(-50%, -10%);

        @include lt-xl {
            max-width: 65rem;
        }

        @include lt-lg {
            max-width: 60rem;
        }

        @include lt-md {
            max-width: 50rem;
            transform: translate(-50%, -5%);
        }

        @include lt-sm {
            max-width: 40rem;
            transform: translate(-50%, 10%);
        }
    }

    .hero-image {
        width: 100%;
        margin: auto;
        display: none;
        max-width: rem2(800px);
    }
}

.bit-theme-dark .dark-theme {
    display: unset;
}

.bit-theme-light .light-theme {
    display: unset;
}

.page-section {
    width: 100%;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
}

.page-section-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: rem2(1200px);
    box-sizing: border-box;
    padding-left: rem2(20px);
    padding-right: rem2(20px);
}

.hero-section {
    padding: 0;
    padding-top: rem2($HeaderHeight);

    @include lt-lg {
        padding-top: rem2(calc($HeaderHeight + $HeaderSecondRowHeight));
    }

    @include lt-md {
        padding-top: 9rem;
    }

    .page-section-content {
        gap: 5rem;
        z-index: 2;
        display: flex;
        margin-bottom: 8rem;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero-section-content {
        flex-grow: 1;
        display: flex;
        padding-top: 7rem;
        align-items: center;
        flex-flow: column nowrap;

        ::deep {
            .hero-title {
                font-size: 9rem;
                font-weight: 400;
            }

            .hero-subtitle-1 {
                font-weight: 700;
                margin-bottom: 3rem;
            }
        }

        @include lt-lg {
            padding-top: 4rem;

            ::deep {
                .hero-title {
                    font-size: 6rem;
                    font-weight: normal;
                }

                .hero-subtitle-1 {
                    margin: 2rem 0;
                    font-size: 2rem;
                }

                .hero-subtitle-2 {
                    font-size: 1.5rem;
                }
            }
        }

        @include lt-md {
            ::deep {
                .hero-top-title {
                    margin-bottom: 2rem;
                }

                .hero-title {
                    font-size: 4rem;
                }

                .hero-subtitle-1 {
                    font-size: 1.5rem;
                    margin: 2rem 0 1.5rem 0;
                }
            }
        }

        @include lt-sm {
            ::deep {
                .hero-top-title {
                    font-size: 1rem;
                }

                .hero-title {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

.what-section {
    margin: 5rem 0;
    padding: 5rem 0;
    background-color: $bit-color-background-secondary;

    @include lt-md {
        padding: 5rem 0;
    }
}

.why-section {
    margin: 5rem 0;
    padding: 5rem 0;
    background-color: $bit-color-background-secondary;

    @include lt-md {
        padding: 5rem 0;
    }
}

.templates-section {
    .template-terminal {
        display: flex;
        color: #f0f0f0;
        gap: rem2(12px);
        flex-wrap: wrap;
        padding: rem2(50px);
        align-items: center;
        margin: rem2(50px) 0;
        border-radius: rem2(4px);
        background-color: #0a153d;

        span {
            white-space: nowrap;
            font-size: rem2(18px);
            font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        }

        .animation-container {
            display: flex;
            position: relative;

            * {
            }
        }

        .animated {
            animation-name: terminal-animation;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
        }

        .delayed {
            left: 0;
            position: absolute;
        }

        .a-1 {
            animation-duration: 8s;
        }

        .d-1 {
            animation-delay: 4s;
        }

        .a-2 {
            animation-duration: 6s;
        }

        .d-2 {
            animation-delay: 3s;
        }

        .a-3 {
            animation-duration: 12s;
        }

        .d-3 {
            animation-delay: 6s;
        }

        .a-4 {
            animation-duration: 10s;
        }

        .d-4 {
            animation-delay: 5s;
        }

        @keyframes terminal-animation {
            0%, 100% {
                opacity: 1;
                transform: translateY(0px);
            }

            48% {
                opacity: 0;
                transform: translateY(-15px);
            }

            52% {
                opacity: 0;
                transform: translateY(15px);
            }
        }
    }

    .template-card-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: rem2(-20px);
        justify-content: center;
        width: calc(100% + 20px);

        @media all and (max-width: #{rem2(750px)}) {
            width: 100%;
            margin-left: 0;
        }
    }

    .template-card {
        flex-grow: 0;
        padding: rem2(40px);
        min-width: rem2(275px);
        margin-top: rem2(20px);
        min-height: rem2(241px);
        margin-left: rem2(20px);
        box-sizing: border-box;
        border-radius: rem2(8px);
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
        background-color: $bit-color-background-secondary;

        @media all and (max-width: #{rem2(750px)}) {
            margin-left: 0;
            flex-basis: 100%;
            max-width: rem2(500px);
        }
    }

    .template-link {
        display: flex;
        cursor: pointer;
        font-weight: 700;
        align-items: center;
        font-size: rem2(14px);
        flex-flow: row nowrap;
        line-height: rem2(32px);
        transition: all 0.2s linear;
        color: $bit-color-primary-main;

        .template-link-arrow {
            width: rem2(16px);
            height: rem2(16px);
            margin-left: rem2(8px);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/images/arrow-right-blue-icon.svg');
        }

        &:hover {
            transform: translateX(5px);
        }
    }

    .template-img-container {
        position: relative;
        padding: 55% 0 0 0;
        margin-bottom: rem2(14px);
    }

    .template-img {
        top: 0;
        width: 100%;
        position: absolute;
        border-radius: rem2(6px);
        box-shadow: $bit-box-shadow-callout;
    }

    .links-container {
        display: flex;
        flex-flow: row wrap;
        margin-top: rem2(4px);
        justify-content: space-between;
    }
}

.tech-section {
    margin: 5rem 0;
    padding: 5rem 0;
    text-align: center;
    background-color: $bit-color-background-secondary;

    @include lt-md {
        padding: 5rem 0;
    }

    .tech-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .tech-item {
        width: rem2(70px);
        height: rem2(70px);
        margin: rem2(20px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .blazor-item {
        background-image: url('/images/home/tech/blazor-logo.webp');
    }

    .csharp-item {
        background-image: url('/images/home/tech/csharp-logo.webp');
    }

    .dotnet-item {
        background-image: url('/images/home/tech/dotnet-logo.webp');
    }

    .sass-item {
        background-image: url('/images/home/tech/sass-logo.webp');
    }

    .vs-item {
        background-image: url('/images/home/tech/visual-studio-logo.webp');
    }

    .git-item {
        background-image: url('/images/home/tech/git-logo.webp');
    }

    .github-item {
        svg path {
            fill: $bit-color-foreground-primary;
        }
    }
}

.customer-section {
    ::deep .customer-feedback-carousel {
        width: 100%;
        height: rem2(300px);
        margin: rem2(32px) auto;
    }

    .customer-feedback-card {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: flex-start;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: rem2(46px) rem2(40px);

        @include md {
            padding: rem2(28px) rem2(25px);
        }

        @include sm {
            padding: rem2(24px);
        }
    }

    .twitter-icon {
        cursor: pointer;
        width: rem2(48px);
        height: rem2(48px);
        border-radius: 50%;
        background-size: rem2(32px);
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/images/home/twitter-icon.svg');
    }

    .customer-feedback-txt {
        width: 100%;
        flex-grow: 1;
        font-weight: 400;
        overflow: hidden;
        font-size: rem2(20px);
        text-align-last: left;
        line-height: rem2(32px);
        margin-bottom: rem2(14px);

        .highlighted-txt {
            color: $bit-color-primary-main;
        }

        @include md {
            font-size: rem2(18px);
            line-height: rem2(28px);
            margin-bottom: rem2(10px);
        }

        @include sm {
            font-size: rem2(16px);
            line-height: rem2(24px);
            margin-bottom: rem2(8px);
        }
    }

    .customer-feedback-name {
        z-index: 2;
        font-weight: 700;
        font-size: rem2(18px);
        line-height: rem2(32px);

        @include md {
            font-size: rem2(15px);
            line-height: rem2(28px);
        }

        @include sm {
            font-weight: 600;
            font-size: rem2(14px);
            line-height: rem2(28px);
        }
    }

    .author-container {
        display: flex;
        align-items: center;
    }

    .customer-image {
        width: rem2(64px);
        border-radius: 50%;
        margin-right: rem2(10px);
    }
}

.quickstart-section {
    margin: 5rem 0;
    padding: 5rem 0;
    text-align: center;
    scroll-margin: 7rem;
    background-color: $bit-color-background-secondary;

    @include lt-md {
        padding: 5rem 0;
    }

    .quickstart-links {
        gap: 1rem;
        display: flex;
        margin-top: 2rem;
        justify-content: center;

        @include lt-xl {
            flex-flow: column;
            align-items: center;
        }

        ::deep a {
            min-width: rem2(360px);
        }

        @include xs {
            align-items: stretch;

            ::deep a {
                min-width: unset;
            }
        }
    }
}
