@page "/component"

<h1>Bit Components</h1>

<hr />


<div>
    <BitColorPicker @bind-Color="SelectedColor"></BitColorPicker>

    @SelectedColor
</div>

<hr />

<div class="slider-container">
    <h2>BitSlider</h2>
    <br />
    <h3>
        Horizontal sliders
    </h3>
    <div style="width: 300px;">
        <BitSlider />
        <BitSlider Label="Snapping slider example" Min="0" Max="50" Step="10" DefaultValue="20" />
        <BitSlider Label="Disabled example" Min="50" Max="500" Step="50" DefaultValue="300" IsEnabled="false" />
        <BitSlider Label="Controlled example" Max="10" @bind-Value="BitSliderHorizontalValue" />
        <BitButton OnClick="() => BitSliderHorizontalValue = 8">Change Value</BitButton>
        <BitSlider Label="Example with formatted value" Max="100" DefaultValue="31" ValueFormat="P00" />
        <BitSlider Label="Example with formatted value" Max="1000" DefaultValue="319" ValueFormat="P01" />
        <BitSlider Label="Origin from zero" Min="-5" Max="5" Step="1" DefaultValue="2" IsOriginFromZero="true" />
    </div>

    <h3>
        Vertical sliders
    </h3>
    <div style="height: 250px; margin: 50px; display: flex; flex-flow: row nowrap;">
        <BitSlider Label="Basic" Min="1" Max="5" Step="1" DefaultValue="2" IsVertical="true" />
        <BitSlider Label="Disabled" Min="50" Max="500" Step="50" DefaultValue="300" IsVertical="true" />
        <BitSlider Label="Controlled" @bind-Value="BitSliderVerticalValue" IsVertical="true" />
        <BitSlider Label="Formatted value" Max="100" ValueFormat="P00" IsVertical="true" />
        <BitSlider Label="Origin from zero" Min="-5" Max="15" Step="1" DefaultValue="5" IsVertical="true" IsOriginFromZero="true" />
    </div>
    <BitButton OnClick="() => BitSliderVerticalValue = 6">Change Value</BitButton>

    <h3>
        Ranged sliders
    </h3>
    <div style="width: 300px;">
        <BitSlider Label="Range slider" Min="0" Max="10" DefaultUpperValue="8" DefaultLowerValue="2" IsRanged="true" />
        <BitSlider Label="Disabled example" Min="50" Max="500" Step="50" DefaultUpperValue="300" IsRanged="true" IsEnabled="false" />
        <BitSlider Label="Controlled example" Max="10" @bind-LowerValue="BitSliderRangedLowerValue" @bind-UpperValue="BitSliderRangedUpperValue" IsRanged="true" />
        <BitButton OnClick="ChangeBitSliderRangedValues">Change Value</BitButton>
        <BitSlider Label="Example with formatted value" Max="100" IsRanged="true" ValueFormat="P00" />
        <BitSlider Label="Origin from zero" Min="-5" Max="5" Step="1" DefaultUpperValue="2" IsRanged="true" IsOriginFromZero="true" />
    </div>

    <div style="height: 500px; margin: 50px 0 0 50px; width: 150px; padding: 20px; display: flex;">
        <BitSlider Label="Range slider vertical" Min="1" Max="5" Step="1" DefaultUpperValue="2" DefaultLowerValue="1" IsRanged="true" IsVertical="true" />
    </div>
</div>