.links-container,
.checkboxes-container,
.labels-container,
.search-box-container,
.rating-container,
.spinner-positioning,
.pivot-container,
.basic-list-container {
    font-family: FluentFont;
}

.links-container p {
    width: 95%;
    margin: auto;
}

.text-field-container {
    width: 30%
}

.custom-button {
    background-color: palevioletred;
}

.spinner-container {
    label {
        padding: 5px 0px;
        font-size: 14px;
    }
}

.spinner-sizes {
    > div {
        > div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}

.spinner-positioning {
    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}


.bit-nav-wrapped-link a {
    white-space: normal;
    line-height: inherit;
}

.bit-nav-simple-link a {
    white-space: nowrap;
    line-height: 44px;
}

.rating-container {
    > div {

        > span {
            margin-left: 10px;
        }
    }
}

.pivot-container {
    margin: 20px 10px;
}

.lst-custom-style {
    .lst3-list-item {
        padding: 16px 20px;
        background-color: #f2f2f2;
        margin: 10px 10px;
        width: 200px;        
        height: 143px;
        display: inline-grid;
        justify-content: center;
        align-items: center;
    }
}

