.links-container,
.checkboxes-container,
.labels-container,
.search-box-container,
.rating-container,
.spinner-positioning {
    font-family: FluentFont;
}

.links-container p {
    width: 95%;
    margin: auto;
}

.text-field-container {
    width: 30%
}

.bit-spb {
    margin-bottom: 15px;
}

.custom-button {
    background-color: palevioletred;
}

.spinner-container > div:not(.spinner-positioning) {
    display: flex;
}

.spinner-container span {
    margin: 0px 10px;
}

.spinner-positioning {
    display: inline-block;
}