.links-container,
.checkboxes-container,
.labels-container,
.search-box-container,
.rating-container,
.spinner-positioning,
.pivot-container,
.basic-list-container {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.links-container p {
    width: 95%;
    margin: auto;
}

.text-field-container {
    width: 30%
}

.custom-button {
    background-color: palevioletred;
}

.spinner-container {
    label {
        padding: 5px 0px;
        font-size: 14px;
    }
}

.spinner-sizes {
    > div {
        > div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}

.spinner-positioning {
    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}


.bit-nav-wrapped-link a {
    white-space: normal;
    line-height: inherit;
}

.bit-nav-simple-link a {
    white-space: nowrap;
    line-height: 44px;
}

.rating-container {
    > div {

        > span {
            margin-left: 10px;
        }
    }
}

.pivot-container {
    margin: 20px 10px;
}

.lst-custom-style {
    .lst3-list-item {
        padding: 16px 20px;
        background-color: #f2f2f2;
        margin: 10px 10px;
        width: 200px;
        height: 143px;
        display: inline-grid;
        justify-content: center;
        align-items: center;
    }
}

.bit-dt-lst-fluent-fileIconHeaderIcon {
    padding: 0;
    font-size: 16px;
}

.bit-dt-lst-fluent-fileIconCell {
    text-align: center;

    &:before {
        content: '.';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0px;
        visibility: hidden;
    }
}

.bit-dt-lst-fluent-fileIconImg {
    vertical-align: middle;
    max-height: 16px;
    max-width: 16px;
}

.bit-dt-lst-fluent-controlWrapper {
    display: flex;
    flex-wrap: wrap;
}

.bit-dt-lst-fluent-exampleToggle {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 30px;
}

.bit-dt-lst-fluent-selectionDetails {
    margin-bottom: 20px;
}

.bit-dt-lst-fluent-root {
    margin: 0 30px 20px 0;
    max-width: 300px;
}
