@layout MainLayout
@page "/get-started"

<section class="page-container">
    <h1 class="page-title">Get Started</h1>
    <div class="page-desc">This tutorial shows how to install and use Bit’s Blazor UI Components in blazor projects.</div>

    <section class="page-section">
        <h2 class="section-title"><span class="title-number">1.</span> Install</h2>
        <div class="section-desc">Bit’s Blazor UI Components are distributed as the <BitLink Href="https://www.nuget.org/packages/Bit.Client.Web.BlazorUI/" Target="_blank">Bit.Client.Web.BlazorUI nuget package</BitLink>. You can add them to your project in one of the following ways:</div>
        <div class="section-desc">Install the package from command line by running this command:</div>
        <div class="code-box">dotnet add package Bit.Client.Web.BlazorUI</div>
        <div class="section-desc">Or install the package from Package Manager Console by running this command:</div>
        <div class="code-box">Install-Package Bit.Client.Web.BlazorUI</div>
        <div class="section-desc">Or add the package to the project from the Visual Nuget Package Manager.</div>
    </section>

    <section class="page-section">
        <h2 class="section-title"><span class="title-number">2.</span> Import the namespace</h2>
        <div class="section-desc">Open the <span class="txt--blue">_Imports.razor</span> file of your Blazor application and add this line:</div>
        <div class="code-box">&#64;using Bit.Client.Web.BlazorUI</div>
    </section>

    <section class="page-section">
        <h2 class="section-title"><span class="title-number">3.</span> Include styles and script file</h2>
        <div class="section-desc">Open the <span class="txt--blue">_Host.cshtml</span> file or <span class="txt--blue">wwwroot/index.html</span> file and include a CSS file by adding this snippet:</div>
        <div class="code-box">&lt;link href="_content/Bit.Client.Web.BlazorUI/styles/bit.blazorui.min.css" rel="stylesheet" /></div>
        <div class="section-desc">then include the script file by adding this snippet:</div>
        <div class="code-box">&lt;script src="_content/Bit.Client.Web.BlazorUI/scripts/bit.blazorui.min.js" /></div>
    </section>
</section>