@layout MainLayout
@page "/get-started"

<div class="main-container">
    <div class="content">
        <div class="component-container">
            <div class="component-content">
                <section id="get-started-section">
                    <h1>Getting Started</h1>
                    <p>
                        Coming soon...
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
