@import '../Styles/_shared.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 rem(16px);
    box-sizing: border-box;
}

.page-section {
    display: flex;
    width: 100%;
    max-width: rem(1232px);
    box-sizing: border-box;

    @include lg {
        max-width: rem(1160px);
    }

    @include md {
        max-width: rem(960px);
    }

    @include sm {
        max-width: 100%;
    }
}

.text--underlined {
    position: relative;
    display: inline-block;
    padding-right: rem(20px);

    .text-border {
        position: absolute;
        bottom: rem(14px);
        left: 0;
        z-index: -1;
        display: inline-block;
        width: 100%;
        height: rem(10px);
        background-color: $Y1Color;

        @include lg {
            height: rem(8px);
        }

        @include md {
            height: rem(6px);
        }

        @include sm {
            height: rem(4px);
        }
    }
}

.hero-section {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: rem(56px) 0;

    @include lg {
        padding: rem(72px) 0;
    }

    @include md {
        padding: rem(35px) 0 rem(64px);
    }

    @include sm {
        flex-flow: column-reverse nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: rem(32px) 0 rem(40px);
    }

    .flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        @include sm {
            align-items: center;
        }
    }

    .section-title {
        position: relative;
        margin: 0;
        margin-bottom: rem(32px);
        font-weight: bold;
        font-size: rem(38px);
        line-height: rem(56px);
        color: $B2Color;


        @include lg {
            margin-bottom: rem(23px);
            font-size: rem(32px);
            line-height: rem(48px);
        }

        @include md {
            margin-bottom: rem(16px);
            font-size: rem(24px);
            line-height: rem(40px);
        }

        @include sm {
            display: none;
        }
    }

    .hero-title-bg {
        position: absolute;
        z-index: -1;
        top: rem(-65px);
        left: rem(-85px);
        display: block;
        width: rem(228px);
        height: rem(216px);
        background-image: url('/images/home/hero-title-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            top: rem(-75px);
            width: rem(222px);
        }

        @include md {
            display: none;
        }
    }

    .section-title--sm {
        display: none;

        @include sm {
            display: block;
            margin-bottom: rem(32px);
            font-weight: bold;
            font-size: rem(18px);
            line-height: rem(32px);
            color: $B2Color;
            text-align: center;
        }
    }

    .section-subtitle {
        max-width: rem(712px);
        margin-bottom: rem(80px);
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(32px);
        color: $Gray1;

        @include lg {
            max-width: rem(600px);
            margin-bottom: rem(65px);
            font-size: rem(16px);
            line-height: rem(24px);
        }

        @include md {
            max-width: rem(373px);
            margin-bottom: rem(40px);
            font-size: rem(14px);
            line-height: rem(24px);
        }

        @include sm {
            max-width: 100%;
            margin-bottom: rem(32px);
            font-size: rem(14px);
            line-height: rem(24px);
            text-align: center;
        }
    }

    .section-btn-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        @media all and (max-width: #{em(610px)}) and (min-width: #{em(551px)}) {
            flex-flow: row wrap;
        }
    }

    .section-btn {
        &:first-child {
            margin-right: rem(4px);
        }

        &:last-child {
            margin-left: rem(4px);
        }

        @media all and (max-width: #{em(610px)}) and (min-width: #{em(551px)}) {
            &:last-child {
                margin-left: 0;
                margin-top: rem(8px);
            }
        }
    }

    .btn--primary {
        @include PrimaryBtn;
    }

    .btn--secondary {
        @include SecondaryBtn;
    }

    .hero-banner {
        width: rem(501px);
        height: rem(526px);
        background-image: url('/images/home/hero-banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            width: rem(495px);
            height: rem(526px);
        }

        @include md {
            width: rem(334px);
            height: rem(353px);
        }

        @include sm {
            width: rem(270px);
            height: rem(292px);
            margin-bottom: rem(24px);
        }
    }
}

.popular-components-section {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: rem(148px) 0 rem(288px);

    @include lg {
        padding: rem(160px) 0 rem(160px);
    }

    @include md {
        padding: rem(80px) 0 rem(56px);
    }

    @include sm {
        padding: rem(80px) 0 rem(64px);
    }

    .section-title {
        margin: 0;
        margin-bottom: rem(72px);
        font-weight: bold;
        font-size: rem(32px);
        line-height: rem(48px);
        color: $B2Color;

        @include lg {
            margin-bottom: rem(56px);
            font-size: rem(24px);
            line-height: rem(32px);
        }

        @include md {
            margin-bottom: rem(88px);
            font-size: rem(20px);
            line-height: rem(32px);
        }

        @include sm {
            margin-bottom: rem(16px);
            font-size: rem(16px);
            line-height: rem(24px);
        }

        .text--underlined {
            .text-border {
                bottom: rem(10px);
            }
        }
    }
}

.benefits-section {
    padding: rem(88px) rem(32px);

    @include lg {
        padding: rem(80px) rem(32px);
    }

    @include md {
        padding: rem(56px) rem(32px);
    }

    @include sm {
        padding: rem(48px) rem(16px);
    }

    .section-title {
        font-weight: bold;
        font-size: rem(32px);
        line-height: rem(48px);
        margin-bottom: rem(72px);
        color: $SecondaryColor;
        text-align: center;

        @include lg {
            font-size: rem(24px);
            line-height: rem(32px);
            margin-bottom: rem(32px);
        }

        @include md {
            font-size: rem(20px);
            line-height: rem(32px);
            margin-bottom: rem(32px);
        }

        @include sm {
            font-size: rem(16px);
            line-height: rem(24px);
            margin-bottom: rem(24px);
        }
    }
}

.benefit-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: rem(1232px);
    border: rem(1px) solid $Gray4;
    border-radius: rem(10px);
    padding: rem(24px);
    margin-bottom: rem(16px);
    box-sizing: border-box;
    background-color: $White;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: $Gray5;
    }

    @include lg {
        max-width: rem(864px);
        padding: rem(24px) rem(16px);
    }

    @include md {
        max-width: rem(770px);
        padding: rem(20px) rem(16px);
        margin-bottom: rem(8px);
    }

    @include sm {
        max-width: 100%;
        padding: rem(16px) rem(8px);
        margin-bottom: rem(8px);
    }

    .benefit-card-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: rem(64px);
        font-weight: 500;
        font-size: rem(22px);
        line-height: rem(40px);
        margin-bottom: rem(16px);
        padding-left: rem(80px);
        box-sizing: border-box;
        color: $SecondaryColor;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: rem(64px);

        @include lg {
            min-height: rem(56px);
            font-size: rem(18px);
            line-height: rem(31px);
            margin-bottom: rem(16px);
            padding-left: rem(72px);
            background-size: rem(56px);
        }

        @include md {
            min-height: rem(48px);
            font-size: rem(14px);
            line-height: rem(24px);
            margin-bottom: rem(12px);
            padding-left: rem(56px);
            background-size: rem(48px);
        }

        @include sm {
            min-height: rem(40px);
            font-size: rem(12px);
            line-height: rem(18px);
            margin-bottom: rem(8px);
            padding-left: rem(48px);
            background-size: rem(40px);
        }
    }

    .orange-text {
        color: $OrangeColor;
        white-space: pre;
    }

    .native-icon {
        background-image: url('/images/home/native-icon.svg');
    }

    .customize-icon {
        background-image: url('/images/home/customize-icon.svg');
    }

    .open-source-icon {
        background-image: url('/images/home/open-source-icon.svg');
    }

    .special-components-icon {
        background-image: url('/images/home/special-components-icon.svg');
    }

    .design-system-icon {
        background-image: url('/images/home/design-system-icon.svg');
    }

    .benefit-card-desc {
        width: 100%;
        font-size: rem(18px);
        line-height: rem(31px);
        color: $Gray1;

        @include lg {
            font-weight: 500;
            font-size: rem(14px);
            line-height: rem(24px);
        }

        @include md {
            font-weight: 500;
            font-size: rem(12px);
            line-height: rem(20px);
        }

        @include sm {
            font-weight: 500;
            font-size: rem(10px);
            line-height: rem(16px);
        }
    }
}

.contribution-section {
    padding: rem(88px) rem(32px);
    background: linear-gradient(0deg, rgba(35, 49, 132, 0.9), rgba(35, 49, 132, 0.9)), url('/images/home/open-source-section-bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include lg {
        padding: rem(80px) rem(32px);
    }

    @include md {
        padding: rem(56px) rem(32px);
    }

    @include sm {
        padding: rem(40px) rem(16px);
    }

    .section-icon {
        width: rem(72px);
        height: rem(72px);
        margin-bottom: rem(32px);
        background-image: url('/images/home/open-source-icon.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include lt-xl {
            width: rem(64px);
            height: rem(64px);
        }

        @include sm {
            width: rem(40px);
            height: rem(40px);
            margin-bottom: rem(16px);
        }
    }

    .section-title {
        font-weight: bold;
        font-size: rem(32px);
        line-height: rem(48px);
        margin-bottom: rem(24px);
        color: $White;
        text-align: center;

        @include lg {
            font-size: rem(24px);
            line-height: rem(32px);
            margin-bottom: rem(24px);
        }

        @include md {
            font-size: rem(20px);
            line-height: rem(32px);
            margin-bottom: rem(16px);
        }

        @include sm {
            font-size: rem(16px);
            line-height: rem(24px);
            margin-bottom: rem(8px);
        }
    }

    .secion-desc {
        max-width: rem(1024px);
        margin-bottom: rem(40px);
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(32px);
        text-align: center;
        color: #DDDDDD;

        @include lg {
            max-width: rem(864px);
            margin-bottom: rem(24px);
            font-size: rem(18px);
            line-height: rem(31px);
        }

        @include md {
            max-width: 100%;
            margin-bottom: rem(40px);
            font-size: rem(14px);
            line-height: rem(24px);
        }

        @include sm {
            max-width: 100%;
            margin-bottom: rem(24px);
            font-size: rem(10px);
            line-height: rem(16px);
        }
    }

    .section-btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: rem(209px);
        height: rem(56px);
        border: rem(2px) solid $PrimaryColor;
        border-radius: rem(4px);
        box-sizing: border-box;
        font-weight: 600;
        font-size: rem(18px);
        line-height: rem(32px);
        color: $PrimaryColor;
        background-color: $White;
        cursor: pointer;

        @include lg {
            width: rem(178px);
            height: rem(48px);
            font-size: rem(16px);
            line-height: rem(24px);
        }

        @include md {
            width: rem(135px);
            height: rem(40px);
            font-size: rem(12px);
            line-height: rem(16px);
        }

        @include sm {
            width: rem(115px);
            height: rem(40px);
            font-size: rem(12px);
            line-height: rem(16px);
        }

        .github-icon {
            display: inline-block;
            width: rem(40px);
            height: rem(40px);
            margin-right: rem(8px);
            background-image: url('/images/home/github-btn-blue-icon.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include lg {
                width: rem(32px);
                height: rem(32px);
            }

            @include md {
                width: rem(20px);
                height: rem(20px);
            }

            @include sm {
                width: rem(16px);
                height: rem(16px);
            }
        }

        &:hover {
            border-color: $SecondaryColor;
            color: $SecondaryColor;
            background-color: $Gray5;

            .github-icon {
                background-image: url('/images/home/github-btn-dark-icon.svg');
            }
        }
    }
}

.component-list-section {
    padding: rem(88px) rem(32px);

    @include lg {
        padding: rem(80px) rem(32px);
    }

    @include md {
        padding: rem(56px) rem(32px);
    }

    @include sm {
        padding: rem(48x) rem(16px);
    }

    .section-title {
        font-weight: bold;
        font-size: rem(32px);
        line-height: rem(48px);
        margin-bottom: rem(80px);
        color: $SecondaryColor;
        text-align: center;

        @include lg {
            font-size: rem(24px);
            line-height: rem(32px);
            margin-bottom: rem(72px);
        }

        @include md {
            font-size: rem(20px);
            line-height: rem(32px);
            margin-bottom: rem(31px);
        }

        @include sm {
            font-size: rem(18px);
            line-height: rem(31px);
            margin-bottom: rem(32px);
        }
    }

    .list-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .list-col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: rem(248px);
        margin-right: rem(64px);

        &:last-child {
            margin-right: 0;
        }

        @include lg {
            margin-right: rem(16px);
        }

        @include md {
            width: rem(174px);
            margin-right: rem(25px);
        }

        @include sm {
            width: 100%;
            margin-right: 0;
        }
    }

    .list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: rem(24px);
        //&:last-child {
        //    margin-bottom: 0;
        //}

        @include lg {
            margin-bottom: rem(32px);
        }

        @include md {
            margin-bottom: rem(40px);
        }

        @include sm {
            margin-bottom: rem(24px);
        }
    }

    .list-title {
        margin-bottom: rem(8px);
        font-size: rem(18px);
        line-height: rem(31px);
        color: $SecondaryColor;

        @include lt-xl {
            font-weight: 500;
            line-height: rem(24px);
        }

        @include md {
            font-size: rem(16px);
        }

        @include sm {
            font-size: rem(15px);
        }
    }
}

.bottom-section {
    padding: rem(184px) 0 rem(168px);
    background: linear-gradient(0deg, rgba(35, 49, 132, 0.9), rgba(35, 49, 132, 0.9)), url('/images/home/bottom-section-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include lg {
        padding: rem(148px) 0 rem(125px);
    }

    @include md {
        padding: rem(56px) 0 rem(112px);
    }

    @include sm {
        padding: rem(40px) 0 rem(92px);
    }

    .section-title {
        font-weight: bold;
        font-size: rem(38px);
        line-height: rem(56px);
        margin-bottom: rem(72px);
        color: $White;
        text-align: center;

        @include lg {
            font-size: rem(32px);
            line-height: rem(48px);
            margin-bottom: rem(56px);
        }

        @include md {
            font-size: rem(24px);
            line-height: rem(40px);
            margin-bottom: rem(44px);
        }

        @include sm {
            font-size: rem(18px);
            line-height: rem(31px);
            margin-bottom: rem(32px);
        }
    }

    .section-btn {
        @include SecondaryBtn;
    }
}
