@page "/"

<section class="page-section hero-section">
    <div class="section-title">Create a High Performance Experience for Free!</div>
    <div class="section-subtitle">Using the Bit’s native Blazor UI components that are easy-to-customize and work on all Blazor modes (WASM, Server, Hybrid, pre-rendering), save time and make work enjoyable.</div>
    <div class="section-btn-group">
        <a class="section-btn btn--primary" href="/get-started">Try for Free!</a>
        <a class="section-btn btn--secondary" href="/components/demo">Demo</a>
    </div>
</section>