@page "/"

<section class="page-section hero-section">
    <div class="section-title">Create a High Performance Experience for Free!</div>
    <div class="section-subtitle">Using the Bit’s native Blazor UI components that are easy-to-customize and work on all Blazor modes (WASM, Server, Hybrid, pre-rendering), save time and make working enjoyable.</div>
    <div class="section-btn-group">
        <a class="section-btn btn--primary" href="/get-started">Try for Free!</a>
        <a class="section-btn btn--secondary" href="/components/demo">Demo</a>
    </div>
</section>

<section class="page-section popular-components-section">
    <div class="section-title">Most Popular Components</div>
    <PopularComponents />
</section>

<section class="page-section benefits-section">
    <div class="section-title">Why Bit Components?</div>
    <div class="benefit-card">
        <div class="benefit-card-title native-icon">
            Bit’s Blazor UI Components are Native
        </div>
        <div class="benefit-card-desc">
            Written entirely in C#, Bit’s Blazor UI components are native and therefore have high performance. These components can be used in all Blazor modes (WASM, Server, Hybrid, pre-rendering) while the size of your project will eventually increase up to 80kb!
        </div>
    </div>

    <div class="benefit-card">
        <div class="benefit-card-title open-source-icon">
            Open source contribution with a professional dedicated development team
        </div>
        <div class="benefit-card-desc">
            Since Bit components are developed by a professional dedicated team, you can get sufficient technical support from them, and even make open source contributions on GitHub. Bit components have a fast release cycle and are updated at short intervals.
        </div>
    </div>

    <div class="benefit-card">
        <div class="benefit-card-title customize-icon">
            Customize Bit components easily
        </div>
        <div class="benefit-card-desc">
            By using Bit components that have been implemented in a standard format, you will no longer have the challenge of customizing the styles and functionalities of the components, and you can easily meet your development needs in a short time!
        </div>
    </div>

    <div class="benefit-card">
        <div class="benefit-card-title special-components-icon">
            Find some special components you are looking for
        </div>
        <div class="benefit-card-desc">
            Are you looking for special components that are difficult to implement?!
            The Bit component package includes some special components such as file uploader or Jalali date picker that you can not find anywhere for free!
        </div>
    </div>

    <div class="benefit-card">
        <div class="benefit-card-title design-system-icon">
            Achieve multiple design systems<span class="orange-text"> (coming soon)</span>
        </div>
        <div class="benefit-card-desc">
            Using Bit components allows you to switch between multiple provided design systems such as Microsoft Fluent, Material, and Cupertino easily or create your own custom design system.
        </div>
    </div>
</section>

<section class="page-section contribution-section">
    <div class="section-icon"></div>
    <div class="section-title">Open Source Contribution</div>
    <div class="secion-desc">Backed by a professional dedicated development team and an active community, you are well supported to work out all challenges. Since all open source components are on GitHub, you can follow the production flow of the components.  Feel free to report bugs, fork the repo, and submit pull request.</div>
    <a class="section-btn" target="_blank" href="https://github.com/bitfoundation/bitframework"><span class="github-icon"></span>GitHub</a>
</section>

<section class="page-section component-list-section">
    <div class="section-title">Components</div>
    <div class="list-group">
        <div class="list-col">
            <div class="list">
                <div class="list-title">Basic inputs</div>
                <a class="list-item" href="/components/button">Button</a>
                <a class="list-item" href="/components/action-button">ActionButton</a>
                <a class="list-item" href="/components/compound-button">CompoundButton</a>
                <a class="list-item" href="/components/icon-button">IconButton</a>
                <a class="list-item" href="/components/toggle-button">ToggleButton</a>
                <a class="list-item" href="/components/check-box">Checkbox</a>
                <a class="list-item" href="/components/choice-group">ChoiceGroup (RadioButton)</a>
                <a class="list-item" href="/components/drop-down">DropDown</a>
                <a class="list-item" href="/components/file-upload">FileUpload</a>
                <a class="list-item" href="/components/label">Label</a>
                <a class="list-item" href="/components/link">Link</a>
                <a class="list-item" href="/components/rating">Rating</a>
                <a class="list-item" href="/components/search-box">SearchBox</a>
                <a class="list-item" href="/components/slider">Slider</a>
                <a class="list-item" href="/components/spin-button">SpinButton (NumericTextField)</a>
                <a class="list-item" href="/components/text-field">TextField</a>
                <a class="list-item" href="/components/toggle">Toggle (Switch)</a>
            </div>
        </div>
        <div class="list-col">
            <div class="list">
                <div class="list-title">Galleries & Pickers</div>
                <a class="list-item" href="/components/carousel">Carousel</a>
                <a class="list-item" href="/components/color-picker">ColorPicker</a>
                <a class="list-item" href="/components/date-picker">DatePicker</a>
            </div>
            <div class="list">
                <div class="list-title">Items & Lists</div>
                <a class="list-item" href="/components/basic-list">BasicList</a>
            </div>
            <div class="list">
                <div class="list-title">Commands, Menus & Navs</div>
                <a class="list-item" href="/components/nav">Nav (TreeList)</a>
                <a class="list-item" href="/components/pivot">Pivot (Tab)</a>
            </div>
        </div>
        <div class="list-col">
            <div class="list">
                <div class="list-title">Notification & Engagement</div>
                <a class="list-item" href="/components/message-bar">MessageBar</a>
            </div>
            <div class="list">
                <div class="list-title">Progress</div>
                <a class="list-item" href="/components/progress-indicator">ProgressIndicator</a>
                <a class="list-item" href="/components/spinner">Spinner</a>
            </div>
            <div class="list">
                <div class="list-title">Surfaces</div>
                <a class="list-item" href="/components/modal">Modal</a>
            </div>
        </div>
    </div>
</section>