@page "/"
<style>
    /* Temp Styles */
    .links-container {
        font-family: FluentFont;
    }

     .links-container p {
        width: 95%;
        margin: auto;
     }
</style>

<h1>Bit Components</h1>
<hr />

<div class="buttons-container">
    <h3>BitButton</h3>
    <BitButton IsEnabled="true">
        Primary
    </BitButton>
    <BitButton Style="@ButtonStyle.Standard" IsEnabled="true">
        Standard
    </BitButton>
    <BitButton IsEnabled="false">
        Disabled
    </BitButton>
    <BitButton IsEnabled="false">
        <label>This text is from a label element</label>
    </BitButton>
    <hr />

    <h3>BitCompoundButton</h3>
    <BitCompoundButton IsEnabled="true" Text="Enabled" SecondaryText="This Button is compound button"></BitCompoundButton>
    <BitCompoundButton IsEnabled="false" Text="Disabled" SecondaryText="This Button is a disabled compound button"></BitCompoundButton>
    <hr />
</div>

<div class="labels-container">
    <h2>BitLabel</h2>
    <BitLabel Text="I'm a Label"></BitLabel>
    <BitLabel Text="I'm a disabled Label" IsEnabled="false"></BitLabel>
    <BitLabel Text="I'm a required Label" IsRequired="true"></BitLabel>
    <BitLabel Text="A Label for An Input" For="labels-container__input"></BitLabel>
    <input type="text" name="labels-container__input" id="labels-container__input" />
    <hr />
</div>
<div class="links-container">
    <h2>links</h2>
    <p>
        When a link has an href, <BitLink Href="https://github.com/bitfoundation/bitframework" Text="it renders as an anchor tag" Target="_blank"></BitLink>.
        Without an href, <BitLink Text="the link is rendered as a button"></BitLink>.
        You can also use the disabled attribute
        to create a <BitLink Text="disabled link" IsEnabled="false"></BitLink>.It's not recommended to use Links with imgs because
        Links are meant to render textual inline content. Buttons are inline-block or
        in the case of imgs, block. However, it is possible to create a linked image
        button by making a button with an unstyled variant and adding the img content
        and href source to that.
    </p>
    <hr />
</div>
<div class="message-bar-container">
    <h2>BitMessageBar</h2>
    <BitMessageBar Style="@MessageBarStyle.Success">
        Salam haji
    </BitMessageBar>
</div>