@page "/"
<style>
    /* Temp Styles */
    .links-container, .checkboxes-container, .labels-container, .search-box-container {
        font-family: FluentFont;
    }

        .links-container p {
            width: 95%;
            margin: auto;
        }
</style>

<h1>Bit Components</h1>
<hr />
<div class="search-box-container">
    <h3>SearchBox</h3>
    <h5>Default SearchBox</h5>
    <BitSearchBox Placeholder="Search" OnSearch="HandledSearch" OnClear="HandleClear"></BitSearchBox>
    <br />
    <BitSearchBox Placeholder="Search with no animation" DisableAnimation=true></BitSearchBox>
    <br />
    <h5>Underlined SearchBox</h5>
    <BitSearchBox Placeholder="Search" IsUndelined=true></BitSearchBox>
    <br />
    <h5>SearchBox with custom icon</h5>
    <BitSearchBox Placeholder="Filter" IconName="Filter"></BitSearchBox>
    <h5>Disabled SearchBox</h5>
    <BitSearchBox Placeholder="Search" IsEnabled=false></BitSearchBox>
    <br />
    <BitSearchBox Placeholder="Search" IsEnabled=false IsUndelined=true></BitSearchBox>
    <h5>SearchBox with fixed width</h5>
    <BitSearchBox Placeholder="Search" OnSearch="HandledSearch" OnClear="HandleClear" Width="250px"></BitSearchBox>
    @code{
        void HandledSearch(string value)
        {
            Console.WriteLine("On Search ... --> " + value);
        }

        void HandleClear()
        {
            Console.WriteLine("Clear Button Clicked !");
        }

    }
    <br />
</div>
<hr />

<div class="buttons-container">
    <h5>BitButton</h5>
    <BitButton IsEnabled="true" Text="Enabled"></BitButton>

    <BitButton IsEnabled="false" Text="Disabled"></BitButton>
    <hr />

    <h5>BitCompoundButton</h5>
    <BitCompoundButton IsEnabled="true" Text="Enabled" SecondaryText="This Button is compound button"></BitCompoundButton>

    <BitCompoundButton IsEnabled="false" Text="Disabled" SecondaryText="This Button is compound button"></BitCompoundButton>

    <hr />
</div>

<div class="labels-container">
    <h3>Labels</h3>
    <BitLabel Text="I'm a Label"></BitLabel>
    <BitLabel Text="I'm a disabled Label" IsEnabled="false"></BitLabel>
    <BitLabel Text="I'm a required Label" IsRequired="true"></BitLabel>
    <BitLabel Text="A Label for An Input" For="labels-container__input"></BitLabel>
    <input type="text" name="labels-container__input" id="labels-container__input" />
    <hr />
</div>
<div class="links-container">
    <h3>Links</h3>
    <p>
        When a link has an href, <BitLink Href="https://github.com/bitfoundation/bitframework" Text="it renders as an anchor tag" Target="_blank"></BitLink>.
        Without an href, <BitLink Text="the link is rendered as a button"></BitLink>.
        You can also use the disabled attribute
        to create a <BitLink Text="disabled link" IsEnabled="false"></BitLink>.It's not recommended to use Links with imgs because
        Links are meant to render textual inline content. Buttons are inline-block or
        in the case of imgs, block. However, it is possible to create a linked image
        button by making a button with an unstyled variant and adding the img content
        and href source to that.
    </p>
</div>


<hr />

<div class="checkboxes-container">
    <h3>Checkboxes</h3>
    <h5>Basics</h5>
    <BitCheckbox Label="Basic Checkbox"></BitCheckbox>
    <BitCheckbox Label="Checked Checkbox" IsChecked="true"></BitCheckbox>
    <BitCheckbox Label="Disable Checkbox" IsEnabled="false"></BitCheckbox>
    <BitCheckbox Label="Disable Checked Checkbox" IsEnabled="false" IsChecked="true"></BitCheckbox>
    <br />
    <h5>Indeterminate</h5>
    <BitCheckbox Label="Indeterminated checkbox" IsIndeterminate="true"></BitCheckbox>
    <BitCheckbox Label="Indeterminate checkbox which defaults to true when clicked" IsIndeterminate="true" IsChecked="true"></BitCheckbox>
    <BitCheckbox Label="Disabled indeterminated checkbox" IsIndeterminate="true" IsEnabled="false"></BitCheckbox>
    <br />
    <h5>Custom Label</h5>
    <BitCheckbox>
        <CustomLabel>
            Custom-rendered label with a link go to 
            <a href='https://github.com/bitfoundation/bitframework'>
                bit foundation repository page.
            </a>
        </CustomLabel>
    </BitCheckbox>
    <h5>Reversed</h5>
    <BitCheckbox BoxSide="@BoxSide.End" Label="Reversed -- Basic Checkbox"></BitCheckbox>
    <BitCheckbox BoxSide="@BoxSide.End" Label="Reversed -- Checked Checkbox" IsChecked="true"></BitCheckbox>
    <BitCheckbox BoxSide="@BoxSide.End" Label="Reversed -- Disable Checkbox" IsEnabled="false"></BitCheckbox>
    <BitCheckbox BoxSide="@BoxSide.End" Label="Reversed -- Disable Checked Checkbox" IsEnabled="false" IsChecked="true"></BitCheckbox>
    <br />
</div>
