@page "/"

<div id="main">
    <div class="bg-orange">
        <div class="header">
            <nav>
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="/component">Demo</a></li>
                    <li><a href="/components/buttons">Components</a></li>
                </ul>
            </nav>
            <div class="row logo">
                <div></div>
                <span>Bit Component</span>
            </div>
        </div>
        <div class="container-part-one">
            <img src="/images/main/orange-vertical-wave.png" />
            <div>
                <h1>BIT Blazor Component</h1>
                <h4>For faster and easier web development</h4>
            </div>
        </div>
    </div>
    <div class="container-part-two">
        <div class="companies">
            <div class="line"></div>
            <div class="row">
                <img src="/images/main/airbnb-logo.png" />
                <img src="/images/main/hubspot-logo.png" />
                <img src="/images/main/google-logo.png" />
                <img src="/images/main/microsoft-logo.png" />
                <img src="/images/main/walmart-logo.png" />
                <img src="/images/main/fedex-logo.png" />
            </div>
            <div class="line"></div>
        </div>
        <img src="/images/main/blue-wave.png" />
    </div>
    <div class="container-part-three">
        <div class="description">
            <h5>Chart</h5>
            <p>Charts to give sense to data, enabling end-users to analyze volumes of complex information. Choose from a rich set of series including: Area, Bar, Column, Pie, Donut, Line.</p>
            <a href="#">more about chart</a>
        </div>
        <div class="image">
            <img src="/images/main/chart.png" />
        </div>
    </div>
    <div class="container-part-four">
        <div>
            <div class="image">
                <img src="/images/main/quota-sign.png" />
            </div>
            <div class="stories">
                <div class="col-1">
                    <div>
                        <h3>Real Stories from Real Customers</h3>
                        <span class="sub-title">Get inspired by these stories.</span>
                    </div>
                    <div class="card">
                        <img src="/images/main/microsoft-logo-large.png" />
                        <div class="quota">
                            <img src="/images/main/quota-sign-small.png" />
                            <div>
                                <p>I'm excited to see partners like BIT creating custom UI controls for Blazor. The BIT UI controls make building beautiful web apps with lots of rich functionality sooooo easy!</p>
                                <div class="author">
                                    <span class="name">18 Roth</span>
                                    <span class="position">PROGRAM MANAGER, MICROSOFT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="/images/main/airbnb-logo-large.png" />
                        <div class="quota">
                            <img src="/images/main/quota-sign-small.png" />
                            <div>
                                <p>“An artisan-crafted product out of the box for a developer with less time to do with the UI and other details. Just focus on your logic, the rest is handled very well.”</p>
                                <div class="author">
                                    <span class="name">Evlv Digital</span>
                                    <span class="position">DEV, AIRBNB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/main/book-my-show-logo-large.png" />
                        <div class="quota">
                            <img src="/images/main/quota-sign-small.png" />
                            <div>
                                <p>Landify saved our time in designing my company page.</p>
                                <div class="author">
                                    <span class="name">Kristin Watson</span>
                                    <span class="position">Co-Founder, BookMyShow</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-part-five bg-orange">
        <img src="/images/main/orange-horizontal-wave.png" />
        <div class="features">
            <h3>Blazor UI Components Key Features</h3>
            <div class="feature-list">
                <div>
                    <img src="/images/main/open-source.png" />
                    <h5>Free and open source</h5>
                    <p>Set of 60+ native Blazor UI controls.</p>
                </div>
                <div>
                    <img src="/images/main/performance.png" />
                    <h5>Performance</h5>
                    <p>Every component is fine-tuned to work with a high volume of data.</p>
                </div>
                <div>
                    <img src="/images/main/updates.png" />
                    <h5>Frequent updates</h5>
                    <p>Get minor improvements and bug fixes every week to stay up to date.</p>
                </div>
                <div>
                    <img src="/images/main/usage.png" />
                    <h5>Ease of use</h5>
                    <p>Easy integration of tools to blend Syncfusion Blazor components with your project.</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="header">
            <img src="/images/main/component-list.png" />
            <h2>Component List</h2>
        </div>
        <div class="container-part-six">
            <nav>
                <ul>
                    <li>Buttons</li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Button Group</a></li>
                    <li>
                        <a href="#">Dropdown Menu</a>
                        <div class="btn-new"><span>New</span></div>
                    </li>
                    <li><a href="#">Split Button</a></li>
                    <li>
                        <a href="#">Chips</a>
                        <div class="btn-update"><span>Update</span></div>
                    </li>
                </ul>
                <ul>
                    <li>DropDowns</li>
                    <li><a href="#">AutoComplete</a></li>
                    <li><a href="#">ListBox</a></li>
                    <li><a href="#">ComboBox</a></li>
                    <li><a href="#">Dropdown List</a></li>
                    <li><a href="#">MultiSelect Dropdown</a></li>
                </ul>
                <ul>
                    <li>Grids</li>
                    <li><a href="#">DataGrid</a></li>
                    <li><a href="#">Pivot Table</a></li>
                    <li><a href="#">Tree Grid</a></li>
                </ul>
                <ul>
                    <li>Buttons</li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Button Group</a></li>
                    <li><a href="#">Dropdown Menu</a></li>
                    <li><a href="#">Split Button</a></li>
                    <li><a href="#">Chips</a></li>
                </ul>
                <ul>
                    <li>Calenders</li>
                    <li><a href="#">Scheduler</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">DatePicker</a></li>
                    <li>
                        <a href="#">DateRangePicker</a>
                        <div class="btn-new"><span>New</span></div>
                    </li>
                    <li><a href="#">DateTime Picker</a></li>
                </ul>
                <ul>
                    <li>Buttons</li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Button Group</a></li>
                    <li><a href="#">Dropdown Menu</a></li>
                    <li><a href="#">Split Button</a></li>
                    <li><a href="#">Chips</a></li>
                </ul>  <ul>
                    <li>Calenders</li>
                    <li><a href="#">Scheduler</a></li>
                    <li>
                        <a href="#">Calendar</a>
                        <div class="btn-update"><span>Update</span></div>
                    </li>
                    <li><a href="#">DatePicker</a></li>
                    <li><a href="#">DateRangePicker</a></li>
                    <li><a href="#">DateTime Picker</a></li>
                </ul>
                <ul>
                    <li>Buttons</li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Button Group</a></li>
                    <li><a href="#">Dropdown Menu</a></li>
                    <li><a href="#">Split Button</a></li>
                    <li><a href="#">Chips</a></li>
                </ul>
                <ul>
                    <li>Grids</li>
                    <li><a href="#">DataGrid</a></li>
                    <li>
                        <a href="#">Pivot Table</a>
                        <div class="btn-new"><span>New</span></div>
                    </li>
                    <li><a href="#">Tree Grid</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>