@page "/components/overview"

<section class="page-container">
    <div class="page-title">
        Bit's native UI Components for Blazor
        <div class="title-clipart"></div>
    </div>
    <div class="page-desc">Using the Bit’s native Blazor UI components that are easy-to-customize and work on all Blazor modes (WASM, Server, Hybrid, pre-rendering), save time and make working enjoyable.</div>
    <div class="card-container">
        <a class="card" href="/components/button">
            <div class="card-top-content input-card">Basic Inputs</div>
            <div class="card-bottom-content"><div class="card-txt">Button, ActionButton, CompoundButton, </div></div>
        </a>
        <a class="card" href="/components/carousel">
            <div class="card-top-content picker-card">Galleries & Pickers</div>
            <div class="card-bottom-content"><div class="card-txt">Carousel, ColorPicker, DatePicker</div></div>
        </a>
        <a class="card" href="/components/basic-list">
            <div class="card-top-content list-card">Items & Lists</div>
            <div class="card-bottom-content"><div class="card-txt">BasicList</div></div>
        </a>
        <a class="card" href="/components/nav">
            <div class="card-top-content nav-card">Commands, Menus & Navs</div>
            <div class="card-bottom-content"><div class="card-txt">Nav (TreeList), Pivot (Tab)</div></div>
        </a>
        <a class="card" href="/components/message-bar">
            <div class="card-top-content notification-card">Notification & Engagement</div>
            <div class="card-bottom-content"><div class="card-txt">MessageBar</div></div>
        </a>
        <a class="card" href="/components/progress-indicator">
            <div class="card-top-content progress-card">Progress</div>
            <div class="card-bottom-content"><div class="card-txt">Progressindicator, Spinner</div></div>
        </a>
        <a class="card" href="/components/modal">
            <div class="card-top-content surface-card">Surfaces</div>
            <div class="card-bottom-content"><div class="card-txt">Modal</div></div>
        </a>
    </div>
</section>