@page "/Test"

<h3>Carousel</h3>
<BitCarousel>
    <BitCarouselItem Style="background-color:red; height:200px; text-align:center; color:yellow;">1</BitCarouselItem>
    <BitCarouselItem Style="background-color:brown; height:200px; text-align:center; color:yellow;">2</BitCarouselItem>
    <BitCarouselItem Style="background-color:pink; height:200px; text-align:center; color:yellow;">3</BitCarouselItem>
    <BitCarouselItem Style="background-color:green; height:200px; text-align:center; color:yellow;">4</BitCarouselItem>
    <BitCarouselItem Style="background-color:blue; height:200px; text-align:center; color:yellow;">5</BitCarouselItem>
</BitCarousel>