@page "/Test"

<h3>Carousel</h3>
<BitCarousel>
        <BitCarouselItem Style="background-color:red">1</BitCarouselItem>
        <BitCarouselItem Style="background-color:yellow">2</BitCarouselItem>
        <BitCarouselItem Style="background-color:pink">3</BitCarouselItem>
        <BitCarouselItem Style="background-color:green">4</BitCarouselItem>
        <BitCarouselItem Style="background-color:blue">5</BitCarouselItem>
</BitCarousel>