<footer class="footer">
    <div class="footer-contact">Bit@outlook.com</div>
    <div class="footer-copyright">Copyright © 2022 Bit Fundation. All Rights Reserved</div>

    <div class="footer-social-lnk-grp">
        <BitLink Href="" Target="_blank"><div class="social-lnk twitter-lnk"></div></BitLink>
        <BitLink Href="" Target="_blank"><div class="social-lnk instagram-lnk"></div></BitLink>
        <BitLink Href="" Target="_blank"><div class="social-lnk linkedin-lnk"></div></BitLink>
        <BitLink Href="" Target="_blank"><div class="social-lnk github-lnk"></div></BitLink>
    </div>
</footer>