<header class="header">
    <a class="logo-lnk" href="/"></a>
    <div class="header-btn-group">
        <BitLink Class="header-item" Href="/privacy" Target="_self">Privacy</BitLink>
        @if (true)
        {
            <BitActionButton Class="header-item" IconName="BitIcon.AddFriend" Href="/sign-up" Target="_self">Sign up</BitActionButton>
            <BitActionButton Class="header-item" IconName="BitIcon.AddFriend" Href="/login" Target="_self">Login</BitActionButton>
        }
    </div>
</header>