<header class="header">
    <div class="header-top-row">
        <a class="logo-lnk" href="/"></a>
        <div class="header-btn-group">
            <BitLink Class="header-item--privacy" Href="/privacy" Target="_self">Privacy</BitLink>
            @if (true)
            {
                <BitActionButton Class="header-item" IconName="BitIcon.AddFriend" Href="/sign-up" Target="_self">Sign up</BitActionButton>
                <BitActionButton Class="header-item" IconName="BitIcon.AddFriend" Href="/login" Target="_self">Login</BitActionButton>
            }
        </div>
    </div>
    <div class="header-bottom-row">
        <BitLink Href="/privacy" Target="_self">Privacy</BitLink>
    </div>
</header>