<header class="header @(false ? "header--authenticated" : null)">
    <div class="header-top-row">
        <div class="header-contact">
            @if (false)
            {
                <BitIconButton Class="header-menu" IconName="BitIconName.CollapseMenu" />
            }
            <a class="logo-lnk" href="/"></a>
        </div>
        <div class="header-contact">
            <BitLink Class="header-item--privacy" Href="/privacy" Target="_self">Privacy</BitLink>
            @if (true)
            {
                <BitActionButton Class="header-item" IconName="BitIconName.AddFriend" Href="/sign-up" Target="_self">Sign up</BitActionButton>
                <BitActionButton Class="header-item" IconName="BitIconName.Signin" Href="/sign-in" Target="_self">Sign in</BitActionButton>
            }
        </div>
    </div>
    <div class="header-bottom-row">
        <BitLink Href="/privacy" Target="_self">Privacy</BitLink>
    </div>
</header>