@inherits ToDoTemplateComponentBase;

<div class="menu-shadow"></div>
<section class="main-container">
    <div class="top-container">
        <div class="user-photo">@UserName?.ToUpper()[..2]</div>
        <div class="user-name"> @UserName</div>
        <BitActionButton IconName="BitIconName.Edit" Href="/edit-profile">Edit profile</BitActionButton>
    </div>
    <BitNav NavLinkItems="NavLinks"
            AriaLabel="NavMenu"
            SelectedKey="Home">
    </BitNav>
</section>