@inherits TodoTemplateComponentBase;

@if (IsMenuOpen)
{
    <div class="menu-shadow" @onclick=CloseMenu></div>
}

<section class="main-container @(IsMenuOpen ? null : "main-container--closed")">
    <div class="top-container">
        <div class="user-photo">@UserName?.ToUpper()[..2]</div>
        <div class="user-name">@UserName</div>
        <BitActionButton IconName="BitIconName.Edit"
                         Href="/edit-profile"
                         OnClick=CloseMenu>
            Edit profile
        </BitActionButton>
    </div>
    <BitNav NavLinkItems="NavLinks"
            AriaLabel="NavMenu"
            SelectedKey="Home"
            OnLinkClick=CloseMenu>
    </BitNav>
</section>

<SignOutConfirmModal IsOpen="IsSignOutModalOpen" ModalClosed="OnModalCloseHandler"></SignOutConfirmModal>