@inherits TodoTemplateComponentBase;

<BitModal @bind-IsOpen="IsOpen">
    <div class="modal-body">
        <div class="modal-close-btn-container">
            <BitIconButton OnClick="CloseModal" IconName="BitIconName.ChromeClose" Title="Close" />
        </div>
        <div class="modal-title">Sign out</div>
        <div class="modal-desc">Are you sure you want to Sign out?</div>
        <div>
            <BitButton ButtonStyle="BitButtonStyle.Primary" OnClick="SignOut">Sign out</BitButton>
            <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="CloseModal">Cancel</BitButton>
        </div>
    </div>
</BitModal>