@page "/butil/keyboard"
@inherits AppComponentBase

<PageOutlet Url="butil/keyboard"
            Title="Keyboard - Butil"
            Description="Keyboard class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Keyboard</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Keyboard class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser Keyboard features you need to inject the Bit.Butil.Keyboard class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Keyboard keyboard

@@code {
    await keyboard.Add(ButilKeyCodes.F10, args => { ... }, , ButilModifiers.Alt | ButilModifiers.Ctrl);
    await keyboard.Remove(ButilKeyCodes.F10, handler);
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>Add</b>: Adds a handler to a keyboard key combination.
            <br /><br />
            <b>Remove</b>: Removes a handler from a keyboard key combination.
        </div>
    </section>
</div>

<NavigationButtons Prev="Document" PrevUrl="/butil/document" Next="Console" NextUrl="/butil/console" />
