@page "/butil/document"
@inherits AppComponentBase

<PageOutlet Url="butil/document"
            Title="Document - Butil"
            Description="Document class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Document</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Document class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser document features you need to inject the Bit.Butil.Document class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Document document

@@code {
    await document.AddEventListener(ButilEvents.Click, args => { ... });
    await document.SetTitle("New shinny title");
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>AddEventListener</b>, <b>RemoveEventListener</b>: Sets up a function that will be called whenever the specified event is delivered to the document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener" target="_blank">MDN</a>).
            <br /><br />

            <b>GetCharacterSet</b>: Returns the character set being used by the document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/characterSet" target="_blank">MDN</a>).
            <br /><br />

            <b>GetCompatMode</b>: Indicates whether the document is rendered in quirks or strict mode
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/compatMode" target="_blank">MDN</a>).
            <br /><br />

            <b>GetContentType</b>: Returns the Content-Type from the MIME Header of the current document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/contentType" target="_blank">MDN</a>).
            <br /><br />

            <b>GetDocumentURI</b>: Returns the document location as a string
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/documentURI" target="_blank">MDN</a>).
            <br /><br />

            <b>SetDesignMode</b>, <b>GetDesignMode</b>: Gets/Sets ability to edit the whole document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/designMode" target="_blank">MDN</a>).
            <br /><br />

            <b>SetDir</b>, <b>GetDir</b>: Gets/Sets directionality (rtl/ltr) of the document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/dir" target="_blank">MDN</a>).
            <br /><br />

            <b>SetTitle</b>, <b>GetTitle</b>: Gets/Sets the title of the current document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/title" target="_blank">MDN</a>).
            <br /><br />

            <b>GetReferrer</b>: Returns the URI of the page that linked to this page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/referrer" target="_blank">MDN</a>).
            <br /><br />

            <b>GetUrl</b>: Returns the document location as a string
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/URL" target="_blank">MDN</a>).
            <br /><br />

            <b>ExitFullscreen</b>: Stops document's fullscreen element from being displayed fullscreen
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/exitFullscreen" target="_blank">MDN</a>).
            <br /><br />

            <b>ExitPointerLock</b>: Release the pointer lock
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/exitPointerLock" target="_blank">MDN</a>).
        </div>
    </section>
</div>

<NavigationButtons Prev="Window" PrevUrl="/butil/window" Next="Keyboard" NextUrl="/butil/keyboard" />
