@page "/butil"
@page "/butil/overview"
@inherits AppComponentBase

<PageOutlet Url="butil/overview"
            Title="Overview - Butil"
            Description="overview of the bit Butil" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Butil</BitText>
    <br />
    <BitText Typography="BitTypography.H5" Gutter>Blazor Utilities for JavaScript</BitText>
    <BitText Typography="BitTypography.Subtitle1">
        Embracing Blazor because of your love for C#?
    </BitText>

    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>What is bit Butil?</BitText>
        <div class="section-card-txt">
            Butil enables you to stay true to that sentiment by providing essential Browser APIs in C#,
            eliminating the need to revert to JavaScript for any functionality.
            <br /><br />
            bit Butil helps C# developers to access the browser APIs that are only accessible through JavaScript in C#.
        </div>
    </section>

    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Supported browsers</BitText>
        <div class="section-card-txt">
            Blazor is supported in the browsers shown in the following list on both mobile and desktop platforms:
            <br />
            <ul dir="auto">
                <li>Apple Safari (Current version)</li>
                <li>Google Chrome (Current version)</li>
                <li>Microsoft Edge (Current version)</li>
                <li>Mozilla Firefox	(Current version)</li>
            </ul>
        </div>
    </section>

    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Supported platforms</BitText>
        <div class="section-card-txt">
            Blazor Hybrid apps have the following additional platform requirements:
            <br />
            <ul dir="auto">
                <li>Android 7.1 (API Level 24) or higher</li>
                <li>iOS 15 or higher</li>
                <li>macOS 12 (Monterey) or higher</li>
                <li>Windows 7 SP1 or higher</li>
            </ul>
        </div>
    </section>

    <br />
</div>

<NavigationButtons Next="Install" NextUrl="/butil/install" />