@page "/butil/console"
@inherits AppComponentBase

<PageOutlet Url="butil/console"
            Title="Console - Butil"
            Description="Console class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Console</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Console class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser console features you need to inject the Bit.Butil.Console class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Console console

@@code {
    console.Log("This is a test log:", someValue);
    console.Assert(condition, "The condition failed!", testedValue);
    console.Error("This is a test error:", value);
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>Assert</b>: Log a message and stack trace to console if the first argument is false
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/assert_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Clear</b>: Clear the console
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/clear_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Count</b>: Log the number of times this line has been called with the given label
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/count_static" target="_blank">MDN</a>).
            <br /><br />

            <b>CountReset</b>: Resets the value of the counter with the given label
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/countreset_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Debug</b>: Outputs a message to the console with the log level debug
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/debug_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Dir</b>: Displays an interactive listing of the properties of a specified JavaScript object
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/dir_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Dirxml</b>: Displays an XML/HTML Element representation of the specified object if possible or the JavaScript Object view if it is not possible
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/dirxml_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Error</b>: Outputs an error message. You may use string substitution and additional arguments with this method
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/error_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Group</b>: Creates a new inline group, indenting all following output by another level. To move back out a level, call console.groupEnd()
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/group_static" target="_blank">MDN</a>).
            <br /><br />

            <b>GroupCollapsed</b>: Creates a new inline group, indenting all following output by another level. However, unlike console.group() this starts with the inline group collapsed requiring the use of a disclosure button to expand it. To move back out a level, call console.groupEnd()
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/groupcollapsed_static" target="_blank">MDN</a>).
            <br /><br />

            <b>GroupEnd</b>: Exits the current inline group
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/groupend_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Info</b>: Informative logging of information. You may use string substitution and additional arguments with this method
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/info_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Log</b>: For general output of logging information. You may use string substitution and additional arguments with this method
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/log_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Log</b>: For general output of logging information. You may use string substitution and additional arguments with this method
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/log_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Profile</b>: Starts the browser's built-in profiler (for example, the Firefox performance tool). You can specify an optional name for the profile
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/profile_static" target="_blank">MDN</a>).
            <br /><br />

            <b>ProfileEnd</b>: Stops the profiler. You can see the resulting profile in the browser's performance tool (for example, the Firefox performance tool)
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/profileend_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Time</b>: Starts a timer with a name specified as an input parameter. Up to 10,000 simultaneous timers can run on a given page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/time_static" target="_blank">MDN</a>).
            <br /><br />

            <b>TimeEnd</b>: Stops the specified timer and logs the elapsed time in milliseconds since it started
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/timeend_static" target="_blank">MDN</a>).
            <br /><br />

            <b>TimeLog</b>: Logs the value of the specified timer to the console
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/timelog_static" target="_blank">MDN</a>).
            <br /><br />

            <b>TimeStamp</b>: Adds a marker to the browser performance tool's timeline
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/timestamp_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Trace</b>: Outputs a stack trace
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/trace_static" target="_blank">MDN</a>).
            <br /><br />

            <b>Warn</b>: Outputs a warning message
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/console/warn_static" target="_blank">MDN</a>).
        </div>
    </section>
</div>

<NavigationButtons Prev="Keyboard" PrevUrl="/butil/keyboard" Next="History" NextUrl="/butil/history" />
