@page "/butil"
@page "/butil/overview"
@inherits AppComponentBase

<PageOutlet Url="butil/overview"
            Title="Overview - Butil"
            Description="overview of the bit Butil" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Butil</BitText>
    <br />
    <BitText Typography="BitTypography.H5" Gutter>Blazor Utilities for JavaScript</BitText>
    <BitText Typography="BitTypography.Subtitle1">
        Embracing Blazor because of your love for C#? 
        <br /><br />
        Butil enables you to stay true to that sentiment by providing essential Browser APIs in C#, 
        eliminating the need to revert to JavaScript for any functionality.
        <br /><br />
        bit Butil helps C# developers to access the browser APIs that are only accessible through JavaScript in C#.
    </BitText>
    <br />
    <BitText Typography="BitTypography.H6" Gutter>Supported browsers</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor is supported in the browsers shown in the following list on both mobile and desktop platforms.
                </BitText>
                <ul dir="auto">
                    <li>Apple Safari (Current† version)</li>
                    <li>Google Chrome (Current† version)</li>
                    <li>Microsoft Edge (Current† version)</li>
                    <li>Mozilla Firefox	(Current† version)</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <BitText Typography="BitTypography.H6" Gutter>Supported platforms</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor Hybrid apps have the following additional platform requirements:
                </BitText>
                <ul dir="auto">
                    <li>Android 7.1 (API Level 24) or higher</li>
                    <li>iOS 15 or higher</li>
                    <li>macOS 12 (Monterey) or higher</li>
                    <li>Windows 7 SP1 or higher</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
</div>

<NavigationButtons Next="Install" NextUrl="/butil/install" />