@page "/butil/install"
@inherits AppComponentBase

<PageOutlet Url="butil/install"
            Title="Install - Butil"
            Description="installing the bit Butil" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Install bit Butil</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1" Gutter>
        How to install the bit Butil?
    </BitText>
    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>CLI</BitText>
        <div class="section-card-txt">
            Open the command line of your choice and run the following command: 
            <CodeBox>dotnet add package Bit.Butil</CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Visual Studio</BitText>
        <br />
        <div class="section-card-txt">
            Open your Visual Studio's Manage NuGet Packages window and install the Bit.Butil package:
            <br />
            <br />
            <img src="/images/butil/install-visualstudio.webp" class="butil-img" />
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/butil/overview" Next="Setup" NextUrl="/butil/setup" />
