@page "/butil/setup"
@inherits AppComponentBase

<PageOutlet Url="butil/setup"
            Title="Setup - Butil"
            Description="Setting the bit Butil up" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Setup bit Butil</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1" Gutter>
        How to install the bit Butil?
    </BitText>
    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Script</BitText>
        <div class="section-card-txt">
            Add the following script tag to your default document:
            <CodeBox>&lt;script src="_content/Bit.Butil/bit-butil.js">&lt;/script></CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Service</BitText>
        <div class="section-card-txt">
            Add the following line to register the bit Butil services:
            <CodeBox>builder.Services.AddBitButilServices();</CodeBox>
            Now you can inject its classes to use the bit Butil tools.
        </div>
    </section>
</div>

<NavigationButtons Prev="Install" PrevUrl="/butil/install" Next="Crypto" NextUrl="/butil/crypto" />
