@page "/butil/overview"
@inherits AppComponentBase

<PageOutlet Url="butil/overview"
            Title="Overview - Butil"
            Description="overview of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Butil</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.H5" Gutter>Blazor Utilities for JavaScript</BitTypography>

    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        Embracing Blazor because of your love for C#? 
        <br /><br />
        Butil enables you to stay true to that sentiment by providing essential Browser APIs in C#, 
        eliminating the need to revert to JavaScript for any functionality.
        <br /><br />
        bit Butil helps C# developers to access the browser APIs that are only accessible through JavaScript in C#.
    </BitTypography>

    <br />

</div>

<NavigationButtons Next="Install" NextUrl="/butil/install" />
