@page "/butil/document"
@inherits AppComponentBase

<PageOutlet Url="butil/document"
            Title="Document - Butil"
            Description="Document class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Document</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Document class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser document features you need to inject the Bit.Butil.Document class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Document document

@@code {
    await document.AddEventListener(ButilEvents.Click, args => { ... });
    await document.SetTitle("New shinny title");
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>GetCharacterSet</b>: Returns the character set being used by the document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/characterSet" target="_blank">MDN</a>).
            <br /><br />
            <b>GetCompatMode</b>: Indicates whether the document is rendered in quirks or strict mode
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/compatMode" target="_blank">MDN</a>).
            <br /><br />
            <b>GetInnerWidth</b>: Gets the width of the content area of the browser window in px including, if rendered, the vertical scrollbar
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/innerWidth" target="_blank">MDN</a>).
            <br /><br />
            <b>GetContentType</b>: Returns the document location as a string
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/documentURI" target="_blank">MDN</a>).
            <br /><br />
            <b>GetDesignMode</b>: Gets ability to edit the whole document
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/designMode" target="_blank">MDN</a>).
        </div>
    </section>
</div>

<NavigationButtons Prev="Window" PrevUrl="/butil/window" Next="Keyboard" NextUrl="/butil/keyboard" />
