@page "/butil/navigator"
@inherits AppComponentBase

<PageOutlet Url="butil/navigator"
            Title="Navigator - Butil"
            Description="Navigator class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Navigator</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Navigator class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser navigator features you need to inject the Bit.Butil.Navigator class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Navigator navigator

@@code {
    var userAgent = await navigator.GetUserAgent();
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
        </div>
    </section>
</div>

<NavigationButtons Prev="Element" PrevUrl="/butil/element" Next="Storage" NextUrl="/butil/storage" />
