@page "/butil/navigator"
@inherits AppComponentBase

<PageOutlet Url="butil/navigator"
            Title="Navigator - Butil"
            Description="Navigator class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Navigator</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Navigator class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser navigator features you need to inject the Bit.Butil.Navigator class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Navigator navigator

@@code {
    var userAgent = await navigator.GetUserAgent();
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>GetDeviceMemory</b>: Returns the amount of device memory in gigabytes. This value is an approximation given by rounding to the nearest power of 2 and dividing that number by 1024
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/deviceMemory" target="_blank">MDN</a>).
            <br /><br />

            <b>GetHardwareConcurrency</b>: Returns the number of logical processor cores available
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/hardwareConcurrency" target="_blank">MDN</a>).
            <br /><br />

            <b>GetLanguage</b>: Returns a string representing the preferred language of the user, usually the language of the browser UI. The null value is returned when this is unknown
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/language" target="_blank">MDN</a>).
            <br /><br />

            <b>GetLanguages</b>: Returns an array of strings representing the languages known to the user, by order of preference
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/languages" target="_blank">MDN</a>).
            <br /><br />

            <b>GetMaxTouchPoints</b>: Returns the maximum number of simultaneous touch contact points are supported by the current device
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/maxTouchPoints" target="_blank">MDN</a>).
            <br /><br />

            <b>IsOnLine</b>: Returns a boolean value indicating whether the browser is working online
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/onLine" target="_blank">MDN</a>).
            <br /><br />

            <b>IsPdfViewerEnabled</b>: Returns true if the browser can display PDF files inline when navigating to them, and false otherwise
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/pdfViewerEnabled" target="_blank">MDN</a>).
            <br /><br />

            <b>GetUserAgent</b>: Returns the user agent string for the current browser
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/userAgent" target="_blank">MDN</a>).
            <br /><br />

            <b>IsWebDriver</b>: Indicates whether the user agent is controlled by automation
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/webdriver" target="_blank">MDN</a>).
            <br /><br />

            <b>CanShare</b>: Returns true if a call to Navigator.share() would succeed
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/canShare" target="_blank">MDN</a>).
            <br /><br />

            <b>ClearAppBadge</b>: Clears a badge on the current app's icon and returns a Promise that resolves with undefined
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/clearAppBadge" target="_blank">MDN</a>).
            <br /><br />

            <b>SendBeacon</b>: Used to asynchronously transfer a small amount of data using HTTP from the User Agent to a web server
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon" target="_blank">MDN</a>).
            <br /><br />

            <b>SetAppBadge</b>: Sets a badge on the icon associated with this app and returns a Promise that resolves with undefined
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/setAppBadge" target="_blank">MDN</a>).
            <br /><br />

            <b>Share</b>: Invokes the native sharing mechanism of the current platform
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share" target="_blank">MDN</a>).
            <br /><br />

            <b>Vibrate</b>: Causes vibration on devices with support for it. Does nothing if vibration support isn't available
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/vibrate" target="_blank">MDN</a>).
        </div>
    </section>
</div>

<NavigationButtons Prev="Element" PrevUrl="/butil/element" Next="Storage" NextUrl="/butil/storage" />
