@page "/butil/storage"
@inherits AppComponentBase

<PageOutlet Url="butil/storage"
            Title="Storage - Butil"
            Description="Storage class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Storage</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Storage class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser storage features you need to inject the Bit.Butil.Storage class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.LocalStorage localStorage
@@inject Bit.Butil.SessionStorage sessionStorage

@@code {
    await localStorage.setItem("my-key", "my-value");
    await sessionStorage.setItem("my-key2", "my-value2");
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>GetLength</b>: Returns an integer representing the number of data items stored in the Storage object
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/length" target="_blank">MDN</a>).
            <br /><br />

            <b>GetKey</b>: When passed a number n, this method will return the name of the nth key in the storage
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/userAgent" target="_blank">MDN</a>).
            <br /><br />

            <b>GetItem</b>: When passed a key name, will return that key's value
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/getItem" target="_blank">MDN</a>).
            <br /><br />

            <b>SetItem</b>: When passed a key name and value, will add that key to the storage, or update that key's value if it already exists
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/setItem" target="_blank">MDN</a>).
            <br /><br />

            <b>RemoveItem</b>: When passed a key name, will remove that key from the storage
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/removeItem" target="_blank">MDN</a>).
            <br /><br />

            <b>Clear</b>: When invoked, will empty all keys out of the storage
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage/clear" target="_blank">MDN</a>).
            <br /><br />
        </div>
    </section>
</div>

<NavigationButtons Prev="Navigator" PrevUrl="/butil/navigator" Next="Location" NextUrl="/butil/location" />
