@page "/butil/overview"
@inherits AppComponentBase

<PageOutlet Url="butil/overview"
            Title="Overview - Butil"
            Description="overview of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Butil</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.H5" Gutter>Blazor Utilities for JavaScript</BitTypography>
    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        Embracing Blazor because of your love for C#? 
        <br /><br />
        Butil enables you to stay true to that sentiment by providing essential Browser APIs in C#, 
        eliminating the need to revert to JavaScript for any functionality.
        <br /><br />
        bit Butil helps C# developers to access the browser APIs that are only accessible through JavaScript in C#.
    </BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>Supported browsers</BitTypography>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                    Blazor WASM, Blazor Server and Blazor Auto are supported in the browsers shown in the following list on both mobile and desktop platforms.
                </BitTypography>
                <ul dir="auto">
                    <li>Apple Safari (Current† version)</li>
                    <li>Google Chrome (Current† version)</li>
                    <li>Microsoft Edge (Current† version)</li>
                    <li>Mozilla Firefox	(Current† version)</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>Supported platforms</BitTypography>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                    Blazor Hybrid apps have the following additional platform requirements:
                </BitTypography>
                <ul dir="auto">
                    <li>Android 7.1 (API Level 24) or higher</li>
                    <li>iOS 15 or higher</li>
                    <li>macOS 12 (Monterey) or higher</li>
                    <li>Windows 7 SP1 or higher</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
</div>

<NavigationButtons Next="Install" NextUrl="/butil/install" />