@page "/butil/location"
@inherits AppComponentBase

<PageOutlet Url="butil/location"
            Title="Location - Butil"
            Description="Location class of the bit Butil" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Location</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        How to use the Location class of the bit Butil?
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Usage</BitTypography>
        <div class="section-card-txt">
            To use the browser location features you need to inject the Bit.Butil.Location class and use it like this:
<pre class="code-box">
@@inject Bit.Butil.Location location

@@code {
    await location.Reload();
}</pre>
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Methods</BitTypography>
        <div class="section-card-txt">
            <b>SetHref</b>, <b>GetHref</b>: Gets/Sets the href of the location andn then the associated document navigates to the new page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/href" target="_blank">MDN</a>).
            <br /><br />

            <b>SetProtocol</b>, <b>GetProtocol</b>: Gets/Sets a string containing the protocol scheme of the URL, including the final ':'
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/protocol" target="_blank">MDN</a>).
            <br /><br />

            <b>SetHost</b>, <b>GetHost</b>: Gets/Sets a string containing the host, that is the hostname, a ':', and the port of the URL
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/host" target="_blank">MDN</a>).
            <br /><br />

            <b>SetHostname</b>, <b>GetHostname</b>: Gets/Sets the hostname of the location and then the associated document navigates to the new page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/hostname" target="_blank">MDN</a>).
            <br /><br />

            <b>SetPort</b>, <b>GetPort</b>: Gets/Sets the port of the location and then the associated document navigates to the new page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/port" target="_blank">MDN</a>).
            <br /><br />

            <b>SetPathname</b>, <b>GetPathname</b>: Gets/Sets a string containing an initial '/' followed by the path of the URL, not including the query string or fragment
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/pathname" target="_blank">MDN</a>).
            <br /><br />

            <b>SetSearch</b>, <b>GetSearch</b>: Gets/Sets a string containing a '#' followed by the fragment identifier of the URL
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/pathname" target="_blank">MDN</a>).
            <br /><br />

            <b>SetHash</b>, <b>GetHash</b>: Gets/Sets the hash of the location and then the associated document navigates to the new page
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/hash" target="_blank">MDN</a>).
            <br /><br />
            
            <b>GetOrigin</b>: Returns a string containing the canonical form of the origin of the specific location
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/origin" target="_blank">MDN</a>).
            <br /><br />
            
            <b>Assign</b>: Loads the resource at the URL provided in parameter
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/assign" target="_blank">MDN</a>).
            <br /><br />
            
            <b>Reload</b>: Reloads the current URL, like the Refresh button
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/reload" target="_blank">MDN</a>).
            <br /><br />
            
            <b>Replace</b>: Replaces the current resource with the one at the provided URL (redirects to the provided URL)
            (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Location/replace" target="_blank">MDN</a>).
        </div>
    </section>
</div>

<NavigationButtons Prev="Storage" PrevUrl="/butil/storage" Next="Screen" NextUrl="/butil/screen" />
