@page "/components/link"

<ComponentDemo ComponentName="Link"
               ComponentDescription="Links lead to another part of an app, other pages, or help articles. They can also be used to initiate commands."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="BitLink" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a link you can use a BitLink component.</div>
            <div class="example-box">
                <BitLink Href="https://github.com/bitfoundation/bitplatform">Basic Link</BitLink>
                <BitLink Href="https://github.com/bitfoundation/bitplatform" IsEnabled="false">Disabled Link</BitLink>
                <BitLink Href="https://github.com/bitfoundation/bitplatform" Target="_blank">Blank Target Link</BitLink>
                <BitLink Href="https://github.com/bitfoundation/bitplatform" HasUnderline="true">Underlined link</BitLink>
                <BitLink OnClick="LinkOnClick">Link with OnClick</BitLink>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>