@*+:cnd:noEmit*@
@attribute [Route(PageUrls.SignIn)]
@attribute [Route("{culture?}" + PageUrls.SignIn)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.SignInPageTitle)]" />

<section>
    <SignInPanel SignInPanelType="SignInPanelType.Full" />
</section>
