@import '../../../../Styles/abstracts/_media-queries.scss';
@import '../../../../Styles/abstracts/_bit-css-variables.scss';

section {
    height: 100%;
    overflow: auto;
    max-height: $bit-env-height-available;

    @include lt-sm {
        width: $bit-env-width-available;
        height: $bit-env-height-available;
    }
}

::deep {
    form {
        width: 304px;
    }

    .header-stack {
        padding-top: 1rem;
        padding-inline-end: 1rem;
    }

    .stack {
        padding: 3rem;
        padding-top: 0;
    }
}
