@*+:cnd:noEmit*@
@attribute [Route(Urls.SignInPage)]
@attribute [Route("{culture?}" + Urls.SignInPage)]
@inherits AppPageBase

<PageTitle>@Title</PageTitle>

<section>
    <BitStack HorizontalAlign="BitAlignment.Center" FillContent>
        <EditForm Model="model" OnSubmit="WrapHandled(DoSignIn)" novalidate>
            <AppDataAnnotationsValidator @ref="validatorRef" />

            <BitStack HorizontalAlign="BitAlignment.Center">
                @if (requiresTwoFactor is false)
                {
                    @if (isOtpSent is false)
                    {
                        <SignInPanel Model="model"
                                     IsWaiting="isWaiting"
                                     OnSendOtp="HandleOnSendOtp"
                                     OnSocialSignIn="HandleOnSocialSignIn"
                                     OnTabChange="HandleOnSignInPanelTabChange"
                                     OnPasswordlessSignIn="HandleOnPasswordlessSignIn" />
                    }
                    else
                    {
                        <OtpPanel Model="model"
                                  OnSignIn="DoSignIn"
                                  IsWaiting="isWaiting"
                                  ShowSignInPanel="ShowSignInPanel"
                                  OnResendOtp="HandleOnResendOtp" />
                    }
                }
                else
                {
                    <TfaPanel Model="model"
                              IsWaiting="isWaiting"
                              OnTokenProvided="DoSignIn"
                              ShowSignInPanel="ShowSignInPanel"
                              OnSendTfaToken="HandleOnSendTfaToken" />
                }
            </BitStack>
        </EditForm>
    </BitStack>
</section>
