@import '../../../../Styles/abstracts/_media-queries.scss';
@import '../../../../Styles/abstracts/_bit-css-variables.scss';

section {
    height: 100%;
    padding: 3rem;
    overflow: auto;
    position: relative;
    max-height: $bit-env-height-available;

    @include lt-sm {
        width: $bit-env-width-available;
        height: $bit-env-height-available;
    }
}

::deep {
    form {
        width: 304px;

        @include lt-md {
            width: unset;
        }
    }

    .close-btn {
        top: 1rem;
        position: absolute;
        inset-inline-end: 1rem;
    }
}
