@*+:cnd:noEmit*@
@attribute [Route(Urls.SignInPage)]
@attribute [Route("{culture?}" + Urls.SignInPage)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.SignInPageTitle)]</PageTitle>

<section>
    <BitStack HorizontalAlign="BitAlignment.Center" FillContent>
        <EditForm Model="model" OnSubmit="WrapHandled(DoSignIn)" novalidate>
            <AppDataAnnotationsValidator @ref="validatorRef" />

            <BitStack HorizontalAlign="BitAlignment.Center">
                @if (requiresTwoFactor is false)
                {
                    @if (isOtpSent is false)
                    {
                        <SignInPanel IsWaiting="isWaiting" Model="model" OnSocialSignIn="SocialSignIn" OnSendOtp="SendOtp" OnTabChange="HandleOnSignInPanelTabChange" />
                    }
                    else
                    {
                        <OtpPanel IsWaiting="isWaiting" Model="model" OnSignIn="DoSignIn" OnResendOtp="ResendOtp" />
                    }
                }
                else
                {
                    <TfaPanel IsWaiting="isWaiting" Model="model" OnSendTfaToken="SendTfaToken" />
                }
            </BitStack>
        </EditForm>
    </BitStack>
</section>
