@import "_colors.fluent.scss", "_functions.scss";

.bit-button {
    font-family: BitButtonFont;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: em(2px);
    padding: em(6px) em(20px);
    font-size: rem(14px);
    font-weight: 600;
    line-height: em(20px);
    color: $White;
    background: $Primary;
    cursor: pointer;

    &:hover {
        background-color: $DarkAlt;
    }

    &:active {
        background-color: $Dark;
    }

    &:active:focus {
        background-color: $Primary;
    }
}

.disabled {
    background: $Grey20;
    color: $Grey90;
    cursor: default;
    pointer-events: none;
}
