@import '../../../Styles/abstracts/_colors.scss';
@import '../../../Styles/abstracts/_functions.scss';
@import '../../../Styles/abstracts/_media-queries.scss';

.validation-summary {
    border-left: rem(5px) solid $Red10;
    background-color: $ErrorBlockRed;
    overflow: hidden;
    margin-bottom: rem(10px);

    .validation-errors {
        margin: rem(5px);
    }
}

::deep div.validation-message {
    color: $Red20;
    font-size: rem(12px);
}


.rbl-box {
    display: flex;
    gap: rem(30px);

    @include sm {
        flex-direction: column;
    }

    .rbl-output {
        display: flex;
        align-items: center;
        gap: rem(5px);
        margin-top: rem(20px);
        font-weight: 600;
        font-size: rem(16px);
    }
}

.custom-label {
    font-weight: bold;
    color: $Red20;
}

.custom-item {
    display: flex;
    align-items: center;
    gap: rem(10px);
    cursor: pointer;

    .radio-pointer {
        width: rem(20px);
        height: rem(20px);
        border: 1px solid;
        border-radius: rem(10px);
    }

    &:hover {
        .radio-pointer {
            border-top: rem(5px) solid #C66;
            border-bottom: rem(5px) solid #6C6;
            border-left: rem(5px) solid #66C;
            border-right: rem(5px) solid #CC6;
        }
    }

    &.selected-item {
        color: #C66;

        .radio-pointer {
            border-top: rem(10px) solid #C66;
            border-bottom: rem(10px) solid #6C6;
            border-left: rem(10px) solid #66C;
            border-right: rem(10px) solid #CC6;
        }
    }
}