.tags-container {
    gap: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.tags-container-grid {
    gap: 0.5rem;
    display: grid;
}

::deep {
    .custom-class {
        border-radius: 0.25rem;
        box-shadow: aqua 0 0 0.5rem;
    }

    .custom-root {
        color: mediumpurple;
        border-color: mediumpurple;
        border-radius: 0.5rem;
        box-shadow: mediumpurple 0 0 0.5rem;
    }

    .custom-icon {
        font-size: 1.25rem;
        font-weight: bolder;
    }

    .custom-dismiss {
        margin: 0.25rem;
        border-radius: 50%;
        border: 1px solid mediumpurple;
    }
}