@page "/components/accordion"

<ComponentDemo ComponentName="Accordion">

    <ComponentExampleBox Title="BitAccordion" ExampleId="example1">
        <ExamplePreview>

            <BitAccordion Title="item-1"
                          Description="@isExpanded_1.ToString()"
                          Text="hello world!"
                          DefaultIsExpanded="true"
                          @bind-IsExpanded="isExpanded_1" />

            <div style="margin: 5px 0;"></div>

            <BitAccordion Title="item-1"
                          Description="@isExpanded_1.ToString()"
                          Text="hello world!"
                          DefaultIsExpanded="true"
                          IsEnabled="false" />

            <div style="margin: 5px 0;"></div>

            <BitAccordion @bind-IsExpanded="isExpanded_2">
                <HeaderTemplate Context="isExpanded">
                    <div>
                        @if (isExpanded)
                        {
                            <BitIconButton IconName="BitIconName.Sad" />
                            <span>close me!</span>
                        }
                        else
                        {
                            <BitIconButton IconName="BitIconName.Accept" />
                            <span>open me!</span>
                        }
                    </div>
                    <span>@isExpanded_2</span>
                </HeaderTemplate>
                <ContentTemplate>
                    <BitCarousel AnimationDuration="2">
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img1.jpg">
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img2.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img3.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img4.jpg" />
                        </BitCarouselItem>
                    </BitCarousel>
                </ContentTemplate>
            </BitAccordion>

        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>