@page "/components/accordion"

<ComponentDemo ComponentName="Accordion">

    <ComponentExampleBox Title="BitAccordion" ExampleId="example1">
        <ExamplePreview>
            <BitAccordion Items="@BitAccordionItems" OnlyOneIsExpand="true">

            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    public List<BitAccordionItem> BitAccordionItems { get; set; } = new List<BitAccordionItem>
    {
        new BitAccordionItem
        {
            Title = "title-1",
            Description = "A simple description",
            Text = "BitDataGrid is a robust way to display an information-rich collection of items, and allow people to sort, and filter the content. Use a data-grid when information density is critical."
        },
        new BitAccordionItem
        {
            Title = "title-2",
            Text = "BitDataGrid is a robust way to display an information-rich collection of items, and allow people to sort, and filter the content. Use a data-grid when information density is critical.",
            IsEnabled = false,
        },
        new BitAccordionItem
        {
            Title = "title-3",
            Text = "BitDataGrid is a robust way to display an information-rich collection of items, and allow people to sort, and filter the content. Use a data-grid when information density is critical.",
            IsExpanded = true
        },
        new BitAccordionItem
        {
            Title = "title-4",
            Text = "BitDataGrid is a robust way to display an information-rich collection of items, and allow people to sort, and filter the content. Use a data-grid when information density is critical.",
            Description = "Html content!",
            Content = (
                @<div>
                    <BitButton>Add</BitButton>
                    <BitButton>Edit</BitButton>
                    <BitButton>Delete</BitButton>

                    <div style="margin: 20px 0;"></div>

                    <BitCarousel>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img1.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img2.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img3.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img class="image" src="/images/carousel/img4.jpg" />
                        </BitCarouselItem>
                    </BitCarousel>
                </div>
            )
        },
    };
}