@page "/analytics"
@attribute [Authorize]

@inherits AppComponentBase;

<div class="page-container">

    <OverallStatsWidget />

    <div class="row">
        <div class="col">
            <ProductsCountPerCategotyWidget />
        </div>

        <div class="col">
            <ProductsPercentageWidget/>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <ProductsSalesWidget />
        </div>
    </div>
</div>