@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_colors.scss';
@import '../../Styles/abstracts/_media-queries.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.page-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: rem(24px);
}