@inherits AppComponentBase;

<div class="card">
    <div class="card-header">
        @AppStrings.ProductSales
    </div>
    <div class="card-body">
       @if (IsLoading)
        {
            <div class="spinner">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }
        <BitChart Config="_config" @ref="_chart" />
    </div>
</div>


