@inherits AppComponentBase;

<div class="card">
    <div class="card-header">
        <div class="title">@AppStrings.ProductsCountPerCategoryChart</div>
        <div class="subtitle">@AppStrings.ProductsCountPerCategoryChartText</div>
    </div>
    <div class="card-body">
        @if (IsLoading)
        {
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        }
        else
        {
            <BitChart Config="_config" @ref="_chart" />
        }
    </div>
</div>


