<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" enablePrefetchOptimization="true" optimizeCompilations="true" targetFramework="4.7">
      <assemblies>
        <remove assembly="*" />
      </assemblies>
    </compilation>
    <httpRuntime requestPathInvalidCharacters="*" targetFramework="4.7" enableVersionHeader="false" />
    <httpModules>
      <clear />
    </httpModules>
    <httpHandlers>
      <clear />
    </httpHandlers>
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="Session" />
      <remove name="FormsAuthentication" />
      <remove name="DefaultAuthentication" />
      <remove name="RoleManager" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="UrlMappingsModule" />
      <remove name="ServiceModel-4.0" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="ScriptModule-4.0" />
      <remove name="WebDAVModule"/>
      <!--<remove name="DigestAuthenticationModule" />-->
      <!--<remove name="WebMatrixSupportModule"/>-->
      <!--<remove name="BasicAuthenticationModule"/>-->
      <!--<remove name="UrlAuthorizationModule" />-->
      <!--<remove name="IsapiModule" />-->
      <!--<remove name="IsapiFilterModule" />-->
      <!--<remove name="WindowsAuthenticationModule" />-->
      <!--<remove name="ServerSideIncludeModule" />-->
      <!--<remove name="DirectoryListingModule" />-->
      <!--<remove name="DefaultDocumentModule" />-->
      <!--<remove name="CustomErrorModule" />-->
      <!--<remove name="CgiModule" />-->
      <!--<remove name="FastCgiModule"/>-->
    </modules>
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <handlers>
      <clear />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
  </system.webServer>
</configuration>