<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net462" />
  <package id="Autofac" version="4.5.0" targetFramework="net462" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net462" />
  <package id="FakeItEasy" version="3.2.0" targetFramework="net462" />
  <package id="IdentityModel" version="2.7.0" targetFramework="net462" />
  <package id="IdentityServer3" version="2.6.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Diagnostics" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.SelfHost" version="3.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net462" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>