@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

::deep {
    .app-menu-callout {
        width: 20rem;
        max-width: calc(100vw - 1rem);

        @include lt-sm {
            height: unset;
            box-shadow: none;
            width: min(20rem, 75vw);
            top: $bit-env-inset-top !important;
            bottom: $bit-env-inset-bottom !important;
            inset-inline-end: $bit-env-inset-inline-end !important;
        }
    }

    .app-menu-card {
        @include lt-sm {
            box-shadow: none;
        }
    }

    .persona {
        max-width: 12rem;
    }

    .persona-details {
        display: none;
    }


    .menu-chevron,
    .menu-displayname {
        @include lt-sm {
            display: none;
        }
    }

    .time-zone-list {
        width: 100%;
        height: min(50vh, 25rem);

        @include lt-sm {
            height: calc(100vh - 9rem);
            height: calc(100dvh - 9rem);
        }
    }

    .time-zone-item {
        height: 44px;
        flex-shrink: 0;
        align-items: center;
        padding: 0 0.5rem;

        .bit-acb-inn {
            width: 100%;
        }
    }

    .time-zone-item-text {
        overflow: hidden;
        direction: ltr;
        text-align: start;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: $bit-typography-body2-font-size;
        line-height: 1.25rem;

        &.selected {
            font-weight: bold;
        }
    }

    .time-zone-empty {
        display: block;
        padding: 1rem 0.5rem;
    }

    .accent-color-switcher {
        width: 100%;
        padding: 0 8px;
        --bit-acs-gap: 8px;
        --bit-acs-size: 20px;
    }

    .menu-icon {
        width: 32px;
        height: 32px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: $bit-color-info-text;
        background: $bit-color-info;
    }
}
