@import "../../Styles/functions.scss";

.bit-spn {
    display: flex;
    gap: spacing(1);
    justify-content: center;

    @keyframes bit-spn-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.bit-spn-snr {
    border-radius: 50%;
    animation: bit-spn-animation 1.3s linear infinite;
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
    border-width: spacing(0.1875);
    border-style: $shape-border-style;
    border-color: $color-border-secondary;
    border-top-color: $color-primary-main;
}

.bit-spn-lbl {
    text-align: center;
    font-size: spacing(1.5);
    color: $color-primary-main;
    margin: spacing(0.25) spacing(1);
}

.bit-spn-alb {
    border: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: spacing(0.125);
    height: spacing(0.125);
    margin: spacing(-0.125);
}

.bit-spn-xs {
    .bit-spn-snr {
        width: spacing(1.5);
        height: spacing(1.5);
    }
}

.bit-spn-sm {
    .bit-spn-snr {
        width: spacing(2);
        height: spacing(2);
    }
}

.bit-spn-md {
    .bit-spn-snr {
        width: spacing(2.5);
        height: spacing(2.5);
    }
}

.bit-spn-lg {
    .bit-spn-snr {
        width: spacing(3.5);
        height: spacing(3.5);
    }
}

.bit-spn-top {
    align-items: center;
    flex-direction: column-reverse;
}

.bit-spn-srt {
    align-items: center;
    flex-direction: row-reverse;
}

.bit-spn-end {
    align-items: center;
    flex-direction: row;
}

.bit-spn-btm {
    align-items: center;
    flex-direction: column;
}
