@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

@keyframes bit-spn-fluent {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bit-spn-fluent {
    display: flex;
    justify-content: center;

    & > div {
        &:first-child {
            animation: bit-spn-fluent 1.3s linear infinite;
            animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
            border: rem(16px) solid $Grey60;
            border-top: rem(16px) solid $Primary;
            border-radius: 50%;
            border-width: rem(1.5px);
        }

        &:nth-child(2) {
            color: $Primary;
            font-size: rem(12px);
            margin: rem(2px) rem(8px);
            text-align: center;
        }

        &[role="status"] {
            & > div {
                border: 0px;
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0px;
                position: absolute;
                width: 1px;
            }
        }
    }
}

.bit-spn-bottom-fluent {
    align-items: center;
    flex-direction: column-reverse;

    & > div {
        &:nth-child(2) {
            margin: 0 0 rem(8px);
        }
    }
}

.bit-spn-top-fluent {
    align-items: center;
    flex-direction: column;

    & > div {
        &:nth-child(2) {
            margin: rem(8px) 0 0;
        }
    }
}

.bit-spn-left-fluent {
    align-items: center;
    flex-direction: row;

    & > div {
        &:nth-child(2) {
            margin: 0 0 0 rem(8px);
        }
    }
}

.bit-spn-right-fluent {
    align-items: center;
    flex-direction: row-reverse;

    & > div {
        &:last-child {
            margin: 0 rem(8px) 0 0;
        }
    }
}

.bit-spn-large-fluent {
    & > div {
        &:first-child {
            height: rem(28px);
            width: rem(28px);
        }
    }
}

.bit-spn-medium-fluent {
    & > div {
        &:first-child {
            height: rem(20px);
            width: rem(20px);
        }
    }
}

.bit-spn-small-fluent {
    & > div {
        &:first-child {
            height: rem(16px);
            width: rem(16px);
        }
    }
}

.bit-spn-xSmall-fluent {
    & > div {
        &:first-child {
            height: rem(12px);
            width: rem(12px);
        }
    }
}
