@import "../../../Styles/Fluent/colors.fluent.scss", "../../../Styles/functions.scss";

.bit-btn {
    &.bit-btn-fluent {
        position: relative;
        min-width: rem(64px);
        border-radius: rem(2px);
        box-sizing: border-box;
        font-weight: 500;
        text-align: center;
        line-height: 1.75;
        text-decoration: none;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        cursor: pointer;
    }

    &.bit-btn-disabled-fluent {
        border: rem(1px) solid $Grey20;
        color: $Grey90;
        background: $Grey20;
        cursor: default;
        pointer-events: none;
    }

    &.standard {
        border: rem(1px) solid $GreyInputBorder;
        color: $Grey160;
        background: $White;

        &:hover {
            border-color: $Grey160;
            background-color: $Grey20;
        }

        &:active {
            background-color: $Grey30;
        }
    }

    &.primary {
        border: rem(1px) solid $Primary;
        color: $White;
        background: $Primary;

        &:hover {
            background-color: $DarkAlt;
        }

        &:active {
            background-color: $Dark;
        }
    }

    &.bit-btn-sm-fluent {
        padding: rem(4px) rem(10px);
        font-size: rem(13px);
    }

    &.bit-btn-md-fluent {
        padding: rem(6px) rem(16px);
        font-size: rem(14px);
    }

    &.bit-btn-lg-fluent {
        padding: rem(8px) rem(22px);
        font-size: rem(15px);
    }
}
