@import "../../../Styles/functions.scss";

.bit-btn {
    position: relative;
    min-width: spacing(8);
    box-sizing: border-box;
    font-family: $typography-button-font-family;
    font-weight: $typography-button-font-weight;
    line-height: $typography-button-line-height;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-width: $shape-border-width;
    border-style: $shape-border-style;
    border-radius: $shape-border-radius;

    &.disabled {
        border-color: $color-border-disabled;
        color: $color-text-disabled;
        background-color: $color-action-disabled;
        cursor: default;
        pointer-events: none;
    }

    &.standard {
        border-color: $color-border-secondary;
        color: $color-text-secondary;
        background-color: $color-secondary-main;

        &:hover {
            border-color: $color-action-borde-hover-secondary;
            background-color: $color-action-hover-secondary;
        }

        &:active {
            border-color: $color-action-borde-active-secondary;
            background-color: $color-action-active-secondary;
        }
    }

    &.primary {
        border-color: $color-border-primary;
        color: $color-text-primary;
        background: $color-primary-main;

        &:hover {
            border-color: $color-action-hover-primary;
            background-color: $color-action-hover-primary;
        }

        &:active {
            border-color: $color-action-active-primary;
            background-color: $color-action-active-primary;
        }
    }

    &.small {
        padding: spacing(0.5) spacing(1.25);
        font-size: spacing(1.625);
    }

    &.medium {
        padding: spacing(0.75) spacing(2);
        font-size: spacing(1.75);
    }

    &.large {
        padding: spacing(1) spacing(2.75);
        font-size: spacing(1.875);
    }
}