@*<div>
    <BswupProgress>
        <div class="bswup-container">
            <div class="bswup-title">Loading...</div>
            <div class="bswup-progress">
                <div id="bit-bswup-progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </BswupProgress>
</div>*@

<div>
    <BswupProgress HideApp=true AppContainer="#app-container">
        <div class="bswup-progress-text" />
        <svg class="bswup-container">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
    </BswupProgress>
</div>