@import '../styles/base/_base.scss';
@import '../styles/shared/_shared.scss';

//HEADER==================================================

.header-item {
    margin-left: rem(12px);
}

//HOME PAGE===============================================
.hero-section-cta {
    height: rem(34px);
    border: rem(1px) solid $White;
    color: $White;
    background-color: $SecondaryColor;

    &:hover {
        background-color: $SecondaryColor;
        border-color: $White;
    }
}

@media all and (max-width: #{em(370px)}) {
    .header-item--privacy {
        display: none;
    }
}
