@import "../../../Styles/functions.scss";

.bit-tglb {
    position: relative;
    display: inline-block;
    min-width: spacing(10);
    box-sizing: border-box;
    font-family: $typography-button-font-family;
    font-weight: $typography-button-font-weight;
    line-height: $typography-button-line-height;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-width: $shape-border-width;
    border-style: $shape-border-style;
    border-radius: $shape-border-radius;

    .content-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .text {
            display: block;
        }

        .bit-icon {
            margin: 0 spacing(0.5);
            text-align: center;
            flex-shrink: 0;
        }
    }

    &.standard {
        border-color: $color-border-secondary;
        color: $color-text-secondary;
        background-color: $color-secondary-main;

        &:hover {
            background-color: $color-action-hover-secondary;
            color: $color-neutrals-gray190;
        }

        &:active {
            background-color: $color-action-active-secondary;
            color: $color-neutrals-gray190;
        }

        &.checked {
            background-color: $color-neutrals-gray30;
            color: $color-neutrals-gray190;

            &:hover {
                background-color: $color-neutrals-gray30;
                color: $color-neutrals-black;
            }
        }
    }

    &.primary {
        border-color: $color-border-primary;
        color: $color-text-primary;
        background-color: $color-primary-main;

        &:hover {
            border-color: $color-action-hover-primary;
            background-color: $color-action-hover-primary;
        }

        &:active {
            border-color: $color-action-active-primary;
            background-color: $color-action-active-primary;
        }

        &.checked {
            background-color: $color-primary-darker;

            &:hover {
                border-color: $color-border-primary;
                background-color: $color-action-hover-primary;
            }

            &:active {
                border-color: $color-border-primary;
            }
        }
    }

    &.disabled {
        background-color: $color-action-disabled;
        color: $color-text-disabled;
        border-color: $color-border-disabled;
        cursor: default;
        pointer-events: none;

        .bit-icon {
            color: $color-neutrals-gray90;
        }

        &.primary {
            color: $color-neutrals-gray50;
        }
    }

    &.small {
        padding: spacing(0.25) spacing(1.25);
        font-size: spacing(1.5);
        line-height: spacing(2.75);
    }

    &.medium {
        padding: spacing(0.5) spacing(2);
        font-size: spacing(1.75);
        line-height: spacing(3.25);
    }

    &.large {
        padding: spacing(0.75) spacing(2.75);
        font-size: spacing(2);
        line-height: spacing(3.75);
    }
}