@using Bit.IdentityServer.Contracts
@using Bit.IdentityServer.Model
@inherits Bit.Owin.Implementations.RazorViewTemplate

@{
    LoginPageModel loginPageModel = Resolve<ILoginPageModelProvider>().GetLoginPageModel();
}

<!DOCTYPE html>
<html>

<head>
    <title>@(loginPageModel.AppTitle)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <base href="/" />

    <script src="ClientAppProfile"></script>
    <script src="Files/V@(loginPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.Core/bit.core.js"></script>
    <script src="Files/V@(loginPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS/bit.ng1.js"></script>
    <script src="Files/V@(loginPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS.Test/bit.ng1.test.js"></script>
    <script src="Files/V@(loginPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS.Tests/identity/bit.identity.tests.js"></script>
    <script type="text/javascript">
        Bit.DependencyManager.getCurrent().init();
    </script>

</head>

<body>

    <login></login>

    <script id="modelJson" type="application/json">
        {model}
    </script>

</body>

</html>