@namespace BlazorDual.Web
@inherits AppComponentBase

<AuthorizeView>
    <div class="main">
        <div><img src="/images/icons/error-triangle.svg" /></div>
        <h2 class="title">@Localizer[nameof(AppStrings.ForbiddenException)]</h2>
        <h4 class="description">You're signed in as @_user.GetUserName()</h4>
        <div class="buttons">
            <BitButton OnClick="WrapHandled(SignIn)">Sign in as different user</BitButton>
        </div>
    </div>
</AuthorizeView>
