@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

.bit-ttp {
    position: relative;

    .tooltip {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-size: rem(12px);
        font-weight: 500;
        width: max-content;
        height: auto;
        padding: rem(10px);
        transition: all 0.2s linear;
        background-color: white;
        color: black;
        text-align: center;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            border: rem(6px) solid;
        }
    }

    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    &.bit-ttp-disabled-fluent {
        .tooltip {
            color: $Grey90;
        }
    }

    .top-left {
        top: rem(-47px);
        right: 94%;
        box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            bottom: rem(-9px);
            right: rem(-2px);
            border-color: transparent white white transparent;
            transform: rotate(45deg) translateX(-50%);
            box-shadow: rem(2px) rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .top {
        top: rem(-47px);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            bottom: rem(-9px);
            left: 50%;
            border-color: transparent white white transparent;
            transform: rotate(45deg) translateX(-50%);
            box-shadow: rem(2px) rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .top-right {
        top: rem(-47px);
        left: 94%;
        box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            bottom: rem(-9px);
            left: rem(-2px);
            border-color: white white transparent transparent;
            transform: rotate(135deg) translateX(-50%);
            box-shadow: rem(2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .right-top {
        top: rem(-27px);
        left: 104%;
        box-shadow: rem(-2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            bottom: rem(-2px);
            left: 0%;
            border-color: white transparent transparent white;
            transform: rotate(-45deg) translateY(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .right {
        top: rem(-4px);
        left: 104%;
        box-shadow: rem(-2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: 50%;
            left: 0%;
            border-color: white transparent transparent white;
            transform: rotate(-45deg) translateY(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .right-bottom {
        bottom: rem(-27px);
        left: 104%;
        box-shadow: rem(-2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: rem(-2px);
            left: 0%;
            border-color: white white transparent transparent;
            transform: rotate(-135deg) translateY(-50%);
            box-shadow: rem(2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .bottom-right {
        bottom: rem(-47px);
        left: 95%;
        box-shadow: 0 rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: rem(-1px);
            left: rem(-2px);
            border-color: transparent transparent white white;
            transform: rotate(135deg) translateX(-50%);
            box-shadow: rem(-2px) rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .bottom {
        bottom: rem(-47px);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: rem(-1px);
            left: 50%;
            border-color: white transparent transparent white;
            transform: rotate(45deg) translateX(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .bottom-left {
        bottom: rem(-47px);
        right: 95%;
        box-shadow: 0 rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: rem(-1px);
            right: rem(-2px);
            border-color: white transparent transparent white;
            transform: rotate(45deg) translateX(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .left-bottom {
        bottom: rem(-27px);
        right: 104%;
        box-shadow: rem(2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: rem(-2px);
            right: 0%;
            border-color: transparent transparent white white;
            transform: rotate(-135deg) translateX(-50%);
            box-shadow: rem(-2px) rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .left {
        top: rem(-4px);
        right: 104%;
        box-shadow: rem(2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            top: 50%;
            right: 0%;
            border-color: white transparent transparent white;
            transform: rotate(135deg) translateX(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }

    .left-top {
        top: rem(-27px);
        right: 104%;
        box-shadow: rem(2px) 0 rem(2px) 0 rgba(0, 0, 0, 0.1), 0 rem(1px) rem(1px) 0 rgba(0, 0, 0, 0.1);

        &::after {
            bottom: rem(-2px);
            right: 0%;
            border-color: white transparent transparent white;
            transform: rotate(135deg) translateX(-50%);
            box-shadow: rem(-2px) rem(-2px) rem(2px) 0 rgba(0, 0, 0, 0.1);
        }
    }
}
