@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @ChildContent

    <div class="tooltip @_positionClass">
        @if (TextFragment is not null)
        {
            @TextFragment
        }
        else
        {
            @Text
        }
    </div>
</div>