@inherits LayoutComponentBase

<Header />

<div class="main @(CurrentUrl == "/" ? "main--home" : null) @(CurrentUrl.Contains("/components") ? "main--components-demo" : null)">
    @if (CurrentUrl != "/")
    {
        <NavMenu />
    }
    <div class="site-content">
        @Body
    </div>
</div>

<MessageBox />
<Footer />