@inherits LayoutComponentBase

<div class="container">
    <Header />

    <div class="main-container @(CurrentUrl != "/" ? "main-container-pad" : null)">
        @if (CurrentUrl != "/")
        {
            <NavMenu />
        }
        <div class="page-content">
            @Body
        </div>
        <Footer />
    </div>
    <MessageBox />
</div>