@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_fonts.scss';
@import '../Styles/abstracts/_vars.scss';

.main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: rem(56px);
    padding-left: rem($NavMenuWidth);
    box-sizing: border-box;

    @include lt-lg {
        padding-left: 0;
    }

    @include sm {
        padding-top: rem(100px);
    }
}

.main--home {
    padding-left: 0;

    .site-content {
        padding-left: rem(20px);
        padding-right: rem(20px);
        padding-top: 0;
        padding-bottom: 0;

        @include lt-xl {
            padding-top: 0;
            padding-bottom: 0;
        }

        @include lg {
            padding-left: rem(20px);
            padding-right: rem(20px);
        }

        @include md {
            padding-left: rem(30px);
            padding-right: rem(30px);
        }

        @include sm {
            padding-left: rem(20px);
            padding-right: rem(20px);
        }
    }
}

.site-content {
    width: 100%;
    max-width: rem(1200px);
    padding-left: rem(60px);
    padding-right: rem(60px);
    padding-top: rem(65px);
    padding-bottom: rem(65px);
    margin: 0 auto;

    @include lt-xl {
        padding-top: rem(35px);
        padding-bottom: rem(35px);
    }

    @include lg {
        padding-left: rem(16px);
        padding-right: rem(16px);
    }

    @include md {
        padding-left: rem(30px);
        padding-right: rem(30px);
    }

    @include sm {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

::deep a {
    text-decoration: none;
}

::deep * {
    font-family: "Axiforma";
    box-sizing: border-box;
}

::deep .example-desc {
    margin-bottom: rem(8px);
}

::deep pre {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-height: rem(464px);
    min-height: rem(70px);
    margin: 0;
    padding: rem(24px) rem(80px) rem(24px) rem(24px);
    box-sizing: border-box;
    direction: ltr;
    overflow: auto;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    border: rem(1px) solid $B5Color;
    border-top: none;
    border-radius: 0 0 rem(10px) rem(10px);

    &::-webkit-scrollbar {
        width: rem(6.5px);
        background-color: $White;
    }

    &::-webkit-scrollbar-track {
        background-color: $White;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $B2Color;
        border-radius: rem(8px);
        border: rem(4px) solid $B2Color;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $B3Color;
        border-radius: rem(8px);
        border: rem(4px) solid $B3Color;
    }

    &::-webkit-scrollbar:horizontal {
        height: rem(6.5px);
    }

    @include lg {
        max-height: rem(400px);
        padding: rem(16px) rem(60px) rem(16px) rem(16px);
        border-radius: 0 0 rem(8px) rem(8px);
    }

    @include md {
        max-height: rem(304px);
        padding: rem(8px) rem(52px) rem(8px) rem(16px);
        border-radius: 0 0 rem(8px) rem(8px);
    }

    @include sm {
        padding: rem(16px) rem(45px) rem(16px) rem(8px);
        border-radius: 0 0 rem(8px) rem(8px);
    }
}

::deep code {
    line-height: 1.5;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;

    span {
        font-family: inherit;
    }
}

::deep .hljs {
    overflow-x: unset !important;
    padding: 0 !important;
    background-color: transparent !important;
}

::deep .status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    ::deep .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    ::deep .flex-column, ::deep .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}

//::-webkit-scrollbar {
//    width: 16px;
//    background-color: #fff;
//}

//::-webkit-scrollbar-track {
//    background-color: #fff;
//}

//::-webkit-scrollbar-thumb {
//    background-color: #babac0;
//    border-radius: 16px;
//    border: 4px solid #fff;
//}

//::-webkit-scrollbar-button {
//    display: none;
//}

//::-webkit-scrollbar-thumb:hover {
//    background: #5CA1FF;
//    border-radius: 8px;
//    border: 4px solid #5CA1FF;
//}

//::-webkit-scrollbar:horizontal {
//    height: 6px;
//}
