@inherits LayoutComponentBase

<Header />

<div class="main">
    @if (CurrentUrl != "/")
    {
        <NavMenu />
    }
    <div class="site-content @(CurrentUrl == "/" ? "site-content--home" : null)">
        @Body
    </div>
</div>

<MessageBox />
<Footer />