@inherits LayoutComponentBase

<Header />

<div class="main @(CurrentUrl == "/" ? "main--full-page" : null)">
    @if (CurrentUrl != "/" && CurrentUrl != "/icons")
    {
        <NavMenu />
    }
    <div class="site-content">
        @Body
    </div>
</div>

<MessageBox />
<Footer />