@page "/lowcode-nocode/specs"
@inherits AppComponentBase

<PageOutlet Url="templates/specs"
            Title="Overview - Low-code No-code platform specs"
            Description="overview of the low-code no-code specs" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Specifications</BitTypography>

    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        OOTB Specifications
        <br/>
        Ui components<br />
        Dark light theme<br />
        Localization<br />
        RTL ltr<br />
        Social sign in<br />
        2fa<br />
        Analytics<br />
        Offline data storage for apps
    </BitTypography>


</div>

<NavigationButtons Prev="Benefits" PrevUrl="/lowcode-nocode/benefits" Next="Customizations" NextUrl="/templates/customizations" />
