@page "/lowcode-nocode/benefits"
@inherits AppComponentBase

<PageOutlet Url="templates/benefits"
            Title="Overview - Low-code No-code platform benefits"
            Description="overview of the low-code no-code benefits" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Benefits</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        Benefits
    </BitText>


</div>

<NavigationButtons Prev="Overview" PrevUrl="/lowcode-nocode/overview" Next="Specs" NextUrl="/templates/specs" />
