@page "/lowcode-nocode/specs"
@inherits AppComponentBase

<PageOutlet Url="templates/specs"
            Title="Overview - Low-code No-code platform specs"
            Description="overview of the low-code no-code specs" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Specifications</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        OOTB Specifications
        <br/>
        Ui components<br />
        Dark light theme<br />
        Localization<br />
        RTL ltr<br />
        Social sign in<br />
        2fa<br />
        Analytics<br />
        Offline data storage for apps
    </BitText>


</div>

<NavigationButtons Prev="Benefits" PrevUrl="/lowcode-nocode/benefits" Next="Customizations" NextUrl="/templates/customizations" />
