@page "/lowcode-nocode"
@inherits AppComponentBase

<PageOutlet Url="lowcode-nocode"
            Title="Overview - Low-code No-code platform"
            Description="the low-code no-code product of the bit platform" />

<div class="page-container">
    <section class="page-section main-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H1" Gutter Class="text-title" Style="text-align:center">
                Low-code
                <br />
                <span style="opacity:0.75">No-code</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H4" Gutter Class="text-subtitle" Style="text-align:center">
                bit platform provides a perfect floor for building high-quality apps
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    What can i build?
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                anything you want
                <br />
                like what we did
                <br />
                with our <span class="highlight-1">products</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">

                <div class="products-container">
                    <span>BlazorUI:</span>
                    <a href="https://blazorui.bitplatform.dev/">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-blazor-ui/id6450401404">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-blazor-ui/id6450401404">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.BlazorUI.Demo">Android</a>
                    <a href="https://windows-components.bitplatform.dev/Bit.BlazorUI.Demo.Client.Windows-win-Setup.exe">Windows</a>
                </div>
                <div class="products-container">
                    <span>Todo:</span>
                    <a href="https://todo.bitplatform.dev/">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-todotemplate/id6450611072">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-todotemplate/id6450611072">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.Todo.Template">Android</a>
                    <a href="https://windows-todo.bitplatform.dev/TodoSample.Client.Windows-win-Setup.exe">Windows</a>
                </div>
                <div class="products-container">
                    <span>AdminPanel:</span>
                    <a href="https://adminpanel.bitplatform.dev/">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-adminpanel/id6450611349">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-adminpanel/id6450611349">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.AdminPanel.Template">Android</a>
                    <a href="https://windows-admin.bitplatform.dev/AdminPanel.Client.Windows-win-Setup.exe">Windows</a>
                </div>
                <div class="products-container">
                    <span>platform website:</span>
                    <a href="https://bitplatform.dev/">SPA</a>
                </div>
                <br />
                <div class="products-container">
                    <span>All web apps are hosted on a single cheap server:</span>
                    <span>1 core CPU and 1.75 GB RAM</span>
                </div>
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Specifications
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                We have a lot of
                <br />
                <span class="highlight-2">benefits</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                UI components<br />
                Dark & Light theme<br />
                Localization<br />
                RTL LTR<br />
                Social sign-in<br />
                2FA<br />
                Analytics<br />
                Offline database
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Comparisons
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                We have a
                <br />
                unique <span class="highlight-3">Approach</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                Secure by default<br />
                Continuous collaboration
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Statistics
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                Our amazing
                <br />
                <span class="highlight-4">progress</span> and <span class="highlight-4">stats</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                NuGet downloads<br />
                1K+ star<br />
                125+ contributors<br />
            </BitTypography>
        </div>
    </section>
</div>
