@page "/lowcode-nocode"
@inherits AppComponentBase

<PageOutlet Url="lowcode-nocode"
            Title="Overview - Low-code No-code platform"
            Description="the low-code no-code product of the bit platform" />

<div class="page-container">
    <section class="page-section main-section">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H1" Gutter Class="text-title" Style="text-align:center">
                Low-code
                <br />
                <span style="opacity:0.5">No-code</span>
            </BitText>
            <br />
            <BitText Typography="BitTypography.H4" Gutter Class="text-subtitle" Style="text-align:center">
                bit platform provides a perfect floor for building high-quality apps
            </BitText>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitText Typography="BitTypography.H6" Gutter Class="section-title">
                    What can i build?
                </BitText>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitText Typography="BitTypography.H2" Class="text-title">
                check out what we
                <br />
                built
                <br />
                with our <span class="highlight-1">products</span>
            </BitText>
            <br />
            <BitText Typography="BitTypography.H5" Class="text-subtitle">

                <div class="products-container">
                    <span>BlazorUI:</span>
                    <a href="https://blazorui.bitplatform.dev/" target="_blank">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-blazor-ui/id6450401404" target="_blank">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-blazor-ui/id6450401404" target="_blank">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.BlazorUI.Demo" target="_blank">Android</a>
                    <a href="https://windows-components.bitplatform.dev/Bit.BlazorUI.Demo.Client.Windows-win-Setup.exe" target="_blank">Windows</a>
                </div>
                <div class="products-container">
                    <span>AdminPanel:</span>
                    <a href="https://adminpanel.bitplatform.dev/" target="_blank">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-adminpanel/id6450611349" target="_blank">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-adminpanel/id6450611349" target="_blank">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.AdminPanel.Template" target="_blank">Android</a>
                    <a href="https://windows-admin.bitplatform.dev/AdminPanel.Client.Windows-win-Setup.exe" target="_blank">Windows</a>
                </div>
                <div class="products-container">
                    <span>Todo:</span>
                    <a href="https://todo.bitplatform.dev/" target="_blank">PWA</a>
                    <a href="https://apps.apple.com/us/app/bit-todotemplate/id6450611072" target="_blank">iOS</a>
                    <a href="https://apps.apple.com/nl/app/bit-todotemplate/id6450611072" target="_blank">macOS</a>
                    <a href="https://play.google.com/store/apps/details?id=com.bitplatform.Todo.Template" target="_blank">Android</a>
                    <a href="https://windows-todo.bitplatform.dev/TodoSample.Client.Windows-win-Setup.exe" target="_blank">Windows</a>
                </div>
                <div class="products-container">
                    <span>platform website:</span>
                    <a href="https://bitplatform.dev/" target="_blank">SPA</a>
                </div>
                <br />
                <div class="products-container">
                    <span>All hosted on a single cheap server:</span>
                    <span><b class="highlight-1">1 core CPU</b> and <b class="highlight-1">1.5 GB RAM</b></span>
                </div>
            </BitText>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitText Typography="BitTypography.H6" Gutter Class="section-title">
                    Specifications
                </BitText>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitText Typography="BitTypography.H2" Class="text-title">
                we have many
                <br />
                <span class="highlight-2">benefits</span>
                <br />
                out of the box
            </BitText>
            <br />
            <BitText Typography="BitTypography.H5" Class="text-subtitle">
                <div class="benefits-container">
                    <span class="highlight-1">UI components</span>
                    <span class="highlight-2">Dark & Light theme</span>
                    <span class="highlight-3">Localization</span>
                    <span class="highlight-4">RTL & LTR</span>
                    <span class="highlight-1">Social sign-in</span>
                    <span class="highlight-2">2FA</span>
                    <span class="highlight-3">Analytics</span>
                    <span class="highlight-4">Client-side offline database</span>
                </div>
            </BitText>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitText Typography="BitTypography.H6" Gutter Class="section-title">
                    Comparisons
                </BitText>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitText Typography="BitTypography.H2" Class="text-title">
                a unique <span class="highlight-3">Approach</span>
            </BitText>
            <br /><br />
            <BitText Typography="BitTypography.H5" Class="text-subtitle">
                <div class="comparison-container">
                    <span>Secure by default</span>
                    <div>
                        A simple plugin such as a slider on your WordPress-based website, can access all the data
                        in your database, and the files on your server, and have internet access to exploit even further!<br />
                        But in our platform, each plugin includes a manifest with explicit permission requests without sacrificing performance.
                    </div>
                    <span>Continuous collaboration</span>
                    <div>
                        Our platform allows developers and the low-code/no-code engine to collaborate at the same time on
                        the same project integrating the developer's custom codes seamlessly with low-code/no-code output.
                    </div>
                </div>
            </BitText>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitText Typography="BitTypography.H6" Gutter Class="section-title">
                    Statistics
                </BitText>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitText Typography="BitTypography.H2" Class="text-title">
                our <span class="highlight-4">progress</span> and <span class="highlight-4">stats</span>
            </BitText>
            <br />
            <BitText Typography="BitTypography.H5" Class="text-subtitle">
                <div class="stats-container">
                    <div>+5.7M NuGet downloads</div>
                    <div>+1K GitHub stars</div>
                    <div>+100 contributors</div>
                </div>
            </BitText>
        </div>
    </section>

    <br />
    <br />
    <br />

</div>
