@page "/lowcode-nocode/benefits"
@inherits AppComponentBase

<PageOutlet Url="templates/benefits"
            Title="Overview - Low-code No-code platform benefits"
            Description="overview of the low-code no-code benefits" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Benefits</BitTypography>

    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        Benefits
    </BitTypography>


</div>

<NavigationButtons Prev="Overview" PrevUrl="/lowcode-nocode/overview" Next="Specs" NextUrl="/templates/specs" />
