@page "/lowcode-nocode/comparison"
@inherits AppComponentBase

<PageOutlet Url="templates/comparison"
            Title="Overview - Low-code No-code platform comparison"
            Description="overview of the low-code no-code comparison" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Comparison</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        Comparison
        <br />
        What's our difference<br />
        Secure by default<br />
        Plugin model<br />
        Manifest<br />
        1 core cpu<br />
        1.75 GB ram
    </BitText>


</div>

<NavigationButtons Prev="Customizations" PrevUrl="/lowcode-nocode/customizations" Next="Stats" NextUrl="/templates/stats" />
