@page "/lowcode-nocode/overview"
@inherits AppComponentBase

<PageOutlet Url="templates/overview"
            Title="Overview - Low-code No-code"
            Description="overview of the low-code no-code product of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Low-code No-code platform</BitTypography>

    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        this low-code no-code
    </BitTypography>


</div>

<NavigationButtons Next="Samples" NextUrl="/templates/samples" />
