@page "/lowcode-nocode/customizations"
@inherits AppComponentBase

<PageOutlet Url="templates/customizations"
            Title="Overview - Low-code No-code platform customizations"
            Description="overview of the low-code no-code customizations" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Customizations</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        Customizations
        <br />
        Export human/developer readable code at anytime<br />
        Build time, build phase<br />
        From mvp through designer to full code development as product scales with more than 6M C# .NET developers
    </BitText>


</div>

<NavigationButtons Prev="Specs" PrevUrl="/lowcode-nocode/specs" Next="Comparison" NextUrl="/templates/comparison" />
