@page "/lowcode-nocode/overview"
@inherits AppComponentBase

<PageOutlet Url="templates/overview"
            Title="Overview - Low-code No-code platform"
            Description="overview of the low-code no-code product of the bit platform" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Low-code No-code</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        The low-code no-code platform of the bit platform is a plate to bake any application.
    </BitText>


</div>

<NavigationButtons Next="Benefits" NextUrl="/templates/benefits" />
