@page "/lowcode-nocode"
@inherits AppComponentBase

<PageOutlet Url="lowcode-nocode"
            Title="Overview - Low-code No-code platform"
            Description="the low-code no-code product of the bit platform" />

<div class="page-container">
    <section class="page-section main-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H1" Gutter>
                Low-code
                <br />
                No-code
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H4" Gutter>
                bit platform provides a perfect floor for creating any application.
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    What can i build?
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                code, build & deploy
                <br />
                your apps easily
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                A set of tools for .NET developers across multiple platforms
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Benefits
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                a lot of benefits
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                A set of tools for .NET developers across multiple platforms
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Specifications
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                a lot of benefits
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                Ui components<br />
                Dark light theme<br />
                Localization<br />
                RTL ltr<br />
                Social sign in<br />
                2fa<br />
                Analytics<br />
                Offline data storage for apps
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Comparisons
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                a lot of comparisons
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                Secure by default<br />
                Plugin model<br />
                Manifest
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Customizations
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                a lot of customizations
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                ManifestExport human/developer readable code at anytime<br />
                Build time, build phase<br />
                From mvp through designer to full code development as product scales with more than 6M C# .NET developers
            </BitTypography>
        </div>
    </section>

    <section class="page-section text-section">
        <div class="page-section-content">
            <div class="section-title-container">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="section-title">
                    Statistics
                </BitTypography>
                <div class="section-title-line"></div>
            </div>
            <br />
            <BitTypography Variant="BitTypographyVariant.H2" Class="text-title">
                a lot of stats
                <br />
                <span class="highlight-1">.NET and Blazor</span>
                <br />
                <span class="highlight-2">.NET and Blazor</span>
            </BitTypography>
            <br />
            <BitTypography Variant="BitTypographyVariant.H5" Class="text-subtitle">
                Nuget downloads<br />
                1K+ star<br />
                1 core cpu<br />
                1.75 GB ram
            </BitTypography>
        </div>
    </section>
</div>
