@page "/lowcode-nocode/stats"
@inherits AppComponentBase

<PageOutlet Url="templates/stats"
            Title="Overview - Low-code No-code platform stats"
            Description="overview of the low-code no-code stats" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Statistics</BitText>

    <BitText Typography="BitTypography.Subtitle1">
        Statistics
        <br/>
        Where are we?<br />
        NuGet downloads<br />
        1K+ star
    </BitText>


</div>

<NavigationButtons Prev="Comparison" PrevUrl="/lowcode-nocode/comparison" />
