.bit-fslds-wrapper {
    inset: 0;
    display: flex;
    z-index: 999999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--bit-clr-bg-pri);

    @keyframes bit-fslds-grid {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }
}

.bit-fslds-grid {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
}

.bit-fslds-grid div {
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--bit-fslds-color);
    animation: bit-fslds-grid 1.2s linear infinite;
}

.bit-fslds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.bit-fslds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.bit-fslds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.bit-fslds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.bit-fslds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.bit-fslds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.bit-fslds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.bit-fslds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.bit-fslds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
