<div class="bit-fslds-wrapper" style="--bit-fslds-color:@Color">
    <div class="bit-fslds-grid">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>
