@*
Leveraging Web Features in Blazor Hybrid:

1. WebView Integration: Directly utilize standard web technologies like CSS animations and external frames (e.g., Google reCaptcha) within the Blazor WebView.

2. Addressing Origin Restrictions for Sensitive Web APIs:
   - Due to the our WebView's fixed origin (http://0.0.0.1), certain security-sensitive web features like WebAuthn and social sign-in will not function directly within the WebView.
   - Solution for WebAuthn: Employ a local HTTP server (see WindowsLocalHttpServer and MauiHttpLocalServer) to serve the HybridAppWebInterop component via a GET endpoint. Use IExternalNavigationService to open an in-app browser, facilitating authentication (e.g., Face ID).
   - Limitation for Social Sign-in: Social sign-in providers generally restrict WebView usage due to security considerations, regardless of the origin.

3. Utilizing Website Origin (Such as https://adminpanel.bitplatform.dev):
   - For scenarios requiring your website's actual origin or other features incompatible even with a localhost origin, use IExternalNavigationService to navigate to the /HybridAppWebInterop minimal API endpoint (defined in HybridWebAppInteropEndpoint.cs).
*@

<html>
<head>
    <base href="/" />
    <title>Boilerplate</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
    <style>
        html, body, main {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #FFFFFF;
        }

        @@media (prefers-color-scheme: dark) {
            body {
                background: #010409;
            }
        }
    </style>
</head>
<body>
    <script src="_content/Bit.Butil/bit-butil.js"></script>
    <script src="_content/Boilerplate.Client.Core/scripts/app.js"></script>
    <script type="text/javascript">
        HybridAppWebInterop.run();
    </script>
</body>
</html>