.bit-scp {
    -webkit-overflow-scrolling: touch;
}

.bit-scp-aut {
    overflow-y: auto;
}

.bit-scp-hdn {
    overflow-y: hidden;
}

.bit-scp-scr {
    overflow-y: scroll;
}

.bit-scp-gat {
    scrollbar-gutter: auto;
}

.bit-scp-gst {
    scrollbar-gutter: stable;
}

.bit-scp-gbe {
    scrollbar-gutter: stable both-edges;
}
