@inherits BitComponentBase

@if (Href.HasValue() || !IsEnabled)
{
    <a href="@Href" class="bit-link @VisualClass @EnabledClass" target="@Target">
        @ChildContent
    </a>
}
else
{
    <button type="button" class="bit-link @VisualClass @EnabledClass"
            @onclick="HandleClick">
        @ChildContent
    </button>
}
