@inherits LayoutComponentBase

<Header />

<div class="main @(_isTemplateDocRoute ? null : "main--full-page")">
    @if (_isTemplateDocRoute)
    {
        <NavMenu />
    }
    <div class="site-content @(_isTemplateDocRoute ? "docs-content" : "")">
        <AppErrorBoundary>
                @Body
        </AppErrorBoundary>
    </div>
</div>

<Footer />

<MessageBox />