@inherits LayoutComponentBase

<Header />

<div class="main @((CurrentUrl.Contains("templates") is false) ? "main--full-page" : null)">
    @if (CurrentUrl.Contains("templates"))
    {
        <NavMenu />
    }
    <div class="site-content @(CurrentUrl.Contains("templates") ? "docs-content" : "")">
        <AppErrorBoundary>
                @Body
        </AppErrorBoundary>
    </div>
</div>

<Footer />

<MessageBox />