@page "/todo-template/create-project"
@page "/admin-panel/create-project"
@page "/templates/create-project"
@inherits AppComponentBase

<PageOutlet Url="templates/create-project"
            Title="Create project - Templates"
            Description="create project of the project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Create Project</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Install the necessary packages to start building with the bit project templates.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>CLI</BitTypography>
        <div class="section-card-txt">
            1. Install the project templates from the NuGet package manager with one of the following commands:
        </div>
        <pre class="code-box">
dotnet new install Bit.Boilerplate::8.2.0-per-01
dotnet new install Bit.BlazorWeb::8.2.0-per-01</pre>
        <div class="section-card-txt">
            2. Create a new project using dotnet new command or Visual Studio create new project wizard:
        </div>
        <div class="section-card-txt">
            <b>Note</b>: bit project templates accept the following parameters:
            <ul>
                <li>--name (default is current folder name)</li>
                <li>--database default to <i>SqlServer</i> among following options: <i>SqlServer</i> <i>Sqlite</i>, <i>Other</i></li>
                <li>--pipeline default to <i>GitHub</i> among the following options: <i>GitHub</i>, <i>Azure</i> (AzureDevOps pipelines), <i>Other</i></li>
                <li>--sample default to <i>AdminPanel</i> among the following options: <i>AdminPanel</i>, <i>Todo</i>, <i>None</i></li>
            </ul>
        </div>
        Examples:
        <pre class="code-box">
1- Create a web based admin panel with SQL Server, using Azure DevOps for CI/CD:
dotnet new bit-web --name MyAdminPanel --database SqlServer --pipeline Azure --sample AdminPanel

2- Create a cross-platform Todo app for mobile, desktop, and web with GitHub Actions and a SQLite database.
dotnet new bit-bp --name MyTodoApp --database Sqlite --pipeline GitHub --sample Todo

3- Create a mobile, desktop, and web app without sample pages, integrating GitHub Actions and a SQL Server database.
dotnet new bit-web --name MyCompany.MyApp --database SqlServer --pipeline GitHub --sample None</pre>
        <div class="section-card-txt">
            <b>Note</b>: We recommend to create the project in a path that is not too long without space character in the folder names.
        </div>
    </section>
    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Visual Studio</BitTypography>
        <BitCarousel Style="height:625px" AutoPlay=true InfiniteScrolling=true>
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-1.webp">
                </div>
            </BitCarouselItem>
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-2.webp" />
                </div>
            </BitCarouselItem>
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-3.webp" />
                </div>
            </BitCarouselItem>
        </BitCarousel>
        <div class="section-card-txt">
            <b>Note</b>: In second window of create new project modal, make sure to check <b>Place solution and project in the same directory</b> checkbox.
        </div>
    </section>
</div>

<NavigationButtons Prev="Development prerequisites" PrevUrl="/templates/development-prerequisites" Next="Project structure" NextUrl="/templates/project-structure" />
