@import '../../Styles/abstracts/_mixins.scss';
@import '../../Styles/abstracts/_functions.scss';

.page-container {
    @include PageContainer;
}

.image-container {
    @include ImageContainer;
}

.section-card {
    @include SectionCard;
}

.section-card-txt {
    @include SectionCardText;
}

.image {
    @include Image;
    width: rem2(400px);
}

::deep a {
    color: $bit-color-primary;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
}