@page "/todo-template/run"
@page "/admin-panel/run"
@page "/templates/run"
@inherits AppComponentBase

<PageOutlet Url="templates/run"
            Title="Run - Templates"
            Description="run project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Run</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        To run the apps built with the bit project templates use the following instructions.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>How?</BitTypography>
        <div class="section-card-txt">
            After you've done the configuration, you can run the application. Set Server project as startup and run, you can see the swagger dashboard in the first view.
        </div>
        <div class="image-container">
            <img class="image small" alt="Swagger dashboard" src="/images/templates/swagger-todo.webp" />
        </div>
        <div class="section-card-txt">
            Simply login with following credentials:
        </div>
        <div class="code-box">username: test@bitplatform.dev <br /> password: 123456</div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Next steps!</BitTypography>
        <div class="section-card-txt">
            <br />
            You have successfully built and run your project using the bit platform project templates ❤️
            <br />
            <br />
            In the upcoming sections, you will get acquainted with <b>Blazor app models</b> that will help you produce outputs for Android, iOS, Windows, macOS, and Web!
            <br />
            <br />
            Furthermore, in the <b>Web app deployment type</b> section, you'll understand how easily you can choose between PWA or SPA and with/without Pre Rendering!
            <br />
            <br />
            <b>Stay with us!</b>
        </div>
    </section>

</div>

<NavigationButtons Prev="Database" PrevUrl="/templates/database" Next="Blazor app models" NextUrl="/templates/app-models" />