@page "/todo-template/settings"
@page "/admin-panel/settings"
@page "/templates/settings"
@inherits AppComponentBase

<PageOutlet Url="templates/settings"
            Title="Settings - Templates"
            Description="settings of the project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Settings</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Other configurations available in the bit project templates are as follows:
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Identity settings</BitTypography>
        <div class="section-card-txt">
            bit project templates uses ASP.NET Core Identity + bearer authentication and you can change their settings.
            You can find these settings in the <b>appsettings.json</b> file in the Server project.
        </div>
        <CodeBox>"IdentitySettings": {
    "Issuer": "Boilerplate",
    "Audience": "Boilerplate",
    "IdentityCertificatePassword": "P@ssw0rdP@ssw0rd", // It can also be configured using: dotnet user-secrets set "AppSettings:IdentitySettings:IdentityCertificatePassword" "P@ssw0rdP@ssw0rd"
    "BearerTokenExpiration": "0.01:00:00", // Format: D.HH:mm:ss
    "RefreshTokenExpiration": "14.00:00:00", // Format: D.HH:mm:ss
    "PasswordRequireDigit": "false",
    "PasswordRequiredLength": "6",
    "PasswordRequireNonAlphanumeric": "false",
    "PasswordRequireUppercase": "false",
    "PasswordRequireLowercase": "false",
    "RequireUniqueEmail": "true",
    "ConfirmationEmailResendDelay": "0.00:02:00", // Format: D.HH:mm:ss
    "ResetPasswordEmailResendDelay": "0.00:02:00" // Format: D.HH:mm:ss
}</CodeBox>
        <div class="section-card-txt">
            <b>Note</b>: IdentityCertificatePassword referring to the password of the
            <b>IdentityCertificate.pfx</b> file in the Server project.
            To store the public key and other necessary information for validating incoming JWT tokens, a PFX file is employed.
            The same PFX file is utilized to empower the ASP.NET Core Data Protection API.
            Various methods exist for creating a PFX file. You may choose to follow your preferred approach for generating PFX files.
            Alternatively, you can execute the following command, specifying the desired password and path for your PFX file.
        </div>
        <CodeBox>dotnet dev-certs https --export-path IdentityCertificate.pfx --password P@ssw0rdP@ssw0rd</CodeBox>
        <b>Note</b>: Replace P@ssw0rdP@ssw0rd with strong password and use that as IdentityCertificatePassword's value in appsettings.json
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Email settings</BitTypography>
        <div class="section-card-txt">
            bit project templates use <a href="https://github.com/lukencode/FluentEmail" target="_blank">FluentEmail</a> to send emails.
            You can change the SMTP provider settings in the <b>appsettings.json</b> file in the Server project.
            <br />
            In dev environment, bit saves the sent emails as a <b>.eml</b> file in the
            <b>src/Boilerplate.Server/bin/Debug/net8.0/sent-emails</b> path, and developers can easily view them in any <a href="https://msgeml.com/" target="_blank">eml viewer</a>.
            <br />
            You can also use any test smtp server such as <a href="https://ethereal.email/" target="_blank">ethereal.email</a> or any production ready smtp server such as
            <a href="https://docs.sendgrid.com/for-developers/sending-email/getting-started-smtp" target="_blank">SendGrid</a>
        </div>
        <CodeBox>"EmailSettings": {
    "Host": "smtp.ethereal.email",
    "Port": "587",
    "DefaultFromEmail": "alva.schiller52@ethereal.email",
    "DefaultFromName": "Alva Schiller",
    "UserName": "alva.schiller52@ethereal.email",
    "Password": "4PyGY8cDQ8mvu6h7qB"
}</CodeBox>
        <div class="section-card-txt">
            <b>Note</b>: You can find email templates used for email confirmation and reset password in the <b>Components</b> directory of the Server project.
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>User profile image settings</BitTypography>
        <div class="section-card-txt">
            bit project templates save user profile image in <b>Attachments\Profiles</b> directory
            of Environment.SpecialFolder.ApplicationData as default, you can change this path as you need from the <b>appsettings.json</b> file in the Server project.
        </div>
        <CodeBox>"UserProfileImagesDir": "Attachments/Profiles/"</CodeBox>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Health check settings</BitTypography>
        <div class="section-card-txt">
            bit project templates support Health Checks for reporting the health of app infrastructure components.
            Health checks APIs are exposed as an HTTP endpoint. You can change the settings of this feature in the
            <b>appsettings.json</b> file in the Server project.
        </div>
        <CodeBox>"HealthCheckSettings": {
    "EnableHealthChecks": true
}</CodeBox>
        <div class="section-card-txt">
            <b>Note</b>: You can find Health Checks dashboard from <b><a href="http://localhost:5030/healthchecks-ui">http://localhost:5030/healthchecks-ui</a></b> by default.
        </div>
    </section>
</div>

<NavigationButtons Prev="Platform integration" PrevUrl="/templates/platform-integration" Next="Exception handling" NextUrl="/templates/exception-handling" />