@page "/templates/wiki"
@page "/templates/next-steps"
@page "/boilerplate/wiki"
@page "/boilerplate/next-steps"
@inherits AppComponentBase

<PageOutlet Url="templates/next-steps"
            Title="AI Powered Wiki - Templates"
            Description="Learn about the next steps in your journey with the bit platform boilerplate and how to use our Wiki for assistance." />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>AI Powered Wiki</BitText>

    <section class="section-card">
        <div class="section-card-txt">
            To enhance the understanding of our Open Source Project Repository, all documentation is maintained within a single mono repo. This approach ensures that an AI Wiki can cohesively analyze the entire set of documents, README files, in-code comments, and source code to provide comprehensive insights when queried. All documentation hosted on the following websites originates from this mono repo:
            <ul>
                <li>
                    <span class="bold-txt">bit BlazorUI Components:</span> Documentation for working with components, including numerous examples, is available at <a href="https://blazorui.bitplatform.dev/getting-started" target="_blank">blazorui.bitplatform.dev</a>.
                </li>
                <li>
                    <span class="bold-txt">bit Boilerplate Project Template:</span> Documentation is hosted at <a href="https://bitplatform.dev/templates" target="_blank">bitplatform.dev/templates</a>.
                </li>
                <li>
                    <span class="bold-txt">Butil (Blazor Utilities for Browser APIs):</span> Documentation is available at <a href="https://bitplatform.dev/butil" target="_blank">bitplatform.dev/butil</a>.
                </li>
                <li>
                    <span class="bold-txt">Bswup (Blazor PWA):</span> Documentation is located at <a href="https://bitplatform.dev/bswup" target="_blank">bitplatform.dev/bswup</a>.
                </li>
                <li>
                    <span class="bold-txt">Besql (Entity Framework Core + SQLite in Browser):</span> Documentation is hosted at <a href="https://bitplatform.dev/besql" target="_blank">bitplatform.dev/besql</a>.
                </li>
            </ul>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Additional Content</BitText>
        <div class="section-card-txt">
            To further enrich the repository, we include valuable content that has not yet been officially published on our websites. These materials are stored in the <a href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Websites/WikiDocs#additional-content" target="_blank">same repository</a> to ensure that the Wiki considers them when answering queries, providing a more complete understanding of the project.
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Example Questions</BitText>
        <div class="section-card-txt">
            The following questions give you an idea of what kind of queries can be answered by <a href="https://wiki.bitplatform.dev" target="_blank">wiki.bitplatform.dev</a>:
            <ul>
                <li>What is the optimal way to load page data using <b>StateHasChanged</b> in conjunction with a <b>Skeleton UI</b> or <b>Shimmer</b>? <a title="What is the optimal way to load page data using StateHasChanged in conjunction with a Skeleton UI or Shimmer?" href="https://wiki.bitplatform.dev/search/explain-how-skeletonui-shimmer_ad926351-5881-4b18-8e1e-0993e9322af4" target="_blank">Link</a></li>
                <br />
                <li>How can I <b>remove google reCAPTCHA</b> from a project I created from bit Boilerplate? <a title="How can I remove google reCAPTCHA from a project I created from bit Boilerplate?" href="https://wiki.bitplatform.dev/search/how-can-i-remove-google-recapt_ad8e1bec-48d5-4ce3-bd87-413ade2a420f" target="_blank">Link</a></li>
                <br />
                <li>What is the <b>difference between Patch and Map</b>, and what is their relationship with Entity Framework Core and Blazor change tracking? <a title="What is the difference between Patch and Map, and what is their relationship with Entity Framework Core and Blazor change tracking?" href="https://wiki.bitplatform.dev/search/describe-whats-the-difference_1a07597a-4c20-4b6f-9cb2-a21298cd64e5" target="_blank">Link</a></li>
                <br />
                <li>How can I implement a <b>Grid System</b> and layout using <b>BitGrid</b> and <b>BitStack</b> components, especially if I'm familiar with the Bootstrap grid system? <a title="How can I implement a Grid System and layout using BitGrid and BitStack components, especially if I'm familiar with the Bootstrap grid system?" href="https://wiki.bitplatform.dev/search/how-to-implement-grid-system-u_71134e4b-f7b5-44bd-a90a-bc52d17f081f" target="_blank">Link</a></li>
                <br />
                <li>How does a <b>refresh token</b> function in a Boilerplate project template? <a title="How does a refresh token function in a Boilerplate project template?" href="https://wiki.bitplatform.dev/search/how-does-a-refresh-token-funct_415de9f3-9724-4c08-b74f-2a9c290a99a9#1" target="_blank">Link</a></li>
                <br />
                <li>How does <b>passwordless authentication</b> work in Boilerplate, particularly in Blazor Hybrid versions of the app, given that this feature is browser-only? <a title="How does passwordless authentication work in Boilerplate, particularly in Blazor Hybrid versions of the app, given that this feature is browser-only?" href="https://wiki.bitplatform.dev/search/how-does-passwordless-authenti_79dfa280-bcff-4a2e-9178-504ce32b3082" target="_blank">Link</a></li>
                <br />
                <li>How does using <b>embeddings</b> with the PostgreSQL <b>vector</b> extension enable product search functionality via LINQ and Entity Framework Core? <a title="How does using embeddings with the PostgreSQL vector extension enable product search functionality via LINQ and Entity Framework Core?" href="https://wiki.bitplatform.dev/search/describe-how-product-embedding_c1df611d-feeb-48e2-918a-aa75df00c771" target="_blank">Link</a></li>
            </ul>
        </div>
    </section>
</div>

<NavigationButtons Prev="Adding a New Feature" PrevUrl="/templates/add-new-feature" />