@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_colors.scss';
@import '../../Styles/abstracts/_mixins.scss';

.page-container {
    @include PageContainer;
}

.page-main-title {
    @include PageMainTitle;
}

.page-desc {
    @include PageDescription;
}

.section-card {
    @include SectionCard;
}

.section-card-txt {
    @include SectionCardText;
}

::deep {
    a {
        color: $bit-color-primary;
    }

    .link-btn {
        padding: 0;
        width: 2rem;
        height: 2rem;
        padding-top: 2px;
    }
}