@page "/templates"
@page "/templates/overview"
@inherits AppComponentBase

<PageOutlet Url="templates/overview"
            Title="Overview - Templates"
            Description="overview of the project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>bit Boilerplate</BitTypography>
    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        If our efforts in providing modern tooling have piqued your interest, dive into the Bit Boilerplate project template.
        <br />
        Experience all of our tools along with additional features such as ASP.NET Core Identity integration,
        multilingualism, and other cool features that empowers you to develop unified Web, Android, iOS, Windows,
        and macOS apps from a single codebase, while providing seamless integration with native platform features
        and third-party Java, Kotlin, Swift, Objective-C, and JavaScript libraries.
        <br /><br />
        bit Boilerplate is a feature-rich project template for both Visual studio and the .NET CLI.
        It comes with a lot of features right out of the box that are required for a real world application.
    </BitTypography>
    <br /><br />
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/UjdWBvb0xac?si=e7adGT3FLdPXpOSg"
                width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
    <br />
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>Supported browsers</BitTypography>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                    Blazor is supported in the browsers shown in the following list on both mobile and desktop platforms.
                </BitTypography>
                <ul dir="auto">
                    <li>Apple Safari (Current† version)</li>
                    <li>Google Chrome (Current† version)</li>
                    <li>Microsoft Edge (Current† version)</li>
                    <li>Mozilla Firefox	(Current† version)</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>Supported platforms</BitTypography>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                    Blazor Hybrid apps have the following additional platform requirements:
                </BitTypography>
                <ul dir="auto">
                    <li>Android 7.1 (API Level 24) or higher</li>
                    <li>iOS 15 or higher</li>
                    <li>macOS 12 (Monterey) or higher</li>
                    <li>Windows 7 SP1 or higher</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
</div>

<NavigationButtons Next="Samples" NextUrl="/templates/samples" />