@page "/templates"
@page "/templates/overview"
@page "/boilerplate"
@page "/boilerplate/overview"
@inherits AppComponentBase

<PageOutlet Url="templates/overview"
            Title="Overview - Templates"
            Description="overview of the project templates of the bit platform" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>bit Boilerplate</BitText>
    <BitText Typography="BitTypography.Subtitle1">
        If our efforts in providing modern tooling have piqued your interest, dive into the Bit Boilerplate project template.
        <br />
        Experience all of our tools along with additional features such as ASP.NET Core Identity integration,
        multilingualism, and other cool features that empowers you to develop unified Web, Android, iOS, Windows,
        and macOS apps from a single codebase, while providing seamless integration with native platform features
        and third-party Java, Kotlin, Swift, Objective-C, and JavaScript libraries.
        <br /><br />
        bit Boilerplate is a feature-rich project template for both Visual studio and the .NET CLI.
        It comes with a lot of features right out of the box that are required for a real world application.
    </BitText>
    <br /><br />
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/MCrF1iwN1h4"
                width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
    <br />
    <BitText Typography="BitTypography.H6" Gutter>Supported browsers</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor is supported in the browsers shown in the following list on both mobile and desktop platforms.
                </BitText>
                <br />
                <b>.NET 8</b>
                <ul dir="auto">
                    <li>Safari 15+</li>
                    <li>Firefox	100+</li>
                    <li>Chrome/Edge 95+</li>
                </ul>
                <br />
                <b>.NET 9</b>
                <ul dir="auto">
                    <li>Safari 16.4+</li>
                    <li>Firefox	100+</li>
                    <li>Chrome/Edge 95+</li>
                </ul>
            </li>
        </ul>
    </div>
    <BitText Typography="BitTypography.H6" Gutter>Supported platforms</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor Hybrid apps have the following additional platform requirements:
                </BitText>
                <br />
                <b>.NET 8</b>
                <ul dir="auto">
                    <li>iOS 15+</li>
                    <li>Windows 7 SP1+</li>
                    <li>macOS (Monterey) 12+</li>
                    <li>Android 8+ & <a href="https://play.google.com/store/apps/details?id=com.google.android.webview" target="_blank">WebView</a> 84+</li>
                </ul>
                <br />
                <b>.NET 9</b>
                <ul dir="auto">
                    <li>iOS 16.4+</li>
                    <li>Windows 7 SP1+</li>
                    <li>macOS (Ventura) 13.3+</li>
                    <li>Android 8+ & <a href="https://play.google.com/store/apps/details?id=com.google.android.webview" target="_blank">WebView</a> 94+</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
</div>

<NavigationButtons Next="Samples" NextUrl="/templates/samples" />