@page "/todo-template/create-project"
@page "/admin-panel/create-project"
@page "/templates/create-project"
@inherits AppComponentBase

<PageOutlet Url="templates/create-project"
            Title="Create project - Templates"
            Description="create project of the project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Create Project</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Let's make our next web project a success with Bit.Boilerplate.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>CLI</BitTypography>
        <div class="section-card-txt">
            Create a new project using dotnet new command:
            <CodeBox>dotnet new bit-bp</CodeBox>
        </div>
        <div class="section-card-txt">
            <b>Note</b>: bit project templates accept the following parameters:
            <ul>
                <li>--name (default is current folder name)</li>
                <li>--api defaults to true: '--api true' adds support for aspnetcore identity, webapi, odata, ef core and fluent email.</li>
                <li>--database default to <i>SqlServer</i> among following options: <i>SqlServer</i> <i>Sqlite</i>, <i>Other</i></li>
                <li>--captcha default to <i>reCaptcha</i> among following options: <i>reCaptcha</i> <i>None</i></li>
                <li>--serverUrl The backend server url. You can change its value later if needed.</li>
                <li>--pipeline default to <i>GitHub</i> among the following options: <i>GitHub</i>, <i>Azure</i> (AzureDevOps pipelines), <i>None</i></li>
                <li>--sample default to <i>None</i> among the following options: <i>Admin</i>, <i>Todo</i>, <i>None</i></li>
                <li>--offlineDb defaults to false: '--offlineDb true' adds sqlite database support to the client mobile, web and desktop apps</li>
                <li>--windows default to false: '--windows true' adds support for exe output for windows 7+</li>
                <li>--appInsights defaults to false: '--appInsights true' adds support for Azure application insights in all clients (Android, iOS, Windows, macOS, Web)</li>
                <li>--appCenter defaults to false: '--appCenter true' adds support for Visual Studio AppCenter in hybrid clients (Android, iOS, Windows, macOS)</li>
            </ul>
        </div>
        Examples:
        <br />
        <br />
        1- Create a cross-platform AdminPanel app for mobile, desktop and web with Azure DevOps pipelines and a SqlServer database:
        <CodeBox>dotnet new bit-bp --name MyAdminPanel --database SqlServer --pipeline Azure --sample Admin</CodeBox>

        2- Create a cross-platform Todo app for mobile, desktop and web with GitHub Actions and a SQLite database:
        <CodeBox>dotnet new bit-bp --name MyTodoApp --database Sqlite --pipeline GitHub --sample Todo --serverUrl todo.bitplatform.dev</CodeBox>

        3- Create a mobile, desktop and web app without sample pages, integrating GitHub Actions and a SQL Server database:
        <CodeBox>dotnet new bit-bp --name MyCompany.MyApp --database SqlServer --pipeline GitHub --sample None --serverUrl app.mycompany.com</CodeBox>

        4- Create an offline capable mobile, desktop and web app:
        <CodeBox>dotnet new bit-bp --name MyCompany.MyApp --database SqlServer --pipeline GitHub --sample None --offlineDb</CodeBox>

        <div class="section-card-txt">
            <b>Note</b>: We recommend to create the project in a path that is not too long without space character in the folder names.
        </div>
    </section>
    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Visual Studio</BitTypography>
        <br />
        <BitCarousel Style="height:unset;aspect-ratio:1/.55" AutoPlay=true InfiniteScrolling=true AutoPlayInterval="3000">
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-1.webp">
                </div>
            </BitCarouselItem>
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-2.webp" />
                </div>
            </BitCarouselItem>
            <BitCarouselItem>
                <div class="image-container">
                    <img src="images/templates/create-new-project-vs-3.webp" />
                </div>
            </BitCarouselItem>
        </BitCarousel>
        <br />
        <div class="section-card-txt">
            <b>Note</b>: In second window of create new project modal, make sure to check <b>Place solution and project in the same directory</b> checkbox.
        </div>
    </section>
</div>

<NavigationButtons Prev="Development prerequisites" PrevUrl="/templates/development-prerequisites" Next="Project structure" NextUrl="/templates/project-structure" />
