@namespace AdminPanel.Client.Core
@inherits AppComponentBase

@if (IsMenuOpen)
{
    <div class="menu-shadow" @onclick=CloseNavMenu></div>
}

<section class="nav-menu @(IsMenuOpen ? null : "nav-menu--closed")">
    <div class="menu-content">
        <div class="menu-top-row"></div>
        <BitNav Items="_navItems"
                Class="bit-nav-menu"
                AriaLabel="NavMenu"
                DefaultSelectedItem="_navItems[0]"
                OnItemClick="(BitNavItem item) => HandleOnItemClick(item)" 
                ClassStyles="@(new() { SelectedItemContainer = new() { Class = "selected-item-cnt" } })"/>
    </div>
</section>