@import "../../Styles/Fluent/colors.fluent.scss", "../../Styles/functions.scss";

.bit-mdl-fluent {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: rem(14px);
    font-weight: 400;
    position: fixed;
    z-index: 1000000;
    inset: 0;
}

.bit-mdl-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.267s ease 0s;
}

.bit-mdl-overlay {
    position: absolute;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0;
}

.bit-mdl-scrl-cnt {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bit-mdl-container {
    box-shadow: rgba(0, 0, 0, 22%) 0 rem(25.6px) rem(57.6px) 0, rgba(0, 0, 0, 18%) 0 rem(4.8px) rem(14.4px) 0;
    border-radius: rem(2px);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    text-align: left;
    outline: transparent solid rem(3px);
    max-height: calc(100% - 32px);
    max-width: calc(100% - 32px);
    min-height: rem(176px);
    min-width: rem(288px);
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
