@inherits LayoutComponentBase

<Header />

<div class="main @(CurrentUrl == "/" || CurrentUrl == "/icons" ? "main--full-page" : null)">
    @if (CurrentUrl != "/")
    {
        <NavMenu />
    }
    <div class="site-content">
        @Body
    </div>
</div>

<MessageBox />
<Footer />