@import "../colors.fluent.scss", "../../functions.scss";

.bit-msg-bar-fluent {
    font-family: FluentFont;
    font-size: rem(12px);
    font-weight: 400;
    line-height: inherit;
    color: $Grey160;
    align-items: center;
    width: 100%;
    display: flex;
    word-break: break-word;
    min-height: 32px;
}

.bit-msg-bar-default-fluent {
    background-color: $Grey20;
}

.bit-msg-bar-error-fluent {
    background-color: $Error;
}

.bit-msg-bar-success-fluent {
    background-color: $Success;
}

.bit-msg-bar-warning-fluent {
    background-color: $Warning;
}

.bit-msg-bar-severe-fluent {
    background-color: $Severe;
}

.bit-msg-bar-fluent .flexContainer {
    margin: 8px 0px 8px 12px;
    padding: 0;
    text-align: left;
}

.bit-msg-bar-fluent .bit-btn-fluent {
    padding: em(2) em(18);
    min-width: em(80);
}
