@page "/components/searchbox"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="SearchBox" OverviewDesc="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitSearchBox" Description="To create a searchbox you can use a BitSearchbox component.">
        <SampleContent>
            <div>
                <BitSearchBox Placeholder="Search"></BitSearchBox>
                <BitSearchBox Placeholder="Search" DefaultValue="this is default value"></BitSearchBox>
                <BitSearchBox Placeholder="Search with no animation" DisableAnimation=true></BitSearchBox>
                <BitSearchBox Placeholder="SearchBox with fixed icon" ShowIcon="true"></BitSearchBox>
                <BitSearchBox Placeholder="Search with Binded value" @bind-Value="@TextValue"></BitSearchBox>
                <BitLabel>The value you are looking for: @TextValue</BitLabel>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search"><span>&lt/</span><span class="dark-green">BitSearchBox</span><span>&gt;</span>
                &lt<span class="dark-green">BitSearchBox DefaultValue="</span>This is default value">&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search with no animation"<span class="dark-green"> DisableAnimation</span>=<span class="light-blue">"true"</span>>&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>SearchBox with fixed icon"<span class="dark-green"> ShowIcon</span>=<span class="light-blue">"true"</span>>&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search with Binded value" <span class="dark-green"><span class="light-yellow-bg">&#64</span>bind-Value</span>=<span><span class="light-yellow-bg">&#64</span>TextValue</span>>&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Underlined SearchBox" Description="BitSearchBox component can be like an underline.">
        <SampleContent>
            <div>
                <BitSearchBox Placeholder="Search" IsUnderlined="true"></BitSearchBox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search"<span class="dark-green"> IsUnderlined</span>=<span class="light-blue">"true"</span>>&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="SearchBox with custom icon" Description="BitSeachBox component also can get a custom icon.">
        <SampleContent>
            <div>
                <BitSearchBox Placeholder="Filter" IconName="Filter"></BitSearchBox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="dark-green">BitSearchBox Placeholder="</span>Filter" <span class="dark-green">IconName</span>="Filter"><span>&lt/</span><span class="dark-green">BitSearchBox</span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="SearchBox with fixed width" Description="You can set width of searchbox by Width attribute.">
        <SampleContent>
            <div>
                <BitSearchBox Placeholder="Search" Width="250px"></BitSearchBox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search" <span class="dark-green">Width</span>="250px"><span>&lt/</span><span class="dark-green">BitSearchBox</span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Disabled SearchBox" Description="BitSearchBox can be disabled or enabled by setting IsEnabled attribute.">
        <SampleContent>
            <div>
                <BitSearchBox Placeholder="Search" IsEnabled=false></BitSearchBox>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="dark-green">BitSearchBox Placeholder="</span>Search"<span class="dark-green"> IsEnabled</span>=<span class="light-blue">"false"</span>>&lt/<span class="dark-green">BitSearchBox</span><span>&gt;</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>