@page "/bswup/install"
@inherits AppComponentBase

<PageOutlet Url="bswup/install"
            Title="Install - Bswup"
            Description="installing the bit Bswup" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Install bit Bswup</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1" Gutter>
        How to install the bit Bswup?
    </BitText>
    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>CLI</BitText>
        <div class="section-card-txt">
            Open the command line of your choice and run the following command:
            <CodeBox>dotnet add package Bit.Bswup</CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Visual Studio</BitText>
        <br />
        <div class="section-card-txt">
            Open your Visual Studio's Manage NuGet Packages window and install the Bit.Bswup package:
            <br />
            <br />
            <img src="/images/bswup/install-visualstudio.webp" class="bswup-img" />
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/bswup/overview" Next="Scripts" NextUrl="/bswup/scripts" />
