@page "/privacy"

@inherits TodoTemplateComponentBase;

<PageTitle>Privacy</PageTitle>

<div class="page-container">
    <div class="page-content">
        <section class="main-section">
            <h1 class="main-section-title">Privacy Policy</h1>
            <div class="section-desc">
                Use this page to detail your site's privacy policy.
            </div>
        </section>
        <section class="sub-section">
            <h2 class="sub-section-title">Privacy Policy</h2>
            <div class="section-desc">
                Use this section to detail your site's privacy policy.
            </div>
        </section>
    </div>
</div>
