@page "/reset-password"

@inherits TodoTemplateComponentBase;

<PageTitle>Reset password</PageTitle>

<div class="page-container">
    <EditForm Model="ResetPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ResetPasswordMessageType"
                       OnDismiss="() => ResetPasswordMessage = null">
                @ResetPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">Reset password</h1>
        <div class="form-input-container">
            <BitTextField Label="New Password"
                          @bind-Value="ResetPasswordModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="New Password" />
            <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
        </div>
        <div class="form-input-container">
            <BitTextField Label="Confirm New Password"
                          @bind-Value="ResetPasswordModel.ConfirmPassword"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="Confirm New Password" />
            <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="Submit"
                   AriaLabel="Submit"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Change my password</span>
            }
        </BitButton>
    </EditForm>
</div>