@page "/sign-up"

@inherits AppComponentBase;

<PageTitle>Sign up</PageTitle>

<div class="page-container">
    <EditForm EditContext="FormContext" OnValidSubmit="WrapHandled(DoSignUp)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignUpMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignUpMessageType"
                       OnDismiss="() => SignUpMessage = null">
                @SignUpMessage
            </BitMessageBar>
        }
        @if (IsSignedUp)
        {
            <h1 class="form-title">
                Confirm Your Email Address
            </h1>
            <div class="form-description">
                We have sent a confirmation link to your email address.
                Please confirm your email by clicking on the link.
            </div>
            <div class="form-link">
                Haven’t you received the confirmation email?
            </div>
            <div class="form-note">
                Check your Spam/Junk, if you could not find it in the Inbox.
                <br/>
                - OR -
            </div>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="Resend email"
                   AriaLabel="Resend email"
                   OnClick="WrapHandled(ResendLink)">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>Resend email</span>
                }
            </BitButton>
        }
        else
        {
            <h1 class="form-title">
                Sign up
            </h1>
            <div class="form-input-container">
                <BitTextField Label="Email" 
                              Placeholder="Email" 
                              Type="BitTextFieldType.Email"
                              @bind-Value="SignUpModel.UserName" />
                <ValidationMessage For="@(() => SignUpModel.UserName)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="Password"
                          @bind-Value="SignUpModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="Password" />
                <ValidationMessage For="@(() => SignUpModel.Password)" />
            </div>

            <div class="form-input-container form-input-container--no-margin">
                <BitCheckbox Class="form-checkbox" @bind-Value="SignUpModel.IsAcceptPrivacy">
                    I agree to the <BitLink Href="/privacy" Target="_blank">Privacy Policy</BitLink>
                </BitCheckbox>
            </div>

            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="Sign up"
                   AriaLabel="Sign up"
                   ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>Sign up</span>
                }
            </BitButton>

            <div>
                Already have an account? <BitLink Href="/sign-in">Sign in</BitLink>
            </div>
        }

    </EditForm>
</div>