@import "../../../Styles/functions.scss", "../../../Styles/general.scss";

.bit-cmpb {
    position: relative;
    display: inline-flex;
    min-width: spacing(9);
    box-sizing: border-box;
    font-family: $typography-button-font-family;
    font-weight: $typography-button-font-weight;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border-width: $shape-border-width;
    border-style: $shape-border-style;
    border-radius: $shape-border-radius;

    .text-container {
        display: block;
        @extend .no-text-select;

        .primary-text {
            display: block;
            margin-bottom: spacing(0.625);
        }

        .secondary-text {
            display: block;
        }
    }

    &.primary {
        color: $color-text-primary;
        background: $color-primary-main;
        border-color: $color-border-primary;

        &:hover {
            border-color: $color-action-hover-primary;
            background-color: $color-action-hover-primary;
        }

        &:active {
            border-color: $color-action-active-primary;
            background-color: $color-action-active-primary;
        }
    }

    &.standard {
        border-color: $color-border-secondary;
        color: $color-text-secondary;
        background-color: $color-secondary-main;

        &:hover {
            border-color: $color-action-border-hover-secondary;
            background-color: $color-action-hover-secondary;
        }

        &:active {
            border-color: $color-action-border-active-secondary;
            background-color: $color-action-active-secondary;
        }
    }

    &.disabled {
        border-color: $color-border-disabled;
        background-color: $color-action-disabled;
        cursor: default;
        pointer-events: none;

        &.primary {
            color: $color-neutrals-gray50;
        }

        &.standard {
            color: $color-neutrals-gray90;
        }
    }

    &.small {
        padding: spacing(0.25) spacing(1.25);
        font-size: spacing(1.5);
        line-height: spacing(2.75);

        .secondary-text {
            font-size: spacing(1);
            line-height: spacing(2.25);
            font-weight: 400;
        }
    }

    &.medium {
        padding: spacing(0.5) spacing(2);
        font-size: spacing(1.75);
        line-height: $typography-button-line-height;

        .secondary-text {
            font-size: spacing(1.25);
            line-height: spacing(2.25);
            font-weight: 400;
        }
    }

    &.large {
        padding: spacing(0.75) spacing(2.75);
        font-size: spacing(2);
        line-height: spacing(3.75);

        .secondary-text {
            font-size: spacing(1.5);
            line-height: spacing(2.5);
            font-weight: 400;
        }
    }
}
