@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="d-flex flex-column border-primary alert alert-info col-5">
        <div class="d-flex justify-content-between align-items-center" style="height: 400px;">
            <img src="/next (5).png" style="transform: rotate(180deg);" @onclick="() => Manualy(true)" />
            <div>
                @Render(currentPosition)
            </div>
            <img src="/next (5).png" @onclick="() => Manualy(false)" />
        </div>
        <div class="d-flex justify-content-center">
            @foreach (var item in Components)
            {
                if (Math.Abs(currentPosition % Components.Length) == Array.IndexOf(Components, item))
                {
                    <div class="alert alert-danger border-dark"></div>
                }
                else
                {
                    <div class="alert alert-info border-dark"></div>
                }
            }
        </div>
    </div>
</div>