@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    @if (ToolbarTemplate is not null)
    {
        <div @ref="_toolbarRef" class="bit-rte-tlb">
            @ToolbarTemplate
        </div>
    }

    <div @ref="_editorRef" class="bit-rte-edt">
        @EditorTemplate
    </div>
</div>