@page "/components/navbar"

<PageOutlet Url="components/navbar"
            Title="NavBar"
            Description="navbar component of the bit BlazorUI components" />

<div>
    <DemoPage Name="NavBar"
              SecondaryNames="@(["NavMenu", "TabPanel"])"
              Description="A tab panel that provides navigation links to the main areas of an app."
              Parameters="componentParameters"
              SubClasses="componentSubClasses"
              SubEnums="componentSubEnums"
              GitHubUrl="Navs/NavBar/BitNavBar.razor"
              GitHubDemoUrl="Navs/NavBar/BitNavBarDemo.razor">
        <NotesTemplate>
            <BitText>
                The BitNavBar is a <BitTag Color="BitColor.SecondaryBackground">Multi-API</BitTag> component
                which can accept the list of Items in 3 different ways:
                <br />
                1. The <BitLink Href="#navbar-item"><BitTag Color="BitColor.SecondaryBackground">BitNavBarItem</BitTag></BitLink> class <br />
                2. A <BitTag Color="BitColor.SecondaryBackground">Custom Generic</BitTag> class <br />
                3. The <BitLink Href="#navbar-option"><BitTag Color="BitColor.SecondaryBackground">BitNavBarOption</BitTag></BitLink> component
            </BitText>
        </NotesTemplate>
        <Examples>
            <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
                <BitPivotItem HeaderText="Item">
                    <_BitNavBarItemDemo />
                </BitPivotItem>

                <BitPivotItem HeaderText="Custom">
                    <_BitNavBarCustomDemo />
                </BitPivotItem>

                <BitPivotItem HeaderText="Option">
                    <_BitNavBarOptionDemo />
                </BitPivotItem>
            </BitPivot>
        </Examples>
    </DemoPage>
</div>
