.buttons-container {
    gap: 0.5rem;
    display: flex;
    flex-flow: row wrap;
}

.buttons-container-grid {
    gap: 0.5rem;
    display: grid;
}

.form-container {
    max-width: 30rem;
}

::deep {
    .custom-class {
        color: blueviolet;
        border-radius: 1rem;
    }

    .custom-container {
        line-height: 2;
    }

    .custom-primary {
        line-height: 2;
        font-weight: 900;
        color: goldenrod;
    }

    .custom-secondary {
        line-height: 2;
        font-weight: 600;
        color: orangered;
    }
}
