<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25414" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25414" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25414" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25404" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.5.24" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.5.100" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net461" />
</packages>