@page "/besql"
@page "/besql/overview"
@inherits AppComponentBase

<PageOutlet Url="besql/overview"
            Title="Overview - Besql"
            Description="overview of the bit Besql" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Besql</BitText>
    <br />
    <BitText Typography="BitTypography.H5" Gutter>Blazor Entity Framework Sqlite utilities</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1">
        Dreaming of an offline web application capable of saving data and syncing later?
        <br />
        Enter Besql, your solution to incorporating EF core & sqlite in your browser.
        It's a crucial aid for achieving this objective seamlessly.
        <br />
        bit Besql facilitates the use of Entity Framework and sqlite in web browsers with Blazor WebAssembly.
    </BitText>
    <br />
    <div class="section-card-txt">
        You can watch this step by step walkthrough video to see bit Besql in action:
    </div>
    <br />
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/ClpMKUboJmA?si=_P1DM9_-KcYRPWDl"
                width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
    <br />
    <div class="section-card-txt">
        You can find the sample source-code of the above video
        <a href="https://github.com/bitfoundation/bitplatform-samples/tree/develop/videos/Bit.Besql" target="_blank">here</a>.
    </div>
    <br />
    <BitText Typography="BitTypography.H6" Gutter>Supported browsers</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor is supported in the browsers shown in the following list on both mobile and desktop platforms.
                </BitText>
                <ul dir="auto">
                    <li>Apple Safari (Current† version)</li>
                    <li>Google Chrome (Current† version)</li>
                    <li>Microsoft Edge (Current† version)</li>
                    <li>Mozilla Firefox	(Current† version)</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <BitText Typography="BitTypography.H6" Gutter>Supported platforms</BitText>
    <div class="section-card-txt">
        <ul>
            <li>
                <BitText Typography="BitTypography.Body1" Gutter>
                    Blazor Hybrid apps have the following additional platform requirements:
                </BitText>
                <ul dir="auto">
                    <li>Android 7.1 (API Level 24) or higher</li>
                    <li>iOS 15 or higher</li>
                    <li>macOS 12 (Monterey) or higher</li>
                    <li>Windows 7 SP1 or higher</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
</div>

<NavigationButtons Next="Install" NextUrl="/besql/install" />