@page "/besql/usage"
@inherits AppComponentBase

<PageOutlet Url="besql/usage"
            Title="Usage - Besql"
            Description="usage of the bit Besql" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Using bit Besql</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1" Gutter>
        How to use the bit Besql?
    </BitText>
    <br />
    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Script</BitText>
        <div class="section-card-txt">
            To get started, simply after installing bit Besql, add the following script tag to your default document:
            <CodeBox>&lt;script src="_content/Bit.Besql/bit-besql.js">&lt;/script></CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Services</BitText>
        <br />
        <div class="section-card-txt">
            Register bit Besql services using its specific IServiceCollection extension method as follows:
            <CodeBox>services.AddBesqlDbContextFactory();</CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Usage</BitText>
        <br />
        <div class="section-card-txt">
            The usage of bit Besql is the same as the usage of EFCore's Sqlite provider with IDbContextFactory.
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/besql/overview" />
