@page "/besql/install"
@inherits AppComponentBase

<PageOutlet Url="besql/install"
            Title="Install - Besql"
            Description="installing the bit Besql" />

<div class="page-container">
    <BitText Typography="BitTypography.H3" Gutter>Install bit Besql</BitText>
    <br />
    <BitText Typography="BitTypography.Subtitle1" Gutter>
        How to install the bit Besql?
    </BitText>
    <br />

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>CLI</BitText>
        <div class="section-card-txt">
            Open the command line of your choice and run the following command:
            <CodeBox>dotnet add package Bit.Besql</CodeBox>
        </div>
    </section>

    <section class="section-card">
        <BitText Typography="BitTypography.H5" Gutter>Visual Studio</BitText>
        <br />
        <div class="section-card-txt">
            Open your Visual Studio's Manage NuGet Packages window and install the Bit.Besql package:
            <br />
            <br />
            <img src="/images/besql/install-visualstudio.webp" class="besql-img" />
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/besql/overview" Next="Usage" NextUrl="/besql/usage" />
