@page "/besql/overview"
@inherits AppComponentBase

<PageOutlet Url="besql/overview"
            Title="Overview - Besql"
            Description="overview of the bit Besql" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Besql</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.H5" Gutter>Blazor Entity Framework Sqlite utilities</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1">
        Dreaming of an offline web application capable of saving data and syncing later?
        <br />
        Enter Besql, your solution to incorporating EF core & sqlite in your browser.
        It's a crucial aid for achieving this objective seamlessly.
        <br />
        bit Besql facilitates the use of Entity Framework and sqlite in web browsers with Blazor WebAssembly.
    </BitTypography>
    <br />
    <div class="section-card-txt">
        You can watch this step by step walkthrough video to see bit Besql in action:
    </div>
    <br />
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/ClpMKUboJmA?si=_P1DM9_-KcYRPWDl"
                width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
    <br />
    <div class="section-card-txt">
        You can find the sample source-code of the above video
        <a href="https://github.com/bitfoundation/bitplatform-samples/tree/main/videos/Bit.Besql" target="_blank">here</a>.
    </div>

</div>

<NavigationButtons Next="Install" NextUrl="/besql/install" />
