@page "/about"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Evolve with Bit</div>
        <div class="section-desc">We are a full-service software development agency offering inclusive software and cloud-based solutions. Whether you are looking to modernize your product/ service or to entirely transform your business by using the world’s leading technology. You are where you need to be! </div>
    </div>
</section>

<section class="page-top-content">
    <div class="title-container--primary">
        <div class="title--primary">Why </div>
        <div class="title--primary">Bit<span class="title-border--primary"></span></div>
        <div class="title--primary">?</div>
    </div>
    <div class="content-container">
        <div class="item-container">
            <div class="item-title"><span class="item-icon quality-icon"></span>Quality</div>
            <div class="item-desc">To us, top-notch quality is more than just a catch phrase. We truly believe in the significance of our quality standards and stand by them in everything we do. </div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon performance-icon"></span>Performance</div>
            <div class="item-desc">
                If you ask us, excellence in performance is the fruit of a great organizational system. Here at Bit every member works within a result-oriented framework to make sure we continue to deliver results and exceed your expectations.
            </div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon integrity-icon"></span>Integrity</div>
            <div class="item-desc">We pride ourselves on being trusted by our customers. We are a big family now; a family that doesn’t walk away when things get hard, we never cut corners or sweep problems under the carpet. Above all, to us, every client, big or small, is a dear member of our family and we treat them equally and with honesty.</div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon sustainability-icon"></span>Sustainability</div>
            <div class="item-desc">
                By deploying sustainability thinking as a mindset, we try to increase the longevity of businesses by understanding the social and ecological circumstances of our ever-changing, non-linear, adapting world. This way, we not only maintain ongoing success for our clients but we make the world a better place for startups like yours.
            </div>
        </div>
        <div class="item-container">
            <div class="item-title"><span class="item-icon skills-icon"></span>Technical skills</div>
            <div class="item-desc">We thrive on knowledge and talent and these are the two components accounting for our best-in-class technical skills. This is how we employ the most up to date and authentic solutions to provide the highest returns.</div>
        </div>
    </div>
</section>

<section class="people-section">
    <div class="title-container--primary">
        <div class="title--primary">Our </div>
        <div class="title--primary">People<span class="title-border--primary"></span></div>
    </div>
    <div class="section-desc">With transparent delivery processes, excellent communication and a flexible approach, we deliver custom software projects to all types of businesses, from startups to enterprises.</div>
    <div class="photo-container">
        <div class="photo photo-1"></div>
        <div class="photo photo-2"></div>
        <div class="photo photo-3"></div>
        <div class="photo photo-4"></div>
        <div class="photo photo-5"></div>
        <div class="photo photo-6"></div>
        <div class="photo photo-7"></div>
        <div class="photo photo-8"></div>
    </div>
</section>

<section class="qoute-section">
    <div class="qoute-text">
        With teamwork and the right person on the job, we believe that everything is possible.
        <div class="qoute-icon top-quote-icon"></div>
        <div class="qoute-icon bottom-quote-icon"></div>
    </div>
</section>
