@inherits AppComponentBase
@page "/"

<section class="page-sec to-the-moon-sec">
    <div class="sec-content">
        <div class="sec-title">To the Moon</div>
        <div class="sec-subtitle">through the Clouds.</div>
        <div class="sec-desc">Baseflow is a digital innovation company with software development at its core. We help out our customers innovate with designing and building their digital products efficiently with our Agile mindset and lean processes.</div>
        <a class="sec-btn--primary" href="/cases">See Our Showcases</a>
    </div>
    <div class="sec-bg"></div>
</section>

<section class="page-sec projects-sec">
    <div class="title-container--primary">
        <div class="title--primary">Our </div>
        <div class="title--primary">Projects<span class="title-border--primary"></span></div>
    </div>
    <div class="sec-subtitle">Your story will go up there</div>
    @*Slider=================================*@
    <BitCarousel IsSlideShow="true">
        @foreach (var showCase in Cases)
        {
            <BitCarouselItem>
                <div class="slide-photo" style="background-image: url(@($"/images/home/slide.svg"))"></div>
                <div class="slide-content">
                    <div class="slide-title">@showCase.Name</div>
                    <div class="slide-desc">@showCase.Description</div>
                </div>
            </BitCarouselItem>
        }
    </BitCarousel>
    @*Slider=================================*@
    <a class="sec-btn--primary" href="/cases">See Our Showcases</a>
</section>

<section class="page-sec services-sec">
    <div class="title-container--primary">
        <div class="title--primary">Our </div>
        <div class="title--primary">Services<span class="title-border--primary"></span></div>
    </div>
    <div class="sec-desc">Bit provides a wide range of services. you find everything you need here. We build prototypes and test your products to make sure they are perfect.</div>
    <div class="sec-card-group">
        <div class="service-card web-development-card">
            Web development
            <div class="service-card-overlay">
                <div class="service-card-title">Web development</div>
                <div class="service-card-desc">Your business is unique and must be run on a unique platform. We offer custom web development for your business. We make sure that your website is responsive and works perfectly and beautifully on tablet, desktop and smartphone browsers. Our team is specialized in making great custom-made websites.</div>
            </div>
        </div>
        <div class="service-card app-development-card">
            App development
            <div class="service-card-overlay">
                <div class="service-card-title">App development</div>
                <div class="service-card-desc">Many users are more comfortable using mobile apps. Bit gathered talents in app building so you don’t need to elsewhere for having a smooth mobile application.</div>
            </div>
        </div>
        <div class="service-card mobile-development-card">
            Mobile development
            <div class="service-card-overlay">
                <div class="service-card-title">Mobile development</div>
                <div class="service-card-desc">Data show that approximately 70 percent of the internet surf the web via smartphones. iPhone, iPad or Android doesn’t matter. Our team always use the latest technologies and infrastructure to bring the best mobile experience for your users.</div>
            </div>
        </div>
        <div class="service-card ai-card">
            Artificial intelligence
            <div class="service-card-overlay">
                <div class="service-card-title">Artificial intelligence</div>
                <div class="service-card-desc">AI made everything easier and more efficient. With Bit, you can have it on-board too. Remote device management, wireless connectivity and smart monitoring can be run through artificial intelligence more easily. </div>
            </div>
        </div>
        <div class="service-card design-card">
            UI/ UX design
            <div class="service-card-overlay">
                <div class="service-card-title">UI/ UX design</div>
                <div class="service-card-desc">UI/UX is the first thing your clients and users interact with. It is somehow the catalogue of your business. Based on aesthetic and functional approaches, our UI/UX team create unique websites, applications and webpages for your business. </div>
            </div>
        </div>
        <div class="service-card support-card">
            Technical support
            <div class="service-card-overlay">
                <div class="service-card-title">Technical support</div>
                <div class="service-card-desc">Do you have the time to watch your company all the time? Maybe you have, but you don’t have to. With our support service, you can focus on your business and let us handle the problems. </div>
            </div>
        </div>
        <div class="service-card cloud-card">
            Cloud base solutions
            <div class="service-card-overlay">
                <div class="service-card-title">cloud base solutions</div>
                <div class="service-card-desc">Cloud solutions are much faster than traditional solutions. There is no limitation in cloud solutions and so for your business. Bit provides high-end cloud solutions in order to allow you to be fast and flexible.</div>
            </div>
        </div>
        <div class="service-card game-development-card">
            Game development
            <div class="service-card-overlay">
                <div class="service-card-title">Game development</div>
                <div class="service-card-desc">Bit can design and develop successful desktop and mobile games that will capture user’s interest. By working with our team, you can bring your game to life in 2D or 3D. We have spent numerous person-hours learning the nuances to train our team as industry experts. </div>
            </div>
        </div>
    </div>
    <a class="sec-btn--primary" href="/services">Services</a>
</section>

<section class="page-sec process-sec">
    <div class="title-container--primary">
        <div class="title--primary">Our </div>
        <div class="title--primary">Process<span class="title-border--primary"></span></div>
    </div>
    <div class="sec-desc">We draw a roadmap for your business. Then we build a prototype of what you want, after everything is just as great as you want</div>
    <div class="process-card process-card-1">
        <div class="process-card-title">Functional Specification</div>
        <div class="process-card-desc">It’s our first step toward your goal. Here we draw a map, setting goals and a list of what you need at the point.</div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-2">
        <div class="process-card-title">Prototyping</div>
        <div class="process-card-desc">It’s the level before coding. At this point you see a prototype or a demo of what you get. We take your feedback here and make changes according to your needs if necessary. </div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-3">
        <div class="process-card-title">Setting Up Your Team</div>
        <div class="process-card-desc">Your product is going to be alive here. We’ll set up a dedicated, talented, exclusive team for you. You can choose your team composition in-line with your budget. It’s also where we specify deadlines.</div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-4">
        <div class="process-card-title">Agile Software Development</div>
        <div class="process-card-desc">Your products need to get to the market ASAP. Agile Software development is the key to get the work done faster. By utilizing this approach your product will be sustainable, well designed and faster.</div>
        <div class="process-card-number"></div>
    </div>
    <div class="process-card process-card-5">
        <div class="process-card-title">Technical And Marketing Support</div>
        <div class="process-card-desc">Launching a product is just the beginning of a new journey. SEO, marketing, performance monitoring and upgrades are among other services that Bit can offer for the post-lunch process.</div>
        <div class="process-card-number"></div>
    </div>
</section>

<section class="page-sec team-sec">
    <div class="title-container--primary">
        <div class="title--primary">Who </div>
        <div class="title--primary">We Are?<span class="title-border--primary"></span></div>
    </div>
    <div class="sec-content-container">
        <div class="sec-content">
            <div class="sec-title">DoorDash / Food delivey app</div>
            <div class="sec-desc">Bit  is a full-service software developing agency. Our job is to make your dream business come true. We have combined quality with performance and made a new standard out of it. Bit gathered talents so you don't need to look for them elsewhere. We help you to build your website, your application, UI/UX and your future. It's a new world and new worlds need robust solutions.</div>
            <a class="sec-btn--primary" href="/about">Meet Our Team</a>
        </div>
        <div class="team-photo"></div>
    </div>
</section>