@page "/process"

<section class="page-top-section">
    <div class="section-content">
        <div class="section-title">Faster is the new better! </div>
        <div class="section-desc">Success is a journey and we know every Bit of it. With a dedicated team of expert developers and designers, you can have your website, mobile application and tailored user interface in no time with agile development services. Pay as you grow, see as we build and enjoy as you rock!</div>
    </div>
</section>

<div class="page-top-content">
    <div class="process-divider"></div>

    <div class="paragraph-container paragraph-container--first">
        <div class="paragraph-title">Software Development Cycle</div>
        <div class="paragraph-text">With transparent delivery processes, excellent communication and a flexible approach, we deliver custom software projects to all types of businesses, from startups to enterprises.</div>
    </div>

    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 1</div>
        <div class="paragraph-title">Functional Specification</div>
        <div class="paragraph-text">We see every client as a traveler, ready to join us in a journey to a new world. Every new world needs a map. First step in our business is creating a clear-cut road map for our clients to ensure their envisioned future. This map offers a clear vision about requirements and tools to convert your plans to reality. </div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 2</div>
        <div class="paragraph-title">Prototyping</div>
        <div class="paragraph-text">As soon as we are finished with tailoring the roadmap, Our clients get to see a mock-up of their product or a prototype; this enables them to get quicker user feedback and provides a unique opportunity to save time in iteration. With prototyping, achieving your goal is as cost-efficient as possible. </div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 3</div>
        <div class="paragraph-title">Setting Up Your Team</div>
        <div class="paragraph-text">The dedicated team we will build up for you, is extremely talented, on time, self-organized. Our world class HR team has considerable experience in not only assigning the most relevant, dedicated team of experts to your business but more importantly making sure the team is always in its best possible form. The good news is, thanks to our monthly subscription model, you get to adjust your team size every month.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 4</div>
        <div class="paragraph-title">Agile Software Development</div>
        <div class="paragraph-text">It’s the world of rivals and speed plays a very vital role. It’s so important that your product goes online fast. To impress investors, to get customer feedback or even examine the blind spots, speed is key. But you don’t have to wait until your product is ready. You can see the project’s progress in several two-weeks sprints. This approach allows you to present the product to your potential investment or maybe add features in the process.</div>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-title-green">Step 5</div>
        <div class="paragraph-title">Technical And Marketing Support</div>
        <div class="paragraph-text">One of the challenges of growing businesses is to deal with stuff like SEO, marketing, upgrading infrastructures, performance monitoring or even App store optimization. You can count on Bit in every single of these areas. If you didn’t start with us, you can grow with us. </div>
    </div>

    <div class="people-section">
        <div class="title-container--primary">
            <div class="title--primary">People<span class="title-border--primary"></span></div>
            <div class="title--primary"> behind the art</div>
        </div>
        <div class="people-box-group">
            <div class="people-box developer-box">
                <div class="people-box-title">Developers</div>
                <div class="people-box-desc">Cross functional developers are up for any challenge. Great team-work with sophistication and multi-tasking skills make them an indispensable part of your business. </div>
            </div>
            <div class="people-box pm-box">
                <div class="people-box-title">Project managers</div>
                <div class="people-box-desc">To ensure that everything is going well, on-time and on-budget, project managers will be there to take care of it all. They are all about meeting deadlines and delivering results. We consider their role to be the glue </div>
            </div>
            <div class="people-box qa-box">
                <div class="people-box-title">QA testers</div>
                <div class="people-box-desc">We believe in perfection. In order to achieve that, we utilize the skills of QA testers. They report and document bugs and errors and help troubleshoot them to make sure everything is working flawlessly all the time. </div>
            </div>
            <div class="people-box designer-box">
                <div class="people-box-title">UI/UX designer</div>
                <div class="people-box-desc">User Interface of your product is the first thing that customer interacts with and their experience is the effect that the Interface brings. Therefore, you need skilled UX designers to fully understand user behaviour and architect your user journey in the most profitable way with minimal effort. </div>
            </div>
            <div class="people-box sm-box">
                <div class="people-box-title">Scrum Master</div>
                <div class="people-box-desc">We hear you! You want to make sure all the aforementioned roles work closely together so you can drive your business without any stops on the way. The scrum master is the team role responsible for making sure the different roles in your team are not blocked by obstacles. </div>
            </div>
        </div>
    </div>

    <div class="benefit-section">
        <div class="title-container--primary">
            <div class="title--primary">Our </div>
            <div class="title--primary">Benefits<span class="title-border--primary"></span></div>
        </div>
        <div class="benefit-box benefit-box-1">
            <div class="benefit-box-title">We Gathered the Best, You Hire the Best</div>
            <div class="benefit-box-desc">It’s a package of sophistication and with this package comes an incredible set of talents that make your business their number one priority; to help your business achieve its wildest dreams. Your allocated crew will be monitored closely to make sure nothing gets in the way of achieving your ambitious goals.</div>
        </div>

        <div class="benefit-box benefit-box-2">
            <div class="benefit-box-title">Transparent Process Delivery </div>
            <div class="benefit-box-desc">As a client you can track every inch/Bit of the process. You will get weekly comprehensive reports so you can go to your investors with more confidence and give them assurance as well. You also can make new priorities, feedback and needs according to these reports.</div>
        </div>

        <div class="benefit-box benefit-box-3">
            <div class="benefit-box-title">Pay as You Go</div>
            <div class="benefit-box-desc">Being cost efficient is so important these days. With a monthly subscription, you pay for what you exactly need without any hidden fees. You can start with lower resources and </div>
        </div>
    </div>
</div>