::deep {
    .item {
        display: flex;
        width: 3.5rem;
        height: 3.5rem;
        align-items: center;
        justify-content: center;
        background-color: dodgerblue;
    }

    .stack-item {
        height: 3.5rem;
        padding: 0 1rem;
        min-width: 3.5rem;
        white-space: nowrap;
        background-color: dodgerblue;
    }
}
