<ComponentExampleBox Title="Stacked Bar Chart" RazorCode="@razorCode" CsharpCode="@csharpCode" Id="example3">
    <ExamplePreview>
        <div class="example-desc">
            Bar charts can be configured into stacked bar charts by changing the settings on the X and Y axes to enable stacking. 
            Stacked bar charts can be used to show how one data series is made up of a number of smaller pieces.
        </div>
        <div class="chart-wrapper">
            <div class="chart-container">
                <BitChart Config="_config" @ref="_chart" />
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>