@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">
    <div style="@Styles?.Top" class="bit-ply-top @Classes?.Top" />
    <div style="@Styles?.Center"
         class="bit-ply-center @Classes?.Center" 
         dir="@Dir?.ToString().ToLower()">
        <div style="@Styles?.Left" class="bit-ply-left @Classes?.Left"></div>
        <div style="@Styles?.Main" class="bit-ply-main @Classes?.Main">
            @ChildContent
        </div>
        <div style="@Styles?.Right" class="bit-ply-right @Classes?.Right"></div>
    </div>
    <div style="@Styles?.Bottom" class="bit-ply-bottom @Classes?.Bottom"></div>
</div>