@page "/admin-panel/create-project"
@inherits AppComponentBase

<PageOutlet Url="admin-panel/create-project"
            Title="Create project - AdminPanel"
            Description="create project of the AdminPanel template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>AdminPanel</BitTypography>
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Create project</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Install the necessary packages to start building with the bit AdminPanel.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>CLI</BitTypography>
        <div class="section-card-txt">
            1. Install the AdminPanel Template from the NuGet package manager.
        </div>
        <div class="code-box">dotnet new install Bit.AdminPanel</div>
        <div class="section-card-txt">
            2. Create a new project using the Template installed
        </div>
        <div class="code-box">dotnet new bit-admin</div>
        <div class="section-card-txt">
            <b>Note</b>: bit AdminPanel accepts project name with --name (default is current folder name), --database default to 'SqlServer' among following options: 'SqlServer', 'Sqlite', 'Other' and --pipeline default to 'GitHub' among the following options: 'GitHub', 'Azure' (AzureDevOps pipelines), 'Other'.
        </div>
        <div class="code-box">dotnet new bit-admin --name MyProject --database sqlite --pipeline github</div>
        <div class="section-card-txt">
            <b>Warning</b>: Create project in a folder that it's path is not too long (lots of nested folders) and avoid folders with space character in their names.
        </div>
    </section>
    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Visual Studio</BitTypography>
        <div class="section-card-txt">
            After installing the template using the CLI, you can also create a new project with the Visual Studio:
        </div>
        <div class="image-container">
            <img class="image" alt="Create new project" src="/images/templates/admin/create-project-admin.webp" />
        </div>

    </section>
</div>

<NavigationButtons Prev="Development prerequisites" PrevUrl="/admin-panel/development-prerequisites" Next="Database" NextUrl="/admin-panel/database" />