@page "/admin-panel/database"
@inherits AppComponentBase

<PageOutlet Url="admin-panel/database"
            Title="Database - AdminPanel"
            Description="how to configure the database of the AdminPanel template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H6" Gutter>AdminPanel</BitTypography>
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Database</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        Configure the database to work with the apps built with the bit AdminPanel.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Connection String</BitTypography>
        <div class="section-card-txt">
            You can change connection string at <b>appsettings.json</b> file in <b>AdminPanel.Server.Api</b> project.
        </div>

        <div class="section-card-txt">
            If you have selected 'Other' for the database parameter while building the project, install appropriate EntityFrameworkCore package for your intended database,
            and then in the <b>Api\Startup\Services.cs</b> file, perform the relevant settings for the related package in the services.AddDbContext section.
        </div>
    </section>

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Migration</BitTypography>
        <div class="section-card-txt">
            Set <b>AdminPanel.Server.Api</b> as the Startup Project in solution explorer and also set it as the Default Project in <b>Package Manager Console</b> and run the following commands:
        </div>
        <div class="code-box">Add-Migration InitialSchema</div>
        <div class="code-box">Update-Database</div>
        <div class="section-card-txt">Or open a terminal in your Api project directory and run followings:</div>
        <div class="code-box">dotnet ef migrations add InitialSchema</div>
        <div class="code-box">dotnet ef database update</div>
    </section>
</div>

<NavigationButtons Prev="Create project" PrevUrl="/admin-panel/create-project" Next="Run" NextUrl="/admin-panel/run" />