.loading-container {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

::deep .change-phone-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
