@page "/profile"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ProfileTitle)]</PageTitle>

<div class="page-container">
    <div class="content-container profile-panel">
        <UserDataSection User="user" Loading="isLoading" />
    </div>

    <br />

    <div class="content-container tfa-panel">
        <TwoFactorSection />
    </div>

    <br />

    <div class="content-container email-panel">
        <ChangeEmailSection Email="@user?.Email" Loading="isLoading" />
    </div>

    <br />

    <div class="content-container email-panel">
        <ChangePhoneNumberSection PhoneNumber="@user?.PhoneNumber" Loading="isLoading" />
    </div>

    <br />

    <div class="content-container sessions-panel">
        <UserSessionsSection />
    </div>

    <br />

    <div class="content-container danger-panel">
        <DeleteAccountSection />
    </div>
</div>