@import '../../../../Styles/abstracts/_functions.scss';
@import '../../../../Styles/abstracts/_media-queries.scss';
@import '../../../../Styles/abstracts/_bit-css-variables.scss';

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.content-container {
    width: 100%;
    display: flex;
    position: relative;
    padding: rem2(32px);
    align-items: center;
    max-width: rem2(608px);
    border-radius: rem2(4px);
    flex-flow: column nowrap;
    background-color: $bit-color-background-primary;

    @include lt-md {
        padding: 1rem;
    }

    &.profile-panel {
        min-height: rem2(560px);
        box-shadow: $bit-box-shadow-callout;
    }

    &.email-panel {
        text-align: center;
        box-shadow: $bit-box-shadow-callout;
    }

    &.tfa-panel {
        box-shadow: $bit-box-shadow-callout;
    }

    &.danger-panel {
        border: 2px solid darkred;
    }
}

.form-input-container {
    overflow: hidden;
}
