@import '../Styles/_shared.scss';

.component-demo-container {
    width: 100%;
    max-width: rem(1044px);
    margin: 0 auto;
    padding: rem(112px) 0;

    @include lg {
        max-width: rem(792px);
    }

    @include md {
        max-width: rem(596px);
        padding: rem(72px) 0;
    }

    @include sm {
        padding: rem(32px) 0 rem(56px);
    }
}

.demo-section {
    width: 100%;
}

.component-name {
    margin: 0 0 rem(16px) 0;
    padding: 0;
    font-weight: bold;
    font-size: rem(38px);
    line-height: rem(56px);
    color: $B2Color;

    @include lg {
        font-size: rem(32px);
        line-height: rem(48px);
    }

    @include md {
        font-size: rem(24px);
        line-height: rem(40px);
    }

    @include sm {
        font-size: rem(18px);
        line-height: rem(31px);
        margin: 0 0 rem(8px) 0;
    }
}

.component-desc {
    width: 100%;
    margin-bottom: rem(40px);
    font-size: rem(20px);
    line-height: rem(32px);
    text-align: justify;
    color: #2E2E2E;

    @include lg {
        margin-bottom: rem(32px);
        font-size: rem(16px);
        line-height: rem(24px);
    }

    @include md {
        margin-bottom: rem(28px);
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(24px);
    }

    @include sm {
        margin-bottom: rem(32px);
        font-weight: 500;
        font-size: rem(12px);
        line-height: rem(24px);
    }
}

.section-title {
    width: 100%;
    border-bottom: rem(2px) solid $B5Color;
    margin-bottom: rem(40px);
    font-weight: 500;
    font-size: rem(22px);
    line-height: rem(40px);
    color: $B2Color;

    @include lg {
        margin-bottom: rem(32px);
        font-size: rem(18px);
        line-height: rem(31px);
    }

    @include md {
        border-width: rem(1px);
        margin-bottom: rem(24px);
        font-size: rem(18px);
        line-height: rem(32px);
    }

    @include sm {
        border-width: rem(1px);
        margin-bottom: rem(16px);
        font-size: rem(14px);
        line-height: rem(24px);
    }
}

.table-title {
    margin-bottom: rem(8px);
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(32px);
    color: $B2Color;

    @include lt-xl {
        font-size: rem(16px);
        line-height: rem(24px);
    }

    @include sm {
        font-size: rem(12px);
    }
}

.table-view {
    width: 100%;
    margin-bottom: rem(40px);
    border: rem(1px) solid $B5Color;
    border-radius: rem(10px);
    box-sizing: border-box;
    background-color: $White;
    overflow: hidden;
    border-spacing: 0;

    @include lt-xl {
        border-radius: rem(8px);
    }
}

.th-row {
    display: flex;
    width: 100%;
    min-height: rem(48px);
    background-color: $B5Color;

    @include lt-xl {
        min-height: rem(40px);
    }
}

.tdata-row {
    display: flex;
    width: 100%;
    border-bottom: rem(1px) solid $B5Color;

    &:last-child {
        border: none;
    }
}

.th-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    padding: rem(5px) rem(16px) rem(5px) rem(16px);
    border-right: rem(1px) solid $B5Color;
    box-sizing: border-box;
    font-size: rem(18px);
    line-height: rem(31px);
    text-align: left;
    color: $B2Color;
    background-color: transparent;

    &:last-child {
        border: none;
    }

    @include lg {
        font-size: rem(16px);
        line-height: rem(24px);
    }

    @include md {
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(24px);
    }

    @include sm {
        padding: rem(5px) rem(8px) rem(5px) rem(8px);
        font-weight: 500;
        font-size: rem(10px);
        line-height: rem(16px);
    }
}

.td-cell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: rem(16px);
    border-right: rem(1px) solid $B5Color;
    box-sizing: border-box;
    font-size: rem(14px);
    line-height: rem(24px);
    text-align: left;
    color: $Gray1;
    text-overflow: clip;
    white-space: normal;
    overflow: hidden;
    word-break: break-word;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;


    &:last-child {
        border: none;
    }

    @include lg {
        font-size: rem(12px);
        line-height: rem(18px);
    }

    @include md {
        font-size: rem(10px);
        line-height: rem(16px);
    }

    @include sm {
        padding: rem(8px);
        font-size: rem(8px);
        line-height: rem(12px);
    }
}

.params-table {
    .th-cell,
    .td-cell {
        &:nth-child(1) {
            width: 20%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            width: 22%;
        }

        &:nth-child(4) {
            width: 36%;
        }
    }
}

.types-table {
    .th-cell,
    .td-cell {
        &:nth-child(1) {
            width: 20%;
        }

        &:nth-child(2) {
            width: 44%;
        }

        &:nth-child(3) {
            width: 36%;
        }
    }
}

::deep .param-table-link {
    a {
        font-family: Axiforma;
        cursor: pointer;
        color: $B2Color;
        font-size: rem(14px);
        line-height: rem(24px);

        @include lg {
            font-size: rem(12px);
            line-height: rem(18px);
        }

        @include md {
            font-size: rem(10px);
            line-height: rem(16px);
        }

        @include sm {
            font-size: rem(8px);
            line-height: rem(12px);
        }
    }
}