@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';

.box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    margin-bottom: rem(36px);
}

.box-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(40px);
    box-sizing: border-box;
    border-bottom: rem(1px) solid #a19f9d;
    margin-top: rem(32px);
}

.header-title {
    font-weight: 600;
    font-size: rem(20px);
    color: #1a2027;
}

.header-btn-group {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.box-content {
    position: relative;
    width: 100%;
    min-height: rem(70px);
    box-sizing: border-box;
    background-color: $White;
    color: $Gray1;
    font-size: rem(16px);
    line-height: rem(24px);

    pre {
        margin: 0;
        background-color: $White;
    }

    &::-webkit-scrollbar {
        width: rem(6px);
    }

    &::-webkit-scrollbar:horizontal {
        height: rem(8px);
    }
}

.example-container {
    padding: rem(24px);

    &::-webkit-scrollbar {
        width: rem(10px);
    }

    &::-webkit-scrollbar:horizontal {
        height: rem(10px);
    }

    @include lg {
        padding: rem(16px);
    }

    @include md {
        padding: rem(8px) rem(16px);
    }

    @include sm {
        padding: rem(16px) rem(8px);
    }
}

::deep .com-example-box-header-btn {
    min-height: rem(40px);
    height: 100%;
    background-color: transparent;
    color: #2E2E2E !important;
    border-radius: rem(4px) rem(4px) 0 0;
    border: rem(1px) solid #a19f9d !important;
    border-bottom: none !important;

    &:hover {
        background-color: #f3f2f1;
    }

    span {
        i {
            font-size: rem(18px);
            color: $B2Color !important;
        }

        span {
            font-size: rem(14px);
            font-weight: 400;
            min-width: rem(80px);

            @include sm {
                display: none;
            }
        }
    }

    &.bit-ico-btn-fluent {
        padding: 0 rem(25px);
    }

    &.bit-tgl-btn-fluent {
        min-width: unset;
    }
}

::deep .com-example-box-copy-btn {
    position: absolute;
    z-index: 1;
    right: rem(24px);
    top: rem(16px);
    width: rem(34px);
    height: rem(34px);
    border-radius: 50%;
    background-color: $B5Color;

    span {
        i {
            color: $B2Color;
            margin: 0;
            font-size: rem(16px);
        }
    }

    &:hover {
        background-color: $B5Color;
    }
}
