<footer class="footer">
    <section class="footer-section">
        <div class="footer-col">
            <div class="bit-logo"></div>
            <div class="footer-desc">A platform that enables freelancers to Code in a clean project template and Build & Deploy with 1-click.</div>
        </div>
        <div class="grid-container">
            <div class="footer-col">
                <div class="col-title">Explore</div>
                <a class="footer-link" target="_blank" href="/components/button">Demo</a>
                <a class="footer-link" target="_blank" href="/get-started">Get started</a>
                <a class="footer-link" target="_blank" href="/icons">Iconography</a>

            </div>
            <div class="footer-col">
                <div class="col-title">Quick links</div>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation/bitplatform">Github Repo</a>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation">Github Org</a>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation/bitplatform/issues">Issues</a>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-txt">Copyright © 2022 Bit Platform | All Rights Reserved </div>
        <div class="social-link-group">
            <a class="social-link twitter-link" target="_blank" href="https://twitter.com/bitplatformhq"></a>
            <a class="social-link github-link" target="_blank" href="https://github.com/bitfoundation/bitplatform"></a>
            <a class="social-link youtube-link" target="_blank" href="https://www.youtube.com/channel/UCtk33NQ91f3GOJG0HAdkdog"></a>
            <a class="social-link linkedin-link" target="_blank" href="https://www.linkedin.com/company/bit-foundation/"></a>
        </div>
    </section>
</footer>