<footer class="footer">
    <section class="footer-section">
        <div class="footer-col">
            <div class="bit-logo"></div>
            <div class="footer-desc">A platform that simplifies the development process for freelancers and software companies through its clean project templates and easy-to-use one-click build and deployment feature.</div>
        </div>
        <div class="grid-container">
            <div class="footer-col">
                <div class="col-title">Explore</div>
                <a class="footer-link" target="_blank" href="/overview">Docs</a>
                <a class="footer-link" target="_blank" href="/icons">Iconography</a>

            </div>
            <div class="footer-col">
                <div class="col-title">Quick links</div>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation/bitplatform">Github Repo</a>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation">Github Org</a>
                <a class="footer-link" target="_blank" href="https://github.com/bitfoundation/bitplatform/issues">Issues</a>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div>
            <div class="copy-right-txt">Copyright © 2023 Bit Platform | All Rights Reserved </div>
            <div class="address-info">
                <a class="address" href="https://maps.app.goo.gl/W8vtWHQ13YhYpksy6">Sixmastraat 15, 8932 PA Leeuwarden,</a>
                <div class="country">Netherlands</div>
                <a class="tel" href="tel:+31684207362">+31 6 84207362</a>
            </div>
        </div>
        <div class="social-link-group">
            <a class="social-link twitter-link" target="_blank" href="https://twitter.com/bitplatformhq"></a>
            <a class="social-link github-link" target="_blank" href="https://github.com/bitfoundation/bitplatform"></a>
            <a class="social-link youtube-link" target="_blank" href="https://www.youtube.com/channel/UCtk33NQ91f3GOJG0HAdkdog"></a>
            <a class="social-link linkedin-link" target="_blank" href="https://www.linkedin.com/company/bit-foundation/"></a>
        </div>
    </section>
</footer>