@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_vars.scss';

.nav-menu {
    position: sticky;
    z-index: 1000;
    left: 0;
    top: rem($HeaderHeight);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex: 1 0 auto;
    width: rem($NavMenuWidth);
    max-width: rem($NavMenuWidth);
    height: calc(100vh - rem($HeaderHeight));
    border-right: rem(1px) solid rgb(231, 235, 240);
    outline: 0;
    box-shadow: none;
    background-color: $White;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-y: auto;

    @include lt-lg {
        height: 100vh;
        position: fixed;
        z-index: 1200;
        top: 0;
        inset: 0;
    }

    @include sm {
        border-radius: 0 rem(10px) rem(10px) 0;
    }
}

.nav-menu--desktop {
    display: flex;

    @include lt-lg {
        display: none;
    }
}

.nav-menu--mobile {
    display: none;

    @include lt-lg {
        display: block;
    }
}

.nav-menu-shadow {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1101;
}

.search-box-container {
    width: 100%;
    padding: rem(24px) rem(22px);
    box-sizing: border-box;
}

.nav-menu-list {
    width: 100%;
    height: calc(100% - #{rem(89px)});
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: rem(6px);
    }
}

::deep .nav-menu-search-box {
    width: 100%;
    height: rem(40px);

    input::-webkit-input-placeholder {
        font-size: rem(14px);
        font-weight: 500;
    }
}

::deep .side-nav {
    .link-enabled-nourl {
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(32px);
        color: #323130;
    }

    .chevron-btn {
        &:hover {
            color: #323130;
        }

        i {
            height: 100%;
            transform: rotate( -90deg);
        }

        .expand {
            height: 100%;
            transform: rotate(0deg);
        }
    }

    .group-content {
        margin-bottom: 0;
    }

    .link-txt {
        white-space: nowrap;
    }

    .link-enabled-hasurl {
        height: rem(40px);
        box-sizing: border-box;
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(26px);
        color: #323130;

        &:hover {
            color: #323130;
        }
    }

    .selected {
        font-weight: unset;
        color: $B2Color;

        &:after {
            border-left: rem(4px) solid $B2Color;
        }
    }
}

::deep .searched-side-nav {
    .link-enabled-hasurl {
        padding: 0 20px 0 27px !important;
    }
}
