<div class="component-siderail">
    <ul class="link-container">
        @foreach (var item in Items)
        {
            <li>
                <BitLink Class="@(activeItem == item.Id ? "active" : string.Empty)" 
                         OnClick="@(() => ScrollToItem(item))">@item.Title
                </BitLink>
            </li>
        }
    </ul>
</div>