@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaBold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaSemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaMedium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaLight.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma/woff2/AxiformaThin.woff2") format("woff2");
  font-weight: 100;
}
.component-container .component-siderail {
  position: relative;
  width: 30%;
  margin-top: 7.9375rem;
}
@media screen and (max-width: 56.25em) {
  .component-container .component-siderail {
    display: none;
  }
}
.component-container .component-siderail ul.link-container:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 23.125rem;
  background-color: #8A8886;
  top: -1.25rem;
  left: 0;
}
.component-container .component-siderail .link-container {
  padding-left: 0.9375rem;
}
