@import "../../../Styles/abstracts/_functions.scss";

.title {
    font-weight: 600;
    margin-top: rem2(40px);
    margin-bottom: rem2(20px);
}

::deep {
    .custom-ico {
        font-size: rem2(14px);
        margin-right: rem2(5px);
    }

    .custom-coin {
        display: block;
        border-radius: rem2(20px);
    }
}