@inherits AppComponentBase

<section>
    <BitStack FillContent HorizontalAlign="BitAlignment.Center" Class="max-width">
        <BitText Typography="BitTypography.H6" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.EnablePasswordless)]
        </BitText>
        <br />
        @if (isConfigured)
        {
            <BitButton OnClick="DisablePasswordless" Variant="BitVariant.Outline">
                @Localizer[nameof(AppStrings.EnablePasswordless)]
            </BitButton>
        }
        else
        {
            <BitButton OnClick="EnablePasswordless">
                @Localizer[nameof(AppStrings.EnablePasswordless)]
            </BitButton>
        }
        <br />
    </BitStack>
</section>
