@import '../../../../Styles/abstracts/_media-queries.scss';

section {
    width: 100%;
}

::deep {
    .session-persona {
        @include lt-sm {
            max-width: 100%;
        }
    }

    .other-session-persona {
        @include lt-sm {
            max-width: calc(100% - 30px);
        }
    }

    .sessions-list {
        width: 100%;
        padding: 2px;
        height: 20rem;
    }
}
