@inherits AppComponentBase

<section>
    <BitStack>
        @if (adIsReady && adIsShown is false)
        {
            <BitButton OnClick="WrapHandled(WatchAdd)">
                @Localizer[nameof(AppStrings.Upgrade)]
            </BitButton>
        }
    </BitStack>
</section>
