@inherits AppComponentBase

<section>
    <BitStack>
        <BitButton OnClick="WrapHandled(WatchAdd)">
            @Localizer[nameof(AppStrings.Upgrade)]
        </BitButton>
    </BitStack>
</section>
