@inherits AppComponentBase

<section>
    <BitStack>
        @if (adIsReady is false)
        {
            <BitRollingSquareLoading />
        }
        else if (adIsShown is false)
        {
            <BitButton OnClick="WrapHandled(WatchAd)">
                @Localizer[nameof(AppStrings.Upgrade)]
            </BitButton>
        }
        else
        {
            <BitMessage>@Localizer[nameof(AppStrings.UpgradeAdShownMessage)]</BitMessage>
        }

        @if (showTroubleButton)
        {
            <BitButton OnClick="WrapHandled(HandleAdTrouble)">
                @Localizer[nameof(AppStrings.UpgradeAdHaveTrouble)]
            </BitButton>
        }
    </BitStack>
</section>
