::deep {
    .custom-class {
        margin-left: 1rem;
        border-radius: 0.125rem;
        box-shadow: aqua 0 0 0.5rem;
        background-color: #00ffff7d;
    }

    .custom-root {
        color: aqua;
        margin-left: 1rem;
    }

    .custom-button {
        border-radius: 50%;
    }
}
