<md-content>

    <dto-form ng-model="::vm.model" name="changeSetForm">

        <md-input-container>
            <label>{{::vm.changeSetMetadata.Title.Label}}</label>
            <input type="text" name="Title" ng-model="::vm.model.Title" />
            <error-messages field="changeSetForm.Title">
                <error ng-message="required">{{::vm.changeSetMetadata.Title.RequiredMessage}}</error>
                <error ng-message="max-length">{{::vm.changeSetMetadata.Title.MaxLengthMessage}}</error>
            </error-messages>
        </md-input-container>

        <md-input-container style="display:block;">
            <label>{{::vm.changeSetMetadata.AssociatedCommitUrl.Label}}</label>
            <input type="text" name="AssociatedCommitUrl" ng-model="::vm.model.AssociatedCommitUrl" />
        </md-input-container>

        <md-input-container style="display:block;">
            <label>{{::vm.changeSetMetadata.Description.Label}}</label>
            <rad-editor name="Description" ng-model="::vm.model.Description" k-ng-model="::vm.model.Description" />
            <error-messages field="changeSetForm.Description">
                <error ng-message="max-length">{{::vm.changeSetMetadata.Description.MaxLengthMessage}}</error>
            </error-messages>
        </md-input-container>

        <div ng-if="vm.templates != null && vm.templates.length != 0">
            <h4 style="display:inline">{{'Templates' | translate}}:</h4>
            <md-button ng-click="vm.applyTemplate(template)" ng-repeat="template in ::vm.templates">{{::template.Title}}</md-button>
        </div>

        <md-input-container>
            <label>{{::vm.changeSetMetadata.SeverityId.Label}}</label>
            <rad-combo-box name="SeverityId"
                       rad-data-source="::vm.changeSetSeveritiesDataSource"
                       rad-text="::vm.model.SeverityTitle"
                       ng-model="::vm.model.SeverityId" />
            <error-messages field="changeSetForm.SeverityId">
                <error ng-message="required">{{::vm.changeSetMetadata.SeverityId.RequiredMessage}}</error>
            </error-messages>
        </md-input-container>

        <md-input-container>
            <label>{{::vm.changeSetMetadata.DeliveryRequirementId.Label}}</label>
            <rad-combo-box name="DeliveryRequirementId"
                       rad-data-source="::vm.changeSetDeliveryRequirementsDataSource"
                       rad-text="vm.model.DeliveryRequirementTitle"
                       ng-model="::vm.model.DeliveryRequirementId" />
            <error-messages field="changeSetForm.DeliveryRequirementId">
                <error ng-message="required">{{::vm.changeSetMetadata.DeliveryRequirementId.RequiredMessage}}</error>
            </error-messages>
        </md-input-container>

        <md-input-container>
            <label>{{::vm.changeSetMetadata.ProvinceId.Label}}</label>
            <rad-combo-box name="ProvinceId"
                       rad-data-source="::vm.provincesDataSource"
                       rad-text="vm.model.ProvinceName"
                       ng-model="::vm.model.ProvinceId" />
        </md-input-container>

        <md-input-container>
            <label>{{::vm.changeSetMetadata.CityId.Label}}</label>
            <rad-combo-box name="CityId"
                       rad-data-source="::vm.citiesDataSource"
                       rad-text="vm.model.CityName"
                       ng-model="::vm.model.CityId"
                       rad-virtual-entity-loader="vm.loadCityById({id})" />
        </md-input-container>

        <md-input-container>
            <label>{{::vm.changeSetMetadata.NeedsReviewId.Label}}</label>
            <rad-combo-box name="NeedsReviewId"
                       rad-data-source="::vm.answersDataSource"
                       ng-model="::vm.model.NeedsReviewId" />
        </md-input-container>

        <div>
            <rad-grid-save-button ng-click="vm.onSave();" ng-disabled="changeSetForm.$invalid">{{::'Save' | translate}}</rad-grid-save-button>
            <rad-grid-cancel-button>{{::'Cancel' | translate}}</rad-grid-cancel-button>
        </div>

    </dto-form>

</md-content>