@attribute [Route(Urls.NotFoundPage)]
@attribute [Route("{culture?}" + Urls.NotFoundPage)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.NotFoundPageTitle)]</PageTitle>

<section>
    <BitStack HorizontalAlign="BitAlignment.Center">
        <BitImage Src="_content/Boilerplate.Client.Core/images/404.svg" Width="100%" Style="max-width:600px" />
        <BitText Typography="BitTypography.H4">@Localizer[nameof(AppStrings.NotFoundText)]</BitText>
        <BitButton Href="@Urls.HomePage">@Localizer[nameof(AppStrings.BackToHome)]</BitButton>
    </BitStack>
</section>