:root[bit-theme="dark"],
:root[bit-theme="fluent-dark"] {
    --bit-clr-primary-main: #0078D4;
    --bit-clr-primary-light: #2B88D8;
    --bit-clr-primary-lighter: #4192D8;
    --bit-clr-primary-dark: #0068B9;
    --bit-clr-primary-darker: #005FA9;
    --bit-clr-secondary-main: #000;
    --bit-clr-secondary-light: #111;
    --bit-clr-secondary-lighter: #121212;
    --bit-clr-secondary-dark: #222;
    --bit-clr-secondary-darker: #212121;
    //texts
    --bit-clr-txt-primary: #FFF;
    --bit-clr-txt-primary2: #EEE;
    --bit-clr-txt-primary3: #DDD;
    --bit-clr-txt-secondary: #000;
    --bit-clr-txt-secondary2: #111;
    --bit-clr-txt-secondary3: #222;
    --bit-clr-txt-disabled: #666;
    //backgrounds
    --bit-clr-bg-primary: #000;
    --bit-clr-bg-primary2: #111;
    --bit-clr-bg-primary3: #222;
    --bit-clr-bg-secondary: #FFF;
    --bit-clr-bg-secondary2: #EEE;
    --bit-clr-bg-secondary3: #DDD;
    --bit-clr-bg-disabled: #202020;
    //actions
    --bit-clr-act-hover-pri: #106EBE;
    --bit-clr-act-hover-pri2: #1066B0;
    --bit-clr-act-hover-sec: #111;
    --bit-clr-act-hover-sec2: #292929;
    --bit-clr-act-active-pri: #005A9E;
    --bit-clr-act-active-pri2: #004578;
    --bit-clr-act-active-sec: #191919;
    --bit-clr-act-active-sec2: #313131;
    --bit-clr-act-hover-txt-pri: #0068B9;
    --bit-clr-act-hover-txt-pri2: #005FA9;
    --bit-clr-act-hover-txt-sec: #121212;
    --bit-clr-act-hover-txt-sec2: #212121;
    --bit-clr-act-active-txt-pri: #2B88D8;
    --bit-clr-act-active-txt-pri2: #4192D8;
    --bit-clr-act-active-txt-sec: #191919;
    --bit-clr-act-active-txt-sec2: #292929;
    --bit-clr-act-hover-brd-pri: #5A5A5A;
    --bit-clr-act-hover-brd-pri2: #5A5A5A;
    --bit-clr-act-hover-brd-sec: #5A5A5A;
    --bit-clr-act-hover-brd-sec2: #5A5A5A;
    --bit-clr-act-active-brd-pri: #5A5A5A;
    --bit-clr-act-active-brd-pri2: #5A5A5A;
    --bit-clr-act-active-brd-sec: #5A5A5A;
    --bit-clr-act-active-brd-sec2: #5A5A5A;
    //states
    --bit-clr-sta-invalid: #A4262C;
    --bit-clr-sta-invalid-hover: #750B1C;
    --bit-clr-sta-error: #A4262C;
    --bit-clr-sta-error-bg: #FDE7E9;
    --bit-clr-sta-error-dark: #A80000;
    --bit-clr-sta-severe-warning-bg: #FED9CC;
    --bit-clr-sta-severe-warning-dark: #D83B01;
    --bit-clr-sta-success-bg: #DFF6DD;
    --bit-clr-sta-success-dark: #107C10;
    --bit-clr-sta-warning-bg: #FFF4CE;
    --bit-clr-sta-warning-dark: #8A6B00;
    //borders
    --bit-clr-brd-primary: #0078D4;
    --bit-clr-brd-secondary: #323130;
    --bit-clr-brd-disabled: #202020;
    //generals
    --bit-clr-gnr-red: #A4262C;
    --bit-clr-gnr-darkred: #750B1C;
    --bit-clr-gnr-red2: #C50F1F;
    --bit-clr-gnr-red3: #C43148;
    --bit-clr-gnr-green: #6BB700;
    --bit-clr-gnr-orange: #FFAA44;
    --bit-clr-gnr-magenta: #B4009E;
    --bit-clr-gnr-blue: #0078D4;
    --bit-clr-gnr-lightblue: #C7E0F4;
    // neutrals
    --bit-clr-ntr-white: #FFFFFF;
    --bit-clr-ntr-black: #000000;
    --bit-clr-ntr-gray10: #FAF9F8;
    --bit-clr-ntr-gray20: #F3F2F1;
    --bit-clr-ntr-gray30: #EDEBE9;
    --bit-clr-ntr-gray40: #E1DFDD;
    --bit-clr-ntr-gray50: #D2D0CE;
    --bit-clr-ntr-gray60: #C8C6C4;
    --bit-clr-ntr-gray70: #BEBBB8;
    --bit-clr-ntr-gray80: #B3B0AD;
    --bit-clr-ntr-gray90: #A19F9D;
    --bit-clr-ntr-gray100: #979593;
    --bit-clr-ntr-gray110: #8A8886;
    --bit-clr-ntr-gray120: #797775;
    --bit-clr-ntr-gray130: #605E5C;
    --bit-clr-ntr-gray140: #484644;
    --bit-clr-ntr-gray150: #3B3A39;
    --bit-clr-ntr-gray160: #323130;
    --bit-clr-ntr-gray170: #292827;
    --bit-clr-ntr-gray180: #252423;
    --bit-clr-ntr-gray190: #201F1E;
    --bit-clr-ntr-gray200: #1B1A19;
    --bit-clr-ntr-gray210: #161514;
    --bit-clr-ntr-gray220: #11100F;
}
