@font-face {
    font-family: 'Fabric MDL2 Assets';
    src: url('../assets/fluent/fonts/FabMDL2.4.46.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
