@font-face {
    font-family: 'Fabric MDL2 Assets';
    src: url('../assets/fluent/fonts/FabMDL2.4.46.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semilight'), url('../assets/fluent/fonts/segoe-ui-semilight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Light'), url('../assets/fluent/fonts/segoe-ui-light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../assets/fluent/fonts/segoe-ui-normal.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), url('../assets/fluent/fonts/segoe-ui-semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold'), url('../assets/fluent/fonts/segoe-ui-bold.woff2') format('woff2');
    font-weight: 700;
}
