:root,
:root[bit-theme="light"],
:root[bit-theme="fluent"],
:root[bit-theme="fluent-light"],
:root[bit-theme="dark"],
:root[bit-theme="fluent-dark"] {
    //spacing
    --bit-spa-scaling-factor: 0.5rem;
    --bit-spa-ovr-zindex0: 1000;
    --bit-spa-ovr-zindex1: 1001;
    //shape
    --bit-shp-brd-radius: 0.125rem;
    --bit-shp-brd-width: 0.0625rem;
    --bit-shp-brd-style: solid;
}
