:root {
    //spacing
    --spa-scaling-factor: 0.5rem;
    --spa-ovr-zindex0: 1000;
    --spa-ovr-zindex1: 1001;
    //shape
    --shp-brd-radius: 0.125rem;
    --shp-brd-width: 0.0625rem;
    --shp-brd-style: solid;
}
