<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net47" />
  <package id="Hangfire.Autofac" version="2.3.1" targetFramework="net47" />
  <package id="Hangfire.Azure.ServiceBusQueue" version="2.2.0" targetFramework="net47" />
  <package id="Hangfire.Core" version="1.6.14" targetFramework="net47" />
  <package id="Hangfire.MemoryStorage" version="1.5.1" targetFramework="net47" />
  <package id="Hangfire.SqlServer" version="1.6.14" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="WindowsAzure.ServiceBus" version="2.7.5" targetFramework="net47" />
</packages>