<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net47" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NWebsec.Owin" version="2.3.1" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="WebApiCorrelator" version="1.1.0.0" targetFramework="net47" />
</packages>