@namespace Bit.BlazorUI
@inherits BitComponentBase

@if ((Matched ?? ChildContent ?? NotMatched) is not null)
{
    <div @ref="RootElement" @attributes="HtmlAttributes"
         id="@_Id"
         style="@StyleBuilder.Value"
         class="@ClassBuilder.Value"
         dir="@Dir?.ToString().ToLower()">
        @if (_isMatched)
        {
            @(Matched ?? ChildContent)
        }
        else
        {
            @NotMatched
        }
    </div>
}