/*-------- Colors --------*/
$bit-color-primary-main: var(--bit-clr-primary-main);
$bit-color-primary-dark: var(--bit-clr-primary-dark);
$bit-color-primary-light: var(--bit-clr-primary-light);
$bit-color-primary-text: var(--bit-clr-primary-text);

$bit-color-secondary-main: var(--bit-clr-secondary-main);
$bit-color-secondary-dark: var(--bit-clr-secondary-dark);
$bit-color-secondary-light: var(--bit-clr-secondary-light);
$bit-color-secondary-text: var(--bit-clr-secondary-text);

//foreground
$bit-color-foreground-primary: var(--bit-clr-fg-primary);
$bit-color-foreground-secondary: var(--bit-clr-fg-secondary);
$bit-color-foreground-disabled: var(--bit-clr-fg-disabled);

//backgrounds
$bit-color-background-primary: var(--bit-clr-bg-primary);
$bit-color-background-secondary: var(--bit-clr-bg-secondary);
$bit-color-background-disabled: var(--bit-clr-bg-disabled);
$bit-color-background-overlay: var(--bit-clr-bg-overlay);

//borders
$bit-color-border-primary: var(--bit-clr-brd-primary);
$bit-color-border-secondary: var(--bit-clr-brd-secondary);
$bit-color-border-disabled: var(--bit-clr-brd-disabled);

//actions
$bit-color-action-hover-primary: var(--bit-clr-act-hover-pri);
$bit-color-action-active-primary: var(--bit-clr-act-active-pri);
$bit-color-action-hover-primary-dark: var(--bit-clr-act-hover-pri-dark);
$bit-color-action-active-primary-dark: var(--bit-clr-act-active-pri-dark);
$bit-color-action-hover-primary-light: var(--bit-clr-act-hover-pri-light);
$bit-color-action-active-primary-light: var(--bit-clr-act-active-pri-light);
$bit-color-action-hover-secondary: var(--bit-clr-act-hover-sec);
$bit-color-action-active-secondary: var(--bit-clr-act-active-sec);
$bit-color-action-hover-secondary-dark: var(--bit-clr-act-hover-sec-dark);
$bit-color-action-active-secondary-dark: var(--bit-clr-act-active-sec-dark);
$bit-color-action-hover-secondary-light: var(--bit-clr-act-hover-sec-light);
$bit-color-action-active-secondary-light: var(--bit-clr-act-active-sec-light);
//actions-foreground
$bit-color-action-hover-foreground-primary: var(--bit-clr-act-hover-fg-pri);
$bit-color-action-active-foreground-primary: var(--bit-clr-act-active-fg-pri);
$bit-color-action-hover-foreground-secondary: var(--bit-clr-act-hover-fg-sec);
$bit-color-action-active-foreground-secondary: var(--bit-clr-act-hover-fg-sec);
//actions-backgrounds
$bit-color-action-hover-background-primary: var(--bit-clr-act-hover-bg-pri);
$bit-color-action-active-background-primary: var(--bit-clr-act-active-bg-pri);
$bit-color-action-hover-background-secondary: var(--bit-clr-act-hover-bg-sec);
$bit-color-action-active-background-secondary: var(--bit-clr-act-active-bg-sec);
//actions-borders
$bit-color-action-hover-border-primary: var(--bit-clr-act-hover-brd-pri);
$bit-color-action-active-border-primary: var(--bit-clr-act-active-brd-pri);
$bit-color-action-hover-border-secondary: var(--bit-clr-act-hover-brd-sec);
$bit-color-action-active-border-secondary: var(--bit-clr-act-active-brd-sec);

//states
$bit-color-state-info: var(--bit-clr-sta-info);
$bit-color-state-info-bg: var(--bit-clr-sta-info-bg);
$bit-color-state-success: var(--bit-clr-sta-success);
$bit-color-state-success-bg: var(--bit-clr-sta-success-bg);
$bit-color-state-warning: var(--bit-clr-sta-warning);
$bit-color-state-warning-bg: var(--bit-clr-sta-warning-bg);
$bit-color-state-severe-warning: var(--bit-clr-sta-severe-warning);
$bit-color-state-severe-warning-bg: var(--bit-clr-sta-severe-warning-bg);
$bit-color-state-error: var(--bit-clr-sta-error);
$bit-color-state-error-bg: var(--bit-clr-sta-error-bg);
$bit-color-state-required: var(--bit-clr-sta-req);

//neutrals
$bit-color-neutrals-white: var(--bit-clr-ntr-white);
$bit-color-neutrals-black: var(--bit-clr-ntr-black);
$bit-color-neutrals-gray10: var(--bit-clr-ntr-gray10);
$bit-color-neutrals-gray20: var(--bit-clr-ntr-gray20);
$bit-color-neutrals-gray30: var(--bit-clr-ntr-gray30);
$bit-color-neutrals-gray40: var(--bit-clr-ntr-gray40);
$bit-color-neutrals-gray50: var(--bit-clr-ntr-gray50);
$bit-color-neutrals-gray60: var(--bit-clr-ntr-gray60);
$bit-color-neutrals-gray70: var(--bit-clr-ntr-gray70);
$bit-color-neutrals-gray80: var(--bit-clr-ntr-gray80);
$bit-color-neutrals-gray90: var(--bit-clr-ntr-gray90);
$bit-color-neutrals-gray100: var(--bit-clr-ntr-gray100);
$bit-color-neutrals-gray110: var(--bit-clr-ntr-gray110);
$bit-color-neutrals-gray120: var(--bit-clr-ntr-gray120);
$bit-color-neutrals-gray130: var(--bit-clr-ntr-gray130);
$bit-color-neutrals-gray140: var(--bit-clr-ntr-gray140);
$bit-color-neutrals-gray150: var(--bit-clr-ntr-gray150);
$bit-color-neutrals-gray160: var(--bit-clr-ntr-gray160);
$bit-color-neutrals-gray170: var(--bit-clr-ntr-gray170);
$bit-color-neutrals-gray180: var(--bit-clr-ntr-gray180);
$bit-color-neutrals-gray190: var(--bit-clr-ntr-gray190);
$bit-color-neutrals-gray200: var(--bit-clr-ntr-gray200);
$bit-color-neutrals-gray210: var(--bit-clr-ntr-gray210);
$bit-color-neutrals-gray220: var(--bit-clr-ntr-gray220);

//shadows-callout
$bit-box-shadow-callout: var(--bit-shd-cal);

//shadows
$bit-box-shadow-1: var(--bit-shd-1);
$bit-box-shadow-2: var(--bit-shd-2);
$bit-box-shadow-3: var(--bit-shd-3);
$bit-box-shadow-4: var(--bit-shd-4);
$bit-box-shadow-5: var(--bit-shd-5);
$bit-box-shadow-6: var(--bit-shd-6);
$bit-box-shadow-7: var(--bit-shd-7);
$bit-box-shadow-8: var(--bit-shd-8);
$bit-box-shadow-9: var(--bit-shd-9);
$bit-box-shadow-10: var(--bit-shd-10);
$bit-box-shadow-11: var(--bit-shd-11);
$bit-box-shadow-12: var(--bit-shd-12);
$bit-box-shadow-13: var(--bit-shd-13);
$bit-box-shadow-14: var(--bit-shd-14);
$bit-box-shadow-15: var(--bit-shd-15);
$bit-box-shadow-16: var(--bit-shd-16);
$bit-box-shadow-17: var(--bit-shd-17);
$bit-box-shadow-18: var(--bit-shd-18);
$bit-box-shadow-19: var(--bit-shd-19);
$bit-box-shadow-20: var(--bit-shd-20);
$bit-box-shadow-21: var(--bit-shd-21);
$bit-box-shadow-22: var(--bit-shd-22);
$bit-box-shadow-23: var(--bit-shd-23);
$bit-box-shadow-24: var(--bit-shd-24);
