@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">

    @for (int item = 0; item < Max; item++)
    {
        var index = item;
        <button @onclick="() => HandleClick(index + 1)">
            <div>
                <i class="@RatingColorClasses[index] bit-icon bit-icon--@RatingIcons[index]"></i>
            </div>
        </button>
    }
</div>
