@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" style="@StyleBuilder.Value">
    @for (int item = 0; item < Max; item++)
    {
        var index = item;
        <button class="@ClassBuilder.Value" @onclick="() => HandleClick(index + 1)">
            <div class="rating-icon-container">
                <i class="bit-icon bit-icon--@RatingIcon[index]" style="color:@RatingColor[index]"></i>
            </div>
        </button>
    }
</div>