@import '../../../../Styles/abstracts/_functions.scss';
@import '../../../../Styles/abstracts/_bit-css-variables.scss';

.toggle-bar {
    z-index: 10;
    position: sticky;
    padding: 0.25rem 0.5rem;
    box-shadow: $bit-box-shadow-callout;
    background-color: $bit-color-background-secondary;
    top: calc(rem2(75px) + var(--bit-env-inset-top));

    .bit-ios & {
        top: calc(rem2(75px) + env(safe-area-inset-top));
    }
}

::deep {
    .custom-class {
        font-size: 1.5rem;
        font-style: italic;
    }
}
