@page "/components/spinner"

<PageOutlet Url="components/spinner"
            Title="Spinner"
            Description="spinner component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Spinner"
               ComponentDescription="BitSpinner is an outline of a circle which animates around itself indicating to the user that things are processing. A Spinner is shown when it's unsure how long a task will take making it the indeterminate version of a ProgressBar. They can be various sizes, located inline with content or centered. They generally appear after an action is being processed or committed. They are subtle and generally do not take up much space, but are transitions from the completed task."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="example-desc">To create a spinner, you can use a BitSpinner component.</div>
            <div class="spinner-container">
                <div class="m-b-15">
                    <label>Small spinner</label>
                    <BitSpinner Size="BitSize.Small" />
                </div>
                <div class="m-b-15">
                    <label>Medium spinner</label>
                    <BitSpinner Size="BitSize.Medium" />
                </div>
                <div>
                    <label>Large spinner</label>
                    <BitSpinner Size="BitSize.Large" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Position" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div class="example-desc">By setting LabelPosition attribute, change position of spinner to bottom, top, start or end.</div>
            <div class="spinner-positioning">
                <div>
                    <label>Spinner with label positioned above</label>
                    <BitSpinner LabelPosition="BitLabelPosition.Top" Label="I am definitely loading..." />
                </div>
                <div>
                    <label>Spinner with label positioned below</label>
                    <BitSpinner LabelPosition="BitLabelPosition.Bottom" Label="Seriously, still loading..." />
                </div>
                <div>
                    <label>Spinner with label positioned to start</label>
                    <BitSpinner LabelPosition="BitLabelPosition.Start" Label="Wait, wait..." />
                </div>
                <div>
                    <label>Spinner with label positioned to end</label>
                    <BitSpinner LabelPosition="BitLabelPosition.End" Label="Nope, still loading..." />
                </div>
                <br /><br /><br />
                <div>
                    <label>RTL Spinner with label positioned to start</label>
                    <BitSpinner Dir="BitDir.Rtl" LabelPosition="BitLabelPosition.Start" Label="در حال بار گذاری..." />
                </div>
                <div>
                    <label>RTL Spinner with label positioned to end</label>
                    <BitSpinner Dir="BitDir.Rtl" LabelPosition="BitLabelPosition.End" Label="در حال بار گذاری..." />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
