@inherits AppComponentBase

<section style="margin-block:1rem">
    <BitStack Horizontal Alignment="BitAlignment.Center" Gap="2rem">
        <BitButton Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleGoogle)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.GoogleSignUpButtonText]">
            <GoogleIcon />
        </BitButton>

        <BitButton Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleGitHub)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.GitHubSignUpButtonText]">
            <GitHubIcon />
        </BitButton>

        <BitButton Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleTwitter)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.TwitterSignUpButtonText]">
            <TwitterIcon />
        </BitButton>
    </BitStack>
</section>