@inherits AppComponentBase

<section>
    <BitStack Horizontal Alignment="BitAlignment.SpaceBetween">
        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleGoogle)" Title="@Localizer[AppStrings.GoogleSignInButtonText]">
            <GoogleIcon />
        </SocialButton>

        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleGitHub)" Title="@Localizer[AppStrings.GitHubSignInButtonText]">
            <GitHubIcon />
        </SocialButton>

        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleTwitter)" Title="@Localizer[AppStrings.TwitterSignInButtonText]">
            <TwitterIcon />
        </SocialButton>

        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleApple)" Title="@Localizer[AppStrings.AppleSignInButtonText]">
            <AppleIcon />
        </SocialButton>
    </BitStack>
</section>