@inherits AppComponentBase

<section>
    <BitStack Horizontal Alignment="BitAlignment.Center" Gap="3rem">
        <BitButton AutoLoading
                   Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleGoogle)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.GoogleSignInButtonText]">
            <GoogleIcon />
        </BitButton>

        <BitButton AutoLoading
                   Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleGitHub)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.GitHubSignInButtonText]">
            <GitHubIcon />
        </BitButton>

        <BitButton AutoLoading
                   Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleTwitter)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.TwitterSignInButtonText]">
            <TwitterIcon />
        </BitButton>

        <BitButton AutoLoading
                   Size="BitSize.Small"
                   Variant="BitVariant.Text"
                   Style="padding-block:0.5rem"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(HandleApple)"
                   Color="BitColor.SecondaryBackground"
                   Title="@Localizer[AppStrings.AppleSignInButtonText]">
            <AppleIcon />
        </BitButton>
    </BitStack>
</section>