
.bit-ovl {
    &.bit-ovl-fluent {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.visible {
        display: block;
    }
}
