@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @onclick="CloseOverlay"
     @attributes="HtmlAttributes"
     aria-label="@AriaLabel"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">
    @ChildContent
</div>