@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes" @onclick="CloseOverlay"
     id="@UniqueId"
     aria-label="@AriaLabel"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">
    @ChildContent
</div>