<div class="container">
    <a href="/clipboard">Clipboard</a> |
    <a href="/console">Console</a> |
    <a href="/cookie">Cookie</a> |
    <a href="/crypto">Crypto</a> |
    <a href="/document">Document</a> |
    <a href="/element">Element</a> |
    <a href="/history">History</a> |
    <a href="/keyboard">Keyboard</a> |
    <a href="/storage">Storage</a> |
    <a href="/location">Location</a> |
    <a href="/navigator">Navigator</a> |
    <a href="/notification">Notification</a> |
    <a href="/screen">Screen</a> |
    <a href="/screenOrientation">ScreenOrientation</a>
    <a href="/userAgent">UserAgent</a> |
    <a href="/visualViewport">VisualViewport</a> |
    <a href="/window">Window</a> |
</div>
<hr />