@inherits AppComponentBase

<header class="header-container">
    <img src="/images/shared/bit-icon.svg" class="header-bit-icon">
    <div class="header-items-container">
        <div class="header-item">هم‌تیمی‌ها</div>
        <div class="header-item margin-around">فرصت‌های همکاری</div>
        <div class="header-item blue-font-color">صفحه اصلی</div>
    </div>
</header>