@import '../../../../Styles/abstracts/_bit-css-variables.scss';

::deep {
    .custom-class {
        gap: 1rem;
        margin-inline: 1rem;
    }

    .custom-class input {
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-color: lightseagreen;
    }

    .custom-root {
        margin-inline: 1rem;
    }

    .custom-input {
        border-radius: 50%;
        border: 1px solid tomato;
    }

    .custom-focused {
        border-color: red;
        box-shadow: tomato 0 0 1rem;
    }

    .validation-message {
        font-size: 0.75rem;
        color: $bit-color-error;
    }
}
