<div class="careers-box">
    <button class="careers-button btn-pad">ارسال رزومه</button>
    <div class="careers-box-content">
        <div class="careers-box-title">@CareerModel.Title</div>
        <img src=@CareerModel.ImgUrl class="careers-box-img" />
    </div>
</div>