@import '../../../../Styles/abstracts/_functions.scss';
@import '../../../../Styles/abstracts/_media-queries.scss';
@import '../../../../Styles/abstracts/_bit-css-variables.scss';

.example-content {
    gap: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.controlled-box {
    gap: 1rem;
    display: flex;
    width: fit-content;
    margin-bottom: 1rem;
    flex-direction: row;

    @include sm {
        flex-direction: column;
    }
}

.custom-checkbox {
    gap: 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.custom-box {
    display: flex;
    width: rem2(32px);
    height: rem2(32px);
    border: 1px solid;
    align-items: center;
    margin-right: rem2(5px);
    justify-content: center;
}

::deep {
    .custom-class {
        color: brown;
        padding: 1rem;
        background-color: aquamarine;
    }

    .custom-label {
        color: darkblue;
        font-size: 18px;
        font-weight: bold;
    }

    .custom-box {
        border-width: 3px;
        border-color: crimson;
    }

    .validation-message {
        font-size: 0.75rem;
        color: $bit-color-error;
    }
}
