@page "/forgot-password"

@inherits TodoTemplateComponentBase;

<PageTitle>Forgot password</PageTitle>

<div class="page-container">
    <EditForm Model="ForgotPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(ForgotPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ForgotPasswordMessageType"
                       OnDismiss="() => ForgotPasswordMessage = null">
                @ForgotPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">Forgot password</h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField Placeholder="Email" @bind-Value="ForgotPasswordModel.Email" />
            <div class="form-input-error">
                <ValidationMessage For="@(() => ForgotPasswordModel.Email)" />
            </div>
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="Submit"
                   AriaLabel="Submit"
                   IsEnabled="@context.Validate()"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Submit</span>
            }
        </BitButton>
    </EditForm>
</div>