@page "/forgot-password"

@inherits TodoTemplateComponentBase;

<PageTitle>Forgot password</PageTitle>

<div class="page-container">
    <div class="form--white">
        @if (string.IsNullOrEmpty(ForgotPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ForgotPasswordMessageType"
                       OnDismiss="() => ForgotPasswordMessage = null">
                @ForgotPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">Forgot password</h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField @bind-Value="Email"
                Placeholder="Email"
                OnChange="WrapHandled(CheckSubmitButtonEnabled)"
                OnFocus="() => EmailErrorMessage = null" />
             <div class="form-input-error">@EmailErrorMessage</div>
        </div>
        <BitButton Class="form-submit-button"
            ButtonStyle="BitButtonStyle.Primary"
            Title="Submit"
            AriaLabel="Submit"
            IsEnabled="@IsSubmitButtonEnabled"
            OnClick="WrapHandled(Submit)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Submit</span>
            }
        </BitButton>
    </div>
</div>