@import '../wwwroot/styles/abstracts/_media-queries.scss';
@import '../wwwroot/styles/abstracts/_colors.scss';
@import '../wwwroot/styles/abstracts/_functions.scss';

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 rem(16px);
    box-sizing: border-box;
}

.page-section {
    width: 100%;
}

.hero-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: rem(144px) 0;
    box-sizing: border-box;

    @include lt-xl {
        padding: rem(130px) 0;
    }

    @include sm {
        padding: rem(120px) 0;
    }
}

.hero-section-title {
    margin-bottom: rem(32px);
    font-weight: bold;
    font-size: rem(42px);
    line-height: rem(62px);
    color: $White;
    text-align: center;

    @include lg {
        margin-bottom: rem(24px);
        font-size: rem(34px);
        line-height: rem(56px);
    }

    @include md {
        margin-bottom: rem(24px);
        font-size: rem(26px);
        line-height: rem(44px);
    }

    @include sm {
        margin-bottom: rem(16px);
        font-size: rem(24px);
        line-height: rem(40px);
    }
}

.hero-section-desc {
    max-width: rem(1232px);
    margin-bottom: rem(40px);
    font-size: rem(24px);
    line-height: rem(40px);
    color: $S4Color;
    text-align: center;

    @include lg {
        max-width: rem(821px);
        margin-bottom: rem(38px);
        font-size: rem(20px);
        line-height: rem(32px);
    }

    @include md {
        max-width: rem(572px);
        margin-bottom: rem(32px);
        font-size: rem(18px);
        line-height: rem(28px);
    }

    @include sm {
        max-width: 100%;
        margin-bottom: rem(32px);
        font-size: rem(14px);
        line-height: rem(24px);
    }
}