@page "/"

@inherits ToDoTemplateComponentBase;

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">Free Project Management Templates</h1>
        <div class="hero-section-desc">The right tools will make your project go off without a hitch. These project management templates will keep you organized, on track, and under budget.</div>
        <BitButton Class="hero-section-cta" ButtonStyle="BitButtonStyle.Standard">Give me access</BitButton>
    </section>
</div>