@page "/"

@inherits TodoTemplateComponentBase;

<PageTitle>Bit Blazor Project Template</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">Bit Blazor Project Template</h1>
        <div class="hero-section-desc">
            Create your multi-mode (WASM, Server, Hybrid, pre-rendering) Blazor
            app easily in the shortest time ever!
        </div>
        <BitButton Class="hero-section-cta"
                   Href="https://github.com/bitfoundation/bitframework/tree/develop/src/Tooling/Bit.Tooling.Templates/TodoTemplate"
                   Target="_blank"
                   Title="GitHub Repo"
                   AriaLabel="GitHub Repo"
                   ButtonStyle="BitButtonStyle.Standard">GitHub Repo</BitButton>
    </section>
</div>