@page "/not-found"

@inherits TodoTemplateComponentBase;

<PageTitle>Not Found</PageTitle>

<div class="page-container">
    <h1 class="error-code">404</h1>
    <div class="error-description">Ooops, Something went wrong.</div>
</div>
