@page "/reset-password"

@inherits TodoTemplateComponentBase;

<PageTitle>Reset password</PageTitle>

<div class="page-container">
    <div class="form--white">
        @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ResetPasswordMessageType"
                       OnDismiss="() => ResetPasswordMessage = null">
                @ResetPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">Reset password</h1>
        <div class="form-input-container">
            <BitLabel>New Password</BitLabel>
            <BitTextField @bind-Value="NewPassword"
                Type="BitTextFieldType.Password" 
                CanRevealPassword="true"Placeholder="New Password"
                OnChange="WrapHandled(CheckSubmitButtonEnabled)"
                OnFocus="() => NewPasswordErrorMessage = null" />
             <div class="form-input-error">@NewPasswordErrorMessage</div>
        </div>
        <div class="form-input-container">
            <BitLabel>Confirm New Password</BitLabel>
            <BitTextField @bind-Value="ConfirmNewPassword"
                Type="BitTextFieldType.Password" 
                CanRevealPassword="true"
                Placeholder="Confirm New Password"
                OnChange="WrapHandled(CheckSubmitButtonEnabled)"
                OnFocus="() => ConfirmNewPasswordErrorMessage = null" />
             <div class="form-input-error">@ConfirmNewPasswordErrorMessage</div>
        </div>
        <BitButton Class="form-submit-button"
            ButtonStyle="BitButtonStyle.Primary"
            Title="Submit"
            AriaLabel="Submit"
            IsEnabled="@IsSubmitButtonEnabled"
            OnClick="WrapHandled(Submit)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Change my password</span>
            }
        </BitButton>
    </div>
</div>