@page "/sign-in"

@inherits TodoTemplateComponentBase;

<PageTitle>Sign in</PageTitle>

<div class="page-container">
    <EditForm Model="SignInModel" OnValidSubmit="WrapHandled(DoSignIn)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignInMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignInMessageType"
                       OnDismiss="() => SignInMessage = null">
                @SignInMessage
            </BitMessageBar>
        }
        <h1 class="form-title">Sign in</h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField Placeholder="Email" @bind-Value="SignInModel.UserName" />
            <ValidationMessage For="@(() => SignInModel.UserName)" />
        </div>
        <div class="form-input-container">
            <BitLabel>Password</BitLabel>
            <BitTextField @bind-Value="SignInModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="Password" />
            <ValidationMessage For="@(() => SignInModel.Password)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="Sign in"
                   AriaLabel="Sign in"
                   IsEnabled="@context.Validate()"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Sign in</span>
            }
        </BitButton>
        <div class="form-forgot-password">
            <BitLink Href="/forgot-password">Forgot password?</BitLink>
        </div>
        <div>
            Don’t have an account? <BitLink Href="/sign-up">Sign up</BitLink>
        </div>
    </EditForm>
</div>