@page "/sign-in"

@inherits TodoTemplateComponentBase;

<PageTitle>Sign in</PageTitle>

<div class="page-container">
    <div class="form--white">
        @if (HasMessageBar)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@(IsSuccessMessageBar ? BitMessageBarType.Success : BitMessageBarType.Error)"
                       OnDismiss="() => HasMessageBar = false">
                @MessageBarText
            </BitMessageBar>
        }
        <h1 class="form-title">Welcome Back !</h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField Placeholder="Please enter your email" @bind-Value="Email"></BitTextField>
             <div class="form-input-error">@(EmailError ?? string.Empty)</div>
        </div>
        <div class="form-input-container">
            <BitLabel>Password</BitLabel>
            <BitTextField Type="BitTextFieldType.Password" CanRevealPassword="true" Placeholder="Enter your password" @bind-Value="Password"></BitTextField>
            <div class="form-input-error">@(PasswordError ?? string.Empty)</div>
        </div>
        <BitButton Class="form-submit-button" ButtonStyle="BitButtonStyle.Primary" OnClick="() => InvokeAsync(DoSignIn)">
            Sign in
        </BitButton>
        <div class="form-forgot-password">
          Forgot password?
        </div>
        <div>
            Don’t have an account yet?<BitLink Href="/sign-up"> Sign up</BitLink>
        </div>
    </div>
</div>