@page "/sign-up"

@inherits TodoTemplateComponentBase;

<PageTitle>Sign up</PageTitle>

<div class="page-container">
    <form class="form--white">
        @if (string.IsNullOrEmpty(SignUpMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignUpMessageType"
                       OnDismiss="() => SignUpMessage = null">
                @SignUpMessage
            </BitMessageBar>
        }
        <h1 class="form-title">
            Sign up
        </h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField @bind-Value="Email"
                          Placeholder="Email"
                          OnKeyUp="() => InvokeAsync(CheckSignUpButtonEnable)"
                          OnFocus="() => EmailErrorMessage = null" />
            <div class="form-input-error">@EmailErrorMessage</div>
        </div>
        <div class="form-input-container">
            <BitLabel>Password</BitLabel>
            <BitTextField @bind-Value="Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true" Placeholder="Password"
                          OnKeyUp="() => InvokeAsync(CheckSignUpButtonEnable)"
                          OnFocus="() => PasswordErrorMessage = null" />
            <div class="form-input-error">@PasswordErrorMessage</div>
        </div>
        <BitCheckbox Class="form-checkbox" @bind-IsChecked="IsAcceptPrivacy"
                     OnChange="() => InvokeAsync(CheckSignUpButtonEnable)">
            I agree to the <BitLink Href="/privacy" Target="_blank">Bit Privacy Policy</BitLink>
        </BitCheckbox>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="Sign up"
                   AriaLabel="Sign up"
                   IsEnabled="@IsSignUpButtonEnabled"
                   OnClick="() => InvokeAsync(DoSignUp)">
            @if (IsLoadingPage)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>Sign up</span>
            }
        </BitButton>
        <div>
            Already on Bit? <BitLink Href="/sign-in">Sign in</BitLink>
        </div>
    </form>
</div>