@page "/sign-in"

<div class="page-container">
    <div class="form--white">
        <BitMessageBar Class="form-message-bar" MessageBarType="BitMessageBarType.Success" OnDismiss="() => null">
            Message about the state of this view
        </BitMessageBar>
        <h1 class="form-title">Welcome Back !</h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField Placeholder="Please enter your email"></BitTextField>
        </div>
        <div class="form-input-container">
            <BitLabel>Password</BitLabel>
            <BitTextField Type="BitTextFieldType.Password" CanRevealPassword="true" Placeholder="Enter your password"></BitTextField>
            <div class="form-input-error">Repeat password and password are not same.</div>
        </div>
        <BitButton Class="form-submit-button" ButtonStyle="BitButtonStyle.Primary" IsEnabled="true">
            Sign in
        </BitButton>
        <div class="form-forgot-password">
          Forgot password?
        </div>
        <div>
            Don’t have an account yet?<BitLink Href="/sign-up"> Sign up</BitLink>
        </div>
    </div>
</div>