@page "/components/spacer"

<PageOutlet Url="components/spacer"
            Title="Spacer"
            Description="spacer component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Spacer"
               ComponentDescription="The purpose of the BitSpacer is to generate space between other components. You can either create a space with a set width (in number of pixels) or create a space with a flexible width."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div style="display: flex; width: 100%;">
                <BitButton Variant="BitVariant.Text" IconName="@BitIconName.GlobalNavButton" />
                <BitSpacer />
                <BitText Typography="BitTypography.H6">Title</BitText>
                <BitSpacer />
                <BitButton Variant="BitVariant.Text" IconName="@BitIconName.Contact" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
    <ComponentExampleBox Title="Width" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div style="display: flex; width: 100%;">
                <BitProgress Circular Indeterminate />
                <BitSpacer Width="64" />
                <BitProgress Circular Indeterminate />
                <BitSpacer Width="64" />
                <BitProgress Circular Indeterminate />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>