@inherits BitComponentBase
<button  class="bit-compoundbutton @(VisualClass) @(EnabledClass)" @onclick="HandleOnClick">
    <span class="flexContainer">
        <span class="textContainer">
            <span class="primary-text">
                @Text
            </span>
            <span class="secondary-text">
                @SecondaryText
            </span>
        </span>
    </span>
</button>