@import "../../../Styles/functions.scss";

.bit-csl {
    display: flex;
    position: relative;
    height: spacing(25);
    flex-direction: column;
}

.bit-crsi {
    top: 0;
    bottom: 0;
    display: none;
    position: absolute;
}

.bit-csl-cnt {
    width: 100%;
    height: 100%;
    cursor: grab;
    flex-grow: 1;
    overflow: hidden;
    user-select: none;
    position: relative;
    touch-action: pan-y;

    > :first-child {
        display: unset;
    }
}

.bit-csl-lbt,
.bit-csl-rbt {
    top: 0;
    border: 0;
    bottom: 0;
    width: 10%;
    padding: 0;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    cursor: pointer;
    background: 0 0;
    color: $clr-fg-pri;
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: spacing(3);
    justify-content: center;
    transition: opacity 150ms ease;

    @media (hover: hover) {
        &:hover {
            outline: 0;
            opacity: 0.9;
            text-decoration: none;
            color: $clr-fg-pri-hover;
        }
    }
}

.bit-csl-lbt {
    right: 0;
}

.bit-csl-rbt {
    left: 0;
}

.bit-csl-rbi {
    transform: scaleX(-1);
}

.bit-csl-dcn {
    text-align: center;
    margin-top: spacing(1.25);
}

.bit-csl-dot {
    cursor: pointer;
    border-radius: 50%;
    width: spacing(1.25);
    height: spacing(1.25);
    display: inline-block;
    margin: 0 spacing(0.5);
    background-color: $clr-bg-ter;
    transition: background-color 600ms ease;

    @media (hover: hover) {
        &:hover {
            background-color: $clr-bg-ter-hover;
        }
    }
}


.bit-csl-apri {
    .bit-csl-cud {
        background-color: $clr-pri;

        @media (hover: hover) {
            &:hover {
                background-color: $clr-pri-hover;
            }
        }
    }
}

.bit-csl-asec {
    .bit-csl-cud {
        background-color: $clr-sec;

        @media (hover: hover) {
            &:hover {
                background-color: $clr-sec-hover;
            }
        }
    }
}

.bit-csl-ater {
    .bit-csl-cud {
        background-color: $clr-ter;

        @media (hover: hover) {
            &:hover {
                background-color: $clr-ter-hover;
            }
        }
    }
}

.bit-csl-atra {
    .bit-csl-cud {
        background-color: transparent;

        @media (hover: hover) {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
