@page "/terms"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.TermsTitle)]</PageTitle>

<div class="page-container">
    <div class="page-content">

        <section class="main-section">
            <h1 class="main-section-title">TodoTemplate license</h1>
            <div class="section-desc">
                This EULA and Privacy Policy are written for individuals who use the Todo Template Demo Version through the <BitLink Href="https://todo.bitplatform.dev" Target="_blank">todo.bitplatform.dev</BitLink> and <BitLink Href="https://todo-app.bitplatform.dev" Target="_blank">todo-app.bitplatform.dev</BitLink> websites, or the published version of this app on the BitPlatform's Google Play, Apple Store, and Microsoft Store accounts.
                <br />
                If you want to build your own project based on this Project Template, please refer to the <BitLink Href="https://github.com/bitfoundation/bitplatform/blob/develop/LICENSE" Target="_blank">License</BitLink> and create your own project, publish it with the relevant EULA and Privacy Policy for your business.s
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">End-User License Agreement (EULA) for Todo Template Demo Version</h2>
            <div class="section-desc">
                This End-User License Agreement (EULA) is a legal agreement between you (the "User") and BitPlatform, located at Sixmastraat 15, 8932 PA Leeuwarden, Netherlands, with phone number +31684207362, for the use of Todo Template Demo Version (the "Software").
                <br />
                By using the Software, you agree to be bound by the terms and conditions of this agreement.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">License Grant</h2>
            <div class="section-desc">
                BitPlatform hereby grants User a non-exclusive, non-transferable license to use the Software, solely for the purpose of evaluating and testing the features of the Todo Template Demo Version during the term of this EULA.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Ownership</h2>
            <div class="section-desc">
                BitPlatform retains all right, title, and interest in and to the Software, including any and all intellectual property rights.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">User Data</h2>
            <div class="section-desc">
                BitPlatform may collect User data, including name, surname, photo, date of birth, and gender. Providing this information is optional, and BitPlatform will only use it for the purposes of the Todo Template Demo Version. If User requests, BitPlatform will delete this data within one day, using one of the contact methods provided at the end of this EULA. In addition, User is required to provide an email address for account verification purposes, but BitPlatform will not use this email for any other purposes.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Analytics and Cookies</h2>
            <div class="section-desc">
                BitPlatform does not use any Analytics tools for measuring website traffic, and only uses strictly necessary cookies.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Restrictions</h2>
            <div class="section-desc">
                User may not: (a) copy the Software, except as necessary for testing purposes; (b) distribute, rent, loan, lease, sell, sublicense, or otherwise transfer the Software or any portion thereof; (c) reverse engineer, decompile, disassemble, modify, translate, make any attempt to discover the source code of the Software, or create derivative works based on the Software; or (d) remove any proprietary notices or labels on the Software.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">No Warranty</h2>
            <div class="section-desc">
                The Software is provided "AS IS" and without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. BitPlatform does not warrant that the Software will be error-free or that its use will be uninterrupted.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Limitation of Liability</h2>
            <div class="section-desc">
                BitPlatform shall not be liable for any damages whatsoever arising out of the use of or inability to use the Software, including but not limited to direct, indirect, incidental, special, or consequential damages, even if BitPlatform has been advised of the possibility of such damages.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Termination</h2>
            <div class="section-desc">
                This EULA shall remain in effect until 2025-12-31. BitPlatform reserves the right to terminate this EULA at any time without notice. Upon termination, User shall immediately cease all use of the Software and destroy all copies of the Software in its possession.
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">Contact Information</h2>
            <div class="section-desc">
                If you have any questions or concerns regarding this EULA or the Privacy Policy, or if you would like to contact BitPlatform for any reason, please email info@bitplatform.dev or call +31684207362, or visit our website at <BitLink Href="https://bitplatform.dev/contact-us" Target="_blank">our website</BitLink> or visit us at Sixmastraat 15, 8932 PA Leeuwarden, Netherlands.
            </div>
        </section>


        <section class="main-section">
            <h1 class="main-section-title">Privacy Policy</h1>
            <div class="section-desc">
                <ul>
                    <li>BitPlatform is committed to protecting the privacy of User data.</li>
                    <li>We will only use the data collected from User for the purposes of the Todo Template Demo Version, and will delete this data upon User request, using one of the contact methods provided above.</li>
                    <li>We do not share User data with any third parties, and do not allow Users to share data with anyone in any way.</li>
                    <li>We do not collect any information on User's internet usage outside of the Todo Template Demo Version.</li>
                    <li>We do not display any Third-Party content, advertisements, or any purchases in the Todo Template Demo Version.</li>
                    <li>This Privacy Policy is effective until 2025-12-31 and is subject to change without notice.</li>
                </ul>
            </div>
        </section>

    </div>
</div>
