@page "/cases"

<PageOutlet Url="cases"
            Title="Cases"
            Description="use-cases of the bit platform's software development as a service" />

<div class="cases-bg">
    <section class="page-sec cases">
        <div class="cases-title">Our Cases</div>
        @* <div class="cases-bread">Home &rarr; Cases</div> *@
    </section>
    <section class="page-sec empowering-success">
        <div class="sec-body">
            <div class="sec-title">
                Empowering Success: bit Services
                <br />Your partner in seamless software solutions across diverse industries
            </div>
            <div class="sec-desc">
                At bit Services, we excel in delivering successful software solutions across diverse sectors including healthcare,
                insurance, mining, education, and more. With our expertise and proactive approach, we tackle complex projects from
                medium to enterprise level. We firmly believe that our success stems from the success of our customers and we actively
                engage in a comprehensive product creation journey, from ideation to deployment and ongoing support.
                Our commitment is to be there every step of the way, ensuring the satisfaction and success of our valued customers.
            </div>
        </div>
    </section>
</div>

<section class="page-sec all-cases">

    <div class="case case-mining">
        <div class="left-pane">
            <div class="sec-title">IoT-Enabled Mining Solution</div>
            <div class="sec-title-underline" style="width:450px"></div>
            <div class="sec-content">
                Our IoT solution empowers our prominent mining customer with seamless device monitoring, remote control,
                and real-time signal reception. Leveraging 3D visualization, they can take charge from anywhere, while advanced
                reporting and AI capabilities provide valuable insights for informed decision-making based on diverse device data.
                <br />
                <br />
                This enterprise solution utilizes cutting-edge technology, employing microservices architecture hosted on Azure cloud,
                to meet high criteria for availability, reliability, and security. ‘This success story is rooted in the close
                collaboration of approximately 30 talented bit team members with our valued customer.
            </div>
            <div class="sec-separator"></div>
            <div class="tags">
                <div class="tag tag-ai">AI / ML / Deep Learning</div>
                <div class="tag tag-web">Web Development</div>
                <div class="tag tag-ui">UI / UX</div>
                <div class="tag tag-sup">Technical Support</div>
                <div class="tag tag-cld">Cloud</div>
                <div class="tag tag-vr">VR</div>
                <div class="tag tag-vis">3D Visualization</div>
                <div class="tag tag-bi">BI / Big Data</div>
                <div class="tag tag-iot">IoT</div>
            </div>
            @*<a class="sec-btn--primary" href="#">Read Our Journey</a>*@
        </div>
        <div class="right-pane">
            <div class="case-bg"></div>
            <div class="specs">
                @*<div class="spec">
                <div class="spec-title spec-1">3</div>
                <div class="spec-desc">Team Members</div>
                </div>
                <div class="spec">
                <div class="spec-title spec-2">1 Month</div>
                <div class="spec-desc">MVP Delivery Time</div>
                </div>
                <div class="spec">
                <div class="spec-title spec-3">3 Months</div>
                <div class="spec-desc">Delivery Time</div>
                </div>*@
            </div>
        </div>
    </div>

    <div class="case case-bit">
        <div class="left-pane">
            <div class="sec-title">bit platform</div>
            <div class="sec-title-underline"></div>
            <div class="sec-content">
                The bit team has been developing and maintaining this open-source project since 2020, including UI components & project templates suite
                that empowers software developers to create applications across multiple platforms, encompassing Android, iOS, Windows, macOS, and the web.
                <br />
                <br />
                We extend a warm invitation to explore our repository on GitHub at
                <a href="https://github.com/bitfoundation/bitplatform" target="_blank">bitfoundation/bitplatform</a>,
                where you can evaluate the quality of our coding practices and development processes. The significant number of GitHub stars clearly
                demonstrates the trust this project has garnered from fellow developers and software companies who rely on us for our commitment to
                quality and excellence. This trust and recognition granted by software experts fills us with immense pride and confidence in our work.
            </div>
            <div class="sec-separator"></div>
            <div class="tags">
                <div class="tag tag-web">Web Development</div>
                <div class="tag tag-ui">UI / UX</div>
                <div class="tag tag-cld">Cloud</div>
            </div>
            <a class="sec-btn--primary" href="https://bitplatform.dev" target="_blank">Read More</a>
        </div>
        <div class="right-pane">
            <div class="case-bg"></div>
            <div class="specs">
                @*<div class="spec">
                <div class="spec-title spec-1">3</div>
                <div class="spec-desc">Team Members</div>
                </div>
                <div class="spec">
                <div class="spec-title spec-2">1 Month</div>
                <div class="spec-desc">MVP Delivery Time</div>
                </div>
                <div class="spec">
                <div class="spec-title spec-3">3 Months</div>
                <div class="spec-desc">Delivery Time</div>
                </div>*@
            </div>
        </div>
    </div>
</section>