@import '_vars.scss';
@import '_colors.scss';
@import '_functions.scss';
@import '_media-queries.scss';
@import '../bit-css-variables.scss';

@mixin PageContainer {
    width: 100%;
}

@mixin PageMainTitle {
    margin: 0;
    margin-bottom: rem(52px);
    padding: 0;
    font-size: rem(36px);
    font-weight: 800;
    line-height: 1;
    color: #0a1929;

    @include lt-lg {
        margin-bottom: rem(28px);
    }
}

@mixin PageDescription {
    width: 100%;
    margin-bottom: rem(32px);
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(32px);
    color: #2E2E2E;
}

@mixin SectionCard {
    width: 100%;
    overflow: auto;
    padding: rem(28px);
    position: relative;
    border-radius: rem(4px);
    margin-bottom: rem(28px);
    background-clip: padding-box;
    box-shadow: $bit-box-shadow-callout;
    background-color: $bit-color-background-primary;
}

@mixin SectionCardTitle {
    padding: 0;
    margin-bottom: rem(20px);
    font-weight: 700;
    font-size: rem(24px);
    line-height: 1;
    color: #1a2027;
}

@mixin SectionCardText {
    font-weight: 400;
    font-size: rem(15px);
    line-height: rem(24px);
    margin-bottom: rem(24px);

    @include md {
        font-size: rem(16px);
        line-height: rem(30px);
        margin-bottom: rem(16px);
    }

    @include sm {
        font-size: rem(15px);
        line-height: rem(28px);
        margin-bottom: rem(12px);

        ul {
            padding-left: rem(16px);
        }
    }
}

@mixin CodeBox {
    width: 100%;
    display: flex;
    overflow: auto;
    font-weight: 400;
    align-items: center;
    font-size: rem(16px);
    min-height: rem(48px);
    line-height: rem(24px);
    margin-bottom: rem(32px);
    justify-content: flex-start;
    padding: rem(12px) rem(22px);
    background-color: $bit-color-background-secondary;
    border-left: rem(2px) solid $bit-color-primary-main;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

    @include md {
        min-height: rem(40px);
        margin-bottom: rem(24px);
        padding: rem(10px) rem(8px);
    }

    @include sm {
        min-height: rem(32px);
        margin-bottom: rem(12px);
        padding: rem(6px) rem(8px);
    }

    &::-webkit-scrollbar {
        width: rem(8px);
        background-color: $White;
    }

    &::-webkit-scrollbar-track {
        background-color: $White;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c8c6c4;
        border-radius: rem(8px);
        border: rem(4px) solid #c8c6c4;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $Gray2;
        border-radius: rem(8px);
        border: rem(4px) solid $Gray2;
    }

    &::-webkit-scrollbar:horizontal {
        height: rem(8px);
    }
}

@mixin HighLightText {
    background-color: $B11Color;
    border-radius: rem(4px);
    padding: rem(4px);
    margin: rem(2px) 0;
    word-break: break-word;
}

@mixin ImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin Image {
    width: 85%;
    height: 85%;
    margin: rem(25px) 0;
}