@inherits AppComponentBase;

<div class="row">
    <div class="col">
        <div class="widget-stats stats-red">
            @if (IsLoading)
            {
                <div class="spinner">
                    <BitSpinner></BitSpinner>
                </div>
            }
            <div class="num">
                @Data.Last30DaysProductCount
            </div>
            <h3>Season product count</h3>
        </div>
    </div>
    <div class="col">
        <div class="widget-stats stats-green">
           @if (IsLoading)
            {
                <div class="spinner">
                    <BitSpinner></BitSpinner>
                </div>
            }
            <div class="num">
                @Data.TotalProducts
            </div>
            <h3>Total products</h3>
        </div>
    </div>
    <div class="col">
        <div class="widget-stats stats-blue">
           @if (IsLoading)
            {
                <div class="spinner">
                    <BitSpinner></BitSpinner>
                </div>
            }
            <div class="num">
                @Data.TotalCategories
            </div>
            <h3>Total categories</h3>
        </div>
    </div>
</div>