@page "/components/spacer"

<PageOutlet Url="components/spacer"
            Title="Spacer"
            Description="spacer component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Spacer"
               ComponentDescription="The purpose of the BitSpacer is to generate space between other components. You can either create a space with a set width (in number of pixels) or create a space with a flexible width."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>
                <BitSpacer>I'm a Spacer</BitSpacer>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>