@page "/components/pulltorefresh"

<PageOutlet Url="components/pulltorefresh"
            Title="PullToRefresh"
            Description="pulltorefresh component of the bit BlazorUI components" />

<ComponentDemo ComponentName="PullToRefresh"
               ComponentDescription="The PullToRefresh component is used to ..."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
        <ExamplePreview>
            <div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>