@page "/components/pulltorefresh"

<PageOutlet Url="components/pulltorefresh"
            Title="PullToRefresh"
            Description="pulltorefresh component of the bit BlazorUI components" />

<ComponentDemo ComponentName="PullToRefresh"
               ComponentDescription="The PullToRefresh component is used to add the pull down to refresh feature to a page or a specific element."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
        <ExamplePreview>
            <div>
                <div>isRefreshed? [@(isRefreshed ? "Yes" : "No")]</div>
                <br />
                <div class="ptr-anchor">
                    @for (int i = 1; i < 51; i++)
                    {
                        var ii = i;
                        <div>@(ii). Item @(ii)</div>
                    }
                </div>
            </div>

            <BitPullToRefresh Anchor=".ptr-anchor" OnRefresh="HandleOnRefresh" />
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>