@import '../../../Styles/abstracts/_bit-css-variables.scss';

.grid1 {
    .grid1-container {
        overflow: auto;
    }

    .flag {
        vertical-align: middle;
    }

    ::deep {
        .column--large {
            width: 220px;
        }

        .col-options-button {
            cursor: pointer;
        }

        table {
            width: 100%;
            border-spacing: 0;
        }

        tr {
            height: 41px;
        }
    }
}

.grid2 {
    height: 15rem;
    overflow-y: auto;

    ::deep {
        table {
            width: 100%;
        }

        tr {
            height: 35px;
        }

        thead {
            top: 0;
            z-index: 1;
            position: sticky;
            background-color: $bit-color-secondary-dark;
        }

        tbody td {
            max-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.search-panel {
    max-width: 15rem;
    margin-top: 2rem;
}
