@page "/components/navmenu"

<PageOutlet Url="components/navmenu"
            Title="NavMenu"
            Description="navmenu component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="NavMenu"
                   ComponentDescription="A navigation menu provides links to the main areas of an app or site."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums"
                   Notes="The BitNavMenu is a Multi-API component which can accept the list of Items in 3 different ways: BitNavMenuItem class, a custom Generic class, and BitNavMenuOption component.">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <_BitNavMenuItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitNavMenuCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitNavMenuOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>
