<div>
    <BitAccordion Class="process-accordion">
        <HeaderTemplate Context="isExpanded">
            <BitStack Horizontal Gap="1rem" VerticalAlign="BitAlignment.Center">
                <BitIcon Class="acc-icon"
                         Size="BitSize.Small"
                         IconName="@(isExpanded ? BitIconName.ChevronDown : BitIconName.ChevronRight)" />
                <div class="acc-title">@Title</div>
            </BitStack>
        </HeaderTemplate>
        <ChildContent>
            <div class="acc-body">@ChildContent</div>
        </ChildContent>
    </BitAccordion>
</div>