<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.0.26201" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
</packages>