<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26606" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.0.26606" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26606" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26606" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26606" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="System.Composition" version="1.0.31" targetFramework="net47" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net47" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net47" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net47" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net47" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net47" />
</packages>