<CascadingAuthenticationState>
    <PageTitle>To Do app!</PageTitle>
    <Router AppAssembly="@GetType().Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToSignIn />
                </NotAuthorized>
                <Authorizing>
                    <div class="lds-wrapper">
                        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <TodoTemplateNotFound />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>