@import "../colors.fluent.scss", "../../functions.scss";

$BgDefult: $Grey90;
$BgTrack: $Grey130;
$BgHover: $BlizzardBlue;
$BgTrackHover: $DarkAlt;

.bit-slider-title {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    overflow-wrap: break-word;
}

.bit-slider-disabled-fluent {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.bit-slider-container {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.bit-slider input {
    -webkit-appearance: none;
}

/*Horizontal*/
.bit-slider.bit-slider-horizontal input {
    flex-grow: 1;
}

/*progress support*/
.bit-slider input {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min))/var(--range));
    --sx: calc(.5*2em + var(--ratio)*(100% - 2em));
}

.bit-slider input:focus {
    outline: none;
}

/*webkit*/
.bit-slider input::-webkit-slider-thumb {
    border-width: 2px;
    border-style: solid;
    border-color: $BgTrack;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    width: 16px;
    height: 16px;
    margin-top: -6px;
    -webkit-appearance: none;
}

.bit-slider input::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 4px;
    background: $BgDefult;
    box-shadow: none;
}

.bit-slider-enabled-fluent input::-webkit-slider-thumb:hover,
.bit-slider-enabled-fluent input::-webkit-slider-thumb:active,
.bit-slider-enabled-fluent input:hover::-webkit-slider-thumb,
.bit-slider-enabled-fluent input:active::-webkit-slider-thumb {
    border-color: $BgTrackHover;
}

.bit-slider-enabled-fluent input:hover::-webkit-slider-runnable-track {
    background: $BgTrackHover;
}

.bit-slider-enabled-fluent input:active::-webkit-slider-runnable-track {
    background: $BgTrackHover;
}

.bit-slider input::-webkit-slider-runnable-track {
    background: linear-gradient($BgTrack,$BgTrack) 0/var(--sx) 100% no-repeat,$BgDefult;
}

.bit-slider-enabled-fluent input:hover::-webkit-slider-runnable-track,
.bit-slider-enabled-fluent input:active::-webkit-slider-runnable-track {
    background: linear-gradient($BgTrackHover,$BgTrackHover) 0/var(--sx) 100% no-repeat,$BgHover;
}

/*mozilla*/
.bit-slider input::-moz-range-thumb {
    border-width: 2px;
    border-style: solid;
    border-color: $BgTrack;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    width: 16px;
    height: 16px;
    margin-top: calc(max((1em - 1px - 0px)*.5,0px) - 2em*.5);
}

.bit-slider input::-moz-range-track {
    height: 4px;
    border-radius: 4px;
    background: $BgDefult;
    box-shadow: none;
}

.bit-slider-enabled-fluent input::-moz-range-thumb:hover,
.bit-slider-enabled-fluent input:hover::-moz-range-track,
.bit-slider-enabled-fluent input::-moz-range-thumb:active,
.bit-slider-enabled-fluent input:active::-moz-range-track {
    border-color: $BgTrackHover;
}

.bit-slider input::-moz-range-track {
    background: linear-gradient($BgTrack,$BgTrack) 0/var(--sx) 100% no-repeat,$BgDefult;
}

.bit-slider-enabled-fluent input:hover::-moz-range-track,
.bit-slider-enabled-fluent input:active::-moz-range-track {
    background: linear-gradient($BgTrackHover,$BgTrackHover) 0/var(--sx) 100% no-repeat,$BgHover;
}

/*ms*/
.bit-slider input::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

.bit-slider input::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

.bit-slider input::-ms-thumb {
    border-width: 2px;
    border-style: solid;
    border-color: $BgTrack;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    width: 16px;
    height: 16px;
    margin-top: calc(max((1em - 1px - 0px)*.5,0px) - 2em*.5);
}

.bit-slider input::-ms-track {
    height: 4px;
    border-radius: 4px;
    background: $BgDefult;
    box-shadow: none;
}

.bit-slider-enabled-fluent input::-ms-thumb:hover,
.bit-slider-enabled-fluent input:hover::-ms-thumb,
.bit-slider-enabled-fluent input::-ms-thumb:active,
.bit-slider-enabled-fluent input:active::-ms-thumb {
    border-color: $BgTrackHover;
}

.bit-slider input::-ms-fill-lower {
    height: 4px;
    border-radius: 4px;
    background: $BgDefult;
    box-shadow: none;
}

.bit-slider-enabled-fluent input:hover::-ms-fill-lower,
.bit-slider-enabled-fluent input:active::-ms-fill-lower {
    background: $BgTrackHover;
}

.bit-slider-value {
    box-sizing: border-box;
    box-shadow: none;
    margin: 0 8px;
    padding: 5px 0;
    overflow-wrap: break-word;
    flex-shrink: 1;
    width: 40px;
    white-space: nowrap;
}

.bit-slider-vertical .bit-slider-value,
.bit-slider-ranged-vertical .bit-slider-value {
    text-align: center;
}

/*Horizontal*/
.bit-slider-horizontal input {
    width: 100%;
}

/*Vertical*/
.bit-slider-vertical .bit-slider-container {
    height: 100%;
    width: 50px;
    padding: 0;
    margin-left: 0;
    display: block;
}

.bit-slider-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bit-slider-vertical input {
    transform-origin: left;
    margin: 0 25px;
}

/*Ranged*/
.bit-slider.bit-slider-ranged-horizontal .bit-slider-container {
    display: flex;
}

.bit-slider.bit-slider-ranged-vertical {
    width: 100%;
}

.bit-slider-ranged-horizontal .bit-slider-box,
.bit-slider-ranged-vertical .bit-slider-box {
    --dif: calc(var(--max) - var(--min));
    display: grid;
    grid-template: repeat(2, -webkit-max-content) 4px/1fr 1fr;
    grid-template: repeat(2, max-content) 4px/1fr 1fr;
    position: relative;
    margin: 1em auto;
    width: 100%;
    background: linear-gradient(0deg, $BgDefult 4px, transparent 0);
}

.bit-slider-enabled-fluent.bit-slider-ranged-horizontal .bit-slider-box:hover,
.bit-slider-enabled-fluent.bit-slider-ranged-vertical .bit-slider-box:hover {
    background: linear-gradient(0deg, $BgHover 4px, transparent 0);
}

.bit-slider-ranged-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bit-slider-ranged-vertical .bit-slider-container {
    transform: rotate(270deg);
}

.bit-slider-ranged-horizontal .bit-slider-box::before, .bit-slider-ranged-horizontal .bit-slider-box::after,
.bit-slider-ranged-vertical .bit-slider-box::before, .bit-slider-ranged-vertical .bit-slider-box::after {
    grid-column: 1/span 2;
    grid-row: 3;
    height: 4px;
    background: $BgTrack;
    content: "";
}

.bit-slider-enabled-fluent.bit-slider-ranged-horizontal .bit-slider-box:hover::before, .bit-slider-enabled-fluent.bit-slider-ranged-horizontal .bit-slider-box:hover::after,
.bit-slider-enabled-fluent.bit-slider-ranged-vertical .bit-slider-box:hover::before, .bit-slider-enabled-fluent.bit-slider-ranged-vertical .bit-slider-box:hover::after {
    background: $BgTrackHover;
}

.bit-slider-ranged-horizontal .bit-slider-box::before,
.bit-slider-ranged-vertical .bit-slider-box::before {
    margin-left: calc((var(--l) - var(--min))/var(--dif)*100%);
    width: calc((var(--h) - var(--l))/var(--dif)*100%);
}

.bit-slider-ranged-horizontal .bit-slider-box::after,
.bit-slider-ranged-vertical .bit-slider-box::after {
    margin-left: calc((var(--h) - var(--min))/var(--dif)*100%);
    width: calc((var(--l) - var(--h))/var(--dif)*100%);
}

.bit-slider [id=multi-lbl] {
    grid-column: 1/span 2;
}

.bit-slider.bit-slider-ranged-horizontal input,
.bit-slider.bit-slider-ranged-vertical input {
    grid-column: 1/span 2;
    grid-row: 3;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    background: none;
    /* get rid of white Chrome background */
    --col: #000;
    pointer-events: none;
}

.bit-slider input::-webkit-slider-runnable-track, .bit-slider input::-webkit-slider-thumb, .bit-slider input {
    -webkit-appearance: none;
}

.bit-slider.bit-slider-ranged-horizontal input::-webkit-slider-runnable-track,
.bit-slider.bit-slider-ranged-vertical input::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    background: none;
}

.bit-slider.bit-slider-ranged-horizontal input::-moz-range-track,
.bit-slider.bit-slider-ranged-vertical input::-moz-range-track {
    width: 100%;
    height: 100%;
    background: none;
}

input::-webkit-slider-thumb {
    border: none;
    /* get rid of Firefox thumb border */
    width: 2em;
    height: 4em;
    border-radius: 0;
    /* get rid of Firefox corner rounding */
    background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
    pointer-events: auto;
}

input::-moz-range-thumb {
    border: none;
    /* get rid of Firefox thumb border */
    width: 2em;
    height: 4em;
    border-radius: 0;
    /* get rid of Firefox corner rounding */
    background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
    pointer-events: auto;
}

.bit-slider.bit-slider-ranged-horizontal input:focus
.bit-slider.bit-slider-ranged-vertical input:focus {
    z-index: 2;
    outline: dotted 1px currentcolor;
}

//ZeroTick
.zero-tick {
    position: absolute;
    background: $BgTrack;
    z-index: 9999;
}

.bit-slider-enabled-fluent input:hover .zero-tick {
    background: $BgTrackHover;
}

.bit-slider-vertical .zero-tick {
    width: rem(14px);
    height: rem(1px);
    margin-left: rem(18px);
}

.bit-slider-horizontal .zero-tick {
    width: rem(1px);
    height: rem(14px);
}

.bit-slider-ranged-vertical .zero-tick {
    width: rem(14px);
    height: rem(1px);
    margin-top: rem(1px);
    margin-left: rem(18px);
    transform: rotate(270deg);
}

.bit-slider-ranged-horizontal .zero-tick {
    width: rem(1px);
    height: rem(14px);
    margin-top: rem(-5px);
}