@page "/components/otp-input"

<ComponentDemo ComponentName="OtpInput">

    <ComponentExampleBox Title="BitOtpInput" ExampleId="example1">
        <ExamplePreview>

            <BitOtpInput InputCount="6" @bind-Value="value2" InputType="BitOtpInputType.Text" AutoFocus="true" Direction="BitOtpInputDirection.LeftToRight" />
            <div style="margin: 30px 0;"></div>
            <BitOtpInput InputCount="6" @bind-Value="value2" InputType="BitOtpInputType.Text" AutoFocus="true" Direction="BitOtpInputDirection.RightToLeft" />
            <div style="margin: 30px 0;"></div>
            <BitOtpInput InputCount="6" @bind-Value="value2" InputType="BitOtpInputType.Text" AutoFocus="true" Direction="BitOtpInputDirection.TopToBottom" />
            <div style="margin: 30px 0;"></div>
            <BitOtpInput InputCount="6" @bind-Value="value2" InputType="BitOtpInputType.Text" AutoFocus="true" Direction="BitOtpInputDirection.BottomToTop" />
            <div style="margin: 30px 0;"></div>

            @value2

        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>