@import "../../../Styles/Fluent/colors.fluent.scss", "../../../Styles/functions.scss";

.bit-splb {
    &.bit-splb-fluent {
        display: inline-flex;
        position: relative;
        outline: transparent;
        font-size: rem(14px);
        font-weight: 400;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    &.bit-splb-disabled-fluent {
        .operator-btn, .Chevron-btn {
            background-color: $Grey20;
            color: $Grey90;
            cursor: default;
            pointer-events: none;
        }

        .separator-btn {
            background-color: $Grey60;
        }
    }

    .overlay {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: transparent;
    }

    .current-item {
        display: flex;
        width: 100%;
    }

    .operator-btn {
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        padding: 0 rem(16px);
        min-width: rem(80px);
        height: rem(32px);
        user-select: none;
        border-radius: rem(2px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &.standard {
            color: $Grey160;
            background-color: $White;
            border-top: 1px solid $GreyInputBorder;
            border-left: 1px solid $GreyInputBorder;
            border-bottom: 1px solid $GreyInputBorder;

            &:hover {
                background-color: $Grey20;
            }
        }

        &.primary {
            color: $White;
            background-color: $Primary;
            border-top: 1px solid $Primary;
            border-left: 1px solid $Primary;
            border-bottom: 1px solid $Primary;

            &:hover {
                background-color: $DarkAlt;
            }
        }

        &.disabled {
            background-color: $Grey20;
            color: $Grey90;
            border: none;
            cursor: default;

            &:hover {
                background-color: $Grey20;
            }
        }
    }

    .chevron-btn {
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        padding: rem(6px);
        width: rem(32px);
        height: rem(32px);
        user-select: none;
        border-radius: rem(2px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.standard {
            color: $Grey160;
            background-color: $White;
            border-top: 1px solid $GreyInputBorder;
            border-right: 1px solid $GreyInputBorder;
            border-bottom: 1px solid $GreyInputBorder;

            &:hover {
                background-color: $Grey20;
            }
        }

        &.primary {
            color: $White;
            background-color: $Primary;
            border-top: 1px solid $Primary;
            border-right: 1px solid $Primary;
            border-bottom: 1px solid $Primary;

            &:hover {
                background-color: $DarkAlt;
            }
        }

        &.disabled {
            color: $Grey160;
            background-color: $White;
            border-top: 1px solid $GreyInputBorder;
            border-right: 1px solid $GreyInputBorder;
            border-bottom: 1px solid $GreyInputBorder;

            &:hover {
                background-color: $Grey20;
            }
        }
    }

    .separator-btn {
        position: absolute;
        width: rem(1px);
        right: rem(32px);
        top: rem(8px);
        bottom: rem(8px);
        background-color: $GreyInputBorder;

        &.primary {
            background-color: $White;
        }

        &.disabled {
            background-color: $GreyInputBorder;
        }
    }

    .items {
        display: none;
        position: fixed;
        min-width: 180px;
        background-color: $White;
        box-sizing: border-box;
        border-radius: 0 0 rem(2px) rem(2px);
        box-shadow: rgba(0, 0, 0, 0.13) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
        animation-name: bit-splb-open-callout-y;
        animation-duration: 0.367s;
        animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
        animation-fill-mode: both;
        z-index: 1001;
        overflow: hidden auto;
        -webkit-font-smoothing: antialiased;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        @media only screen and (max-width: #{em(639px)}) {
            animation-name: bit-splb-open-callout-x;
        }
    }

    .item {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: rem(36px);
        line-height: rem(36px);
        align-items: center;
        text-align: left;
        cursor: pointer;
        padding: 0 rem(8px) 0 rem(4px);
        border: none;
        color: $Grey160;

        i {
            color: $Primary;
            margin: 0 rem(4px);
        }

        span {
            margin: 0 rem(4px);
            vertical-align: middle;
            display: inline-block;
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.disabled {
            cursor: default;
            color: $Grey90;

            i {
                color: $BlizzardBlue;
            }

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            background-color: $Grey20;
        }
    }
}

@keyframes bit-splb-open-callout-y {
    0% {
        opacity: 0;
        transform: translate3d(0px, -10px, 0px);
        pointer-events: none;
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        pointer-events: auto;
    }
}

@keyframes bit-splb-open-callout-x {
    0% {
        opacity: 0;
        transform: translate3d(40px, 0px, 0px);
        pointer-events: none;
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        pointer-events: auto;
    }
}
