@page "/"

<section class="page-section hero-section">
    <div class="section-content-container">
        <div class="hero-section-content">
            <h1 class="hero-section-main-title">bit platform:</h1>
            <h2 class="hero-section-title">
                Home for .NET<br />
                Developers
            </h2>
            <div class="hero-section-desc">
                bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms.<br />
                Our mission is to make development easier.
            </div>
            <a class="hero-section-cta" href="https://github.com/bitfoundation/bitplatform" target="_blank">
                <span class="hero-section-github-ico"></span>
                GitHub
            </a>
        </div>
    </div>
</section>

<section class="page-section customers-section">
    <h2>Our customers love what we do</h2>
    <BitCarousel Class="customer-feedback-carousel">
        <BitCarouselItem Class="customer-feedback-item">
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
        <BitCarouselItem>
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
        <BitCarouselItem>
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
        <BitCarouselItem>
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
        <BitCarouselItem>
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
        <BitCarouselItem>
            <a class="customer-feedback-card" href="" target="_blank">
                <span class="qoute-mark"></span>
                <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                <div class="fade-bar"></div>
                <div class="customer-feedback-name">Yaser Moradi</div>
            </a>
        </BitCarouselItem>
    </BitCarousel>
</section>