@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_colors.scss';

.page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-image: url('/images/home/home-page-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 rem(32px);
    box-sizing: border-box;

    @include sm {
        padding: 0 rem(16px);
    }
}

.section-content-container {
    width: 100%;
    max-width: rem(1232px);

    .twitter-link {
        background-image: url('/images/footer/twitter-icon.svg');
        width: rem(32px);
        height: rem(32px);
        margin: 0 rem(6);
        background-position: center;
        background-repeat: no-repeat;
        background-color: $B7Color;
        border-radius: 50%;
        cursor: pointer;
        background-size: rem(18px);
    }

    @include lg {
        max-width: rem(1140px);
    }

    @include md {
        max-width: rem(704px);
    }

    @include sm {
        max-width: 100%;
    }
}

.hero-section {
    background-image: url('/images/home/hero-banner.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;

    .section-content-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: rem(240px) 0 rem(108px);

        @include lg {
            padding: rem(152px) 0 rem(52px);
        }

        @include md {
            padding: rem(96px) 0 rem(28px);
        }

        @include sm {
            padding: rem(88px) 0 rem(72px);
        }
    }

    .hero-section-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: rem(504px);

        @include lg {
            max-width: rem(424px);
        }

        @include md {
            max-width: rem(340px);
        }

        @include sm {
            max-width: 100%;
        }
    }

    .hero-section-main-title {
        margin: 0;
        margin-bottom: rem(40px);
        font-weight: 600;
        font-size: rem(34px);
        line-height: rem(48px);
        color: $Gray4;

        @include lg {
            font-size: rem(32px);
        }

        @include md {
            margin-bottom: rem(24px);
            font-size: rem(16px);
            line-height: rem(32px);
        }

        @include sm {
            margin-bottom: rem(12px);
            font-size: rem(20px);
            line-height: rem(32px);
        }
    }

    .hero-section-title {
        margin: 0;
        margin-bottom: rem(16px);
        font-weight: 700;
        font-size: rem(50px);
        line-height: rem(58px);
        color: $White;

        @include lg {
            font-size: rem(40px);
            line-height: rem(64px);
        }

        @include md {
            margin-bottom: rem(8px);
            font-weight: 600;
            font-size: rem(26px);
            line-height: rem(40px);
        }

        @include sm {
            margin-bottom: rem(24px);
            font-weight: 600;
            font-size: rem(26px);
            line-height: rem(40px);
        }
    }

    .hero-section-desc {
        margin-bottom: rem(112px);
        font-weight: 700;
        font-size: rem(18x);
        line-height: rem(32px);
        color: $Gray4;

        @include lg {
            margin-bottom: rem(64px);
            font-size: rem(16x);
        }

        @include lt-lg {
            margin-bottom: rem(32px);
            font-weight: 400;
            font-size: rem(14px);
            line-height: rem(28px);
        }
    }

    .hero-section-cta {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: rem(193px);
        height: rem(64px);
        border-radius: rem(8px);
        background-color: $White;
        font-weight: 600;
        font-size: rem(22px);
        line-height: rem(40px);
        color: $B6Color;

        @include lg {
            width: rem(186px);
            font-size: rem(20px);
            line-height: rem(32px);
        }

        @include lt-lg {
            width: rem(143px);
            height: rem(48px);
            font-size: rem(16px);
            line-height: rem(32px);
        }
    }

    .hero-section-github-ico {
        width: rem(40px);
        height: rem(40px);
        margin-right: rem(8px);
        background-image: url('/images/github-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        @include lt-lg {
            width: rem(28px);
            height: rem(28px);
        }
    }
}

.customer-feedback-card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    //box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    //border-radius: rem(16px);
    padding: rem(46px) rem(40px);
    box-sizing: border-box;
    background-color: $White;
    cursor: pointer;

    @include md {
        //border-radius: rem(14px);
        padding: rem(28px) rem(25px);
    }

    @include sm {
        //border-radius: rem(14px);
        padding: rem(24px);
    }

    .qoute-mark {
        width: rem(48px);
        height: rem(48px);
        background-image: url('/images/home/twitter-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        cursor: pointer;
        background-size: rem(32px);

        //@include md {
        //    width: rem(28px);
        //    height: rem(28px);
        //    margin-bottom: rem(8px);
        //}

        //@include sm {
        //    width: rem(25px);
        //    height: rem(25px);
        //    margin-bottom: rem(4px);
        //}
    }

    .customer-feedback-txt {
        width: 100%;
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(32px);
        margin-bottom: rem(14px);
        color: $Gray1;
        overflow: hidden;
        text-align: justify;
        text-align-last: left;

        @include md {
            font-size: rem(16px);
            line-height: rem(28px);
            margin-bottom: rem(10px);
        }

        @include sm {
            font-size: rem(14px);
            line-height: rem(24px);
            margin-bottom: rem(8px);
        }
    }

    .customer-feedback-name {
        z-index: 2;
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(32px);
        color: $Black1;

        @include md {
            font-size: rem(15px);
            line-height: rem(28px);
        }

        @include sm {
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(28px);
        }
    }

    .fade-bar {
        position: absolute;
        top: rem(128px);
        left: 0;
        width: 100%;
        height: rem(75px);
        z-index: 1;
        background-image: linear-gradient(-180deg,rgba(255,255,255,0) -15%,#ffffff 50%);

        @include md {
            top: rem(95px);
            height: rem(60px);
        }

        @include sm {
            top: rem(70px);
            height: rem(60px);
        }
    }

    .author-container {
        display: flex;
        align-items: center;
    }

    .image {
        width: rem(64px);
        border-radius: 50%;
        margin-right: rem(10px);
    }
}

::deep .customer-feedback-carousel {
    width: 100%;
    height: rem(360px);
    margin: rem(32px) auto;

    @include md {
        height: rem(285px);
    }

    @include sm {
        height: rem(250px);
    }

    &.bit-crsl {
        .carousel {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: rem(16px);

            @include md {
                border-radius: rem(14px);
            }

            @include sm {
                border-radius: rem(14px);
            }
        }
    }
}

::deep .customer-feedback-item {
    width: 100%;
}

.section-title {
    margin: rem(88px) 0 rem(32px);
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(56px);
    color: $B3Color;

    @include lg {
        font-size: rem(36px);
    }

    @include md {
        margin: rem(24px) 0 rem(16px);
        font-size: rem(24px);
        line-height: rem(40px);
    }

    @include sm {
        margin: rem(32px) 0 rem(12px);
        font-size: rem(20px);
        line-height: rem(32px);
    }
}

.section-desc {
    margin-bottom: rem(40px);
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(32px);
    color: $Gray1;

    @include md {
        margin-bottom: rem(32px);
        font-size: rem(14px);
        line-height: rem(28px);
    }

    @include sm {
        margin-bottom: rem(28px);
        font-size: rem(14px);
        line-height: rem(28px);
    }
}

.template-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: rem(24px) rem(40px) rem(24px) rem(104px);
    border-radius: rem(20px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    background-color: $White;

    @include lg {
        padding: rem(40px) rem(32px) rem(40px) rem(88px);
    }

    @include md {
        border-radius: rem(16px);
        padding: rem(40px) rem(32px);
    }

    @include sm {
        padding: rem(24px) rem(16px);
    }

    .template-content-continaer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: rem(394px);
        margin-right: rem(5px);

        @include md {
            max-width: rem(336px);
        }

        @include sm {
            max-width: 100%;
            margin-right: 0;
        }
    }

    .template-name {
        margin-bottom: rem(32px);
        font-weight: 700;
        font-size: rem(30px);
        line-height: rem(40px);
        color: $Black1;

        @include lg {
            font-size: rem(26px);
        }

        @include md {
            margin-bottom: rem(8px);
            font-size: rem(20px);
            line-height: rem(32px);
        }

        @include sm {
            margin-bottom: rem(16px);
            font-weight: 600;
            font-size: rem(18px);
            line-height: rem(32px);
        }
    }

    .template-desc {
        margin-bottom: rem(24px);
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(32px);
        color: $Gray1;

        @include md {
            margin-bottom: rem(8px);
            font-size: rem(14px);
            line-height: rem(28px);
        }

        @include sm {
            margin-bottom: rem(32px);
            font-size: rem(12px);
            line-height: rem(24px);
        }
    }

    .template-link {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: 700;
        font-size: rem(16px);
        line-height: rem(32px);
        color: $B6Color;
        cursor: pointer;

        @include md {
            font-size: rem(12px);
            line-height: rem(24px);
        }

        @include sm {
            font-weight: 600;
            font-size: rem(12px);
            line-height: rem(24px);
        }
    }

    .template-link-arrow {
        width: rem(20px);
        height: rem(20px);
        margin-left: rem(8px);
        background-image: url('/images/arrow-right-blue-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include sm {
            width: rem(18px);
            height: rem(18px);
            margin-left: rem(2px);
        }
    }

    .template-img {
        width: rem(564px);
        height: rem(376px);
        background-image: url('/images/home/project-template.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            width: rem(498px);
            height: rem(332px);
        }

        @include md {
            width: rem(300px);
            height: rem(200px);
        }

        @include sm {
            display: none;
        }
    }
}

.service-section {
    .section-card-group {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @include lt-lg {
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

.servic-card {
    position: relative;
    width: calc(50% - 27px);
    height: 100%;
    min-height: rem(296px);
    background-color: $White;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: rem(20px);
    padding: rem(46px) rem(40px);
    box-sizing: border-box;

    @include lg {
        min-height: rem(264px);
        padding: rem(32px) rem(24px);
    }

    @include md {
        margin-bottom: rem(12px);
        width: calc(100% - 38px);
        min-height: unset;
        padding: rem(30px) rem(24px);
    }

    @include sm {
        margin-bottom: rem(24px);
        width: 100%;
        min-height: unset;
        padding: rem(24px);
    }

    &:last-child {
        margin: 0;
    }

    .service-content-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: calc(100% - 186px);

        @include lg {
            width: calc(100% - 138px);
        }

        @include md {
            width: calc(100% - 144px);
        }

        @include sm {
            max-width: 100%;
        }
    }

    .service-name {
        margin-bottom: rem(20px);
        font-weight: 700;
        font-size: rem(30px);
        line-height: rem(40px);
        color: $Black1;

        @include lg {
            font-size: rem(26px);
        }

        @include md {
            margin-bottom: rem(30px);
            font-size: rem(20px);
            line-height: rem(32px);
        }

        @include sm {
            margin-bottom: rem(16px);
            font-weight: 600;
            font-size: rem(18px);
            line-height: rem(32px);
        }
    }

    .service-desc {
        margin-bottom: rem(16px);
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(32px);
        color: $Gray1;

        @include lg {
            margin-bottom: rem(12px);
            font-size: rem(14px);
        }

        @include md {
            margin-bottom: rem(12px);
            font-size: rem(14px);
            line-height: rem(20px);
        }

        @include sm {
            margin-bottom: rem(16px);
            font-size: rem(14px);
            line-height: rem(20px);
        }
    }

    .service-link {
        font-weight: 700;
        font-size: rem(16px);
        line-height: rem(32px);
        color: $B6Color;

        @include md {
            font-weight: 600;
        }

        @include sm {
            font-weight: 600;
            font-size: rem(12px);
            line-height: rem(24px);
        }
    }

    .download-row {
        display: none;
        margin-bottom: rem(20px);
        padding-left: rem(40px);
        background-image: url('/images/home/download-blue-icon.svg');
        background-position: center left;
        background-repeat: no-repeat;
        background-size: rem(32px);
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(24px);
        color: $Gray1;

        .bold-txt {
            font-weight: 600;
            font-size: rem(16px);
            line-height: rem(32px);
            color: $Black1;
        }

        @include sm {
            display: block;
        }
    }

    .service-badge--blue {
        position: absolute;
        right: rem(-36px);
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: rem(192px);
        height: rem(192px);
        box-shadow: 0px 4px 20px rgba(0, 101, 239, 0.3);
        border-radius: rem(20px);
        background: linear-gradient(225.14deg, #004EBA -11.79%, #0164EC 95.46%);

        @include lg {
            right: rem(-38px);
            width: rem(160px);
            height: rem(160px);
        }

        @include md {
            right: rem(-38px);
            width: rem(156px);
            height: rem(156px);
        }

        @include sm {
            display: none;
        }

        .badge-icon {
            width: rem(50px);
            height: rem(53px);
            background-image: url('/images/home/download-white-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: rem(21px);

            @include lt-xl {
                width: rem(44px);
                height: rem(46px);
                margin-bottom: rem(12px);
            }
        }

        .badge-txt {
            font-weight: 700;
            font-size: rem(16px);
            line-height: rem(32px);
            color: $Gray4;

            @include md {
                font-size: rem(14px);
                line-height: rem(28px);
            }
        }

        .badge-main-txt {
            font-weight: 600;
            font-size: rem(34px);
            line-height: rem(48px);
            color: $White;

            @include lg {
                font-weight: 700;
                font-size: rem(26px);
                line-height: rem(40px);
            }

            @include md {
                font-weight: 700;
                font-size: rem(20px);
                line-height: rem(32px);
            }
        }
    }
}
