@page "/"

<div class="page-container">

    <section class="hero-section">
        <div class="page-section">
            <div class="hero-section-container">
                <h3> bit Platform:</h3>
                <h1>
                    Home for .NET
                    Developers
                </h1>
                <div>A project template is a project that includes work packages and actions that you know you will frequently apply to various projects.</div>
                <a class="github-btn" target="_blank" href="@Urls.Github"><span class="github-icon"></span>GitHub</a>
            </div>
        </div>
    </section>

    <section class="page-section project-template-section">
        <h2>
            Project<div>Templates</div>
        </h2>
        <div class="subtitle">A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.</div>

        <div class="projetc-template-cart">
            <div class="content">
                <h4>Todo template</h4>
                <div>Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</div>
                <a>Read More<span class="arrow-right"></span></a>
            </div>
            <img class="baner" src="~/images/home/project-template-1.png" />
        </div>

        <div class="projetc-template-cart">
            <div class="content">
                <h4>Todo template</h4>
                <div>Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</div>
                <a>Read More<span></span></a>
            </div>
            <img class="baner" src="~/images/home/project-template-1.png" />
        </div>
    </section>

    <section class="page-section services-section">
        <h2>
            Products<div>& Services </div>
        </h2>
        <div class="subtitle">A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.</div>

        <div class="services-cart-container">
            <div class="services-cart">
                <div class="content">
                    <h4>Bit components</h4>
                    <div>Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</div>
                    <a>bitcomponent.com</a>
                </div>
                <div class="download-box">
                    <div class="download-icon" />
                    <div>Downloads</div>
                    <h3>2458</h3>
                </div>
            </div>
            <div class="services-cart">
                <div class="content">
                    <h4>Bit components</h4>
                    <div>Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</div>
                    <a>bitcomponent.com</a>
                </div>
                <div class="download-box">
                    <div class="download-icon" />
                    <div>Downloads</div>
                    <h3>2458</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section customers-section">
        <h2>
            Bit<div>Customers </div>
        </h2>
    </section>

    <section class="background-section">
        <div class="circle1" />
        <div class="circle2" />
        <div class="circle3" />
        <div class="circle4" />
        <div class="circle5" />
        <div class="circle6" />
        <div class="circle7" />
        <div class="background-color" />
    </section>
</div>