@page "/"

<div class="page">
    <section class="page-section hero-section">
        <div class="section-content-container">
            <div class="hero-section-content">
                <h1 class="hero-section-main-title">bit platform:</h1>
                <h2 class="hero-section-title">
                    Home for .NET<br />
                    Developers
                </h2>
                <div class="hero-section-desc">
                    bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms.<br />
                    Our mission is to make development easier.
                </div>
                <a class="hero-section-cta" href="https://github.com/bitfoundation/bitplatform" target="_blank">
                    <span class="hero-section-github-ico"></span>
                    GitHub
                </a>
            </div>
        </div>
    </section>

    <section class="page-section template-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Project<br />
                Templates
            </h2>
            <div class="section-desc">Coding templates based on .Net MAUI / Blazor that enables high quality speedy cross-platform development for web, android and iOS and also has pixel-perfect, ready to use UIs.</div>
            <div class="template-card">
                <div class="template-content-continaer">
                    <div class="template-name">TodoTemplate</div>
                    <div class="template-desc">
                        TodoTemplate is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                        It allows you building Android, iOS, Windows, Web applications from single code base.
                    </div>
                    <a class="template-link" href="/todo-template">Read more about TodoTemplate <span class="template-link-arrow"></span></a>
                </div>
                <div class="template-img"></div>
            </div>
        </div>
    </section>

    <section class="page-section service-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Products<br />
                & Services
            </h2>
            <div class="section-card-group">
                <div class="servic-card">
                    <div class="service-content-container">
                        <div class="service-name">Bit BlazorUI</div>
                        <div class="download-row"><span class="bold-txt">32 (Daily)</span> Downloads</div>
                        <div class="service-desc">Easy to use, easy to customize, native, high performance Blazor components that significantly speed up coding.</div>
                        <a class="service-link" href="https://components.bitplatform.dev/" target="_blank">Read more about Bit BlazorUI</a>
                    </div>
                    <div class="service-badge--blue">
                        <span class="badge-icon"></span>
                        <span class="badge-txt">Downloads</span>
                        <span class="badge-main-txt">32 (Daily)</span>
                    </div>
                </div>
                <div class="servic-card">
                    <div class="service-content-container">
                        <div class="service-name">Dedicated Support</div>
                        <div class="service-desc">Community support will be free forever. Dedicated end-to-end support is available to purchase.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section customer-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Our customers love <br />
                what we do
            </h2>
            <BitCarousel Class="customer-feedback-carousel">
                <BitCarouselItem Class="customer-feedback-item">
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">Wow! Using Bit platform has made the work enjoyable for me! :)))</div>
                        <div class="fade-bar"></div>
                        <div class="customer-feedback-name">Yaser Moradi</div>
                    </a>
                </BitCarouselItem>
            </BitCarousel>
        </div>
    </section>
</div>