@page "/"

<div class="page">
    <section class="page-section hero-section">
        <div class="section-content-container">
            <div class="hero-section-content">
                <h1 class="hero-section-main-title">bit platform:</h1>
                <h2 class="hero-section-title">
                    Home for .NET<br />
                    Developers
                </h2>
                <div class="hero-section-desc">
                    bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms.<br />
                    Our mission is to make development easier.
                </div>
                <a class="hero-section-cta" href="https://github.com/bitfoundation/bitplatform" target="_blank">
                    <span class="hero-section-github-ico"></span>
                    GitHub
                </a>
            </div>
        </div>
    </section>

    <section class="page-section template-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Project<br />
                Templates
            </h2>
            <div class="section-desc">Coding templates based on .Net MAUI / Blazor that enables high quality speedy cross-platform development for web, android and iOS and also has pixel-perfect, ready to use UIs.</div>
            <div class="template-card">
                <div class="template-content-continaer">
                    <div class="template-name">TodoTemplate</div>
                    <div class="template-desc">
                        TodoTemplate is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                        It allows you building Android, iOS, Windows, Web applications from single code base.
                    </div>
                    <a class="template-link" href="/todo-template/overview">Read more about TodoTemplate <span class="template-link-arrow"></span></a>
                </div>
                <div class="template-img"></div>
            </div>
        </div>
    </section>

    <section class="page-section service-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Products<br />
                & Services
            </h2>
            <div class="section-card-group">
                <div class="servic-card">
                    <div class="service-content-container">
                        <div class="service-name">Bit BlazorUI</div>
                        <div class="download-row"><span class="bold-txt">32 (Daily)</span> Downloads</div>
                        <div class="service-desc">Easy to use, easy to customize, native, high performance Blazor components that significantly speed up coding.</div>
                        <a class="service-link" href="https://components.bitplatform.dev/" target="_blank">Read more about Bit BlazorUI</a>
                    </div>
                    <div class="service-badge--blue">
                        <span class="badge-icon"></span>
                        <span class="badge-txt">Downloads</span>
                        <span class="badge-main-txt">32 (Daily)</span>
                    </div>
                </div>
                <div class="servic-card">
                    <div class="service-content-container">
                        <div class="service-name">Dedicated Support</div>
                        <div class="service-desc">Community support will be free forever. Dedicated end-to-end support is available to purchase.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section customer-section">
        <div class="section-content-container">
            <h2 class="section-title">
                Our customers love <br />
                what we do
            </h2>
            <BitCarousel Class="customer-feedback-carousel" ShowNextPrev="false">
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="https://twitter.com/mehrandvd/status/1553142453091401729" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">
                            I'm more than happy for the decision we made to use #BitPlatform in our #dotnet products at
                            @@MelkRadar and #BeyondTeam and all other teams I'm consulting. It's so promising,
                            robust and reliable for scale...
                        </div>
                        @*<div class="fade-bar"></div>*@
                        <div class="author-container">
                            <img class="image" src="images/home/twitter/1.webp" />
                            <div class="customer-feedback-name">uɒɹɥəɯ</div>
                        </div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="https://twitter.com/HamedHajiloo96/status/1541649567644614656" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">
                            We want to launch a website that works entirely with .NET <br />
                            Thanks to #BitPlatform we can have a well-performance public website with #Blazor
                        </div>
                        @*<div class="fade-bar"></div>*@
                        <div class="author-container">
                            <img class="image" src="images/home/twitter/2.webp" />
                            <div class="customer-feedback-name">Hamed Hajiloo</div>
                        </div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="https://twitter.com/mhrastegari77/status/1553252183973453824" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">
                            Man! #BitPlatform team is really awesome and powerful!!! <br />
                            Yesterday I requested a draggable Carousel component for #Blazor and
                            they literally published a pre release of it today. 🔥
                        </div>
                        @*<div class="fade-bar"></div>*@
                        <div class="author-container">
                            <img class="image" src="images/home/twitter/3.webp" />
                            <div class="customer-feedback-name">MH Rastegari</div>
                        </div>
                    </a>
                </BitCarouselItem>
                <BitCarouselItem>
                    <a class="customer-feedback-card" href="https://twitter.com/hootanht/status/1553199172957995008" target="_blank">
                        <span class="qoute-mark"></span>
                        <div class="customer-feedback-txt">
                            We're excited too. #BitPlatform helps us to achieve more flexibility and
                            opportunities in our projects than we think.😍🌹🙏
                        </div>
                        @*<div class="fade-bar"></div>*@
                        <div class="author-container">
                            <img class="image" src="images/home/twitter/4.webp" />
                            <div class="customer-feedback-name">Hootan HT</div>
                        </div>
                    </a>
                </BitCarouselItem>
            </BitCarousel>
        </div>
    </section>
</div>