@page "/"

<div class="page-container">

    <section class="hero-section">
        <div class="page-section">
            <div class="hero-section-container">
                <h3>Bit Platform</h3>
                <h1>
                    The home for .NET developers
                </h1>
                <div>bit is a platform for .Net developers to easily Code, Build & Deploy their projects across multiple platforms.</div>
                <div>Our mission is to make development easier.</div>
                <a class="github-btn" target="_blank" href="@Urls.Github"><span class="github-icon"></span>GitHub</a>
            </div>
        </div>
    </section>

    <section class="page-section project-template-section">
        <h2>
            Project<div> Templates</div>
        </h2>
        <div class="subtitle">
            Coding templates based on .Net MAUI / Blazor that enables high quality speedy cross-platform development for web, android and iOS and also has pixel-perfect, ready to use UIs.
        </div>

        <div class="projetc-template-card">
            <div class="content">
                <h4>Todo template</h4>
                <div>Todo template is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.</div>
                <div> It allows you building Android, iOS, Windows, Web applications from single code base</div>
            </div>
            <img class="banner" src="images/home/project-template-1.png" />
        </div>
    </section>

    <section class="page-section services-section">
        <h2>
            Products<div>& Services </div>
        </h2>
        <div class="subtitle">
        </div>

        <div class="services-card-container">
            <div class="services-card">
                <div class="content">
                    <h4>Bit components</h4>
                    <div class="download-row">
                        <div class="download-icon" />
                        <h5>32 (Daily)</h5>
                        <div>Downloads</div>
                    </div>
                    <div>
                        Easy to use, easy to customize, native, high performance Blazor components that significantly speed up coding.
                    </div>
                    <a target="_blank" href="https://components.bitplatform.dev/">Read more</a>
                </div>
                <div class="download-box">
                    <div class="download-icon" />
                    <div>Downloads</div>
                    <h5>32 (Daily)</h5>
                </div>
            </div>
            <div class="services-card no-download-box">
                <div class="content">
                    <h4>Dedicated Support</h4>
                    <div>
                        Community support will be free forever. Dedicated end-to-end support is available to purchase
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section customers-section">
        <h2>
        </h2>
    </section>

    <section class="background-section">
        <div class="circle1" />
        <div class="circle2" />
        <div class="circle3" />
        <div class="circle4" />
        <div class="circle5" />
        <div class="circle6" />
        <div class="circle7" />
        <div class="background-color" />
    </section>
</div>