@page "/project-templates/todo-template/getting-started"

<div class="page-container">
    <section class="hero-section">
        <div class="page-section">
            <div class="hero-section-container">
                <div class="content-container">
                    <h3>TodoTemplate</h3>
                    <div>A project template is a project that includes work packages and actions that you know you will frequently apply to various projects.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section store-links-section">
        <div><span class="google-play" /></div>
        <div><span class="microsoft-store" /></div>
        <div><span class="apple-store" /></div>
        <div><span class="figma" /></div>
        <div><span class="spa" /></div>
        <div><span class="pwa" /></div>
    </section>

    <section class="page-section description-section">
        <div>A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.A project template is a project that includes work packages and actions that you know you will frequently apply to various projects. You may also want to use a project template if you want to standardize the tasks you are using for projects, such as obtaining building permits, or creating architectural drawings.</div>
    </section>

    <GettingStarted />

    <section class="background-section">
        <div class="circle1" />
        <div class="circle2" />
        <div class="circle3" />
        <div class="circle4" />
    </section>
</div>