@page "/project-templates/todo-template/getting-started"

<div class="page-container">
    <section class="hero-section">
        <div class="page-section">
            <div class="hero-section-container">
                <div class="content-container">
                    <h3>Todo Template</h3>
                    <div>A project template is a project that includes work packages and actions that you know you will frequently apply to various projects.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section store-links-section">
        <a href="https://todo-app.bitplatform.dev/" target="_blank"><span class="pwa" /></a>
        <a href="https://install.appcenter.ms/orgs/bitfoundation/apps/todo/distribution_groups/testers" target="_blank"><span class="app-center" /></a>
        <a href="https://www.nuget.org/packages/Bit.TodoTemplate/" target="_blank"><span class="nuget" /></a>
        <a href="https://www.figma.com/file/PHDEnipl4PCWIoh5dCRpLd/Todo-Template?node-id=2022%3A5223" target="_blank"><span class="figma" /></a>
        <a href="https://todo.bitplatform.dev/" target="_blank"><span class="spa" /></a>

    </section>

    <GettingStarted />

    <section class="background-section">
        <div class="circle1" />
        <div class="circle2" />
        <div class="circle3" />
        <div class="circle4" />
    </section>
</div>