@page "/components/breadcrumb"

<PageOutlet Url="components/breadcrumb"
            Title="Breadcrumb"
            Description="breadcrumb component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Breadcrumb"
                   ComponentDescription="Breadcrumbs should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   Notes="The BitBreadcrumb is a Multi-API component which can accept the list of Items in 3 different ways: BitBreadcrumbItem class, a custom Generic class, and BitBreadcrumbOption component.">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <_BitBreadcrumbItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitBreadcrumbCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitBreadcrumbOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>
