@page "/components/swipetrap"

<PageOutlet Url="components/swipetrap"
            Title="SwipeTrap"
            Description="swipetrap component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="SwipeTrap"
                   ComponentDescription="A SwipeTrap is a component that traps swipe actions and triggers corresponding events."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
            <ExamplePreview>
                <BitSwipeTrap Style="width:100%"
                              Throttle="10"
                              OnStart="HandleOnStart"
                              OnMove="HandleOnMove"
                              OnEnd="HandleOnEnd"
                              OnTrigger="HandleOnTrigger">
                    <div class="trap-container">
                        <div>StartX: @swipeTrapEventArgs?.StartX</div>
                        <div>StartY: @swipeTrapEventArgs?.StartY</div>
                        <div>DiffX: @swipeTrapEventArgs?.DiffX</div>
                        <div>DiffY: @swipeTrapEventArgs?.DiffY</div>
                        <div>---</div>
                        <div>Triggered? @isTriggered</div>
                        <div>Trigger direction: <b>@swipeTrapTriggerArgs?.Direction</b></div>
                        <div>Trigger diffX: @swipeTrapTriggerArgs?.DiffX</div>
                        <div>Trigger diffY: @swipeTrapTriggerArgs?.DiffY</div>
                    </div>
                </BitSwipeTrap>
            </ExamplePreview>
        </ComponentExampleBox>
    </ComponentDemo>
</div>