@attribute [Route(Urls.DashboardPage)]
@attribute [Route("{culture?}" + Urls.DashboardPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.DashboardPageTitle)]</PageTitle>

<section>
    <BitStack Gap="3rem">
        <OverallStatsWidget />

        <BitStack Horizontal Wrap>
            @if (isLoadingAssemblies is false)
            {
                <ProductsCountPerCategoryWidget />
                <ProductsPercentageWidget />
            }
        </BitStack>
    </BitStack>
</section>

