@page "/todo-template/development-prerequisites"
@page "/admin-panel/development-prerequisites"
@page "/templates/development-prerequisites"
@inherits AppComponentBase

<PageOutlet Url="templates/development-prerequisites"
            Title="Development prerequisites - Templates"
            Description="development prerequisites of the project templates of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>Development prerequisites</BitTypography>
    <br />
    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
        The prerequisites are separated into two development and environment requirements.
    </BitTypography>
    <br />

    <section class="section-card">
        <BitTypography Variant="BitTypographyVariant.H5" Gutter>Recommended environment</BitTypography>
        <br />
        <BitTypography Variant="BitTypographyVariant.H6" Gutter>All</BitTypography>
        <div class="section-card-txt">
            <ul>
                <li>.NET Sdk <a href="https://dotnet.microsoft.com/en-us/download/dotnet/7.0" target="_blank">7.0.400</a></li>
                <li><a href="https://nodejs.org/en/download/" title="Node.js" rel="nofollow">Node.js</a></li>
                <li>
                    Run the following commands:
                    <br />
                    <br />
                    <div class="code-box">
                        dotnet workload install maui maui-android maui-ios maui-maccatalyst --sdk-version=7.0.400
                        <br />
                        dotnet workload install wasm-tools wasm-experimental --sdk-version=7.0.400
                    </div>
                </li>
            </ul>
        </div>
        <BitTypography Variant="BitTypographyVariant.H6" Gutter>Visual Studio</BitTypography>
        <div class="section-card-txt">
            <ul>
                <li>
                    Microsoft Visual Studio 2022 - Version 17.7.0 or higher with the following workloads and extension
                    <ul dir="auto">
                        <li>ASP.NET and web development</li>
                        <li>.NET Multi-Platform App UI development</li>
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=Failwyn.WebCompiler64" title="Web Compiler 2022+" rel="nofollow">Web Compiler 2022+</a> extension</li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />
        <BitTypography Variant="BitTypographyVariant.H6" Gutter>VS Code</BitTypography>
        <div class="section-card-txt">
            <ul>
                <li>
                    <a href="https://code.visualstudio.com" title="VS Code" rel="nofollow">Visual Studio Code</a> with following extensions
                    <ul dir="auto">
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csdevkit" title="C# Dev Kit" rel="nofollow">C# Dev Kit</a></li>
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.dotnet-maui" title=".NET MAUI" rel="nofollow">.NET MAUI</a></li>
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=glenn2223.live-sass" title="Live Sass Compiler" rel="nofollow">Live Sass Compiler</a></li>
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=kevin-chatham.aspnetcorerazor-html-css-class-completion" title="Razor/Blazor CSS IntelliSense" rel="nofollow">Razor/Blazor CSS IntelliSense</a></li>
                        <li><a href="https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.blazorwasm-companion" title="Microsoft.AspNetCore.Razor.VSCode.BlazorWasmDebuggingExtension" rel="nofollow">Microsoft.AspNetCore.Razor.VSCode.BlazorWasmDebuggingExtension</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>

<NavigationButtons Prev="Overview" PrevUrl="/templates/overview" Next="Create project" NextUrl="/templates/create-project" />