@page "/components/splitbutton"
@page "/components/split-button"

<PageOutlet Url="components/splitbutton"
            Title="SplitButton"
            Description="SplitButton component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="SplitButton"
                   ComponentDescription="SplitButton is a special MenuButton that splits the main action and sub actions with a special mechanism."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums"
                   Notes="The BitSplitButton is a Multi-API component which can accept the list of Items in 3 different ways: BitSplitButtonItem class, a custom Generic class, and BitSplitButtonOption component.">
        <BitPivot ClassStyles="@(new() { Header = new() { Class = "pivot-sticky-header" } })">
            <BitPivotItem HeaderText="Item">
                <_BitSplitButtonItemDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <_BitSplitButtonCustomDemo />
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <_BitSplitButtonOptionDemo />
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>
