@page "/components/header"

<PageOutlet Url="components/header"
            Title="Header"
            Description="header component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Header"
               ComponentDescription="The BitHeader component is used to display a title (and possibly other components) in a colored bar at the top of a site or application. For the background color it uses the current primary background color."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>
                <BitHeader>I'm a Header</BitHeader>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>