$B1Color: #000B1A;
$B2Color: #001533;
$B3Color: #002A66;
$B4Color: #004099;
$B5Color: #0055CC;
$B6Color: #0064EF;
$B7Color: #3388FF;
$B8Color: #66A6FF;
$B9Color: #99C3FF;
$B10Color: #CCE1FF;
$B11Color: #E5F0FF;

$Gray1: #515151;
$Gray2: #8A8886;
$Gray3: #DDDDDD;
$Gray4: #E9E9E9;
$Gray5: #F8F8F8;

$Black1: #363636;
$White: #FFFFFF;
$BackgroundColor: #E5E5E5;
$Background1Color: #DEEAFF;
$Background2Color: #DEE9FF;

$TwitterColor: #1DA1F2;
$FacebookColor: #4267B2;
$GithubColor: #171515;
$LinkedinColor: #0A66C2;


