@import '../../../../Styles/abstracts/_colors.scss';
@import '../../../../Styles/abstracts/_functions.scss';

.example-content {
    width: 17rem;
    display: flex;
    overflow-x: auto;
    flex-flow: column wrap;
}

.example-content-standalone {
    padding: rem2(5px);
}

.validation-summary {
    overflow: hidden;
    margin-bottom: rem2(10px);
    background-color: $ErrorBlockRed;
    border-left: rem2(5px) solid $Red10;
}

::deep {
    .validation-message {
        color: $Red20;
        font-size: rem2(12px);
    }

    .validation-errors {
        margin: rem2(5px);
    }

    .custom-class {
        margin: 1rem;
        box-shadow: aqua 0 0 1rem;
    }

    .custom-root {
        margin: 1rem;
        border-radius: 0.5rem;
    }

    .custom-toolbar {
        background-color: #ff6a00;
    }

    .custom-clock-face {
        background-color: #ff6a00;
    }

    .custom-clock-number {
        color: #621402;
        font-weight: bold;
    }

    .custom-clock-pin,
    .custom-clock-pointer,
    .custom-clock-pointer-thumb,
    .custom-clock-selected-number {
        background-color: #fff;
    }

    .custom-clock-pointer-thumb-minute {
        border-color: #fff;
    }
}
