@page "/components/markdowneditor"

<PageOutlet Url="components/markdowneditor"
            Title="MarkdownEditor"
            Description="markdowneditor component of the bit BlazorUI components" />

<DemoPage Name="MarkdownEditor"
          Notes="To use this component, you need to install the `Bit.BlazorUI.Extras` nuget package, as described in the Optional steps of the Getting started page."
          Description="BitMarkdownEditor is a SEO friendly Blazor wrapper around the famous markedjs library."
          SecondaryNames="@(["MdViewer", "MD"])"
          Parameters="componentParameters">
    <DemoSection Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <BitButton OnClick="GetValue">Get Value</BitButton>
        <div style="margin-top:1rem;display:flex;flex-direction:row;gap:1rem;height:300px">
            <BitMarkdownEditor @ref="editorRef" />
            <pre style="width:100%">
                @value
            </pre>
        </div>
    </DemoSection>
</DemoPage>
