@namespace AdminPanel.Client.Shared

<style>
    .lds-grid div {
        background-color: @Color;
    }
</style>

@if (_showLoading)
{
    <div class="lds-wrapper">
        <div class="lds-grid">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
}
