@namespace AdminPanel.Client.Shared
@inherits AppComponentBase

@if (IsMenuOpen)
{
    <div class="menu-shadow" @onclick=CloseNavMenu></div>
}

<section class="nav-menu @(IsMenuOpen ? null : "nav-menu--closed")">
    <div class="menu-content">
        <div class="menu-top-row"></div>
        <BitNav Class="nav-menu"
                NavLinkItems="_navLinks"
                AriaLabel="NavMenu"
                SelectedKey="Home"
                OnLinkClick=HandleLinkClick>
        </BitNav>
    </div>
    <a class="menu-banner" href="https://todo.bitplatform.dev" target="_blank"></a>
</section>