@namespace AdminPanel.Client.Shared
@inherits AppComponentBase

<AuthorizeView>
    <div class="main">
        <div><img src="_content/AdminPanel.Client.Shared/images/icons/error-triangle.svg" /></div>
        <h2 class="title">@Localizer[nameof(AppStrings.ForbiddenException)]</h2>
        <h4 class="description">@Localizer[nameof(AppStrings.YouAreSignInAs)] @_user.GetUserName()</h4>
        <div class="buttons">
            <BitButton OnClick="WrapHandled(SignIn)">@Localizer[nameof(AppStrings.SignInAsDifferentUser)]</BitButton>
        </div>
    </div>
</AuthorizeView>
