@namespace AdminPanel.Client.Shared
@inherits AppComponentBase

<div class="main">
    <h1 class="title">404</h1>
    <div class="description">@Localizer[nameof(AppStrings.ResourceNotFoundException)]</div>
</div>