@import "../../../Styles/functions.scss";

.bit-nbr {
    font-weight: $tg-font-weight;
    font-family: $tg-font-family;

    &.bit-dis {
        cursor: none;
        pointer-events: none;

        .bit-nbr-itm {
            color: var(--bit-nbr-clr-dis);
        }
    }
}

.bit-nbr-ftw {
    width: fit-content;
}

.bit-nbr-flw {
    width: 100%;
}

.bit-nbr-cnt {
    display: flex;
    justify-content: space-around;
}

.bit-nbr-itm {
    display: flex;
    cursor: pointer;
    gap: spacing(0.5);
    color: $clr-fg-pri;
    padding: spacing(1);
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    background: transparent;

    @media (hover:hover) {
        &:hover {
            color: var(--bit-nbr-clr);
        }
    }
}

.bit-nbr-ico {
    font-size: 1rem;
}

.bit-nbr-txt {
    font-size: 0.85rem;
}

.bit-nbr-ion {
    .bit-nbr-txt {
        display: none;
    }
}

.bit-nbr-sel {
    color: var(--bit-nbr-clr);
}

.bit-nbr-dis {
    color: var(--bit-nbr-clr-dis);
    pointer-events: none;
}


.bit-nbr-pri {
    --bit-nbr-clr: #{$clr-pri};
    --bit-nbr-clr-dis: #{$clr-pri-dis-text};
}

.bit-nbr-sec {
    --bit-nbr-clr: #{$clr-sec};
    --bit-nbr-clr-dis: #{$clr-sec-dis-text};
}

.bit-nbr-ter {
    --bit-nbr-clr: #{$clr-ter};
    --bit-nbr-clr-dis: #{$clr-ter-dis-text};
}

.bit-nbr-inf {
    --bit-nbr-clr: #{$clr-inf};
    --bit-nbr-clr-dis: #{$clr-inf-dis-text};
}

.bit-nbr-suc {
    --bit-nbr-clr: #{$clr-suc};
    --bit-nbr-clr-dis: #{$clr-suc-dis-text};
}

.bit-nbr-wrn {
    --bit-nbr-clr: #{$clr-wrn};
    --bit-nbr-clr-dis: #{$clr-wrn-dis-text};
}

.bit-nbr-swr {
    --bit-nbr-clr: #{$clr-swr};
    --bit-nbr-clr-dis: #{$clr-swr-dis-text};
}

.bit-nbr-err {
    --bit-nbr-clr: #{$clr-err};
    --bit-nbr-clr-dis: #{$clr-err-dis-text};
}

.bit-nbr-pbg {
    --bit-nbr-clr: #{$clr-bg-pri};
    --bit-nbr-clr-dis: #{$clr-bg-pri-dis-text};
}

.bit-nbr-sbg {
    --bit-nbr-clr: #{$clr-bg-sec};
    --bit-nbr-clr-dis: #{$clr-bg-sec-dis-text};
}

.bit-nbr-tbg {
    --bit-nbr-clr: #{$clr-bg-ter};
    --bit-nbr-clr-dis: #{$clr-bg-ter-dis-text};
}

.bit-nbr-pfg {
    --bit-nbr-clr: #{$clr-fg-pri};
    --bit-nbr-clr-dis: #{$clr-fg-pri-dis-text};
}

.bit-nbr-sfg {
    --bit-nbr-clr: #{$clr-fg-sec};
    --bit-nbr-clr-dis: #{$clr-fg-sec-dis-text};
}

.bit-nbr-tfg {
    --bit-nbr-clr: #{$clr-fg-ter};
    --bit-nbr-clr-dis: #{$clr-fg-ter-dis-text};
}

.bit-nbr-pbr {
    --bit-nbr-clr: #{$clr-brd-pri};
    --bit-nbr-clr-dis: #{$clr-brd-pri-dis-text};
}

.bit-nbr-sbr {
    --bit-nbr-clr: #{$clr-brd-sec};
    --bit-nbr-clr-dis: #{$clr-brd-sec-dis-text};
}

.bit-nbr-tbr {
    --bit-nbr-clr: #{$clr-brd-ter};
    --bit-nbr-clr-dis: #{$clr-brd-ter-dis-text};
}
