@import "../../../Styles/functions.scss";

.bit-nbr {
    color: $clr-fg-pri;
    font-family: $tg-font-family;

    &.bit-dis {
        cursor: none;
        pointer-events: none;
        background-color: transparent;

        .bit-nbr-itm,
        .bit-nbr-iic {
            color: $clr-fg-dis;
        }
    }
}

.bit-nbr-ftw {
    width: fit-content;
}

.bit-nbr-flw {
    width: 100%;
}

.bit-nbr-ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.bit-nbr-li {
    display: flex;
    gap: spacing(0.5);
    padding: spacing(1);
    align-items: center;
    flex-direction: column;
}

.bit-nbr-ico {
}

.bit-nbr-txt {
}

.bit-nbr-ion {
    .bit-nbr-txt {
        display: none;
    }
}

.bit-nbr-sel {
    color: var(--bit-nbr-clr);

    @media (hover:hover) {
        &:hover {
            .bit-nbr-li {
                color: var(--bit-nbr-clr-text);
            }
        }
    }

    .bit-nbr-li {
        font-weight: 600;
        color: $clr-fg-pri;
    }
}

.bit-nbr-dis {
    pointer-events: none;

    .bit-nbr-itm,
    .bit-nbr-iic {
        color: $clr-fg-dis;
        pointer-events: none;
    }
}


.bit-nbr-apri {
    --bit-nbr-clr-text: #{$clr-pri-text};
    --bit-nbr-clr-hover: #{$clr-pri-hover};
    --bit-nbr-clr-active: #{$clr-pri-active};
}

.bit-nbr-asec {
    --bit-nbr-clr-text: #{$clr-sec-text};
    --bit-nbr-clr-hover: #{$clr-sec-hover};
    --bit-nbr-clr-active: #{$clr-sec-active};
}

.bit-nbr-ater {
    --bit-nbr-clr-text: #{$clr-ter-text};
    --bit-nbr-clr-hover: #{$clr-ter-hover};
    --bit-nbr-clr-active: #{$clr-ter-active};
}

.bit-nbr-ainf {
    --bit-nbr-clr-text: #{$clr-inf-text};
    --bit-nbr-clr-hover: #{$clr-inf-hover};
    --bit-nbr-clr-active: #{$clr-inf-active};
}

.bit-nbr-asuc {
    --bit-nbr-clr-text: #{$clr-suc-text};
    --bit-nbr-clr-hover: #{$clr-suc-hover};
    --bit-nbr-clr-active: #{$clr-suc-active};
}

.bit-nbr-awrn {
    --bit-nbr-clr-text: #{$clr-wrn-text};
    --bit-nbr-clr-hover: #{$clr-wrn-hover};
    --bit-nbr-clr-active: #{$clr-wrn-active};
}

.bit-nbr-aswr {
    --bit-nbr-clr-text: #{$clr-swr-text};
    --bit-nbr-clr-hover: #{$clr-swr-hover};
    --bit-nbr-clr-active: #{$clr-swr-active};
}

.bit-nbr-aerr {
    --bit-nbr-clr-text: #{$clr-err-text};
    --bit-nbr-clr-hover: #{$clr-err-hover};
    --bit-nbr-clr-active: #{$clr-err-active};
}

.bit-nbr-apbg {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-bg-pri-hover};
    --bit-nbr-clr-active: #{$clr-bg-pri-active};
}

.bit-nbr-asbg {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-bg-sec-hover};
    --bit-nbr-clr-active: #{$clr-bg-sec-active};
}

.bit-nbr-atbg {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-bg-ter-hover};
    --bit-nbr-clr-active: #{$clr-bg-ter-active};
}

.bit-nbr-apfg {
    --bit-nbr-clr-text: #{$clr-bg-pri};
    --bit-nbr-clr-hover: #{$clr-fg-pri-hover};
    --bit-nbr-clr-active: #{$clr-fg-pri-active};
}

.bit-nbr-asfg {
    --bit-nbr-clr-text: #{$clr-bg-pri};
    --bit-nbr-clr-hover: #{$clr-fg-sec-hover};
    --bit-nbr-clr-active: #{$clr-fg-sec-active};
}

.bit-nbr-atfg {
    --bit-nbr-clr-text: #{$clr-bg-pri};
    --bit-nbr-clr-hover: #{$clr-fg-ter-hover};
    --bit-nbr-clr-active: #{$clr-fg-ter-active};
}

.bit-nbr-apbr {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-brd-pri-hover};
    --bit-nbr-clr-active: #{$clr-brd-pri-active};
}

.bit-nbr-asbr {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-brd-sec-hover};
    --bit-nbr-clr-active: #{$clr-brd-sec-active};
}

.bit-nbr-atbr {
    --bit-nbr-clr-text: #{$clr-fg-pri};
    --bit-nbr-clr-hover: #{$clr-brd-ter-hover};
    --bit-nbr-clr-active: #{$clr-brd-ter-active};
}


.bit-nbr-pri {
    --bit-nbr-clr: #{$clr-pri};
}

.bit-nbr-sec {
    --bit-nbr-clr: #{$clr-sec};
}

.bit-nbr-ter {
    --bit-nbr-clr: #{$clr-ter};
}

.bit-nbr-inf {
    --bit-nbr-clr: #{$clr-inf};
}

.bit-nbr-suc {
    --bit-nbr-clr: #{$clr-suc};
}

.bit-nbr-wrn {
    --bit-nbr-clr: #{$clr-wrn};
}

.bit-nbr-swr {
    --bit-nbr-clr: #{$clr-swr};
}

.bit-nbr-err {
    --bit-nbr-clr: #{$clr-err};
}

.bit-nbr-pbg {
    --bit-nbr-clr: #{$clr-bg-pri};
}

.bit-nbr-sbg {
    --bit-nbr-clr: #{$clr-bg-sec};
}

.bit-nbr-tbg {
    --bit-nbr-clr: #{$clr-bg-ter};
}

.bit-nbr-pfg {
    --bit-nbr-clr: #{$clr-fg-pri};
}

.bit-nbr-sfg {
    --bit-nbr-clr: #{$clr-fg-sec};
}

.bit-nbr-tfg {
    --bit-nbr-clr: #{$clr-fg-ter};
}

.bit-nbr-pbr {
    --bit-nbr-clr: #{$clr-brd-pri};
}

.bit-nbr-sbr {
    --bit-nbr-clr: #{$clr-brd-sec};
}

.bit-nbr-tbr {
    --bit-nbr-clr: #{$clr-brd-ter};
}
