<BitCarousel HideDots="HideDots" HideNextPrev="HideNextPrev">
    <BitCarouselItem><div class='item'>1</div></BitCarouselItem>
    <BitCarouselItem><div class='item'>2</div></BitCarouselItem>
    <BitCarouselItem><div class='item'>3</div></BitCarouselItem>
</BitCarousel>

@code {
    [Parameter] public bool HideDots { get; set; }
    [Parameter] public bool HideNextPrev { get; set; }
}
