@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';

.page-header {
    display: flex;
    align-items: center;
    margin-bottom: rem(37px);

    @include sm {
        margin-bottom: rem(29px);
    }
}

.loading-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

::deep .back-btn {
    color: #212121;
}

.page-title {
    margin: 0;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(32px);
    color: $Gray190;

    @include md {
        font-weight: 600;
        font-size: rem(20px);
        line-height: rem(28px);
    }

    @include sm {
        font-weight: 600;
        font-size: rem(18px);
        line-height: rem(24px);
    }
}

.form-input-container {
    width: 100%;
    max-width: rem(388px);
    margin-bottom: rem(30px);
}

::deep .validation-message {
    color: $StatusErrorColor;
}

.form-message-bar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: rem(4px) rem(4px) 0 0;
}

.form-profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: rem(33px);
}

.form-profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    margin-right: rem(20px);
    color: $Gray6;
    background-color: $S2Color;

    @include sm {
        margin-right: rem(12px);
    }
}

.profile-img {
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
}

.form-profile-email {
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(16px);
    color: $Gray110;

    @include lt-xl {
        font-size: rem(12px);
        line-height: rem(20px);
    }

    @include sm {
        font-size: rem(10px);
        line-height: rem(16px);
    }
}

.form-input-error {
    font-size: rem(12px);
    line-height: rem(16px);
    color: $Red;
}

.form-choice-container {
    width: 100%;
    max-width: rem(340px);
    margin-bottom: rem(19px);

    @include md {
        margin-bottom: rem(25px);
    }

    @include sm {
        max-width: 100%;
    }
}

::deep .edit-profile-dtp {
    .bit-dtp-wrapper {
        z-index: 5;
    }

    .bit-dtp-overlay {
        z-index: 4;
    }

    .bit-dtp-callout {
        z-index: 6;
    }
}