@page "/"
@attribute [Authorize]

@inherits AppComponentBase;

<div class="page-container">
    <OverallStatsWidget />

    <div class="page-row">
        <ProductsCountPerCategotyWidget />
        <ProductsPercentageWidget />
    </div>

    <div class="page-row">
        <ProductsSalesWidget />
    </div>
</div>