@namespace BlazorWeb.Web.Core

<BitModal @bind-IsOpen="_isOpen">
    <div class="main">
        <div class="header">
            <span class="title">@_title</span>
            <BitIconButton IconName="BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <div class="body">
            @_body
        </div>
        <div class="footer">
            <BitButton OnClick="OnOkClick">OK</BitButton>
        </div>
    </div>
</BitModal>
