@import "../../Styles/functions.scss";

.bit-dtrp {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    font-size: spacing(2.25);
    font-family: $typography-font-family;

    &.bit-dis {
        .bit-dtrp-lbl {
            color: $color-text-disabled;
        }

        .bit-dtrp-fld-grp {
            cursor: default;
            pointer-events: none;
            color: $color-text-disabled;
            background: none $color-background-disabled;
            border: $shape-border-width $shape-border-style $color-border-disabled;

            .bit-icon {
                cursor: default;
                color: $color-text-disabled;
            }

            input {
                cursor: default;
                color: $color-text-disabled;
                background: none $color-background-disabled;
            }
        }
    }

    &.bit-inv {
        .bit-dtrp-fld-grp {
            border-color: $color-state-invalid;
        }
    }
}

.bit-dtrp-lbl {
    margin: 0;
    display: block;
    box-shadow: none;
    font-weight: 600;
    box-sizing: border-box;
    font-size: spacing(1.75);
    padding: spacing(0.625) 0;
    overflow-wrap: break-word;
    color: $color-text-primary2;
}

.bit-dtrp-wrp {
    position: relative;
}

.bit-dtrp-fld-grp {
    margin: 0;
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    box-shadow: none;
    height: spacing(4);
    position: relative;
    align-items: center;
    padding: 0 spacing(1);
    flex-flow: row nowrap;
    box-sizing: border-box;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
    border: $shape-border-width $shape-border-style $color-border-primary2;

    input {
        margin: 0;
        outline: 0;
        padding: 0;
        width: 100%;
        min-width: 0;
        height: 100%;
        border: none;
        cursor: pointer;
        box-shadow: none;
        font-weight: 400;
        border-radius: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        font-size: spacing(1.75);
        background: none transparent;
        color: $color-text-primary2;
        font-family: $typography-font-family;
    }

    .bit-icon {
        cursor: pointer;
        padding-right: 0;
        padding-left: spacing(1);
        color: $color-text-primary3;
    }
}

.bit-dtrp-edt-inp {
    input {
        cursor: default;
    }
}

.bit-dtrp-lfic {
    .bit-dtrp-fld-grp {
        flex-direction: row-reverse;

        .bit-icon {
            padding-left: 0;
            padding-right: spacing(1);
        }
    }
}

.bit-dtrp-foc {
    .bit-dtrp-fld-grp::after {
        content: "";
        position: absolute;
        pointer-events: none;
        inset: spacing(-0.125);
        border-radius: $shape-border-radius;
        border: spacing(0.25) $shape-border-style $color-primary-main;
    }
}

.bit-dtrp-cal {
    display: none;
    position: fixed;
    font-weight: 400;
    top: spacing(4.25);
    outline: transparent;
    box-sizing: border-box;
    font-size: spacing(1.75);
    box-shadow: $shadow-callout;
    z-index: $space-overlay-zindex1;
    border-radius: $shape-border-radius;
    font-family: $typography-font-family;
}

.bit-dtrp-rsp {
    @media only screen and (max-width: 600px) {
        .bit-dtrp-dwp {
            flex-grow: 1;

            th, td {
                margin: auto;
                width: calc(100%/7);
                font-size: spacing(2);

                .bit-dtrp-dbtn {
                    width: 100%;
                    font-size: spacing(2);

                    span {
                        width: 100%;
                        height: spacing(6);
                    }
                }

                &.bit-dtrp-dc-tdy {
                    border-radius: unset;

                    &::after {
                        border-radius: unset;
                    }
                }
            }
        }
    }
}

.bit-dtrp-mcal {
    outline: none;
    position: relative;
    overflow: hidden auto;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
}

.bit-dtrp-grp {
    margin: 0;
    padding: 0;
    display: flex;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    animation-duration: 167ms;
    animation-fill-mode: both;
    animation-name: bit-fade-in, bit-slide-down;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}

.bit-dtrp-sd {
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: spacing(0.125);
}

.bit-dtrp-dwp {
    margin: 0;
    display: flex;
    box-shadow: none;
    padding: spacing(1.5);
    box-sizing: content-box;
    flex-flow: column nowrap;
    min-width: spacing(24.5);

    table {
        position: relative;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        font-size: inherit;
        margin-top: spacing(0.5);
        margin-bottom: spacing(1.25);
    }

    tr {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
}

.bit-dtrp-wd-lbl {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    text-align: center;
    width: spacing(3.5);
    height: spacing(3.5);
    font-size: spacing(1.5);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    color: $color-text-primary2;
    animation-name: bit-fade-in;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtrp-dc {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    text-align: center;
    font-size: spacing(1.5);
    line-height: spacing(3.5);
    color: $color-text-primary;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }
}

.bit-dtrp-dbtn {
    padding: 0;
    z-index: 1;
    border: none;
    display: flex;
    color: inherit;
    cursor: pointer;
    overflow: visible;
    position: relative;
    outline: transparent;
    font-weight: inherit;
    box-sizing: border-box;
    line-height: spacing(3);
    font-size: spacing(1.5);
    background-color: transparent;
    border-radius: $shape-border-radius;

    &:disabled {
        pointer-events: none;
        color: $color-text-disabled;
        background-color: transparent;
    }

    span {
        width: spacing(3.5);
        align-items: center;
        display: inline-flex;
        height: spacing(3.5);
        justify-content: center;
    }
}

.bit-dtrp-dc-ots-m {
    .bit-dtrp-dbtn {
        font-weight: 400;
        color: $color-text-primary3;
    }
}

.bit-dtrp-dc-tdy {
    font-weight: 600;
    border-radius: 50%;
    background-color: $color-background-primary2;

    &::after {
        inset: 0;
        content: "";
        position: absolute;
        border-radius: 50%;
        border: $shape-border-width $shape-border-style $color-border-primary2;
    }
}

.bit-dtrp-dc-sel-st {
    color: $color-secondary-main;
    background-color: $color-primary-main;
    border-radius: spacing(1) 0 0 spacing(1);

    @media (hover: hover) {
        &:hover {
            color: $color-action-hover-secondary;
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-dc-sel-en {
    color: $color-secondary-main;
    background-color: $color-primary-main;
    border-radius: 0 spacing(1) spacing(1) 0;

    @media (hover: hover) {
        &:hover {
            color: $color-action-hover-secondary;
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-dc-sel-st-en {
    border-radius: spacing(1);
}

.bit-dtrp-dc-btw-sel {
    border-radius: 0;
    background-color: $color-primary-higher;

    @media (hover: hover) {
        &:hover {
            background-color: $color-primary-high;
        }
    }
}

.bit-dtrp-wnumc {
    margin: 0;
    display: flex;
    font-weight: 400;
    align-items: center;
    width: spacing(3.5);
    height: spacing(3.5);
    box-sizing: border-box;
    font-size: spacing(1.5);
    justify-content: center;
    padding: spacing(0.375) 0 0 0;
    color: $color-text-primary2;
    background-color: $color-background-primary2;
    border-right: $shape-border-width $shape-border-style $color-border-secondary2;
}

.bit-dtrp-pkr-hdr {
    width: 100%;
    position: relative;
    display: inline-flex;
    height: spacing(3.5);
    line-height: spacing(5.5);

    button.bit-dtrp-pkr-tit {
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                background-color: $color-action-hover-background-primary2;
            }
        }
    }
}

.bit-dtrp-pkr-tit {
    margin: 0;
    border: none;
    cursor: text;
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    font-weight: 600;
    position: relative;
    align-items: center;
    white-space: nowrap;
    outline: transparent;
    display: inline-block;
    text-overflow: ellipsis;
    font-size: spacing(1.75);
    line-height: spacing(3.5);
    animation-fill-mode: both;
    animation-duration: 0.267s;
    color: $color-text-primary2;
    animation-name: bit-fade-show;
    background-color: transparent;
    border-radius: $shape-border-radius;
    padding: 0 spacing(0.5) 0 spacing(1.25);
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
}

.bit-dtrp-nav-btn-ctn {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.bit-dtrp-nav-btn {
    padding: 0;
    border: none;
    display: block;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.5);
    height: spacing(3.5);
    outline: transparent;
    font-size: spacing(1.5);
    min-width: spacing(3.5);
    min-height: spacing(3.5);
    line-height: spacing(3.5);
    color: $color-text-primary2;
    background-color: transparent;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    i {
        speak: none;
        display: inline-block;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;

        i {
            color: $color-text-disabled;
        }
    }
}

.bit-dtrp-hdr-ibtn {
    padding: 0;
    border: none;
    display: block;
    cursor: pointer;
    overflow: visible;
    position: relative;
    text-align: center;
    width: spacing(3.5);
    height: spacing(3.5);
    outline: transparent;
    min-width: spacing(3.5);
    font-size: spacing(1.5);
    min-height: spacing(3.5);
    line-height: spacing(3.5);
    color: $color-text-primary2;
    background-color: transparent;
    border-radius: $shape-border-radius;

    @media (hover: hover) {
        &:hover {
            background-color: $color-action-hover-background-primary;
        }
    }

    span {
        i {
            font-size: spacing(1.5);
        }
    }
}

.bit-dtrp-div {
    top: 0;
    border-right: $shape-border-width $shape-border-style $color-border-secondary2;
}

.bit-dtrp-mwp {
    margin: 0;
    display: flex;
    overflow: hidden;
    box-shadow: none;
    width: spacing(26);
    padding: spacing(1.5);
    box-sizing: content-box;
    flex-flow: column nowrap;
}

.bit-dtrp-gctn {
    margin-top: spacing(0.5);
    margin-bottom: spacing(1.5);
}

.bit-dtrp-btn-row {
    display: flex;
    margin-bottom: spacing(2);
    justify-content: space-evenly;

    button {
        border: none;
        cursor: pointer;
        overflow: hidden;
        width: spacing(7);
        position: relative;
        white-space: nowrap;
        outline: transparent;
        max-width: spacing(7);
        font-size: spacing(1.5);
        line-height: spacing(5);
        text-overflow: ellipsis;
        padding: 0 spacing(1.25);
        color: $color-text-primary2;
        background-color: transparent;
        border-radius: $shape-border-radius;

        @media (hover: hover) {
            &:hover {
                background-color: $color-action-hover-background-primary;
            }
        }

        &:disabled {
            pointer-events: none;
            color: $color-text-disabled;
            background-color: transparent;
        }
    }

    &:last-child {
        margin: 0;
    }
}

.bit-dtrp-crtm {
    color: $color-secondary-main;
    background-color: $color-primary-main;

    @media (hover: hover) {
        &:hover {
            color: $color-action-hover-secondary;
            background-color: $color-action-hover-primary;
        }
    }
}

.bit-dtrp-selm {
    font-weight: 600;
    color: $color-secondary-higher;
    background-color: $color-primary-higher;

    @media (hover: hover) {
        &:hover {
            color: $color-secondary-high;
            background-color: $color-primary-high;
        }
    }
}

.bit-dtrp-tgrp {
    display: flex;
    gap: spacing(2);
    align-items: center;
    justify-content: center;
    padding-bottom: spacing(0.5);
}

.bit-dtrp-twp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $shape-border-radius;
    background-color: $color-background-primary;
    border: $shape-border-width $shape-border-style $color-border-primary2;

    &:focus {
        outline: none;
        border: spacing(0.25) $shape-border-style $color-primary-main;
    }
}

.bit-dtrp-tdiv {
    display: block;
}

.bit-dtrp-tinp {
    border: none;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: spacing(3.75);
    height: spacing(3.75);
    box-sizing: border-box;
    justify-content: center;
    -moz-appearance: textfield; // Firefox
    background-color: $color-background-primary;

    &::-webkit-inner-spin-button, // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button {
        -webkit-appearance: none
    }

    &:focus {
        border: none;
        outline: none;
    }
}

.bit-dtrp-gtd-btn {
    border: none;
    overflow: visible;
    position: relative;
    outline: transparent;
    align-self: flex-end;
    bottom: spacing(-1.5);
    height: spacing(3.75);
    padding: 0 spacing(0.5);
    font-size: spacing(1.5);
    box-sizing: content-box;
    line-height: spacing(3.75);
    color: $color-text-primary2;
    background-color: transparent;
    margin: spacing(0.375) spacing(0.5) 0 0;

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
            background-color: transparent;
            color: $color-action-hover-primary;
        }
    }

    &:disabled {
        pointer-events: none;
        color: $color-text-disabled;
    }
}

.bit-dtrp-ovl {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: transparent;
    z-index: $space-overlay-zindex0;
}

.bit-dtrp-und {
    .bit-dtrp-wrp {
        width: 100%;
        display: flex;
        border-bottom: $shape-border-width $shape-border-style $color-border-secondary2;
    }

    .bit-dtrp-fld-grp {
        border: none;
        flex: 1 1 0px;
        text-align: left;
    }

    &.bit-dis {
        .bit-dtrp-wrp {
            border-bottom-color: $color-border-disabled;
        }
    }

    &.bit-dtrp-foc {
        .bit-dtrp-fld-grp::after {
            border: none;
            border-radius: 0;
            border-bottom: spacing(0.25) $shape-border-style $color-border-primary;
        }
    }
}

.bit-dtrp-no-brd {
    .bit-dtrp-fld-grp {
        border: none;
    }
}

.bit-dtrp-rtl {
    .bit-dtrp-grp {
        direction: rtl;
    }

    .bit-dtrp-wnumc {
        border-right: none;
        border-left: $shape-border-width $shape-border-style $color-border-secondary2;
    }

    .bit-dtrp-pkr-tit {
        text-align: right;
        padding: 0 spacing(1.25) 0 spacing(0.5);
    }

    .bit-dtrp-dwp {
        .bit-dtrp-dc-sel-st {
            border-radius: 0 spacing(1) spacing(1) 0;
        }

        .bit-dtrp-dc-sel-en {
            border-radius: spacing(1) 0 0 spacing(1);
        }
    }
}
