@page "/components/colorpickers"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="ColorPicker" OverviewDesc="The color picker (ColorPicker) is used to browse through and select colors. By default,
                                           it lets people navigate through colors on a color spectrum; or specify a color in either Red-Green-Blue (RGB); or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitColorPicker" Description="">
        <SampleContent>
            <div>
                <BitColorPicker ShowPreview="IsToggleChecked">Default ColorPicker</BitColorPicker>
                <div class="p-12">
                    <BitToggle Label="Show preview box" @bind-IsChecked="IsToggleChecked" IsEnabled="true" />
                </div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>&lt;<span class="dark-green">BitColorPicker ShowPreview</span><span>="IsToggleChecked"</span>&gt;Default ColorPicker&lt;/<span class="dark-green">BitColorPicker</span>&gt;</p>
                <p>&lt;<span class="dark-green">BitToggle Label</span>="Show preview box" <span class="light-yellow-bg">&#64</span> <span class="dark-green">bind-IsChecked</span>="IsToggleChecked"<span class="dark-green"> IsEnabled</span>="true"/&gt;</p>
                <p><span class="light-yellow-bg">&#64code {</span></p>
                <p class="m-l-70"><span class="light-blue">private bool</span> IsToggleChecked = <span class="light-blue">true</span>;</p>
                <p><span class="light-yellow-bg">}</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>