@attribute [Route(Urls.UsersPage)]
@attribute [Route("{culture?}" + Urls.UsersPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppFeatures.Management.ManageUsers)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Users)]"
             PageTitle="@Localizer[nameof(AppStrings.UsersPageTitle)]" />

<section>
    <BitStack>
        <BitText>Under construction</BitText>
    </BitStack>
</section>