@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';

.page-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 rem(16px);
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.page-section {
    width: 100%;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    padding: rem(144px) 0;
    flex-flow: column nowrap;
    justify-content: flex-start;

    @include lt-xl {
        padding: rem(130px) 0;
    }

    @include sm {
        padding: rem(120px) 0;
    }
}

.hero-section-title {
    font-weight: bold;
    text-align: center;
    font-size: rem(42px);
    line-height: rem(62px);
    margin-bottom: rem(32px);

    @include lg {
        font-size: rem(34px);
        line-height: rem(56px);
        margin-bottom: rem(24px);
    }

    @include md {
        font-size: rem(26px);
        line-height: rem(44px);
        margin-bottom: rem(24px);
    }

    @include sm {
        font-size: rem(24px);
        line-height: rem(40px);
        margin-bottom: rem(16px);
    }
}

.hero-section-desc {
    text-align: center;
    font-size: rem(24px);
    max-width: rem(1232px);
    line-height: rem(40px);
    margin-bottom: rem(40px);

    @include lg {
        font-size: rem(20px);
        max-width: rem(821px);
        line-height: rem(32px);
        margin-bottom: rem(38px);
    }

    @include md {
        font-size: rem(18px);
        max-width: rem(572px);
        line-height: rem(28px);
        margin-bottom: rem(32px);
    }

    @include sm {
        max-width: 100%;
        font-size: rem(14px);
        line-height: rem(24px);
        margin-bottom: rem(32px);
    }
}
