@page "/social-signed-in"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SocialSignedInTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <h1 class="section-title">@Localizer[nameof(AppStrings.SocialSignedInMessageTitle)]</h1>

        <div class="section-desc">@Localizer[nameof(AppStrings.SocialSignedInMessageBody)]</div>
    </section>
</div>
