@attribute [Route(Urls.DiagnosticPage)]
@inherits AppPageBase

<PageTitle>Diagnostic</PageTitle>

<section>
    <BitStack FillContent>
        <BitStack Horizontal FitHeight>
            <BitSearchBox Immediate DebounceTime="500" OnChange="HandleOnSearchChange" />
            <BitDropdown FitWidth
                         Items="logLevelItems"
                         DefaultValue="LogLevel.Error"
                         OnChange="HandleOnLogLevelFilter"
                         TItem="BitDropdownItem<LogLevel>" TValue="LogLevel" />
        </BitStack>

        <BitStack Class="stack">
            @foreach (var log in filteredLogs)
            {
                <BitStack @key="log.Id" Horizontal>
                    <BitText Style="min-width:20rem">@log.Id</BitText>
                    <BitText Style="white-space:nowrap">@log.Message</BitText>
                </BitStack>
            }
        </BitStack>
    </BitStack>
</section>