@page "/screen"
@inject Bit.Butil.Console console
@inject Bit.Butil.Screen screen

<PageTitle>Screen Samples</PageTitle>

<h1>Screen</h1>

<pre style="font-family:Consolas">
@@inject Bit.Butil.Screen screen

@@code {
    ...
    var screenWidth = await screen.GetWidth();
    ...
}
</pre>

<br />
<hr />

<h3>Open the DevTools console and click on buttons</h3>

<hr />
<br />

<button @onclick=GetScreenDimensions>Screen dimensions</button>
<br />

@code {
    private async Task GetScreenDimensions()
    {
        var width = await screen.GetWidth();
        var height = await screen.GetHeight();
        await console.Log("Screen dimensions =", width, "x", height);
    }

    public void Dispose()
    {
        screen.Dispose();
    }
}