@page "/window"
@implements IDisposable
@inject Bit.Butil.Console console
@inject Bit.Butil.Window window

<PageTitle>Window Samples</PageTitle>

<h1>Window</h1>

<pre style="font-family:Consolas; overflow: auto;">
@@inject Bit.Butil.Window window

@@code {
    ...
    await window.AddEventListener(ButilEvents.KeyDown, args => { ... });
    ...
    await window.Alert("Alert from C#");
    ...
}
</pre>

<br />
<hr />

<h3>Open the DevTools console and start pressing keys or clicking on buttons</h3>

<hr />
<br />

<button @onclick=AddEventListener>AddEventListener</button>
&nbsp;
<button @onclick=RemoveEventListener>RemoveEventListener</button>
<br />
<br />
<div>Is KeyDown Registered? @isKeyDownRegistered</div>

<br />
<hr />
<br />

<button @onclick=AddBeforeUnload>AddBeforeUnload</button>
&nbsp;
<button @onclick=RemoveBeforeUnload>RemoveBeforeUnload</button>
<br />
<br />
<div>Is BeforeUnload Registered? @isBeforeUnloadRegistered</div>

<br />
<hr />
<br />

<button @onclick=GetInnerHeight>GetInnerHeight</button>
&nbsp;
<button @onclick=GetInnerWidth>GetInnerWidth</button>

<br />
<br />
<hr />
<br />

<button @onclick=ShowAlert>ShowAlert</button>
&nbsp;
<button @onclick=ShowConfirm>ShowConfirm</button>
&nbsp;
<button @onclick=ShowPrompt>ShowPrompt</button>

<br />
<br />
<hr />
<br />

<button @onclick=OpenWindow>OpenWindow</button>
&nbsp;
<button @onclick=OpenPrint>OpenPrint</button>
&nbsp;
<button @onclick=Find>Find 'window' word</button>

<br />
<br />

@code {
    private bool isKeyDownRegistered;
    private bool isBeforeUnloadRegistered;

    private Action<ButilKeyboardEventArgs> _handler = default!;

    protected override void OnInitialized()
    {
        _handler = (ButilKeyboardEventArgs arg) => _ = console.Log("KeyDown from C#:", arg.Code);

        base.OnInitialized();
    }

    private void AddEventListener()
    {
        _ = window.AddEventListener(ButilEvents.KeyDown, _handler);
        isKeyDownRegistered = true;
    }

    private void RemoveEventListener()
    {
        _ = window.RemoveEventListener(ButilEvents.KeyDown, _handler);
        isKeyDownRegistered = false;
    }

    private void AddBeforeUnload()
    {
        _ = window.AddBeforeUnload();
        isBeforeUnloadRegistered = true;
    }

    private void RemoveBeforeUnload()
    {
        _ = window.RemoveBeforeUnload();
        isBeforeUnloadRegistered = false;
    }

    private async Task GetInnerHeight()
    {
        await console.Log("Window InnerHeight =", await window.GetInnerHeight());
    }

    private async Task GetInnerWidth()
    {
        await console.Log("Window InnerWidth =", await window.GetInnerWidth());
    }

    private async Task ShowAlert()
    {
        await window.Alert("Alert from C#");
    }

    private async Task ShowConfirm()
    {
        await window.Confirm("Confirm from C#");
    }

    private async Task ShowPrompt()
    {
        await window.Prompt("Prompt from C#", string.Empty);
    }

    private async Task OpenWindow()
    {
        var windowFeatures = new WindowFeatures() { Popup = true, Width = 848, Height = 568 };
        await window.Open("/document", "popupWindow", windowFeatures);
    }

    private async Task OpenPrint()
    {
        await window.Print();
    }

    private async Task Find()
    {
        await window.Find("window");
    }

    public void Dispose()
    {
        if (isKeyDownRegistered)
        {
            _ = window.RemoveEventListener(ButilEvents.KeyDown, _handler);
        }
    }
}