.buttons-container {
    gap: 0.5rem;
    display: flex;
    flex-flow: row wrap;
}

.buttons-container-grid {
    gap: 0.5rem;
    display: grid;
}

.form-container {
    max-width: 25rem;
}

::deep {
    .custom-class {
        color: aqua;
        border-radius: 1rem;
    }
}
