@import '../abstracts/_colors.scss';
@import '../abstracts/_functions.scss';
@import '../abstracts/_media-queries.scss';

.header-item {
    margin-left: rem(12px);
}

.header-menu {
    display: none;
    margin-right: rem(12px);

    span {
        i {
            color: $PrimaryColor;
        }
    }

    @include lt-lg {
        display: block;
    }
}