@inherits LayoutComponentBase

<Header OnToggleMenu=ToggleMenuHandler/>

@if (IsUserAuthenticated)
{
    <NavMenu @bind-IsMenuOpen=IsMenuOpen/>
}

<div class="main @(IsUserAuthenticated ? "main--authenticated" : null)">
    @Body
</div>

<Footer />