@inherits ErrorBoundaryBase

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is null)
{
    <div style="display:flex; flex-direction: column; width: 100%; max-width:800px">
        <h1 style="color:red; text-align: center;">oops, something went wrong...</h1>
        @if (ShowException)
        {
            <div style="color:white; white-space: pre; overflow: auto;">@CurrentException?.ToString()</div>
        }
        <div style="text-align: center;">
            <BitButton OnClick="Recover">Recover</BitButton>
            <BitButton OnClick="GoHome">Home</BitButton>
            <BitButton OnClick="Refresh">Refresh</BitButton>
        </div>
    </div>
}
else
{
    @ErrorContent(CurrentException)
}